GO:0003674	1.000000	0.000000	0.000000	molecular_function
GO:0005488	0.690929	0.369719	0.369719	binding
GO:0005515	0.566974	0.567441	0.197722	protein binding
GO:0003824	0.423438	0.859349	0.859349	catalytic activity
GO:0097159	0.210091	1.560213	1.190494	organic cyclic compound binding
GO:1901363	0.206734	1.576321	1.206602	heterocyclic compound binding
GO:0016740	0.174131	1.747948	0.888600	transferase activity
GO:0003676	0.163678	1.809851	0.233285	nucleic acid binding
GO:0016787	0.145902	1.924822	1.065474	hydrolase activity
GO:0140096	0.125683	2.073989	1.214640	catalytic activity, acting on a protein
GO:0003677	0.115994	2.154217	0.344365	DNA binding
GO:0043167	0.107805	2.227431	1.857712	ion binding
GO:0042802	0.096666	2.336495	1.769053	identical protein binding
GO:0019899	0.086798	2.444167	1.876726	enzyme binding
GO:0005215	0.084967	2.465489	2.465489	transporter activity
GO:0043565	0.083619	2.481479	0.327262	sequence-specific DNA binding
GO:0022857	0.079067	2.537458	0.071969	transmembrane transporter activity
GO:0016772	0.075100	2.588937	0.840989	transferase activity, transferring phosphorus-containing groups
GO:0003690	0.073676	2.608083	0.453866	double-stranded DNA binding
GO:0140110	0.072684	2.621637	2.621637	transcription regulator activity
GO:0098772	0.068284	2.684078	2.684078	molecular function regulator
GO:1990837	0.066707	2.707440	0.015135	sequence-specific double-stranded DNA binding
GO:0043168	0.066504	2.710495	0.483063	anion binding
GO:0016491	0.066173	2.715478	1.856130	oxidoreductase activity
GO:0015075	0.061596	2.787165	0.249707	ion transmembrane transporter activity
GO:0005102	0.059993	2.813521	2.246080	signaling receptor binding
GO:0016301	0.058976	2.830623	0.241686	kinase activity
GO:0015318	0.058773	2.834078	0.296621	inorganic molecular entity transmembrane transporter activity
GO:0016788	0.055161	2.897492	0.972670	hydrolase activity, acting on ester bonds
GO:0001067	0.055111	2.898415	1.088564	regulatory region nucleic acid binding
GO:0000976	0.054907	2.902114	0.000000	transcription regulatory region sequence-specific DNA binding
GO:0036094	0.053941	2.919871	2.550152	small molecule binding
GO:0016773	0.053915	2.920343	0.331406	phosphotransferase activity, alcohol group as acceptor
GO:0003700	0.053356	2.930774	0.309138	DNA-binding transcription factor activity
GO:0043169	0.053025	2.936990	0.709559	cation binding
GO:0003723	0.052313	2.950510	1.140659	RNA binding
GO:0060089	0.050228	2.991190	2.991190	molecular transducer activity
GO:0044877	0.050100	2.993725	2.624006	protein-containing complex binding
GO:0038023	0.049312	3.009586	0.018396	signaling receptor activity
GO:0046872	0.048753	3.020997	0.084007	metal ion binding
GO:0008324	0.043183	3.142308	0.355143	cation transmembrane transporter activity
GO:0004672	0.042903	3.148807	0.000000	protein kinase activity
GO:0030234	0.041225	3.188715	0.504637	enzyme regulator activity
GO:0097367	0.040411	3.208654	2.838935	carbohydrate derivative binding
GO:0004888	0.039063	3.242577	0.232991	transmembrane signaling receptor activity
GO:0000166	0.038020	3.269633	0.000000	nucleotide binding
GO:1901265	0.038020	3.269633	1.693066	nucleoside phosphate binding
GO:0022890	0.037919	3.272312	0.083596	inorganic cation transmembrane transporter activity
GO:0016817	0.037385	3.286496	1.361674	hydrolase activity, acting on acid anhydrides
GO:0016818	0.037257	3.289903	0.003407	hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides
GO:0016462	0.037054	3.295379	0.005476	pyrophosphatase activity
GO:0008092	0.035604	3.335286	2.767845	cytoskeletal protein binding
GO:0046983	0.034816	3.357678	2.790237	protein dimerization activity
GO:0017111	0.032807	3.417117	0.121737	nucleoside-triphosphatase activity
GO:0000981	0.032222	3.435107	0.504333	DNA-binding transcription factor activity, RNA polymerase II-specific
GO:0005198	0.031001	3.473728	3.473728	structural molecule activity
GO:0008233	0.030187	3.500330	0.411345	peptidase activity
GO:0019900	0.029781	3.513901	1.069734	kinase binding
GO:0032553	0.029297	3.530259	0.005195	ribonucleotide binding
GO:0000977	0.029196	3.533737	0.631624	RNA polymerase II transcription regulatory region sequence-specific DNA binding
GO:0008134	0.028636	3.553087	2.985646	transcription factor binding
GO:0017076	0.028534	3.556646	0.287013	purine nucleotide binding
GO:0008289	0.028382	3.562008	3.192289	lipid binding
GO:0022803	0.028305	3.564700	1.027242	passive transmembrane transporter activity
GO:0015267	0.028280	3.565599	0.000899	channel activity
GO:0032555	0.027949	3.577358	0.000910	purine ribonucleotide binding
GO:0042578	0.027822	3.581918	0.684426	phosphoric ester hydrolase activity
GO:0070011	0.027288	3.601300	0.100971	peptidase activity, acting on L-amino acid peptides
GO:0046914	0.027263	3.602233	0.581235	transition metal ion binding
GO:0004674	0.027136	3.606908	0.458101	protein serine/threonine kinase activity
GO:0019904	0.026652	3.624875	3.057434	protein domain specific binding
GO:0042803	0.026347	3.636392	0.034159	protein homodimerization activity
GO:0046873	0.026042	3.648042	0.375731	metal ion transmembrane transporter activity
GO:0019901	0.025279	3.677777	0.163876	protein kinase binding
GO:0008509	0.024872	3.694004	0.906839	anion transmembrane transporter activity
GO:0140098	0.024847	3.695027	2.835679	catalytic activity, acting on RNA
GO:0003682	0.024694	3.701188	3.331469	chromatin binding
GO:0000987	0.024364	3.714666	0.812553	cis-regulatory region sequence-specific DNA binding
GO:0005216	0.024287	3.717803	0.009380	ion channel activity
GO:0035639	0.024186	3.722000	0.351086	purine ribonucleoside triphosphate binding
GO:0016757	0.023651	3.744329	1.996381	transferase activity, transferring glycosyl groups
GO:0015077	0.022609	3.789417	0.517105	monovalent inorganic cation transmembrane transporter activity
GO:0016746	0.021515	3.838995	2.091047	transferase activity, transferring acyl groups
GO:0016791	0.021439	3.842547	0.260629	phosphatase activity
GO:0016829	0.021312	3.848496	2.989147	lyase activity
GO:0022804	0.020956	3.865343	1.327886	active transmembrane transporter activity
GO:0000978	0.020829	3.871430	0.013342	RNA polymerase II cis-regulatory region sequence-specific DNA binding
GO:0019787	0.020167	3.903691	1.317121	ubiquitin-like protein transferase activity
GO:0030554	0.019938	3.915105	0.358459	adenyl nucleotide binding
GO:0016887	0.019735	3.925361	0.508245	ATPase activity
GO:0004930	0.019710	3.926651	0.684074	G protein-coupled receptor activity
GO:0032559	0.019532	3.935724	0.000000	adenyl ribonucleotide binding
GO:0016747	0.019303	3.947512	0.108518	transferase activity, transferring acyl groups other than amino-acyl groups
GO:0003729	0.019252	3.950151	0.999641	mRNA binding
GO:0008047	0.019125	3.956778	0.768062	enzyme activator activity
GO:0005261	0.018565	3.986469	0.005464	cation channel activity
GO:0051020	0.018514	3.989213	1.545046	GTPase binding
GO:0004842	0.018387	3.996105	0.092414	ubiquitin-protein transferase activity
GO:0003735	0.018057	4.014249	0.540521	structural constituent of ribosome
GO:0001216	0.017853	4.025581	1.094806	DNA-binding transcription activator activity
GO:0022836	0.017294	4.057421	0.491823	gated channel activity
GO:0001228	0.017065	4.070745	0.002976	DNA-binding transcription activator activity, RNA polymerase II-specific
GO:0003712	0.017039	4.072236	1.450600	transcription coregulator activity
GO:0005524	0.016912	4.079727	0.003003	ATP binding
GO:0140097	0.016861	4.082739	3.223391	catalytic activity, acting on DNA
GO:0005543	0.016810	4.085760	0.198330	phospholipid binding
GO:0016758	0.016759	4.088790	0.344461	transferase activity, transferring hexosyl groups
GO:0008514	0.016505	4.104081	0.410077	organic anion transmembrane transporter activity
GO:0016741	0.016480	4.105623	2.357675	transferase activity, transferring one-carbon groups
GO:0016874	0.016022	4.133794	3.274446	ligase activity
GO:0030545	0.015640	4.157892	1.473814	receptor regulator activity
GO:0022853	0.015335	4.177597	0.084244	active ion transmembrane transporter activity
GO:0008168	0.015157	4.189273	0.083650	methyltransferase activity
GO:0008270	0.014852	4.209613	0.607380	zinc ion binding
GO:0030546	0.014750	4.216486	0.058594	signaling receptor activator activity
GO:0004857	0.014750	4.216486	1.027770	enzyme inhibitor activity
GO:0004518	0.014750	4.216486	1.318993	nuclease activity
GO:0016614	0.014547	4.230375	1.514897	oxidoreductase activity, acting on CH-OH group of donors
GO:0048018	0.014522	4.232125	0.008718	receptor ligand activity
GO:0004175	0.014394	4.240920	0.639620	endopeptidase activity
GO:0060090	0.014013	4.267779	3.898060	molecular adaptor activity
GO:0031267	0.013759	4.286095	0.296882	small GTPase binding
GO:0003779	0.013606	4.297247	0.961961	actin binding
GO:0016853	0.013581	4.299118	3.439770	isomerase activity
GO:0033218	0.013224	4.325685	3.955966	amide binding
GO:0140297	0.013174	4.329539	0.776452	DNA-binding transcription factor binding
GO:0017016	0.013072	4.337291	0.051196	Ras GTPase binding
GO:0016616	0.012818	4.356938	0.126563	oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0015291	0.012665	4.368914	0.503570	secondary active transmembrane transporter activity
GO:0005509	0.012614	4.372938	1.351941	calcium ion binding
GO:0005342	0.012512	4.381035	1.843578	organic acid transmembrane transporter activity
GO:0008757	0.012411	4.389199	0.199925	S-adenosylmethionine-dependent methyltransferase activity
GO:0016798	0.012411	4.389199	2.464376	hydrolase activity, acting on glycosyl bonds
GO:0046943	0.012334	4.395365	0.002060	carboxylic acid transmembrane transporter activity
GO:0015631	0.012207	4.405728	1.070441	tubulin binding
GO:0030674	0.011775	4.441787	0.168548	protein-macromolecule adaptor activity
GO:0060589	0.011571	4.459217	1.270501	nucleoside-triphosphatase regulator activity
GO:0016705	0.011470	4.468047	1.752568	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen
GO:0016810	0.011419	4.472491	2.547669	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds
GO:0004721	0.011088	4.501872	0.004577	phosphoprotein phosphatase activity
GO:0046982	0.011063	4.504168	1.146490	protein heterodimerization activity
GO:0016779	0.011012	4.508776	1.919839	nucleotidyltransferase activity
GO:0008194	0.010910	4.518057	0.773728	UDP-glycosyltransferase activity
GO:0001664	0.010681	4.539259	1.725738	G protein-coupled receptor binding
GO:0003924	0.010656	4.541643	1.124527	GTPase activity
GO:0035091	0.010580	4.548829	0.463069	phosphatidylinositol binding
GO:0042277	0.010402	4.565799	0.240114	peptide binding
GO:0000287	0.010402	4.565799	1.544802	magnesium ion binding
GO:0044389	0.009995	4.605704	2.161537	ubiquitin-like protein ligase binding
GO:0003713	0.009766	4.628871	0.556635	transcription coactivator activity
GO:0061629	0.009715	4.634093	0.304555	RNA polymerase II-specific DNA-binding transcription factor binding
GO:0001217	0.009715	4.634093	1.703319	DNA-binding transcription repressor activity
GO:0004553	0.009664	4.639343	0.250144	hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0031625	0.009537	4.652588	0.046884	ubiquitin protein ligase binding
GO:0030695	0.009511	4.655258	0.196042	GTPase regulator activity
GO:0019001	0.009461	4.660620	1.103974	guanyl nucleotide binding
GO:0061659	0.009435	4.663312	0.759621	ubiquitin-like protein ligase activity
GO:0032561	0.009308	4.676881	0.002729	guanyl ribonucleotide binding
GO:0019207	0.009308	4.676881	1.488165	kinase regulator activity
GO:0050839	0.009308	4.676881	4.109440	cell adhesion molecule binding
GO:0008017	0.009206	4.687870	0.282142	microtubule binding
GO:0022834	0.009130	4.696192	0.638770	ligand-gated channel activity
GO:0052689	0.009105	4.698981	1.801489	carboxylic ester hydrolase activity
GO:0005126	0.009105	4.698981	1.885460	cytokine receptor binding
GO:0015276	0.009003	4.710217	0.000000	ligand-gated ion channel activity
GO:0061630	0.009003	4.710217	0.000000	ubiquitin protein ligase activity
GO:0140101	0.008927	4.718728	1.023700	catalytic activity, acting on a tRNA
GO:0001227	0.008901	4.721581	0.000000	DNA-binding transcription repressor activity, RNA polymerase II-specific
GO:0001882	0.008901	4.721581	1.206826	nucleoside binding
GO:0001883	0.008774	4.735970	0.014389	purine nucleoside binding
GO:0015079	0.008749	4.738872	0.571177	potassium ion transmembrane transporter activity
GO:0032550	0.008698	4.744703	0.000000	purine ribonucleoside binding
GO:0032549	0.008698	4.744703	0.023122	ribonucleoside binding
GO:0016298	0.008698	4.744703	1.847211	lipase activity
GO:0016765	0.008647	4.750568	3.002620	transferase activity, transferring alkyl or aryl (other than methyl) groups
GO:0019887	0.008520	4.765383	0.088503	protein kinase regulator activity
GO:0015103	0.008520	4.765383	0.927570	inorganic anion transmembrane transporter activity
GO:0008234	0.008520	4.765383	1.164083	cysteine-type peptidase activity
GO:1901681	0.008520	4.765383	4.395665	sulfur compound binding
GO:0016835	0.008494	4.768373	0.919877	carbon-oxygen lyase activity
GO:0016407	0.008469	4.771372	0.823859	acetyltransferase activity
GO:0042393	0.008469	4.771372	4.203930	histone binding
GO:0015081	0.008443	4.774379	0.606683	sodium ion transmembrane transporter activity
GO:0004519	0.008418	4.777396	0.560910	endonuclease activity
GO:0043177	0.008392	4.780421	1.860550	organic acid binding
GO:0004540	0.008367	4.783456	0.015083	ribonuclease activity
GO:0004497	0.008342	4.786500	2.071022	monooxygenase activity
GO:0031406	0.008316	4.789554	0.003053	carboxylic acid binding
GO:0005085	0.008189	4.804962	0.199258	guanyl-nucleotide exchange factor activity
GO:1901981	0.008164	4.808073	0.259244	phosphatidylinositol phosphate binding
GO:0015078	0.008087	4.817463	1.028046	proton transmembrane transporter activity
GO:0022832	0.007935	4.836511	0.779090	voltage-gated channel activity
GO:0005096	0.007833	4.849414	0.000000	GTPase activator activity
GO:0005244	0.007833	4.849414	0.003241	voltage-gated ion channel activity
GO:0005525	0.007808	4.852666	0.012945	GTP binding
GO:0016410	0.007680	4.869087	0.921575	N-acyltransferase activity
GO:0019902	0.007553	4.885782	2.441615	phosphatase binding
GO:0015399	0.007426	4.902760	1.037417	primary active transmembrane transporter activity
GO:0051015	0.007299	4.920032	0.089911	actin filament binding
GO:0015171	0.007146	4.941159	0.545794	amino acid transmembrane transporter activity
GO:0001653	0.007121	4.944724	1.935138	peptide receptor activity
GO:0015085	0.007045	4.955497	1.307454	calcium ion transmembrane transporter activity
GO:0045182	0.006994	4.962743	4.962743	translation regulator activity
GO:0042626	0.006892	4.977395	0.074635	ATPase-coupled transmembrane transporter activity
GO:0003697	0.006892	4.977395	2.823178	single-stranded DNA binding
GO:0008022	0.006816	4.988527	4.421086	protein C-terminus binding
GO:0016830	0.006765	4.996018	1.147522	carbon-carbon lyase activity
GO:0099094	0.006689	5.007360	0.022557	ligand-gated cation channel activity
GO:0008094	0.006689	5.007360	1.081998	DNA-dependent ATPase activity
GO:0008528	0.006663	5.011170	0.011385	G protein-coupled peptide receptor activity
GO:0061134	0.006638	5.014994	1.826278	peptidase regulator activity
GO:0022843	0.006612	5.018832	0.030305	voltage-gated cation channel activity
GO:0016836	0.006612	5.018832	0.250459	hydro-lyase activity
GO:0004386	0.006612	5.018832	1.093471	helicase activity
GO:0008170	0.006536	5.030438	0.841165	N-methyltransferase activity
GO:0003714	0.006536	5.030438	0.958202	transcription corepressor activity
GO:0017171	0.006434	5.046125	0.000000	serine hydrolase activity
GO:0004713	0.006434	5.046125	1.897318	protein tyrosine kinase activity
GO:0016825	0.006434	5.046125	3.121302	hydrolase activity, acting on acid phosphorus-nitrogen bonds
GO:0015293	0.006409	5.050085	0.681171	symporter activity
GO:0016811	0.006332	5.062061	0.589570	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amides
GO:0016209	0.006307	5.066085	5.066085	antioxidant activity
GO:0008236	0.006282	5.070126	0.000000	serine-type peptidase activity
GO:0043021	0.006282	5.070126	2.076400	ribonucleoprotein complex binding
GO:0004620	0.006256	5.074182	0.329479	phospholipase activity
GO:0005267	0.006205	5.082346	0.000000	potassium channel activity
GO:0015294	0.006180	5.086453	0.000000	solute:cation symporter activity
GO:0008237	0.006154	5.090576	1.489276	metallopeptidase activity
GO:0008081	0.006154	5.090576	1.508658	phosphoric diester hydrolase activity
GO:0030246	0.006129	5.094717	4.724998	carbohydrate binding
GO:0140030	0.006078	5.103050	4.535609	modification-dependent protein binding
GO:0019903	0.006027	5.111454	0.225672	protein phosphatase binding
GO:0005516	0.006002	5.115682	4.548241	calmodulin binding
GO:0008080	0.005976	5.119928	0.000000	N-acetyltransferase activity
GO:0016667	0.005976	5.119928	2.404450	oxidoreductase activity, acting on a sulfur group of donors
GO:0005539	0.005951	5.124193	1.915539	glycosaminoglycan binding
GO:0008276	0.005926	5.128476	0.000000	protein methyltransferase activity
GO:0016879	0.005722	5.163414	1.029619	ligase activity, forming carbon-nitrogen bonds
GO:0030594	0.005722	5.163414	2.153827	neurotransmitter receptor activity
GO:0005319	0.005722	5.163414	2.697925	lipid transporter activity
GO:0016651	0.005697	5.167868	2.452390	oxidoreductase activity, acting on NAD(P)H
GO:0051427	0.005671	5.172342	2.358821	hormone receptor binding
GO:0005230	0.005570	5.190442	0.480225	extracellular ligand-gated ion channel activity
GO:0004527	0.005493	5.204236	0.987750	exonuclease activity
GO:0017137	0.005392	5.222928	0.885637	Rab GTPase binding
GO:0008238	0.005392	5.222928	1.621627	exopeptidase activity
GO:0061135	0.005366	5.227656	0.212662	endopeptidase regulator activity
GO:0030414	0.005341	5.232406	0.004751	peptidase inhibitor activity
GO:0003727	0.005315	5.237180	2.286670	single-stranded RNA binding
GO:0090079	0.005290	5.241976	0.122047	translation regulator activity, nucleic acid binding
GO:0005507	0.005213	5.256504	1.654271	copper ion binding
GO:0019842	0.005188	5.261394	2.341523	vitamin binding
GO:0005262	0.005163	5.266308	0.000000	calcium channel activity
GO:0005125	0.005112	5.276209	1.044084	cytokine activity
GO:0016903	0.005112	5.276209	2.560731	oxidoreductase activity, acting on the aldehyde or oxo group of donors
GO:0051213	0.005086	5.281197	2.565718	dioxygenase activity
GO:0016782	0.005061	5.286209	3.538261	transferase activity, transferring sulfur-containing groups
GO:0004866	0.005035	5.291247	0.000000	endopeptidase inhibitor activity
GO:0019783	0.005010	5.296310	0.530927	ubiquitin-like protein-specific protease activity
GO:0043621	0.005010	5.296310	4.728869	protein self-association
GO:0070851	0.004959	5.306514	2.492994	growth factor receptor binding
GO:0019838	0.004934	5.311656	4.744215	growth factor binding
GO:0015144	0.004908	5.316824	2.779366	carbohydrate transmembrane transporter activity
GO:0008374	0.004883	5.322019	1.374506	O-acyltransferase activity
GO:0008144	0.004883	5.322019	4.952300	drug binding
GO:0016763	0.004857	5.327241	1.582911	transferase activity, transferring pentosyl groups
GO:0015108	0.004832	5.332490	0.567106	chloride transmembrane transporter activity
GO:0035257	0.004807	5.337767	0.000000	nuclear hormone receptor binding
GO:1902936	0.004781	5.343072	0.534999	phosphatidylinositol bisphosphate binding
GO:0016627	0.004781	5.343072	2.627594	oxidoreductase activity, acting on the CH-CH group of donors
GO:0004536	0.004756	5.348405	0.082097	deoxyribonuclease activity
GO:0004521	0.004730	5.353767	0.021277	endoribonuclease activity
GO:0016877	0.004730	5.353767	1.219973	ligase activity, forming carbon-sulfur bonds
GO:0016247	0.004730	5.353767	2.669689	channel regulator activity
GO:0017048	0.004705	5.359158	1.021867	Rho GTPase binding
GO:0009055	0.004679	5.364578	2.649100	electron transfer activity
GO:0002020	0.004679	5.364578	2.920411	protease binding
GO:0042625	0.004654	5.370028	0.000000	ATPase-coupled ion transmembrane transporter activity
GO:0004722	0.004578	5.386557	0.884685	protein serine/threonine phosphatase activity
GO:0031072	0.004578	5.386557	4.819116	heat shock protein binding
GO:0046915	0.004552	5.392128	1.744086	transition metal ion transmembrane transporter activity
GO:0008242	0.004527	5.397730	1.796430	omega peptidase activity
GO:0005088	0.004501	5.403364	0.033336	Ras guanyl-nucleotide exchange factor activity
GO:0015179	0.004501	5.403364	0.462205	L-amino acid transmembrane transporter activity
GO:0042887	0.004501	5.403364	2.865907	amide transmembrane transporter activity
GO:0140375	0.004476	5.409030	2.399444	immune receptor activity
GO:0101005	0.004451	5.414728	2.325743	ubiquitinyl hydrolase activity
GO:0046906	0.004349	5.437850	3.861284	tetrapyrrole binding
GO:0051082	0.004349	5.437850	4.870409	unfolded protein binding
GO:0003678	0.004298	5.449615	0.011765	DNA helicase activity
GO:0016860	0.004273	5.455550	1.156432	intramolecular oxidoreductase activity
GO:0003774	0.004273	5.455550	2.038434	motor activity
GO:0008135	0.004247	5.461520	0.149864	translation factor activity, RNA binding
GO:0034212	0.004247	5.461520	0.341592	peptide N-acetyltransferase activity
GO:0005179	0.004247	5.461520	1.229395	hormone activity
GO:0003730	0.004247	5.461520	1.511369	mRNA 3'-UTR binding
GO:1901505	0.004247	5.461520	2.924063	carbohydrate derivative transmembrane transporter activity
GO:0044325	0.004247	5.461520	4.894079	ion channel binding
GO:0008173	0.004222	5.467526	0.000000	RNA methyltransferase activity
GO:0019955	0.004222	5.467526	4.900085	cytokine binding
GO:0046527	0.004196	5.473569	1.384778	glucosyltransferase activity
GO:0019199	0.004171	5.479648	0.041797	transmembrane receptor protein kinase activity
GO:0005253	0.004145	5.485764	0.006116	anion channel activity
GO:0005178	0.004145	5.485764	0.076734	integrin binding
GO:0015297	0.004145	5.485764	1.116850	antiporter activity
GO:0019829	0.004120	5.491918	0.006154	ATPase-coupled cation transmembrane transporter activity
GO:0016776	0.004120	5.491918	2.902981	phosphotransferase activity, phosphate group as acceptor
GO:0030145	0.004095	5.498110	1.895877	manganese ion binding
GO:0004252	0.004069	5.504340	0.036814	serine-type endopeptidase activity
GO:0016875	0.004069	5.504340	1.370546	ligase activity, forming carbon-oxygen bonds
GO:0017022	0.004069	5.504340	2.169054	myosin binding
GO:0004812	0.004044	5.510610	0.000000	aminoacyl-tRNA ligase activity
GO:0016831	0.004044	5.510610	0.514592	carboxy-lyase activity
GO:0008201	0.004018	5.516919	0.055399	heparin binding
GO:0022824	0.003993	5.523268	0.000000	transmitter-gated ion channel activity
GO:0022835	0.003993	5.523268	0.006349	transmitter-gated channel activity
GO:0036459	0.003967	5.529658	0.000000	thiol-dependent ubiquitinyl hydrolase activity
GO:0042562	0.003967	5.529658	5.159939	hormone binding
GO:0032182	0.003942	5.536089	4.968648	ubiquitin-like protein binding
GO:0005249	0.003891	5.549076	0.006515	voltage-gated potassium channel activity
GO:0016620	0.003891	5.549076	0.272867	oxidoreductase activity, acting on the aldehyde or oxo group of donors, NAD or NADP as acceptor
GO:0004725	0.003891	5.549076	1.047204	protein tyrosine phosphatase activity
GO:0019208	0.003891	5.549076	2.360361	phosphatase regulator activity
GO:0019209	0.003866	5.555633	0.019545	kinase activator activity
GO:0016684	0.003866	5.555633	2.840155	oxidoreductase activity, acting on peroxide as acceptor
GO:0005506	0.003840	5.562234	1.960002	iron ion binding
GO:0000149	0.003840	5.562234	4.994793	SNARE binding
GO:0020037	0.003815	5.568879	0.131028	heme binding
GO:0016796	0.003815	5.568879	0.364643	exonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0016278	0.003815	5.568879	0.530628	lysine N-methyltransferase activity
GO:0008028	0.003815	5.568879	1.173514	monocarboxylic acid transmembrane transporter activity
GO:0072341	0.003815	5.568879	5.199160	modified amino acid binding
GO:0016279	0.003789	5.575568	0.000000	protein-lysine N-methyltransferase activity
GO:0098960	0.003789	5.575568	0.412154	postsynaptic neurotransmitter receptor activity
GO:0033293	0.003764	5.582302	0.792748	monocarboxylic acid binding
GO:0061733	0.003713	5.595907	0.134387	peptide-lysine-N-acetyltransferase activity
GO:0005496	0.003713	5.595907	0.513562	steroid binding
GO:0047485	0.003713	5.595907	5.028466	protein N-terminus binding
GO:0099106	0.003688	5.602780	0.249013	ion channel regulator activity
GO:0015370	0.003662	5.609701	0.000000	solute:sodium symporter activity
GO:0030295	0.003662	5.609701	0.000000	protein kinase activator activity
GO:0051087	0.003662	5.609701	5.042260	chaperone binding
GO:0004601	0.003637	5.616669	0.034368	peroxidase activity
GO:0004896	0.003637	5.616669	0.207639	cytokine receptor activity
GO:0004843	0.003611	5.623687	0.094029	thiol-dependent ubiquitin-specific protease activity
GO:0042054	0.003611	5.623687	0.495211	histone methyltransferase activity
GO:0050660	0.003586	5.630754	2.259840	flavin adenine dinucleotide binding
GO:0008408	0.003560	5.637872	0.433636	3'-5' exonuclease activity
GO:0016866	0.003560	5.637872	1.338753	intramolecular transferase activity
GO:0030165	0.003535	5.645040	2.020165	PDZ domain binding
GO:0016922	0.003484	5.659533	0.321766	nuclear receptor binding
GO:1990782	0.003484	5.659533	1.981756	protein tyrosine kinase binding
GO:0019888	0.003459	5.666859	0.117783	protein phosphatase regulator activity
GO:0042826	0.003459	5.666859	3.222692	histone deacetylase binding
GO:0015932	0.003408	5.681674	3.144217	nucleobase-containing compound transmembrane transporter activity
GO:0051540	0.003408	5.681674	5.311955	metal cluster binding
GO:0051536	0.003382	5.689165	0.007491	iron-sulfur cluster binding
GO:0035251	0.003382	5.689165	0.014926	UDP-glucosyltransferase activity
GO:0004402	0.003382	5.689165	0.093257	histone acetyltransferase activity
GO:0016878	0.003382	5.689165	0.335398	acid-thiol ligase activity
GO:0005546	0.003382	5.689165	0.346093	phosphatidylinositol-4,5-bisphosphate binding
GO:0015036	0.003357	5.696712	0.576784	disulfide oxidoreductase activity
GO:0019843	0.003357	5.696712	2.746202	rRNA binding
GO:0031490	0.003332	5.704317	1.313067	chromatin DNA binding
GO:0033613	0.003332	5.704317	1.374778	activating transcription factor binding
GO:0005200	0.003332	5.704317	2.230589	structural constituent of cytoskeleton
GO:0004197	0.003306	5.711980	0.045120	cysteine-type endopeptidase activity
GO:0008146	0.003281	5.719702	0.433492	sulfotransferase activity
GO:0016893	0.003281	5.719702	0.942306	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0008083	0.003281	5.719702	1.487577	growth factor activity
GO:0019205	0.003255	5.727484	2.896861	nucleobase-containing compound kinase activity
GO:0005254	0.003230	5.735327	0.000000	chloride channel activity
GO:0043130	0.003230	5.735327	0.199238	ubiquitin binding
GO:0051219	0.003230	5.735327	5.167886	phosphoprotein binding
GO:0004520	0.003179	5.751200	0.007968	endodeoxyribonuclease activity
GO:0008013	0.003179	5.751200	5.183759	beta-catenin binding
GO:0016709	0.003154	5.759232	0.724896	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of one atom of oxygen
GO:0016405	0.003128	5.767330	0.413562	CoA-ligase activity
GO:0072509	0.003128	5.767330	2.495018	divalent inorganic cation transmembrane transporter activity
GO:0004364	0.003103	5.775493	1.024925	glutathione transferase activity
GO:0003725	0.003103	5.775493	2.824983	double-stranded RNA binding
GO:0008227	0.003077	5.783723	1.857072	G protein-coupled amine receptor activity
GO:0043178	0.003077	5.783723	2.863852	alcohol binding
GO:0004222	0.003026	5.800391	0.033061	metalloendopeptidase activity
GO:0019210	0.003026	5.800391	0.041158	kinase inhibitor activity
GO:0019213	0.003001	5.808829	3.884007	deacetylase activity
GO:0043022	0.002976	5.817340	0.747214	ribosome binding
GO:0004714	0.002950	5.825924	0.000000	transmembrane receptor protein tyrosine kinase activity
GO:1904680	0.002950	5.825924	0.422560	peptide transmembrane transporter activity
GO:0019200	0.002950	5.825924	2.995301	carbohydrate kinase activity
GO:0015175	0.002925	5.834582	0.893423	neutral amino acid transmembrane transporter activity
GO:0016645	0.002899	5.843316	3.127837	oxidoreductase activity, acting on the CH-NH group of donors
GO:0051117	0.002899	5.843316	3.399149	ATPase binding
GO:0016769	0.002899	5.843316	4.095367	transferase activity, transferring nitrogenous groups
GO:0035064	0.002874	5.852126	0.000000	methylated histone binding
GO:0016706	0.002874	5.852126	0.060104	2-oxoglutarate-dependent dioxygenase activity
GO:0005231	0.002874	5.852126	0.661684	excitatory extracellular ligand-gated ion channel activity
GO:0140034	0.002874	5.852126	0.749076	methylation-dependent protein binding
GO:0004860	0.002848	5.861015	0.000000	protein kinase inhibitor activity
GO:0003743	0.002848	5.861015	0.399495	translation initiation factor activity
GO:1901682	0.002823	5.869984	3.332526	sulfur compound transmembrane transporter activity
GO:0008483	0.002797	5.879034	0.035718	transaminase activity
GO:0016814	0.002797	5.879034	1.406543	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amidines
GO:0140223	0.002797	5.879034	3.257397	general transcription initiation factor activity
GO:0018024	0.002772	5.888166	0.009132	histone-lysine N-methyltransferase activity
GO:1901618	0.002772	5.888166	3.054088	organic hydroxy compound transmembrane transporter activity
GO:0070566	0.002747	5.897383	1.388607	adenylyltransferase activity
GO:0070491	0.002747	5.897383	1.567844	repressing transcription factor binding
GO:0017124	0.002747	5.897383	2.272508	SH3 domain binding
GO:0001098	0.002747	5.897383	5.329942	basal transcription machinery binding
GO:0015662	0.002721	5.906685	0.536657	ion transmembrane transporter activity, phosphorylative mechanism
GO:0016597	0.002721	5.906685	1.117131	amino acid binding
GO:0016799	0.002721	5.906685	1.517487	hydrolase activity, hydrolyzing N-glycosyl compounds
GO:0009975	0.002721	5.906685	5.047337	cyclase activity
GO:0016790	0.002696	5.916075	3.018582	thiolester hydrolase activity
GO:0070063	0.002670	5.925554	3.481387	RNA polymerase binding
GO:0001099	0.002645	5.935123	0.037740	basal RNA polymerase II transcription machinery binding
GO:0000030	0.002645	5.935123	1.846333	mannosyltransferase activity
GO:0032451	0.002645	5.935123	5.075775	demethylase activity
GO:0042379	0.002619	5.944785	0.047402	chemokine receptor binding
GO:0051119	0.002619	5.944785	0.627961	sugar transmembrane transporter activity
GO:0005310	0.002619	5.944785	1.549420	dicarboxylic acid transmembrane transporter activity
GO:0046332	0.002594	5.954541	5.387100	SMAD binding
GO:0035258	0.002569	5.964393	0.626626	steroid hormone receptor binding
GO:0004177	0.002569	5.964393	0.741466	aminopeptidase activity
GO:0015926	0.002543	5.974344	1.335001	glucosidase activity
GO:0035591	0.002543	5.974344	1.532557	signaling adaptor activity
GO:0070279	0.002518	5.984394	0.534779	vitamin B6 binding
GO:0016881	0.002518	5.984394	0.820981	acid-amino acid ligase activity
GO:0016891	0.002492	5.994547	0.000000	endoribonuclease activity, producing 5'-phosphomonoesters
GO:0015145	0.002492	5.994547	0.049762	monosaccharide transmembrane transporter activity
GO:0004532	0.002492	5.994547	0.078472	exoribonuclease activity
GO:0016849	0.002492	5.994547	2.146051	phosphorus-oxygen lyase activity
GO:0097747	0.002467	6.004803	0.221080	RNA polymerase activity
GO:0042162	0.002467	6.004803	3.523324	telomeric DNA binding
GO:0030170	0.002441	6.015166	0.020619	pyridoxal phosphate binding
GO:0048029	0.002441	6.015166	0.108481	monosaccharide binding
GO:0008188	0.002441	6.015166	1.003996	neuropeptide receptor activity
GO:0098531	0.002441	6.015166	3.084392	ligand-activated transcription factor activity
GO:0005272	0.002416	6.025637	0.000000	sodium channel activity
GO:0030971	0.002416	6.025637	0.146603	receptor tyrosine kinase binding
GO:0001085	0.002416	6.025637	2.472550	RNA polymerase II transcription factor binding
GO:0034061	0.002391	6.036219	0.051825	DNA polymerase activity
GO:0099529	0.002391	6.036219	0.460652	neurotransmitter receptor activity involved in regulation of postsynaptic membrane potential
GO:0004879	0.002365	6.046915	0.010695	nuclear receptor activity
GO:0034062	0.002365	6.046915	0.042111	5'-3' RNA polymerase activity
GO:0004659	0.002340	6.057725	1.307157	prenyltransferase activity
GO:0140296	0.002340	6.057725	2.504638	general transcription initiation factor binding
GO:0001046	0.002340	6.057725	3.155612	core promoter sequence-specific DNA binding
GO:0016896	0.002314	6.068654	0.000000	exoribonuclease activity, producing 5'-phosphomonoesters
GO:0016859	0.002314	6.068654	1.769536	cis-trans isomerase activity
GO:0097110	0.002314	6.068654	5.501213	scaffold protein binding
GO:1904315	0.002289	6.079704	0.011050	transmitter-gated ion channel activity involved in regulation of postsynaptic membrane potential
GO:0019003	0.002289	6.079704	1.335001	GDP binding
GO:0015298	0.002263	6.090878	0.033152	solute:cation antiporter activity
GO:0003724	0.002263	6.090878	0.155755	RNA helicase activity
GO:0019905	0.002263	6.090878	0.528643	syntaxin binding
GO:0003777	0.002263	6.090878	0.635328	microtubule motor activity
GO:0008375	0.002263	6.090878	1.482625	acetylglucosaminyltransferase activity
GO:0008171	0.002263	6.090878	1.901604	O-methyltransferase activity
GO:0015101	0.002263	6.090878	2.948570	organic cation transmembrane transporter activity
GO:0015605	0.002263	6.090878	3.553420	organophosphate ester transmembrane transporter activity
GO:0003684	0.002263	6.090878	3.936661	damaged DNA binding
GO:0032266	0.002238	6.102177	1.294104	phosphatidylinositol-3-phosphate binding
GO:0016538	0.002238	6.102177	1.336794	cyclin-dependent protein serine/threonine kinase regulator activity
GO:1990841	0.002238	6.102177	2.400990	promoter-specific chromatin binding
GO:0000049	0.002238	6.102177	3.151667	tRNA binding
GO:0033558	0.002213	6.113606	0.000000	protein deacetylase activity
GO:0015645	0.002213	6.113606	0.424441	fatty acid ligase activity
GO:0008378	0.002213	6.113606	2.024815	galactosyltransferase activity
GO:0016780	0.002213	6.113606	3.524669	phosphotransferase activity, for other substituted phosphate groups
GO:0042910	0.002213	6.113606	3.576148	xenobiotic transmembrane transporter activity
GO:0001540	0.002187	6.125167	1.559368	amyloid-beta binding
GO:0050661	0.002187	6.125167	2.855534	NADP binding
GO:0004712	0.002187	6.125167	2.976360	protein serine/threonine/tyrosine kinase activity
GO:0019239	0.002187	6.125167	4.200344	deaminase activity
GO:0009678	0.002162	6.136863	0.000000	pyrophosphate hydrolysis-driven proton transmembrane transporter activity
GO:0052866	0.002162	6.136863	2.294316	phosphatidylinositol phosphate phosphatase activity
GO:0051287	0.002162	6.136863	2.867230	NAD binding
GO:0003899	0.002136	6.148697	0.101783	DNA-directed 5'-3' RNA polymerase activity
GO:0016251	0.002136	6.148697	0.269664	RNA polymerase II general transcription initiation factor activity
GO:0032934	0.002136	6.148697	0.552790	sterol binding
GO:0004180	0.002136	6.148697	0.925769	carboxypeptidase activity
GO:0016701	0.002136	6.148697	3.433219	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen
GO:0005245	0.002111	6.160673	0.124454	voltage-gated calcium channel activity
GO:0048365	0.002111	6.160673	0.801515	Rac GTPase binding
GO:0038024	0.002111	6.160673	6.160673	cargo receptor activity
GO:0015491	0.002085	6.172795	0.081917	cation:cation antiporter activity
GO:0005548	0.002085	6.172795	1.009381	phospholipid transporter activity
GO:0060590	0.002085	6.172795	1.713578	ATPase regulator activity
GO:0071855	0.002060	6.185065	1.645806	neuropeptide receptor binding
GO:0008066	0.002060	6.185065	2.942488	glutamate receptor activity
GO:0005518	0.002060	6.185065	3.191340	collagen binding
GO:0005372	0.002060	6.185065	3.350986	water transmembrane transporter activity
GO:0002039	0.002060	6.185065	5.617624	p53 binding
GO:0003755	0.002035	6.197487	0.000000	peptidyl-prolyl cis-trans isomerase activity
GO:0043175	0.002035	6.197487	0.271934	RNA polymerase core enzyme binding
GO:0016854	0.002035	6.197487	1.898369	racemase and epimerase activity
GO:0030276	0.002035	6.197487	5.630046	clathrin binding
GO:0048306	0.002035	6.197487	5.630046	calcium-dependent protein binding
GO:0004867	0.002009	6.210066	0.918819	serine-type endopeptidase inhibitor activity
GO:0031593	0.002009	6.210066	1.107016	polyubiquitin modification-dependent protein binding
GO:0061980	0.002009	6.210066	3.259556	regulatory RNA binding
GO:0016638	0.002009	6.210066	3.494588	oxidoreductase activity, acting on the CH-NH2 group of donors
GO:0001786	0.001984	6.222805	0.000000	phosphatidylserine binding
GO:0016702	0.001984	6.222805	0.000000	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of two atoms of oxygen
GO:0008009	0.001984	6.222805	0.025318	chemokine activity
GO:0005504	0.001984	6.222805	0.396881	fatty acid binding
GO:0120013	0.001984	6.222805	1.059392	lipid transfer activity
GO:0019840	0.001984	6.222805	2.660797	isoprenoid binding
GO:0015149	0.001958	6.235709	0.241162	hexose transmembrane transporter activity
GO:0016628	0.001958	6.235709	0.892637	oxidoreductase activity, acting on the CH-CH group of donors, NAD or NADP as acceptor
GO:0051018	0.001958	6.235709	5.668267	protein kinase A binding
GO:0008175	0.001933	6.248781	0.000000	tRNA methyltransferase activity
GO:0015295	0.001933	6.248781	0.000000	solute:proton symporter activity
GO:0001102	0.001933	6.248781	0.075986	RNA polymerase II activating transcription factor binding
GO:0050840	0.001933	6.248781	5.879062	extracellular matrix binding
GO:0005080	0.001907	6.262026	2.584249	protein kinase C binding
GO:0001221	0.001907	6.262026	2.708939	transcription cofactor binding
GO:0005089	0.001882	6.275449	0.000000	Rho guanyl-nucleotide exchange factor activity
GO:0017046	0.001882	6.275449	0.013423	peptide hormone binding
GO:0000175	0.001882	6.275449	0.026668	3'-5'-exoribonuclease activity
GO:0003887	0.001882	6.275449	0.239230	DNA-directed DNA polymerase activity
GO:0031491	0.001882	6.275449	0.532217	nucleosome binding
GO:0004112	0.001882	6.275449	1.184873	cyclic-nucleotide phosphodiesterase activity
GO:0016409	0.001882	6.275449	2.327937	palmitoyltransferase activity
GO:0019203	0.001882	6.275449	2.432902	carbohydrate phosphatase activity
GO:0035254	0.001882	6.275449	3.461928	glutamate receptor binding
GO:0004407	0.001857	6.289055	0.091567	histone deacetylase activity
GO:0008235	0.001857	6.289055	0.091567	metalloexopeptidase activity
GO:0045309	0.001857	6.289055	0.553728	protein phosphorylated amino acid binding
GO:0019212	0.001831	6.302848	0.013793	phosphatase inhibitor activity
GO:0005547	0.001831	6.302848	1.494775	phosphatidylinositol-3,4,5-trisphosphate binding
GO:0050897	0.001831	6.302848	2.700615	cobalt ion binding
GO:0016229	0.001831	6.302848	3.587370	steroid dehydrogenase activity
GO:0015562	0.001831	6.302848	3.765390	efflux transmembrane transporter activity
GO:0031369	0.001831	6.302848	5.735407	translation initiation factor binding
GO:0032452	0.001806	6.316834	0.000000	histone demethylase activity
GO:0140457	0.001806	6.316834	0.000000	protein demethylase activity
GO:0051539	0.001806	6.316834	0.627669	4 iron, 4 sulfur cluster binding
GO:0051879	0.001806	6.316834	0.930277	Hsp90 protein binding
GO:0004869	0.001806	6.316834	1.025587	cysteine-type endopeptidase inhibitor activity
GO:0090482	0.001806	6.316834	3.779377	vitamin transmembrane transporter activity
GO:0015459	0.001780	6.331019	0.728239	potassium channel regulator activity
GO:0005048	0.001780	6.331019	1.765220	signal sequence binding
GO:0008395	0.001755	6.345408	1.558907	steroid hydroxylase activity
GO:0019894	0.001755	6.345408	3.010121	kinesin binding
GO:0004529	0.001729	6.360006	0.149940	exodeoxyribonuclease activity
GO:0005385	0.001729	6.360006	0.211309	zinc ion transmembrane transporter activity
GO:0008187	0.001729	6.360006	1.122827	poly-pyrimidine tract binding
GO:0022839	0.001729	6.360006	2.302585	ion gated channel activity
GO:0016846	0.001729	6.360006	2.511510	carbon-sulfur lyase activity
GO:0022829	0.001729	6.360006	2.794408	wide pore channel activity
GO:0003823	0.001729	6.360006	5.990287	antigen binding
GO:0015250	0.001704	6.374821	0.000000	water channel activity
GO:0070888	0.001704	6.374821	2.503391	E-box binding
GO:0016895	0.001678	6.389859	0.000000	exodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0004623	0.001678	6.389859	0.646627	phospholipase A2 activity
GO:0070273	0.001678	6.389859	1.581786	phosphatidylinositol-4-phosphate binding
GO:0015020	0.001678	6.389859	1.781607	glucuronosyltransferase activity
GO:0004312	0.001678	6.389859	2.442347	fatty acid synthase activity
GO:0140318	0.001678	6.389859	3.924371	protein transporter activity
GO:0140299	0.001678	6.389859	6.389859	small molecule sensor activity
GO:0000993	0.001653	6.405127	0.000000	RNA polymerase II complex binding
GO:0005355	0.001653	6.405127	0.169418	glucose transmembrane transporter activity
GO:0050145	0.001653	6.405127	0.314249	nucleoside monophosphate kinase activity
GO:0005201	0.001653	6.405127	2.931399	extracellular matrix structural constituent
GO:0033612	0.001653	6.405127	3.591606	receptor serine/threonine kinase binding
GO:0016646	0.001628	6.420631	0.577315	oxidoreductase activity, acting on the CH-NH group of donors, NAD or NADP as acceptor
GO:0043539	0.001628	6.420631	0.810930	protein serine/threonine kinase activator activity
GO:0016671	0.001628	6.420631	1.300702	oxidoreductase activity, acting on a sulfur group of donors, disulfide as acceptor
GO:0043531	0.001628	6.420631	2.484907	ADP binding
GO:0004984	0.001628	6.420631	3.178054	olfactory receptor activity
GO:0022884	0.001628	6.420631	3.883173	macromolecule transmembrane transporter activity
GO:0019104	0.001602	6.436379	0.000000	DNA N-glycosylase activity
GO:0004864	0.001602	6.436379	0.015748	protein phosphatase inhibitor activity
GO:0030291	0.001602	6.436379	0.575364	protein serine/threonine kinase inhibitor activity
GO:0016655	0.001602	6.436379	1.268511	oxidoreductase activity, acting on NAD(P)H, quinone or similar compound as acceptor
GO:0043495	0.001602	6.436379	1.994592	protein-membrane adaptor activity
GO:0016840	0.001602	6.436379	2.587883	carbon-nitrogen lyase activity
GO:0030544	0.001577	6.452380	1.065822	Hsp70 protein binding
GO:0004707	0.001577	6.452380	2.845472	MAP kinase activity
GO:0017069	0.001577	6.452380	3.501870	snRNA binding
GO:0015485	0.001551	6.468640	0.063513	cholesterol binding
GO:0016289	0.001551	6.468640	0.552565	CoA hydrolase activity
GO:0008198	0.001551	6.468640	0.906406	ferrous iron binding
GO:0004806	0.001551	6.468640	1.192431	triglyceride lipase activity
GO:0061650	0.001551	6.468640	2.564949	ubiquitin-like protein conjugating enzyme activity
GO:0043394	0.001551	6.468640	2.878461	proteoglycan binding
GO:0000217	0.001551	6.468640	4.314423	DNA secondary structure binding
GO:0008266	0.001526	6.485169	0.125163	poly(U) RNA binding
GO:0004629	0.001526	6.485169	0.641854	phospholipase C activity
GO:0016861	0.001526	6.485169	1.029619	intramolecular oxidoreductase activity, interconverting aldoses and ketoses
GO:0017112	0.001500	6.501977	0.016807	Rab guanyl-nucleotide exchange factor activity
GO:0016668	0.001500	6.501977	0.033336	oxidoreductase activity, acting on a sulfur group of donors, NAD(P) as acceptor
GO:0005501	0.001500	6.501977	0.279171	retinoid binding
GO:0004467	0.001500	6.501977	0.353279	long-chain fatty acid-CoA ligase activity
GO:0005184	0.001500	6.501977	1.040456	neuropeptide hormone activity
GO:0016411	0.001500	6.501977	1.179958	acylglycerol O-acyltransferase activity
GO:0008376	0.001500	6.501977	1.893724	acetylgalactosaminyltransferase activity
GO:0030551	0.001500	6.501977	3.232344	cyclic nucleotide binding
GO:0036002	0.001500	6.501977	3.551466	pre-mRNA binding
GO:0008649	0.001475	6.519071	0.000000	rRNA methyltransferase activity
GO:0033764	0.001475	6.519071	0.050431	steroid dehydrogenase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0034593	0.001475	6.519071	0.382208	phosphatidylinositol bisphosphate phosphatase activity
GO:0016838	0.001475	6.519071	1.750698	carbon-oxygen lyase activity, acting on phosphates
GO:0019789	0.001475	6.519071	2.615380	SUMO transferase activity
GO:0140102	0.001475	6.519071	2.824044	catalytic activity, acting on a rRNA
GO:0001965	0.001475	6.519071	5.951630	G-protein alpha-subunit binding
GO:0005343	0.001450	6.536463	0.067823	organic acid:sodium symporter activity
GO:0004114	0.001450	6.536463	0.261014	3',5'-cyclic-nucleotide phosphodiesterase activity
GO:0005246	0.001450	6.536463	0.933682	calcium channel regulator activity
GO:0005154	0.001450	6.536463	1.229948	epidermal growth factor receptor binding
GO:0015174	0.001450	6.536463	1.595303	basic amino acid transmembrane transporter activity
GO:0004033	0.001450	6.536463	2.179525	aldo-keto reductase (NADP) activity
GO:0070001	0.001450	6.536463	2.935162	aspartic-type peptidase activity
GO:0008301	0.001450	6.536463	4.382246	DNA binding, bending
GO:0004030	0.001424	6.554162	1.005086	aldehyde dehydrogenase [NAD(P)+] activity
GO:0043138	0.001424	6.554162	1.104547	3'-5' DNA helicase activity
GO:0032813	0.001424	6.554162	1.855181	tumor necrosis factor receptor superfamily binding
GO:0005484	0.001424	6.554162	2.112375	SNAP receptor activity
GO:0003688	0.001424	6.554162	3.846722	DNA replication origin binding
GO:0016775	0.001424	6.554162	3.965225	phosphotransferase activity, nitrogenous group as acceptor
GO:0017147	0.001424	6.554162	5.986721	Wnt-protein binding
GO:0004190	0.001399	6.572181	0.000000	aspartic-type endopeptidase activity
GO:0008320	0.001399	6.572181	0.000000	protein transmembrane transporter activity
GO:0015215	0.001399	6.572181	0.000000	nucleotide transmembrane transporter activity
GO:0015299	0.001399	6.572181	0.035718	solute:proton antiporter activity
GO:0022848	0.001399	6.572181	0.035718	acetylcholine-gated cation-selective channel activity
GO:0015296	0.001399	6.572181	0.070204	anion:cation symporter activity
GO:0004708	0.001399	6.572181	0.447014	MAP kinase kinase activity
GO:0004016	0.001399	6.572181	0.514455	adenylate cyclase activity
GO:0001530	0.001399	6.572181	1.067841	lipopolysaccharide binding
GO:0045296	0.001399	6.572181	1.895300	cadherin binding
GO:0030374	0.001399	6.572181	1.943309	nuclear receptor transcription coactivator activity
GO:0003785	0.001399	6.572181	2.274934	actin monomer binding
GO:0015026	0.001399	6.572181	3.562594	coreceptor activity
GO:0019825	0.001399	6.572181	3.652310	oxygen binding
GO:0072349	0.001399	6.572181	4.034723	modified amino acid transmembrane transporter activity
GO:0015252	0.001373	6.590530	0.000000	proton channel activity
GO:0046961	0.001373	6.590530	0.000000	proton-transporting ATPase activity, rotational mechanism
GO:0016504	0.001373	6.590530	0.088553	peptidase activator activity
GO:0071949	0.001373	6.590530	0.959776	FAD binding
GO:0044769	0.001373	6.590530	1.220502	ATPase activity, coupled to transmembrane movement of ions, rotational mechanism
GO:0016832	0.001373	6.590530	1.594512	aldehyde-lyase activity
GO:0016408	0.001373	6.590530	2.643018	C-acyltransferase activity
GO:0052745	0.001373	6.590530	2.747983	inositol phosphate phosphatase activity
GO:0004683	0.001373	6.590530	2.983622	calmodulin-dependent protein kinase activity
GO:0008527	0.001373	6.590530	3.347953	taste receptor activity
GO:0030515	0.001373	6.590530	3.640020	snoRNA binding
GO:0004970	0.001348	6.609222	0.000000	ionotropic glutamate receptor activity
GO:0030331	0.001348	6.609222	0.614676	estrogen receptor binding
GO:0051537	0.001348	6.609222	0.920057	2 iron, 2 sulfur cluster binding
GO:0008409	0.001348	6.609222	1.404986	5'-3' exonuclease activity
GO:0008157	0.001348	6.609222	1.497768	protein phosphatase 1 binding
GO:0030247	0.001348	6.609222	1.514505	polysaccharide binding
GO:0016917	0.001348	6.609222	3.366645	GABA receptor activity
GO:0043028	0.001348	6.609222	3.420507	cysteine-type endopeptidase regulator activity involved in apoptotic process
GO:0015205	0.001348	6.609222	4.071764	nucleobase transmembrane transporter activity
GO:0061631	0.001322	6.628270	0.000000	ubiquitin conjugating enzyme activity
GO:0001784	0.001322	6.628270	0.339216	phosphotyrosine residue binding
GO:0016857	0.001322	6.628270	0.430783	racemase and epimerase activity, acting on carbohydrates and derivatives
GO:0046875	0.001322	6.628270	3.814749	ephrin receptor binding
GO:0016722	0.001322	6.628270	3.912792	oxidoreductase activity, oxidizing metal ions
GO:0030332	0.001322	6.628270	6.060829	cyclin binding
GO:0140104	0.001322	6.628270	6.628270	molecular carrier activity
GO:0016413	0.001297	6.647688	0.057158	O-acetyltransferase activity
GO:0001103	0.001297	6.647688	0.145712	RNA polymerase II repressing transcription factor binding
GO:0140323	0.001297	6.647688	0.487015	solute:anion antiporter activity
GO:0070717	0.001297	6.647688	1.410509	poly-purine tract binding
GO:0015923	0.001297	6.647688	2.008346	mannosidase activity
GO:0070300	0.001297	6.647688	2.561928	phosphatidic acid binding
GO:0042169	0.001297	6.647688	3.022813	SH2 domain binding
GO:0005112	0.001297	6.647688	3.834167	Notch binding
GO:0050308	0.001272	6.667491	0.392042	sugar-phosphatase activity
GO:0005381	0.001272	6.667491	1.275363	iron ion transmembrane transporter activity
GO:0016783	0.001272	6.667491	1.381282	sulfurtransferase activity
GO:0030371	0.001272	6.667491	1.704748	translation repressor activity
GO:0005217	0.001272	6.667491	1.957274	intracellular ligand-gated ion channel activity
GO:0097718	0.001272	6.667491	3.042616	disordered domain specific binding
GO:0097472	0.001272	6.667491	3.518684	cyclin-dependent protein kinase activity
GO:0005451	0.001246	6.687694	0.020203	monovalent cation:proton antiporter activity
GO:0080025	0.001246	6.687694	1.344622	phosphatidylinositol-3,5-bisphosphate binding
GO:0010181	0.001246	6.687694	3.155697	FMN binding
GO:0017056	0.001246	6.687694	3.213966	structural constituent of nuclear pore
GO:0000339	0.001246	6.687694	3.737184	RNA cap binding
GO:0001671	0.001221	6.708313	0.000000	ATPase activator activity
GO:0004693	0.001221	6.708313	0.000000	cyclin-dependent protein serine/threonine kinase activity
GO:0004675	0.001221	6.708313	0.020619	transmembrane receptor protein serine/threonine kinase activity
GO:0035250	0.001221	6.708313	0.020619	UDP-galactosyltransferase activity
GO:0015301	0.001221	6.708313	0.060625	anion:anion antiporter activity
GO:0005242	0.001221	6.708313	0.099091	inward rectifier potassium channel activity
GO:0015464	0.001221	6.708313	0.498247	acetylcholine receptor activity
GO:0017025	0.001221	6.708313	0.650588	TBP-class protein binding
GO:0008641	0.001221	6.708313	1.354546	ubiquitin-like modifier activating enzyme activity
GO:0070569	0.001221	6.708313	2.199537	uridylyltransferase activity
GO:0008373	0.001221	6.708313	2.963984	sialyltransferase activity
GO:0008307	0.001221	6.708313	3.234585	structural constituent of muscle
GO:0015002	0.001221	6.708313	3.992835	heme-copper terminal oxidase activity
GO:0005227	0.001195	6.729366	0.101096	calcium activated cation channel activity
GO:0016641	0.001195	6.729366	0.519300	oxidoreductase activity, acting on the CH-NH2 group of donors, oxygen as acceptor
GO:0030159	0.001195	6.729366	0.755023	signaling receptor complex adaptor activity
GO:0032036	0.001195	6.729366	1.225026	myosin heavy chain binding
GO:0000146	0.001195	6.729366	1.273816	microfilament motor activity
GO:0140303	0.001195	6.729366	1.565953	intramembrane lipid transporter activity
GO:0004715	0.001195	6.729366	1.683242	non-membrane spanning protein tyrosine kinase activity
GO:0048487	0.001195	6.729366	2.323639	beta-tubulin binding
GO:0016675	0.001195	6.729366	4.013888	oxidoreductase activity, acting on a heme group of donors
GO:0140142	0.001195	6.729366	4.263878	nucleocytoplasmic carrier activity
GO:0044390	0.001195	6.729366	4.285199	ubiquitin-like protein conjugating enzyme binding
GO:1990939	0.001170	6.750873	0.083382	ATP-dependent microtubule motor activity
GO:0047617	0.001170	6.750873	0.282232	acyl-CoA hydrolase activity
GO:0008422	0.001170	6.750873	0.776529	beta-glucosidase activity
GO:0015037	0.001170	6.750873	1.054161	peptide disulfide oxidoreductase activity
GO:0009982	0.001170	6.750873	1.113001	pseudouridine synthase activity
GO:0016868	0.001170	6.750873	1.113001	intramolecular transferase activity, phosphotransferases
GO:0016248	0.001170	6.750873	1.397105	channel inhibitor activity
GO:0001637	0.001170	6.750873	1.739703	G protein-coupled chemoattractant receptor activity
GO:0015172	0.001170	6.750873	1.809713	acidic amino acid transmembrane transporter activity
GO:0016894	0.001170	6.750873	1.973477	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 3'-phosphomonoesters
GO:0015929	0.001170	6.750873	2.111530	hexosaminidase activity
GO:0005544	0.001170	6.750873	2.665112	calcium-dependent phospholipid binding
GO:0071617	0.001170	6.750873	2.803360	lysophospholipid acyltransferase activity
GO:0001968	0.001170	6.750873	6.183431	fibronectin binding
GO:0043548	0.001170	6.750873	6.183431	phosphatidylinositol 3-kinase binding
GO:0004029	0.001144	6.772852	0.218689	aldehyde dehydrogenase (NAD+) activity
GO:0035198	0.001144	6.772852	0.562785	miRNA binding
GO:0015035	0.001144	6.772852	1.076139	protein disulfide oxidoreductase activity
GO:0004089	0.001144	6.772852	1.754019	carbonate dehydratase activity
GO:0043425	0.001144	6.772852	2.443313	bHLH transcription factor binding
GO:0008252	0.001144	6.772852	2.930304	nucleotidase activity
GO:0044183	0.001144	6.772852	6.772852	protein folding chaperone
GO:0004129	0.001119	6.795324	0.000000	cytochrome-c oxidase activity
GO:0008200	0.001119	6.795324	0.000000	ion channel inhibitor activity
GO:0015377	0.001119	6.795324	0.000000	cation:chloride symporter activity
GO:0004673	0.001119	6.795324	0.022473	protein histidine kinase activity
GO:0016676	0.001119	6.795324	0.065958	oxidoreductase activity, acting on a heme group of donors, oxygen as acceptor
GO:0051139	0.001119	6.795324	0.107631	metal ion:proton antiporter activity
GO:0035255	0.001119	6.795324	0.519875	ionotropic glutamate receptor binding
GO:0001223	0.001119	6.795324	0.533298	transcription coactivator binding
GO:0005248	0.001119	6.795324	0.769687	voltage-gated sodium channel activity
GO:0003954	0.001119	6.795324	1.627456	NADH dehydrogenase activity
GO:0051721	0.001119	6.795324	1.683871	protein phosphatase 2A binding
GO:0016813	0.001119	6.795324	2.322833	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amidines
GO:0016417	0.001119	6.795324	2.847812	S-acyltransferase activity
GO:0004953	0.001119	6.795324	2.868673	icosanoid receptor activity
GO:0046912	0.001119	6.795324	2.956330	transferase activity, transferring acyl groups, acyl groups converted into alkyl on transfer
GO:0051019	0.001119	6.795324	3.117548	mitogen-activated protein kinase binding
GO:0016661	0.001119	6.795324	4.079846	oxidoreductase activity, acting on other nitrogenous compounds as donors
GO:0003756	0.001094	6.818314	0.000000	protein disulfide isomerase activity
GO:0004950	0.001094	6.818314	0.000000	chemokine receptor activity
GO:0015216	0.001094	6.818314	0.246133	purine nucleotide transmembrane transporter activity
GO:0043236	0.001094	6.818314	0.365934	laminin binding
GO:0016864	0.001094	6.818314	1.362764	intramolecular oxidoreductase activity, transposing S-S bonds
GO:0005158	0.001094	6.818314	2.171045	insulin receptor binding
GO:1900750	0.001094	6.818314	2.252515	oligopeptide binding
GO:0070567	0.001094	6.818314	2.309538	cytidylyltransferase activity
GO:0042056	0.001094	6.818314	2.586189	chemoattractant activity
GO:0032794	0.001094	6.818314	6.250873	GTPase activating protein binding
GO:0004784	0.001068	6.841844	0.000000	superoxide dismutase activity
GO:0035925	0.001068	6.841844	0.000000	mRNA 3'-UTR AU-rich region binding
GO:0046933	0.001068	6.841844	0.000000	proton-transporting ATP synthase activity, rotational mechanism
GO:0099095	0.001068	6.841844	0.194156	ligand-gated anion channel activity
GO:0015556	0.001068	6.841844	0.897059	C4-dicarboxylate transmembrane transporter activity
GO:0005338	0.001068	6.841844	0.998529	nucleotide-sugar transmembrane transporter activity
GO:0035673	0.001068	6.841844	1.015921	oligopeptide transmembrane transporter activity
GO:0016863	0.001068	6.841844	1.386294	intramolecular oxidoreductase activity, transposing C=C bonds
GO:0043325	0.001068	6.841844	1.498772	phosphatidylinositol-3,4-bisphosphate binding
GO:0048027	0.001068	6.841844	2.891694	mRNA 5'-UTR binding
GO:0004709	0.001068	6.841844	3.234937	MAP kinase kinase kinase activity
GO:0042805	0.001068	6.841844	3.506558	actinin binding
GO:0009881	0.001068	6.841844	3.832258	photoreceptor activity
GO:0017091	0.001068	6.841844	3.891334	AU-rich element binding
GO:0016721	0.001068	6.841844	4.126366	oxidoreductase activity, acting on superoxide radicals as acceptor
GO:0140103	0.001068	6.841844	4.767856	catalytic activity, acting on a glycoprotein
GO:0071889	0.001068	6.841844	6.274403	14-3-3 protein binding
GO:0001091	0.001043	6.865942	0.070618	RNA polymerase II general transcription initiation factor binding
GO:0031624	0.001043	6.865942	0.136576	ubiquitin conjugating enzyme binding
GO:0008106	0.001043	6.865942	0.329479	alcohol dehydrogenase (NADP+) activity
GO:0090599	0.001043	6.865942	0.891598	alpha-glucosidase activity
GO:0004622	0.001043	6.865942	1.122710	lysophospholipase activity
GO:0010485	0.001043	6.865942	1.176777	H4 histone acetyltransferase activity
GO:0051861	0.001043	6.865942	1.361602	glycolipid binding
GO:0015248	0.001043	6.865942	1.702528	sterol transporter activity
GO:0015616	0.001043	6.865942	1.715774	DNA translocase activity
GO:0016273	0.001043	6.865942	1.827691	arginine N-methyltransferase activity
GO:0051010	0.001043	6.865942	2.178072	microtubule plus-end binding
GO:0005109	0.001043	6.865942	2.326683	frizzled binding
GO:0018455	0.001043	6.865942	2.509004	alcohol dehydrogenase [NAD(P)+] activity
GO:1901474	0.001043	6.865942	4.328484	azole transmembrane transporter activity
GO:0005402	0.001017	6.890635	0.000000	carbohydrate:cation symporter activity
GO:0043295	0.001017	6.890635	0.000000	glutathione binding
GO:0008143	0.001017	6.890635	0.242946	poly(A) binding
GO:0005243	0.001017	6.890635	0.530628	gap junction channel activity
GO:0034595	0.001017	6.890635	0.753772	phosphatidylinositol phosphate 5-phosphatase activity
GO:0004383	0.001017	6.890635	0.832909	guanylate cyclase activity
GO:0004396	0.001017	6.890635	0.993252	hexokinase activity
GO:0017116	0.001017	6.890635	1.441019	single-stranded DNA helicase activity
GO:0017080	0.001017	6.890635	1.536867	sodium channel regulator activity
GO:0042285	0.001017	6.890635	1.563394	xylosyltransferase activity
GO:0016833	0.001017	6.890635	1.894617	oxo-acid-lyase activity
GO:0098631	0.001017	6.890635	2.213754	cell adhesion mediator activity
GO:0008138	0.001017	6.890635	2.388763	protein tyrosine/serine/threonine phosphatase activity
GO:0043014	0.001017	6.890635	2.484907	alpha-tubulin binding
GO:0008417	0.001017	6.890635	2.801844	fucosyltransferase activity
GO:0003993	0.001017	6.890635	3.048088	acid phosphatase activity
GO:0031420	0.001017	6.890635	3.869637	alkali metal ion binding
GO:0003707	0.001017	6.890635	3.881048	steroid hormone receptor activity
GO:0019865	0.001017	6.890635	3.896909	immunoglobulin binding
GO:0070628	0.001017	6.890635	3.896909	proteasome binding
GO:0052742	0.001017	6.890635	3.948355	phosphatidylinositol kinase activity
GO:0016274	0.000992	6.915952	0.000000	protein-arginine N-methyltransferase activity
GO:0000295	0.000992	6.915952	0.097638	adenine nucleotide transmembrane transporter activity
GO:0099604	0.000992	6.915952	0.165080	ligand-gated calcium channel activity
GO:0042974	0.000992	6.915952	1.578185	retinoic acid receptor binding
GO:0005520	0.000992	6.915952	1.604297	insulin-like growth factor binding
GO:0031435	0.000992	6.915952	3.238176	mitogen-activated protein kinase kinase kinase binding
GO:0047429	0.000992	6.915952	3.620573	nucleoside-triphosphate diphosphatase activity
GO:0016307	0.000992	6.915952	3.973673	phosphatidylinositol phosphate kinase activity
GO:1901567	0.000992	6.915952	6.546233	fatty acid derivative binding
GO:0008556	0.000966	6.941928	0.000000	potassium transmembrane transporter activity, phosphorylative mechanism
GO:0015368	0.000966	6.941928	0.000000	calcium:cation antiporter activity
GO:0008296	0.000966	6.941928	0.025975	3'-5'-exodeoxyribonuclease activity
GO:0004022	0.000966	6.941928	0.075986	alcohol dehydrogenase (NAD+) activity
GO:0005416	0.000966	6.941928	0.191055	amino acid:cation symporter activity
GO:0000979	0.000966	6.941928	0.233615	RNA polymerase II core promoter sequence-specific DNA binding
GO:0004559	0.000966	6.941928	0.294239	alpha-mannosidase activity
GO:0005345	0.000966	6.941928	0.332706	purine nucleobase transmembrane transporter activity
GO:0098847	0.000966	6.941928	0.769133	sequence-specific single stranded DNA binding
GO:0016755	0.000966	6.941928	0.781254	transferase activity, transferring amino-acyl groups
GO:0042800	0.000966	6.941928	1.053762	histone methyltransferase activity (H3-K4 specific)
GO:0051920	0.000966	6.941928	1.359626	peroxiredoxin activity
GO:0005375	0.000966	6.941928	1.549800	copper ion transmembrane transporter activity
GO:0050664	0.000966	6.941928	1.774060	oxidoreductase activity, acting on NAD(P)H, oxygen as acceptor
GO:0015173	0.000966	6.941928	2.000769	aromatic amino acid transmembrane transporter activity
GO:0051059	0.000966	6.941928	2.307834	NF-kappaB binding
GO:0008536	0.000966	6.941928	2.604637	Ran GTPase binding
GO:0003906	0.000966	6.941928	2.859189	DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0046812	0.000966	6.941928	6.572209	host cell surface binding
GO:0005346	0.000941	6.968596	0.000000	purine ribonucleotide transmembrane transporter activity
GO:0015373	0.000941	6.968596	0.000000	anion:sodium symporter activity
GO:0120015	0.000941	6.968596	0.000000	sterol transfer activity
GO:0070008	0.000941	6.968596	0.077962	serine-type exopeptidase activity
GO:0015038	0.000941	6.968596	0.217723	glutathione disulfide oxidoreductase activity
GO:0140326	0.000941	6.968596	0.239230	ATPase-coupled intramembrane lipid transporter activity
GO:0004115	0.000941	6.968596	0.432133	3',5'-cyclic-AMP phosphodiesterase activity
GO:0005537	0.000941	6.968596	0.953430	mannose binding
GO:0048020	0.000941	6.968596	1.023811	CCR chemokine receptor binding
GO:0005251	0.000941	6.968596	1.419520	delayed rectifier potassium channel activity
GO:0047372	0.000941	6.968596	1.692387	acylglycerol lipase activity
GO:0043015	0.000941	6.968596	2.562868	gamma-tubulin binding
GO:0016615	0.000941	6.968596	2.738221	malate dehydrogenase activity
GO:0016742	0.000941	6.968596	2.862973	hydroxymethyl-, formyl- and related transferase activity
GO:0042287	0.000941	6.968596	4.155075	MHC protein binding
GO:0016679	0.000941	6.968596	4.253118	oxidoreductase activity, acting on diphenols and related substances as donors
GO:0050997	0.000941	6.968596	6.598877	quaternary ammonium group binding
GO:0005388	0.000916	6.995995	0.000000	calcium transmembrane transporter activity, phosphorylative mechanism
GO:0031210	0.000916	6.995995	0.000000	phosphatidylcholine binding
GO:0043047	0.000916	6.995995	0.000000	single-stranded telomeric DNA binding
GO:0004549	0.000916	6.995995	0.027399	tRNA-specific ribonuclease activity
GO:0008308	0.000916	6.995995	0.054067	voltage-gated anion channel activity
GO:0120014	0.000916	6.995995	0.154151	phospholipid transfer activity
GO:0005313	0.000916	6.995995	0.200671	L-glutamate transmembrane transporter activity
GO:0008327	0.000916	6.995995	0.510826	methyl-CpG binding
GO:0070402	0.000916	6.995995	0.527355	NADPH binding
GO:0005337	0.000916	6.995995	1.152680	nucleoside transmembrane transporter activity
GO:0005384	0.000916	6.995995	1.603867	manganese ion transmembrane transporter activity
GO:0046966	0.000916	6.995995	1.658228	thyroid hormone receptor binding
GO:0042834	0.000916	6.995995	1.871802	peptidoglycan binding
GO:0010314	0.000916	6.995995	2.187922	phosphatidylinositol-5-phosphate binding
GO:0017110	0.000916	6.995995	3.700616	nucleoside-diphosphatase activity
GO:0004993	0.000890	7.024166	0.000000	G protein-coupled serotonin receptor activity
GO:0071813	0.000890	7.024166	0.000000	lipoprotein particle binding
GO:0003916	0.000890	7.024166	0.055570	DNA topoisomerase activity
GO:0043395	0.000890	7.024166	0.182322	heparan sulfate proteoglycan binding
GO:0004435	0.000890	7.024166	0.538997	phosphatidylinositol phospholipase C activity
GO:0050681	0.000890	7.024166	1.029619	androgen receptor binding
GO:0008443	0.000890	7.024166	1.126783	phosphofructokinase activity
GO:0015157	0.000890	7.024166	1.707342	oligosaccharide transmembrane transporter activity
GO:0017134	0.000890	7.024166	1.712510	fibroblast growth factor binding
GO:0005092	0.000890	7.024166	2.368908	GDP-dissociation inhibitor activity
GO:0016717	0.000890	7.024166	2.556119	oxidoreductase activity, acting on paired donors, with oxidation of a pair of donors resulting in the reduction of molecular oxygen to two molecules of water
GO:0046625	0.000890	7.024166	3.462158	sphingolipid binding
GO:0099589	0.000890	7.024166	3.781589	serotonin receptor activity
GO:0071814	0.000890	7.024166	4.030441	protein-lipid complex binding
GO:0004143	0.000890	7.024166	4.081886	diacylglycerol kinase activity
GO:0000984	0.000890	7.024166	4.122052	bacterial-type RNA polymerase transcription regulatory region sequence-specific DNA binding
GO:0015385	0.000865	7.053153	0.000000	sodium:proton antiporter activity
GO:0016889	0.000865	7.053153	0.000000	endodeoxyribonuclease activity, producing 3'-phosphomonoesters
GO:0015154	0.000865	7.053153	0.028988	disaccharide transmembrane transporter activity
GO:0016888	0.000865	7.053153	0.084557	endodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0030552	0.000865	7.053153	0.111226	cAMP binding
GO:0004653	0.000865	7.053153	0.137201	polypeptide N-acetylgalactosaminyltransferase activity
GO:0120227	0.000865	7.053153	0.162519	acyl-CoA binding
GO:0004954	0.000865	7.053153	0.257829	prostanoid receptor activity
GO:0042171	0.000865	7.053153	0.302281	lysophosphatidic acid acyltransferase activity
GO:0003950	0.000865	7.053153	1.725913	NAD+ ADP-ribosyltransferase activity
GO:0035381	0.000865	7.053153	2.345757	ATP-gated ion channel activity
GO:0030507	0.000865	7.053153	2.477527	spectrin binding
GO:0016812	0.000865	7.053153	2.580662	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amides
GO:0140312	0.000865	7.053153	2.611367	cargo adaptor activity
GO:0050699	0.000865	7.053153	3.428278	WW domain binding
GO:0004551	0.000865	7.053153	3.757774	nucleotide diphosphatase activity
GO:0016725	0.000865	7.053153	4.337675	oxidoreductase activity, acting on CH or CH2 groups
GO:0000182	0.000865	7.053153	4.345713	rDNA binding
GO:0035035	0.000865	7.053153	4.608986	histone acetyltransferase binding
GO:0015355	0.000839	7.083006	0.310155	secondary active monocarboxylate transmembrane transporter activity
GO:0000340	0.000839	7.083006	0.395313	RNA 7-methylguanosine cap binding
GO:0010333	0.000839	7.083006	0.563935	terpene synthase activity
GO:0106019	0.000839	7.083006	0.563935	phosphatidylinositol-4,5-bisphosphate phosphatase activity
GO:0000400	0.000839	7.083006	0.614366	four-way junction DNA binding
GO:0004550	0.000839	7.083006	0.992129	nucleoside diphosphate kinase activity
GO:0004652	0.000839	7.083006	1.185624	polynucleotide adenylyltransferase activity
GO:0015166	0.000839	7.083006	1.194840	polyol transmembrane transporter activity
GO:0005104	0.000839	7.083006	1.776492	fibroblast growth factor receptor binding
GO:0070492	0.000839	7.083006	1.988289	oligosaccharide binding
GO:0016713	0.000839	7.083006	2.048670	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced iron-sulfur protein as one donor, and incorporation of one atom of oxygen
GO:0005160	0.000839	7.083006	2.384025	transforming growth factor beta receptor binding
GO:0008172	0.000839	7.083006	2.893733	S-methyltransferase activity
GO:0098918	0.000839	7.083006	3.609279	structural constituent of synapse
GO:0055106	0.000839	7.083006	3.894291	ubiquitin-protein transferase regulator activity
GO:0016744	0.000839	7.083006	5.335058	transferase activity, transferring aldehyde or ketonic groups
GO:0004181	0.000814	7.113778	0.000000	metallocarboxypeptidase activity
GO:0005283	0.000814	7.113778	0.000000	amino acid:sodium symporter activity
GO:0008318	0.000814	7.113778	0.000000	protein prenyltransferase activity
GO:0070577	0.000814	7.113778	0.000000	lysine-acetylated histone binding
GO:0015116	0.000814	7.113778	0.089612	sulfate transmembrane transporter activity
GO:0035252	0.000814	7.113778	0.089612	UDP-xylosyltransferase activity
GO:0016723	0.000814	7.113778	0.485508	oxidoreductase activity, oxidizing metal ions, NAD or NADP as acceptor
GO:0050431	0.000814	7.113778	0.594707	transforming growth factor beta binding
GO:0004017	0.000814	7.113778	0.708651	adenylate kinase activity
GO:0008525	0.000814	7.113778	0.940983	phosphatidylcholine transporter activity
GO:0019238	0.000814	7.113778	1.234744	cyclohydrolase activity
GO:0000014	0.000814	7.113778	1.362578	single-stranded DNA endodeoxyribonuclease activity
GO:0004602	0.000814	7.113778	1.497109	glutathione peroxidase activity
GO:0019956	0.000814	7.113778	1.646252	chemokine binding
GO:0016884	0.000814	7.113778	1.950364	carbon-nitrogen ligase activity, with glutamine as amido-N-donor
GO:0140033	0.000814	7.113778	2.010728	acetylation-dependent protein binding
GO:0016885	0.000814	7.113778	2.979984	ligase activity, forming carbon-carbon bonds
GO:0016151	0.000814	7.113778	3.511545	nickel cation binding
GO:0008484	0.000814	7.113778	4.216286	sulfuric ester hydrolase activity
GO:0015203	0.000814	7.113778	4.576321	polyamine transmembrane transporter activity
GO:0016801	0.000814	7.113778	5.188956	hydrolase activity, acting on ether bonds
GO:0004526	0.000788	7.145527	0.000000	ribonuclease P activity
GO:0008137	0.000788	7.145527	0.000000	NADH dehydrogenase (ubiquinone) activity
GO:0050136	0.000788	7.145527	0.000000	NADH dehydrogenase (quinone) activity
GO:0000155	0.000788	7.145527	0.062520	phosphorelay sensor kinase activity
GO:0015125	0.000788	7.145527	0.092373	bile acid transmembrane transporter activity
GO:0015165	0.000788	7.145527	0.303682	pyrimidine nucleotide-sugar transmembrane transporter activity
GO:0008574	0.000788	7.145527	0.394654	ATP-dependent microtubule motor activity, plus-end-directed
GO:0016841	0.000788	7.145527	0.709148	ammonia-lyase activity
GO:0004000	0.000788	7.145527	0.922722	adenosine deaminase activity
GO:0017075	0.000788	7.145527	1.054649	syntaxin-1 binding
GO:0008970	0.000788	7.145527	1.402295	phospholipase A1 activity
GO:0019206	0.000788	7.145527	1.418043	nucleoside kinase activity
GO:0015925	0.000788	7.145527	2.506184	galactosidase activity
GO:0004745	0.000788	7.145527	2.788589	retinol dehydrogenase activity
GO:0008381	0.000788	7.145527	3.065800	mechanosensitive ion channel activity
GO:0008519	0.000788	7.145527	3.356110	ammonium transmembrane transporter activity
GO:0016500	0.000788	7.145527	4.135940	protein-hormone receptor activity
GO:0017151	0.000788	7.145527	4.701360	DEAD/H-box RNA helicase binding
GO:0004439	0.000763	7.178317	0.000000	phosphatidylinositol-4,5-bisphosphate 5-phosphatase activity
GO:0004861	0.000763	7.178317	0.000000	cyclin-dependent protein serine/threonine kinase inhibitor activity
GO:0015378	0.000763	7.178317	0.000000	sodium:chloride symporter activity
GO:0043027	0.000763	7.178317	0.000000	cysteine-type endopeptidase inhibitor activity involved in apoptotic process
GO:0004955	0.000763	7.178317	0.125163	prostaglandin receptor activity
GO:0061608	0.000763	7.178317	0.448950	nuclear import signal receptor activity
GO:0004890	0.000763	7.178317	0.569095	GABA-A receptor activity
GO:0031543	0.000763	7.178317	0.606136	peptidyl-proline dioxygenase activity
GO:0008093	0.000763	7.178317	0.847298	cytoskeletal anchor activity
GO:0005353	0.000763	7.178317	0.942608	fructose transmembrane transporter activity
GO:0004935	0.000763	7.178317	1.394593	adrenergic receptor activity
GO:0043024	0.000763	7.178317	2.108191	ribosomal small subunit binding
GO:0005315	0.000763	7.178317	2.676445	inorganic phosphate transmembrane transporter activity
GO:0033549	0.000763	7.178317	2.676445	MAP kinase phosphatase activity
GO:0030898	0.000763	7.178317	3.252955	actin-dependent ATPase activity
GO:0008504	0.000763	7.178317	3.312973	monoamine transmembrane transporter activity
GO:0004690	0.000763	7.178317	3.571409	cyclic nucleotide-dependent protein kinase activity
GO:0030506	0.000763	7.178317	3.843030	ankyrin binding
GO:0035173	0.000763	7.178317	4.029510	histone kinase activity
GO:0070034	0.000763	7.178317	4.227807	telomerase RNA binding
GO:0030983	0.000763	7.178317	4.570234	mismatched DNA binding
GO:0070182	0.000763	7.178317	4.734150	DNA polymerase binding
GO:0097617	0.000763	7.178317	5.368465	annealing activity
GO:0061783	0.000763	7.178317	6.318968	peptidoglycan muralytic activity
GO:0070064	0.000763	7.178317	6.610875	proline-rich region binding
GO:0042165	0.000763	7.178317	6.808598	neurotransmitter binding
GO:0046965	0.000738	7.212218	0.129212	retinoid X receptor binding
GO:0098632	0.000738	7.212218	0.321584	cell-cell adhesion mediator activity
GO:0051393	0.000738	7.212218	0.370374	alpha-actinin binding
GO:0004144	0.000738	7.212218	0.710242	diacylglycerol O-acyltransferase activity
GO:0070696	0.000738	7.212218	0.807091	transmembrane receptor protein serine/threonine kinase binding
GO:0032454	0.000738	7.212218	0.895384	histone demethylase activity (H3-K9 specific)
GO:0005044	0.000738	7.212218	1.051545	scavenger receptor activity
GO:0004448	0.000738	7.212218	2.855280	isocitrate dehydrogenase activity
GO:0016886	0.000738	7.212218	3.078424	ligase activity, forming phosphoric ester bonds
GO:0004697	0.000738	7.212218	3.605310	protein kinase C activity
GO:0042813	0.000738	7.212218	3.969641	Wnt-activated receptor activity
GO:0038187	0.000738	7.212218	4.202632	pattern recognition receptor activity
GO:0070840	0.000738	7.212218	4.218493	dynein complex binding
GO:0035004	0.000738	7.212218	4.381596	phosphatidylinositol 3-kinase activity
GO:0070325	0.000738	7.212218	4.398697	lipoprotein particle receptor binding
GO:0016778	0.000738	7.212218	4.623281	diphosphotransferase activity
GO:0005326	0.000738	7.212218	4.674761	neurotransmitter transmembrane transporter activity
GO:0030742	0.000738	7.212218	6.644777	GTP-dependent protein binding
GO:0000062	0.000712	7.247309	0.000000	fatty-acyl-CoA binding
GO:0000900	0.000712	7.247309	0.000000	translation repressor activity, mRNA regulatory element binding
GO:0004931	0.000712	7.247309	0.000000	extracellularly ATP-gated cation channel activity
GO:0008553	0.000712	7.247309	0.000000	proton-exporting ATPase activity, phosphorylative mechanism
GO:0008554	0.000712	7.247309	0.000000	sodium transmembrane transporter activity, phosphorylative mechanism
GO:0022821	0.000712	7.247309	0.000000	potassium ion antiporter activity
GO:0005432	0.000712	7.247309	0.035091	calcium:sodium antiporter activity
GO:0015269	0.000712	7.247309	0.068993	calcium-activated potassium channel activity
GO:0008379	0.000712	7.247309	0.194156	thioredoxin peroxidase activity
GO:0070006	0.000712	7.247309	0.194156	metalloaminopeptidase activity
GO:0015181	0.000712	7.247309	0.405465	arginine transmembrane transporter activity
GO:0008253	0.000712	7.247309	0.474458	5'-nucleotidase activity
GO:0003988	0.000712	7.247309	0.656780	acetyl-CoA C-acyltransferase activity
GO:0008297	0.000712	7.247309	0.857450	single-stranded DNA exodeoxyribonuclease activity
GO:0034237	0.000712	7.247309	1.011601	protein kinase A regulatory subunit binding
GO:0036041	0.000712	7.247309	1.024504	long-chain fatty acid binding
GO:0005172	0.000712	7.247309	1.086636	vascular endothelial growth factor receptor binding
GO:0015651	0.000712	7.247309	1.156432	quaternary ammonium group transmembrane transporter activity
GO:0048256	0.000712	7.247309	1.496109	flap endonuclease activity
GO:0016635	0.000712	7.247309	1.904237	oxidoreductase activity, acting on the CH-CH group of donors, quinone or related compound as acceptor
GO:0008603	0.000712	7.247309	2.481926	cAMP-dependent protein kinase regulator activity
GO:0050780	0.000712	7.247309	2.708050	dopamine receptor binding
GO:0015095	0.000712	7.247309	3.599267	magnesium ion transmembrane transporter activity
GO:0005212	0.000712	7.247309	3.773582	structural constituent of eye lens
GO:0048156	0.000712	7.247309	3.912023	tau protein binding
GO:0016502	0.000712	7.247309	4.004732	nucleotide receptor activity
GO:0005186	0.000712	7.247309	4.433789	pheromone activity
GO:0001848	0.000712	7.247309	6.679868	complement binding
GO:0005351	0.000687	7.283677	0.000000	carbohydrate:proton symporter activity
GO:0004661	0.000687	7.283677	0.169899	protein geranylgeranyltransferase activity
GO:0016421	0.000687	7.283677	0.169899	CoA carboxylase activity
GO:0016308	0.000687	7.283677	0.367725	1-phosphatidylinositol-4-phosphate 5-kinase activity
GO:0016423	0.000687	7.283677	0.831298	tRNA (guanine) methyltransferase activity
GO:0016427	0.000687	7.283677	0.831298	tRNA (cytosine) methyltransferase activity
GO:0009922	0.000687	7.283677	0.893818	fatty acid elongase activity
GO:0008139	0.000687	7.283677	0.952658	nuclear localization sequence binding
GO:0052744	0.000687	7.283677	1.146814	phosphatidylinositol monophosphate phosphatase activity
GO:0070412	0.000687	7.283677	1.329136	R-SMAD binding
GO:0004630	0.000687	7.283677	1.440362	phospholipase D activity
GO:0004198	0.000687	7.283677	1.571698	calcium-dependent cysteine-type endopeptidase activity
GO:0010484	0.000687	7.283677	1.594512	H3 histone acetyltransferase activity
GO:0008174	0.000687	7.283677	1.645806	mRNA methyltransferase activity
GO:0004096	0.000687	7.283677	1.667008	catalase activity
GO:0015271	0.000687	7.283677	1.734601	outward rectifier potassium channel activity
GO:0032183	0.000687	7.283677	1.747588	SUMO binding
GO:0004596	0.000687	7.283677	1.822157	peptide alpha-N-acetyltransferase activity
GO:0030547	0.000687	7.283677	3.125785	receptor inhibitor activity
GO:0051787	0.000687	7.283677	6.716236	misfolded protein binding
GO:0097602	0.000687	7.283677	6.716236	cullin family protein binding
GO:0003841	0.000661	7.321417	0.000000	1-acylglycerol-3-phosphate O-acyltransferase activity
GO:0035615	0.000661	7.321417	0.000000	clathrin adaptor activity
GO:0050750	0.000661	7.321417	0.109199	low-density lipoprotein particle receptor binding
GO:0002161	0.000661	7.321417	0.268264	aminoacyl-tRNA editing activity
GO:0008526	0.000661	7.321417	0.325422	phosphatidylinositol transfer activity
GO:0016018	0.000661	7.321417	0.325422	cyclosporin A binding
GO:0120020	0.000661	7.321417	0.352821	cholesterol transfer activity
GO:0034236	0.000661	7.321417	0.379490	protein kinase A catalytic subunit binding
GO:0015280	0.000661	7.321417	0.526093	ligand-gated sodium channel activity
GO:0070403	0.000661	7.321417	0.653926	NAD+ binding
GO:0005123	0.000661	7.321417	0.767255	death receptor binding
GO:0016842	0.000661	7.321417	0.885038	amidine-lyase activity
GO:0004535	0.000661	7.321417	1.045969	poly(A)-specific ribonuclease activity
GO:0034594	0.000661	7.321417	1.184555	phosphatidylinositol trisphosphate phosphatase activity
GO:0017169	0.000661	7.321417	1.207812	CDP-alcohol phosphatidyltransferase activity
GO:0008097	0.000661	7.321417	1.624705	5S rRNA binding
GO:0005436	0.000661	7.321417	1.711717	sodium:phosphate symporter activity
GO:0003995	0.000661	7.321417	1.978345	acyl-CoA dehydrogenase activity
GO:0016880	0.000661	7.321417	2.158004	acid-ammonia (or amide) ligase activity
GO:0043023	0.000661	7.321417	2.251292	ribosomal large subunit binding
GO:0043855	0.000661	7.321417	2.611200	cyclic nucleotide-gated ion channel activity
GO:0031434	0.000661	7.321417	3.643641	mitogen-activated protein kinase kinase binding
GO:0042302	0.000661	7.321417	3.847690	structural constituent of cuticle
GO:0005159	0.000661	7.321417	4.507897	insulin-like growth factor receptor binding
GO:0003680	0.000661	7.321417	4.613977	AT DNA binding
GO:0140272	0.000661	7.321417	6.951699	exogenous protein binding
GO:0000986	0.000636	7.360638	0.000000	bacterial-type cis-regulatory region sequence-specific DNA binding
GO:0004185	0.000636	7.360638	0.000000	serine-type carboxypeptidase activity
GO:0005221	0.000636	7.360638	0.000000	intracellular cyclic nucleotide activated cation channel activity
GO:0016303	0.000636	7.360638	0.000000	1-phosphatidylinositol-3-kinase activity
GO:0001618	0.000636	7.360638	0.039221	virus receptor activity
GO:0005391	0.000636	7.360638	0.076961	sodium:potassium-exchanging ATPase activity
GO:0001614	0.000636	7.360638	0.113329	purinergic nucleotide receptor activity
GO:0000099	0.000636	7.360638	0.182322	sulfur amino acid transmembrane transporter activity
GO:0016803	0.000636	7.360638	0.246860	ether hydrolase activity
GO:0099186	0.000636	7.360638	0.277632	structural constituent of postsynapse
GO:0030955	0.000636	7.360638	0.470004	potassium ion binding
GO:0005078	0.000636	7.360638	0.824175	MAP-kinase scaffold activity
GO:0008331	0.000636	7.360638	1.199965	high voltage-gated calcium channel activity
GO:0030228	0.000636	7.360638	1.199965	lipoprotein particle receptor activity
GO:0036122	0.000636	7.360638	1.893112	BMP binding
GO:0016634	0.000636	7.360638	2.017566	oxidoreductase activity, acting on the CH-CH group of donors, oxygen as acceptor
GO:0015106	0.000636	7.360638	3.042616	bicarbonate transmembrane transporter activity
GO:0016899	0.000636	7.360638	3.130263	oxidoreductase activity, acting on the CH-OH group of donors, oxygen as acceptor
GO:1901611	0.000636	7.360638	3.274878	phosphatidylglycerol binding
GO:0043424	0.000636	7.360638	3.682861	protein histidine kinase binding
GO:0019237	0.000636	7.360638	4.653198	centromeric DNA binding
GO:0016774	0.000636	7.360638	4.771701	phosphotransferase activity, carboxyl group as acceptor
GO:0043274	0.000636	7.360638	4.916471	phospholipase binding
GO:0050998	0.000636	7.360638	4.916471	nitric-oxide synthase binding
GO:0005521	0.000636	7.360638	6.793197	lamin binding
GO:0030676	0.000610	7.401460	0.000000	Rac guanyl-nucleotide exchange factor activity
GO:0009008	0.000610	7.401460	0.080043	DNA-methyltransferase activity
GO:0003691	0.000610	7.401460	0.117783	double-stranded telomeric DNA binding
GO:0004438	0.000610	7.401460	0.117783	phosphatidylinositol-3-phosphatase activity
GO:0062105	0.000610	7.401460	0.223144	RNA 2'-O-methyltransferase activity
GO:0000293	0.000610	7.401460	0.287682	ferric-chelate reductase activity
GO:0008515	0.000610	7.401460	0.348307	sucrose transmembrane transporter activity
GO:0008821	0.000610	7.401460	0.348307	crossover junction endodeoxyribonuclease activity
GO:0019707	0.000610	7.401460	0.348307	protein-cysteine S-acyltransferase activity
GO:0003872	0.000610	7.401460	0.377294	6-phosphofructokinase activity
GO:0046789	0.000610	7.401460	0.459532	host cell surface receptor binding
GO:0004563	0.000610	7.401460	0.650588	beta-N-acetylhexosaminidase activity
GO:0016530	0.000610	7.401460	0.773190	metallochaperone activity
GO:0016505	0.000610	7.401460	0.810930	peptidase activator activity involved in apoptotic process
GO:0034511	0.000610	7.401460	0.810930	U3 snoRNA binding
GO:0047555	0.000610	7.401460	0.864997	3',5'-cyclic-GMP phosphodiesterase activity
GO:0016594	0.000610	7.401460	0.980829	glycine binding
GO:0032453	0.000610	7.401460	1.084626	histone demethylase activity (H3-K4 specific)
GO:0034979	0.000610	7.401460	1.287854	NAD-dependent protein deacetylase activity
GO:0010340	0.000610	7.401460	1.310583	carboxyl-O-methyltransferase activity
GO:0016647	0.000610	7.401460	1.558145	oxidoreductase activity, acting on the CH-NH group of donors, oxygen as acceptor
GO:0005003	0.000610	7.401460	1.575536	ephrin receptor activity
GO:0080043	0.000610	7.401460	1.712295	quercetin 3-O-glucosyltransferase activity
GO:0004952	0.000610	7.401460	1.825892	dopamine neurotransmitter receptor activity
GO:0031489	0.000610	7.401460	1.897120	myosin V binding
GO:0015204	0.000610	7.401460	1.998096	urea transmembrane transporter activity
GO:0016653	0.000610	7.401460	2.233592	oxidoreductase activity, acting on NAD(P)H, heme protein as acceptor
GO:0016208	0.000610	7.401460	2.255668	AMP binding
GO:0004300	0.000610	7.401460	2.382628	enoyl-CoA hydratase activity
GO:0050291	0.000610	7.401460	2.532373	sphingosine N-acyltransferase activity
GO:0005086	0.000610	7.401460	2.596498	ARF guanyl-nucleotide exchange factor activity
GO:0031690	0.000610	7.401460	2.862201	adrenergic receptor binding
GO:0070568	0.000610	7.401460	2.892684	guanylyltransferase activity
GO:0008169	0.000610	7.401460	3.212187	C-methyltransferase activity
GO:0071837	0.000610	7.401460	3.776585	HMG box domain binding
GO:0004679	0.000610	7.401460	3.794552	AMP-activated protein kinase activity
GO:0010851	0.000610	7.401460	4.212745	cyclase regulator activity
GO:0004365	0.000585	7.444020	0.000000	glyceraldehyde-3-phosphate dehydrogenase (NAD+) (phosphorylating) activity
GO:0008656	0.000585	7.444020	0.000000	cysteine-type endopeptidase activator activity involved in apoptotic process
GO:0015168	0.000585	7.444020	0.000000	glycerol transmembrane transporter activity
GO:0019706	0.000585	7.444020	0.000000	protein-cysteine S-palmitoyltransferase activity
GO:0001972	0.000585	7.444020	0.042560	retinoic acid binding
GO:0004936	0.000585	7.444020	0.265703	alpha-adrenergic receptor activity
GO:0016215	0.000585	7.444020	0.419854	acyl-CoA desaturase activity
GO:0140327	0.000585	7.444020	0.475424	flippase activity
GO:0004340	0.000585	7.444020	0.553385	glucokinase activity
GO:0046030	0.000585	7.444020	0.853490	inositol trisphosphate phosphatase activity
GO:0005164	0.000585	7.444020	0.889857	tumor necrosis factor receptor binding
GO:0047498	0.000585	7.444020	1.054161	calcium-dependent phospholipase A2 activity
GO:0016639	0.000585	7.444020	1.233954	oxidoreductase activity, acting on the CH-NH2 group of donors, NAD or NADP as acceptor
GO:0004523	0.000585	7.444020	1.449473	RNA-DNA hybrid ribonuclease activity
GO:0034483	0.000585	7.444020	1.724318	heparan sulfate sulfotransferase activity
GO:0043891	0.000585	7.444020	1.894944	glyceraldehyde-3-phosphate dehydrogenase (NAD(P)+) (phosphorylating) activity
GO:0045159	0.000585	7.444020	1.939680	myosin II binding
GO:0003746	0.000585	7.444020	1.982500	translation elongation factor activity
GO:1990381	0.000585	7.444020	2.079442	ubiquitin-specific protease binding
GO:0000104	0.000585	7.444020	2.100948	succinate dehydrogenase activity
GO:0004738	0.000585	7.444020	2.167811	pyruvate dehydrogenase activity
GO:0051428	0.000585	7.444020	2.271678	peptide hormone receptor binding
GO:0015112	0.000585	7.444020	2.678636	nitrate transmembrane transporter activity
GO:0015114	0.000585	7.444020	2.678636	phosphate ion transmembrane transporter activity
GO:1990825	0.000585	7.444020	3.493869	sequence-specific mRNA binding
GO:0008061	0.000585	7.444020	4.235366	chitin binding
GO:0000156	0.000585	7.444020	4.452829	phosphorelay response regulator activity
GO:0001016	0.000585	7.444020	4.541906	RNA polymerase III transcription regulatory region sequence-specific DNA binding
GO:0042301	0.000585	7.444020	4.733525	phosphate ion binding
GO:0008179	0.000585	7.444020	4.999853	adenylate cyclase binding
GO:0015278	0.000559	7.488472	0.000000	calcium-release channel activity
GO:0017108	0.000559	7.488472	0.000000	5'-flap endonuclease activity
GO:0004972	0.000559	7.488472	0.044452	NMDA glutamate receptor activity
GO:0017153	0.000559	7.488472	0.044452	sodium:dicarboxylate symporter activity
GO:0042605	0.000559	7.488472	0.044452	peptide antigen binding
GO:0030249	0.000559	7.488472	0.087011	guanylate cyclase regulator activity
GO:0004691	0.000559	7.488472	0.310155	cAMP-dependent protein kinase activity
GO:0004565	0.000559	7.488472	0.342945	beta-galactosidase activity
GO:0099528	0.000559	7.488472	0.342945	G protein-coupled neurotransmitter receptor activity
GO:0005347	0.000559	7.488472	0.492476	ATP transmembrane transporter activity
GO:0015141	0.000559	7.488472	0.646627	succinate transmembrane transporter activity
GO:0071916	0.000559	7.488472	0.646627	dipeptide transmembrane transporter activity
GO:0004805	0.000559	7.488472	1.213023	trehalose-phosphatase activity
GO:0035197	0.000559	7.488472	1.278405	siRNA binding
GO:0070530	0.000559	7.488472	1.278405	K63-linked polyubiquitin modification-dependent protein binding
GO:0005527	0.000559	7.488472	1.363305	macrolide binding
GO:0035259	0.000559	7.488472	1.493925	glucocorticoid receptor binding
GO:0046974	0.000559	7.488472	1.600305	histone methyltransferase activity (H3-K9 specific)
GO:0061778	0.000559	7.488472	1.753145	intracellular chloride channel activity
GO:0043035	0.000559	7.488472	1.784155	chromatin insulator sequence binding
GO:0070180	0.000559	7.488472	1.791759	large ribosomal subunit rRNA binding
GO:0030296	0.000559	7.488472	1.878771	protein tyrosine kinase activator activity
GO:0008079	0.000559	7.488472	2.026951	translation termination factor activity
GO:0106130	0.000559	7.488472	2.161231	purine phosphoribosyltransferase activity
GO:0016624	0.000559	7.488472	2.212262	oxidoreductase activity, acting on the aldehyde or oxo group of donors, disulfide as acceptor
GO:0016805	0.000559	7.488472	2.265544	dipeptidase activity
GO:0016670	0.000559	7.488472	2.368543	oxidoreductase activity, acting on a sulfur group of donors, oxygen as acceptor
GO:0004568	0.000559	7.488472	2.849129	chitinase activity
GO:0017160	0.000559	7.488472	3.151181	Ral GTPase binding
GO:0004645	0.000559	7.488472	3.399681	1,4-alpha-oligoglucan phosphorylase activity
GO:0060229	0.000559	7.488472	3.531694	lipase activator activity
GO:0045125	0.000559	7.488472	3.561821	bioactive lipid receptor activity
GO:0008186	0.000559	7.488472	3.563110	RNA-dependent ATPase activity
GO:0048185	0.000559	7.488472	4.494746	activin binding
GO:0046703	0.000559	7.488472	4.674951	natural killer cell lectin-like receptor binding
GO:0005549	0.000559	7.488472	7.118753	odorant binding
GO:0000992	0.000534	7.534992	0.000000	RNA polymerase III cis-regulatory region sequence-specific DNA binding
GO:0003909	0.000534	7.534992	0.000000	DNA ligase activity
GO:0005001	0.000534	7.534992	0.000000	transmembrane receptor protein tyrosine phosphatase activity
GO:0005229	0.000534	7.534992	0.000000	intracellular calcium activated chloride channel activity
GO:0015379	0.000534	7.534992	0.000000	potassium:chloride symporter activity
GO:0019211	0.000534	7.534992	0.000000	phosphatase activator activity
GO:0030250	0.000534	7.534992	0.000000	guanylate cyclase activator activity
GO:0030548	0.000534	7.534992	0.000000	acetylcholine receptor regulator activity
GO:0042030	0.000534	7.534992	0.000000	ATPase inhibitor activity
GO:0051998	0.000534	7.534992	0.000000	protein carboxyl O-methyltransferase activity
GO:0019198	0.000534	7.534992	0.046520	transmembrane receptor protein phosphatase activity
GO:0035312	0.000534	7.534992	0.046520	5'-3' exodeoxyribonuclease activity
GO:0010853	0.000534	7.534992	0.133531	cyclase activator activity
GO:0030169	0.000534	7.534992	0.510826	low-density lipoprotein particle binding
GO:0042288	0.000534	7.534992	0.566395	MHC class I protein binding
GO:0016175	0.000534	7.534992	0.593064	superoxide-generating NADPH oxidase activity
GO:0004032	0.000534	7.534992	0.669050	alditol:NADP+ 1-oxidoreductase activity
GO:0097157	0.000534	7.534992	1.033015	pre-mRNA intronic binding
GO:0004865	0.000534	7.534992	1.098612	protein serine/threonine phosphatase inhibitor activity
GO:0008190	0.000534	7.534992	1.232144	eukaryotic initiation factor 4E binding
GO:0001222	0.000534	7.534992	1.272966	transcription corepressor binding
GO:0015578	0.000534	7.534992	1.299283	mannose transmembrane transporter activity
GO:0015187	0.000534	7.534992	1.386294	glycine transmembrane transporter activity
GO:0034596	0.000534	7.534992	1.398129	phosphatidylinositol phosphate 4-phosphatase activity
GO:0000026	0.000534	7.534992	1.599868	alpha-1,2-mannosyltransferase activity
GO:0016595	0.000534	7.534992	1.628306	glutamate binding
GO:0061578	0.000534	7.534992	2.120264	Lys63-specific deubiquitinase activity
GO:0004723	0.000534	7.534992	2.148434	calcium-dependent protein serine/threonine phosphatase activity
GO:0089720	0.000534	7.534992	2.170413	caspase binding
GO:0005324	0.000534	7.534992	2.371578	long-chain fatty acid transporter activity
GO:0008391	0.000534	7.534992	2.500655	arachidonic acid monooxygenase activity
GO:0016714	0.000534	7.534992	2.500655	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced pteridine as one donor, and incorporation of one atom of oxygen
GO:0015658	0.000534	7.534992	2.593832	branched-chain amino acid transmembrane transporter activity
GO:0000171	0.000534	7.534992	2.751535	ribonuclease MRP activity
GO:0004564	0.000534	7.534992	2.895649	beta-fructofuranosidase activity
GO:0005545	0.000534	7.534992	2.986163	1-phosphatidylinositol binding
GO:0003857	0.000534	7.534992	3.178054	3-hydroxyacyl-CoA dehydrogenase activity
GO:0099602	0.000534	7.534992	3.377100	neurotransmitter receptor regulator activity
GO:0008195	0.000534	7.534992	3.692445	phosphatidate phosphatase activity
GO:0051400	0.000534	7.534992	3.910116	BH domain binding
GO:0008353	0.000534	7.534992	3.928084	RNA polymerase II CTD heptapeptide repeat kinase activity
GO:0070003	0.000534	7.534992	3.933691	threonine-type peptidase activity
GO:0005199	0.000534	7.534992	4.061264	structural constituent of cell wall
GO:0050321	0.000534	7.534992	4.386185	tau-protein kinase activity
GO:0030215	0.000534	7.534992	4.721471	semaphorin receptor binding
GO:0050811	0.000534	7.534992	4.721471	GABA receptor binding
GO:1901338	0.000534	7.534992	5.974778	catecholamine binding
GO:0034185	0.000534	7.534992	6.967550	apolipoprotein binding
GO:0031386	0.000534	7.534992	7.534992	protein tag
GO:0004322	0.000509	7.583782	0.000000	ferroxidase activity
GO:0004844	0.000509	7.583782	0.000000	uracil DNA N-glycosylase activity
GO:0005542	0.000509	7.583782	0.000000	folic acid binding
GO:0022851	0.000509	7.583782	0.000000	GABA-gated chloride ion channel activity
GO:0003747	0.000509	7.583782	0.095310	translation release factor activity
GO:0016004	0.000509	7.583782	0.095310	phospholipase activator activity
GO:0042166	0.000509	7.583782	0.262364	acetylcholine binding
GO:0031545	0.000509	7.583782	0.405465	peptidyl-proline 4-dioxygenase activity
GO:0015924	0.000509	7.583782	0.641854	mannosyl-oligosaccharide mannosidase activity
GO:0016493	0.000509	7.583782	0.765468	C-C chemokine receptor activity
GO:0016724	0.000509	7.583782	0.955511	oxidoreductase activity, oxidizing metal ions, oxygen as acceptor
GO:0033038	0.000509	7.583782	0.993252	bitter taste receptor activity
GO:0004303	0.000509	7.583782	1.064711	estradiol 17-beta-dehydrogenase activity
GO:0106018	0.000509	7.583782	1.064711	phosphatidylinositol-3,5-bisphosphate phosphatase activity
GO:0000702	0.000509	7.583782	1.147402	oxidized base lesion DNA N-glycosylase activity
GO:0097506	0.000509	7.583782	1.147402	deaminated base DNA N-glycosylase activity
GO:0001224	0.000509	7.583782	1.321756	RNA polymerase II transcription cofactor binding
GO:0033691	0.000509	7.583782	1.335001	sialic acid binding
GO:0004126	0.000509	7.583782	1.360977	cytidine deaminase activity
GO:0015186	0.000509	7.583782	1.435085	L-glutamine transmembrane transporter activity
GO:0031957	0.000509	7.583782	1.435085	very long-chain fatty acid-CoA ligase activity
GO:0003964	0.000509	7.583782	1.547563	RNA-directed DNA polymerase activity
GO:0032027	0.000509	7.583782	2.079442	myosin light chain binding
GO:1990380	0.000509	7.583782	2.169054	Lys48-specific deubiquitinase activity
GO:0016929	0.000509	7.583782	2.287471	SUMO-specific protease activity
GO:0019784	0.000509	7.583782	2.287471	NEDD8-specific protease activity
GO:0005237	0.000509	7.583782	2.393339	inhibitory extracellular ligand-gated ion channel activity
GO:0017040	0.000509	7.583782	2.521721	N-acylsphingosine amidohydrolase activity
GO:0042923	0.000509	7.583782	3.017983	neuropeptide binding
GO:0019107	0.000509	7.583782	3.636270	myristoyltransferase activity
GO:0042577	0.000509	7.583782	3.741235	lipid phosphatase activity
GO:0043422	0.000509	7.583782	3.906005	protein kinase B binding
GO:0030275	0.000509	7.583782	3.958907	LRR domain binding
GO:0005523	0.000509	7.583782	4.248495	tropomyosin binding
GO:0031005	0.000509	7.583782	4.248495	filamin binding
GO:0005035	0.000509	7.583782	4.341205	death receptor activity
GO:0035613	0.000509	7.583782	4.633272	RNA stem-loop binding
GO:0042975	0.000509	7.583782	4.770261	peroxisome proliferator activated receptor binding
GO:0010385	0.000509	7.583782	4.975699	double-stranded methylated DNA binding
GO:0098599	0.000509	7.583782	5.658959	palmitoyl hydrolase activity
GO:0001846	0.000509	7.583782	7.016341	opsonin binding
GO:0005522	0.000509	7.583782	7.016341	profilin binding
GO:0031681	0.000509	7.583782	7.016341	G-protein beta-subunit binding
GO:0015643	0.000509	7.583782	7.214063	toxic substance binding
GO:0005068	0.000483	7.635075	0.000000	transmembrane receptor protein tyrosine kinase adaptor activity
GO:0008310	0.000483	7.635075	0.000000	single-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0016453	0.000483	7.635075	0.000000	C-acetyltransferase activity
GO:0016907	0.000483	7.635075	0.000000	G protein-coupled acetylcholine receptor activity
GO:0017136	0.000483	7.635075	0.000000	NAD-dependent histone deacetylase activity
GO:0106006	0.000483	7.635075	0.000000	cytoskeletal protein-membrane anchor activity
GO:0004571	0.000483	7.635075	0.051293	mannosyl-oligosaccharide 1,2-alpha-mannosidase activity
GO:0005095	0.000483	7.635075	0.100083	GTPase inhibitor activity
GO:0004176	0.000483	7.635075	0.146603	ATP-dependent peptidase activity
GO:0005528	0.000483	7.635075	0.146603	FK506 binding
GO:0008469	0.000483	7.635075	0.146603	histone-arginine N-methyltransferase activity
GO:0004768	0.000483	7.635075	0.191055	stearoyl-CoA 9-desaturase activity
GO:0005041	0.000483	7.635075	0.274437	low-density lipoprotein particle receptor activity
GO:0005214	0.000483	7.635075	0.313658	structural constituent of chitin-based cuticle
GO:0098988	0.000483	7.635075	0.351398	G protein-coupled glutamate receptor activity
GO:0004957	0.000483	7.635075	0.456758	prostaglandin E receptor activity
GO:0032135	0.000483	7.635075	0.456758	DNA insertion or deletion binding
GO:1990404	0.000483	7.635075	0.489548	protein ADP-ribosylase activity
GO:0004791	0.000483	7.635075	0.552069	thioredoxin-disulfide reductase activity
GO:0015217	0.000483	7.635075	0.639080	ADP transmembrane transporter activity
GO:0031994	0.000483	7.635075	0.719123	insulin-like growth factor I binding
GO:0008865	0.000483	7.635075	0.744440	fructokinase activity
GO:0001056	0.000483	7.635075	1.486378	RNA polymerase III activity
GO:0015193	0.000483	7.635075	1.486378	L-proline transmembrane transporter activity
GO:0004311	0.000483	7.635075	1.577350	farnesyltranstransferase activity
GO:0046975	0.000483	7.635075	1.746909	histone methyltransferase activity (H3-K36 specific)
GO:0016933	0.000483	7.635075	1.782949	extracellularly glycine-gated ion channel activity
GO:0043139	0.000483	7.635075	2.185460	5'-3' DNA helicase activity
GO:0070990	0.000483	7.635075	2.564949	snRNP binding
GO:0003994	0.000483	7.635075	2.616243	aconitate hydratase activity
GO:0033170	0.000483	7.635075	2.627715	protein-DNA loading ATPase activity
GO:1904047	0.000483	7.635075	2.869692	S-adenosyl-L-methionine binding
GO:0034450	0.000483	7.635075	2.924858	ubiquitin-ubiquitin ligase activity
GO:1990756	0.000483	7.635075	3.193288	ubiquitin ligase-substrate adaptor activity
GO:0000150	0.000483	7.635075	3.552336	recombinase activity
GO:0046870	0.000483	7.635075	4.032842	cadmium ion binding
GO:0070122	0.000483	7.635075	4.134745	isopeptidase activity
GO:0019103	0.000483	7.635075	4.365443	pyrimidine nucleotide binding
GO:0071933	0.000483	7.635075	4.641350	Arp2/3 complex binding
GO:0051766	0.000483	7.635075	4.692795	inositol trisphosphate kinase activity
GO:0001161	0.000483	7.635075	4.732961	intronic transcription regulatory region sequence-specific DNA binding
GO:0034987	0.000483	7.635075	4.821554	immunoglobulin receptor binding
GO:0042043	0.000483	7.635075	4.821554	neurexin family protein binding
GO:0140416	0.000483	7.635075	4.950997	DNA-binding transcription factor inhibitor activity
GO:0015232	0.000483	7.635075	5.097617	heme transmembrane transporter activity
GO:0035375	0.000483	7.635075	5.190908	zymogen binding
GO:0051880	0.000483	7.635075	5.480858	G-quadruplex DNA binding
GO:0045294	0.000483	7.635075	7.067634	alpha-catenin binding
GO:0043176	0.000483	7.635075	7.265356	amine binding
GO:0005247	0.000458	7.689142	0.000000	voltage-gated chloride channel activity
GO:0008121	0.000458	7.689142	0.000000	ubiquinol-cytochrome-c reductase activity
GO:0008474	0.000458	7.689142	0.000000	palmitoyl-(protein) hydrolase activity
GO:0030976	0.000458	7.689142	0.105361	thiamine pyrophosphate binding
GO:0004301	0.000458	7.689142	0.328504	epoxide hydrolase activity
GO:1901612	0.000458	7.689142	0.328504	cardiolipin binding
GO:0015185	0.000458	7.689142	0.405465	gamma-aminobutyric acid transmembrane transporter activity
GO:0033677	0.000458	7.689142	0.510826	DNA/RNA helicase activity
GO:0004065	0.000458	7.689142	0.575364	arylsulfatase activity
GO:0001094	0.000458	7.689142	0.606136	TFIID-class transcription factor complex binding
GO:0015189	0.000458	7.689142	0.664976	L-lysine transmembrane transporter activity
GO:0004372	0.000458	7.689142	0.720546	glycine hydroxymethyltransferase activity
GO:0004470	0.000458	7.689142	0.720546	malic enzyme activity
GO:0016681	0.000458	7.689142	0.720546	oxidoreductase activity, acting on diphenols and related substances as donors, cytochrome as acceptor
GO:0019863	0.000458	7.689142	0.798508	IgE binding
GO:0005049	0.000458	7.689142	0.959776	nuclear export signal receptor activity
GO:0032029	0.000458	7.689142	0.959776	myosin tail binding
GO:0004792	0.000458	7.689142	1.021651	thiosulfate sulfurtransferase activity
GO:0017070	0.000458	7.689142	1.236763	U6 snRNA binding
GO:0099122	0.000458	7.689142	1.284016	RNA polymerase II C-terminal domain binding
GO:0036435	0.000458	7.689142	1.479076	K48-linked polyubiquitin modification-dependent protein binding
GO:0016855	0.000458	7.689142	1.491655	racemase and epimerase activity, acting on amino acids and derivatives
GO:0048531	0.000458	7.689142	1.575536	beta-1,3-galactosyltransferase activity
GO:0022889	0.000458	7.689142	1.684339	serine transmembrane transporter activity
GO:0017049	0.000458	7.689142	2.329984	GTP-Rho binding
GO:0005161	0.000458	7.689142	2.382628	platelet-derived growth factor receptor binding
GO:0008494	0.000458	7.689142	2.447166	translation activator activity
GO:0016672	0.000458	7.689142	2.569214	oxidoreductase activity, acting on a sulfur group of donors, quinone or similar compound as acceptor
GO:0004634	0.000458	7.689142	2.670310	phosphopyruvate hydratase activity
GO:0004985	0.000458	7.689142	2.677973	opioid receptor activity
GO:0004124	0.000458	7.689142	2.938574	cysteine synthase activity
GO:0005165	0.000458	7.689142	2.990161	neurotrophin receptor binding
GO:0045499	0.000458	7.689142	3.457017	chemorepellent activity
GO:0004457	0.000458	7.689142	3.458767	lactate dehydrogenase activity
GO:0008432	0.000458	7.689142	4.011365	JUN kinase binding
GO:0070742	0.000458	7.689142	4.064267	C2H2 zinc finger domain binding
GO:0017154	0.000458	7.689142	4.446565	semaphorin receptor activity
GO:0048038	0.000458	7.689142	7.319423	quinone binding
GO:0003918	0.000432	7.746301	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) activity
GO:0004534	0.000432	7.746301	0.000000	5'-3' exoribonuclease activity
GO:0004862	0.000432	7.746301	0.000000	cAMP-dependent protein kinase inhibitor activity
GO:0005290	0.000432	7.746301	0.000000	L-histidine transmembrane transporter activity
GO:0008177	0.000432	7.746301	0.000000	succinate dehydrogenase (ubiquinone) activity
GO:0016531	0.000432	7.746301	0.000000	copper chaperone activity
GO:0047661	0.000432	7.746301	0.000000	amino-acid racemase activity
GO:0051378	0.000432	7.746301	0.000000	serotonin binding
GO:0061575	0.000432	7.746301	0.000000	cyclin-dependent protein serine/threonine kinase activator activity
GO:0070138	0.000432	7.746301	0.000000	ubiquitin-like protein-specific isopeptidase activity
GO:0070140	0.000432	7.746301	0.000000	SUMO-specific isopeptidase activity
GO:0072542	0.000432	7.746301	0.000000	protein phosphatase activator activity
GO:0004575	0.000432	7.746301	0.057158	sucrose alpha-glucosidase activity
GO:0036361	0.000432	7.746301	0.057158	racemase activity, acting on amino acids and derivatives
GO:0051864	0.000432	7.746301	0.057158	histone demethylase activity (H3-K36 specific)
GO:0097001	0.000432	7.746301	0.057158	ceramide binding
GO:0004694	0.000432	7.746301	0.162519	eukaryotic translation initiation factor 2alpha kinase activity
GO:0005031	0.000432	7.746301	0.162519	tumor necrosis factor-activated receptor activity
GO:0005540	0.000432	7.746301	0.162519	hyaluronic acid binding
GO:0061665	0.000432	7.746301	0.162519	SUMO ligase activity
GO:0004353	0.000432	7.746301	0.302281	glutamate dehydrogenase [NAD(P)+] activity
GO:0030553	0.000432	7.746301	0.424883	cGMP binding
GO:0003989	0.000432	7.746301	0.462624	acetyl-CoA carboxylase activity
GO:0004663	0.000432	7.746301	0.462624	Rab geranylgeranyltransferase activity
GO:1990239	0.000432	7.746301	0.462624	steroid hormone binding
GO:0005459	0.000432	7.746301	0.600774	UDP-galactose transmembrane transporter activity
GO:0019136	0.000432	7.746301	0.600774	deoxynucleoside kinase activity
GO:0018685	0.000432	7.746301	0.663294	alkane 1-monooxygenase activity
GO:0097027	0.000432	7.746301	0.663294	ubiquitin-protein transferase activator activity
GO:0016728	0.000432	7.746301	0.693147	oxidoreductase activity, acting on CH or CH2 groups, disulfide as acceptor
GO:0003917	0.000432	7.746301	0.722135	DNA topoisomerase type I (single strand cut, ATP-independent) activity
GO:0016174	0.000432	7.746301	0.804373	NAD(P)H oxidase (H(2)O(2)-forming activity
GO:0035241	0.000432	7.746301	0.830348	protein-arginine omega-N monomethyltransferase activity
GO:0031402	0.000432	7.746301	0.855666	sodium ion binding
GO:0004605	0.000432	7.746301	0.927987	phosphatidate cytidylyltransferase activity
GO:0008940	0.000432	7.746301	0.950976	nitrate reductase activity
GO:0004619	0.000432	7.746301	0.995428	phosphoglycerate mutase activity
GO:0016290	0.000432	7.746301	0.995428	palmitoyl-CoA hydrolase activity
GO:0005024	0.000432	7.746301	1.037988	transforming growth factor beta-activated receptor activity
GO:0004332	0.000432	7.746301	1.155771	fructose-bisphosphate aldolase activity
GO:0016435	0.000432	7.746301	1.227230	rRNA (guanine) methyltransferase activity
GO:0055056	0.000432	7.746301	1.341174	D-glucose transmembrane transporter activity
GO:0008309	0.000432	7.746301	1.356441	double-stranded DNA exodeoxyribonuclease activity
GO:0047499	0.000432	7.746301	1.356441	calcium-independent phospholipase A2 activity
GO:0015288	0.000432	7.746301	1.386294	porin activity
GO:0050815	0.000432	7.746301	1.457246	phosphoserine residue binding
GO:0034584	0.000432	7.746301	1.536235	piRNA binding
GO:0001054	0.000432	7.746301	1.597603	RNA polymerase I activity
GO:0015220	0.000432	7.746301	1.655423	choline transmembrane transporter activity
GO:0003968	0.000432	7.746301	1.699386	RNA-directed 5'-3' RNA polymerase activity
GO:0005536	0.000432	7.746301	1.731135	glucose binding
GO:0022858	0.000432	7.746301	1.741498	alanine transmembrane transporter activity
GO:0000995	0.000432	7.746301	1.867267	RNA polymerase III general transcription initiation factor activity
GO:0001181	0.000432	7.746301	1.867267	RNA polymerase I general transcription initiation factor activity
GO:0005007	0.000432	7.746301	1.920377	fibroblast growth factor-activated receptor activity
GO:0097153	0.000432	7.746301	2.034321	cysteine-type endopeptidase activity involved in apoptotic process
GO:0080044	0.000432	7.746301	2.057136	quercetin 7-O-glucosyltransferase activity
GO:0015086	0.000432	7.746301	2.354172	cadmium ion transmembrane transporter activity
GO:0008420	0.000432	7.746301	2.359744	RNA polymerase II CTD heptapeptide repeat phosphatase activity
GO:0016406	0.000432	7.746301	2.424282	carnitine O-acyltransferase activity
GO:0043121	0.000432	7.746301	2.434645	neurotrophin binding
GO:0016623	0.000432	7.746301	2.470092	oxidoreductase activity, acting on the aldehyde or oxo group of donors, oxygen as acceptor
GO:0015279	0.000432	7.746301	2.479993	store-operated calcium channel activity
GO:0140035	0.000432	7.746301	2.643250	ubiquitination-like modification-dependent protein binding
GO:0016712	0.000432	7.746301	2.711964	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced flavin or flavoprotein as one donor, and incorporation of one atom of oxygen
GO:0032296	0.000432	7.746301	2.962844	double-stranded RNA-specific ribonuclease activity
GO:0016160	0.000432	7.746301	3.106958	amylase activity
GO:0004345	0.000432	7.746301	3.389363	glucose-6-phosphate dehydrogenase activity
GO:0016748	0.000432	7.746301	3.798788	succinyltransferase activity
GO:0004035	0.000432	7.746301	3.903754	alkaline phosphatase activity
GO:0010857	0.000432	7.746301	4.597494	calcium-dependent protein kinase activity
GO:0004743	0.000432	7.746301	4.825958	pyruvate kinase activity
GO:0001163	0.000432	7.746301	4.844187	RNA polymerase I transcription regulatory region sequence-specific DNA binding
GO:0001727	0.000432	7.746301	4.915678	lipid kinase activity
GO:0033130	0.000432	7.746301	4.932780	acetylcholine receptor binding
GO:0016987	0.000432	7.746301	5.124664	sigma factor activity
GO:0005275	0.000432	7.746301	5.208843	amine transmembrane transporter activity
GO:0019534	0.000432	7.746301	5.208843	toxin transmembrane transporter activity
GO:0004031	0.000407	7.806925	0.060625	aldehyde oxidase activity
GO:0015183	0.000407	7.806925	0.060625	L-aspartate transmembrane transporter activity
GO:0061731	0.000407	7.806925	0.060625	ribonucleoside-diphosphate reductase activity
GO:0090563	0.000407	7.806925	0.223144	protein-phosphocysteine-sugar phosphotransferase activity
GO:0003886	0.000407	7.806925	0.318454	DNA (cytosine-5-)-methyltransferase activity
GO:0048019	0.000407	7.806925	0.318454	receptor antagonist activity
GO:0098879	0.000407	7.806925	0.446287	structural constituent of postsynaptic specialization
GO:0016211	0.000407	7.806925	0.485508	ammonia ligase activity
GO:0016918	0.000407	7.806925	0.523248	retinal binding
GO:0031748	0.000407	7.806925	0.559616	D1 dopamine receptor binding
GO:0031493	0.000407	7.806925	0.628609	nucleosomal histone binding
GO:0003933	0.000407	7.806925	0.693147	GTP cyclohydrolase activity
GO:0016682	0.000407	7.806925	0.838329	oxidoreductase activity, acting on diphenols and related substances as donors, oxygen as acceptor
GO:0140328	0.000407	7.806925	0.838329	floppase activity
GO:0035242	0.000407	7.806925	0.890973	protein-arginine omega-N asymmetric methyltransferase activity
GO:0046920	0.000407	7.806925	0.916291	alpha-(1->3)-fucosyltransferase activity
GO:0004558	0.000407	7.806925	0.940983	alpha-1,4-glucosidase activity
GO:0042937	0.000407	7.806925	0.965081	tripeptide transmembrane transporter activity
GO:0008569	0.000407	7.806925	1.056053	ATP-dependent microtubule motor activity, minus-end-directed
GO:0008131	0.000407	7.806925	1.077559	primary amine oxidase activity
GO:0000403	0.000407	7.806925	1.338285	Y-form DNA binding
GO:0030620	0.000407	7.806925	1.354546	U2 snRNA binding
GO:0005149	0.000407	7.806925	1.646252	interleukin-1 receptor binding
GO:0003896	0.000407	7.806925	1.658228	DNA primase activity
GO:0070411	0.000407	7.806925	1.852384	I-SMAD binding
GO:0015665	0.000407	7.806925	1.918759	alcohol transmembrane transporter activity
GO:0004767	0.000407	7.806925	1.963610	sphingomyelin phosphodiesterase activity
GO:0005021	0.000407	7.806925	1.981001	vascular endothelial growth factor-activated receptor activity
GO:0003987	0.000407	7.806925	1.989585	acetate-CoA ligase activity
GO:0042134	0.000407	7.806925	2.110213	rRNA primary transcript binding
GO:0070181	0.000407	7.806925	2.110213	small ribosomal subunit rRNA binding
GO:0031559	0.000407	7.806925	2.169054	oxidosqualene cyclase activity
GO:0017081	0.000407	7.806925	2.453158	chloride channel regulator activity
GO:0008191	0.000407	7.806925	2.515678	metalloendopeptidase inhibitor activity
GO:0030346	0.000407	7.806925	2.695471	protein phosphatase 2B binding
GO:0004977	0.000407	7.806925	2.795756	melanocortin receptor activity
GO:0004392	0.000407	7.806925	3.338879	heme oxygenase (decyclizing) activity
GO:0015142	0.000407	7.806925	3.411560	tricarboxylic acid transmembrane transporter activity
GO:0004090	0.000407	7.806925	3.449988	carbonyl reductase (NADPH) activity
GO:0008429	0.000407	7.806925	3.721165	phosphatidylethanolamine binding
GO:0050700	0.000407	7.806925	4.182050	CARD domain binding
GO:0042979	0.000407	7.806925	4.618210	ornithine decarboxylase regulator activity
GO:0008312	0.000407	7.806925	4.856415	7S RNA binding
GO:1990247	0.000407	7.806925	4.856415	N6-methyladenosine-containing RNA binding
GO:0017050	0.000407	7.806925	4.976303	D-erythro-sphingosine kinase activity
GO:0019202	0.000407	7.806925	4.976303	amino acid kinase activity
GO:0038191	0.000407	7.806925	4.993404	neuropilin binding
GO:0015343	0.000407	7.806925	5.269468	siderophore transmembrane transporter activity
GO:0080161	0.000407	7.806925	5.269468	auxin transmembrane transporter activity
GO:0004133	0.000407	7.806925	6.947577	glycogen debranching enzyme activity
GO:0043008	0.000407	7.806925	7.239484	ATP-dependent protein binding
GO:0043560	0.000407	7.806925	7.239484	insulin receptor substrate binding
GO:0003985	0.000381	7.871464	0.000000	acetyl-CoA C-acetyltransferase activity
GO:0004362	0.000381	7.871464	0.000000	glutathione-disulfide reductase activity
GO:0015277	0.000381	7.871464	0.000000	kainate selective glutamate receptor activity
GO:0015501	0.000381	7.871464	0.000000	glutamate:sodium symporter activity
GO:0016934	0.000381	7.871464	0.000000	extracellularly glycine-gated chloride channel activity
GO:0019841	0.000381	7.871464	0.000000	retinol binding
GO:0031492	0.000381	7.871464	0.000000	nucleosomal DNA binding
GO:0034485	0.000381	7.871464	0.000000	phosphatidylinositol-3,4,5-trisphosphate 5-phosphatase activity
GO:0140161	0.000381	7.871464	0.000000	monocarboxylate:sodium symporter activity
GO:0140311	0.000381	7.871464	0.000000	protein sequestering activity
GO:0004525	0.000381	7.871464	0.064539	ribonuclease III activity
GO:0004748	0.000381	7.871464	0.064539	ribonucleoside-diphosphate reductase activity, thioredoxin disulfide as acceptor
GO:0015386	0.000381	7.871464	0.064539	potassium:proton antiporter activity
GO:0043208	0.000381	7.871464	0.064539	glycosphingolipid binding
GO:0003689	0.000381	7.871464	0.125163	DNA clamp loader activity
GO:0080115	0.000381	7.871464	0.182322	myosin XI tail binding
GO:0001640	0.000381	7.871464	0.236389	adenylate cyclase inhibiting G protein-coupled glutamate receptor activity
GO:0015093	0.000381	7.871464	0.236389	ferrous iron transmembrane transporter activity
GO:0008534	0.000381	7.871464	0.287682	oxidized purine nucleobase lesion DNA N-glycosylase activity
GO:0008048	0.000381	7.871464	0.336472	calcium sensitive guanylate cyclase activator activity
GO:0008559	0.000381	7.871464	0.336472	ATPase-coupled xenobiotic transmembrane transporter activity
GO:0004445	0.000381	7.871464	0.427444	inositol-polyphosphate 5-phosphatase activity
GO:0035256	0.000381	7.871464	0.427444	G protein-coupled glutamate receptor binding
GO:0005223	0.000381	7.871464	0.510826	intracellular cGMP-activated cation channel activity
GO:0004449	0.000381	7.871464	0.659246	isocitrate dehydrogenase (NAD+) activity
GO:0086080	0.000381	7.871464	0.659246	protein binding involved in heterotypic cell-cell adhesion
GO:0019957	0.000381	7.871464	0.757686	C-C chemokine binding
GO:0003810	0.000381	7.871464	0.929536	protein-glutamine gamma-glutamyltransferase activity
GO:0004430	0.000381	7.871464	0.980829	1-phosphatidylinositol 4-kinase activity
GO:0004415	0.000381	7.871464	1.120591	hyalurononglucosaminidase activity
GO:0015245	0.000381	7.871464	1.163151	fatty acid transmembrane transporter activity
GO:0019948	0.000381	7.871464	1.163151	SUMO activating enzyme activity
GO:0042132	0.000381	7.871464	1.203973	fructose 1,6-bisphosphate 1-phosphatase activity
GO:0003978	0.000381	7.871464	1.243194	UDP-glucose 4-epimerase activity
GO:0016433	0.000381	7.871464	1.352393	rRNA (adenine) methyltransferase activity
GO:0030283	0.000381	7.871464	1.352393	testosterone dehydrogenase [NAD(P)] activity
GO:0000405	0.000381	7.871464	1.402824	bubble DNA binding
GO:0070401	0.000381	7.871464	1.402824	NADP+ binding
GO:0030619	0.000381	7.871464	1.419084	U1 snRNA binding
GO:0004146	0.000381	7.871464	1.450833	dihydrofolate reductase activity
GO:0004385	0.000381	7.871464	1.466337	guanylate kinase activity
GO:0001055	0.000381	7.871464	1.722767	RNA polymerase II activity
GO:0004337	0.000381	7.871464	1.813738	geranyltranstransferase activity
GO:0004779	0.000381	7.871464	1.974081	sulfate adenylyltransferase activity
GO:0004069	0.000381	7.871464	1.992430	L-aspartate:2-oxoglutarate aminotransferase activity
GO:0097177	0.000381	7.871464	2.054124	mitochondrial ribosome binding
GO:0005225	0.000381	7.871464	2.385700	volume-sensitive anion channel activity
GO:0004771	0.000381	7.871464	2.595255	sterol esterase activity
GO:0004067	0.000381	7.871464	2.809403	asparaginase activity
GO:0051011	0.000381	7.871464	3.183594	microtubule minus-end binding
GO:0015927	0.000381	7.871464	3.232121	trehalase activity
GO:0030306	0.000381	7.871464	3.585369	ADP-ribosylation factor binding
GO:0055102	0.000381	7.871464	3.654978	lipase inhibitor activity
GO:0016743	0.000381	7.871464	3.765840	carboxyl- or carbamoyltransferase activity
GO:0000384	0.000381	7.871464	4.176436	first spliceosomal transesterification activity
GO:0000386	0.000381	7.871464	4.176436	second spliceosomal transesterification activity
GO:0070016	0.000381	7.871464	4.246589	armadillo repeat domain binding
GO:0004427	0.000381	7.871464	4.576085	inorganic diphosphatase activity
GO:0031683	0.000381	7.871464	4.877739	G-protein beta/gamma-subunit complex binding
GO:0004103	0.000381	7.871464	4.929184	choline kinase activity
GO:0035325	0.000381	7.871464	5.057943	Toll-like receptor binding
GO:0043546	0.000381	7.871464	6.294897	molybdopterin cofactor binding
GO:0044548	0.000381	7.871464	7.304023	S100 protein binding
GO:0045505	0.000381	7.871464	7.304023	dynein intermediate chain binding
GO:0097351	0.000381	7.871464	7.304023	toxin-antitoxin pair type II binding
GO:0043515	0.000381	7.871464	7.501745	kinetochore binding
GO:0140313	0.000381	7.871464	7.871464	molecular sequestering activity
GO:0001225	0.000356	7.940457	0.000000	RNA polymerase II transcription coactivator binding
GO:0003983	0.000356	7.940457	0.000000	UTP:glucose-1-phosphate uridylyltransferase activity
GO:0004308	0.000356	7.940457	0.000000	exo-alpha-sialidase activity
GO:0004758	0.000356	7.940457	0.000000	serine C-palmitoyltransferase activity
GO:0008020	0.000356	7.940457	0.000000	G protein-coupled photoreceptor activity
GO:0016454	0.000356	7.940457	0.000000	C-palmitoyltransferase activity
GO:0019826	0.000356	7.940457	0.000000	oxygen sensor activity
GO:0033592	0.000356	7.940457	0.000000	RNA strand annealing activity
GO:0050265	0.000356	7.940457	0.000000	RNA uridylyltransferase activity
GO:0099626	0.000356	7.940457	0.000000	voltage-gated calcium channel activity involved in regulation of presynaptic cytosolic calcium levels
GO:0000774	0.000356	7.940457	0.068993	adenyl-nucleotide exchange factor activity
GO:0005034	0.000356	7.940457	0.068993	osmosensor activity
GO:0045028	0.000356	7.940457	0.068993	G protein-coupled purinergic nucleotide receptor activity
GO:0061133	0.000356	7.940457	0.068993	endopeptidase activator activity
GO:0004356	0.000356	7.940457	0.133531	glutamate-ammonia ligase activity
GO:0098919	0.000356	7.940457	0.133531	structural constituent of postsynaptic density
GO:0001162	0.000356	7.940457	0.194156	RNA polymerase II intronic transcription regulatory region sequence-specific DNA binding
GO:0140036	0.000356	7.940457	0.194156	ubiquitin-dependent protein binding
GO:1990446	0.000356	7.940457	0.305382	U1 snRNP binding
GO:0003720	0.000356	7.940457	0.356675	telomerase activity
GO:0008392	0.000356	7.940457	0.405465	arachidonic acid epoxygenase activity
GO:0033192	0.000356	7.940457	0.405465	calmodulin-dependent protein phosphatase activity
GO:0140333	0.000356	7.940457	0.405465	glycerophospholipid flippase activity
GO:0004938	0.000356	7.940457	0.496437	alpha2-adrenergic receptor activity
GO:0003997	0.000356	7.940457	0.579818	acyl-CoA oxidase activity
GO:0070739	0.000356	7.940457	0.619039	protein-glutamic acid ligase activity
GO:0016428	0.000356	7.940457	0.656780	tRNA (cytosine-5-)-methyltransferase activity
GO:0004450	0.000356	7.940457	0.728239	isocitrate dehydrogenase (NADP+) activity
GO:0030060	0.000356	7.940457	0.762140	L-malate dehydrogenase activity
GO:0048030	0.000356	7.940457	0.857450	disaccharide binding
GO:0030284	0.000356	7.940457	1.049822	estrogen receptor activity
GO:0004614	0.000356	7.940457	1.189584	phosphoglucomutase activity
GO:0036312	0.000356	7.940457	1.189584	phosphatidylinositol 3-kinase regulatory subunit binding
GO:0004839	0.000356	7.940457	1.232144	ubiquitin activating enzyme activity
GO:0051748	0.000356	7.940457	1.232144	UTP-monosaccharide-1-phosphate uridylyltransferase activity
GO:0034046	0.000356	7.940457	1.292768	poly(G) binding
GO:0005350	0.000356	7.940457	1.331235	pyrimidine nucleobase transmembrane transporter activity
GO:0008568	0.000356	7.940457	1.331235	microtubule-severing ATPase activity
GO:0033041	0.000356	7.940457	1.349927	sweet taste receptor activity
GO:0052834	0.000356	7.940457	1.349927	inositol monophosphate phosphatase activity
GO:0030621	0.000356	7.940457	1.488077	U4 snRNA binding
GO:0003955	0.000356	7.940457	1.504077	NAD(P)H dehydrogenase (quinone) activity
GO:0008113	0.000356	7.940457	1.519826	peptide-methionine (S)-S-oxide reductase activity
GO:0009041	0.000356	7.940457	1.535330	uridylate kinase activity
GO:0055077	0.000356	7.940457	1.580450	gap junction hemi-channel activity
GO:0071558	0.000356	7.940457	1.623623	histone demethylase activity (H3-K27 specific)
GO:0005354	0.000356	7.940457	1.704748	galactose transmembrane transporter activity
GO:0099511	0.000356	7.940457	1.779783	voltage-gated calcium channel activity involved in regulation of cytosolic calcium levels
GO:0008897	0.000356	7.940457	1.826851	holo-[acyl-carrier-protein] synthase activity
GO:0005534	0.000356	7.940457	1.925291	galactose binding
GO:0070410	0.000356	7.940457	1.985915	co-SMAD binding
GO:0045236	0.000356	7.940457	1.995672	CXCR chemokine receptor binding
GO:0000009	0.000356	7.940457	2.005334	alpha-1,6-mannosyltransferase activity
GO:0046976	0.000356	7.940457	2.052291	histone methyltransferase activity (H3-K27 specific)
GO:0004084	0.000356	7.940457	2.061423	branched-chain-amino-acid transaminase activity
GO:0032052	0.000356	7.940457	2.358155	bile acid binding
GO:0009378	0.000356	7.940457	2.490841	four-way junction helicase activity
GO:0004366	0.000356	7.940457	2.618438	glycerol-3-phosphate O-acyltransferase activity
GO:0048407	0.000356	7.940457	2.628801	platelet-derived growth factor binding
GO:0009927	0.000356	7.940457	2.633942	histidine phosphotransfer kinase activity
GO:0008410	0.000356	7.940457	2.654247	CoA-transferase activity
GO:0016882	0.000356	7.940457	2.777043	cyclo-ligase activity
GO:0046624	0.000356	7.940457	2.777043	sphingolipid transporter activity
GO:0071111	0.000356	7.940457	2.849880	cyclic-guanylate-specific phosphodiesterase activity
GO:0008401	0.000356	7.940457	2.906120	retinoic acid 4-hydroxylase activity
GO:0016997	0.000356	7.940457	3.301114	alpha-sialidase activity
GO:0030957	0.000356	7.940457	3.306363	Tat protein binding
GO:0046910	0.000356	7.940457	3.723971	pectinesterase inhibitor activity
GO:0050734	0.000356	7.940457	3.992944	hydroxycinnamoyltransferase activity
GO:0070615	0.000356	7.940457	4.015095	nucleosome-dependent ATPase activity
GO:0035497	0.000356	7.940457	4.069027	cAMP response element binding
GO:0098518	0.000356	7.940457	4.097910	polynucleotide phosphatase activity
GO:0070513	0.000356	7.940457	4.315582	death domain binding
GO:0017166	0.000356	7.940457	4.605170	vinculin binding
GO:0031432	0.000356	7.940457	4.605170	titin binding
GO:0010997	0.000356	7.940457	4.946731	anaphase-promoting complex binding
GO:0023023	0.000356	7.940457	4.946731	MHC protein complex binding
GO:0033204	0.000356	7.940457	4.989947	ribonuclease P RNA binding
GO:0050786	0.000356	7.940457	5.126936	RAGE receptor binding
GO:0001164	0.000331	8.014565	0.000000	RNA polymerase I core promoter sequence-specific DNA binding
GO:0004108	0.000331	8.014565	0.000000	citrate (Si)-synthase activity
GO:0008658	0.000331	8.014565	0.000000	penicillin binding
GO:0008745	0.000331	8.014565	0.000000	N-acetylmuramoyl-L-alanine amidase activity
GO:0016892	0.000331	8.014565	0.000000	endoribonuclease activity, producing 3'-phosphomonoesters
GO:0019855	0.000331	8.014565	0.000000	calcium channel inhibitor activity
GO:0035240	0.000331	8.014565	0.000000	dopamine binding
GO:0035514	0.000331	8.014565	0.000000	DNA demethylase activity
GO:0045174	0.000331	8.014565	0.000000	glutathione dehydrogenase (ascorbate) activity
GO:0055105	0.000331	8.014565	0.000000	ubiquitin-protein transferase inhibitor activity
GO:0070009	0.000331	8.014565	0.000000	serine-type aminopeptidase activity
GO:0004739	0.000331	8.014565	0.074108	pyruvate dehydrogenase (acetyl-transferring) activity
GO:0015180	0.000331	8.014565	0.074108	L-alanine transmembrane transporter activity
GO:0031419	0.000331	8.014565	0.143101	cobalamin binding
GO:0042879	0.000331	8.014565	0.143101	aldonate transmembrane transporter activity
GO:0050542	0.000331	8.014565	0.207639	icosanoid binding
GO:0015226	0.000331	8.014565	0.268264	carnitine transmembrane transporter activity
GO:0033220	0.000331	8.014565	0.268264	ATPase-coupled amide-transporter activity
GO:0042392	0.000331	8.014565	0.430783	sphingosine-1-phosphate phosphatase activity
GO:0043522	0.000331	8.014565	0.430783	leucine zipper domain binding
GO:0001006	0.000331	8.014565	0.479573	RNA polymerase III type 3 promoter sequence-specific DNA binding
GO:0003910	0.000331	8.014565	0.479573	DNA ligase (ATP) activity
GO:0015247	0.000331	8.014565	0.479573	aminophospholipid flippase activity
GO:0016972	0.000331	8.014565	0.526093	thiol oxidase activity
GO:0001591	0.000331	8.014565	0.613104	dopamine neurotransmitter receptor activity, coupled via Gi/Go
GO:0046592	0.000331	8.014565	0.613104	polyamine oxidase activity
GO:0035174	0.000331	8.014565	0.730888	histone serine kinase activity
GO:0043184	0.000331	8.014565	0.767255	vascular endothelial growth factor receptor 2 binding
GO:0004749	0.000331	8.014565	0.802346	ribose phosphate diphosphokinase activity
GO:0070700	0.000331	8.014565	0.802346	BMP receptor binding
GO:0019798	0.000331	8.014565	0.836248	procollagen-proline dioxygenase activity
GO:0003941	0.000331	8.014565	0.869038	L-serine ammonia-lyase activity
GO:0008251	0.000331	8.014565	0.869038	tRNA-specific adenosine deaminase activity
GO:0004382	0.000331	8.014565	1.018570	guanosine-diphosphatase activity
GO:0004165	0.000331	8.014565	1.172720	dodecenoyl-CoA delta-isomerase activity
GO:0004668	0.000331	8.014565	1.219240	protein-arginine deiminase activity
GO:0036440	0.000331	8.014565	1.219240	citrate synthase activity
GO:0098809	0.000331	8.014565	1.219240	nitrite reductase activity
GO:0047134	0.000331	8.014565	1.285198	protein-disulfide reductase activity
GO:0017002	0.000331	8.014565	1.306252	activin-activated receptor activity
GO:0033300	0.000331	8.014565	1.442384	dehydroascorbic acid transmembrane transporter activity
GO:0016434	0.000331	8.014565	1.495494	rRNA (cytosine) methyltransferase activity
GO:0045545	0.000331	8.014565	1.545925	syndecan binding
GO:0004705	0.000331	8.014565	1.562185	JUN kinase activity
GO:0000822	0.000331	8.014565	1.639743	inositol hexakisphosphate binding
GO:0004462	0.000331	8.014565	1.654558	lactoylglutathione lyase activity
GO:0000268	0.000331	8.014565	1.683546	peroxisome targeting sequence binding
GO:0031370	0.000331	8.014565	1.711717	eukaryotic initiation factor 4G binding
GO:0004966	0.000331	8.014565	1.999399	galanin receptor activity
GO:0004983	0.000331	8.014565	1.999399	neuropeptide Y receptor activity
GO:0015146	0.000331	8.014565	2.020018	pentose transmembrane transporter activity
GO:0004357	0.000331	8.014565	2.030170	glutamate-cysteine ligase activity
GO:0019187	0.000331	8.014565	2.079442	beta-1,4-mannosyltransferase activity
GO:0001594	0.000331	8.014565	2.230841	trace-amine receptor activity
GO:0004969	0.000331	8.014565	2.230841	histamine receptor activity
GO:0004062	0.000331	8.014565	2.294863	aryl sulfotransferase activity
GO:0050833	0.000331	8.014565	2.445686	pyruvate transmembrane transporter activity
GO:0008199	0.000331	8.014565	2.452330	ferric iron binding
GO:0001758	0.000331	8.014565	2.465489	retinal dehydrogenase activity
GO:0086008	0.000331	8.014565	2.465489	voltage-gated potassium channel activity involved in cardiac muscle cell action potential repolarization
GO:0004611	0.000331	8.014565	2.503955	phosphoenolpyruvate carboxykinase activity
GO:0004825	0.000331	8.014565	2.503955	methionine-tRNA ligase activity
GO:0019763	0.000331	8.014565	2.605535	immunoglobulin receptor activity
GO:0017034	0.000331	8.014565	2.611200	Rap guanyl-nucleotide exchange factor activity
GO:0004731	0.000331	8.014565	2.687324	purine-nucleoside phosphorylase activity
GO:0004359	0.000331	8.014565	2.952504	glutaminase activity
GO:0004333	0.000331	8.014565	2.995732	fumarate hydratase activity
GO:0004478	0.000331	8.014565	3.263996	methionine adenosyltransferase activity
GO:0004104	0.000331	8.014565	3.315584	cholinesterase activity
GO:0034338	0.000331	8.014565	3.315584	short-chain carboxylesterase activity
GO:0045551	0.000331	8.014565	3.657627	cinnamyl-alcohol dehydrogenase activity
GO:0008140	0.000331	8.014565	3.685026	cAMP response element binding protein binding
GO:0016872	0.000331	8.014565	3.715446	intramolecular lyase activity
GO:0016901	0.000331	8.014565	3.784190	oxidoreductase activity, acting on the CH-OH group of donors, quinone or similar compound as acceptor
GO:0019788	0.000331	8.014565	4.110874	NEDD8 transferase activity
GO:0004325	0.000331	8.014565	4.166069	ferrochelatase activity
GO:0030274	0.000331	8.014565	4.389690	LIM domain binding
GO:0032552	0.000331	8.014565	4.489500	deoxyribonucleotide binding
GO:0030280	0.000331	8.014565	4.540837	structural constituent of skin epidermis
GO:0034452	0.000331	8.014565	4.679278	dynactin binding
GO:0050072	0.000331	8.014565	4.719185	m7G(5')pppN diphosphatase activity
GO:0070891	0.000331	8.014565	4.805911	lipoteichoic acid binding
GO:0019215	0.000331	8.014565	5.020839	intermediate filament binding
GO:0032404	0.000331	8.014565	5.020839	mismatch repair complex binding
GO:0035612	0.000331	8.014565	5.020839	AP-2 adaptor complex binding
GO:0070878	0.000331	8.014565	5.064055	primary miRNA binding
GO:0070883	0.000331	8.014565	5.064055	pre-miRNA binding
GO:0051765	0.000331	8.014565	5.072285	inositol tetrakisphosphate kinase activity
GO:0005113	0.000331	8.014565	5.201044	patched binding
GO:1990459	0.000331	8.014565	5.201044	transferrin receptor binding
GO:0016730	0.000331	8.014565	5.299086	oxidoreductase activity, acting on iron-sulfur proteins as donors
GO:0031404	0.000331	8.014565	5.304070	chloride ion binding
GO:0042123	0.000331	8.014565	6.266617	glucanosyltransferase activity
GO:0045295	0.000331	8.014565	7.447124	gamma-catenin binding
GO:0061676	0.000331	8.014565	7.447124	importin-alpha family protein binding
GO:0051192	0.000331	8.014565	7.644846	prosthetic group binding
GO:0000036	0.000305	8.094607	0.000000	acyl carrier activity
GO:0008073	0.000305	8.094607	0.000000	ornithine decarboxylase inhibitor activity
GO:0015315	0.000305	8.094607	0.000000	organophosphate:inorganic phosphate antiporter activity
GO:0015440	0.000305	8.094607	0.000000	ATPase-coupled peptide transmembrane transporter activity
GO:0016749	0.000305	8.094607	0.000000	N-succinyltransferase activity
GO:0016823	0.000305	8.094607	0.000000	hydrolase activity, acting on acid carbon-carbon bonds, in ketonic substances
GO:0022849	0.000305	8.094607	0.000000	glutamate-gated calcium ion channel activity
GO:0140410	0.000305	8.094607	0.000000	solute:bicarbonate symporter activity
GO:0008273	0.000305	8.094607	0.080043	calcium, potassium:sodium antiporter activity
GO:0015184	0.000305	8.094607	0.080043	L-cystine transmembrane transporter activity
GO:0015450	0.000305	8.094607	0.080043	P-P-bond-hydrolysis-driven protein transmembrane transporter activity
GO:0017017	0.000305	8.094607	0.080043	MAP kinase tyrosine/serine/threonine phosphatase activity
GO:0032557	0.000305	8.094607	0.080043	pyrimidine ribonucleotide binding
GO:0044620	0.000305	8.094607	0.080043	ACP phosphopantetheine attachment site binding
GO:0004459	0.000305	8.094607	0.154151	L-lactate dehydrogenase activity
GO:0005314	0.000305	8.094607	0.154151	high-affinity glutamate transmembrane transporter activity
GO:0008934	0.000305	8.094607	0.154151	inositol monophosphate 1-phosphatase activity
GO:0015194	0.000305	8.094607	0.154151	L-serine transmembrane transporter activity
GO:0004555	0.000305	8.094607	0.223144	alpha,alpha-trehalase activity
GO:0004781	0.000305	8.094607	0.223144	sulfate adenylyltransferase (ATP) activity
GO:0010329	0.000305	8.094607	0.287682	auxin efflux transmembrane transporter activity
GO:0015137	0.000305	8.094607	0.287682	citrate transmembrane transporter activity
GO:0015606	0.000305	8.094607	0.510826	spermidine transmembrane transporter activity
GO:0004422	0.000305	8.094607	0.606136	hypoxanthine phosphoribosyltransferase activity
GO:0008184	0.000305	8.094607	0.606136	glycogen phosphorylase activity
GO:0070915	0.000305	8.094607	0.606136	lysophosphatidic acid receptor activity
GO:0004128	0.000305	8.094607	0.693147	cytochrome-b5 reductase activity, acting on NAD(P)H
GO:0005005	0.000305	8.094607	0.693147	transmembrane-ephrin receptor activity
GO:0035184	0.000305	8.094607	0.810930	histone threonine kinase activity
GO:0000772	0.000305	8.094607	0.847298	mating pheromone activity
GO:0050543	0.000305	8.094607	0.847298	icosatetraenoic acid binding
GO:0003984	0.000305	8.094607	1.011601	acetolactate synthase activity
GO:0034713	0.000305	8.094607	1.011601	type I transforming growth factor beta receptor binding
GO:0005363	0.000305	8.094607	1.041454	maltose transmembrane transporter activity
GO:0008796	0.000305	8.094607	1.041454	bis(5'-nucleosyl)-tetraphosphatase activity
GO:0080084	0.000305	8.094607	1.041454	5S rDNA binding
GO:0008035	0.000305	8.094607	1.070441	high-density lipoprotein particle binding
GO:0045134	0.000305	8.094607	1.098612	uridine-diphosphatase activity
GO:0098505	0.000305	8.094607	1.098612	G-rich strand telomeric DNA binding
GO:0004170	0.000305	8.094607	1.178655	dUTP diphosphatase activity
GO:0031995	0.000305	8.094607	1.178655	insulin-like growth factor II binding
GO:0004049	0.000305	8.094607	1.203973	anthranilate synthase activity
GO:0015140	0.000305	8.094607	1.252763	malate transmembrane transporter activity
GO:0016662	0.000305	8.094607	1.299283	oxidoreductase activity, acting on other nitrogenous compounds as donors, cytochrome as acceptor
GO:0043559	0.000305	8.094607	1.365241	insulin binding
GO:0004331	0.000305	8.094607	1.427116	fructose-2,6-bisphosphate 2-phosphatase activity
GO:0140414	0.000305	8.094607	1.466337	phosphopantetheine-dependent carrier activity
GO:0016312	0.000305	8.094607	1.504077	inositol bisphosphate phosphatase activity
GO:0032217	0.000305	8.094607	1.522427	riboflavin transmembrane transporter activity
GO:0003854	0.000305	8.094607	1.575536	3-beta-hydroxy-delta5-steroid dehydrogenase activity
GO:0004347	0.000305	8.094607	1.609438	glucose-6-phosphate isomerase activity
GO:0034618	0.000305	8.094607	1.673976	arginine binding
GO:0004315	0.000305	8.094607	1.704748	3-oxoacyl-[acyl-carrier-protein] synthase activity
GO:0070679	0.000305	8.094607	1.719786	inositol 1,4,5 trisphosphate binding
GO:0008142	0.000305	8.094607	1.945910	oxysterol binding
GO:0032356	0.000305	8.094607	2.003730	oxidized DNA binding
GO:0034458	0.000305	8.094607	2.003730	3'-5' RNA helicase activity
GO:0004994	0.000305	8.094607	2.079442	somatostatin receptor activity
GO:0004169	0.000305	8.094607	2.159484	dolichyl-phosphate-mannose-protein mannosyltransferase activity
GO:0004416	0.000305	8.094607	2.178532	hydroxyacylglutathione hydrolase activity
GO:0008477	0.000305	8.094607	2.187922	purine nucleosidase activity
GO:0019139	0.000305	8.094607	2.251292	cytokinin dehydrogenase activity
GO:0000828	0.000305	8.094607	2.277267	inositol hexakisphosphate kinase activity
GO:0004499	0.000305	8.094607	2.335375	N,N-dimethylaniline monooxygenase activity
GO:0004517	0.000305	8.094607	2.335375	nitric-oxide synthase activity
GO:1904408	0.000305	8.094607	2.382628	melatonin binding
GO:0004106	0.000305	8.094607	2.456736	chorismate mutase activity
GO:0004028	0.000305	8.094607	2.545531	3-chloroallyl aldehyde dehydrogenase activity
GO:0004726	0.000305	8.094607	2.545531	non-membrane spanning protein tyrosine phosphatase activity
GO:0016762	0.000305	8.094607	2.621039	xyloglucan:xyloglucosyl transferase activity
GO:0042947	0.000305	8.094607	2.633087	glucoside transmembrane transporter activity
GO:0015087	0.000305	8.094607	2.702479	cobalt ion transmembrane transporter activity
GO:0016412	0.000305	8.094607	2.772589	serine O-acyltransferase activity
GO:0047184	0.000305	8.094607	2.772589	1-acylglycerophosphocholine O-acyltransferase activity
GO:1905538	0.000305	8.094607	3.024482	polysome binding
GO:0016989	0.000305	8.094607	3.064169	sigma factor antagonist activity
GO:0019172	0.000305	8.094607	3.075775	glyoxalase III activity
GO:0015462	0.000305	8.094607	3.117212	ATPase-coupled protein transmembrane transporter activity
GO:0015928	0.000305	8.094607	3.455265	fucosidase activity
GO:0031701	0.000305	8.094607	3.555348	angiotensin receptor binding
GO:0003938	0.000305	8.094607	3.737670	IMP dehydrogenase activity
GO:0008428	0.000305	8.094607	3.878121	ribonuclease inhibitor activity
GO:0042083	0.000305	8.094607	3.905334	5,10-methylenetetrahydrofolate-dependent methyltransferase activity
GO:0016420	0.000305	8.094607	4.147095	malonyltransferase activity
GO:0004647	0.000305	8.094607	4.252060	phosphoserine phosphatase activity
GO:0031208	0.000305	8.094607	4.469732	POZ domain binding
GO:0008046	0.000305	8.094607	4.852030	axon guidance receptor activity
GO:0016936	0.000305	8.094607	4.885954	galactoside binding
GO:0004740	0.000305	8.094607	4.945800	pyruvate dehydrogenase (acetyl-transferring) kinase activity
GO:0003711	0.000305	8.094607	5.472971	transcription elongation regulator activity
GO:0031996	0.000305	8.094607	5.650440	thioesterase binding
GO:0016822	0.000305	8.094607	6.169785	hydrolase activity, acting on acid carbon-carbon bonds
GO:0002162	0.000305	8.094607	7.527166	dystroglycan binding
GO:0039706	0.000305	8.094607	7.527166	co-receptor binding
GO:0097371	0.000305	8.094607	7.527166	MDM2/MDM4 family protein binding
GO:0097677	0.000305	8.094607	7.527166	STAT family protein binding
GO:1990763	0.000305	8.094607	7.527166	arrestin family protein binding
GO:0001002	0.000280	8.181619	0.000000	RNA polymerase III type 1 promoter sequence-specific DNA binding
GO:0004656	0.000280	8.181619	0.000000	procollagen-proline 4-dioxygenase activity
GO:0005087	0.000280	8.181619	0.000000	Ran guanyl-nucleotide exchange factor activity
GO:0005471	0.000280	8.181619	0.000000	ATP:ADP antiporter activity
GO:0008510	0.000280	8.181619	0.000000	sodium:bicarbonate symporter activity
GO:0015369	0.000280	8.181619	0.000000	calcium:proton antiporter activity
GO:0016416	0.000280	8.181619	0.000000	O-palmitoyltransferase activity
GO:0022840	0.000280	8.181619	0.000000	leak channel activity
GO:0032554	0.000280	8.181619	0.000000	purine deoxyribonucleotide binding
GO:0035515	0.000280	8.181619	0.000000	oxidative RNA demethylase activity
GO:0050544	0.000280	8.181619	0.000000	arachidonic acid binding
GO:0106050	0.000280	8.181619	0.000000	tRNA 2'-O-methyltransferase activity
GO:0004799	0.000280	8.181619	0.087011	thymidylate synthase activity
GO:0032357	0.000280	8.181619	0.087011	oxidized purine DNA binding
GO:0004512	0.000280	8.181619	0.167054	inositol-3-phosphate synthase activity
GO:0008240	0.000280	8.181619	0.167054	tripeptidyl-peptidase activity
GO:0042124	0.000280	8.181619	0.167054	1,3-beta-glucanosyltransferase activity
GO:0009931	0.000280	8.181619	0.241162	calcium-dependent protein serine/threonine kinase activity
GO:0015254	0.000280	8.181619	0.241162	glycerol channel activity
GO:0070740	0.000280	8.181619	0.241162	tubulin-glutamic acid ligase activity
GO:0004528	0.000280	8.181619	0.310155	phosphodiesterase I activity
GO:0036374	0.000280	8.181619	0.310155	glutathione hydrolase activity
GO:0003934	0.000280	8.181619	0.374693	GTP cyclohydrolase I activity
GO:0004473	0.000280	8.181619	0.374693	malate dehydrogenase (decarboxylating) (NADP+) activity
GO:0051575	0.000280	8.181619	0.374693	5'-deoxyribose-5-phosphate lyase activity
GO:0036310	0.000280	8.181619	0.435318	annealing helicase activity
GO:0048406	0.000280	8.181619	0.435318	nerve growth factor binding
GO:0048039	0.000280	8.181619	0.492476	ubiquinone binding
GO:0008010	0.000280	8.181619	0.546544	structural constituent of chitin-based larval cuticle
GO:0008440	0.000280	8.181619	0.546544	inositol-1,4,5-trisphosphate 3-kinase activity
GO:0000703	0.000280	8.181619	0.597837	oxidized pyrimidine nucleobase lesion DNA N-glycosylase activity
GO:0015188	0.000280	8.181619	0.597837	L-isoleucine transmembrane transporter activity
GO:0015489	0.000280	8.181619	0.597837	putrescine transmembrane transporter activity
GO:0001003	0.000280	8.181619	0.646627	RNA polymerase III type 2 promoter sequence-specific DNA binding
GO:0003880	0.000280	8.181619	0.646627	protein C-terminal carboxyl O-methyltransferase activity
GO:0003999	0.000280	8.181619	0.693147	adenine phosphoribosyltransferase activity
GO:0061459	0.000280	8.181619	0.693147	L-arginine transmembrane transporter activity
GO:0051731	0.000280	8.181619	0.737599	polynucleotide 5'-hydroxyl-kinase activity
GO:0001588	0.000280	8.181619	0.780159	dopamine neurotransmitter receptor activity, coupled via Gs
GO:0003958	0.000280	8.181619	0.780159	NADPH-hemoprotein reductase activity
GO:0031698	0.000280	8.181619	0.780159	beta-2 adrenergic receptor binding
GO:0034648	0.000280	8.181619	0.780159	histone demethylase activity (H3-dimethyl-K4 specific)
GO:0051371	0.000280	8.181619	0.969401	muscle alpha-actinin binding
GO:0032137	0.000280	8.181619	1.003302	guanine/thymine mispair binding
GO:0005114	0.000280	8.181619	1.098612	type II transforming growth factor beta receptor binding
GO:0005365	0.000280	8.181619	1.098612	myo-inositol transmembrane transporter activity
GO:1990817	0.000280	8.181619	1.098612	RNA adenylyltransferase activity
GO:0017128	0.000280	8.181619	1.185624	phospholipid scramblase activity
GO:0043995	0.000280	8.181619	1.315677	histone acetyltransferase activity (H4-K5 specific)
GO:0046972	0.000280	8.181619	1.315677	histone acetyltransferase activity (H4-K16 specific)
GO:0036080	0.000280	8.181619	1.339774	purine nucleotide-sugar transmembrane transporter activity
GO:0004105	0.000280	8.181619	1.363305	choline-phosphate cytidylyltransferase activity
GO:0004053	0.000280	8.181619	1.386294	arginase activity
GO:0004974	0.000280	8.181619	1.386294	leukotriene receptor activity
GO:0003977	0.000280	8.181619	1.473306	UDP-N-acetylglucosamine diphosphorylase activity
GO:0019781	0.000280	8.181619	1.473306	NEDD8 activating enzyme activity
GO:0031071	0.000280	8.181619	1.514128	cysteine desulfurase activity
GO:0004567	0.000280	8.181619	1.533930	beta-mannosidase activity
GO:0030248	0.000280	8.181619	1.572397	cellulose binding
GO:0004111	0.000280	8.181619	1.591089	creatine kinase activity
GO:0034513	0.000280	8.181619	1.591089	box H/ACA snoRNA binding
GO:0004148	0.000280	8.181619	1.679642	dihydrolipoyl dehydrogenase activity
GO:0004807	0.000280	8.181619	1.696449	triose-phosphate isomerase activity
GO:0097322	0.000280	8.181619	1.729239	7SK snRNA binding
GO:0016165	0.000280	8.181619	1.958814	linoleate 13S-lipoxygenase activity
GO:0031779	0.000280	8.181619	1.996554	melanocortin receptor binding
GO:0017176	0.000280	8.181619	2.090741	phosphatidylinositol N-acetylglucosaminyltransferase activity
GO:0004995	0.000280	8.181619	2.166453	tachykinin receptor activity
GO:0008239	0.000280	8.181619	2.217225	dipeptidyl-peptidase activity
GO:0042799	0.000280	8.181619	2.293453	histone methyltransferase activity (H4-K20 specific)
GO:0005234	0.000280	8.181619	2.329493	extracellularly glutamate-gated ion channel activity
GO:0003825	0.000280	8.181619	2.492454	alpha,alpha-trehalose-phosphate synthase (UDP-forming) activity
GO:0004373	0.000280	8.181619	2.492454	glycogen (starch) synthase activity
GO:0004904	0.000280	8.181619	2.564949	interferon receptor activity
GO:0080019	0.000280	8.181619	2.632543	fatty-acyl-CoA reductase (alcohol-forming) activity
GO:0004014	0.000280	8.181619	2.671009	adenosylmethionine decarboxylase activity
GO:0004590	0.000280	8.181619	2.671009	orotidine-5'-phosphate decarboxylase activity
GO:0004609	0.000280	8.181619	2.671009	phosphatidylserine decarboxylase activity
GO:0004823	0.000280	8.181619	2.671009	leucine-tRNA ligase activity
GO:0004826	0.000280	8.181619	2.671009	phenylalanine-tRNA ligase activity
GO:0004829	0.000280	8.181619	2.671009	threonine-tRNA ligase activity
GO:0015347	0.000280	8.181619	2.683509	sodium-independent organic anion transmembrane transporter activity
GO:0042809	0.000280	8.181619	2.843852	vitamin D receptor binding
GO:0017162	0.000280	8.181619	2.910372	aryl hydrocarbon receptor binding
GO:0003959	0.000280	8.181619	3.013751	NADPH dehydrogenase activity
GO:0016657	0.000280	8.181619	3.013751	oxidoreductase activity, acting on NAD(P)H, nitrogenous group as acceptor
GO:0004019	0.000280	8.181619	3.018205	adenylosuccinate synthase activity
GO:0004060	0.000280	8.181619	3.061690	arylamine N-acetyltransferase activity
GO:0004468	0.000280	8.181619	3.061690	lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0018812	0.000280	8.181619	3.162786	3-hydroxyacyl-CoA dehydratase activity
GO:0001595	0.000280	8.181619	3.170449	angiotensin receptor activity
GO:0097642	0.000280	8.181619	3.170449	calcitonin family receptor activity
GO:0015105	0.000280	8.181619	3.416235	arsenite transmembrane transporter activity
GO:0097216	0.000280	8.181619	3.436915	guanosine tetraphosphate binding
GO:0030599	0.000280	8.181619	3.482638	pectinesterase activity
GO:0035014	0.000280	8.181619	3.504738	phosphatidylinositol 3-kinase regulator activity
GO:0042608	0.000280	8.181619	3.534350	T cell receptor binding
GO:0004348	0.000280	8.181619	3.542276	glucosylceramidase activity
GO:0052621	0.000280	8.181619	3.672842	diguanylate cyclase activity
GO:0015349	0.000280	8.181619	3.812705	thyroid hormone transmembrane transporter activity
GO:0003979	0.000280	8.181619	3.824681	UDP-glucose 6-dehydrogenase activity
GO:0030899	0.000280	8.181619	4.256257	calcium-dependent ATPase activity
GO:0022842	0.000280	8.181619	4.616020	narrow pore channel activity
GO:0019992	0.000280	8.181619	4.619611	diacylglycerol binding
GO:0030527	0.000280	8.181619	4.707891	structural constituent of chromatin
GO:0030337	0.000280	8.181619	4.992903	DNA polymerase processivity factor activity
GO:0004594	0.000280	8.181619	5.239339	pantothenate kinase activity
GO:0042609	0.000280	8.181619	5.368098	CD4 receptor binding
GO:1990226	0.000280	8.181619	5.737452	histone methyltransferase binding
GO:0046977	0.000280	8.181619	7.614178	TAP binding
GO:0070097	0.000280	8.181619	7.614178	delta-catenin binding
GO:0046790	0.000280	8.181619	7.811900	virion binding
GO:0001849	0.000254	8.276929	0.000000	complement component C1q complex binding
GO:0003796	0.000254	8.276929	0.000000	lysozyme activity
GO:0003876	0.000254	8.276929	0.000000	AMP deaminase activity
GO:0004379	0.000254	8.276929	0.000000	glycylpeptide N-tetradecanoyltransferase activity
GO:0004965	0.000254	8.276929	0.000000	G protein-coupled GABA receptor activity
GO:0008499	0.000254	8.276929	0.000000	UDP-galactose:beta-N-acetylglucosamine beta-1,3-galactosyltransferase activity
GO:0008506	0.000254	8.276929	0.000000	sucrose:proton symporter activity
GO:0008517	0.000254	8.276929	0.000000	folic acid transmembrane transporter activity
GO:0009374	0.000254	8.276929	0.000000	biotin binding
GO:0009383	0.000254	8.276929	0.000000	rRNA (cytosine-C5-)-methyltransferase activity
GO:0009674	0.000254	8.276929	0.000000	potassium:sodium symporter activity
GO:0010427	0.000254	8.276929	0.000000	abscisic acid binding
GO:0019869	0.000254	8.276929	0.000000	chloride channel inhibitor activity
GO:0019871	0.000254	8.276929	0.000000	sodium channel inhibitor activity
GO:0032038	0.000254	8.276929	0.000000	myosin II heavy chain binding
GO:0043812	0.000254	8.276929	0.000000	phosphatidylinositol-4-phosphate phosphatase activity
GO:0043813	0.000254	8.276929	0.000000	phosphatidylinositol-3,5-bisphosphate 5-phosphatase activity
GO:0090554	0.000254	8.276929	0.000000	phosphatidylcholine floppase activity
GO:0009669	0.000254	8.276929	0.095310	sucrose:cation symporter activity
GO:0045145	0.000254	8.276929	0.095310	single-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0003870	0.000254	8.276929	0.182322	5-aminolevulinate synthase activity
GO:0030882	0.000254	8.276929	0.182322	lipid antigen binding
GO:0000404	0.000254	8.276929	0.262364	heteroduplex DNA loop binding
GO:0003990	0.000254	8.276929	0.262364	acetylcholinesterase activity
GO:0005131	0.000254	8.276929	0.262364	growth hormone receptor binding
GO:0016361	0.000254	8.276929	0.262364	activin receptor activity, type I
GO:0033765	0.000254	8.276929	0.262364	steroid dehydrogenase activity, acting on the CH-CH group of donors
GO:1990948	0.000254	8.276929	0.262364	ubiquitin ligase inhibitor activity
GO:0015210	0.000254	8.276929	0.336472	uracil transmembrane transporter activity
GO:0004859	0.000254	8.276929	0.405465	phospholipase inhibitor activity
GO:0004556	0.000254	8.276929	0.530628	alpha-amylase activity
GO:0005460	0.000254	8.276929	0.693147	UDP-glucose transmembrane transporter activity
GO:0015190	0.000254	8.276929	0.693147	L-leucine transmembrane transporter activity
GO:0034040	0.000254	8.276929	0.693147	ATPase-coupled lipid transmembrane transporter activity
GO:0004505	0.000254	8.276929	0.741937	phenylalanine 4-monooxygenase activity
GO:0051379	0.000254	8.276929	0.741937	epinephrine binding
GO:0004937	0.000254	8.276929	0.832909	alpha1-adrenergic receptor activity
GO:0008192	0.000254	8.276929	0.875469	RNA guanylyltransferase activity
GO:0005222	0.000254	8.276929	0.916291	intracellular cAMP-activated cation channel activity
GO:0004658	0.000254	8.276929	0.993252	propionyl-CoA carboxylase activity
GO:0004662	0.000254	8.276929	0.993252	CAAX-protein geranylgeranyltransferase activity
GO:0004152	0.000254	8.276929	1.029619	dihydroorotate dehydrogenase activity
GO:0016019	0.000254	8.276929	1.064711	peptidoglycan immune receptor activity
GO:0004088	0.000254	8.276929	1.163151	carbamoyl-phosphate synthase (glutamine-hydrolyzing) activity
GO:0004660	0.000254	8.276929	1.163151	protein farnesyltransferase activity
GO:0071723	0.000254	8.276929	1.163151	lipopeptide binding
GO:0004802	0.000254	8.276929	1.193922	transketolase activity
GO:0016262	0.000254	8.276929	1.193922	protein N-acetylglucosaminyltransferase activity
GO:0005094	0.000254	8.276929	1.252763	Rho GDP-dissociation inhibitor activity
GO:0015211	0.000254	8.276929	1.280934	purine nucleoside transmembrane transporter activity
GO:0015214	0.000254	8.276929	1.280934	pyrimidine nucleoside transmembrane transporter activity
GO:0071077	0.000254	8.276929	1.280934	adenosine 3',5'-bisphosphate transmembrane transporter activity
GO:0042289	0.000254	8.276929	1.308333	MHC class II protein binding
GO:0035243	0.000254	8.276929	1.360977	protein-arginine omega-N symmetric methyltransferase activity
GO:0019864	0.000254	8.276929	1.386294	IgG binding
GO:0031127	0.000254	8.276929	1.386294	alpha-(1,2)-fucosyltransferase activity
GO:0043996	0.000254	8.276929	1.410987	histone acetyltransferase activity (H4-K8 specific)
GO:0052650	0.000254	8.276929	1.410987	NADP-retinol dehydrogenase activity
GO:0016494	0.000254	8.276929	1.458615	C-X-C chemokine receptor activity
GO:0008441	0.000254	8.276929	1.504077	3'(2'),5'-bisphosphate nucleotidase activity
GO:0015129	0.000254	8.276929	1.504077	lactate transmembrane transporter activity
GO:0005132	0.000254	8.276929	1.526056	type I interferon receptor binding
GO:0042973	0.000254	8.276929	1.526056	glucan endo-1,3-beta-D-glucosidase activity
GO:0003884	0.000254	8.276929	1.547563	D-amino-acid oxidase activity
GO:1990405	0.000254	8.276929	1.589235	protein antigen binding
GO:0004971	0.000254	8.276929	1.609438	AMPA glutamate receptor activity
GO:0070404	0.000254	8.276929	1.609438	NADH binding
GO:0097163	0.000254	8.276929	1.648659	sulfur carrier activity
GO:0004793	0.000254	8.276929	1.686399	threonine aldolase activity
GO:0008294	0.000254	8.276929	1.704748	calcium- and calmodulin-responsive adenylate cyclase activity
GO:0042500	0.000254	8.276929	1.704748	aspartic endopeptidase activity, intramembrane cleaving
GO:0016436	0.000254	8.276929	1.757858	rRNA (uridine) methyltransferase activity
GO:0019966	0.000254	8.276929	1.757858	interleukin-1 binding
GO:0001069	0.000254	8.276929	1.774952	regulatory region RNA binding
GO:0016426	0.000254	8.276929	1.824549	tRNA (adenine) methyltransferase activity
GO:0004486	0.000254	8.276929	1.856298	methylenetetrahydrofolate dehydrogenase [NAD(P)+] activity
GO:0033743	0.000254	8.276929	1.856298	peptide-methionine (R)-S-oxide reductase activity
GO:0004127	0.000254	8.276929	1.871802	cytidylate kinase activity
GO:0035727	0.000254	8.276929	1.902108	lysophosphatidic acid binding
GO:0080146	0.000254	8.276929	1.916923	L-cysteine desulfhydrase activity
GO:0034739	0.000254	8.276929	1.987874	histone deacetylase activity (H4-K16 specific)
GO:0016300	0.000254	8.276929	2.028148	tRNA (uracil) methyltransferase activity
GO:0004052	0.000254	8.276929	2.054124	arachidonate 12(S)-lipoxygenase activity
GO:0010436	0.000254	8.276929	2.054124	carotenoid dioxygenase activity
GO:0047623	0.000254	8.276929	2.054124	adenosine-phosphate deaminase activity
GO:0032050	0.000254	8.276929	2.079442	clathrin heavy chain binding
GO:0005138	0.000254	8.276929	2.116256	interleukin-6 receptor binding
GO:0030572	0.000254	8.276929	2.163323	phosphatidyltransferase activity
GO:0002094	0.000254	8.276929	2.219203	polyprenyltransferase activity
GO:0042781	0.000254	8.276929	2.282382	3'-tRNA processing endoribonuclease activity
GO:0000033	0.000254	8.276929	2.341806	alpha-1,3-mannosyltransferase activity
GO:0004582	0.000254	8.276929	2.341806	dolichyl-phosphate beta-D-mannosyltransferase activity
GO:0003953	0.000254	8.276929	2.370244	NAD+ nucleosidase activity
GO:0004335	0.000254	8.276929	2.379546	galactokinase activity
GO:0008453	0.000254	8.276929	2.397895	alanine-glyoxylate transaminase activity
GO:0070548	0.000254	8.276929	2.397895	L-glutamine aminotransferase activity
GO:0009013	0.000254	8.276929	2.727853	succinate-semialdehyde dehydrogenase [NAD(P)+] activity
GO:0004351	0.000254	8.276929	2.766319	glutamate decarboxylase activity
GO:0004633	0.000254	8.276929	2.766319	phosphopantothenoylcysteine decarboxylase activity
GO:0004813	0.000254	8.276929	2.766319	alanine-tRNA ligase activity
GO:0004831	0.000254	8.276929	2.766319	tyrosine-tRNA ligase activity
GO:0017024	0.000254	8.276929	2.772589	myosin I binding
GO:0015099	0.000254	8.276929	2.884801	nickel cation transmembrane transporter activity
GO:0004588	0.000254	8.276929	2.949688	orotate phosphoribosyltransferase activity
GO:0004772	0.000254	8.276929	2.954910	sterol O-acyltransferase activity
GO:0019828	0.000254	8.276929	2.985682	aspartic-type endopeptidase inhibitor activity
GO:0047714	0.000254	8.276929	3.000720	galactolipase activity
GO:0008503	0.000254	8.276929	3.113515	benzodiazepine receptor activity
GO:0008889	0.000254	8.276929	3.186353	glycerophosphodiester phosphodiesterase activity
GO:0008936	0.000254	8.276929	3.214868	nicotinamidase activity
GO:0019171	0.000254	8.276929	3.258097	3-hydroxyacyl-[acyl-carrier-protein] dehydratase activity
GO:0004982	0.000254	8.276929	3.265759	N-formyl peptide receptor activity
GO:0005000	0.000254	8.276929	3.265759	vasopressin receptor activity
GO:0043199	0.000254	8.276929	3.459466	sulfate binding
GO:0003849	0.000254	8.276929	3.526361	3-deoxy-7-phosphoheptulonate synthase activity
GO:0003847	0.000254	8.276929	3.577948	1-alkyl-2-acetylglycerophosphocholine esterase activity
GO:0005127	0.000254	8.276929	3.577948	ciliary neurotrophic factor receptor binding
GO:0070704	0.000254	8.276929	3.808882	sterol desaturase activity
GO:0047952	0.000254	8.276929	3.919991	glycerol-3-phosphate dehydrogenase [NAD(P)+] activity
GO:0016015	0.000254	8.276929	4.044804	morphogen activity
GO:0004576	0.000254	8.276929	4.188138	oligosaccharyl transferase activity
GO:0030350	0.000254	8.276929	4.326778	iron-responsive element binding
GO:1990188	0.000254	8.276929	4.575741	euchromatin binding
GO:0071532	0.000254	8.276929	4.652054	ankyrin repeat binding
GO:0030151	0.000254	8.276929	4.674696	molybdenum ion binding
GO:0031013	0.000254	8.276929	4.941642	troponin I binding
GO:0047631	0.000254	8.276929	4.981550	ADP-ribose diphosphatase activity
GO:0005042	0.000254	8.276929	5.034352	netrin receptor activity
GO:0030235	0.000254	8.276929	5.088213	nitric-oxide synthase regulator activity
GO:0050254	0.000254	8.276929	5.128122	rhodopsin kinase activity
GO:0005030	0.000254	8.276929	5.267343	neurotrophin receptor activity
GO:0070051	0.000254	8.276929	5.283204	fibrinogen binding
GO:0004020	0.000254	8.276929	5.334649	adenylylsulfate kinase activity
GO:0004305	0.000254	8.276929	5.334649	ethanolamine kinase activity
GO:0070025	0.000254	8.276929	5.339939	carbon monoxide binding
GO:0048495	0.000254	8.276929	5.463408	Roundabout binding
GO:0003681	0.000254	8.276929	6.122712	bent DNA binding
GO:0070336	0.000254	8.276929	6.122712	flap-structured DNA binding
GO:0030881	0.000254	8.276929	7.709488	beta-2-microglobulin binding
GO:0030984	0.000254	8.276929	7.709488	kininogen binding
GO:0070026	0.000254	8.276929	7.907210	nitric oxide binding
GO:0004021	0.000229	8.382289	0.000000	L-alanine:2-oxoglutarate aminotransferase activity
GO:0004095	0.000229	8.382289	0.000000	carnitine O-palmitoyltransferase activity
GO:0004314	0.000229	8.382289	0.000000	[acyl-carrier-protein] S-malonyltransferase activity
GO:0004346	0.000229	8.382289	0.000000	glucose-6-phosphatase activity
GO:0004720	0.000229	8.382289	0.000000	protein-lysine 6-oxidase activity
GO:0004838	0.000229	8.382289	0.000000	L-tyrosine:2-oxoglutarate aminotransferase activity
GO:0005368	0.000229	8.382289	0.000000	taurine transmembrane transporter activity
GO:0008511	0.000229	8.382289	0.000000	sodium:potassium:chloride symporter activity
GO:0008705	0.000229	8.382289	0.000000	methionine synthase activity
GO:0008893	0.000229	8.382289	0.000000	guanosine-3',5'-bis(diphosphate) 3'-diphosphatase activity
GO:0008933	0.000229	8.382289	0.000000	lytic transglycosylase activity
GO:0016297	0.000229	8.382289	0.000000	acyl-[acyl-carrier-protein] hydrolase activity
GO:0016419	0.000229	8.382289	0.000000	S-malonyltransferase activity
GO:0016532	0.000229	8.382289	0.000000	superoxide dismutase copper chaperone activity
GO:0017150	0.000229	8.382289	0.000000	tRNA dihydrouridine synthase activity
GO:0051434	0.000229	8.382289	0.000000	BH3 domain binding
GO:0090422	0.000229	8.382289	0.000000	thiamine pyrophosphate transmembrane transporter activity
GO:0004367	0.000229	8.382289	0.105361	glycerol-3-phosphate dehydrogenase [NAD+] activity
GO:0008398	0.000229	8.382289	0.105361	sterol 14-demethylase activity
GO:0015213	0.000229	8.382289	0.105361	uridine transmembrane transporter activity
GO:0016418	0.000229	8.382289	0.105361	S-acetyltransferase activity
GO:0032558	0.000229	8.382289	0.105361	adenyl deoxyribonucleotide binding
GO:0042959	0.000229	8.382289	0.105361	alkanesulfonate transmembrane transporter activity
GO:0002135	0.000229	8.382289	0.200671	CTP binding
GO:0019870	0.000229	8.382289	0.200671	potassium channel inhibitor activity
GO:0031782	0.000229	8.382289	0.200671	type 4 melanocortin receptor binding
GO:0034235	0.000229	8.382289	0.200671	GPI anchor binding
GO:0004560	0.000229	8.382289	0.287682	alpha-L-fucosidase activity
GO:0031702	0.000229	8.382289	0.287682	type 1 angiotensin receptor binding
GO:0038022	0.000229	8.382289	0.287682	G protein-coupled olfactory receptor activity
GO:0004368	0.000229	8.382289	0.367725	glycerol-3-phosphate dehydrogenase (quinone) activity
GO:0016731	0.000229	8.382289	0.367725	oxidoreductase activity, acting on iron-sulfur proteins as donors, NAD or NADP as acceptor
GO:0032407	0.000229	8.382289	0.367725	MutSalpha complex binding
GO:0051753	0.000229	8.382289	0.367725	mannan synthase activity
GO:1902282	0.000229	8.382289	0.367725	voltage-gated potassium channel activity involved in ventricular cardiac muscle cell action potential repolarization
GO:0090555	0.000229	8.382289	0.441833	phosphatidylethanolamine flippase activity
GO:0031802	0.000229	8.382289	0.510826	type 5 metabotropic glutamate receptor binding
GO:0047035	0.000229	8.382289	0.510826	testosterone dehydrogenase (NAD+) activity
GO:0070259	0.000229	8.382289	0.510826	tyrosyl-DNA phosphodiesterase activity
GO:0004352	0.000229	8.382289	0.635989	glutamate dehydrogenase (NAD+) activity
GO:0004797	0.000229	8.382289	0.635989	thymidine kinase activity
GO:1990757	0.000229	8.382289	0.635989	ubiquitin ligase activator activity
GO:0005167	0.000229	8.382289	0.693147	neurotrophin TRK receptor binding
GO:0005330	0.000229	8.382289	0.693147	dopamine:sodium symporter activity
GO:0005335	0.000229	8.382289	0.693147	serotonin:sodium symporter activity
GO:0001851	0.000229	8.382289	0.747214	complement component C3b binding
GO:0004719	0.000229	8.382289	0.798508	protein-L-isoaspartate (D-aspartate) O-methyltransferase activity
GO:0052629	0.000229	8.382289	0.798508	phosphatidylinositol-3,5-bisphosphate 3-phosphatase activity
GO:0051380	0.000229	8.382289	0.847298	norepinephrine binding
GO:0034647	0.000229	8.382289	0.980829	histone demethylase activity (H3-trimethyl-K4 specific)
GO:0003973	0.000229	8.382289	1.021651	(S)-2-hydroxy-acid oxidase activity
GO:0003881	0.000229	8.382289	1.060872	CDP-diacylglycerol-inositol 3-phosphatidyltransferase activity
GO:0016314	0.000229	8.382289	1.060872	phosphatidylinositol-3,4,5-trisphosphate 3-phosphatase activity
GO:0070735	0.000229	8.382289	1.060872	protein-glycine ligase activity
GO:0001734	0.000229	8.382289	1.098612	mRNA (N6-adenosine)-methyltransferase activity
GO:0009019	0.000229	8.382289	1.098612	tRNA (guanine-N1-)-methyltransferase activity
GO:0052666	0.000229	8.382289	1.098612	tRNA (cytosine-2'-O-)-methyltransferase activity
GO:0070697	0.000229	8.382289	1.170071	activin receptor binding
GO:0004692	0.000229	8.382289	1.203973	cGMP-dependent protein kinase activity
GO:0004557	0.000229	8.382289	1.236763	alpha-galactosidase activity
GO:0010334	0.000229	8.382289	1.299283	sesquiterpene synthase activity
GO:0004045	0.000229	8.382289	1.329136	aminoacyl-tRNA hydrolase activity
GO:0008800	0.000229	8.382289	1.329136	beta-lactamase activity
GO:0015192	0.000229	8.382289	1.386294	L-phenylalanine transmembrane transporter activity
GO:0015196	0.000229	8.382289	1.386294	L-tryptophan transmembrane transporter activity
GO:0043262	0.000229	8.382289	1.386294	adenosine-diphosphatase activity
GO:0023029	0.000229	8.382289	1.413693	MHC class Ib protein binding
GO:0031730	0.000229	8.382289	1.413693	CCR5 chemokine receptor binding
GO:1903763	0.000229	8.382289	1.491655	gap junction channel activity involved in cell communication by electrical coupling
GO:0001093	0.000229	8.382289	1.516347	TFIIB-class transcription factor binding
GO:0004769	0.000229	8.382289	1.540445	steroid delta-isomerase activity
GO:0009882	0.000229	8.382289	1.540445	blue light photoreceptor activity
GO:0030523	0.000229	8.382289	1.586965	dihydrolipoamide S-acyltransferase activity
GO:0086006	0.000229	8.382289	1.586965	voltage-gated sodium channel activity involved in cardiac muscle cell action potential
GO:0043426	0.000229	8.382289	1.609438	MRF binding
GO:0004338	0.000229	8.382289	1.631417	glucan exo-1,3-beta-glucosidase activity
GO:0008108	0.000229	8.382289	1.673976	UDP-glucose:hexose-1-phosphate uridylyltransferase activity
GO:0008489	0.000229	8.382289	1.673976	UDP-galactose:glucosylceramide beta-1,4-galactosyltransferase activity
GO:0098821	0.000229	8.382289	1.673976	BMP receptor activity
GO:0050309	0.000229	8.382289	1.714798	sugar-terminal-phosphatase activity
GO:1990538	0.000229	8.382289	1.734601	xylan O-acetyltransferase activity
GO:0001872	0.000229	8.382289	1.773067	(1->3)-beta-D-glucan binding
GO:0004321	0.000229	8.382289	1.791759	fatty-acyl-CoA synthase activity
GO:0047023	0.000229	8.382289	1.863218	androsterone dehydrogenase activity
GO:0003846	0.000229	8.382289	1.880313	2-acylglycerol O-acyltransferase activity
GO:0004476	0.000229	8.382289	1.897120	mannose-6-phosphate isomerase activity
GO:0004751	0.000229	8.382289	1.897120	ribose-5-phosphate isomerase activity
GO:0071917	0.000229	8.382289	1.897120	triose-phosphate transmembrane transporter activity
GO:0003986	0.000229	8.382289	1.913649	acetyl-CoA hydrolase activity
GO:0000700	0.000229	8.382289	1.945910	mismatch base pair DNA N-glycosylase activity
GO:0004489	0.000229	8.382289	1.961659	methylenetetrahydrofolate reductase (NAD(P)H) activity
GO:0070728	0.000229	8.382289	1.961659	leucine binding
GO:0004798	0.000229	8.382289	1.977163	thymidylate kinase activity
GO:0017096	0.000229	8.382289	2.007468	acetylserotonin O-methyltransferase activity
GO:0004464	0.000229	8.382289	2.022283	leukotriene-C4 synthase activity
GO:0016847	0.000229	8.382289	2.022283	1-aminocyclopropane-1-carboxylate synthase activity
GO:0030943	0.000229	8.382289	2.051271	mitochondrion targeting sequence binding
GO:0050613	0.000229	8.382289	2.146581	delta14-sterol reductase activity
GO:0047844	0.000229	8.382289	2.159484	deoxycytidine deaminase activity
GO:0042903	0.000229	8.382289	2.184802	tubulin deacetylase activity
GO:0008332	0.000229	8.382289	2.221616	low voltage-gated calcium channel activity
GO:0031956	0.000229	8.382289	2.233592	medium-chain fatty acid-CoA ligase activity
GO:1990714	0.000229	8.382289	2.268684	hydroxyproline O-galactosyltransferase activity
GO:0004100	0.000229	8.382289	2.291412	chitin synthase activity
GO:0005452	0.000229	8.382289	2.324564	inorganic anion exchanger activity
GO:0045547	0.000229	8.382289	2.324564	dehydrodolichyl diphosphate synthase activity
GO:0019531	0.000229	8.382289	2.437504	oxalate transmembrane transporter activity
GO:0000309	0.000229	8.382289	2.484907	nicotinamide-nucleotide adenylyltransferase activity
GO:0001730	0.000229	8.382289	2.484907	2'-5'-oligoadenylate synthetase activity
GO:0047635	0.000229	8.382289	2.503256	alanine-oxo-acid transaminase activity
GO:0070547	0.000229	8.382289	2.503256	L-tyrosine aminotransferase activity
GO:0022850	0.000229	8.382289	2.521274	serotonin-gated cation-selective channel activity
GO:0045543	0.000229	8.382289	2.530163	gibberellin 2-beta-dioxygenase activity
GO:0004657	0.000229	8.382289	2.538974	proline dehydrogenase activity
GO:0047760	0.000229	8.382289	2.564949	butyrate-CoA ligase activity
GO:0034481	0.000229	8.382289	2.662588	chondroitin sulfotransferase activity
GO:0004774	0.000229	8.382289	2.693125	succinate-CoA ligase activity
GO:0004586	0.000229	8.382289	2.871680	ornithine decarboxylase activity
GO:0004814	0.000229	8.382289	2.871680	arginine-tRNA ligase activity
GO:0004815	0.000229	8.382289	2.871680	aspartate-tRNA ligase activity
GO:0004816	0.000229	8.382289	2.871680	asparagine-tRNA ligase activity
GO:0004822	0.000229	8.382289	2.871680	isoleucine-tRNA ligase activity
GO:0004824	0.000229	8.382289	2.871680	lysine-tRNA ligase activity
GO:0004827	0.000229	8.382289	2.871680	proline-tRNA ligase activity
GO:0004828	0.000229	8.382289	2.871680	serine-tRNA ligase activity
GO:0004830	0.000229	8.382289	2.871680	tryptophan-tRNA ligase activity
GO:0004832	0.000229	8.382289	2.871680	valine-tRNA ligase activity
GO:0035374	0.000229	8.382289	2.920769	chondroitin sulfate binding
GO:0004667	0.000229	8.382289	2.926739	prostaglandin-D synthase activity
GO:0004875	0.000229	8.382289	2.973259	complement receptor activity
GO:0047196	0.000229	8.382289	3.060271	long-chain-alcohol O-fatty-acyltransferase activity
GO:0016652	0.000229	8.382289	3.214421	oxidoreductase activity, acting on NAD(P)H, NAD(P) as acceptor
GO:0004059	0.000229	8.382289	3.262361	aralkylamine N-acetyltransferase activity
GO:0000224	0.000229	8.382289	3.320228	peptide-N4-(N-acetyl-beta-glucosaminyl)asparagine amidase activity
GO:0004852	0.000229	8.382289	3.363457	uroporphyrinogen-III synthase activity
GO:0008446	0.000229	8.382289	3.363457	GDP-mannose 4,6-dehydratase activity
GO:0004064	0.000229	8.382289	3.683308	arylesterase activity
GO:0050253	0.000229	8.382289	3.683308	retinyl-palmitate esterase activity
GO:0080030	0.000229	8.382289	3.683308	methyl indole-3-acetate esterase activity
GO:0004649	0.000229	8.382289	3.742947	poly(ADP-ribose) glycohydrolase activity
GO:0004650	0.000229	8.382289	3.742947	polygalacturonase activity
GO:0097599	0.000229	8.382289	3.742947	xylanase activity
GO:0031685	0.000229	8.382289	3.843030	adenosine receptor binding
GO:0003862	0.000229	8.382289	4.025352	3-isopropylmalate dehydrogenase activity
GO:0004617	0.000229	8.382289	4.025352	phosphoglycerate dehydrogenase activity
GO:0047545	0.000229	8.382289	4.151914	2-hydroxyglutarate dehydrogenase activity
GO:0010521	0.000229	8.382289	4.165804	telomerase inhibitor activity
GO:0042084	0.000229	8.382289	4.193016	5-methyltetrahydrofolate-dependent methyltransferase activity
GO:0010856	0.000229	8.382289	4.425512	adenylate cyclase activator activity
GO:0035368	0.000229	8.382289	4.432139	selenocysteine insertion sequence binding
GO:0001609	0.000229	8.382289	4.455638	G protein-coupled adenosine receptor activity
GO:0016503	0.000229	8.382289	4.455638	pheromone receptor activity
GO:0008962	0.000229	8.382289	4.539742	phosphatidylglycerophosphatase activity
GO:0043136	0.000229	8.382289	4.539742	glycerol-3-phosphatase activity
GO:0030911	0.000229	8.382289	4.757414	TPR domain binding
GO:0032093	0.000229	8.382289	4.757414	SAM domain binding
GO:0050693	0.000229	8.382289	4.757414	LBD domain binding
GO:0071987	0.000229	8.382289	4.757414	WD40-repeat domain binding
GO:0016794	0.000229	8.382289	4.800371	diphosphoric monoester hydrolase activity
GO:0038064	0.000229	8.382289	5.139712	collagen receptor activity
GO:0032795	0.000229	8.382289	5.388564	heterotrimeric G-protein binding
GO:0036033	0.000229	8.382289	5.388564	mediator complex binding
GO:1905394	0.000229	8.382289	5.388564	retromer complex binding
GO:0002151	0.000229	8.382289	5.431779	G-quadruplex RNA binding
GO:0003951	0.000229	8.382289	5.440010	NAD+ kinase activity
GO:0004765	0.000229	8.382289	5.440010	shikimate kinase activity
GO:0033265	0.000229	8.382289	5.445300	choline binding
GO:0080132	0.000229	8.382289	5.666811	fatty acid alpha-hydroxylase activity
GO:0003696	0.000229	8.382289	5.674849	satellite DNA binding
GO:0045322	0.000229	8.382289	5.900810	unmethylated CpG binding
GO:0044388	0.000229	8.382289	5.938122	small protein activating enzyme binding
GO:0030492	0.000229	8.382289	7.814848	hemoglobin binding
GO:0034711	0.000229	8.382289	7.814848	inhibin binding
GO:0045503	0.000229	8.382289	7.814848	dynein light chain binding
GO:0071253	0.000229	8.382289	7.814848	connexin binding
GO:0097108	0.000229	8.382289	7.814848	hedgehog family protein binding
GO:0003913	0.000203	8.500072	0.000000	DNA photolyase activity
GO:0004013	0.000203	8.500072	0.000000	adenosylhomocysteinase activity
GO:0004134	0.000203	8.500072	0.000000	4-alpha-glucanotransferase activity
GO:0004375	0.000203	8.500072	0.000000	glycine dehydrogenase (decarboxylating) activity
GO:0004742	0.000203	8.500072	0.000000	dihydrolipoyllysine-residue acetyltransferase activity
GO:0005277	0.000203	8.500072	0.000000	acetylcholine transmembrane transporter activity
GO:0005499	0.000203	8.500072	0.000000	vitamin D binding
GO:0008311	0.000203	8.500072	0.000000	double-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0008476	0.000203	8.500072	0.000000	protein-tyrosine sulfotransferase activity
GO:0008479	0.000203	8.500072	0.000000	queuine tRNA-ribosyltransferase activity
GO:0009001	0.000203	8.500072	0.000000	serine O-acetyltransferase activity
GO:0015143	0.000203	8.500072	0.000000	urate transmembrane transporter activity
GO:0015229	0.000203	8.500072	0.000000	L-ascorbic acid transmembrane transporter activity
GO:0015350	0.000203	8.500072	0.000000	methotrexate transmembrane transporter activity
GO:0019705	0.000203	8.500072	0.000000	protein-cysteine S-myristoyltransferase activity
GO:0022841	0.000203	8.500072	0.000000	potassium ion leak channel activity
GO:0030550	0.000203	8.500072	0.000000	acetylcholine receptor inhibitor activity
GO:0032564	0.000203	8.500072	0.000000	dATP binding
GO:0034603	0.000203	8.500072	0.000000	pyruvate dehydrogenase [NAD(P)+] activity
GO:0034604	0.000203	8.500072	0.000000	pyruvate dehydrogenase (NAD+) activity
GO:0051429	0.000203	8.500072	0.000000	corticotropin-releasing hormone receptor binding
GO:0106029	0.000203	8.500072	0.000000	tRNA pseudouridine synthase activity
GO:1990269	0.000203	8.500072	0.000000	RNA polymerase II C-terminal domain phosphoserine binding
GO:0008746	0.000203	8.500072	0.117783	NAD(P)+ transhydrogenase activity
GO:0003865	0.000203	8.500072	0.223144	3-oxo-5-alpha-steroid 4-dehydrogenase activity
GO:0004360	0.000203	8.500072	0.223144	glutamine-fructose-6-phosphate transaminase (isomerizing) activity
GO:0004579	0.000203	8.500072	0.223144	dolichyl-diphosphooligosaccharide-protein glycotransferase activity
GO:0004671	0.000203	8.500072	0.223144	protein C-terminal S-isoprenylcysteine carboxyl O-methyltransferase activity
GO:0008107	0.000203	8.500072	0.223144	galactoside 2-alpha-L-fucosyltransferase activity
GO:0008808	0.000203	8.500072	0.223144	cardiolipin synthase activity
GO:0015228	0.000203	8.500072	0.223144	coenzyme A transmembrane transporter activity
GO:0071633	0.000203	8.500072	0.223144	dihydroceramidase activity
GO:0004001	0.000203	8.500072	0.318454	adenosine kinase activity
GO:0004945	0.000203	8.500072	0.318454	angiotensin type II receptor activity
GO:0005457	0.000203	8.500072	0.318454	GDP-fucose transmembrane transporter activity
GO:0008452	0.000203	8.500072	0.318454	RNA ligase activity
GO:0030297	0.000203	8.500072	0.318454	transmembrane receptor protein tyrosine kinase activator activity
GO:0034639	0.000203	8.500072	0.318454	L-amino acid efflux transmembrane transporter activity
GO:0004072	0.000203	8.500072	0.405465	aspartate kinase activity
GO:0004081	0.000203	8.500072	0.405465	bis(5'-nucleosyl)-tetraphosphatase (asymmetrical) activity
GO:0008271	0.000203	8.500072	0.405465	secondary active sulfate transmembrane transporter activity
GO:0016464	0.000203	8.500072	0.405465	chloroplast protein-transporting ATPase activity
GO:0001601	0.000203	8.500072	0.485508	peptide YY receptor activity
GO:0004651	0.000203	8.500072	0.559616	polynucleotide 5'-phosphatase activity
GO:0099635	0.000203	8.500072	0.559616	voltage-gated calcium channel activity involved in positive regulation of presynaptic cytosolic calcium levels
GO:0001642	0.000203	8.500072	0.628609	group III metabotropic glutamate receptor activity
GO:0004585	0.000203	8.500072	0.628609	ornithine carbamoyltransferase activity
GO:0089721	0.000203	8.500072	0.628609	phosphoenolpyruvate transmembrane transporter activity
GO:0140135	0.000203	8.500072	0.628609	mechanosensitive cation channel activity
GO:0015234	0.000203	8.500072	0.693147	thiamine transmembrane transporter activity
GO:0017083	0.000203	8.500072	0.693147	4-galactosyl-N-acetylglucosaminide 3-alpha-L-fucosyltransferase activity
GO:0001729	0.000203	8.500072	0.753772	ceramide kinase activity
GO:0030378	0.000203	8.500072	0.753772	serine racemase activity
GO:0097200	0.000203	8.500072	0.753772	cysteine-type endopeptidase activity involved in execution phase of apoptosis
GO:0032138	0.000203	8.500072	0.864997	single base insertion or deletion binding
GO:0052725	0.000203	8.500072	0.864997	inositol-1,3,4-trisphosphate 6-kinase activity
GO:0005304	0.000203	8.500072	0.916291	L-valine transmembrane transporter activity
GO:0004591	0.000203	8.500072	1.011601	oxoglutarate dehydrogenase (succinyl-transferring) activity
GO:0008843	0.000203	8.500072	1.011601	endochitinase activity
GO:0080054	0.000203	8.500072	1.056053	low-affinity nitrate transmembrane transporter activity
GO:0005004	0.000203	8.500072	1.098612	GPI-linked ephrin receptor activity
GO:0016231	0.000203	8.500072	1.098612	beta-N-acetylglucosaminidase activity
GO:0140439	0.000203	8.500072	1.098612	protein-cysteine S-stearoyltransferase activity
GO:0004618	0.000203	8.500072	1.139434	phosphoglycerate kinase activity
GO:0071972	0.000203	8.500072	1.139434	peptidoglycan L,D-transpeptidase activity
GO:0004466	0.000203	8.500072	1.178655	long-chain-acyl-CoA dehydrogenase activity
GO:0008444	0.000203	8.500072	1.178655	CDP-diacylglycerol-glycerol-3-phosphate 3-phosphatidyltransferase activity
GO:0035438	0.000203	8.500072	1.178655	cyclic-di-GMP binding
GO:0005250	0.000203	8.500072	1.216395	A-type (transient outward) potassium channel activity
GO:0016286	0.000203	8.500072	1.252763	small conductance calcium-activated potassium channel activity
GO:0031749	0.000203	8.500072	1.252763	D2 dopamine receptor binding
GO:0036042	0.000203	8.500072	1.252763	long-chain fatty acyl-CoA binding
GO:0070538	0.000203	8.500072	1.252763	oleic acid binding
GO:0001875	0.000203	8.500072	1.287854	lipopolysaccharide immune receptor activity
GO:0004939	0.000203	8.500072	1.321756	beta-adrenergic receptor activity
GO:0044374	0.000203	8.500072	1.321756	sequence-specific DNA binding, bending
GO:0008721	0.000203	8.500072	1.354546	D-serine ammonia-lyase activity
GO:0008449	0.000203	8.500072	1.386294	N-acetylglucosamine-6-sulfatase activity
GO:0016802	0.000203	8.500072	1.386294	trialkylsulfonium hydrolase activity
GO:0019958	0.000203	8.500072	1.386294	C-X-C chemokine binding
GO:0001097	0.000203	8.500072	1.417066	TFIIH-class transcription factor complex binding
GO:0004157	0.000203	8.500072	1.446919	dihydropyrimidinase activity
GO:0016726	0.000203	8.500072	1.446919	oxidoreductase activity, acting on CH or CH2 groups, NAD or NADP as acceptor
GO:0005302	0.000203	8.500072	1.504077	L-tyrosine transmembrane transporter activity
GO:0031726	0.000203	8.500072	1.531476	CCR1 chemokine receptor binding
GO:0031727	0.000203	8.500072	1.531476	CCR2 chemokine receptor binding
GO:0016756	0.000203	8.500072	1.558145	glutathione gamma-glutamylcysteinyltransferase activity
GO:0000285	0.000203	8.500072	1.584120	1-phosphatidylinositol-3-phosphate 5-kinase activity
GO:0008413	0.000203	8.500072	1.584120	8-oxo-7,8-dihydroguanosine triphosphate pyrophosphatase activity
GO:0098634	0.000203	8.500072	1.609438	cell-matrix adhesion mediator activity
GO:0004167	0.000203	8.500072	1.658228	dopachrome isomerase activity
GO:0004452	0.000203	8.500072	1.658228	isopentenyl-diphosphate delta-isomerase activity
GO:0004706	0.000203	8.500072	1.658228	JUN kinase kinase kinase activity
GO:0043237	0.000203	8.500072	1.681759	laminin-1 binding
GO:0004421	0.000203	8.500072	1.704748	hydroxymethylglutaryl-CoA synthase activity
GO:0004615	0.000203	8.500072	1.749200	phosphomannomutase activity
GO:0004733	0.000203	8.500072	1.770706	pyridoxamine-phosphate oxidase activity
GO:0003828	0.000203	8.500072	1.791759	alpha-N-acetylneuraminate alpha-2,8-sialyltransferase activity
GO:0003836	0.000203	8.500072	1.791759	beta-galactoside (CMP) alpha-2,3-sialyltransferase activity
GO:0015272	0.000203	8.500072	1.791759	ATP-activated inward rectifier potassium channel activity
GO:0101020	0.000203	8.500072	1.871802	estrogen 16-alpha-hydroxylase activity
GO:0034512	0.000203	8.500072	1.909543	box C/D snoRNA binding
GO:0070815	0.000203	8.500072	1.927892	peptidyl-lysine 5-dioxygenase activity
GO:0062037	0.000203	8.500072	2.031432	D-loop DNA binding
GO:0050649	0.000203	8.500072	2.154665	testosterone 6-beta-hydroxylase activity
GO:0004113	0.000203	8.500072	2.224624	2',3'-cyclic-nucleotide 3'-phosphodiesterase activity
GO:0050473	0.000203	8.500072	2.277267	arachidonate 15-lipoxygenase activity
GO:0016642	0.000203	8.500072	2.290006	oxidoreductase activity, acting on the CH-NH2 group of donors, disulfide as acceptor
GO:0031705	0.000203	8.500072	2.315008	bombesin receptor binding
GO:0005134	0.000203	8.500072	2.339399	interleukin-2 receptor binding
GO:0051377	0.000203	8.500072	2.386467	mannose-ethanolamine phosphotransferase activity
GO:0042806	0.000203	8.500072	2.484907	fucose binding
GO:0004326	0.000203	8.500072	2.515678	tetrahydrofolylpolyglutamate synthase activity
GO:0004363	0.000203	8.500072	2.515678	glutathione synthase activity
GO:0004376	0.000203	8.500072	2.564949	glycolipid mannosyltransferase activity
GO:0003919	0.000203	8.500072	2.602690	FMN adenylyltransferase activity
GO:0004515	0.000203	8.500072	2.602690	nicotinate-nucleotide adenylyltransferase activity
GO:0003867	0.000203	8.500072	2.621039	4-aminobutyrate transaminase activity
GO:0047536	0.000203	8.500072	2.621039	2-aminoadipate transaminase activity
GO:0005017	0.000203	8.500072	2.674149	platelet-derived growth factor-activated receptor activity
GO:0008976	0.000203	8.500072	2.682732	polyphosphate kinase activity
GO:0047676	0.000203	8.500072	2.682732	arachidonate-CoA ligase activity
GO:0004989	0.000203	8.500072	2.716349	octopamine receptor activity
GO:1990238	0.000203	8.500072	2.748872	double-stranded DNA endodeoxyribonuclease activity
GO:0001537	0.000203	8.500072	2.780371	N-acetylgalactosamine 4-O-sulfotransferase activity
GO:0003980	0.000203	8.500072	2.810908	UDP-glucose:glycoprotein glucosyltransferase activity
GO:0008120	0.000203	8.500072	2.810908	ceramide glucosyltransferase activity
GO:0051538	0.000203	8.500072	2.810908	3 iron, 4 sulfur cluster binding
GO:0080046	0.000203	8.500072	2.810908	quercetin 4'-O-glucosyltransferase activity
GO:0000064	0.000203	8.500072	2.840539	L-ornithine transmembrane transporter activity
GO:0050486	0.000203	8.500072	2.862201	intramolecular transferase activity, transferring hydroxy groups
GO:0004897	0.000203	8.500072	2.883403	ciliary neurotrophic factor receptor activity
GO:0004908	0.000203	8.500072	2.883403	interleukin-1 receptor activity
GO:0005497	0.000203	8.500072	2.970414	androgen binding
GO:0010011	0.000203	8.500072	2.970414	auxin binding
GO:0004058	0.000203	8.500072	2.989463	aromatic-L-amino-acid decarboxylase activity
GO:0004818	0.000203	8.500072	2.989463	glutamate-tRNA ligase activity
GO:0004820	0.000203	8.500072	2.989463	glycine-tRNA ligase activity
GO:0043120	0.000203	8.500072	3.032546	tumor necrosis factor binding
GO:0061860	0.000203	8.500072	3.050457	DNA clamp unloader activity
GO:0032393	0.000203	8.500072	3.091042	MHC class I receptor activity
GO:0017018	0.000203	8.500072	3.113515	myosin phosphatase activity
GO:0003956	0.000203	8.500072	3.172832	NAD(P)+-protein-arginine ADP-ribosyltransferase activity
GO:0004044	0.000203	8.500072	3.172832	amidophosphoribosyltransferase activity
GO:0052636	0.000203	8.500072	3.172832	arabinosyltransferase activity
GO:0038085	0.000203	8.500072	3.188417	vascular endothelial growth factor binding
GO:1903136	0.000203	8.500072	3.243568	cuprous ion binding
GO:0004329	0.000203	8.500072	3.336659	formate-tetrahydrofolate ligase activity
GO:0004145	0.000203	8.500072	3.380144	diamine N-acetyltransferase activity
GO:0140031	0.000203	8.500072	3.397022	phosphorylation-dependent protein binding
GO:0004046	0.000203	8.500072	3.438011	aminoacylase activity
GO:0016715	0.000203	8.500072	3.465736	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced ascorbate as one donor, and incorporation of one atom of oxygen
GO:0004655	0.000203	8.500072	3.481240	porphobilinogen synthase activity
GO:0047769	0.000203	8.500072	3.481240	arogenate dehydratase activity
GO:0070643	0.000203	8.500072	3.713572	vitamin D 25-hydroxylase activity
GO:0010858	0.000203	8.500072	3.734689	calcium-dependent protein kinase regulator activity
GO:0015111	0.000203	8.500072	3.734689	iodide transmembrane transporter activity
GO:0009824	0.000203	8.500072	3.749504	AMP dimethylallyltransferase activity
GO:1901702	0.000203	8.500072	3.752441	salt transmembrane transporter activity
GO:0019002	0.000203	8.500072	3.755369	GMP binding
GO:0017057	0.000203	8.500072	3.801091	6-phosphogluconolactonase activity
GO:0004566	0.000203	8.500072	3.860730	beta-glucuronidase activity
GO:0008810	0.000203	8.500072	3.860730	cellulase activity
GO:0019137	0.000203	8.500072	3.860730	thioglucosidase activity
GO:0050501	0.000203	8.500072	3.891820	hyaluronan synthase activity
GO:0031628	0.000203	8.500072	3.960813	opioid receptor binding
GO:0031821	0.000203	8.500072	3.960813	G protein-coupled serotonin receptor binding
GO:0042284	0.000203	8.500072	4.032026	sphingolipid delta-4 desaturase activity
GO:0000253	0.000203	8.500072	4.143135	3-keto sterol reductase activity
GO:0004616	0.000203	8.500072	4.143135	phosphogluconate dehydrogenase (decarboxylating) activity
GO:0030267	0.000203	8.500072	4.143135	glyoxylate reductase (NADP) activity
GO:0016176	0.000203	8.500072	4.543295	superoxide-generating NADPH oxidase activator activity
GO:1990715	0.000203	8.500072	4.549922	mRNA CDS binding
GO:0004991	0.000203	8.500072	4.573421	parathyroid hormone receptor activity
GO:0016520	0.000203	8.500072	4.573421	growth hormone-releasing hormone receptor activity
GO:0004703	0.000203	8.500072	4.893165	G protein-coupled receptor kinase activity
GO:0004711	0.000203	8.500072	4.893165	ribosomal protein S6 kinase activity
GO:0019911	0.000203	8.500072	5.026345	structural constituent of myelin sheath
GO:0005519	0.000203	8.500072	5.164786	cytoskeletal regulatory protein binding
GO:0030172	0.000203	8.500072	5.164786	troponin C binding
GO:0070095	0.000203	8.500072	5.166927	fructose-6-phosphate binding
GO:0035650	0.000203	8.500072	5.506347	AP-1 adaptor complex binding
GO:0004370	0.000203	8.500072	5.557793	glycerol kinase activity
GO:0005124	0.000203	8.500072	5.686552	scavenger receptor binding
GO:0034190	0.000203	8.500072	5.686552	apolipoprotein receptor binding
GO:0097109	0.000203	8.500072	5.686552	neuroligin family protein binding
GO:1901375	0.000203	8.500072	5.962615	acetate ester transmembrane transporter activity
GO:0035473	0.000203	8.500072	6.055905	lipase binding
GO:0044547	0.000203	8.500072	6.055905	DNA topoisomerase binding
GO:0045027	0.000203	8.500072	6.345856	DNA end binding
GO:0045504	0.000203	8.500072	7.932631	dynein heavy chain binding
GO:0051021	0.000203	8.500072	7.932631	GDP-dissociation inhibitor binding
GO:0061770	0.000203	8.500072	7.932631	translation elongation factor binding
GO:0045735	0.000203	8.500072	8.500072	nutrient reservoir activity
GO:0001226	0.000178	8.633604	0.000000	RNA polymerase II transcription corepressor binding
GO:0004698	0.000178	8.633604	0.000000	calcium-dependent protein kinase C activity
GO:0004809	0.000178	8.633604	0.000000	tRNA (guanine-N2-)-methyltransferase activity
GO:0005280	0.000178	8.633604	0.000000	amino acid:proton symporter activity
GO:0005332	0.000178	8.633604	0.000000	gamma-aminobutyric acid:sodium symporter activity
GO:0005415	0.000178	8.633604	0.000000	nucleoside:sodium symporter activity
GO:0008427	0.000178	8.633604	0.000000	calcium-dependent protein kinase inhibitor activity
GO:0008900	0.000178	8.633604	0.000000	potassium:proton exchanging ATPase activity
GO:0009977	0.000178	8.633604	0.000000	proton motive force dependent protein transmembrane transporter activity
GO:0015120	0.000178	8.633604	0.000000	phosphoglycerate transmembrane transporter activity
GO:0015182	0.000178	8.633604	0.000000	L-asparagine transmembrane transporter activity
GO:0015191	0.000178	8.633604	0.000000	L-methionine transmembrane transporter activity
GO:0015225	0.000178	8.633604	0.000000	biotin transmembrane transporter activity
GO:0015410	0.000178	8.633604	0.000000	manganese transmembrane transporter activity, phosphorylative mechanism
GO:0030158	0.000178	8.633604	0.000000	protein xylosyltransferase activity
GO:0047057	0.000178	8.633604	0.000000	vitamin-K-epoxide reductase (warfarin-sensitive) activity
GO:0047627	0.000178	8.633604	0.000000	adenylylsulfatase activity
GO:0050567	0.000178	8.633604	0.000000	glutaminyl-tRNA synthase (glutamine-hydrolyzing) activity
GO:0070139	0.000178	8.633604	0.000000	SUMO-specific endopeptidase activity
GO:0070573	0.000178	8.633604	0.000000	metallodipeptidase activity
GO:0004298	0.000178	8.633604	0.133531	threonine-type endopeptidase activity
GO:0008475	0.000178	8.633604	0.133531	procollagen-lysine 5-dioxygenase activity
GO:0009679	0.000178	8.633604	0.133531	hexose:proton symporter activity
GO:0120016	0.000178	8.633604	0.133531	sphingolipid transfer activity
GO:0004775	0.000178	8.633604	0.251314	succinate-CoA ligase (ADP-forming) activity
GO:0005168	0.000178	8.633604	0.251314	neurotrophin TRKA receptor binding
GO:0008932	0.000178	8.633604	0.251314	lytic endotransglycosylase activity
GO:0008937	0.000178	8.633604	0.251314	ferredoxin-NAD(P) reductase activity
GO:0009044	0.000178	8.633604	0.251314	xylan 1,4-beta-xylosidase activity
GO:0017005	0.000178	8.633604	0.251314	3'-tyrosyl-DNA phosphodiesterase activity
GO:0046964	0.000178	8.633604	0.251314	3'-phosphoadenosine 5'-phosphosulfate transmembrane transporter activity
GO:0004777	0.000178	8.633604	0.356675	succinate-semialdehyde dehydrogenase (NAD+) activity
GO:0035516	0.000178	8.633604	0.356675	oxidative DNA demethylase activity
GO:0045549	0.000178	8.633604	0.356675	9-cis-epoxycarotenoid dioxygenase activity
GO:0140345	0.000178	8.633604	0.356675	phosphatidylcholine flippase activity
GO:0005295	0.000178	8.633604	0.451985	neutral amino acid:sodium symporter activity
GO:0019156	0.000178	8.633604	0.451985	isoamylase activity
GO:0033550	0.000178	8.633604	0.451985	MAP kinase tyrosine phosphatase activity
GO:0046935	0.000178	8.633604	0.451985	1-phosphatidylinositol-3-kinase regulator activity
GO:0046978	0.000178	8.633604	0.451985	TAP1 binding
GO:0051734	0.000178	8.633604	0.451985	ATP-dependent polynucleotide kinase activity
GO:1990518	0.000178	8.633604	0.451985	single-stranded 3'-5' DNA helicase activity
GO:0004507	0.000178	8.633604	0.538997	steroid 11-beta-monooxygenase activity
GO:0047724	0.000178	8.633604	0.538997	inosine nucleosidase activity
GO:0060698	0.000178	8.633604	0.538997	endoribonuclease inhibitor activity
GO:0001602	0.000178	8.633604	0.619039	pancreatic polypeptide receptor activity
GO:0032405	0.000178	8.633604	0.619039	MutLalpha complex binding
GO:0035175	0.000178	8.633604	0.619039	histone kinase activity (H3-S10 specific)
GO:0043865	0.000178	8.633604	0.619039	methionine transmembrane transporter activity
GO:1990254	0.000178	8.633604	0.619039	keratin filament binding
GO:0001621	0.000178	8.633604	0.693147	G protein-coupled ADP receptor activity
GO:0023024	0.000178	8.633604	0.693147	MHC class I protein complex binding
GO:0033862	0.000178	8.633604	0.693147	UMP kinase activity
GO:0046403	0.000178	8.633604	0.693147	polynucleotide 3'-phosphatase activity
GO:0048248	0.000178	8.633604	0.693147	CXCR3 chemokine receptor binding
GO:0015391	0.000178	8.633604	0.762140	nucleobase:cation symporter activity
GO:0016767	0.000178	8.633604	0.762140	geranylgeranyl-diphosphate geranylgeranyltransferase activity
GO:0004980	0.000178	8.633604	0.826679	melanocyte-stimulating hormone receptor activity
GO:0005502	0.000178	8.633604	0.826679	11-cis retinal binding
GO:0010328	0.000178	8.633604	0.826679	auxin influx transmembrane transporter activity
GO:0015620	0.000178	8.633604	0.826679	ferric-enterobactin transmembrane transporter activity
GO:0018488	0.000178	8.633604	0.826679	aryl-aldehyde oxidase activity
GO:0004354	0.000178	8.633604	0.887303	glutamate dehydrogenase (NADP+) activity
GO:0048403	0.000178	8.633604	0.887303	brain-derived neurotrophic factor binding
GO:0005166	0.000178	8.633604	0.944462	neurotrophin p75 receptor binding
GO:0009009	0.000178	8.633604	0.998529	site-specific recombinase activity
GO:0032139	0.000178	8.633604	0.998529	dinucleotide insertion or deletion binding
GO:0044020	0.000178	8.633604	0.998529	histone methyltransferase activity (H4-R3 specific)
GO:0046583	0.000178	8.633604	0.998529	cation efflux transmembrane transporter activity
GO:0052726	0.000178	8.633604	0.998529	inositol-1,3,4-trisphosphate 5-kinase activity
GO:0005462	0.000178	8.633604	1.049822	UDP-N-acetylglucosamine transmembrane transporter activity
GO:0005464	0.000178	8.633604	1.049822	UDP-xylose transmembrane transporter activity
GO:0015136	0.000178	8.633604	1.049822	sialic acid transmembrane transporter activity
GO:0004510	0.000178	8.633604	1.098612	tryptophan 5-monooxygenase activity
GO:0004511	0.000178	8.633604	1.098612	tyrosine 3-monooxygenase activity
GO:0009007	0.000178	8.633604	1.145132	site-specific DNA-methyltransferase (adenine-specific) activity
GO:0038036	0.000178	8.633604	1.145132	sphingosine-1-phosphate receptor activity
GO:0008467	0.000178	8.633604	1.189584	[heparan sulfate]-glucosamine 3-sulfotransferase 1 activity
GO:0017095	0.000178	8.633604	1.189584	heparan sulfate 6-O-sulfotransferase activity
GO:0008905	0.000178	8.633604	1.232144	mannose-phosphate guanylyltransferase activity
GO:0052901	0.000178	8.633604	1.232144	spermine:oxygen oxidoreductase (spermidine-forming) activity
GO:0004109	0.000178	8.633604	1.272966	coproporphyrinogen oxidase activity
GO:0009002	0.000178	8.633604	1.272966	serine-type D-Ala-D-Ala carboxypeptidase activity
GO:0003839	0.000178	8.633604	1.312186	gamma-glutamylcyclotransferase activity
GO:0004018	0.000178	8.633604	1.312186	N6-(1,2-dicarboxyethyl)AMP AMP-lyase (fumarate-forming) activity
GO:0004056	0.000178	8.633604	1.312186	argininosuccinate lyase activity
GO:0042329	0.000178	8.633604	1.312186	structural constituent of collagen and cuticulin-based cuticle
GO:0032184	0.000178	8.633604	1.349927	SUMO polymer binding
GO:0016168	0.000178	8.633604	1.386294	chlorophyll binding
GO:0070137	0.000178	8.633604	1.386294	ubiquitin-like protein-specific endopeptidase activity
GO:0004788	0.000178	8.633604	1.421386	thiamine diphosphokinase activity
GO:0008728	0.000178	8.633604	1.421386	GTP diphosphokinase activity
GO:1990814	0.000178	8.633604	1.455287	DNA/DNA annealing activity
GO:0003726	0.000178	8.633604	1.488077	double-stranded RNA adenosine deaminase activity
GO:0004794	0.000178	8.633604	1.488077	L-threonine ammonia-lyase activity
GO:0004849	0.000178	8.633604	1.488077	uridine kinase activity
GO:0004477	0.000178	8.633604	1.519826	methenyltetrahydrofolate cyclohydrolase activity
GO:0019960	0.000178	8.633604	1.519826	C-X3-C chemokine binding
GO:0004151	0.000178	8.633604	1.580450	dihydroorotase activity
GO:0004531	0.000178	8.633604	1.580450	deoxyribonuclease II activity
GO:0047710	0.000178	8.633604	1.580450	bis(5'-adenosyl)-triphosphatase activity
GO:0003873	0.000178	8.633604	1.609438	6-phosphofructo-2-kinase activity
GO:1990050	0.000178	8.633604	1.637609	phosphatidic acid transfer activity
GO:0018271	0.000178	8.633604	1.665008	biotin-protein ligase activity
GO:0004024	0.000178	8.633604	1.691676	alcohol dehydrogenase activity, zinc-dependent
GO:0015207	0.000178	8.633604	1.691676	adenine transmembrane transporter activity
GO:0035870	0.000178	8.633604	1.717651	dITP diphosphatase activity
GO:0004451	0.000178	8.633604	1.742969	isocitrate lyase activity
GO:0004574	0.000178	8.633604	1.767662	oligo-1,6-glucosidase activity
GO:0120146	0.000178	8.633604	1.767662	sulfatide binding
GO:0015138	0.000178	8.633604	1.791759	fumarate transmembrane transporter activity
GO:0003852	0.000178	8.633604	1.838279	2-isopropylmalate synthase activity
GO:0004474	0.000178	8.633604	1.838279	malate synthase activity
GO:0016403	0.000178	8.633604	1.838279	dimethylargininase activity
GO:0046857	0.000178	8.633604	1.838279	oxidoreductase activity, acting on other nitrogenous compounds as donors, with NAD or NADP as acceptor
GO:0048273	0.000178	8.633604	1.838279	mitogen-activated protein kinase p38 binding
GO:0080079	0.000178	8.633604	1.882731	cellobiose glucosidase activity
GO:0032977	0.000178	8.633604	2.005334	membrane insertase activity
GO:2001070	0.000178	8.633604	2.024382	starch binding
GO:0052743	0.000178	8.633604	2.043074	inositol tetrakisphosphate phosphatase activity
GO:0008545	0.000178	8.633604	2.061423	JUN kinase kinase activity
GO:0071936	0.000178	8.633604	2.061423	coreceptor activity involved in Wnt signaling pathway
GO:0106017	0.000178	8.633604	2.114533	phosphatidylinositol-3,4-bisphosphate phosphatase activity
GO:0030628	0.000178	8.633604	2.131627	pre-mRNA 3'-splice site binding
GO:0019153	0.000178	8.633604	2.212973	protein-disulfide reductase (glutathione) activity
GO:0032843	0.000178	8.633604	2.212973	hydroperoxide reductase activity
GO:0033744	0.000178	8.633604	2.212973	L-methionine:thioredoxin-disulfide S-oxidoreductase activity
GO:0001139	0.000178	8.633604	2.228477	RNA polymerase II complex recruiting activity
GO:0030020	0.000178	8.633604	2.228477	extracellular matrix structural constituent conferring tensile strength
GO:0030021	0.000178	8.633604	2.228477	extracellular matrix structural constituent conferring compression resistance
GO:0016206	0.000178	8.633604	2.258782	catechol O-methyltransferase activity
GO:0004121	0.000178	8.633604	2.273598	cystathionine beta-lyase activity
GO:0009000	0.000178	8.633604	2.273598	selenocysteine lyase activity
GO:0097644	0.000178	8.633604	2.358155	calcitonin family binding
GO:0001406	0.000178	8.633604	2.397895	glycerophosphodiester transmembrane transporter activity
GO:0008670	0.000178	8.633604	2.397895	2,4-dienoyl-CoA reductase (NADPH) activity
GO:0015930	0.000178	8.633604	2.423538	glutamate synthase activity
GO:0001042	0.000178	8.633604	2.436116	RNA polymerase I core binding
GO:0031841	0.000178	8.633604	2.448539	neuropeptide Y receptor binding
GO:0086007	0.000178	8.633604	2.472930	voltage-gated calcium channel activity involved in cardiac muscle cell action potential
GO:0004161	0.000178	8.633604	2.575878	dimethylallyltranstransferase activity
GO:0008759	0.000178	8.633604	2.628801	UDP-3-O-[3-hydroxymyristoyl] N-acetylglucosamine deacetylase activity
GO:0008419	0.000178	8.633604	2.639057	RNA lariat debranching enzyme activity
GO:0004639	0.000178	8.633604	2.649210	phosphoribosylaminoimidazolesuccinocarboxamide synthase activity
GO:0010279	0.000178	8.633604	2.649210	indole-3-acetic acid amido synthetase activity
GO:0008878	0.000178	8.633604	2.736221	glucose-1-phosphate adenylyltransferase activity
GO:0070733	0.000178	8.633604	2.736221	protein adenylyltransferase activity
GO:0003992	0.000178	8.633604	2.754570	N2-acetyl-L-ornithine:2-oxoglutarate 5-aminotransferase activity
GO:0008793	0.000178	8.633604	2.754570	aromatic-amino-acid:2-oxoglutarate aminotransferase activity
GO:0036137	0.000178	8.633604	2.754570	kynurenine aminotransferase activity
GO:0070579	0.000178	8.633604	2.781478	methylcytosine dioxygenase activity
GO:0005006	0.000178	8.633604	2.807680	epidermal growth factor-activated receptor activity
GO:0033857	0.000178	8.633604	2.816264	diphosphoinositol-pentakisphosphate kinase activity
GO:0050218	0.000178	8.633604	2.816264	propionate-CoA ligase activity
GO:0000254	0.000178	8.633604	2.874371	C-4 methylsterol oxidase activity
GO:0001517	0.000178	8.633604	2.913902	N-acetylglucosamine 6-O-sulfotransferase activity
GO:0097363	0.000178	8.633604	2.929287	protein O-GlcNAc transferase activity
GO:0003843	0.000178	8.633604	2.944439	1,3-beta-D-glucan synthase activity
GO:0016157	0.000178	8.633604	2.944439	sucrose synthase activity
GO:0004911	0.000178	8.633604	3.016934	interleukin-2 receptor activity
GO:0016167	0.000178	8.633604	3.016934	glial cell-derived neurotrophic factor receptor activity
GO:0019799	0.000178	8.633604	3.037696	tubulin N-acetyltransferase activity
GO:0050062	0.000178	8.633604	3.084528	long-chain-fatty-acyl-CoA reductase activity
GO:0070324	0.000178	8.633604	3.103946	thyroid hormone binding
GO:0004163	0.000178	8.633604	3.122994	diphosphomevalonate decarboxylase activity
GO:0004819	0.000178	8.633604	3.122994	glutamine-tRNA ligase activity
GO:0004853	0.000178	8.633604	3.122994	uroporphyrinogen decarboxylase activity
GO:0048040	0.000178	8.633604	3.122994	UDP-glucuronate decarboxylase activity
GO:0070853	0.000178	8.633604	3.129264	myosin VI binding
GO:0050220	0.000178	8.633604	3.178054	prostaglandin-E synthase activity
GO:0036121	0.000178	8.633604	3.183989	double-stranded DNA helicase activity
GO:0003879	0.000178	8.633604	3.306363	ATP phosphoribosyltransferase activity
GO:0004514	0.000178	8.633604	3.306363	nicotinate-nucleotide diphosphorylase (carboxylating) activity
GO:0004850	0.000178	8.633604	3.306363	uridine phosphorylase activity
GO:0036009	0.000178	8.633604	3.316780	protein-glutamine N-methyltransferase activity
GO:0038132	0.000178	8.633604	3.321948	neuregulin binding
GO:1903135	0.000178	8.633604	3.377100	cupric ion binding
GO:0008241	0.000178	8.633604	3.410676	peptidyl-dipeptidase activity
GO:0004516	0.000178	8.633604	3.470190	nicotinate phosphoribosyltransferase activity
GO:0004042	0.000178	8.633604	3.513675	acetyl-CoA:L-glutamate N-acetyltransferase activity
GO:1905172	0.000178	8.633604	3.563478	RISC complex binding
GO:0071614	0.000178	8.633604	3.599267	linoleic acid epoxygenase activity
GO:0004834	0.000178	8.633604	3.614771	tryptophan synthase activity
GO:0004962	0.000178	8.633604	3.622434	endothelin receptor activity
GO:0015057	0.000178	8.633604	3.622434	thrombin-activated receptor activity
GO:0016941	0.000178	8.633604	3.688879	natriuretic peptide receptor activity
GO:0099508	0.000178	8.633604	3.784190	voltage-gated ion channel activity involved in regulation of presynaptic membrane potential
GO:1903425	0.000178	8.633604	3.868220	fluoride transmembrane transporter activity
GO:0004418	0.000178	8.633604	3.883035	hydroxymethylbilane synthase activity
GO:0099507	0.000178	8.633604	3.923387	ligand-gated ion channel activity involved in regulation of presynaptic membrane potential
GO:0005148	0.000178	8.633604	3.934623	prolactin receptor binding
GO:0080032	0.000178	8.633604	3.934623	methyl jasmonate esterase activity
GO:0008330	0.000178	8.633604	4.131732	protein tyrosine/threonine phosphatase activity
GO:0015292	0.000178	8.633604	4.264690	uniporter activity
GO:0050577	0.000178	8.633604	4.276666	GDP-L-fucose synthase activity
GO:0016900	0.000178	8.633604	4.403229	oxidoreductase activity, acting on the CH-OH group of donors, disulfide as acceptor
GO:0003844	0.000178	8.633604	4.544813	1,4-alpha-glucan branching enzyme activity
GO:0008955	0.000178	8.633604	4.544813	peptidoglycan glycosyltransferase activity
GO:0010698	0.000178	8.633604	4.676826	acetyltransferase activator activity
GO:0060228	0.000178	8.633604	4.676826	phosphatidylcholine-sterol O-acyltransferase activator activity
GO:0004949	0.000178	8.633604	4.706953	cannabinoid receptor activity
GO:0050733	0.000178	8.633604	5.008729	RS domain binding
GO:0051425	0.000178	8.633604	5.008729	PTB domain binding
GO:0055131	0.000178	8.633604	5.008729	C3HC4-type RING finger domain binding
GO:0070087	0.000178	8.633604	5.008729	chromo shadow domain binding
GO:0004687	0.000178	8.633604	5.026696	myosin light chain kinase activity
GO:0008384	0.000178	8.633604	5.026696	IkappaB kinase activity
GO:0070012	0.000178	8.633604	5.133274	oligopeptidase activity
GO:0008486	0.000178	8.633604	5.338225	diphosphoinositol-polyphosphate diphosphatase activity
GO:0016819	0.000178	8.633604	5.347108	hydrolase activity, acting on acid anhydrides, in sulfonyl-containing anhydrides
GO:0001847	0.000178	8.633604	5.391027	opsonin receptor activity
GO:0035033	0.000178	8.633604	5.444888	histone deacetylase regulator activity
GO:0047696	0.000178	8.633604	5.484797	beta-adrenergic receptor kinase activity
GO:0002054	0.000178	8.633604	5.496583	nucleobase binding
GO:0008478	0.000178	8.633604	5.691324	pyridoxal kinase activity
GO:0035299	0.000178	8.633604	5.691324	inositol pentakisphosphate 2-kinase activity
GO:0052813	0.000178	8.633604	5.691324	phosphatidylinositol bisphosphate kinase activity
GO:0043125	0.000178	8.633604	5.820083	ErbB-3 class receptor binding
GO:0030611	0.000178	8.633604	5.918126	arsenate reductase activity
GO:0043856	0.000178	8.633604	6.011967	anti-sigma factor antagonist activity
GO:0061776	0.000178	8.633604	6.025521	topological DNA entrapment activity
GO:0097100	0.000178	8.633604	6.025521	supercoiled DNA binding
GO:0005344	0.000178	8.633604	6.168115	oxygen carrier activity
GO:0051959	0.000178	8.633604	8.066163	dynein light intermediate chain binding
GO:1990430	0.000178	8.633604	8.066163	extracellular matrix protein binding
GO:0019808	0.000178	8.633604	8.263885	polyamine binding
GO:0046848	0.000178	8.633604	8.263885	hydroxyapatite binding
GO:0000257	0.000153	8.787755	0.000000	nitrilase activity
GO:0004092	0.000153	8.787755	0.000000	carnitine O-acetyltransferase activity
GO:0004316	0.000153	8.787755	0.000000	3-oxoacyl-[acyl-carrier-protein] reductase (NADPH) activity
GO:0004482	0.000153	8.787755	0.000000	mRNA (guanine-N7-)-methyltransferase activity
GO:0004729	0.000153	8.787755	0.000000	oxygen-dependent protoporphyrinogen oxidase activity
GO:0004846	0.000153	8.787755	0.000000	urate oxidase activity
GO:0004932	0.000153	8.787755	0.000000	mating-type factor pheromone receptor activity
GO:0005364	0.000153	8.787755	0.000000	maltose:proton symporter activity
GO:0005412	0.000153	8.787755	0.000000	glucose:sodium symporter activity
GO:0005427	0.000153	8.787755	0.000000	proton-dependent oligopeptide secondary active transmembrane transporter activity
GO:0008068	0.000153	8.787755	0.000000	extracellularly glutamate-gated chloride channel activity
GO:0008508	0.000153	8.787755	0.000000	bile acid:sodium symporter activity
GO:0008520	0.000153	8.787755	0.000000	L-ascorbate:sodium symporter activity
GO:0009020	0.000153	8.787755	0.000000	tRNA (guanosine-2'-O-)-methyltransferase activity
GO:0015121	0.000153	8.787755	0.000000	phosphoenolpyruvate:phosphate antiporter activity
GO:0015333	0.000153	8.787755	0.000000	peptide:proton symporter activity
GO:0015526	0.000153	8.787755	0.000000	hexose-phosphate:inorganic phosphate antiporter activity
GO:0034634	0.000153	8.787755	0.000000	glutathione transmembrane transporter activity
GO:0034986	0.000153	8.787755	0.000000	iron chaperone activity
GO:0035594	0.000153	8.787755	0.000000	ganglioside binding
GO:0043682	0.000153	8.787755	0.000000	copper transmembrane transporter activity, phosphorylative mechanism
GO:0045181	0.000153	8.787755	0.000000	glutamate synthase activity, NAD(P)H as acceptor
GO:0045437	0.000153	8.787755	0.000000	uridine nucleosidase activity
GO:0046969	0.000153	8.787755	0.000000	NAD-dependent histone deacetylase activity (H3-K9 specific)
GO:0051740	0.000153	8.787755	0.000000	ethylene binding
GO:0061656	0.000153	8.787755	0.000000	SUMO conjugating enzyme activity
GO:0080122	0.000153	8.787755	0.000000	AMP transmembrane transporter activity
GO:0098639	0.000153	8.787755	0.000000	collagen binding involved in cell-matrix adhesion
GO:0004475	0.000153	8.787755	0.154151	mannose-1-phosphate guanylyltransferase activity
GO:0015420	0.000153	8.787755	0.154151	ATPase-coupled vitamin B12 transmembrane transporter activity
GO:0016212	0.000153	8.787755	0.154151	kynurenine-oxoglutarate transaminase activity
GO:0030345	0.000153	8.787755	0.154151	structural constituent of tooth enamel
GO:0043211	0.000153	8.787755	0.154151	ATPase-coupled carbohydrate transmembrane transporter activity
GO:0050302	0.000153	8.787755	0.154151	indole-3-acetaldehyde oxidase activity
GO:0051908	0.000153	8.787755	0.154151	double-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0120017	0.000153	8.787755	0.154151	ceramide transfer activity
GO:0003972	0.000153	8.787755	0.287682	RNA ligase (ATP) activity
GO:0004854	0.000153	8.787755	0.287682	xanthine dehydrogenase activity
GO:0008909	0.000153	8.787755	0.287682	isochorismate synthase activity
GO:0030343	0.000153	8.787755	0.287682	vitamin D3 25-hydroxylase activity
GO:0140078	0.000153	8.787755	0.287682	class I DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:1902271	0.000153	8.787755	0.287682	D3 vitamins binding
GO:1990439	0.000153	8.787755	0.287682	MAP kinase serine/threonine phosphatase activity
GO:0008263	0.000153	8.787755	0.405465	pyrimidine-specific mismatch base pair DNA N-glycosylase activity
GO:0008481	0.000153	8.787755	0.405465	sphinganine kinase activity
GO:0047756	0.000153	8.787755	0.405465	chondroitin 4-sulfotransferase activity
GO:0000248	0.000153	8.787755	0.510826	C-5 sterol desaturase activity
GO:0004488	0.000153	8.787755	0.510826	methylenetetrahydrofolate dehydrogenase (NADP+) activity
GO:0008193	0.000153	8.787755	0.510826	tRNA guanylyltransferase activity
GO:0008988	0.000153	8.787755	0.510826	rRNA (adenine-N6-)-methyltransferase activity
GO:0008990	0.000153	8.787755	0.510826	rRNA (guanine-N2-)-methyltransferase activity
GO:0016429	0.000153	8.787755	0.510826	tRNA (adenine-N1-)-methyltransferase activity
GO:0030985	0.000153	8.787755	0.510826	high molecular weight kininogen binding
GO:0033229	0.000153	8.787755	0.510826	cysteine transmembrane transporter activity
GO:0048408	0.000153	8.787755	0.510826	epidermal growth factor binding
GO:0001635	0.000153	8.787755	0.606136	calcitonin gene-related peptide receptor activity
GO:0002134	0.000153	8.787755	0.606136	UTP binding
GO:0031781	0.000153	8.787755	0.606136	type 3 melanocortin receptor binding
GO:0046979	0.000153	8.787755	0.606136	TAP2 binding
GO:0051723	0.000153	8.787755	0.606136	protein methylesterase activity
GO:0051732	0.000153	8.787755	0.606136	polyribonucleotide kinase activity
GO:0070996	0.000153	8.787755	0.606136	type 1 melanocortin receptor binding
GO:0008386	0.000153	8.787755	0.693147	cholesterol monooxygenase (side-chain-cleaving) activity
GO:0015151	0.000153	8.787755	0.693147	alpha-glucoside transmembrane transporter activity
GO:0015433	0.000153	8.787755	0.693147	ATPase-coupled peptide antigen transmembrane transporter activity
GO:0046922	0.000153	8.787755	0.693147	peptide-O-fucosyltransferase activity
GO:0000824	0.000153	8.787755	0.773190	inositol tetrakisphosphate 3-kinase activity
GO:0008126	0.000153	8.787755	0.773190	acetylesterase activity
GO:0008898	0.000153	8.787755	0.773190	S-adenosylmethionine-homocysteine S-methyltransferase activity
GO:0008964	0.000153	8.787755	0.773190	phosphoenolpyruvate carboxylase activity
GO:0016971	0.000153	8.787755	0.773190	flavin-linked sulfhydryl oxidase activity
GO:0019767	0.000153	8.787755	0.773190	IgE receptor activity
GO:0019770	0.000153	8.787755	0.773190	IgG receptor activity
GO:0047325	0.000153	8.787755	0.773190	inositol tetrakisphosphate 1-kinase activity
GO:0004641	0.000153	8.787755	0.847298	phosphoribosylformylglycinamidine cyclo-ligase activity
GO:0008260	0.000153	8.787755	0.847298	3-oxoacid CoA-transferase activity
GO:0015322	0.000153	8.787755	0.847298	secondary active oligopeptide transmembrane transporter activity
GO:0016401	0.000153	8.787755	0.847298	palmitoyl-CoA oxidase activity
GO:0023026	0.000153	8.787755	0.847298	MHC class II protein complex binding
GO:0030395	0.000153	8.787755	0.847298	lactose binding
GO:0001641	0.000153	8.787755	0.916291	group II metabotropic glutamate receptor activity
GO:0004070	0.000153	8.787755	0.916291	aspartate carbamoyltransferase activity
GO:0034039	0.000153	8.787755	0.916291	8-oxo-7,8-dihydroguanine DNA N-glycosylase activity
GO:0000250	0.000153	8.787755	0.980829	lanosterol synthase activity
GO:0004471	0.000153	8.787755	0.980829	malate dehydrogenase (decarboxylating) (NAD+) activity
GO:0032450	0.000153	8.787755	0.980829	maltose alpha-glucosidase activity
GO:0004968	0.000153	8.787755	1.041454	gonadotropin-releasing hormone receptor activity
GO:0004996	0.000153	8.787755	1.041454	thyroid-stimulating hormone receptor activity
GO:0005025	0.000153	8.787755	1.041454	transforming growth factor beta receptor activity, type I
GO:0016161	0.000153	8.787755	1.041454	beta-amylase activity
GO:0097199	0.000153	8.787755	1.041454	cysteine-type endopeptidase activity involved in apoptotic signaling pathway
GO:0033679	0.000153	8.787755	1.098612	3'-5' DNA/RNA helicase activity
GO:0038046	0.000153	8.787755	1.098612	enkephalin receptor activity
GO:0071553	0.000153	8.787755	1.098612	G protein-coupled pyrimidinergic nucleotide receptor activity
GO:0008011	0.000153	8.787755	1.152680	structural constituent of pupal chitin-based cuticle
GO:0003721	0.000153	8.787755	1.203973	telomerase RNA reverse transcriptase activity
GO:0106235	0.000153	8.787755	1.203973	ceramide-1-phosphate phosphatase activity
GO:0034186	0.000153	8.787755	1.252763	apolipoprotein A-I binding
GO:0005550	0.000153	8.787755	1.299283	pheromone binding
GO:0003827	0.000153	8.787755	1.343735	alpha-1,3-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0015016	0.000153	8.787755	1.343735	[heparan sulfate]-glucosamine N-sulfotransferase activity
GO:0052658	0.000153	8.787755	1.343735	inositol-1,4,5-trisphosphate 5-phosphatase activity
GO:0052894	0.000153	8.787755	1.386294	norspermine:oxygen oxidoreductase activity
GO:0019912	0.000153	8.787755	1.427116	cyclin-dependent protein kinase activating kinase activity
GO:0030229	0.000153	8.787755	1.427116	very-low-density lipoprotein particle receptor activity
GO:0031177	0.000153	8.787755	1.427116	phosphopantetheine binding
GO:0002196	0.000153	8.787755	1.466337	Ser-tRNA(Ala) hydrolase activity
GO:0022852	0.000153	8.787755	1.466337	glycine-gated chloride ion channel activity
GO:0051499	0.000153	8.787755	1.466337	D-aminoacyl-tRNA deacylase activity
GO:0070991	0.000153	8.787755	1.466337	medium-chain-acyl-CoA dehydrogenase activity
GO:0004485	0.000153	8.787755	1.504077	methylcrotonoyl-CoA carboxylase activity
GO:0008176	0.000153	8.787755	1.504077	tRNA (guanine-N7-)-methyltransferase activity
GO:0016422	0.000153	8.787755	1.504077	mRNA (2'-O-methyladenosine-N6-)-methyltransferase activity
GO:0043994	0.000153	8.787755	1.504077	histone acetyltransferase activity (H3-K23 specific)
GO:0052735	0.000153	8.787755	1.504077	tRNA (cytosine-3-)-methyltransferase activity
GO:0003922	0.000153	8.787755	1.673976	GMP synthase (glutamine-hydrolyzing) activity
GO:0003937	0.000153	8.787755	1.673976	IMP cyclohydrolase activity
GO:0004066	0.000153	8.787755	1.673976	asparagine synthase (glutamine-hydrolyzing) activity
GO:0004642	0.000153	8.787755	1.673976	phosphoribosylformylglycinamidine synthase activity
GO:0004736	0.000153	8.787755	1.673976	pyruvate carboxylase activity
GO:0008823	0.000153	8.787755	1.673976	cupric reductase activity
GO:0052851	0.000153	8.787755	1.673976	ferric-chelate reductase (NADPH) activity
GO:1990599	0.000153	8.787755	1.673976	3' overhang single-stranded DNA endodeoxyribonuclease activity
GO:0001092	0.000153	8.787755	1.704748	TFIIA-class transcription factor complex binding
GO:0003908	0.000153	8.787755	1.704748	methylated-DNA-[protein]-cysteine S-methyltransferase activity
GO:0004801	0.000153	8.787755	1.704748	sedoheptulose-7-phosphate:D-glyceraldehyde-3-phosphate glyceronetransferase activity
GO:0005105	0.000153	8.787755	1.704748	type 1 fibroblast growth factor receptor binding
GO:0005111	0.000153	8.787755	1.704748	type 2 fibroblast growth factor receptor binding
GO:0098882	0.000153	8.787755	1.704748	structural constituent of presynaptic active zone
GO:0034432	0.000153	8.787755	1.734601	bis(5'-adenosyl)-pentaphosphatase activity
GO:1905502	0.000153	8.787755	1.734601	acetyl-CoA binding
GO:0005093	0.000153	8.787755	1.763589	Rab GDP-dissociation inhibitor activity
GO:0044715	0.000153	8.787755	1.791759	8-oxo-dGDP phosphatase activity
GO:0004643	0.000153	8.787755	1.819158	phosphoribosylaminoimidazolecarboxamide formyltransferase activity
GO:0004644	0.000153	8.787755	1.819158	phosphoribosylglycinamide formyltransferase activity
GO:0031728	0.000153	8.787755	1.819158	CCR3 chemokine receptor binding
GO:0031731	0.000153	8.787755	1.819158	CCR6 chemokine receptor binding
GO:0004057	0.000153	8.787755	1.845827	arginyltransferase activity
GO:0015208	0.000153	8.787755	1.845827	guanine transmembrane transporter activity
GO:0016603	0.000153	8.787755	1.845827	glutaminyl-peptide cyclotransferase activity
GO:0016277	0.000153	8.787755	1.871802	[myelin basic protein]-arginine N-methyltransferase activity
GO:0017060	0.000153	8.787755	1.897120	3-galactosyl-N-acetylglucosaminide 4-alpha-L-fucosyltransferase activity
GO:0019158	0.000153	8.787755	1.897120	mannokinase activity
GO:0019862	0.000153	8.787755	1.897120	IgA binding
GO:0042131	0.000153	8.787755	1.897120	thiamine phosphate phosphatase activity
GO:0046921	0.000153	8.787755	1.897120	alpha-(1->6)-fucosyltransferase activity
GO:0000247	0.000153	8.787755	1.945910	C-8 sterol isomerase activity
GO:0001409	0.000153	8.787755	1.969441	guanine nucleotide transmembrane transporter activity
GO:0004306	0.000153	8.787755	1.969441	ethanolamine-phosphate cytidylyltransferase activity
GO:0004410	0.000153	8.787755	1.992430	homocitrate synthase activity
GO:0015230	0.000153	8.787755	1.992430	FAD transmembrane transporter activity
GO:0016663	0.000153	8.787755	1.992430	oxidoreductase activity, acting on other nitrogenous compounds as donors, oxygen as acceptor
GO:0008802	0.000153	8.787755	2.014903	betaine-aldehyde dehydrogenase activity
GO:0080083	0.000153	8.787755	2.036882	beta-gentiobiose beta-glucosidase activity
GO:0015922	0.000153	8.787755	2.058388	aspartate oxidase activity
GO:0050656	0.000153	8.787755	2.058388	3'-phosphoadenosine 5'-phosphosulfate binding
GO:0003831	0.000153	8.787755	2.079442	beta-N-acetylglucosaminylglycopeptide beta-1,4-galactosyltransferase activity
GO:0015467	0.000153	8.787755	2.079442	G-protein activated inward rectifier potassium channel activity
GO:0016784	0.000153	8.787755	2.120264	3-mercaptopyruvate sulfurtransferase activity
GO:0004102	0.000153	8.787755	2.140066	choline O-acetyltransferase activity
GO:0016287	0.000153	8.787755	2.140066	glycerone-phosphate O-acyltransferase activity
GO:0004508	0.000153	8.787755	2.159484	steroid 17-alpha-monooxygenase activity
GO:0008396	0.000153	8.787755	2.159484	oxysterol 7-alpha-hydroxylase activity
GO:0101021	0.000153	8.787755	2.159484	estrogen 2-hydroxylase activity
GO:2001069	0.000153	8.787755	2.178532	glycogen binding
GO:0004686	0.000153	8.787755	2.197225	elongation factor-2 kinase activity
GO:0004689	0.000153	8.787755	2.197225	phosphorylase kinase activity
GO:0035800	0.000153	8.787755	2.197225	deubiquitinase activator activity
GO:0030375	0.000153	8.787755	2.215574	thyroid hormone receptor coactivator activity
GO:0051724	0.000153	8.787755	2.215574	NAD transmembrane transporter activity
GO:0019115	0.000153	8.787755	2.233592	benzaldehyde dehydrogenase [NAD(P)+] activity
GO:0005287	0.000153	8.787755	2.251292	high-affinity basic amino acid transmembrane transporter activity
GO:0003874	0.000153	8.787755	2.268684	6-pyruvoyltetrahydropterin synthase activity
GO:0019976	0.000153	8.787755	2.268684	interleukin-2 binding
GO:0047006	0.000153	8.787755	2.268684	17-alpha,20-alpha-dihydroxypregn-4-en-3-one dehydrogenase activity
GO:0047044	0.000153	8.787755	2.268684	androstan-3-alpha,17-beta-diol dehydrogenase activity
GO:0015169	0.000153	8.787755	2.285778	glycerol-3-phosphate transmembrane transporter activity
GO:0004640	0.000153	8.787755	2.302585	phosphoribosylanthranilate isomerase activity
GO:0015119	0.000153	8.787755	2.302585	hexose phosphate transmembrane transporter activity
GO:0004465	0.000153	8.787755	2.319114	lipoprotein lipase activity
GO:0030623	0.000153	8.787755	2.335375	U5 snRNA binding
GO:0003960	0.000153	8.787755	2.351375	NADPH:quinone reductase activity
GO:0003842	0.000153	8.787755	2.367124	1-pyrroline-5-carboxylate dehydrogenase activity
GO:0004735	0.000153	8.787755	2.367124	pyrroline-5-carboxylate reductase activity
GO:0042602	0.000153	8.787755	2.367124	riboflavin reductase (NADPH) activity
GO:0015018	0.000153	8.787755	2.397895	galactosylgalactosylxylosylprotein 3-beta-glucuronosyltransferase activity
GO:0035276	0.000153	8.787755	2.412933	ethanol binding
GO:0043533	0.000153	8.787755	2.412933	inositol 1,3,4,5 tetrakisphosphate binding
GO:0004123	0.000153	8.787755	2.427748	cystathionine gamma-lyase activity
GO:0047804	0.000153	8.787755	2.427748	cysteine-S-conjugate beta-lyase activity
GO:0031073	0.000153	8.787755	2.442347	cholesterol 26-hydroxylase activity
GO:0046923	0.000153	8.787755	2.456736	ER retention sequence binding
GO:0071074	0.000153	8.787755	2.484907	eukaryotic initiation factor eIF2 binding
GO:0032129	0.000153	8.787755	2.498700	histone deacetylase activity (H3-K9 specific)
GO:0016629	0.000153	8.787755	2.552046	12-oxophytodienoate reductase activity
GO:0016631	0.000153	8.787755	2.552046	enoyl-[acyl-carrier-protein] reductase activity
GO:0003834	0.000153	8.787755	2.564949	beta-carotene 15,15'-monooxygenase activity
GO:0008892	0.000153	8.787755	2.564949	guanine deaminase activity
GO:0017089	0.000153	8.787755	2.564949	glycolipid transfer activity
GO:0033754	0.000153	8.787755	2.564949	indoleamine 2,3-dioxygenase activity
GO:0001000	0.000153	8.787755	2.590267	bacterial-type RNA polymerase core enzyme binding
GO:0031704	0.000153	8.787755	2.602690	apelin receptor binding
GO:0031834	0.000153	8.787755	2.602690	neurokinin receptor binding
GO:0004998	0.000153	8.787755	2.627081	transferrin receptor activity
GO:0015195	0.000153	8.787755	2.639057	L-threonine transmembrane transporter activity
GO:0001962	0.000153	8.787755	2.674149	alpha-1,3-galactosyltransferase activity
GO:0002950	0.000153	8.787755	2.674149	ceramide phosphoethanolamine synthase activity
GO:0003975	0.000153	8.787755	2.674149	UDP-N-acetylglucosamine-dolichyl-phosphate N-acetylglucosaminephosphotransferase activity
GO:0003976	0.000153	8.787755	2.674149	UDP-N-acetylglucosamine-lysosomal-enzyme N-acetylglucosaminephosphotransferase activity
GO:0033188	0.000153	8.787755	2.674149	sphingomyelin synthase activity
GO:0030348	0.000153	8.787755	2.696877	syntaxin-3 binding
GO:0061797	0.000153	8.787755	2.696877	pH-gated chloride channel activity
GO:0001025	0.000153	8.787755	2.730029	RNA polymerase III general transcription initiation factor binding
GO:0001179	0.000153	8.787755	2.730029	RNA polymerase I general transcription initiation factor binding
GO:0070061	0.000153	8.787755	2.772589	fructose binding
GO:0033142	0.000153	8.787755	2.793208	progesterone receptor binding
GO:0004632	0.000153	8.787755	2.803360	phosphopantothenate--cysteine ligase activity
GO:0008841	0.000153	8.787755	2.803360	dihydrofolate synthase activity
GO:0055100	0.000153	8.787755	2.823361	adiponectin binding
GO:0015139	0.000153	8.787755	2.842970	alpha-ketoglutarate transmembrane transporter activity
GO:0050263	0.000153	8.787755	2.881069	ribosylpyrimidine nucleosidase activity
GO:0004595	0.000153	8.787755	2.890372	pantetheine-phosphate adenylyltransferase activity
GO:0004856	0.000153	8.787755	2.890372	xylulokinase activity
GO:0010326	0.000153	8.787755	2.908721	methionine-oxo-acid transaminase activity
GO:0030292	0.000153	8.787755	2.926739	protein tyrosine kinase inhibitor activity
GO:0016707	0.000153	8.787755	2.935628	gibberellin 3-beta-dioxygenase activity
GO:0043734	0.000153	8.787755	2.935628	DNA-N1-methyladenine dioxygenase activity
GO:0061628	0.000153	8.787755	2.935628	H3K27me3 modified histone binding
GO:0005010	0.000153	8.787755	2.961831	insulin-like growth factor-activated receptor activity
GO:0004631	0.000153	8.787755	2.970414	phosphomevalonate kinase activity
GO:0004502	0.000153	8.787755	3.028522	kynurenine 3-monooxygenase activity
GO:0047086	0.000153	8.787755	3.028522	ketosteroid monooxygenase activity
GO:0043765	0.000153	8.787755	3.036554	T/G mismatch-specific endonuclease activity
GO:0050294	0.000153	8.787755	3.068053	steroid sulfotransferase activity
GO:0050694	0.000153	8.787755	3.068053	galactose 3-O-sulfotransferase activity
GO:1990932	0.000153	8.787755	3.091042	5.8S rRNA binding
GO:0008466	0.000153	8.787755	3.098590	glycogenin glucosyltransferase activity
GO:0016906	0.000153	8.787755	3.098590	sterol 3-beta-glucosyltransferase activity
GO:0050502	0.000153	8.787755	3.098590	cis-zeatin O-beta-D-glucosyltransferase activity
GO:0008774	0.000153	8.787755	3.238678	acetaldehyde dehydrogenase (acetylating) activity
GO:0004817	0.000153	8.787755	3.277145	cysteine-tRNA ligase activity
GO:0050545	0.000153	8.787755	3.277145	sulfopyruvate decarboxylase activity
GO:0019972	0.000153	8.787755	3.320228	interleukin-12 binding
GO:0016608	0.000153	8.787755	3.326234	growth hormone-releasing hormone activity
GO:1904399	0.000153	8.787755	3.326234	heparan sulfate binding
GO:0070818	0.000153	8.787755	3.444682	protoporphyrinogen oxidase activity
GO:0047280	0.000153	8.787755	3.460514	nicotinamide phosphoribosyltransferase activity
GO:0090447	0.000153	8.787755	3.465736	glycerol-3-phosphate 2-O-acyltransferase activity
GO:0008084	0.000153	8.787755	3.481240	imaginal disc growth factor receptor binding
GO:0003883	0.000153	8.787755	3.624341	CTP synthase activity
GO:0004087	0.000153	8.787755	3.624341	carbamoyl-phosphate synthase (ammonia) activity
GO:0004637	0.000153	8.787755	3.624341	phosphoribosylamine-glycine ligase activity
GO:0071885	0.000153	8.787755	3.659279	N-terminal protein N-methyltransferase activity
GO:0004343	0.000153	8.787755	3.667826	glucosamine 6-phosphate N-acetyltransferase activity
GO:0047389	0.000153	8.787755	3.697178	glycerophosphocholine phosphodiesterase activity
GO:0005047	0.000153	8.787755	3.717629	signal recognition particle binding
GO:0003837	0.000153	8.787755	3.725693	beta-ureidopropionase activity
GO:0017064	0.000153	8.787755	3.725693	fatty acid amide hydrolase activity
GO:0042586	0.000153	8.787755	3.725693	peptide deformylase activity
GO:0018064	0.000153	8.787755	3.749504	protein-histidine N-methyltransferase activity
GO:0016716	0.000153	8.787755	3.753418	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, another compound as one donor, and incorporation of one atom of oxygen
GO:0003861	0.000153	8.787755	3.768922	3-isopropylmalate dehydratase activity
GO:0004122	0.000153	8.787755	3.768922	cystathionine beta-synthase activity
GO:0004947	0.000153	8.787755	3.776585	bradykinin receptor activity
GO:0004967	0.000153	8.787755	3.776585	glucagon receptor activity
GO:0016499	0.000153	8.787755	3.776585	orexin receptor activity
GO:0008686	0.000153	8.787755	3.791737	3,4-dihydroxy-2-butanone-4-phosphate synthase activity
GO:0042943	0.000153	8.787755	3.846595	D-amino acid transmembrane transporter activity
GO:1905030	0.000153	8.787755	3.938340	voltage-gated ion channel activity involved in regulation of postsynaptic membrane potential
GO:0070576	0.000153	8.787755	4.001254	vitamin D 24-hydroxylase activity
GO:0047179	0.000153	8.787755	4.016383	platelet-activating factor acetyltransferase activity
GO:0000010	0.000153	8.787755	4.037186	trans-hexaprenyltranstransferase activity
GO:0004156	0.000153	8.787755	4.037186	dihydropteroate synthase activity
GO:0004746	0.000153	8.787755	4.037186	riboflavin synthase activity
GO:0004766	0.000153	8.787755	4.037186	spermidine synthase activity
GO:0046905	0.000153	8.787755	4.037186	phytoene synthase activity
GO:0050347	0.000153	8.787755	4.037186	trans-octaprenyltranstransferase activity
GO:0005128	0.000153	8.787755	4.088774	erythropoietin receptor binding
GO:0005146	0.000153	8.787755	4.088774	leukemia inhibitory factor receptor binding
GO:0005173	0.000153	8.787755	4.088774	stem cell factor receptor binding
GO:0080031	0.000153	8.787755	4.088774	methyl salicylate esterase activity
GO:0099609	0.000153	8.787755	4.099885	microtubule lateral binding
GO:0004336	0.000153	8.787755	4.148412	galactosylceramidase activity
GO:0033907	0.000153	8.787755	4.148412	beta-D-fucosidase activity
GO:0001010	0.000153	8.787755	4.153661	RNA polymerase II sequence-specific DNA-binding transcription factor recruiting activity
GO:0051525	0.000153	8.787755	4.153661	NFAT protein binding
GO:0005119	0.000153	8.787755	4.248495	smoothened binding
GO:0031849	0.000153	8.787755	4.248495	olfactory receptor binding
GO:0004654	0.000153	8.787755	4.278978	polyribonucleotide nucleotidyltransferase activity
GO:0101006	0.000153	8.787755	4.285883	protein histidine phosphatase activity
GO:0016815	0.000153	8.787755	4.315263	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in nitriles
GO:0080107	0.000153	8.787755	4.319708	8-methylthiopropyl glucosinolate S-oxygenase activity
GO:0005483	0.000153	8.787755	4.345968	soluble NSF attachment protein activity
GO:0008825	0.000153	8.787755	4.398556	cyclopropane-fatty-acyl-phospholipid synthase activity
GO:0030775	0.000153	8.787755	4.398556	glucuronoxylan 4-O-methyltransferase activity
GO:0003939	0.000153	8.787755	4.430817	L-iditol 2-dehydrogenase activity
GO:0004399	0.000153	8.787755	4.430817	histidinol dehydrogenase activity
GO:0004412	0.000153	8.787755	4.430817	homoserine dehydrogenase activity
GO:0004420	0.000153	8.787755	4.430817	hydroxymethylglutaryl-CoA reductase (NADPH) activity
GO:0004764	0.000153	8.787755	4.430817	shikimate 3-dehydrogenase (NADP+) activity
GO:0016618	0.000153	8.787755	4.430817	hydroxypyruvate reductase activity
GO:0018454	0.000153	8.787755	4.430817	acetoacetyl-CoA reductase activity
GO:0047560	0.000153	8.787755	4.430817	3-dehydrosphinganine reductase activity
GO:0051903	0.000153	8.787755	4.430817	S-(hydroxymethyl)glutathione dehydrogenase activity
GO:0016898	0.000153	8.787755	4.557380	oxidoreductase activity, acting on the CH-OH group of donors, cytochrome as acceptor
GO:0051990	0.000153	8.787755	4.557380	(R)-2-hydroxyglutarate dehydrogenase activity
GO:0097603	0.000153	8.787755	4.708028	temperature-gated ion channel activity
GO:0016415	0.000153	8.787755	4.840242	octanoyltransferase activity
GO:0008502	0.000153	8.787755	4.861104	melatonin receptor activity
GO:0034056	0.000153	8.787755	4.916325	estrogen response element binding
GO:0044323	0.000153	8.787755	4.916325	retinoic acid-responsive element binding
GO:0070644	0.000153	8.787755	4.916325	vitamin D response element binding
GO:0008967	0.000153	8.787755	4.945207	phosphoglycolate phosphatase activity
GO:0052642	0.000153	8.787755	4.945207	lysophosphatidic acid phosphatase activity
GO:0035877	0.000153	8.787755	5.162879	death effector domain binding
GO:0042731	0.000153	8.787755	5.162879	PH domain binding
GO:0050692	0.000153	8.787755	5.162879	DNA binding domain binding
GO:1990444	0.000153	8.787755	5.162879	F-box domain binding
GO:0003923	0.000153	8.787755	5.287425	GPI-anchor transamidase activity
GO:0097493	0.000153	8.787755	5.314027	structural molecule activity conferring elasticity
GO:0031433	0.000153	8.787755	5.452468	telethonin binding
GO:0000810	0.000153	8.787755	5.492375	diacylglycerol diphosphate phosphatase activity
GO:0003998	0.000153	8.787755	5.497851	acylphosphatase activity
GO:0010428	0.000153	8.787755	5.518122	methyl-CpNpG binding
GO:0004704	0.000153	8.787755	5.599039	NF-kappaB-inducing kinase activity
GO:0032791	0.000153	8.787755	5.766757	lead ion binding
GO:0001565	0.000153	8.787755	5.778168	phorbol ester receptor activity
GO:0038181	0.000153	8.787755	5.778168	bile acid receptor activity
GO:0120170	0.000153	8.787755	5.794029	intraciliary transport particle B binding
GO:1904855	0.000153	8.787755	5.794029	proteasome regulatory particle binding
GO:1905762	0.000153	8.787755	5.794029	CCR4-NOT complex binding
GO:0004140	0.000153	8.787755	5.845475	dephospho-CoA kinase activity
GO:0034246	0.000153	8.787755	5.856980	mitochondrial sequence-specific DNA-binding transcription factor activity
GO:0001018	0.000153	8.787755	5.885641	mitochondrial promoter sequence-specific DNA binding
GO:0005176	0.000153	8.787755	5.974234	ErbB-2 class receptor binding
GO:0090722	0.000153	8.787755	5.974234	receptor-receptor interaction
GO:1990890	0.000153	8.787755	5.974234	netrin receptor binding
GO:0000170	0.000153	8.787755	6.072276	sphingosine hydroxylase activity
GO:0044729	0.000153	8.787755	6.179672	hemi-methylated DNA-binding
GO:0017077	0.000153	8.787755	6.250297	oxidative phosphorylation uncoupler activity
GO:0071667	0.000153	8.787755	6.977903	DNA/RNA hybrid binding
GO:0019776	0.000153	8.787755	7.039806	Atg8 ligase activity
GO:0002046	0.000153	8.787755	8.220313	opsin binding
GO:1990935	0.000153	8.787755	8.220313	splicing factor binding
GO:0072328	0.000153	8.787755	8.418036	alkene binding
GO:0000213	0.000127	8.970076	0.000000	tRNA-intron endonuclease activity
GO:0000985	0.000127	8.970076	0.000000	bacterial-type RNA polymerase core promoter sequence-specific DNA binding
GO:0003871	0.000127	8.970076	0.000000	5-methyltetrahydropteroyltriglutamate-homocysteine S-methyltransferase activity
GO:0004135	0.000127	8.970076	0.000000	amylo-alpha-1,6-glucosidase activity
GO:0004174	0.000127	8.970076	0.000000	electron-transferring-flavoprotein dehydrogenase activity
GO:0004598	0.000127	8.970076	0.000000	peptidylamidoglycolate lyase activity
GO:0005009	0.000127	8.970076	0.000000	insulin-activated receptor activity
GO:0005356	0.000127	8.970076	0.000000	glucose:proton symporter activity
GO:0005469	0.000127	8.970076	0.000000	succinate:fumarate antiporter activity
GO:0008445	0.000127	8.970076	0.000000	D-aspartate oxidase activity
GO:0008650	0.000127	8.970076	0.000000	rRNA (uridine-2'-O-)-methyltransferase activity
GO:0008941	0.000127	8.970076	0.000000	nitric oxide dioxygenase activity
GO:0015233	0.000127	8.970076	0.000000	pantothenate transmembrane transporter activity
GO:0015275	0.000127	8.970076	0.000000	stretch-activated, cation-selective, calcium channel activity
GO:0015382	0.000127	8.970076	0.000000	sodium:sulfate symporter activity
GO:0016316	0.000127	8.970076	0.000000	phosphatidylinositol-3,4-bisphosphate 4-phosphatase activity
GO:0016414	0.000127	8.970076	0.000000	O-octanoyltransferase activity
GO:0016807	0.000127	8.970076	0.000000	cysteine-type carboxypeptidase activity
GO:0018479	0.000127	8.970076	0.000000	benzaldehyde dehydrogenase (NAD+) activity
GO:0022883	0.000127	8.970076	0.000000	zinc efflux transmembrane transporter activity
GO:0030023	0.000127	8.970076	0.000000	extracellular matrix constituent conferring elasticity
GO:0030549	0.000127	8.970076	0.000000	acetylcholine receptor activator activity
GO:0032033	0.000127	8.970076	0.000000	myosin II light chain binding
GO:0033284	0.000127	8.970076	0.000000	ATPase-coupled carboxylic acid transmembrane transporter activity
GO:0033285	0.000127	8.970076	0.000000	ATPase-coupled monocarboxylic acid transmembrane transporter activity
GO:0033919	0.000127	8.970076	0.000000	glucan 1,3-alpha-glucosidase activity
GO:0034875	0.000127	8.970076	0.000000	caffeine oxidase activity
GO:0035005	0.000127	8.970076	0.000000	1-phosphatidylinositol-4-phosphate 3-kinase activity
GO:0035596	0.000127	8.970076	0.000000	methylthiotransferase activity
GO:0042978	0.000127	8.970076	0.000000	ornithine decarboxylase activator activity
GO:0046623	0.000127	8.970076	0.000000	sphingolipid floppase activity
GO:0046934	0.000127	8.970076	0.000000	phosphatidylinositol-4,5-bisphosphate 3-kinase activity
GO:0051747	0.000127	8.970076	0.000000	cytosine C-5 DNA demethylase activity
GO:0061513	0.000127	8.970076	0.000000	glucose 6-phosphate:inorganic phosphate antiporter activity
GO:0061663	0.000127	8.970076	0.000000	NEDD8 ligase activity
GO:0099104	0.000127	8.970076	0.000000	potassium channel activator activity
GO:1905576	0.000127	8.970076	0.000000	ganglioside GT1b binding
GO:1990760	0.000127	8.970076	0.000000	osmolarity-sensing cation channel activity
GO:0000215	0.000127	8.970076	0.182322	tRNA 2'-phosphotransferase activity
GO:0001156	0.000127	8.970076	0.182322	TFIIIC-class transcription factor complex binding
GO:0004458	0.000127	8.970076	0.182322	D-lactate dehydrogenase (cytochrome) activity
GO:0004503	0.000127	8.970076	0.182322	monophenol monooxygenase activity
GO:0005366	0.000127	8.970076	0.182322	myo-inositol:proton symporter activity
GO:0005369	0.000127	8.970076	0.182322	taurine:sodium symporter activity
GO:0019810	0.000127	8.970076	0.182322	putrescine binding
GO:0031835	0.000127	8.970076	0.182322	substance P receptor binding
GO:0031837	0.000127	8.970076	0.182322	substance K receptor binding
GO:0034649	0.000127	8.970076	0.182322	histone demethylase activity (H3-monomethyl-K4 specific)
GO:0035100	0.000127	8.970076	0.182322	ecdysone binding
GO:0036318	0.000127	8.970076	0.182322	peptide pheromone receptor activity
GO:0036524	0.000127	8.970076	0.182322	protein deglycase activity
GO:0045030	0.000127	8.970076	0.182322	G protein-coupled UTP receptor activity
GO:0051500	0.000127	8.970076	0.182322	D-tyrosyl-tRNA(Tyr) deacylase activity
GO:0061891	0.000127	8.970076	0.182322	calcium ion sensor activity
GO:0070890	0.000127	8.970076	0.182322	sodium-dependent L-ascorbate transmembrane transporter activity
GO:0080061	0.000127	8.970076	0.182322	indole-3-acetonitrile nitrilase activity
GO:0140346	0.000127	8.970076	0.182322	phosphatidylserine flippase activity
GO:0002060	0.000127	8.970076	0.336472	purine nucleobase binding
GO:0004077	0.000127	8.970076	0.336472	biotin-[acetyl-CoA-carboxylase] ligase activity
GO:0004324	0.000127	8.970076	0.336472	ferredoxin-NADP+ reductase activity
GO:0005371	0.000127	8.970076	0.336472	tricarboxylate secondary active transmembrane transporter activity
GO:0044377	0.000127	8.970076	0.336472	RNA polymerase II cis-regulatory region sequence-specific DNA binding, bending
GO:0046970	0.000127	8.970076	0.336472	NAD-dependent histone deacetylase activity (H4-K16 specific)
GO:0051717	0.000127	8.970076	0.336472	inositol-1,3,4,5-tetrakisphosphate 3-phosphatase activity
GO:0061507	0.000127	8.970076	0.336472	cyclic-GMP-AMP binding
GO:0098973	0.000127	8.970076	0.336472	structural constituent of postsynaptic actin cytoskeleton
GO:0003904	0.000127	8.970076	0.470004	deoxyribodipyrimidine photo-lyase activity
GO:0004504	0.000127	8.970076	0.470004	peptidylglycine monooxygenase activity
GO:0015200	0.000127	8.970076	0.470004	methylammonium transmembrane transporter activity
GO:0031405	0.000127	8.970076	0.470004	lipoic acid binding
GO:0031708	0.000127	8.970076	0.470004	endothelin B receptor binding
GO:0031852	0.000127	8.970076	0.470004	mu-type opioid receptor binding
GO:0034191	0.000127	8.970076	0.470004	apolipoprotein A-I receptor binding
GO:0047220	0.000127	8.970076	0.470004	galactosylxylosylprotein 3-beta-galactosyltransferase activity
GO:0051022	0.000127	8.970076	0.470004	Rho GDP-dissociation inhibitor binding
GO:0051430	0.000127	8.970076	0.470004	corticotropin-releasing hormone receptor 1 binding
GO:0061821	0.000127	8.970076	0.470004	telomeric D-loop binding
GO:0005308	0.000127	8.970076	0.587787	creatine transmembrane transporter activity
GO:0033283	0.000127	8.970076	0.587787	ATPase-coupled organic acid transmembrane transporter activity
GO:0047381	0.000127	8.970076	0.587787	dodecanoyl-[acyl-carrier-protein] hydrolase activity
GO:0070736	0.000127	8.970076	0.587787	protein-glycine ligase activity, initiating
GO:0086075	0.000127	8.970076	0.587787	gap junction channel activity involved in cardiac conduction electrical coupling
GO:0000179	0.000127	8.970076	0.693147	rRNA (adenine-N6,N6-)-dimethyltransferase activity
GO:0000249	0.000127	8.970076	0.693147	C-22 sterol desaturase activity
GO:0004484	0.000127	8.970076	0.693147	mRNA guanylyltransferase activity
GO:0008732	0.000127	8.970076	0.693147	L-allo-threonine aldolase activity
GO:0015212	0.000127	8.970076	0.693147	cytidine transmembrane transporter activity
GO:0019834	0.000127	8.970076	0.693147	phospholipase A2 inhibitor activity
GO:0070004	0.000127	8.970076	0.693147	cysteine-type exopeptidase activity
GO:0070774	0.000127	8.970076	0.693147	phytoceramidase activity
GO:0090556	0.000127	8.970076	0.693147	phosphatidylserine floppase activity
GO:0001605	0.000127	8.970076	0.788457	adrenomedullin receptor activity
GO:0004810	0.000127	8.970076	0.788457	tRNA adenylyltransferase activity
GO:0004905	0.000127	8.970076	0.788457	type I interferon receptor activity
GO:0005274	0.000127	8.970076	0.788457	allantoin:proton symporter activity
GO:0005458	0.000127	8.970076	0.788457	GDP-mannose transmembrane transporter activity
GO:0048257	0.000127	8.970076	0.788457	3'-flap endonuclease activity
GO:0051733	0.000127	8.970076	0.788457	polydeoxyribonucleotide kinase activity
GO:0097643	0.000127	8.970076	0.788457	amylin receptor activity
GO:1990931	0.000127	8.970076	0.788457	RNA N6-methyladenosine dioxygenase activity
GO:0004334	0.000127	8.970076	0.875469	fumarylacetoacetase activity
GO:0004349	0.000127	8.970076	0.875469	glutamate 5-kinase activity
GO:0004441	0.000127	8.970076	0.875469	inositol-1,4-bisphosphate 1-phosphatase activity
GO:0035402	0.000127	8.970076	0.875469	histone kinase activity (H3-T11 specific)
GO:0050211	0.000127	8.970076	0.875469	procollagen galactosyltransferase activity
GO:0072354	0.000127	8.970076	0.875469	histone kinase activity (H3-T3 specific)
GO:0000825	0.000127	8.970076	0.955511	inositol tetrakisphosphate 6-kinase activity
GO:0004613	0.000127	8.970076	0.955511	phosphoenolpyruvate carboxykinase (GTP) activity
GO:0015128	0.000127	8.970076	0.955511	gluconate transmembrane transporter activity
GO:0017061	0.000127	8.970076	0.955511	S-methyl-5-thioadenosine phosphorylase activity
GO:0086089	0.000127	8.970076	0.955511	voltage-gated potassium channel activity involved in atrial cardiac muscle cell action potential repolarization
GO:1901235	0.000127	8.970076	0.955511	(R)-carnitine transmembrane transporter activity
GO:0001646	0.000127	8.970076	1.029619	cAMP receptor activity
GO:0004141	0.000127	8.970076	1.029619	dethiobiotin synthase activity
GO:0030272	0.000127	8.970076	1.029619	5-formyltetrahydrofolate cyclo-ligase activity
GO:0008798	0.000127	8.970076	1.098612	beta-aspartyl-peptidase activity
GO:0035662	0.000127	8.970076	1.098612	Toll-like receptor 4 binding
GO:0035663	0.000127	8.970076	1.098612	Toll-like receptor 2 binding
GO:0086083	0.000127	8.970076	1.098612	cell adhesive protein binding involved in bundle of His cell-Purkinje myocyte communication
GO:1904768	0.000127	8.970076	1.098612	all-trans-retinol binding
GO:0004097	0.000127	8.970076	1.163151	catechol oxidase activity
GO:0005503	0.000127	8.970076	1.163151	all-trans retinal binding
GO:0042300	0.000127	8.970076	1.163151	beta-amyrin synthase activity
GO:0008784	0.000127	8.970076	1.223775	alanine racemase activity
GO:0015199	0.000127	8.970076	1.223775	amino-acid betaine transmembrane transporter activity
GO:0034335	0.000127	8.970076	1.223775	DNA negative supercoiling activity
GO:0036313	0.000127	8.970076	1.223775	phosphatidylinositol 3-kinase catalytic subunit binding
GO:0033678	0.000127	8.970076	1.280934	5'-3' DNA/RNA helicase activity
GO:0051870	0.000127	8.970076	1.280934	methotrexate binding
GO:0000823	0.000127	8.970076	1.335001	inositol-1,4,5-trisphosphate 6-kinase activity
GO:0001639	0.000127	8.970076	1.335001	PLC activating G protein-coupled glutamate receptor activity
GO:0004310	0.000127	8.970076	1.335001	farnesyl-diphosphate farnesyltransferase activity
GO:0008982	0.000127	8.970076	1.386294	protein-N(PI)-phosphohistidine-sugar phosphotransferase activity
GO:0016149	0.000127	8.970076	1.386294	translation release factor activity, codon specific
GO:0033699	0.000127	8.970076	1.435085	DNA 5'-adenosine monophosphate hydrolase activity
GO:0008482	0.000127	8.970076	1.481605	sulfite oxidase activity
GO:0052657	0.000127	8.970076	1.481605	guanine phosphoribosyltransferase activity
GO:0072345	0.000127	8.970076	1.481605	NAADP-sensitive calcium-release channel activity
GO:0080048	0.000127	8.970076	1.481605	GDP-D-glucose phosphorylase activity
GO:0000297	0.000127	8.970076	1.526056	spermine transmembrane transporter activity
GO:0003838	0.000127	8.970076	1.526056	sterol 24-C-methyltransferase activity
GO:0004394	0.000127	8.970076	1.526056	heparan sulfate 2-O-sulfotransferase activity
GO:0008455	0.000127	8.970076	1.526056	alpha-1,6-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0030144	0.000127	8.970076	1.526056	alpha-1,6-mannosylglycoprotein 6-beta-N-acetylglucosaminyltransferase activity
GO:0032896	0.000127	8.970076	1.526056	palmitoyl-CoA 9-desaturase activity
GO:0031694	0.000127	8.970076	1.568616	alpha-2A adrenergic receptor binding
GO:0031697	0.000127	8.970076	1.568616	beta-1 adrenergic receptor binding
GO:0048101	0.000127	8.970076	1.568616	calcium- and calmodulin-regulated 3',5'-cyclic-GMP phosphodiesterase activity
GO:0050105	0.000127	8.970076	1.609438	L-gulonolactone oxidase activity
GO:0003882	0.000127	8.970076	1.648659	CDP-diacylglycerol-serine O-phosphatidyltransferase activity
GO:0004142	0.000127	8.970076	1.648659	diacylglycerol cholinephosphotransferase activity
GO:0008470	0.000127	8.970076	1.648659	isovaleryl-CoA dehydrogenase activity
GO:0106026	0.000127	8.970076	1.648659	Gly-tRNA(Ala) hydrolase activity
GO:1990189	0.000127	8.970076	1.686399	peptide-serine-N-acetyltransferase activity
GO:0031750	0.000127	8.970076	1.722767	D3 dopamine receptor binding
GO:0043183	0.000127	8.970076	1.722767	vascular endothelial growth factor receptor 1 binding
GO:0043185	0.000127	8.970076	1.722767	vascular endothelial growth factor receptor 3 binding
GO:0086038	0.000127	8.970076	1.722767	calcium:sodium antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0004699	0.000127	8.970076	1.757858	calcium-independent protein kinase C activity
GO:0034189	0.000127	8.970076	1.757858	very-low-density lipoprotein particle binding
GO:0004956	0.000127	8.970076	1.791759	prostaglandin D receptor activity
GO:0004958	0.000127	8.970076	1.791759	prostaglandin F receptor activity
GO:0004963	0.000127	8.970076	1.824549	follicle-stimulating hormone receptor activity
GO:0004635	0.000127	8.970076	1.856298	phosphoribosyl-AMP cyclohydrolase activity
GO:0005298	0.000127	8.970076	1.856298	proline:sodium symporter activity
GO:0008661	0.000127	8.970076	1.887070	1-deoxy-D-xylulose-5-phosphate synthase activity
GO:0034714	0.000127	8.970076	1.887070	type III transforming growth factor beta receptor binding
GO:0052869	0.000127	8.970076	1.887070	arachidonic acid omega-hydroxylase activity
GO:0000210	0.000127	8.970076	1.916923	NAD+ diphosphatase activity
GO:0004530	0.000127	8.970076	1.916923	deoxyribonuclease I activity
GO:0004960	0.000127	8.970076	1.916923	thromboxane receptor activity
GO:0033695	0.000127	8.970076	1.916923	oxidoreductase activity, acting on CH or CH2 groups, quinone or similar compound as acceptor
GO:0035529	0.000127	8.970076	1.916923	NADH pyrophosphatase activity
GO:0052592	0.000127	8.970076	1.916923	oxidoreductase activity, acting on CH or CH2 groups, with an iron-sulfur protein as acceptor
GO:0047334	0.000127	8.970076	1.945910	diphosphate-fructose-6-phosphate 1-phosphotransferase activity
GO:0042907	0.000127	8.970076	2.028148	xanthine transmembrane transporter activity
GO:0032500	0.000127	8.970076	2.054124	muramyl dipeptide binding
GO:0035539	0.000127	8.970076	2.054124	8-oxo-7,8-dihydrodeoxyguanosine triphosphate pyrophosphatase activity
GO:0047517	0.000127	8.970076	2.054124	1,4-beta-D-xylan synthase activity
GO:0070967	0.000127	8.970076	2.054124	coenzyme F420 binding
GO:0001791	0.000127	8.970076	2.079442	IgM binding
GO:0004419	0.000127	8.970076	2.079442	hydroxymethylglutaryl-CoA lyase activity
GO:0031403	0.000127	8.970076	2.079442	lithium ion binding
GO:0046421	0.000127	8.970076	2.079442	methylisocitrate lyase activity
GO:0090600	0.000127	8.970076	2.104134	alpha-1,3-glucosidase activity
GO:0015131	0.000127	8.970076	2.128232	oxaloacetate transmembrane transporter activity
GO:0003878	0.000127	8.970076	2.174752	ATP citrate synthase activity
GO:0008783	0.000127	8.970076	2.174752	agmatinase activity
GO:0030160	0.000127	8.970076	2.240710	synaptic receptor adaptor activity
GO:0032028	0.000127	8.970076	2.240710	myosin head/neck binding
GO:0001665	0.000127	8.970076	2.261763	alpha-N-acetylgalactosaminide alpha-2,6-sialyltransferase activity
GO:0009486	0.000127	8.970076	2.261763	cytochrome bo3 ubiquinol oxidase activity
GO:0004750	0.000127	8.970076	2.341806	ribulose-phosphate 3-epimerase activity
GO:0008761	0.000127	8.970076	2.341806	UDP-N-acetylglucosamine 2-epimerase activity
GO:0004150	0.000127	8.970076	2.379546	dihydroneopterin aldolase activity
GO:0016905	0.000127	8.970076	2.379546	myosin heavy chain kinase activity
GO:0005174	0.000127	8.970076	2.415914	CD40 receptor binding
GO:0033721	0.000127	8.970076	2.415914	aldehyde dehydrogenase (NADP+) activity
GO:0004117	0.000127	8.970076	2.433613	calmodulin-dependent cyclic-nucleotide phosphodiesterase activity
GO:0004118	0.000127	8.970076	2.433613	cGMP-stimulated cyclic-nucleotide phosphodiesterase activity
GO:0003845	0.000127	8.970076	2.451005	11-beta-hydroxysteroid dehydrogenase [NAD(P)] activity
GO:0004107	0.000127	8.970076	2.451005	chorismate synthase activity
GO:0004795	0.000127	8.970076	2.451005	threonine synthase activity
GO:0047045	0.000127	8.970076	2.451005	testosterone 17-beta-dehydrogenase (NADP+) activity
GO:0070037	0.000127	8.970076	2.451005	rRNA (pseudouridine) methyltransferase activity
GO:0035248	0.000127	8.970076	2.468100	alpha-1,4-N-acetylgalactosaminyltransferase activity
GO:0034480	0.000127	8.970076	2.484907	phosphatidylcholine phospholipase C activity
GO:0003905	0.000127	8.970076	2.533697	alkylbase DNA N-glycosylase activity
GO:0008426	0.000127	8.970076	2.533697	protein kinase C inhibitor activity
GO:0016843	0.000127	8.970076	2.533697	amine-lyase activity
GO:0140444	0.000127	8.970076	2.533697	cytoskeleton-nuclear membrane anchor activity
GO:0004155	0.000127	8.970076	2.549445	6,7-dihydropteridine reductase activity
GO:0004753	0.000127	8.970076	2.549445	saccharopine dehydrogenase activity
GO:0070905	0.000127	8.970076	2.549445	serine binding
GO:0050509	0.000127	8.970076	2.580217	N-acetylglucosaminyl-proteoglycan 4-beta-glucuronosyltransferase activity
GO:0080116	0.000127	8.970076	2.580217	glucuronoxylan glucuronosyltransferase activity
GO:0004408	0.000127	8.970076	2.610070	holocytochrome-c synthase activity
GO:0001691	0.000127	8.970076	2.667228	pseudophosphatase activity
GO:0031078	0.000127	8.970076	2.681022	histone deacetylase activity (H3-K14 specific)
GO:0051424	0.000127	8.970076	2.694627	corticotropin-releasing hormone binding
GO:0004074	0.000127	8.970076	2.734368	biliverdin reductase activity
GO:0008977	0.000127	8.970076	2.734368	prephenate dehydrogenase (NAD+) activity
GO:0017113	0.000127	8.970076	2.734368	dihydropyrimidine dehydrogenase (NADP+) activity
GO:0000334	0.000127	8.970076	2.747271	3-hydroxyanthranilate 3,4-dioxygenase activity
GO:0004051	0.000127	8.970076	2.747271	arachidonate 5-lipoxygenase activity
GO:0004131	0.000127	8.970076	2.747271	cytosine deaminase activity
GO:0004833	0.000127	8.970076	2.747271	tryptophan 2,3-dioxygenase activity
GO:1990136	0.000127	8.970076	2.747271	linoleate 9S-lipoxygenase activity
GO:0008111	0.000127	8.970076	2.772589	alpha-methylacyl-CoA racemase activity
GO:0032051	0.000127	8.970076	2.772589	clathrin light chain binding
GO:0052856	0.000127	8.970076	2.772589	NADHX epimerase activity
GO:0070052	0.000127	8.970076	2.785011	collagen V binding
GO:0072586	0.000127	8.970076	2.797281	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) regulator activity
GO:0005135	0.000127	8.970076	2.809403	interleukin-3 receptor binding
GO:0005143	0.000127	8.970076	2.809403	interleukin-12 receptor binding
GO:0061714	0.000127	8.970076	2.809403	folic acid receptor activity
GO:0050113	0.000127	8.970076	2.821379	inositol oxygenase activity
GO:0008109	0.000127	8.970076	2.879198	N-acetyllactosaminide beta-1,6-N-acetylglucosaminyltransferase activity
GO:0033829	0.000127	8.970076	2.879198	O-fucosylpeptide 3-beta-N-acetylglucosaminyltransferase activity
GO:0046899	0.000127	8.970076	2.879198	nucleoside triphosphate adenylate kinase activity
GO:0008834	0.000127	8.970076	2.912351	di-trans,poly-cis-decaprenylcistransferase activity
GO:0004946	0.000127	8.970076	2.954910	bombesin receptor activity
GO:0097748	0.000127	8.970076	2.965273	3'-5' RNA polymerase activity
GO:0070551	0.000127	8.970076	2.975530	endoribonuclease activity, cleaving siRNA-paired mRNA
GO:1990174	0.000127	8.970076	2.975530	phosphodiesterase decapping endonuclease activity
GO:0004592	0.000127	8.970076	2.985682	pantoate-beta-alanine ligase activity
GO:0046715	0.000127	8.970076	2.985682	active borate transmembrane transporter activity
GO:0004573	0.000127	8.970076	2.995732	mannosyl-oligosaccharide glucosidase activity
GO:0018738	0.000127	8.970076	3.054001	S-formylglutathione hydrolase activity
GO:0001108	0.000127	8.970076	3.072693	bacterial-type RNA polymerase holo enzyme binding
GO:0009384	0.000127	8.970076	3.072693	N-acylmannosamine kinase activity
GO:0004015	0.000127	8.970076	3.091042	adenosylmethionine-8-amino-7-oxononanoate transaminase activity
GO:0004400	0.000127	8.970076	3.091042	histidinol-phosphate transaminase activity
GO:0004587	0.000127	8.970076	3.091042	ornithine-oxo-acid transaminase activity
GO:0046820	0.000127	8.970076	3.091042	4-amino-4-deoxychorismate synthase activity
GO:0000095	0.000127	8.970076	3.100092	S-adenosyl-L-methionine transmembrane transporter activity
GO:0045544	0.000127	8.970076	3.117950	gibberellin 20-oxidase activity
GO:0016649	0.000127	8.970076	3.126761	oxidoreductase activity, acting on the CH-NH group of donors, quinone or similar compound as acceptor
GO:0045127	0.000127	8.970076	3.144152	N-acetylglucosamine kinase activity
GO:0000829	0.000127	8.970076	3.152736	inositol heptakisphosphate kinase activity
GO:0016207	0.000127	8.970076	3.152736	4-coumarate-CoA ligase activity
GO:0018858	0.000127	8.970076	3.152736	benzoate-CoA ligase activity
GO:0016708	0.000127	8.970076	3.178054	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of two atoms of oxygen into one donor
GO:0008226	0.000127	8.970076	3.186353	tyramine receptor activity
GO:0004498	0.000127	8.970076	3.210844	calcidiol 1-monooxygenase activity
GO:0004506	0.000127	8.970076	3.210844	squalene monooxygenase activity
GO:0036199	0.000127	8.970076	3.210844	cholest-4-en-3-one 26-monooxygenase activity
GO:0050051	0.000127	8.970076	3.210844	leukotriene-B4 20-monooxygenase activity
GO:0103075	0.000127	8.970076	3.210844	indole-3-pyruvate monooxygenase activity
GO:0004304	0.000127	8.970076	3.250374	estrone sulfotransferase activity
GO:0004581	0.000127	8.970076	3.280911	dolichyl-phosphate beta-glucosyltransferase activity
GO:0008597	0.000127	8.970076	3.303217	calcium-dependent protein serine/threonine phosphatase regulator activity
GO:0004920	0.000127	8.970076	3.353407	interleukin-10 receptor activity
GO:0004924	0.000127	8.970076	3.353407	oncostatin-M receptor activity
GO:1903924	0.000127	8.970076	3.374169	estradiol binding
GO:0099583	0.000127	8.970076	3.394508	neurotransmitter receptor activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0047066	0.000127	8.970076	3.414443	phospholipid-hydroperoxide glutathione peroxidase activity
GO:0004073	0.000127	8.970076	3.421000	aspartate-semialdehyde dehydrogenase activity
GO:0004398	0.000127	8.970076	3.459466	histidine decarboxylase activity
GO:0004638	0.000127	8.970076	3.459466	phosphoribosylaminoimidazole carboxylase activity
GO:0004821	0.000127	8.970076	3.459466	histidine-tRNA ligase activity
GO:0008792	0.000127	8.970076	3.459466	arginine decarboxylase activity
GO:0034722	0.000127	8.970076	3.465736	gamma-glutamyl-peptidase activity
GO:0009011	0.000127	8.970076	3.496508	starch synthase activity
GO:0051916	0.000127	8.970076	3.502550	granulocyte colony-stimulating factor binding
GO:0008613	0.000127	8.970076	3.508556	diuretic hormone activity
GO:0016862	0.000127	8.970076	3.514526	intramolecular oxidoreductase activity, interconverting keto- and enol-groups
GO:0008431	0.000127	8.970076	3.520461	vitamin E binding
GO:0032394	0.000127	8.970076	3.561046	MHC class Ib receptor activity
GO:0032395	0.000127	8.970076	3.561046	MHC class II receptor activity
GO:0004724	0.000127	8.970076	3.583519	magnesium-dependent protein serine/threonine phosphatase activity
GO:0045156	0.000127	8.970076	3.605498	electron transporter, transferring electrons within the cyclic electron transport pathway of photosynthesis activity
GO:0099103	0.000127	8.970076	3.616309	channel activator activity
GO:0004845	0.000127	8.970076	3.642836	uracil phosphoribosyltransferase activity
GO:0004607	0.000127	8.970076	3.648057	phosphatidylcholine-sterol O-acyltransferase activity
GO:0034318	0.000127	8.970076	3.648057	alcohol O-acyltransferase activity
GO:0047173	0.000127	8.970076	3.648057	phosphatidylcholine-retinol O-acyltransferase activity
GO:0071567	0.000127	8.970076	3.673766	UFM1 hydrolase activity
GO:0050497	0.000127	8.970076	3.683867	transferase activity, transferring alkylthio groups
GO:0052738	0.000127	8.970076	3.693867	oxidoreductase activity, acting on the aldehyde or oxo group of donors, with a quinone or similar compound as acceptor
GO:0004055	0.000127	8.970076	3.806662	argininosuccinate synthase activity
GO:0047391	0.000127	8.970076	3.879500	alkylglycerophosphoethanolamine phosphodiesterase activity
GO:0004040	0.000127	8.970076	3.908015	amidase activity
GO:0008418	0.000127	8.970076	3.908015	protein-N-terminal asparagine amidohydrolase activity
GO:0036055	0.000127	8.970076	3.908015	protein-succinyllysine desuccinylase activity
GO:0004608	0.000127	8.970076	3.931826	phosphatidylethanolamine N-methyltransferase activity
GO:0080101	0.000127	8.970076	3.931826	phosphatidyl-N-dimethylethanolamine N-methyltransferase activity
GO:0004424	0.000127	8.970076	3.951244	imidazoleglycerol-phosphate dehydratase activity
GO:0004664	0.000127	8.970076	3.951244	prephenate dehydratase activity
GO:0008460	0.000127	8.970076	3.951244	dTDP-glucose 4,6-dehydratase activity
GO:0008840	0.000127	8.970076	3.951244	4-hydroxy-tetrahydrodipicolinate synthase activity
GO:0016508	0.000127	8.970076	3.951244	long-chain-enoyl-CoA hydratase activity
GO:0018822	0.000127	8.970076	3.951244	nitrile hydratase activity
GO:0047453	0.000127	8.970076	3.951244	ATP-dependent NAD(P)H-hydrate dehydratase activity
GO:0008261	0.000127	8.970076	3.958907	allatostatin receptor activity
GO:1990829	0.000127	8.970076	3.992681	C-rich single-stranded DNA binding
GO:0003786	0.000127	8.970076	4.050044	actin lateral binding
GO:0015453	0.000127	8.970076	4.067316	oxidoreduction-driven active transmembrane transporter activity
GO:0000906	0.000127	8.970076	4.219508	6,7-dimethyl-8-ribityllumazine synthase activity
GO:0003866	0.000127	8.970076	4.219508	3-phosphoshikimate 1-carboxyvinyltransferase activity
GO:0003962	0.000127	8.970076	4.219508	cystathionine gamma-synthase activity
GO:0016768	0.000127	8.970076	4.219508	spermine synthase activity
GO:0005157	0.000127	8.970076	4.271095	macrophage colony-stimulating factor receptor binding
GO:0046556	0.000127	8.970076	4.330733	alpha-L-arabinofuranosidase activity
GO:0047701	0.000127	8.970076	4.330733	beta-L-arabinosidase activity
GO:0031871	0.000127	8.970076	4.430817	proteinase activated receptor binding
GO:0031893	0.000127	8.970076	4.430817	vasopressin receptor binding
GO:0004741	0.000127	8.970076	4.468204	[pyruvate dehydrogenase (lipoamide)] phosphatase activity
GO:0004666	0.000127	8.970076	4.502029	prostaglandin-endoperoxide synthase activity
GO:0042389	0.000127	8.970076	4.502029	omega-3 fatty acid desaturase activity
GO:0080103	0.000127	8.970076	4.502029	4-methylthiopropyl glucosinolate S-oxygenase activity
GO:0010420	0.000127	8.970076	4.580877	3,4-dihydroxy-5-polyprenylbenzoic acid O-methyltransferase activity
GO:0003858	0.000127	8.970076	4.613138	3-hydroxybutyrate dehydrogenase activity
GO:0004757	0.000127	8.970076	4.613138	sepiapterin reductase activity
GO:0047681	0.000127	8.970076	4.613138	aryl-alcohol dehydrogenase (NADP+) activity
GO:0050038	0.000127	8.970076	4.613138	L-xylulose reductase (NADP+) activity
GO:0019154	0.000127	8.970076	4.739701	glycolate dehydrogenase activity
GO:0045703	0.000127	8.970076	4.739701	ketoreductase activity
GO:0004047	0.000127	8.970076	4.780803	aminomethyltransferase activity
GO:0042085	0.000127	8.970076	4.780803	5-methyltetrahydropteroyltri-L-glutamate-dependent methyltransferase activity
GO:0045140	0.000127	8.970076	4.881286	inositol phosphoceramide synthase activity
GO:0004803	0.000127	8.970076	4.887337	transposase activity
GO:0008907	0.000127	8.970076	4.887337	integrase activity
GO:0033819	0.000127	8.970076	5.022564	lipoyl(octanoyl) transferase activity
GO:0004992	0.000127	8.970076	5.043425	platelet activating factor receptor activity
GO:0004999	0.000127	8.970076	5.043425	vasoactive intestinal polypeptide receptor activity
GO:0015056	0.000127	8.970076	5.043425	corticotrophin-releasing factor receptor activity
GO:0099530	0.000127	8.970076	5.043425	G protein-coupled receptor activity involved in regulation of postsynaptic membrane potential
GO:0042296	0.000127	8.970076	5.066385	ISG15 transferase activity
GO:0000121	0.000127	8.970076	5.127529	glycerol-1-phosphatase activity
GO:0002953	0.000127	8.970076	5.127529	5'-deoxynucleotidase activity
GO:0033883	0.000127	8.970076	5.127529	pyridoxal phosphatase activity
GO:0034416	0.000127	8.970076	5.127529	bisphosphoglycerate phosphatase activity
GO:0098519	0.000127	8.970076	5.127529	nucleotide phosphatase activity, acting on free nucleotides
GO:1901683	0.000127	8.970076	5.132263	arsenate ion transmembrane transporter activity
GO:0032090	0.000127	8.970076	5.345201	Pyrin domain binding
GO:0043398	0.000127	8.970076	5.345201	HLH domain binding
GO:0071535	0.000127	8.970076	5.345201	RING-like zinc finger domain binding
GO:0097016	0.000127	8.970076	5.345201	L27 domain binding
GO:0004676	0.000127	8.970076	5.363168	3-phosphoinositide-dependent protein kinase activity
GO:0045340	0.000127	8.970076	5.367843	mercury ion binding
GO:0043273	0.000127	8.970076	5.552960	CTPase activity
GO:0031014	0.000127	8.970076	5.634790	troponin T binding
GO:0004309	0.000127	8.970076	5.674697	exopolyphosphatase activity
GO:0004636	0.000127	8.970076	5.674697	phosphoribosyl-ATP diphosphatase activity
GO:0008768	0.000127	8.970076	5.674697	UDP-sugar diphosphatase activity
GO:0019144	0.000127	8.970076	5.674697	ADP-sugar diphosphatase activity
GO:0034353	0.000127	8.970076	5.674697	RNA pyrophosphohydrolase activity
GO:0047874	0.000127	8.970076	5.674697	dolichyldiphosphatase activity
GO:0050355	0.000127	8.970076	5.674697	triphosphatase activity
GO:0050380	0.000127	8.970076	5.674697	undecaprenyl-diphosphatase activity
GO:0010429	0.000127	8.970076	5.700444	methyl-CpNpN binding
GO:0008158	0.000127	8.970076	5.727499	hedgehog receptor activity
GO:0046871	0.000127	8.970076	5.761422	N-acetylgalactosamine binding
GO:0070053	0.000127	8.970076	5.960490	thrombospondin receptor activity
GO:0120160	0.000127	8.970076	5.976351	intraciliary transport particle A binding
GO:1904288	0.000127	8.970076	5.976351	BAT3 complex binding
GO:0004371	0.000127	8.970076	6.027796	glycerone kinase activity
GO:0004417	0.000127	8.970076	6.027796	hydroxyethylthiazole kinase activity
GO:0004496	0.000127	8.970076	6.027796	mevalonate kinase activity
GO:0008531	0.000127	8.970076	6.027796	riboflavin kinase activity
GO:0008902	0.000127	8.970076	6.027796	hydroxymethylpyrimidine kinase activity
GO:0042736	0.000127	8.970076	6.027796	NADH kinase activity
GO:0046316	0.000127	8.970076	6.027796	gluconokinase activity
GO:0005121	0.000127	8.970076	6.156555	Toll binding
GO:0042610	0.000127	8.970076	6.156555	CD8 receptor binding
GO:1990460	0.000127	8.970076	6.156555	leptin receptor binding
GO:0003826	0.000127	8.970076	6.254598	alpha-ketoacid dehydrogenase activity
GO:0030613	0.000127	8.970076	6.254598	oxidoreductase activity, acting on phosphorus or arsenic in donors
GO:0031634	0.000127	8.970076	6.262636	replication fork barrier binding
GO:0001072	0.000127	8.970076	6.348439	transcription antitermination factor activity, RNA binding
GO:0016781	0.000127	8.970076	6.381139	phosphotransferase activity, paired acceptors
GO:0015152	0.000127	8.970076	6.432618	glucose-6-phosphate transmembrane transporter activity
GO:0032190	0.000127	8.970076	6.525909	acrosin binding
GO:0035226	0.000127	8.970076	6.525909	glutamate-cysteine ligase catalytic subunit binding
GO:0010844	0.000127	8.970076	6.815859	recombination hotspot binding
GO:0045142	0.000127	8.970076	6.815859	triplex DNA binding
GO:0000031	0.000127	8.970076	7.222128	mannosylphosphate transferase activity
GO:0034617	0.000127	8.970076	7.393509	tetrahydrobiopterin binding
GO:0031682	0.000127	8.970076	8.402635	G-protein gamma-subunit binding
GO:0038100	0.000127	8.970076	8.402635	nodal binding
GO:0043532	0.000127	8.970076	8.402635	angiostatin binding
GO:0045152	0.000127	8.970076	8.402635	antisigma factor binding
GO:0070678	0.000127	8.970076	8.402635	preprotein binding
GO:0000035	0.000127	8.970076	8.600357	acyl binding
GO:0008430	0.000127	8.970076	8.600357	selenium binding
GO:0097243	0.000127	8.970076	8.600357	flavonoid binding
GO:0004149	0.000102	9.193220	0.000000	dihydrolipoyllysine-residue succinyltransferase activity
GO:0004342	0.000102	9.193220	0.000000	glucosamine-6-phosphate deaminase activity
GO:0004377	0.000102	9.193220	0.000000	GDP-Man:Man3GlcNAc2-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0005163	0.000102	9.193220	0.000000	nerve growth factor receptor binding
GO:0005291	0.000102	9.193220	0.000000	high-affinity L-histidine transmembrane transporter activity
GO:0005477	0.000102	9.193220	0.000000	pyruvate secondary active transmembrane transporter activity
GO:0008425	0.000102	9.193220	0.000000	2-polyprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0008458	0.000102	9.193220	0.000000	carnitine O-octanoyltransferase activity
GO:0008507	0.000102	9.193220	0.000000	sodium:iodide symporter activity
GO:0008657	0.000102	9.193220	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) inhibitor activity
GO:0008794	0.000102	9.193220	0.000000	arsenate reductase (glutaredoxin) activity
GO:0008832	0.000102	9.193220	0.000000	dGTPase activity
GO:0008883	0.000102	9.193220	0.000000	glutamyl-tRNA reductase activity
GO:0015244	0.000102	9.193220	0.000000	fluconazole transmembrane transporter activity
GO:0015375	0.000102	9.193220	0.000000	glycine:sodium symporter activity
GO:0015389	0.000102	9.193220	0.000000	pyrimidine- and adenine-specific:sodium symporter activity
GO:0015417	0.000102	9.193220	0.000000	ATPase-coupled polyamine transmembrane transporter activity
GO:0015422	0.000102	9.193220	0.000000	ATPase-coupled oligosaccharide transmembrane transporter activity
GO:0015423	0.000102	9.193220	0.000000	ATPase-coupled maltose transmembrane transporter activity
GO:0015432	0.000102	9.193220	0.000000	ATPase-coupled bile acid transmembrane transporter activity
GO:0015495	0.000102	9.193220	0.000000	gamma-aminobutyric acid:proton symporter activity
GO:0015505	0.000102	9.193220	0.000000	uracil:cation symporter activity
GO:0015565	0.000102	9.193220	0.000000	threonine efflux transmembrane transporter activity
GO:0015595	0.000102	9.193220	0.000000	ATPase-coupled spermidine transmembrane transporter activity
GO:0016263	0.000102	9.193220	0.000000	glycoprotein-N-acetylgalactosamine 3-beta-galactosyltransferase activity
GO:0016751	0.000102	9.193220	0.000000	S-succinyltransferase activity
GO:0016979	0.000102	9.193220	0.000000	lipoate-protein ligase activity
GO:0018392	0.000102	9.193220	0.000000	glycoprotein 3-alpha-L-fucosyltransferase activity
GO:0022870	0.000102	9.193220	0.000000	protein-N(PI)-phosphohistidine-mannose phosphotransferase system transporter activity
GO:0030171	0.000102	9.193220	0.000000	voltage-gated proton channel activity
GO:0031418	0.000102	9.193220	0.000000	L-ascorbic acid binding
GO:0032037	0.000102	9.193220	0.000000	myosin I heavy chain binding
GO:0032567	0.000102	9.193220	0.000000	dGTP binding
GO:0034188	0.000102	9.193220	0.000000	apolipoprotein A-I receptor activity
GO:0038062	0.000102	9.193220	0.000000	protein tyrosine kinase collagen receptor activity
GO:0042912	0.000102	9.193220	0.000000	colicin transmembrane transporter activity
GO:0042950	0.000102	9.193220	0.000000	salicin transmembrane transporter activity
GO:0043110	0.000102	9.193220	0.000000	rDNA spacer replication fork barrier binding
GO:0043225	0.000102	9.193220	0.000000	ATPase-coupled inorganic anion transmembrane transporter activity
GO:0043333	0.000102	9.193220	0.000000	2-octaprenyl-6-methoxy-1,4-benzoquinone methylase activity
GO:0046811	0.000102	9.193220	0.000000	histone deacetylase inhibitor activity
GO:0050736	0.000102	9.193220	0.000000	O-malonyltransferase activity
GO:0051032	0.000102	9.193220	0.000000	nucleic acid transmembrane transporter activity
GO:0051736	0.000102	9.193220	0.000000	ATP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051978	0.000102	9.193220	0.000000	lysophospholipid:sodium symporter activity
GO:0052665	0.000102	9.193220	0.000000	tRNA (uracil-2'-O-)-methyltransferase activity
GO:0052720	0.000102	9.193220	0.000000	class II DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0061503	0.000102	9.193220	0.000000	tRNA threonylcarbamoyladenosine dehydratase
GO:0061649	0.000102	9.193220	0.000000	ubiquitin modification-dependent histone binding
GO:0062189	0.000102	9.193220	0.000000	anandamide 14,15 epoxidase activity
GO:0070042	0.000102	9.193220	0.000000	rRNA (uridine-N3-)-methyltransferase activity
GO:0070854	0.000102	9.193220	0.000000	myosin VI heavy chain binding
GO:0072320	0.000102	9.193220	0.000000	volume-sensitive chloride channel activity
GO:0099534	0.000102	9.193220	0.000000	calcium ion binding involved in regulation of presynaptic cytosolic calcium ion concentration
GO:0140068	0.000102	9.193220	0.000000	histone crotonyltransferase activity
GO:1903089	0.000102	9.193220	0.000000	5-amino-1-ribofuranosylimidazole-4-carboxamide transmembrane transporter activity
GO:1903231	0.000102	9.193220	0.000000	mRNA binding involved in posttranscriptional gene silencing
GO:0004318	0.000102	9.193220	0.223144	enoyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0004395	0.000102	9.193220	0.223144	hexaprenyldihydroxybenzoate methyltransferase activity
GO:0004413	0.000102	9.193220	0.223144	homoserine kinase activity
GO:0004878	0.000102	9.193220	0.223144	complement component C5a receptor activity
GO:0004978	0.000102	9.193220	0.223144	corticotropin receptor activity
GO:0008321	0.000102	9.193220	0.223144	Ral guanyl-nucleotide exchange factor activity
GO:0009670	0.000102	9.193220	0.223144	triose-phosphate:phosphate antiporter activity
GO:0015319	0.000102	9.193220	0.223144	sodium:inorganic phosphate symporter activity
GO:0015647	0.000102	9.193220	0.223144	peptidoglycan transmembrane transporter activity
GO:0030614	0.000102	9.193220	0.223144	oxidoreductase activity, acting on phosphorus or arsenic in donors, disulfide as acceptor
GO:0031894	0.000102	9.193220	0.223144	V1A vasopressin receptor binding
GO:0033823	0.000102	9.193220	0.223144	procollagen glucosyltransferase activity
GO:0036263	0.000102	9.193220	0.223144	L-DOPA monooxygenase activity
GO:0036264	0.000102	9.193220	0.223144	dopamine monooxygenase activity
GO:0036397	0.000102	9.193220	0.223144	formate dehydrogenase (quinone) activity
GO:0046404	0.000102	9.193220	0.223144	ATP-dependent polydeoxyribonucleotide 5'-hydroxyl-kinase activity
GO:0046429	0.000102	9.193220	0.223144	4-hydroxy-3-methylbut-2-en-1-yl diphosphate synthase activity
GO:0050178	0.000102	9.193220	0.223144	phenylpyruvate tautomerase activity
GO:0052929	0.000102	9.193220	0.223144	ATP:3'-cytidine-cytidine-tRNA adenylyltransferase activity
GO:0060175	0.000102	9.193220	0.223144	brain-derived neurotrophic factor-activated receptor activity
GO:0070039	0.000102	9.193220	0.223144	rRNA (guanosine-2'-O-)-methyltransferase activity
GO:0080109	0.000102	9.193220	0.223144	indole-3-acetonitrile nitrile hydratase activity
GO:0086077	0.000102	9.193220	0.223144	gap junction channel activity involved in AV node cell-bundle of His cell electrical coupling
GO:0097604	0.000102	9.193220	0.223144	temperature-gated cation channel activity
GO:0098641	0.000102	9.193220	0.223144	cadherin binding involved in cell-cell adhesion
GO:0099038	0.000102	9.193220	0.223144	ceramide floppase activity
GO:0004380	0.000102	9.193220	0.405465	glycoprotein-fucosylgalactoside alpha-N-acetylgalactosaminyltransferase activity
GO:0005046	0.000102	9.193220	0.405465	KDEL sequence binding
GO:0008403	0.000102	9.193220	0.405465	25-hydroxycholecalciferol-24-hydroxylase activity
GO:0016040	0.000102	9.193220	0.405465	glutamate synthase (NADH) activity
GO:0034988	0.000102	9.193220	0.405465	Fc-gamma receptor I complex binding
GO:0042164	0.000102	9.193220	0.405465	interleukin-12 alpha subunit binding
GO:1901680	0.000102	9.193220	0.405465	sulfur-containing amino acid secondary active transmembrane transporter activity
GO:1902098	0.000102	9.193220	0.405465	calcitriol binding
GO:1902121	0.000102	9.193220	0.405465	lithocholic acid binding
GO:0008860	0.000102	9.193220	0.559616	ferredoxin-NAD+ reductase activity
GO:0015265	0.000102	9.193220	0.559616	urea channel activity
GO:0015398	0.000102	9.193220	0.559616	high-affinity secondary active ammonium transmembrane transporter activity
GO:0015431	0.000102	9.193220	0.559616	ATPase-coupled glutathione S-conjugate transmembrane transporter activity
GO:0016432	0.000102	9.193220	0.559616	tRNA-uridine aminocarboxypropyltransferase activity
GO:0031843	0.000102	9.193220	0.559616	type 2 neuropeptide Y receptor binding
GO:0032556	0.000102	9.193220	0.559616	pyrimidine deoxyribonucleotide binding
GO:0032560	0.000102	9.193220	0.559616	guanyl deoxyribonucleotide binding
GO:0042279	0.000102	9.193220	0.559616	nitrite reductase (cytochrome, ammonia-forming) activity
GO:0050421	0.000102	9.193220	0.559616	nitrite reductase (NO-forming) activity
GO:0052381	0.000102	9.193220	0.559616	tRNA dimethylallyltransferase activity
GO:0099184	0.000102	9.193220	0.559616	structural constituent of postsynaptic intermediate filament cytoskeleton
GO:1904929	0.000102	9.193220	0.559616	coreceptor activity involved in Wnt signaling pathway, planar cell polarity pathway
GO:0004923	0.000102	9.193220	0.693147	leukemia inhibitory factor receptor activity
GO:0004940	0.000102	9.193220	0.693147	beta1-adrenergic receptor activity
GO:0004941	0.000102	9.193220	0.693147	beta2-adrenergic receptor activity
GO:0005018	0.000102	9.193220	0.693147	platelet-derived growth factor alpha-receptor activity
GO:0019959	0.000102	9.193220	0.693147	interleukin-8 binding
GO:0031707	0.000102	9.193220	0.693147	endothelin A receptor binding
GO:0031826	0.000102	9.193220	0.693147	type 2A serotonin receptor binding
GO:0032142	0.000102	9.193220	0.693147	single guanine insertion binding
GO:0051431	0.000102	9.193220	0.693147	corticotropin-releasing hormone receptor 2 binding
GO:0000701	0.000102	9.193220	0.810930	purine-specific mismatch base pair DNA N-glycosylase activity
GO:0004776	0.000102	9.193220	0.810930	succinate-CoA ligase (GDP-forming) activity
GO:0008459	0.000102	9.193220	0.810930	chondroitin 6-sulfotransferase activity
GO:0008891	0.000102	9.193220	0.810930	glycolate oxidase activity
GO:0016295	0.000102	9.193220	0.810930	myristoyl-[acyl-carrier-protein] hydrolase activity
GO:0016296	0.000102	9.193220	0.810930	palmitoyl-[acyl-carrier-protein] hydrolase activity
GO:0022885	0.000102	9.193220	0.810930	bacteriocin transmembrane transporter activity
GO:0031686	0.000102	9.193220	0.810930	A1 adenosine receptor binding
GO:0031687	0.000102	9.193220	0.810930	A2A adenosine receptor binding
GO:0031721	0.000102	9.193220	0.810930	hemoglobin alpha binding
GO:0033134	0.000102	9.193220	0.810930	ubiquitin activating enzyme binding
GO:0070698	0.000102	9.193220	0.810930	type I activin receptor binding
GO:0070699	0.000102	9.193220	0.810930	type II activin receptor binding
GO:0070737	0.000102	9.193220	0.810930	protein-glycine ligase activity, elongating
GO:0102391	0.000102	9.193220	0.810930	decanoate-CoA ligase activity
GO:0004487	0.000102	9.193220	0.916291	methylenetetrahydrofolate dehydrogenase (NAD+) activity
GO:0004918	0.000102	9.193220	0.916291	interleukin-8 receptor activity
GO:0008412	0.000102	9.193220	0.916291	4-hydroxybenzoate octaprenyltransferase activity
GO:0070337	0.000102	9.193220	0.916291	3'-flap-structured DNA binding
GO:0080139	0.000102	9.193220	0.916291	borate efflux transmembrane transporter activity
GO:0001596	0.000102	9.193220	1.011601	angiotensin type I receptor activity
GO:0001632	0.000102	9.193220	1.011601	leukotriene B4 receptor activity
GO:0003920	0.000102	9.193220	1.011601	GMP reductase activity
GO:0004948	0.000102	9.193220	1.011601	calcitonin receptor activity
GO:0016985	0.000102	9.193220	1.011601	mannan endo-1,4-beta-mannosidase activity
GO:0098808	0.000102	9.193220	1.011601	mRNA cap binding
GO:1905773	0.000102	9.193220	1.011601	8-hydroxy-2'-deoxyguanosine DNA binding
GO:0008123	0.000102	9.193220	1.098612	cholesterol 7-alpha-monooxygenase activity
GO:0008930	0.000102	9.193220	1.098612	methylthioadenosine nucleosidase activity
GO:0015573	0.000102	9.193220	1.098612	beta-glucoside transmembrane transporter activity
GO:0030429	0.000102	9.193220	1.098612	kynureninase activity
GO:0047622	0.000102	9.193220	1.098612	adenosine nucleosidase activity
GO:0004612	0.000102	9.193220	1.178655	phosphoenolpyruvate carboxykinase (ATP) activity
GO:0005052	0.000102	9.193220	1.178655	peroxisome matrix targeting signal-1 binding
GO:0015148	0.000102	9.193220	1.178655	D-xylose transmembrane transporter activity
GO:0015591	0.000102	9.193220	1.178655	D-ribose transmembrane transporter activity
GO:0018708	0.000102	9.193220	1.178655	thiol S-methyltransferase activity
GO:0033328	0.000102	9.193220	1.178655	peroxisome membrane targeting sequence binding
GO:0042900	0.000102	9.193220	1.178655	arabinose transmembrane transporter activity
GO:0052717	0.000102	9.193220	1.178655	tRNA-specific adenosine-34 deaminase activity
GO:0005153	0.000102	9.193220	1.252763	interleukin-8 receptor binding
GO:0008775	0.000102	9.193220	1.252763	acetate CoA-transferase activity
GO:0120019	0.000102	9.193220	1.252763	phosphatidylcholine transfer activity
GO:1901982	0.000102	9.193220	1.252763	maltose binding
GO:0004780	0.000102	9.193220	1.321756	sulfate adenylyltransferase (ADP) activity
GO:0015636	0.000102	9.193220	1.321756	short-chain fatty acid transmembrane transporter activity
GO:0031531	0.000102	9.193220	1.321756	thyrotropin-releasing hormone receptor binding
GO:0031800	0.000102	9.193220	1.321756	type 3 metabotropic glutamate receptor binding
GO:0051063	0.000102	9.193220	1.321756	CDP reductase activity
GO:0003935	0.000102	9.193220	1.386294	GTP cyclohydrolase II activity
GO:0005150	0.000102	9.193220	1.386294	interleukin-1, type I receptor binding
GO:0009916	0.000102	9.193220	1.386294	alternative oxidase activity
GO:0015437	0.000102	9.193220	1.386294	lipopolysaccharide floppase activity
GO:0015633	0.000102	9.193220	1.386294	ATPase-coupled zinc transmembrane transporter activity
GO:0051718	0.000102	9.193220	1.386294	DNA (cytosine-5-)-methyltransferase activity, acting on CpG substrates
GO:0090585	0.000102	9.193220	1.386294	protein-phosphocysteine-L-ascorbate-phosphotransferase system transporter activity
GO:0001165	0.000102	9.193220	1.446919	RNA polymerase I cis-regulatory region sequence-specific DNA binding
GO:0004137	0.000102	9.193220	1.446919	deoxycytidine kinase activity
GO:0004138	0.000102	9.193220	1.446919	deoxyguanosine kinase activity
GO:0004964	0.000102	9.193220	1.446919	luteinizing hormone receptor activity
GO:0046537	0.000102	9.193220	1.446919	2,3-bisphosphoglycerate-independent phosphoglycerate mutase activity
GO:0046538	0.000102	9.193220	1.446919	2,3-bisphosphoglycerate-dependent phosphoglycerate mutase activity
GO:0070330	0.000102	9.193220	1.446919	aromatase activity
GO:0001626	0.000102	9.193220	1.504077	nociceptin receptor activity
GO:0005334	0.000102	9.193220	1.504077	norepinephrine:sodium symporter activity
GO:0038047	0.000102	9.193220	1.504077	morphine receptor activity
GO:1990447	0.000102	9.193220	1.558145	U2 snRNP binding
GO:0005294	0.000102	9.193220	1.609438	neutral L-amino acid secondary active transmembrane transporter activity
GO:0016005	0.000102	9.193220	1.609438	phospholipase A2 activator activity
GO:0003911	0.000102	9.193220	1.658228	DNA ligase (NAD+) activity
GO:0016509	0.000102	9.193220	1.658228	long-chain-3-hydroxyacyl-CoA dehydrogenase activity
GO:0097158	0.000102	9.193220	1.658228	pre-mRNA intronic pyrimidine-rich binding
GO:0000310	0.000102	9.193220	1.704748	xanthine phosphoribosyltransferase activity
GO:0001735	0.000102	9.193220	1.704748	prenylcysteine oxidase activity
GO:0005220	0.000102	9.193220	1.704748	inositol 1,4,5-trisphosphate-sensitive calcium-release channel activity
GO:0015362	0.000102	9.193220	1.704748	high-affinity sodium:dicarboxylate symporter activity
GO:0030298	0.000102	9.193220	1.704748	receptor signaling protein tyrosine kinase activator activity
GO:0060230	0.000102	9.193220	1.704748	lipoprotein lipase activator activity
GO:0003829	0.000102	9.193220	1.749200	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0004851	0.000102	9.193220	1.749200	uroporphyrin-III C-methyltransferase activity
GO:0016213	0.000102	9.193220	1.749200	linoleoyl-CoA desaturase activity
GO:0030580	0.000102	9.193220	1.749200	quinone cofactor methyltransferase activity
GO:0052903	0.000102	9.193220	1.791759	N1-acetylspermine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0090486	0.000102	9.193220	1.791759	small RNA 2'-O-methyltransferase
GO:0003991	0.000102	9.193220	1.832581	acetylglutamate kinase activity
GO:0004463	0.000102	9.193220	1.832581	leukotriene-A4 hydrolase activity
GO:0008776	0.000102	9.193220	1.832581	acetate kinase activity
GO:0035373	0.000102	9.193220	1.832581	chondroitin sulfate proteoglycan binding
GO:0004307	0.000102	9.193220	1.871802	ethanolaminephosphotransferase activity
GO:0004835	0.000102	9.193220	1.871802	tubulin-tyrosine ligase activity
GO:0044736	0.000102	9.193220	1.871802	acid-sensing ion channel activity
GO:0097079	0.000102	9.193220	1.871802	selenite:proton symporter activity
GO:0106105	0.000102	9.193220	1.871802	Ala-tRNA(Thr) hydrolase activity
GO:0004621	0.000102	9.193220	1.909543	glycosylphosphatidylinositol phospholipase D activity
GO:0008999	0.000102	9.193220	1.909543	ribosomal-protein-alanine N-acetyltransferase activity
GO:0032931	0.000102	9.193220	1.909543	histone acetyltransferase activity (H3-K56 specific)
GO:0036408	0.000102	9.193220	1.909543	histone acetyltransferase activity (H3-K14 specific)
GO:0061953	0.000102	9.193220	1.909543	mRNA (adenine-N1-)-methyltransferase activity
GO:0072545	0.000102	9.193220	1.909543	tyrosine binding
GO:0015227	0.000102	9.193220	1.945910	acyl carnitine transmembrane transporter activity
GO:0031752	0.000102	9.193220	1.945910	D5 dopamine receptor binding
GO:0050484	0.000102	9.193220	1.945910	GMP 5'-nucleotidase activity
GO:0060072	0.000102	9.193220	1.945910	large conductance calcium-activated potassium channel activity
GO:0003848	0.000102	9.193220	1.981001	2-amino-4-hydroxy-6-hydroxymethyldihydropteridine diphosphokinase activity
GO:0070326	0.000102	9.193220	1.981001	very-low-density lipoprotein particle receptor binding
GO:0070653	0.000102	9.193220	1.981001	high-density lipoprotein particle receptor binding
GO:0031544	0.000102	9.193220	2.014903	peptidyl-proline 3-dioxygenase activity
GO:0004397	0.000102	9.193220	2.047693	histidine ammonia-lyase activity
GO:0005463	0.000102	9.193220	2.047693	UDP-N-acetylgalactosamine transmembrane transporter activity
GO:0015126	0.000102	9.193220	2.047693	canalicular bile acid transmembrane transporter activity
GO:0045548	0.000102	9.193220	2.047693	phenylalanine ammonia-lyase activity
GO:0097003	0.000102	9.193220	2.047693	adipokinetic hormone receptor activity
GO:0004773	0.000102	9.193220	2.079442	steryl-sulfatase activity
GO:0001096	0.000102	9.193220	2.110213	TFIIF-class transcription factor complex binding
GO:0047150	0.000102	9.193220	2.110213	betaine-homocysteine S-methyltransferase activity
GO:0047783	0.000102	9.193220	2.110213	corticosterone 18-monooxygenase activity
GO:0050551	0.000102	9.193220	2.110213	myrcene synthase activity
GO:0004038	0.000102	9.193220	2.140066	allantoinase activity
GO:0033971	0.000102	9.193220	2.140066	hydroxyisourate hydrolase activity
GO:0035478	0.000102	9.193220	2.169054	chylomicron binding
GO:0045300	0.000102	9.193220	2.169054	acyl-[acyl-carrier-protein] desaturase activity
GO:0034257	0.000102	9.193220	2.197225	nicotinamide riboside transmembrane transporter activity
GO:1904121	0.000102	9.193220	2.197225	phosphatidylethanolamine transfer activity
GO:1905056	0.000102	9.193220	2.197225	calcium-transporting ATPase activity involved in regulation of presynaptic cytosolic calcium ion concentration
GO:0003864	0.000102	9.193220	2.224624	3-methyl-2-oxobutanoate hydroxymethyltransferase activity
GO:0031735	0.000102	9.193220	2.224624	CCR10 chemokine receptor binding
GO:1905060	0.000102	9.193220	2.251292	calcium:cation antiporter activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0036218	0.000102	9.193220	2.277267	dTTP diphosphatase activity
GO:0036220	0.000102	9.193220	2.277267	ITP diphosphatase activity
GO:0036222	0.000102	9.193220	2.277267	XTP diphosphatase activity
GO:0047693	0.000102	9.193220	2.277267	ATP diphosphatase activity
GO:0047840	0.000102	9.193220	2.277267	dCTP diphosphatase activity
GO:0004883	0.000102	9.193220	2.302585	glucocorticoid receptor activity
GO:0005055	0.000102	9.193220	2.302585	laminin receptor activity
GO:0008579	0.000102	9.193220	2.302585	JUN kinase phosphatase activity
GO:0008696	0.000102	9.193220	2.302585	4-amino-4-deoxychorismate lyase activity
GO:0008935	0.000102	9.193220	2.302585	1,4-dihydroxy-2-naphthoyl-CoA synthase activity
GO:0033843	0.000102	9.193220	2.302585	xyloglucan 6-xylosyltransferase activity
GO:0008781	0.000102	9.193220	2.374906	N-acylneuraminate cytidylyltransferase activity
GO:0050518	0.000102	9.193220	2.374906	2-C-methyl-D-erythritol 4-phosphate cytidylyltransferase activity
GO:1902379	0.000102	9.193220	2.374906	chemoattractant activity involved in axon guidance
GO:0047652	0.000102	9.193220	2.397895	allantoate deiminase activity
GO:0071522	0.000102	9.193220	2.397895	ureidoglycine aminohydrolase activity
GO:0008254	0.000102	9.193220	2.420368	3'-nucleotidase activity
GO:0019145	0.000102	9.193220	2.420368	aminobutyraldehyde dehydrogenase activity
GO:0004610	0.000102	9.193220	2.442347	phosphoacetylglucosamine mutase activity
GO:0008973	0.000102	9.193220	2.442347	phosphopentomutase activity
GO:0050295	0.000102	9.193220	2.442347	steryl-beta-glucosidase activity
GO:0071618	0.000102	9.193220	2.442347	lysophosphatidylethanolamine acyltransferase activity
GO:0001716	0.000102	9.193220	2.463853	L-amino-acid oxidase activity
GO:0060002	0.000102	9.193220	2.463853	plus-end directed microfilament motor activity
GO:0003835	0.000102	9.193220	2.484907	beta-galactoside alpha-2,6-sialyltransferase activity
GO:0008921	0.000102	9.193220	2.484907	lipopolysaccharide-1,6-galactosyltransferase activity
GO:0019779	0.000102	9.193220	2.484907	Atg8 activating enzyme activity
GO:0047216	0.000102	9.193220	2.484907	inositol 3-alpha-galactosyltransferase activity
GO:0047288	0.000102	9.193220	2.484907	monosialoganglioside sialyltransferase activity
GO:0047291	0.000102	9.193220	2.484907	lactosylceramide alpha-2,3-sialyltransferase activity
GO:0071566	0.000102	9.193220	2.484907	UFM1 activating enzyme activity
GO:0000341	0.000102	9.193220	2.505526	RNA trimethylguanosine cap binding
GO:0003850	0.000102	9.193220	2.525729	2-deoxyglucose-6-phosphatase activity
GO:0004076	0.000102	9.193220	2.525729	biotin synthase activity
GO:0008265	0.000102	9.193220	2.525729	Mo-molybdopterin cofactor sulfurase activity
GO:0004414	0.000102	9.193220	2.545531	homoserine O-acetyltransferase activity
GO:0004034	0.000102	9.193220	2.564949	aldose 1-epimerase activity
GO:0008390	0.000102	9.193220	2.564949	testosterone 16-alpha-hydroxylase activity
GO:0008742	0.000102	9.193220	2.564949	L-ribulose-phosphate 4-epimerase activity
GO:0047464	0.000102	9.193220	2.564949	heparosan-N-sulfate-glucuronate 5-epimerase activity
GO:0050373	0.000102	9.193220	2.564949	UDP-arabinose 4-epimerase activity
GO:0008117	0.000102	9.193220	2.602690	sphinganine-1-phosphate aldolase activity
GO:0052827	0.000102	9.193220	2.602690	inositol pentakisphosphate phosphatase activity
GO:0015218	0.000102	9.193220	2.621039	pyrimidine nucleotide transmembrane transporter activity
GO:0032542	0.000102	9.193220	2.639057	sulfiredoxin activity
GO:0003856	0.000102	9.193220	2.674149	3-dehydroquinate synthase activity
GO:0019970	0.000102	9.193220	2.674149	interleukin-11 binding
GO:0019981	0.000102	9.193220	2.674149	interleukin-6 binding
GO:0034007	0.000102	9.193220	2.674149	S-linalool synthase activity
GO:0034768	0.000102	9.193220	2.674149	(E)-beta-ocimene synthase activity
GO:0047024	0.000102	9.193220	2.674149	5alpha-androstane-3beta,17beta-diol dehydrogenase activity
GO:0003947	0.000102	9.193220	2.691243	(N-acetylneuraminyl)-galactosylglucosylceramide N-acetylgalactosaminyltransferase activity
GO:0030627	0.000102	9.193220	2.691243	pre-mRNA 5'-splice site binding
GO:0033207	0.000102	9.193220	2.691243	beta-1,4-N-acetylgalactosaminyltransferase activity
GO:0047238	0.000102	9.193220	2.691243	glucuronosyl-N-acetylgalactosaminyl-proteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0003949	0.000102	9.193220	2.708050	1-(5-phosphoribosyl)-5-[(5-phosphoribosylamino)methylideneamino]imidazole-4-carboxamide isomerase activity
GO:0000406	0.000102	9.193220	2.724580	double-strand/single-strand DNA junction binding
GO:0003860	0.000102	9.193220	2.724580	3-hydroxyisobutyryl-CoA hydrolase activity
GO:0004778	0.000102	9.193220	2.724580	succinyl-CoA hydrolase activity
GO:0030622	0.000102	9.193220	2.740840	U4atac snRNA binding
GO:0071209	0.000102	9.193220	2.740840	U7 snRNA binding
GO:0008824	0.000102	9.193220	2.756840	cyanate hydratase activity
GO:0106166	0.000102	9.193220	2.756840	spindle pole body-nuclear membrane anchor activity
GO:0004604	0.000102	9.193220	2.772589	phosphoadenylyl-sulfate reductase (thioredoxin) activity
GO:0008854	0.000102	9.193220	2.803360	exodeoxyribonuclease V activity
GO:0042409	0.000102	9.193220	2.818398	caffeoyl-CoA O-methyltransferase activity
GO:0000006	0.000102	9.193220	2.833213	high-affinity zinc transmembrane transporter activity
GO:0019148	0.000102	9.193220	2.833213	D-cysteine desulfhydrase activity
GO:0033749	0.000102	9.193220	2.876386	histone demethylase activity (H4-R3 specific)
GO:0050816	0.000102	9.193220	2.904165	phosphothreonine residue binding
GO:0008663	0.000102	9.193220	2.917771	2',3'-cyclic-nucleotide 2'-phosphodiesterase activity
GO:0000246	0.000102	9.193220	2.957511	delta24(24-1) sterol reductase activity
GO:0008839	0.000102	9.193220	2.957511	4-hydroxy-tetrahydrodipicolinate reductase
GO:0019166	0.000102	9.193220	2.957511	trans-2-enoyl-CoA reductase (NADPH) activity
GO:0032440	0.000102	9.193220	2.957511	2-alkenal reductase [NAD(P)+] activity
GO:0035671	0.000102	9.193220	2.957511	enone reductase activity
GO:0047598	0.000102	9.193220	2.957511	7-dehydrocholesterol reductase activity
GO:0000034	0.000102	9.193220	2.970414	adenine deaminase activity
GO:0008127	0.000102	9.193220	2.970414	quercetin 2,3-dioxygenase activity
GO:0052857	0.000102	9.193220	2.995732	NADPHX epimerase activity
GO:0004873	0.000102	9.193220	3.032546	asialoglycoprotein receptor activity
GO:0005130	0.000102	9.193220	3.032546	granulocyte colony-stimulating factor receptor binding
GO:0005136	0.000102	9.193220	3.032546	interleukin-4 receptor binding
GO:0005137	0.000102	9.193220	3.032546	interleukin-5 receptor binding
GO:0030226	0.000102	9.193220	3.032546	apolipoprotein receptor activity
GO:0008922	0.000102	9.193220	3.079614	long-chain fatty acid [acyl-carrier-protein] ligase activity
GO:0047493	0.000102	9.193220	3.079614	ceramide cholinephosphotransferase activity
GO:1990856	0.000102	9.193220	3.091042	methionyl-initiator methionine tRNA binding
GO:0008532	0.000102	9.193220	3.102342	N-acetyllactosaminide beta-1,3-N-acetylglucosaminyltransferase activity
GO:0032574	0.000102	9.193220	3.102342	5'-3' RNA helicase activity
GO:0061542	0.000102	9.193220	3.102342	3-demethylubiquinol-n 3-O-methyltransferase activity
GO:1990165	0.000102	9.193220	3.102342	single-strand break-containing DNA binding
GO:0050251	0.000102	9.193220	3.124565	retinol isomerase activity
GO:0016492	0.000102	9.193220	3.178054	G protein-coupled neurotensin receptor activity
GO:0036401	0.000102	9.193220	3.178054	pyrokinin receptor activity
GO:0004099	0.000102	9.193220	3.188417	chitin deacetylase activity
GO:0008448	0.000102	9.193220	3.188417	N-acetylglucosamine-6-phosphate deacetylase activity
GO:0061799	0.000102	9.193220	3.198673	cyclic pyranopterin monophosphate synthase activity
GO:0008716	0.000102	9.193220	3.208825	D-alanine-D-alanine ligase activity
GO:0047527	0.000102	9.193220	3.208825	2,3-dihydroxybenzoate-serine ligase activity
GO:0015127	0.000102	9.193220	3.248435	bilirubin transmembrane transporter activity
GO:0003875	0.000102	9.193220	3.286534	ADP-ribosylarginine hydrolase activity
GO:0140293	0.000102	9.193220	3.286534	ADP-ribosylglutamate hydrolase activity
GO:0004454	0.000102	9.193220	3.295837	ketohexokinase activity
GO:0004747	0.000102	9.193220	3.295837	ribokinase activity
GO:0019150	0.000102	9.193220	3.295837	D-ribulokinase activity
GO:0031151	0.000102	9.193220	3.305054	histone methyltransferase activity (H3-K79 specific)
GO:0004648	0.000102	9.193220	3.314186	O-phospho-L-serine:2-oxoglutarate aminotransferase activity
GO:0015117	0.000102	9.193220	3.323236	thiosulfate transmembrane transporter activity
GO:0008336	0.000102	9.193220	3.341093	gamma-butyrobetaine dioxygenase activity
GO:0048244	0.000102	9.193220	3.341093	phytanoyl-CoA dioxygenase activity
GO:0050353	0.000102	9.193220	3.341093	trimethyllysine dioxygenase activity
GO:1990889	0.000102	9.193220	3.341093	H4K20me3 modified histone binding
GO:0046997	0.000102	9.193220	3.349904	oxidoreductase activity, acting on the CH-NH group of donors, flavin as acceptor
GO:0070290	0.000102	9.193220	3.349904	N-acylphosphatidylethanolamine-specific phospholipase D activity
GO:0001761	0.000102	9.193220	3.358638	beta-alanine transmembrane transporter activity
GO:0005008	0.000102	9.193220	3.367296	hepatocyte growth factor-activated receptor activity
GO:0005011	0.000102	9.193220	3.367296	macrophage colony-stimulating factor receptor activity
GO:0000827	0.000102	9.193220	3.375880	inositol-1,3,4,5,6-pentakisphosphate kinase activity
GO:0003996	0.000102	9.193220	3.375880	acyl-CoA ligase activity
GO:0047747	0.000102	9.193220	3.375880	cholate-CoA ligase activity
GO:0061463	0.000102	9.193220	3.384390	O-acetyl-ADP-ribose deacetylase activity
GO:0010295	0.000102	9.193220	3.433987	(+)-abscisic acid 8'-hydroxylase activity
GO:0018636	0.000102	9.193220	3.433987	phenanthrene 9,10-monooxygenase activity
GO:0051777	0.000102	9.193220	3.433987	ent-kaurenoate oxidase activity
GO:0062186	0.000102	9.193220	3.433987	anandamide epoxidase activity
GO:0015666	0.000102	9.193220	3.442019	restriction endodeoxyribonuclease activity
GO:0016890	0.000102	9.193220	3.442019	site-specific endodeoxyribonuclease activity, specific for altered base
GO:0047364	0.000102	9.193220	3.473518	desulfoglucosinolate sulfotransferase activity
GO:0047894	0.000102	9.193220	3.473518	flavonol 3-sulfotransferase activity
GO:1990135	0.000102	9.193220	3.473518	flavonoid sulfotransferase activity
GO:0043998	0.000102	9.193220	3.504055	H2A histone acetyltransferase activity
GO:0047209	0.000102	9.193220	3.504055	coniferyl-alcohol glucosyltransferase activity
GO:0050403	0.000102	9.193220	3.504055	trans-zeatin O-beta-D-glucosyltransferase activity
GO:0080045	0.000102	9.193220	3.504055	quercetin 3'-O-glucosyltransferase activity
GO:0017020	0.000102	9.193220	3.526361	myosin phosphatase regulator activity
GO:0004494	0.000102	9.193220	3.555348	methylmalonyl-CoA mutase activity
GO:0008767	0.000102	9.193220	3.555348	UDP-galactopyranose mutase activity
GO:0052691	0.000102	9.193220	3.555348	UDP-arabinopyranose mutase activity
GO:0004447	0.000102	9.193220	3.576550	iodide peroxidase activity
GO:0004900	0.000102	9.193220	3.576550	erythropoietin receptor activity
GO:0004912	0.000102	9.193220	3.576550	interleukin-3 receptor activity
GO:0004915	0.000102	9.193220	3.576550	interleukin-6 receptor activity
GO:0004921	0.000102	9.193220	3.576550	interleukin-11 receptor activity
GO:0004925	0.000102	9.193220	3.576550	prolactin receptor activity
GO:0030368	0.000102	9.193220	3.576550	interleukin-17 receptor activity
GO:0042008	0.000102	9.193220	3.576550	interleukin-18 receptor activity
GO:0042010	0.000102	9.193220	3.576550	interleukin-15 receptor activity
GO:0031997	0.000102	9.193220	3.597312	N-terminal myristoylation domain binding
GO:0018025	0.000102	9.193220	3.617652	calmodulin-lysine N-methyltransferase activity
GO:0015123	0.000102	9.193220	3.624341	acetate transmembrane transporter activity
GO:0015499	0.000102	9.193220	3.624341	formate transmembrane transporter activity
GO:0003942	0.000102	9.193220	3.644144	N-acetyl-gamma-glutamyl-phosphate reductase activity
GO:0004043	0.000102	9.193220	3.644144	L-aminoadipate-semialdehyde dehydrogenase activity
GO:0004350	0.000102	9.193220	3.644144	glutamate-5-semialdehyde dehydrogenase activity
GO:0004727	0.000102	9.193220	3.644144	prenylated protein tyrosine phosphatase activity
GO:0016621	0.000102	9.193220	3.644144	cinnamoyl-CoA reductase activity
GO:0030946	0.000102	9.193220	3.644144	protein tyrosine phosphatase activity, metal-dependent
GO:0004068	0.000102	9.193220	3.682610	aspartate 1-decarboxylase activity
GO:0004425	0.000102	9.193220	3.682610	indole-3-glycerol-phosphate synthase activity
GO:0004737	0.000102	9.193220	3.682610	pyruvate decarboxylase activity
GO:0004837	0.000102	9.193220	3.682610	tyrosine decarboxylase activity
GO:0008488	0.000102	9.193220	3.682610	gamma-glutamyl carboxylase activity
GO:0008948	0.000102	9.193220	3.682610	oxaloacetate decarboxylase activity
GO:0050080	0.000102	9.193220	3.682610	malonyl-CoA decarboxylase activity
GO:0004583	0.000102	9.193220	3.719651	dolichyl-phosphate-glucose-glycolipid alpha-glucosyltransferase activity
GO:0019961	0.000102	9.193220	3.725693	interferon binding
GO:0042007	0.000102	9.193220	3.725693	interleukin-18 binding
GO:0042015	0.000102	9.193220	3.725693	interleukin-20 binding
GO:0071164	0.000102	9.193220	3.725693	RNA trimethylguanosine synthase activity
GO:0015592	0.000102	9.193220	3.731699	methylgalactoside transmembrane transporter activity
GO:0016521	0.000102	9.193220	3.731699	pituitary adenylate cyclase activating polypeptide activity
GO:0016913	0.000102	9.193220	3.731699	follicle-stimulating hormone activity
GO:0004796	0.000102	9.193220	3.737670	thromboxane-A synthase activity
GO:0008116	0.000102	9.193220	3.737670	prostaglandin-I synthase activity
GO:0045153	0.000102	9.193220	3.828641	electron transporter, transferring electrons within CoQH2-cytochrome c reductase complex activity
GO:0000107	0.000102	9.193220	3.865979	imidazoleglycerol-phosphate synthase activity
GO:0004048	0.000102	9.193220	3.865979	anthranilate phosphoribosyltransferase activity
GO:0009032	0.000102	9.193220	3.865979	thymidine phosphorylase activity
GO:0140294	0.000102	9.193220	3.865979	NAD DNA ADP-ribosyltransferase activity
GO:1990585	0.000102	9.193220	3.865979	hydroxyproline O-arabinosyltransferase activity
GO:0032216	0.000102	9.193220	3.871201	glucosaminyl-phosphatidylinositol O-acyltransferase activity
GO:0002153	0.000102	9.193220	3.956040	steroid receptor RNA activator RNA binding
GO:0003921	0.000102	9.193220	4.029806	GMP synthase activity
GO:0009973	0.000102	9.193220	4.073291	adenylyl-sulfate reductase activity
GO:0017188	0.000102	9.193220	4.073291	aspartate N-acetyltransferase activity
GO:0019134	0.000102	9.193220	4.073291	glucosamine-1-phosphate N-acetyltransferase activity
GO:0046027	0.000102	9.193220	4.073291	phospholipid:diacylglycerol acyltransferase activity
GO:0052858	0.000102	9.193220	4.073291	peptidyl-lysine acetyltransferase activity
GO:0047395	0.000102	9.193220	4.102643	glycerophosphoinositol glycerophosphodiesterase activity
GO:1990275	0.000102	9.193220	4.123094	preribosome binding
GO:0003948	0.000102	9.193220	4.131159	N4-(beta-N-acetylglucosaminyl)-L-asparaginase activity
GO:0004061	0.000102	9.193220	4.131159	arylformamidase activity
GO:0017159	0.000102	9.193220	4.131159	pantetheine hydrolase activity
GO:0043530	0.000102	9.193220	4.131159	adenosine 5'-monophosphoramidase activity
GO:0047708	0.000102	9.193220	4.131159	biotinidase activity
GO:0050152	0.000102	9.193220	4.131159	omega-amidase activity
GO:0061697	0.000102	9.193220	4.131159	protein-glutaryllysine deglutarylase activity
GO:0000234	0.000102	9.193220	4.154969	phosphoethanolamine N-methyltransferase activity
GO:0000773	0.000102	9.193220	4.154969	phosphatidyl-N-methylethanolamine N-methyltransferase activity
GO:0017174	0.000102	9.193220	4.154969	glycine N-methyltransferase activity
GO:0008389	0.000102	9.193220	4.158883	coumarin 7-hydroxylase activity
GO:0019135	0.000102	9.193220	4.158883	deoxyhypusine monooxygenase activity
GO:0003855	0.000102	9.193220	4.174387	3-dehydroquinate dehydratase activity
GO:0004160	0.000102	9.193220	4.174387	dihydroxy-acid dehydratase activity
GO:0004951	0.000102	9.193220	4.182050	cholecystokinin receptor activity
GO:0061798	0.000102	9.193220	4.197202	GTP 3',8'-cyclase activity
GO:0047961	0.000102	9.193220	4.324133	glycine N-acyltransferase activity
GO:0140064	0.000102	9.193220	4.324133	peptide crotonyltransferase activity
GO:0008607	0.000102	9.193220	4.427836	phosphorylase kinase regulator activity
GO:0015098	0.000102	9.193220	4.427836	molybdate ion transmembrane transporter activity
GO:0008609	0.000102	9.193220	4.442651	alkylglycerone-phosphate synthase activity
GO:0008676	0.000102	9.193220	4.442651	3-deoxy-8-phosphooctulonate synthase activity
GO:0008987	0.000102	9.193220	4.442651	quinolinate synthetase A activity
GO:0034038	0.000102	9.193220	4.442651	deoxyhypusine synthase activity
GO:0047444	0.000102	9.193220	4.442651	N-acylneuraminate-9-phosphate synthase activity
GO:0004341	0.000102	9.193220	4.494239	gluconolactonase activity
GO:0033878	0.000102	9.193220	4.494239	hormone-sensitive lipase activity
GO:0045519	0.000102	9.193220	4.494239	interleukin-23 receptor binding
GO:0047746	0.000102	9.193220	4.494239	chlorophyllase activity
GO:0003940	0.000102	9.193220	4.553877	L-iduronidase activity
GO:0030305	0.000102	9.193220	4.553877	heparanase activity
GO:0033906	0.000102	9.193220	4.553877	hyaluronoglucuronidase activity
GO:0033925	0.000102	9.193220	4.553877	mannosyl-glycoprotein endo-beta-N-acetylglucosaminidase activity
GO:0047657	0.000102	9.193220	4.584967	alpha-1,3-glucan synthase activity
GO:0031711	0.000102	9.193220	4.653960	bradykinin receptor binding
GO:0031716	0.000102	9.193220	4.653960	calcitonin receptor binding
GO:0031762	0.000102	9.193220	4.653960	follicle-stimulating hormone receptor binding
GO:0031769	0.000102	9.193220	4.653960	glucagon receptor binding
GO:0008879	0.000102	9.193220	4.684443	glucose-1-phosphate thymidylyltransferase activity
GO:0017125	0.000102	9.193220	4.684443	deoxycytidyl transferase activity
GO:0050196	0.000102	9.193220	4.691348	[phosphorylase] phosphatase activity
GO:0010178	0.000102	9.193220	4.720729	IAA-amino acid conjugate hydrolase activity
GO:0120091	0.000102	9.193220	4.720729	jasmonic acid hydrolase
GO:0045485	0.000102	9.193220	4.725173	omega-6 fatty acid desaturase activity
GO:0080102	0.000102	9.193220	4.725173	3-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080104	0.000102	9.193220	4.725173	5-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080106	0.000102	9.193220	4.725173	7-methylthiopropyl glucosinolate S-oxygenase activity
GO:0030735	0.000102	9.193220	4.804021	carnosine N-methyltransferase activity
GO:0030792	0.000102	9.193220	4.804021	methylarsonite methyltransferase activity
GO:0099510	0.000102	9.193220	4.820282	calcium ion binding involved in regulation of cytosolic calcium ion concentration
GO:0000252	0.000102	9.193220	4.836282	C-3 sterol dehydrogenase (C-4 sterol decarboxylase) activity
GO:0008442	0.000102	9.193220	4.836282	3-hydroxyisobutyrate dehydrogenase activity
GO:0008465	0.000102	9.193220	4.836282	glycerate dehydrogenase activity
GO:0008703	0.000102	9.193220	4.836282	5-amino-6-(5-phosphoribosylamino)uracil reductase activity
GO:0008743	0.000102	9.193220	4.836282	L-threonine 3-dehydrogenase activity
GO:0016404	0.000102	9.193220	4.836282	15-hydroxyprostaglandin dehydrogenase (NAD+) activity
GO:0019170	0.000102	9.193220	4.836282	methylglyoxal reductase (NADH-dependent) activity
GO:0034256	0.000102	9.193220	4.836282	chlorophyll(ide) b reductase activity
GO:0042282	0.000102	9.193220	4.836282	hydroxymethylglutaryl-CoA reductase activity
GO:0045290	0.000102	9.193220	4.836282	D-arabinose 1-dehydrogenase [NAD(P)+] activity
GO:0047939	0.000102	9.193220	4.836282	L-glucuronate reductase activity
GO:0047941	0.000102	9.193220	4.836282	glucuronolactone reductase activity
GO:1990042	0.000102	9.193220	4.836282	glycerol dehydrogenase [NAD(P)+] activity
GO:0051120	0.000102	9.193220	4.894101	hepoxilin A3 synthase activity
GO:0008812	0.000102	9.193220	4.962845	choline dehydrogenase activity
GO:0031320	0.000102	9.193220	4.962845	hexitol dehydrogenase activity
GO:0060241	0.000102	9.193220	4.976734	lysozyme inhibitor activity
GO:1990846	0.000102	9.193220	4.976734	ribonucleoside-diphosphate reductase inhibitor activity
GO:0043750	0.000102	9.193220	5.104429	phosphatidylinositol alpha-mannosyltransferase activity
GO:0044692	0.000102	9.193220	5.236442	exoribonuclease activator activity
GO:0033818	0.000102	9.193220	5.245707	beta-ketoacyl-acyl-carrier-protein synthase III activity
GO:0004997	0.000102	9.193220	5.266569	thyrotropin-releasing hormone receptor activity
GO:0015055	0.000102	9.193220	5.266569	secretin receptor activity
GO:0019777	0.000102	9.193220	5.289529	Atg12 transferase activity
GO:0016848	0.000102	9.193220	5.344724	carbon-halide lyase activity
GO:0004401	0.000102	9.193220	5.350673	histidinol-phosphatase activity
GO:0019178	0.000102	9.193220	5.350673	NADP phosphatase activity
GO:0050286	0.000102	9.193220	5.350673	sorbitol-6-phosphatase activity
GO:0008920	0.000102	9.193220	5.448890	lipopolysaccharide heptosyltransferase activity
GO:0043423	0.000102	9.193220	5.515443	3-phosphoinositide-dependent protein kinase binding
GO:0033149	0.000102	9.193220	5.568345	FFAT motif binding
GO:0035851	0.000102	9.193220	5.568345	Krueppel-associated box domain binding
GO:0050682	0.000102	9.193220	5.568345	AF-2 domain binding
GO:0070976	0.000102	9.193220	5.568345	TIR domain binding
GO:1990525	0.000102	9.193220	5.568345	BIR domain binding
GO:0008349	0.000102	9.193220	5.586312	MAP kinase kinase kinase kinase activity
GO:0016793	0.000102	9.193220	5.611302	triphosphoric monoester hydrolase activity
GO:0017129	0.000102	9.193220	5.631212	triglyceride binding
GO:0140090	0.000102	9.193220	5.631212	membrane curvature sensor activity
GO:0072570	0.000102	9.193220	5.682729	ADP-D-ribose binding
GO:0005213	0.000102	9.193220	5.719492	structural constituent of egg chorion
GO:0050333	0.000102	9.193220	5.776103	thiamin-triphosphatase activity
GO:0051373	0.000102	9.193220	5.857933	FATZ binding
GO:0000298	0.000102	9.193220	5.897840	endopolyphosphatase activity
GO:0110153	0.000102	9.193220	5.903316	RNA NAD-cap (NMN-forming) hydrolase activity
GO:0009884	0.000102	9.193220	5.950643	cytokinin receptor activity
GO:1902444	0.000102	9.193220	5.969347	riboflavin binding
GO:1903981	0.000102	9.193220	5.969347	enterobactin binding
GO:0072572	0.000102	9.193220	5.984566	poly-ADP-D-ribose binding
GO:0035034	0.000102	9.193220	6.004504	histone acetyltransferase regulator activity
GO:0035651	0.000102	9.193220	6.199494	AP-3 adaptor complex binding
GO:0062061	0.000102	9.193220	6.199494	TAP complex binding
GO:0106140	0.000102	9.193220	6.199494	P-TEFb complex binding
GO:1904841	0.000102	9.193220	6.199494	TORC2 complex binding
GO:1904931	0.000102	9.193220	6.199494	MCM complex binding
GO:0031992	0.000102	9.193220	6.202029	energy transducer activity
GO:0034336	0.000102	9.193220	6.242710	misfolded RNA binding
GO:0062153	0.000102	9.193220	6.242710	C5-methylcytidine-containing RNA binding
GO:0071208	0.000102	9.193220	6.242710	histone pre-mRNA DCP binding
GO:0150100	0.000102	9.193220	6.242710	RNA binding involved in posttranscriptional gene silencing
GO:0050201	0.000102	9.193220	6.250940	fucokinase activity
GO:0050262	0.000102	9.193220	6.250940	ribosylnicotinamide kinase activity
GO:0001147	0.000102	9.193220	6.291106	transcription termination site sequence-specific DNA binding
GO:0032422	0.000102	9.193220	6.291106	purine-rich negative regulatory element binding
GO:0015094	0.000102	9.193220	6.316262	lead ion transmembrane transporter activity
GO:0005118	0.000102	9.193220	6.379699	sevenless binding
GO:0005122	0.000102	9.193220	6.379699	torso binding
GO:0017098	0.000102	9.193220	6.379699	sulfonylurea receptor binding
GO:0030156	0.000102	9.193220	6.379699	benzodiazepine receptor binding
GO:0039552	0.000102	9.193220	6.379699	RIG-I binding
GO:0015039	0.000102	9.193220	6.477741	NADPH-adrenodoxin reductase activity
GO:0001073	0.000102	9.193220	6.571583	transcription antitermination factor activity, DNA binding
GO:0003692	0.000102	9.193220	6.585137	left-handed Z-DNA binding
GO:0015603	0.000102	9.193220	6.655762	iron chelate transmembrane transporter activity
GO:0035379	0.000102	9.193220	6.655762	carbon dioxide transmembrane transporter activity
GO:0010280	0.000102	9.193220	7.445272	UDP-L-rhamnose synthase activity
GO:0010313	0.000102	9.193220	8.625779	phytochrome binding
GO:0032767	0.000102	9.193220	8.625779	copper-dependent protein binding
GO:0098770	0.000102	9.193220	8.625779	FBXO family protein binding
GO:0000102	0.000076	9.480902	0.000000	L-methionine secondary active transmembrane transporter activity
GO:0002058	0.000076	9.480902	0.000000	uracil binding
GO:0003963	0.000076	9.480902	0.000000	RNA-3'-phosphate cyclase activity
GO:0004479	0.000076	9.480902	0.000000	methionyl-tRNA formyltransferase activity
GO:0004483	0.000076	9.480902	0.000000	mRNA (nucleoside-2'-O-)-methyltransferase activity
GO:0004855	0.000076	9.480902	0.000000	xanthine oxidase activity
GO:0005152	0.000076	9.480902	0.000000	interleukin-1 receptor antagonist activity
GO:0005289	0.000076	9.480902	0.000000	high-affinity arginine transmembrane transporter activity
GO:0005292	0.000076	9.480902	0.000000	high-affinity lysine transmembrane transporter activity
GO:0008424	0.000076	9.480902	0.000000	glycoprotein 6-alpha-L-fucosyltransferase activity
GO:0008518	0.000076	9.480902	0.000000	folate:anion antiporter activity
GO:0008551	0.000076	9.480902	0.000000	cadmium transmembrane transporter activity, phosphorylative mechanism
GO:0008942	0.000076	9.480902	0.000000	nitrite reductase [NAD(P)H] activity
GO:0009703	0.000076	9.480902	0.000000	nitrate reductase (NADH) activity
GO:0009784	0.000076	9.480902	0.000000	transmembrane receptor histidine kinase activity
GO:0010855	0.000076	9.480902	0.000000	adenylate cyclase inhibitor activity
GO:0015067	0.000076	9.480902	0.000000	amidinotransferase activity
GO:0015132	0.000076	9.480902	0.000000	prostaglandin transmembrane transporter activity
GO:0015159	0.000076	9.480902	0.000000	polysaccharide transmembrane transporter activity
GO:0015366	0.000076	9.480902	0.000000	malate:proton symporter activity
GO:0015367	0.000076	9.480902	0.000000	oxoglutarate:malate antiporter activity
GO:0015407	0.000076	9.480902	0.000000	ATPase-coupled monosaccharide transmembrane transporter activity
GO:0015421	0.000076	9.480902	0.000000	ATPase-coupled oligopeptide transmembrane transporter activity
GO:0015434	0.000076	9.480902	0.000000	ATPase-coupled cadmium transmembrane transporter activity
GO:0015446	0.000076	9.480902	0.000000	ATPase-coupled arsenite transmembrane transporter activity
GO:0015478	0.000076	9.480902	0.000000	oligosaccharide transporting porin activity
GO:0015506	0.000076	9.480902	0.000000	nucleoside:proton symporter activity
GO:0016430	0.000076	9.480902	0.000000	tRNA (adenine-N6-)-methyltransferase activity
GO:0016760	0.000076	9.480902	0.000000	cellulose synthase (UDP-forming) activity
GO:0019120	0.000076	9.480902	0.000000	hydrolase activity, acting on acid halide bonds, in C-halide compounds
GO:0019797	0.000076	9.480902	0.000000	procollagen-proline 3-dioxygenase activity
GO:0030409	0.000076	9.480902	0.000000	glutamate formimidoyltransferase activity
GO:0030977	0.000076	9.480902	0.000000	taurine binding
GO:0031516	0.000076	9.480902	0.000000	far-red light photoreceptor activity
GO:0031718	0.000076	9.480902	0.000000	type 1 cannabinoid receptor binding
GO:0031755	0.000076	9.480902	0.000000	Edg-2 lysophosphatidic acid receptor binding
GO:0031765	0.000076	9.480902	0.000000	type 2 galanin receptor binding
GO:0031766	0.000076	9.480902	0.000000	type 3 galanin receptor binding
GO:0031839	0.000076	9.480902	0.000000	type 1 neuromedin U receptor binding
GO:0031840	0.000076	9.480902	0.000000	type 2 neuromedin U receptor binding
GO:0031857	0.000076	9.480902	0.000000	type 1 parathyroid hormone receptor binding
GO:0032035	0.000076	9.480902	0.000000	myosin II tail binding
GO:0033164	0.000076	9.480902	0.000000	glycolipid 6-alpha-mannosyltransferase activity
GO:0034041	0.000076	9.480902	0.000000	ATPase-coupled sterol transmembrane transporter activity
GO:0034611	0.000076	9.480902	0.000000	oligoribonucleotidase activity
GO:0034632	0.000076	9.480902	0.000000	retinol transmembrane transporter activity
GO:0042945	0.000076	9.480902	0.000000	D-serine transmembrane transporter activity
GO:0043739	0.000076	9.480902	0.000000	G/U mismatch-specific uracil-DNA glycosylase activity
GO:0043798	0.000076	9.480902	0.000000	glycerate 2-kinase activity
GO:0050311	0.000076	9.480902	0.000000	sulfite reductase (ferredoxin) activity
GO:0050463	0.000076	9.480902	0.000000	nitrate reductase [NAD(P)H] activity
GO:0050633	0.000076	9.480902	0.000000	acetyl-CoA C-myristoyltransferase activity
GO:0051730	0.000076	9.480902	0.000000	GTP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0052624	0.000076	9.480902	0.000000	2-phytyl-1,4-naphthoquinone methyltransferase activity
GO:0052845	0.000076	9.480902	0.000000	inositol-5-diphosphate-1,2,3,4,6-pentakisphosphate diphosphatase activity
GO:0061654	0.000076	9.480902	0.000000	NEDD8 conjugating enzyme activity
GO:0061791	0.000076	9.480902	0.000000	GTPase motor activity
GO:0062156	0.000076	9.480902	0.000000	mitochondrial ATP-gated potassium channel activity
GO:0070677	0.000076	9.480902	0.000000	rRNA (cytosine-2'-O-)-methyltransferase activity
GO:0070855	0.000076	9.480902	0.000000	myosin VI head/neck binding
GO:0070856	0.000076	9.480902	0.000000	myosin VI light chain binding
GO:0070968	0.000076	9.480902	0.000000	pyrroloquinoline quinone binding
GO:0072547	0.000076	9.480902	0.000000	tricoumaroylspermidine meta-hydroxylase activity
GO:0072548	0.000076	9.480902	0.000000	dicoumaroyl monocaffeoyl spermidine meta-hydroxylase activity
GO:0072549	0.000076	9.480902	0.000000	monocoumaroyl dicaffeoyl spermidine meta-hydroxylase activity
GO:0080049	0.000076	9.480902	0.000000	L-gulono-1,4-lactone dehydrogenase activity
GO:0090440	0.000076	9.480902	0.000000	abscisic acid transmembrane transporter activity
GO:0090448	0.000076	9.480902	0.000000	glucosinolate:proton symporter activity
GO:0098782	0.000076	9.480902	0.000000	mechanosensitived potassium channel activity
GO:0099579	0.000076	9.480902	0.000000	G protein-coupled neurotransmitter receptor activity involved in regulation of postsynaptic membrane potential
GO:0106153	0.000076	9.480902	0.000000	phosphorylated histone binding
GO:0106219	0.000076	9.480902	0.000000	zinc ion sensor activity
GO:1990606	0.000076	9.480902	0.000000	membrane scission GTPase motor activity
GO:1990984	0.000076	9.480902	0.000000	tRNA demethylase activity
GO:2001227	0.000076	9.480902	0.000000	quercitrin binding
GO:0005309	0.000076	9.480902	0.287682	creatine:sodium symporter activity
GO:0008700	0.000076	9.480902	0.287682	4-hydroxy-2-oxoglutarate aldolase activity
GO:0008773	0.000076	9.480902	0.287682	[protein-PII] uridylyltransferase activity
GO:0008888	0.000076	9.480902	0.287682	glycerol dehydrogenase [NAD+] activity
GO:0010179	0.000076	9.480902	0.287682	IAA-Ala conjugate hydrolase activity
GO:0015439	0.000076	9.480902	0.287682	ATPase-coupled heme transmembrane transporter activity
GO:0015513	0.000076	9.480902	0.287682	high-affinity secondary active nitrite transmembrane transporter activity
GO:0015517	0.000076	9.480902	0.287682	galactose:proton symporter activity
GO:0015648	0.000076	9.480902	0.287682	lipid-linked peptidoglycan transporter activity
GO:0019962	0.000076	9.480902	0.287682	type I interferon binding
GO:0030351	0.000076	9.480902	0.287682	inositol-1,3,4,5,6-pentakisphosphate 3-phosphatase activity
GO:0032041	0.000076	9.480902	0.287682	NAD-dependent histone deacetylase activity (H3-K14 specific)
GO:0042951	0.000076	9.480902	0.287682	arbutin transmembrane transporter activity
GO:0045509	0.000076	9.480902	0.287682	interleukin-27 receptor activity
GO:0046029	0.000076	9.480902	0.287682	mannitol dehydrogenase activity
GO:0047865	0.000076	9.480902	0.287682	dimethylglycine dehydrogenase activity
GO:0051033	0.000076	9.480902	0.287682	RNA transmembrane transporter activity
GO:0062187	0.000076	9.480902	0.287682	anandamide 8,9 epoxidase activity
GO:0062188	0.000076	9.480902	0.287682	anandamide 11,12 epoxidase activity
GO:0072571	0.000076	9.480902	0.287682	mono-ADP-D-ribose binding
GO:0098640	0.000076	9.480902	0.287682	integrin binding involved in cell-matrix adhesion
GO:0106054	0.000076	9.480902	0.287682	tRNA U34 thiol-transferase activity
GO:1902388	0.000076	9.480902	0.287682	ceramide 1-phosphate transfer activity
GO:1990259	0.000076	9.480902	0.287682	histone-glutamine methyltransferase activity
GO:0004026	0.000076	9.480902	0.510826	alcohol O-acetyltransferase activity
GO:0004083	0.000076	9.480902	0.510826	bisphosphoglycerate 2-phosphatase activity
GO:0004754	0.000076	9.480902	0.510826	saccharopine dehydrogenase (NAD+, L-lysine-forming) activity
GO:0004934	0.000076	9.480902	0.510826	mating-type alpha-factor pheromone receptor activity
GO:0004961	0.000076	9.480902	0.510826	thromboxane A2 receptor activity
GO:0005358	0.000076	9.480902	0.510826	high-affinity glucose:proton symporter activity
GO:0008979	0.000076	9.480902	0.510826	prophage integrase activity
GO:0009037	0.000076	9.480902	0.510826	tyrosine-based site-specific recombinase activity
GO:0031896	0.000076	9.480902	0.510826	V2 vasopressin receptor binding
GO:0035597	0.000076	9.480902	0.510826	N6-isopentenyladenosine methylthiotransferase activity
GO:0036381	0.000076	9.480902	0.510826	pyridoxal 5'-phosphate synthase (glutamine hydrolysing) activity
GO:0043879	0.000076	9.480902	0.510826	glycolate transmembrane transporter activity
GO:0046423	0.000076	9.480902	0.510826	allene-oxide cyclase activity
GO:0140338	0.000076	9.480902	0.510826	sphingomyelin transfer activity
GO:1905573	0.000076	9.480902	0.510826	ganglioside GM1 binding
GO:0001566	0.000076	9.480902	0.693147	non-kinase phorbol ester receptor activity
GO:0001681	0.000076	9.480902	0.693147	sialate O-acetylesterase activity
GO:0001733	0.000076	9.480902	0.693147	galactosylceramide sulfotransferase activity
GO:0004355	0.000076	9.480902	0.693147	glutamate synthase (NADPH) activity
GO:0005362	0.000076	9.480902	0.693147	low-affinity glucose:sodium symporter activity
GO:0016703	0.000076	9.480902	0.693147	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of one atom of oxygen (internal monooxygenases or internal mixed function oxidases)
GO:0019809	0.000076	9.480902	0.693147	spermidine binding
GO:0030294	0.000076	9.480902	0.693147	receptor signaling protein tyrosine kinase inhibitor activity
GO:0030342	0.000076	9.480902	0.693147	1-alpha,25-dihydroxyvitamin D3 24-hydroxylase activity
GO:0031836	0.000076	9.480902	0.693147	neuromedin K receptor binding
GO:0033842	0.000076	9.480902	0.693147	N-acetyl-beta-glucosaminyl-glycoprotein 4-beta-N-acetylgalactosaminyltransferase activity
GO:0034597	0.000076	9.480902	0.693147	phosphatidylinositol-4,5-bisphosphate 4-phosphatase activity
GO:0042163	0.000076	9.480902	0.693147	interleukin-12 beta subunit binding
GO:0045029	0.000076	9.480902	0.693147	G protein-coupled UDP receptor activity
GO:0051507	0.000076	9.480902	0.693147	beta-sitosterol UDP-glucosyltransferase activity
GO:0051722	0.000076	9.480902	0.693147	protein C-terminal methylesterase activity
GO:0052928	0.000076	9.480902	0.693147	CTP:3'-cytidine-tRNA cytidylyltransferase activity
GO:1902122	0.000076	9.480902	0.693147	chenodeoxycholic acid binding
GO:0002061	0.000076	9.480902	0.847298	pyrimidine nucleobase binding
GO:0004080	0.000076	9.480902	0.847298	biotin-[propionyl-CoA-carboxylase (ATP-hydrolyzing)] ligase activity
GO:0032181	0.000076	9.480902	0.847298	dinucleotide repeat insertion binding
GO:0032841	0.000076	9.480902	0.847298	calcitonin binding
GO:0036456	0.000076	9.480902	0.847298	L-methionine-(S)-S-oxide reductase activity
GO:0051800	0.000076	9.480902	0.847298	phosphatidylinositol-3,4-bisphosphate 3-phosphatase activity
GO:0061849	0.000076	9.480902	0.847298	telomeric G-quadruplex DNA binding
GO:0086056	0.000076	9.480902	0.847298	voltage-gated calcium channel activity involved in AV node cell action potential
GO:0086059	0.000076	9.480902	0.847298	voltage-gated calcium channel activity involved SA node cell action potential
GO:0097372	0.000076	9.480902	0.847298	NAD-dependent histone deacetylase activity (H3-K18 specific)
GO:1990409	0.000076	9.480902	0.847298	adrenomedullin binding
GO:0003914	0.000076	9.480902	0.980829	DNA (6-4) photolyase activity
GO:0004500	0.000076	9.480902	0.980829	dopamine beta-monooxygenase activity
GO:0005019	0.000076	9.480902	0.980829	platelet-derived growth factor beta-receptor activity
GO:0008523	0.000076	9.480902	0.980829	sodium-dependent multivitamin transmembrane transporter activity
GO:0008750	0.000076	9.480902	0.980829	NAD(P)+ transhydrogenase (AB-specific) activity
GO:0017099	0.000076	9.480902	0.980829	very-long-chain-acyl-CoA dehydrogenase activity
GO:0031851	0.000076	9.480902	0.980829	kappa-type opioid receptor binding
GO:0032143	0.000076	9.480902	0.980829	single thymine insertion binding
GO:0032396	0.000076	9.480902	0.980829	inhibitory MHC class I receptor activity
GO:0032397	0.000076	9.480902	0.980829	activating MHC class I receptor activity
GO:0036468	0.000076	9.480902	0.980829	L-dopa decarboxylase activity
GO:0036469	0.000076	9.480902	0.980829	L-tryptophan decarboxylase activity
GO:0046525	0.000076	9.480902	0.980829	xylosylprotein 4-beta-galactosyltransferase activity
GO:0051267	0.000076	9.480902	0.980829	CP2 mannose-ethanolamine phosphotransferase activity
GO:0004876	0.000076	9.480902	1.098612	complement component C3a receptor activity
GO:0005169	0.000076	9.480902	1.098612	neurotrophin TRKB receptor binding
GO:0005300	0.000076	9.480902	1.098612	high-affinity tryptophan transmembrane transporter activity
GO:0023030	0.000076	9.480902	1.098612	MHC class Ib protein binding, via antigen binding groove
GO:0052578	0.000076	9.480902	1.098612	alpha-farnesene synthase activity
GO:0052634	0.000076	9.480902	1.098612	C-19 gibberellin 2-beta-dioxygenase activity
GO:0052635	0.000076	9.480902	1.098612	C-20 gibberellin 2-beta-dioxygenase activity
GO:0052905	0.000076	9.480902	1.098612	tRNA (guanine(9)-N(1))-methyltransferase activity
GO:0061759	0.000076	9.480902	1.098612	alpha-ketoglutarate reductase activity
GO:0070260	0.000076	9.480902	1.098612	5'-tyrosyl-DNA phosphodiesterase activity
GO:0070738	0.000076	9.480902	1.098612	tubulin-glycine ligase activity
GO:0086062	0.000076	9.480902	1.098612	voltage-gated sodium channel activity involved in Purkinje myocyte action potential
GO:0086063	0.000076	9.480902	1.098612	voltage-gated sodium channel activity involved in SA node cell action potential
GO:1902387	0.000076	9.480902	1.098612	ceramide 1-phosphate binding
GO:0001068	0.000076	9.480902	1.203973	transcription regulatory region RNA binding
GO:0008693	0.000076	9.480902	1.203973	3-hydroxydecanoyl-[acyl-carrier-protein] dehydratase activity
GO:0008989	0.000076	9.480902	1.203973	rRNA (guanine-N1-)-methyltransferase activity
GO:0010465	0.000076	9.480902	1.203973	nerve growth factor receptor activity
GO:0018423	0.000076	9.480902	1.203973	protein C-terminal leucine carboxyl O-methyltransferase activity
GO:0030696	0.000076	9.480902	1.203973	tRNA (m5U54) methyltransferase activity
GO:0030883	0.000076	9.480902	1.203973	endogenous lipid antigen binding
GO:0030884	0.000076	9.480902	1.203973	exogenous lipid antigen binding
GO:0034736	0.000076	9.480902	1.203973	cholesterol O-acyltransferase activity
GO:0034737	0.000076	9.480902	1.203973	ergosterol O-acyltransferase activity
GO:0042497	0.000076	9.480902	1.203973	triacyl lipopeptide binding
GO:0042498	0.000076	9.480902	1.203973	diacyl lipopeptide binding
GO:0047451	0.000076	9.480902	1.203973	3-hydroxyoctanoyl-[acyl-carrier-protein] dehydratase activity
GO:0047821	0.000076	9.480902	1.203973	D-glutamate oxidase activity
GO:0052925	0.000076	9.480902	1.203973	dol-P-Man:Man(5)GlcNAc(2)-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0070043	0.000076	9.480902	1.203973	rRNA (guanine-N7-)-methyltransferase activity
GO:0140341	0.000076	9.480902	1.203973	phosphatidylethanolamine floppase activity
GO:0004906	0.000076	9.480902	1.299283	interferon-gamma receptor activity
GO:0016496	0.000076	9.480902	1.299283	substance P receptor activity
GO:0031780	0.000076	9.480902	1.299283	corticotropin hormone receptor binding
GO:0031783	0.000076	9.480902	1.299283	type 5 melanocortin receptor binding
GO:0034042	0.000076	9.480902	1.299283	5-formyluracil DNA N-glycosylase activity
GO:0034043	0.000076	9.480902	1.299283	5-hydroxymethyluracil DNA N-glycosylase activity
GO:0051735	0.000076	9.480902	1.299283	GTP-dependent polynucleotide kinase activity
GO:0080007	0.000076	9.480902	1.299283	S-nitrosoglutathione reductase activity
GO:0000831	0.000076	9.480902	1.386294	inositol hexakisphosphate 6-kinase activity
GO:0000832	0.000076	9.480902	1.386294	inositol hexakisphosphate 5-kinase activity
GO:0008666	0.000076	9.480902	1.386294	2,3,4,5-tetrahydropyridine-2,6-dicarboxylate N-succinyltransferase activity
GO:0008803	0.000076	9.480902	1.386294	bis(5'-nucleosyl)-tetraphosphatase (symmetrical) activity
GO:0010331	0.000076	9.480902	1.386294	gibberellin binding
GO:0016966	0.000076	9.480902	1.386294	nitric oxide reductase activity
GO:0030487	0.000076	9.480902	1.386294	inositol-4,5-bisphosphate 5-phosphatase activity
GO:0031703	0.000076	9.480902	1.386294	type 2 angiotensin receptor binding
GO:0035403	0.000076	9.480902	1.386294	histone kinase activity (H3-T6 specific)
GO:0044604	0.000076	9.480902	1.386294	ATPase-coupled phytochelatin transmembrane transporter activity
GO:0050626	0.000076	9.480902	1.386294	trimethylamine-N-oxide reductase (cytochrome c) activity
GO:0050797	0.000076	9.480902	1.386294	thymidylate synthase (FAD) activity
GO:1902417	0.000076	9.480902	1.386294	(+)-abscisic acid D-glucopyranosyl ester transmembrane transporter activity
GO:0004522	0.000076	9.480902	1.466337	ribonuclease A activity
GO:0005053	0.000076	9.480902	1.466337	peroxisome matrix targeting signal-2 binding
GO:0008119	0.000076	9.480902	1.466337	thiopurine S-methyltransferase activity
GO:0008513	0.000076	9.480902	1.466337	secondary active organic cation transmembrane transporter activity
GO:0016362	0.000076	9.480902	1.466337	activin receptor activity, type II
GO:0032406	0.000076	9.480902	1.466337	MutLbeta complex binding
GO:0032408	0.000076	9.480902	1.466337	MutSbeta complex binding
GO:0047326	0.000076	9.480902	1.466337	inositol tetrakisphosphate 5-kinase activity
GO:0051266	0.000076	9.480902	1.466337	sirohydrochlorin ferrochelatase activity
GO:1990081	0.000076	9.480902	1.466337	trimethylamine receptor activity
GO:0008404	0.000076	9.480902	1.540445	arachidonic acid 14,15-epoxygenase activity
GO:0008405	0.000076	9.480902	1.540445	arachidonic acid 11,12-epoxygenase activity
GO:0008720	0.000076	9.480902	1.540445	D-lactate dehydrogenase activity
GO:0016402	0.000076	9.480902	1.540445	pristanoyl-CoA oxidase activity
GO:0023025	0.000076	9.480902	1.540445	MHC class Ib protein complex binding
GO:0031724	0.000076	9.480902	1.540445	CXCR5 chemokine receptor binding
GO:0045031	0.000076	9.480902	1.540445	G protein-coupled ATP receptor activity
GO:0052654	0.000076	9.480902	1.540445	L-leucine transaminase activity
GO:0052655	0.000076	9.480902	1.540445	L-valine transaminase activity
GO:0052656	0.000076	9.480902	1.540445	L-isoleucine transaminase activity
GO:0010013	0.000076	9.480902	1.609438	N-1-naphthylphthalamic acid binding
GO:0016443	0.000076	9.480902	1.609438	bidentate ribonuclease III activity
GO:0031798	0.000076	9.480902	1.609438	type 1 metabotropic glutamate receptor binding
GO:0035717	0.000076	9.480902	1.609438	chemokine (C-C motif) ligand 7 binding
GO:0071791	0.000076	9.480902	1.609438	chemokine (C-C motif) ligand 5 binding
GO:0086082	0.000076	9.480902	1.609438	cell adhesive protein binding involved in AV node cell-bundle of His cell communication
GO:0004071	0.000076	9.480902	1.673976	aspartate-ammonia ligase activity
GO:0005151	0.000076	9.480902	1.673976	interleukin-1, type II receptor binding
GO:0008447	0.000076	9.480902	1.673976	L-ascorbate oxidase activity
GO:0034202	0.000076	9.480902	1.673976	glycolipid floppase activity
GO:0038102	0.000076	9.480902	1.673976	activin receptor antagonist activity
GO:0042299	0.000076	9.480902	1.673976	lupeol synthase activity
GO:0044682	0.000076	9.480902	1.673976	archaeal-specific GTP cyclohydrolase activity
GO:0051719	0.000076	9.480902	1.673976	DNA (cytosine-5-)-methyltransferase activity, acting on CpN substrates
GO:0061750	0.000076	9.480902	1.673976	acid sphingomyelin phosphodiesterase activity
GO:0061751	0.000076	9.480902	1.673976	neutral sphingomyelin phosphodiesterase activity
GO:0090566	0.000076	9.480902	1.673976	protein-phosphocysteine-N,N'-diacetylchitobiose phosphotransferase system transporter activity
GO:0090584	0.000076	9.480902	1.673976	protein-phosphocysteine-galactitol-phosphotransferase system transporter activity
GO:0005026	0.000076	9.480902	1.734601	transforming growth factor beta receptor activity, type II
GO:0008160	0.000076	9.480902	1.734601	protein tyrosine phosphatase activator activity
GO:0008837	0.000076	9.480902	1.734601	diaminopimelate epimerase activity
GO:0008881	0.000076	9.480902	1.734601	glutamate racemase activity
GO:0070123	0.000076	9.480902	1.734601	transforming growth factor beta receptor activity, type III
GO:0070280	0.000076	9.480902	1.734601	pyridoxal binding
GO:0140037	0.000076	9.480902	1.734601	sumo-dependent protein binding
GO:0140082	0.000076	9.480902	1.734601	SUMO-ubiquitin ligase activity
GO:0030629	0.000076	9.480902	1.791759	U6 snRNA 3'-end binding
GO:0070224	0.000076	9.480902	1.791759	sulfide:quinone oxidoreductase activity
GO:0071886	0.000076	9.480902	1.791759	1-(4-iodo-2,5-dimethoxyphenyl)propan-2-amine binding
GO:0001855	0.000076	9.480902	1.845827	complement component C4b binding
GO:0002951	0.000076	9.480902	1.845827	leukotriene-C(4) hydrolase
GO:0008495	0.000076	9.480902	1.845827	protoheme IX farnesyltransferase activity
GO:0008861	0.000076	9.480902	1.845827	formate C-acetyltransferase activity
GO:0051996	0.000076	9.480902	1.845827	squalene synthase activity
GO:0070611	0.000076	9.480902	1.845827	histone methyltransferase activity (H3-R2 specific)
GO:0005456	0.000076	9.480902	1.897120	CMP-N-acetylneuraminate transmembrane transporter activity
GO:0016150	0.000076	9.480902	1.897120	translation release factor activity, codon nonspecific
GO:0016230	0.000076	9.480902	1.897120	sphingomyelin phosphodiesterase activator activity
GO:0017065	0.000076	9.480902	1.897120	single-strand selective uracil DNA N-glycosylase activity
GO:0042924	0.000076	9.480902	1.897120	neuromedin U binding
GO:0005090	0.000076	9.480902	1.945910	Sar guanyl-nucleotide exchange factor activity
GO:0000100	0.000076	9.480902	1.992430	S-methylmethionine transmembrane transporter activity
GO:0003863	0.000076	9.480902	1.992430	3-methyl-2-oxobutanoate dehydrogenase (2-methylpropanoyl-transferring) activity
GO:0015361	0.000076	9.480902	1.992430	low-affinity sodium:dicarboxylate symporter activity
GO:0048763	0.000076	9.480902	1.992430	calcium-induced calcium release activity
GO:0051871	0.000076	9.480902	1.992430	dihydrofolic acid binding
GO:0120147	0.000076	9.480902	1.992430	Formylglycine-generating oxidase activity
GO:0003830	0.000076	9.480902	2.036882	beta-1,4-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0008454	0.000076	9.480902	2.036882	alpha-1,3-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0009673	0.000076	9.480902	2.036882	low-affinity phosphate transmembrane transporter activity
GO:0008115	0.000076	9.480902	2.079442	sarcosine oxidase activity
GO:0010341	0.000076	9.480902	2.079442	gibberellin carboxyl-O-methyltransferase activity
GO:0010475	0.000076	9.480902	2.079442	galactose-1-phosphate guanylyltransferase (GDP) activity
GO:0010854	0.000076	9.480902	2.079442	adenylate cyclase regulator activity
GO:0031691	0.000076	9.480902	2.079442	alpha-1A adrenergic receptor binding
GO:0031692	0.000076	9.480902	2.079442	alpha-1B adrenergic receptor binding
GO:0031696	0.000076	9.480902	2.079442	alpha-2C adrenergic receptor binding
GO:0031699	0.000076	9.480902	2.079442	beta-3 adrenergic receptor binding
GO:0047341	0.000076	9.480902	2.079442	fucose-1-phosphate guanylyltransferase activity
GO:0050031	0.000076	9.480902	2.079442	L-pipecolate oxidase activity
GO:0003885	0.000076	9.480902	2.120264	D-arabinono-1,4-lactone oxidase activity
GO:0033961	0.000076	9.480902	2.120264	cis-stilbene-oxide hydrolase activity
GO:0046577	0.000076	9.480902	2.120264	long-chain-alcohol oxidase activity
GO:0047408	0.000076	9.480902	2.120264	alkenylglycerophosphocholine hydrolase activity
GO:0047409	0.000076	9.480902	2.120264	alkenylglycerophosphoethanolamine hydrolase activity
GO:0070506	0.000076	9.480902	2.120264	high-density lipoprotein particle receptor activity
GO:0004361	0.000076	9.480902	2.159484	glutaryl-CoA dehydrogenase activity
GO:0005316	0.000076	9.480902	2.159484	high-affinity inorganic phosphate:sodium symporter activity
GO:0008795	0.000076	9.480902	2.159484	NAD+ synthase activity
GO:0008885	0.000076	9.480902	2.159484	glutathionylspermidine synthase activity
GO:0017178	0.000076	9.480902	2.159484	diphthine-ammonia ligase activity
GO:0019811	0.000076	9.480902	2.159484	cocaine binding
GO:0047144	0.000076	9.480902	2.159484	2-acylglycerol-3-phosphate O-acyltransferase activity
GO:0050385	0.000076	9.480902	2.159484	ureidoglycolate lyase activity
GO:0070626	0.000076	9.480902	2.159484	(S)-2-(5-amino-1-(5-phospho-D-ribosyl)imidazole-4-carboxamido)succinate AMP-lyase (fumarate-forming) activity
GO:0043992	0.000076	9.480902	2.197225	histone acetyltransferase activity (H3-K9 specific)
GO:0062152	0.000076	9.480902	2.197225	mRNA (cytidine-5-)-methyltransferase activity
GO:0001850	0.000076	9.480902	2.233592	complement component C3a binding
GO:0031751	0.000076	9.480902	2.233592	D4 dopamine receptor binding
GO:0050483	0.000076	9.480902	2.233592	IMP 5'-nucleotidase activity
GO:0070540	0.000076	9.480902	2.233592	stearic acid binding
GO:0001785	0.000076	9.480902	2.302585	prostaglandin J receptor activity
GO:0016501	0.000076	9.480902	2.302585	prostacyclin receptor activity
GO:0032136	0.000076	9.480902	2.302585	adenine/cytosine mispair binding
GO:0005461	0.000076	9.480902	2.335375	UDP-glucuronic acid transmembrane transporter activity
GO:0030412	0.000076	9.480902	2.335375	formimidoyltetrahydrofolate cyclodeaminase activity
GO:0030975	0.000076	9.480902	2.335375	thiamine binding
GO:1990272	0.000076	9.480902	2.335375	anti-Mullerian hormone receptor activity
GO:0003943	0.000076	9.480902	2.367124	N-acetylgalactosamine-4-sulfatase activity
GO:0003952	0.000076	9.480902	2.367124	NAD+ synthase (glutamine-hydrolyzing) activity
GO:0004423	0.000076	9.480902	2.367124	iduronate-2-sulfatase activity
GO:0018741	0.000076	9.480902	2.367124	alkyl sulfatase activity
GO:0030586	0.000076	9.480902	2.367124	[methionine synthase] reductase activity
GO:0000402	0.000076	9.480902	2.397895	crossed form four-way junction DNA binding
GO:0005228	0.000076	9.480902	2.397895	intracellular sodium activated potassium channel activity
GO:0009899	0.000076	9.480902	2.397895	ent-kaurene synthase activity
GO:0070089	0.000076	9.480902	2.397895	chloride-activated potassium channel activity
GO:0080133	0.000076	9.480902	2.397895	midchain alkane hydroxylase activity
GO:0099181	0.000076	9.480902	2.397895	structural constituent of presynapse
GO:0015574	0.000076	9.480902	2.427748	trehalose transmembrane transporter activity
GO:0016727	0.000076	9.480902	2.427748	oxidoreductase activity, acting on CH or CH2 groups, oxygen as acceptor
GO:0017168	0.000076	9.480902	2.427748	5-oxoprolinase (ATP-hydrolyzing) activity
GO:0033791	0.000076	9.480902	2.427748	3alpha,7alpha,12alpha-trihydroxy-5beta-cholestanoyl-CoA 24-hydroxylase activity
GO:0034431	0.000076	9.480902	2.427748	bis(5'-adenosyl)-hexaphosphatase activity
GO:0047884	0.000076	9.480902	2.427748	FAD diphosphatase activity
GO:0097020	0.000076	9.480902	2.427748	COPII adaptor activity
GO:0034057	0.000076	9.480902	2.484907	RNA strand-exchange activity
GO:0044716	0.000076	9.480902	2.484907	8-oxo-GDP phosphatase activity
GO:0086039	0.000076	9.480902	2.484907	calcium-transporting ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0140343	0.000076	9.480902	2.484907	phosphatidylserine transfer activity
GO:0030407	0.000076	9.480902	2.512306	formimidoyltransferase activity
GO:0031729	0.000076	9.480902	2.512306	CCR4 chemokine receptor binding
GO:0031732	0.000076	9.480902	2.512306	CCR7 chemokine receptor binding
GO:0000048	0.000076	9.480902	2.538974	peptidyltransferase activity
GO:0044610	0.000076	9.480902	2.538974	FMN transmembrane transporter activity
GO:0008828	0.000076	9.480902	2.564949	dATP pyrophosphohydrolase activity
GO:0036219	0.000076	9.480902	2.564949	GTP diphosphatase activity
GO:0036221	0.000076	9.480902	2.564949	UTP diphosphatase activity
GO:0008747	0.000076	9.480902	2.590267	N-acetylneuraminate lyase activity
GO:0008813	0.000076	9.480902	2.590267	chorismate lyase activity
GO:0047777	0.000076	9.480902	2.590267	(S)-citramalyl-CoA lyase activity
GO:0043997	0.000076	9.480902	2.614960	histone acetyltransferase activity (H4-K12 specific)
GO:0044654	0.000076	9.480902	2.614960	starch alpha-glucosidase activity
GO:0009883	0.000076	9.480902	2.639057	red or far-red light photoreceptor activity
GO:0015334	0.000076	9.480902	2.639057	high-affinity oligopeptide transmembrane transporter activity
GO:0043210	0.000076	9.480902	2.639057	alkanesulfonate binding
GO:0008690	0.000076	9.480902	2.662588	3-deoxy-manno-octulosonate cytidylyltransferase activity
GO:0004037	0.000076	9.480902	2.685577	allantoicase activity
GO:0004848	0.000076	9.480902	2.685577	ureidoglycolate hydrolase activity
GO:0010177	0.000076	9.480902	2.685577	2-(2'-methylthio)ethylmalate synthase activity
GO:0050440	0.000076	9.480902	2.685577	2-methylcitrate synthase activity
GO:0008911	0.000076	9.480902	2.708050	lactaldehyde dehydrogenase activity
GO:0018467	0.000076	9.480902	2.708050	formaldehyde dehydrogenase activity
GO:0008706	0.000076	9.480902	2.730029	6-phospho-beta-glucosidase activity
GO:0008801	0.000076	9.480902	2.730029	beta-phosphoglucomutase activity
GO:0046557	0.000076	9.480902	2.730029	glucan endo-1,6-beta-glucosidase activity
GO:0047668	0.000076	9.480902	2.730029	amygdalin beta-glucosidase activity
GO:0047782	0.000076	9.480902	2.730029	coniferin beta-glucosidase activity
GO:0052815	0.000076	9.480902	2.730029	medium-chain acyl-CoA hydrolase activity
GO:0052816	0.000076	9.480902	2.730029	long-chain acyl-CoA hydrolase activity
GO:0052597	0.000076	9.480902	2.751535	diamine oxidase activity
GO:0003945	0.000076	9.480902	2.772589	N-acetyllactosamine synthase activity
GO:0004381	0.000076	9.480902	2.772589	fucosylgalactoside 3-alpha-galactosyltransferase activity
GO:0008118	0.000076	9.480902	2.772589	N-acetyllactosaminide alpha-2,3-sialyltransferase activity
GO:0019778	0.000076	9.480902	2.772589	Atg12 activating enzyme activity
GO:0019780	0.000076	9.480902	2.772589	FAT10 activating enzyme activity
GO:0019782	0.000076	9.480902	2.772589	ISG15 activating enzyme activity
GO:0042292	0.000076	9.480902	2.772589	URM1 activating enzyme activity
GO:0052630	0.000076	9.480902	2.772589	UDP-N-acetylgalactosamine diphosphorylase activity
GO:0097682	0.000076	9.480902	2.772589	intracellular phosphatidylinositol-3,5-bisphosphate-sensitive cation channel activity
GO:0008877	0.000076	9.480902	2.813411	glucose-1-phosphatase activity
GO:0016992	0.000076	9.480902	2.813411	lipoate synthase activity
GO:1905201	0.000076	9.480902	2.813411	gibberellin transmembrane transporter activity
GO:0047192	0.000076	9.480902	2.833213	1-alkylglycerophosphocholine O-acetyltransferase activity
GO:0003974	0.000076	9.480902	2.852631	UDP-N-acetylglucosamine 4-epimerase activity
GO:0004509	0.000076	9.480902	2.852631	steroid 21-monooxygenase activity
GO:0008397	0.000076	9.480902	2.852631	sterol 12-alpha-hydroxylase activity
GO:0008830	0.000076	9.480902	2.852631	dTDP-4-dehydrorhamnose 3,5-epimerase activity
GO:0010489	0.000076	9.480902	2.852631	UDP-4-keto-6-deoxy-glucose-3,5-epimerase activity
GO:0047757	0.000076	9.480902	2.852631	chondroitin-glucuronate 5-epimerase activity
GO:0047918	0.000076	9.480902	2.852631	GDP-mannose 3,5-epimerase activity
GO:0050121	0.000076	9.480902	2.852631	N-acylglucosamine 2-epimerase activity
GO:0140132	0.000076	9.480902	2.852631	iron-sulfur cluster carrier activity
GO:0010297	0.000076	9.480902	2.871680	heteropolysaccharide binding
GO:2001065	0.000076	9.480902	2.871680	mannan binding
GO:0004139	0.000076	9.480902	2.890372	deoxyribose-phosphate aldolase activity
GO:0008738	0.000076	9.480902	2.890372	L-fuculose-phosphate aldolase activity
GO:0009025	0.000076	9.480902	2.890372	tagatose-bisphosphate aldolase activity
GO:0033040	0.000076	9.480902	2.890372	sour taste receptor activity
GO:0033984	0.000076	9.480902	2.890372	indole-3-glycerol-phosphate lyase activity
GO:0047442	0.000076	9.480902	2.890372	17-alpha-hydroxyprogesterone aldolase activity
GO:0061609	0.000076	9.480902	2.890372	fructose-1-phosphate aldolase activity
GO:0097023	0.000076	9.480902	2.890372	fructose 6-phosphate aldolase activity
GO:0101011	0.000076	9.480902	2.890372	inositol 1-diphosphate 2,3,4,5,6-pentakisphosphate 1-diphosphatase activity
GO:0005175	0.000076	9.480902	2.926739	CD27 receptor binding
GO:0008965	0.000076	9.480902	2.926739	phosphoenolpyruvate-protein phosphotransferase activity
GO:0004119	0.000076	9.480902	2.944439	cGMP-inhibited cyclic-nucleotide phosphodiesterase activity
GO:0050236	0.000076	9.480902	2.944439	pyridoxine:NADP 4-dehydrogenase activity
GO:0008709	0.000076	9.480902	2.961831	cholate 7-alpha-dehydrogenase activity
GO:0035410	0.000076	9.480902	2.961831	dihydrotestosterone 17-beta-dehydrogenase activity
GO:0044594	0.000076	9.480902	2.961831	17-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0072555	0.000076	9.480902	2.961831	17-beta-ketosteroid reductase activity
GO:0072582	0.000076	9.480902	2.961831	17-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0080013	0.000076	9.480902	2.961831	(E,E)-geranyllinalool synthase activity
GO:0102145	0.000076	9.480902	2.961831	(3R)-(E)-nerolidol synthase activity
GO:0102881	0.000076	9.480902	2.961831	(+)-beta-barbatene synthase activity
GO:0004783	0.000076	9.480902	2.978925	sulfite reductase (NADPH) activity
GO:0008785	0.000076	9.480902	2.978925	alkyl hydroperoxide reductase activity
GO:0045131	0.000076	9.480902	2.978925	pre-mRNA branch point binding
GO:0047237	0.000076	9.480902	2.978925	glucuronylgalactosylproteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0071207	0.000076	9.480902	2.978925	histone pre-mRNA stem-loop binding
GO:0090432	0.000076	9.480902	2.978925	myristoyl-CoA ligase activity
GO:0090433	0.000076	9.480902	2.978925	palmitoyl-CoA ligase activity
GO:0019146	0.000076	9.480902	2.995732	arabinose-5-phosphate isomerase activity
GO:0046523	0.000076	9.480902	2.995732	S-methyl-5-thioribose-1-phosphate isomerase activity
GO:0052712	0.000076	9.480902	2.995732	inositol phosphosphingolipid phospholipase activity
GO:0032448	0.000076	9.480902	3.012262	DNA hairpin binding
GO:0008753	0.000076	9.480902	3.044522	NADPH dehydrogenase (quinone) activity
GO:0016656	0.000076	9.480902	3.044522	monodehydroascorbate reductase (NADH) activity
GO:1901149	0.000076	9.480902	3.044522	salicylic acid binding
GO:0016155	0.000076	9.480902	3.060271	formyltetrahydrofolate dehydrogenase activity
GO:0070191	0.000076	9.480902	3.060271	methionine-R-sulfoxide reductase activity
GO:0070406	0.000076	9.480902	3.060271	glutamine binding
GO:0046987	0.000076	9.480902	3.091042	N-acetyllactosamine beta-1,3-glucuronosyltransferase activity
GO:0046988	0.000076	9.480902	3.091042	asioloorosomucoid beta-1,3-glucuronosyltransferase activity
GO:0046989	0.000076	9.480902	3.091042	galactosyl beta-1,3 N-acetylgalactosamine beta-1,3-glucuronosyltransferase activity
GO:0050510	0.000076	9.480902	3.091042	N-acetylgalactosaminyl-proteoglycan 3-beta-glucuronosyltransferase activity
GO:0019010	0.000076	9.480902	3.106080	farnesoic acid O-methyltransferase activity
GO:0044540	0.000076	9.480902	3.120895	L-cystine L-cysteine-lyase (deaminating)
GO:0050017	0.000076	9.480902	3.120895	L-3-cyanoalanine synthase activity
GO:0010209	0.000076	9.480902	3.149883	vacuolar sorting signal binding
GO:0030942	0.000076	9.480902	3.149883	endoplasmic reticulum signal peptide binding
GO:0010859	0.000076	9.480902	3.164068	calcium-dependent cysteine-type endopeptidase inhibitor activity
GO:0033746	0.000076	9.480902	3.164068	histone demethylase activity (H3-R2 specific)
GO:0035575	0.000076	9.480902	3.164068	histone demethylase activity (H4-K20 specific)
GO:0045129	0.000076	9.480902	3.191847	NAD-independent histone deacetylase activity
GO:0044748	0.000076	9.480902	3.205453	3'-5'-exoribonuclease activity involved in mature miRNA 3'-end processing
GO:0008859	0.000076	9.480902	3.232121	exoribonuclease II activity
GO:0004159	0.000076	9.480902	3.245193	dihydrouracil dehydrogenase (NAD+) activity
GO:0010283	0.000076	9.480902	3.245193	pinoresinol reductase activity
GO:0015150	0.000076	9.480902	3.245193	fucose transmembrane transporter activity
GO:0016156	0.000076	9.480902	3.245193	fumarate reductase (NADH) activity
GO:0047115	0.000076	9.480902	3.245193	trans-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0050614	0.000076	9.480902	3.245193	delta24-sterol reductase activity
GO:0004132	0.000076	9.480902	3.258097	dCMP deaminase activity
GO:0004411	0.000076	9.480902	3.258097	homogentisate 1,2-dioxygenase activity
GO:0017172	0.000076	9.480902	3.258097	cysteine dioxygenase activity
GO:0034811	0.000076	9.480902	3.258097	benzo(a)pyrene 9,10-dioxygenase activity
GO:0034813	0.000076	9.480902	3.258097	benzo(a)pyrene 7,8-dioxygenase activity
GO:0050313	0.000076	9.480902	3.258097	sulfur dioxygenase activity
GO:0071795	0.000076	9.480902	3.270836	K11-linked polyubiquitin modification-dependent protein binding
GO:0071796	0.000076	9.480902	3.270836	K6-linked polyubiquitin modification-dependent protein binding
GO:0000994	0.000076	9.480902	3.283414	RNA polymerase III core binding
GO:0016856	0.000076	9.480902	3.283414	racemase and epimerase activity, acting on hydroxy acids and derivatives
GO:0031739	0.000076	9.480902	3.295837	cholecystokinin receptor binding
GO:0031763	0.000076	9.480902	3.295837	galanin receptor binding
GO:0031770	0.000076	9.480902	3.295837	growth hormone-releasing hormone receptor binding
GO:0042922	0.000076	9.480902	3.295837	neuromedin U receptor binding
GO:0005139	0.000076	9.480902	3.320228	interleukin-7 receptor binding
GO:0070287	0.000076	9.480902	3.320228	ferritin receptor activity
GO:0031955	0.000076	9.480902	3.332205	short-chain fatty acid-CoA ligase activity
GO:0008963	0.000076	9.480902	3.367296	phospho-N-acetylmuramoyl-pentapeptide-transferase activity
GO:0031278	0.000076	9.480902	3.367296	alpha-1,2-galactosyltransferase activity
GO:0106245	0.000076	9.480902	3.367296	L-serine-phosphatidylethanolamine phosphatidyltransferase activity
GO:0042970	0.000076	9.480902	3.378725	homoserine transmembrane transporter activity
GO:0001888	0.000076	9.480902	3.390024	glucuronyl-galactosyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0004577	0.000076	9.480902	3.390024	N-acetylglucosaminyldiphosphodolichol N-acetylglucosaminyltransferase activity
GO:0032131	0.000076	9.480902	3.390024	alkylated DNA binding
GO:0042328	0.000076	9.480902	3.390024	heparan sulfate N-acetylglucosaminyltransferase activity
GO:0050508	0.000076	9.480902	3.390024	glucuronosyl-N-acetylglucosaminyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0004744	0.000076	9.480902	3.412247	retinal isomerase activity
GO:0016034	0.000076	9.480902	3.412247	maleylacetoacetate isomerase activity
GO:0047805	0.000076	9.480902	3.423176	cytidylate cyclase activity
GO:0001607	0.000076	9.480902	3.465736	neuromedin U receptor activity
GO:0000225	0.000076	9.480902	3.476099	N-acetylglucosaminylphosphatidylinositol deacetylase activity
GO:0008685	0.000076	9.480902	3.486355	2-C-methyl-D-erythritol 2,4-cyclodiphosphate synthase activity
GO:0090624	0.000076	9.480902	3.486355	endoribonuclease activity, cleaving miRNA-paired mRNA
GO:0003912	0.000076	9.480902	3.496508	DNA nucleotidylexotransferase activity
GO:0008763	0.000076	9.480902	3.496508	UDP-N-acetylmuramate-L-alanine ligase activity
GO:0008765	0.000076	9.480902	3.496508	UDP-N-acetylmuramoylalanyl-D-glutamate-2,6-diaminopimelate ligase activity
GO:0047730	0.000076	9.480902	3.496508	carnosine synthase activity
GO:0051118	0.000076	9.480902	3.506558	glucan endo-1,3-alpha-glucosidase activity
GO:1901239	0.000076	9.480902	3.536117	malonate(1-) transmembrane transporter activity
GO:0008714	0.000076	9.480902	3.574217	AMP nucleosidase activity
GO:0070635	0.000076	9.480902	3.574217	nicotinamide riboside hydrolase activity
GO:0070694	0.000076	9.480902	3.574217	deoxyribonucleoside 5'-monophosphate N-glycosidase activity
GO:0140292	0.000076	9.480902	3.574217	ADP-ribosylserine hydrolase activity
GO:0003877	0.000076	9.480902	3.583519	ATP adenylyltransferase activity
GO:0008882	0.000076	9.480902	3.583519	[glutamate-ammonia-ligase] adenylyltransferase activity
GO:0061598	0.000076	9.480902	3.583519	molybdopterin adenylyltransferase activity
GO:2001147	0.000076	9.480902	3.583519	camalexin binding
GO:0004760	0.000076	9.480902	3.601868	serine-pyruvate transaminase activity
GO:0010285	0.000076	9.480902	3.601868	L,L-diaminopimelate aminotransferase activity
GO:0047958	0.000076	9.480902	3.601868	glycine:2-oxoglutarate aminotransferase activity
GO:0050048	0.000076	9.480902	3.601868	L-leucine:2-oxoglutarate aminotransferase activity
GO:0045431	0.000076	9.480902	3.628776	flavonol synthase activity
GO:0062072	0.000076	9.480902	3.628776	H3K9me3 modified histone binding
GO:0035755	0.000076	9.480902	3.637586	cardiolipin hydrolase activity
GO:0008756	0.000076	9.480902	3.663562	o-succinylbenzoate-CoA ligase activity
GO:0008972	0.000076	9.480902	3.663562	phosphomethylpyrimidine kinase activity
GO:0030729	0.000076	9.480902	3.663562	acetoacetate-CoA ligase activity
GO:0050197	0.000076	9.480902	3.663562	phytanate-CoA ligase activity
GO:0050203	0.000076	9.480902	3.663562	oxalate-CoA ligase activity
GO:0090409	0.000076	9.480902	3.663562	malonyl-CoA synthetase activity
GO:1990080	0.000076	9.480902	3.697178	2-phenylethylamine receptor activity
GO:0033781	0.000076	9.480902	3.721669	cholesterol 24-hydroxylase activity
GO:0036200	0.000076	9.480902	3.721669	3-ketosteroid 9-alpha-monooxygenase activity
GO:0036202	0.000076	9.480902	3.721669	ent-cassa-12,15-diene 11-hydroxylase activity
GO:0048529	0.000076	9.480902	3.721669	magnesium-protoporphyrin IX monomethyl ester (oxidative) cyclase activity
GO:0072533	0.000076	9.480902	3.721669	tri-(coumaroyl or caffeoyl) spermidine meta-hydroxylase activity
GO:0052739	0.000076	9.480902	3.737670	phosphatidylserine 1-acylhydrolase activity
GO:0019182	0.000076	9.480902	3.745575	histamine-gated chloride channel activity
GO:1990450	0.000076	9.480902	3.745575	linear polyubiquitin binding
GO:0016232	0.000076	9.480902	3.761200	HNK-1 sulfotransferase activity
GO:0050659	0.000076	9.480902	3.761200	N-acetylgalactosamine 4-sulfate 6-O-sulfotransferase activity
GO:0050698	0.000076	9.480902	3.761200	proteoglycan sulfotransferase activity
GO:0080118	0.000076	9.480902	3.761200	brassinosteroid sulfotransferase activity
GO:0008919	0.000076	9.480902	3.791737	lipopolysaccharide glucosyltransferase I activity
GO:0047254	0.000076	9.480902	3.791737	2,4-dihydroxy-7-methoxy-2H-1,4-benzoxazin-3(4H)-one 2-D-glucosyltransferase activity
GO:0047807	0.000076	9.480902	3.791737	cytokinin 7-beta-glucosyltransferase activity
GO:0050139	0.000076	9.480902	3.791737	nicotinate-N-glucosyltransferase activity
GO:0052638	0.000076	9.480902	3.791737	indole-3-butyrate beta-glucosyltransferase activity
GO:0052640	0.000076	9.480902	3.791737	salicylic acid glucosyltransferase (glucoside-forming) activity
GO:0080002	0.000076	9.480902	3.791737	UDP-glucose:4-aminobenzoate acylglucosyltransferase activity
GO:0080062	0.000076	9.480902	3.791737	cytokinin 9-beta-glucosyltransferase activity
GO:0016869	0.000076	9.480902	3.843030	intramolecular transferase activity, transferring amino groups
GO:0002114	0.000076	9.480902	3.864232	interleukin-33 receptor activity
GO:0004130	0.000076	9.480902	3.864232	cytochrome-c peroxidase activity
GO:0004903	0.000076	9.480902	3.864232	growth hormone receptor activity
GO:0004913	0.000076	9.480902	3.864232	interleukin-4 receptor activity
GO:0004914	0.000076	9.480902	3.864232	interleukin-5 receptor activity
GO:0004917	0.000076	9.480902	3.864232	interleukin-7 receptor activity
GO:0004919	0.000076	9.480902	3.864232	interleukin-9 receptor activity
GO:0016688	0.000076	9.480902	3.864232	L-ascorbate peroxidase activity
GO:0036393	0.000076	9.480902	3.864232	thiocyanate peroxidase activity
GO:0038021	0.000076	9.480902	3.864232	leptin receptor activity
GO:0042020	0.000076	9.480902	3.864232	interleukin-23 receptor activity
GO:0090416	0.000076	9.480902	3.912023	nicotinate transmembrane transporter activity
GO:1990137	0.000076	9.480902	3.925268	plant seed peroxidase activity
GO:0004491	0.000076	9.480902	3.931826	methylmalonate-semialdehyde dehydrogenase (acylating) activity
GO:0005252	0.000076	9.480902	3.931826	open rectifier potassium channel activity
GO:0047105	0.000076	9.480902	3.931826	4-trimethylammoniobutyraldehyde dehydrogenase activity
GO:0001760	0.000076	9.480902	3.970292	aminocarboxymuconate-semialdehyde decarboxylase activity
GO:0008836	0.000076	9.480902	3.970292	diaminopimelate decarboxylase activity
GO:0008923	0.000076	9.480902	3.970292	lysine decarboxylase activity
GO:0033982	0.000076	9.480902	3.970292	3-dehydro-L-gulonate-6-phosphate decarboxylase activity
GO:0047433	0.000076	9.480902	3.970292	branched-chain-2-oxoacid decarboxylase activity
GO:0047613	0.000076	9.480902	3.970292	aconitate decarboxylase activity
GO:0051997	0.000076	9.480902	3.970292	2-oxo-4-hydroxy-4-carboxy-5-ureidoimidazoline decarboxylase activity
GO:0099580	0.000076	9.480902	3.995138	ion antiporter activity involved in regulation of postsynaptic membrane potential
GO:0016759	0.000076	9.480902	4.007333	cellulose synthase activity
GO:0033838	0.000076	9.480902	4.007333	flavonol-3-O-glucoside glucosyltransferase activity
GO:0042281	0.000076	9.480902	4.007333	dolichyl pyrophosphate Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0106073	0.000076	9.480902	4.007333	dolichyl pyrophosphate Glc2Man9GlcNAc2 alpha-1,2-glucosyltransferase activity
GO:0035718	0.000076	9.480902	4.013375	macrophage migration inhibitory factor binding
GO:0042019	0.000076	9.480902	4.013375	interleukin-23 binding
GO:0070379	0.000076	9.480902	4.013375	high mobility group box 1 binding
GO:0120048	0.000076	9.480902	4.013375	U6 snRNA (adenine-(43)-N(6))-methyltransferase activity
GO:0005183	0.000076	9.480902	4.019382	gonadotropin hormone-releasing hormone activity
GO:0008437	0.000076	9.480902	4.019382	thyrotropin-releasing hormone activity
GO:0016084	0.000076	9.480902	4.019382	myostimulatory hormone activity
GO:0061749	0.000076	9.480902	4.031286	forked DNA-dependent helicase activity
GO:0015080	0.000076	9.480902	4.088774	silver ion transmembrane transporter activity
GO:0045155	0.000076	9.480902	4.116323	electron transporter, transferring electrons from CoQH2-cytochrome c reductase complex and cytochrome c oxidase complex activity
GO:0046028	0.000076	9.480902	4.116323	electron transporter, transferring electrons from cytochrome b6/f complex of photosystem II activity
GO:0009917	0.000076	9.480902	4.137830	sterol 5-alpha reductase activity
GO:0016166	0.000076	9.480902	4.137830	phytoene dehydrogenase activity
GO:0016632	0.000076	9.480902	4.137830	oxidoreductase activity, acting on the CH-CH group of donors, cytochrome as acceptor
GO:0016636	0.000076	9.480902	4.137830	oxidoreductase activity, acting on the CH-CH group of donors, iron-sulfur protein as acceptor
GO:0051786	0.000076	9.480902	4.137830	all-trans-retinol 13,14-reductase activity
GO:0047975	0.000076	9.480902	4.153661	guanosine phosphorylase activity
GO:0008780	0.000076	9.480902	4.158883	acyl-[acyl-carrier-protein]-UDP-N-acetylglucosamine O-acyltransferase activity
GO:0050252	0.000076	9.480902	4.158883	retinol O-fatty-acyltransferase activity
GO:0106262	0.000076	9.480902	4.158883	1-acylglycerophosphoethanolamine O-acyltransferase activity
GO:0005171	0.000076	9.480902	4.174387	hepatocyte growth factor receptor binding
GO:0019785	0.000076	9.480902	4.184591	ISG15-specific protease activity
GO:0016625	0.000076	9.480902	4.204693	oxidoreductase activity, acting on the aldehyde or oxo group of donors, iron-sulfur protein as acceptor
GO:0036082	0.000076	9.480902	4.290459	extracellular phenylacetaldehyde-gated ion channel activity
GO:0004075	0.000076	9.480902	4.317488	biotin carboxylase activity
GO:0004847	0.000076	9.480902	4.317488	urea carboxylase activity
GO:0072590	0.000076	9.480902	4.317488	N-acetyl-L-aspartate-L-glutamate ligase activity
GO:0102053	0.000076	9.480902	4.317488	(-)-jasmonoyl-isoleucine synthetase activity
GO:0102057	0.000076	9.480902	4.317488	jasmonoyl-valine synthetase activity
GO:0102058	0.000076	9.480902	4.317488	jasmonoyl-leucine synthetase activity
GO:0009389	0.000076	9.480902	4.360973	dimethyl sulfoxide reductase activity
GO:0016002	0.000076	9.480902	4.360973	sulfite reductase activity
GO:0016673	0.000076	9.480902	4.360973	oxidoreductase activity, acting on a sulfur group of donors, iron-sulfur protein as acceptor
GO:0034069	0.000076	9.480902	4.360973	aminoglycoside N-acetyltransferase activity
GO:0051392	0.000076	9.480902	4.360973	tRNA N-acetyltransferase activity
GO:1990883	0.000076	9.480902	4.360973	rRNA cytidine N-acetyltransferase activity
GO:0120153	0.000076	9.480902	4.386185	calcium-dependent carbohydrate binding
GO:0047390	0.000076	9.480902	4.390325	glycerophosphocholine cholinephosphodiesterase activity
GO:0030519	0.000076	9.480902	4.410776	snoRNP binding
GO:0004039	0.000076	9.480902	4.418841	allophanate hydrolase activity
GO:0009039	0.000076	9.480902	4.418841	urease activity
GO:0036054	0.000076	9.480902	4.418841	protein-malonyllysine demalonylase activity
GO:0061690	0.000076	9.480902	4.418841	lipoamidase activity
GO:0070773	0.000076	9.480902	4.418841	protein-N-terminal glutamine amidohydrolase activity
GO:0071713	0.000076	9.480902	4.418841	para-aminobenzoyl-glutamate hydrolase activity
GO:0110050	0.000076	9.480902	4.418841	deaminated glutathione amidase activity
GO:0004603	0.000076	9.480902	4.442651	phenylethanolamine N-methyltransferase activity
GO:0008112	0.000076	9.480902	4.442651	nicotinamide N-methyltransferase activity
GO:0046539	0.000076	9.480902	4.442651	histamine N-methyltransferase activity
GO:0004730	0.000076	9.480902	4.462069	pseudouridylate synthase activity
GO:0008124	0.000076	9.480902	4.462069	4-alpha-hydroxytetrahydrobiopterin dehydratase activity
GO:0018820	0.000076	9.480902	4.462069	cyanamide hydratase activity
GO:0046570	0.000076	9.480902	4.462069	methylthioribulose 1-phosphate dehydratase activity
GO:0050377	0.000076	9.480902	4.462069	UDP-glucose 4,6-dehydratase activity
GO:0050401	0.000076	9.480902	4.462069	xylonate dehydratase activity
GO:0080023	0.000076	9.480902	4.462069	3R-hydroxyacyl-CoA dehydratase activity
GO:0004990	0.000076	9.480902	4.469732	oxytocin receptor activity
GO:0015054	0.000076	9.480902	4.469732	gastrin receptor activity
GO:0060182	0.000076	9.480902	4.469732	apelin receptor activity
GO:0061775	0.000076	9.480902	4.473542	cohesin ATPase activity
GO:1990955	0.000076	9.480902	4.503507	G-rich single-stranded DNA binding
GO:0043404	0.000076	9.480902	4.536177	corticotropin-releasing hormone receptor activity
GO:0080072	0.000076	9.480902	4.611815	spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080073	0.000076	9.480902	4.611815	spermidine:coumaroyl CoA N-acyltransferase activity
GO:0106231	0.000076	9.480902	4.611815	protein-propionyllysine depropionylase activity
GO:0140065	0.000076	9.480902	4.611815	peptide butyryltransferase activity
GO:0046409	0.000076	9.480902	4.694401	p-coumarate 3-hydroxylase activity
GO:0052694	0.000076	9.480902	4.694401	jasmonoyl-isoleucine-12-hydroxylase activity
GO:0052722	0.000076	9.480902	4.694401	fatty acid in-chain hydroxylase activity
GO:0008995	0.000076	9.480902	4.697445	ribonuclease E activity
GO:0008959	0.000076	9.480902	4.709530	phosphate acetyltransferase activity
GO:0015104	0.000076	9.480902	4.715518	antimonite transmembrane transporter activity
GO:0015654	0.000076	9.480902	4.715518	tellurite transmembrane transporter activity
GO:0030504	0.000076	9.480902	4.715518	inorganic diphosphate transmembrane transporter activity
GO:0003961	0.000076	9.480902	4.730333	O-acetylhomoserine aminocarboxypropyltransferase activity
GO:0004789	0.000076	9.480902	4.730333	thiamine-phosphate diphosphorylase activity
GO:0010487	0.000076	9.480902	4.730333	thermospermine synthase activity
GO:0033847	0.000076	9.480902	4.730333	O-phosphoserine sulfhydrylase activity
GO:0033850	0.000076	9.480902	4.730333	Z-farnesyl diphosphate synthase activity
GO:0044689	0.000076	9.480902	4.730333	7,8-didemethyl-8-hydroxy-5-deazariboflavin synthase activity
GO:0052622	0.000076	9.480902	4.730333	ATP dimethylallyltransferase activity
GO:0052623	0.000076	9.480902	4.730333	ADP dimethylallyltransferase activity
GO:0140107	0.000076	9.480902	4.742029	high-affinity potassium ion transmembrane transporter activity
GO:0001884	0.000076	9.480902	4.759321	pyrimidine nucleoside binding
GO:0005133	0.000076	9.480902	4.781921	interferon-gamma receptor binding
GO:0005147	0.000076	9.480902	4.781921	oncostatin-M receptor binding
GO:0045517	0.000076	9.480902	4.781921	interleukin-20 receptor binding
GO:0045523	0.000076	9.480902	4.781921	interleukin-27 receptor binding
GO:0050185	0.000076	9.480902	4.781921	phosphatidylinositol deacylase activity
GO:0050528	0.000076	9.480902	4.781921	acyloxyacyl hydrolase activity
GO:0052793	0.000076	9.480902	4.781921	pectin acetylesterase activity
GO:0102140	0.000076	9.480902	4.781921	heparan sulfate N-deacetylase activity
GO:1990699	0.000076	9.480902	4.781921	palmitoleyl hydrolase activity
GO:0000016	0.000076	9.480902	4.841559	lactase activity
GO:0016162	0.000076	9.480902	4.841559	cellulose 1,4-beta-cellobiosidase activity
GO:0033934	0.000076	9.480902	4.841559	glucan 1,4-alpha-maltotriohydrolase activity
GO:0080176	0.000076	9.480902	4.841559	xyloglucan 1,6-alpha-xylosidase activity
GO:0008915	0.000076	9.480902	4.872650	lipid-A-disaccharide synthase activity
GO:0047262	0.000076	9.480902	4.872650	polygalacturonate 4-alpha-galacturonosyltransferase activity
GO:0031700	0.000076	9.480902	4.941642	adrenomedullin receptor binding
GO:0031714	0.000076	9.480902	4.941642	C5a anaphylatoxin chemotactic receptor binding
GO:0031717	0.000076	9.480902	4.941642	cannabinoid receptor binding
GO:0031753	0.000076	9.480902	4.941642	endothelial differentiation G protein-coupled receptor binding
GO:0031768	0.000076	9.480902	4.941642	ghrelin receptor binding
GO:0031788	0.000076	9.480902	4.941642	motilin receptor binding
GO:0031856	0.000076	9.480902	4.941642	parathyroid hormone receptor binding
GO:0031862	0.000076	9.480902	4.941642	prostanoid receptor binding
GO:0061501	0.000076	9.480902	4.972125	cyclic-GMP-AMP synthase activity
GO:0009392	0.000076	9.480902	5.008411	N-acetyl-anhydromuramoyl-L-alanine amidase activity
GO:0016720	0.000076	9.480902	5.012855	delta12-fatty acid dehydrogenase activity
GO:0046996	0.000076	9.480902	5.012855	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with NAD(P)H as one donor, and the other dehydrogenated
GO:0050207	0.000076	9.480902	5.012855	plasmanylethanolamine desaturase activity
GO:0052631	0.000076	9.480902	5.012855	sphingolipid delta-8 desaturase activity
GO:0080105	0.000076	9.480902	5.012855	6-methylthiopropyl glucosinolate S-oxygenase activity
GO:0071714	0.000076	9.480902	5.085537	icosanoid transmembrane transporter activity
GO:0004164	0.000076	9.480902	5.091703	diphthine synthase activity
GO:0030731	0.000076	9.480902	5.091703	guanidinoacetate N-methyltransferase activity
GO:0030744	0.000076	9.480902	5.091703	luteolin O-methyltransferase activity
GO:0030791	0.000076	9.480902	5.091703	arsenite methyltransferase activity
GO:0000140	0.000076	9.480902	5.123964	acylglycerone-phosphate reductase activity
GO:0004455	0.000076	9.480902	5.123964	ketol-acid reductoisomerase activity
GO:0008114	0.000076	9.480902	5.123964	phosphogluconate 2-dehydrogenase activity
GO:0008677	0.000076	9.480902	5.123964	2-dehydropantoate 2-reductase activity
GO:0008679	0.000076	9.480902	5.123964	2-hydroxy-3-oxopropionate reductase activity
GO:0008691	0.000076	9.480902	5.123964	3-hydroxybutyryl-CoA dehydrogenase activity
GO:0008831	0.000076	9.480902	5.123964	dTDP-4-dehydrorhamnose reductase activity
GO:0008875	0.000076	9.480902	5.123964	gluconate dehydrogenase activity
GO:0010490	0.000076	9.480902	5.123964	UDP-4-keto-rhamnose-4-keto-reductase activity
GO:0030604	0.000076	9.480902	5.123964	1-deoxy-D-xylulose-5-phosphate reductoisomerase activity
GO:0031132	0.000076	9.480902	5.123964	serine 3-dehydrogenase activity
GO:0033707	0.000076	9.480902	5.123964	3''-deamino-3''-oxonicotianamine reductase activity
GO:0033833	0.000076	9.480902	5.123964	hydroxymethylfurfural reductase (NADH) activity
GO:0036132	0.000076	9.480902	5.123964	13-prostaglandin reductase activity
GO:0047012	0.000076	9.480902	5.123964	sterol-4-alpha-carboxylate 3-dehydrogenase (decarboxylating) activity
GO:0047016	0.000076	9.480902	5.123964	cholest-5-ene-3-beta,7-alpha-diol 3-beta-dehydrogenase activity
GO:0047025	0.000076	9.480902	5.123964	3-oxoacyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0047046	0.000076	9.480902	5.123964	homoisocitrate dehydrogenase activity
GO:0050104	0.000076	9.480902	5.123964	L-gulonate 3-dehydrogenase activity
GO:0050268	0.000076	9.480902	5.123964	coniferyl-alcohol dehydrogenase activity
GO:1990002	0.000076	9.480902	5.123964	methylglyoxal reductase (NADPH-dependent, acetol producing)
GO:0001515	0.000076	9.480902	5.248777	opioid peptide activity
GO:0038177	0.000076	9.480902	5.248777	death receptor agonist activity
GO:0004344	0.000076	9.480902	5.250527	glucose dehydrogenase activity
GO:0008946	0.000076	9.480902	5.264416	oligonucleotidase activity
GO:0090353	0.000076	9.480902	5.264416	polygalacturonase inhibitor activity
GO:0051749	0.000076	9.480902	5.291628	indole acetic acid carboxyl methyltransferase activity
GO:0033201	0.000076	9.480902	5.392111	alpha-1,4-glucan synthase activity
GO:1990521	0.000076	9.480902	5.524124	m7G(5')pppN diphosphatase activator activity
GO:0008710	0.000076	9.480902	5.533389	8-amino-7-oxononanoate synthase activity
GO:0016752	0.000076	9.480902	5.533389	sinapoyltransferase activity
GO:0047963	0.000076	9.480902	5.533389	glycine N-choloyltransferase activity
GO:0050200	0.000076	9.480902	5.533389	plasmalogen synthase activity
GO:0050632	0.000076	9.480902	5.533389	propionyl-CoA C2-trimethyltridecanoyltransferase activity
GO:0061711	0.000076	9.480902	5.533389	N(6)-L-threonylcarbamoyladenine synthase activity
GO:0090430	0.000076	9.480902	5.533389	caffeoyl-CoA: alcohol caffeoyl transferase activity
GO:0090439	0.000076	9.480902	5.533389	tetraketide alpha-pyrone synthase activity
GO:1990698	0.000076	9.480902	5.533389	palmitoleoyltransferase activity
GO:0120225	0.000076	9.480902	5.545177	coenzyme A binding
GO:0001616	0.000076	9.480902	5.554251	growth hormone secretagogue receptor activity
GO:0036505	0.000076	9.480902	5.554251	prosaposin receptor activity
GO:1990576	0.000076	9.480902	5.554251	G protein-coupled glucose receptor activity
GO:0070463	0.000076	9.480902	5.555540	tubulin-dependent ATPase activity
GO:0071568	0.000076	9.480902	5.577211	UFM1 transferase activity
GO:0010736	0.000076	9.480902	5.609472	serum response element binding
GO:0032810	0.000076	9.480902	5.609472	sterol response element binding
GO:0035538	0.000076	9.480902	5.609472	carbohydrate response element binding
GO:0070594	0.000076	9.480902	5.609472	juvenile hormone response element binding
GO:0071820	0.000076	9.480902	5.609472	N-box binding
GO:0004063	0.000076	9.480902	5.638355	aryldialkylphosphatase activity
GO:0043726	0.000076	9.480902	5.638355	5-amino-6-(5-phosphoribitylamino)uracil phosphatase activity
GO:0050084	0.000076	9.480902	5.638355	mannitol-1-phosphatase activity
GO:0050124	0.000076	9.480902	5.638355	N-acylneuraminate-9-phosphatase activity
GO:0050278	0.000076	9.480902	5.638355	sedoheptulose-bisphosphatase activity
GO:0102757	0.000076	9.480902	5.638355	NADPH phosphatase activity
GO:0010461	0.000076	9.480902	5.763099	light-activated ion channel activity
GO:0032089	0.000076	9.480902	5.856027	NACHT domain binding
GO:0032427	0.000076	9.480902	5.856027	GBD domain binding
GO:0035500	0.000076	9.480902	5.856027	MH2 domain binding
GO:0036004	0.000076	9.480902	5.856027	GAF domain binding
GO:0070080	0.000076	9.480902	5.856027	titin Z domain binding
GO:0070974	0.000076	9.480902	5.856027	POU domain binding
GO:0070984	0.000076	9.480902	5.856027	SET domain binding
GO:0090541	0.000076	9.480902	5.856027	MIT domain binding
GO:1990175	0.000076	9.480902	5.856027	EH domain binding
GO:0034211	0.000076	9.480902	5.873994	GTP-dependent protein kinase activity
GO:0072518	0.000076	9.480902	5.873994	Rho-dependent protein serine/threonine kinase activity
GO:0140081	0.000076	9.480902	5.890723	glycosylated region protein binding
GO:0008147	0.000076	9.480902	6.007174	structural constituent of bone
GO:0035804	0.000076	9.480902	6.007174	structural constituent of egg coat
GO:1990147	0.000076	9.480902	6.145615	talin binding
GO:0008894	0.000076	9.480902	6.185523	guanosine-5'-triphosphate,3'-diphosphate diphosphatase activity
GO:0010945	0.000076	9.480902	6.185523	CoA pyrophosphatase activity
GO:0019177	0.000076	9.480902	6.185523	dihydroneopterin triphosphate pyrophosphohydrolase activity
GO:0052751	0.000076	9.480902	6.185523	GDP-mannose hydrolase activity
GO:0052842	0.000076	9.480902	6.185523	inositol diphosphate pentakisphosphate diphosphatase activity
GO:0106177	0.000076	9.480902	6.190998	cyclic-GMP-AMP hydrolase activity
GO:0110152	0.000076	9.480902	6.190998	RNA NAD-cap (NAD-forming) hydrolase activity
GO:0008281	0.000076	9.480902	6.238325	sulfonylurea receptor activity
GO:0030369	0.000076	9.480902	6.238325	ICAM-3 receptor activity
GO:0038025	0.000076	9.480902	6.238325	reelin receptor activity
GO:0038131	0.000076	9.480902	6.238325	neuregulin receptor activity
GO:2001066	0.000076	9.480902	6.272248	amylopectin binding
GO:0042349	0.000076	9.480902	6.292186	guiding stereospecific synthesis activity
GO:0047323	0.000076	9.480902	6.332095	[3-methyl-2-oxobutanoate dehydrogenase (acetyl-transferring)] kinase activity
GO:0046911	0.000076	9.480902	6.459904	metal chelating activity
GO:0008036	0.000076	9.480902	6.471315	diuretic hormone receptor activity
GO:0036461	0.000076	9.480902	6.487177	BLOC-2 complex binding
GO:0062078	0.000076	9.480902	6.487177	TSC1-TSC2 complex binding
GO:0106137	0.000076	9.480902	6.487177	IkappaB kinase complex binding
GO:1904713	0.000076	9.480902	6.487177	beta-catenin destruction complex binding
GO:1905334	0.000076	9.480902	6.487177	Swi5-Sfr1 complex binding
GO:1905761	0.000076	9.480902	6.487177	SCF ubiquitin ligase complex binding
GO:1990448	0.000076	9.480902	6.487177	exon-exon junction complex binding
GO:1990593	0.000076	9.480902	6.487177	nascent polypeptide-associated complex binding
GO:0061752	0.000076	9.480902	6.530392	telomeric repeat-containing RNA binding
GO:1990605	0.000076	9.480902	6.530392	GU repeat RNA binding
GO:0004168	0.000076	9.480902	6.538622	dolichol kinase activity
GO:0008887	0.000076	9.480902	6.538622	glycerate kinase activity
GO:0008906	0.000076	9.480902	6.538622	inosine kinase activity
GO:0009029	0.000076	9.480902	6.538622	tetraacyldisaccharide 4'-kinase activity
GO:0043843	0.000076	9.480902	6.538622	ADP-specific glucokinase activity
GO:0046522	0.000076	9.480902	6.538622	S-methyl-5-thioribose kinase activity
GO:0047620	0.000076	9.480902	6.538622	acylglycerol kinase activity
GO:0047940	0.000076	9.480902	6.538622	glucuronokinase activity
GO:0050277	0.000076	9.480902	6.538622	sedoheptulokinase activity
GO:0050354	0.000076	9.480902	6.538622	triokinase activity
GO:0052673	0.000076	9.480902	6.560559	prenol kinase activity
GO:0015083	0.000076	9.480902	6.603944	aluminum ion transmembrane transporter activity
GO:0030387	0.000076	9.480902	6.650279	fructosamine-3-kinase activity
GO:0061769	0.000076	9.480902	6.650279	ribosylnicotinate kinase activity
GO:0008682	0.000076	9.480902	6.765423	2-octoprenyl-3-methyl-6-methoxy-1,4-benzoquinone hydroxylase activity
GO:0033797	0.000076	9.480902	6.765423	selenate reductase activity
GO:0034567	0.000076	9.480902	6.765423	chromate reductase activity
GO:0045550	0.000076	9.480902	6.765423	geranylgeranyl reductase activity
GO:0071890	0.000076	9.480902	6.770407	bicarbonate binding
GO:0061547	0.000076	9.480902	6.891965	glycogen synthase activity, transferring glucose-1-phosphate
GO:0061863	0.000076	9.480902	6.894332	microtubule plus end polymerase
GO:1990827	0.000076	9.480902	7.036735	deaminase binding
GO:0016824	0.000076	9.480902	7.556079	hydrolase activity, acting on acid halide bonds
GO:0016785	0.000076	9.480902	7.732954	transferase activity, transferring selenium-containing groups
GO:0061599	0.000076	9.480902	7.732954	molybdopterin molybdotransferase activity
GO:0031720	0.000076	9.480902	8.913461	haptoglobin binding
GO:0045569	0.000076	9.480902	8.913461	TRAIL binding
GO:0046980	0.000076	9.480902	8.913461	tapasin binding
GO:0031409	0.000076	9.480902	9.111183	pigment binding
GO:0050436	0.000076	9.480902	9.111183	microfibril binding
GO:1902670	0.000076	9.480902	9.111183	carbon dioxide binding
GO:0002935	0.000051	9.886367	0.000000	tRNA (adenine-C2-)-methyltransferase activity
GO:0003957	0.000051	9.886367	0.000000	NAD(P)+ transhydrogenase (B-specific) activity
GO:0004085	0.000051	9.886367	0.000000	butyryl-CoA dehydrogenase activity
GO:0004313	0.000051	9.886367	0.000000	[acyl-carrier-protein] S-acetyltransferase activity
GO:0004734	0.000051	9.886367	0.000000	pyrimidodiazepine synthase activity
GO:0004979	0.000051	9.886367	0.000000	beta-endorphin receptor activity
GO:0005260	0.000051	9.886367	0.000000	intracellularly ATP-gated chloride channel activity
GO:0005352	0.000051	9.886367	0.000000	alpha-glucoside:proton symporter activity
GO:0005367	0.000051	9.886367	0.000000	myo-inositol:sodium symporter activity
GO:0005476	0.000051	9.886367	0.000000	carnitine:acyl carnitine antiporter activity
GO:0008490	0.000051	9.886367	0.000000	arsenite secondary active transmembrane transporter activity
GO:0008512	0.000051	9.886367	0.000000	sulfate:proton symporter activity
GO:0008555	0.000051	9.886367	0.000000	ATPase-coupled chloride transmembrane transporter activity
GO:0008558	0.000051	9.886367	0.000000	ATPase-coupled guanine transmembrane transporter activity
GO:0008725	0.000051	9.886367	0.000000	DNA-3-methyladenine glycosylase activity
GO:0008734	0.000051	9.886367	0.000000	L-aspartate oxidase activity
GO:0008876	0.000051	9.886367	0.000000	quinoprotein glucose dehydrogenase activity
GO:0008899	0.000051	9.886367	0.000000	homoserine O-succinyltransferase activity
GO:0008924	0.000051	9.886367	0.000000	malate dehydrogenase (quinone) activity
GO:0009036	0.000051	9.886367	0.000000	type II site-specific deoxyribonuclease activity
GO:0009671	0.000051	9.886367	0.000000	nitrate:proton symporter activity
GO:0009675	0.000051	9.886367	0.000000	high-affinity sulfate:proton symporter activity
GO:0009885	0.000051	9.886367	0.000000	transmembrane histidine kinase cytokinin receptor activity
GO:0009974	0.000051	9.886367	0.000000	zeinoxanthin epsilon hydroxylase activity
GO:0010176	0.000051	9.886367	0.000000	homogentisate phytyltransferase activity
GO:0010347	0.000051	9.886367	0.000000	L-galactose-1-phosphate phosphatase activity
GO:0010486	0.000051	9.886367	0.000000	manganese:proton antiporter activity
GO:0010542	0.000051	9.886367	0.000000	nitrate efflux transmembrane transporter activity
GO:0015044	0.000051	9.886367	0.000000	rubredoxin-NAD+ reductase activity
GO:0015091	0.000051	9.886367	0.000000	ferric iron transmembrane transporter activity
GO:0015134	0.000051	9.886367	0.000000	hexuronate transmembrane transporter activity
GO:0015221	0.000051	9.886367	0.000000	lipopolysaccharide transmembrane transporter activity
GO:0015327	0.000051	9.886367	0.000000	cystine:glutamate antiporter activity
GO:0015328	0.000051	9.886367	0.000000	cystine secondary active transmembrane transporter activity
GO:0015360	0.000051	9.886367	0.000000	acetate:proton symporter activity
GO:0015387	0.000051	9.886367	0.000000	potassium:proton symporter activity
GO:0015412	0.000051	9.886367	0.000000	ATPase-coupled molybdate transmembrane transporter activity
GO:0015415	0.000051	9.886367	0.000000	ATPase-coupled phosphate ion transmembrane transporter activity
GO:0015430	0.000051	9.886367	0.000000	ATPase-coupled glycerol-3-phosphate transmembrane transporter activity
GO:0015471	0.000051	9.886367	0.000000	nucleoside-specific channel forming porin activity
GO:0015481	0.000051	9.886367	0.000000	maltose transporting porin activity
GO:0015483	0.000051	9.886367	0.000000	long-chain fatty acid transporting porin activity
GO:0015487	0.000051	9.886367	0.000000	melibiose:cation symporter activity
GO:0015496	0.000051	9.886367	0.000000	putrescine:ornithine antiporter activity
GO:0015514	0.000051	9.886367	0.000000	nitrite efflux transmembrane transporter activity
GO:0015518	0.000051	9.886367	0.000000	arabinose:proton symporter activity
GO:0015527	0.000051	9.886367	0.000000	glycerol-phosphate:inorganic phosphate antiporter activity
GO:0015528	0.000051	9.886367	0.000000	lactose:proton symporter activity
GO:0015535	0.000051	9.886367	0.000000	fucose:proton symporter activity
GO:0015558	0.000051	9.886367	0.000000	secondary active p-aminobenzoyl-glutamate transmembrane transporter activity
GO:0015607	0.000051	9.886367	0.000000	ATPase-coupled fatty-acyl-CoA transmembrane transporter activity
GO:0015649	0.000051	9.886367	0.000000	2-keto-3-deoxygluconate:proton symporter activity
GO:0015650	0.000051	9.886367	0.000000	lactate:proton symporter activity
GO:0015660	0.000051	9.886367	0.000000	formate efflux transmembrane transporter activity
GO:0015661	0.000051	9.886367	0.000000	L-lysine efflux transmembrane transporter activity
GO:0016041	0.000051	9.886367	0.000000	glutamate synthase (ferredoxin) activity
GO:0016250	0.000051	9.886367	0.000000	N-sulfoglucosamine sulfohydrolase activity
GO:0016437	0.000051	9.886367	0.000000	tRNA cytidylyltransferase activity
GO:0016463	0.000051	9.886367	0.000000	zinc transmembrane transporter activity, phosphorylative mechanism
GO:0016750	0.000051	9.886367	0.000000	O-succinyltransferase activity
GO:0016753	0.000051	9.886367	0.000000	O-sinapoyltransferase activity
GO:0016754	0.000051	9.886367	0.000000	sinapoylglucose-malate O-sinapoyltransferase activity
GO:0018576	0.000051	9.886367	0.000000	catechol 1,2-dioxygenase activity
GO:0019119	0.000051	9.886367	0.000000	phenanthrene-9,10-epoxide hydrolase activity
GO:0022877	0.000051	9.886367	0.000000	protein-N(PI)-phosphohistidine-fructose phosphotransferase system transporter activity
GO:0030251	0.000051	9.886367	0.000000	guanylate cyclase inhibitor activity
GO:0030697	0.000051	9.886367	0.000000	S-adenosylmethionine-dependent tRNA (m5U54) methyltransferase activity
GO:0031771	0.000051	9.886367	0.000000	type 1 hypocretin receptor binding
GO:0031772	0.000051	9.886367	0.000000	type 2 hypocretin receptor binding
GO:0031777	0.000051	9.886367	0.000000	type 1 melanin-concentrating hormone receptor binding
GO:0031812	0.000051	9.886367	0.000000	P2Y1 nucleotide receptor binding
GO:0032034	0.000051	9.886367	0.000000	myosin II head/neck binding
GO:0032548	0.000051	9.886367	0.000000	pyrimidine deoxyribonucleoside binding
GO:0032577	0.000051	9.886367	0.000000	phosphatidylcholine:cardiolipin O-linoleoyltransferase activity
GO:0033748	0.000051	9.886367	0.000000	hydrogenase (acceptor) activity
GO:0033863	0.000051	9.886367	0.000000	ribose 1,5-bisphosphate phosphokinase activity
GO:0033946	0.000051	9.886367	0.000000	xyloglucan-specific endo-beta-1,4-glucanase activity
GO:0034215	0.000051	9.886367	0.000000	thiamine:proton symporter activity
GO:0034216	0.000051	9.886367	0.000000	high-affinity thiamine:proton symporter activity
GO:0034228	0.000051	9.886367	0.000000	ethanolamine transmembrane transporter activity
GO:0034319	0.000051	9.886367	0.000000	alcohol O-butanoyltransferase activity
GO:0034321	0.000051	9.886367	0.000000	alcohol O-octanoyltransferase activity
GO:0034323	0.000051	9.886367	0.000000	O-butanoyltransferase activity
GO:0034602	0.000051	9.886367	0.000000	oxoglutarate dehydrogenase (NAD+) activity
GO:0035400	0.000051	9.886367	0.000000	histone tyrosine kinase activity
GO:0035401	0.000051	9.886367	0.000000	histone kinase activity (H3-Y41 specific)
GO:0035439	0.000051	9.886367	0.000000	halimadienyl-diphosphate synthase activity
GO:0035605	0.000051	9.886367	0.000000	peptidyl-cysteine S-nitrosylase activity
GO:0038182	0.000051	9.886367	0.000000	G protein-coupled bile acid receptor activity
GO:0042929	0.000051	9.886367	0.000000	ferrichrome transmembrane transporter activity
GO:0042931	0.000051	9.886367	0.000000	enterobactin transmembrane transporter activity
GO:0042944	0.000051	9.886367	0.000000	D-alanine transmembrane transporter activity
GO:0042960	0.000051	9.886367	0.000000	antimonite secondary active transmembrane transporter activity
GO:0043365	0.000051	9.886367	0.000000	[formate-C-acetyltransferase]-activating enzyme activity
GO:0043887	0.000051	9.886367	0.000000	melibiose:sodium symporter activity
GO:0043893	0.000051	9.886367	0.000000	acetate:cation symporter activity
GO:0043915	0.000051	9.886367	0.000000	L-seryl-tRNA(Sec) kinase activity
GO:0045148	0.000051	9.886367	0.000000	tripeptide aminopeptidase activity
GO:0045513	0.000051	9.886367	0.000000	interleukin-27 binding
GO:0047091	0.000051	9.886367	0.000000	L-lysine 6-monooxygenase (NADPH) activity
GO:0047172	0.000051	9.886367	0.000000	shikimate O-hydroxycinnamoyltransferase activity
GO:0047205	0.000051	9.886367	0.000000	quinate O-hydroxycinnamoyltransferase activity
GO:0047312	0.000051	9.886367	0.000000	L-phenylalanine:pyruvate aminotransferase activity
GO:0047402	0.000051	9.886367	0.000000	protein-glucosylgalactosylhydroxylysine glucosidase activity
GO:0047820	0.000051	9.886367	0.000000	D-glutamate cyclase activity
GO:0047935	0.000051	9.886367	0.000000	glucose 1-dehydrogenase (NADP+) activity
GO:0048474	0.000051	9.886367	0.000000	D-methionine transmembrane transporter activity
GO:0050046	0.000051	9.886367	0.000000	lathosterol oxidase activity
GO:0050362	0.000051	9.886367	0.000000	L-tryptophan:2-oxoglutarate aminotransferase activity
GO:0050737	0.000051	9.886367	0.000000	O-hydroxycinnamoyltransferase activity
GO:0051065	0.000051	9.886367	0.000000	CTP reductase activity
GO:0051075	0.000051	9.886367	0.000000	S-adenosylmethionine:tRNA ribosyltransferase-isomerase activity
GO:0051108	0.000051	9.886367	0.000000	carnitine-CoA ligase activity
GO:0051738	0.000051	9.886367	0.000000	xanthophyll binding
GO:0052669	0.000051	9.886367	0.000000	CTP:2-trans,-6-trans-farnesol kinase activity
GO:0052714	0.000051	9.886367	0.000000	mannosyl-inositol phosphorylceramide phospholipase activity
GO:0052826	0.000051	9.886367	0.000000	inositol hexakisphosphate 2-phosphatase activity
GO:0052847	0.000051	9.886367	0.000000	inositol-1,5-bisdiphosphate-2,3,4,6-tetrakisphosphate 5-diphosphatase activity
GO:0052871	0.000051	9.886367	0.000000	alpha-tocopherol omega-hydroxylase activity
GO:0055055	0.000051	9.886367	0.000000	D-glucose:proton symporter activity
GO:0061651	0.000051	9.886367	0.000000	Atg12 conjugating enzyme activity
GO:0061657	0.000051	9.886367	0.000000	UFM1 conjugating enzyme activity
GO:0061666	0.000051	9.886367	0.000000	UFM1 ligase activity
GO:0061995	0.000051	9.886367	0.000000	ATP-dependent protein-DNA complex displacement activity
GO:0062180	0.000051	9.886367	0.000000	25-hydroxycholecalciferol-23-hydroxylase activity
GO:0062181	0.000051	9.886367	0.000000	1-alpha,25-dihydroxyvitamin D3 23-hydroxylase activity
GO:0070040	0.000051	9.886367	0.000000	rRNA (adenine-C2-)-methyltransferase activity
GO:0070041	0.000051	9.886367	0.000000	rRNA (uridine-C5-)-methyltransferase activity
GO:0070819	0.000051	9.886367	0.000000	menaquinone-dependent protoporphyrinogen oxidase activity
GO:0071424	0.000051	9.886367	0.000000	rRNA (cytosine-N4-)-methyltransferase activity
GO:0071913	0.000051	9.886367	0.000000	citrate secondary active transmembrane transporter activity
GO:0072550	0.000051	9.886367	0.000000	triferuloylspermidine meta-hydroxylase activity
GO:0072551	0.000051	9.886367	0.000000	diferuloyl mono-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072552	0.000051	9.886367	0.000000	monoferuloyl di-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072587	0.000051	9.886367	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) activator activity
GO:0080059	0.000051	9.886367	0.000000	flavonol 3-O-arabinosyltransferase activity
GO:0080097	0.000051	9.886367	0.000000	L-tryptophan:pyruvate aminotransferase activity
GO:0080130	0.000051	9.886367	0.000000	L-phenylalanine:2-oxoglutarate aminotransferase activity
GO:0097063	0.000051	9.886367	0.000000	cadmium ion sensor activity
GO:0097077	0.000051	9.886367	0.000000	copper ion sensor activity
GO:0097098	0.000051	9.886367	0.000000	DNA/RNA hybrid annealing activity
GO:0097626	0.000051	9.886367	0.000000	low-affinity L-arginine transmembrane transporter activity
GO:0098699	0.000051	9.886367	0.000000	structural constituent of presynaptic actin cytoskeleton
GO:0098848	0.000051	9.886367	0.000000	alpha-D-ribose 1-methylphosphonate 5-phosphate C-P-lyase activity
GO:0098872	0.000051	9.886367	0.000000	G protein-coupled neurotransmitter receptor activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0106078	0.000051	9.886367	0.000000	histone succinyltransferase activity
GO:0106211	0.000051	9.886367	0.000000	inositol-5-diphosphate-1,3,4,6-tetrakisphosphate diphosphatase activity
GO:0106229	0.000051	9.886367	0.000000	histone glutaryltransferase activity
GO:0110035	0.000051	9.886367	0.000000	rDNA spacer replication fork barrier binding, bending
GO:0140010	0.000051	9.886367	0.000000	D-aspartate transmembrane transporter activity
GO:0140080	0.000051	9.886367	0.000000	class III/IV DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0140340	0.000051	9.886367	0.000000	cerebroside transfer activity
GO:0140360	0.000051	9.886367	0.000000	cyclic-GMP-AMP transmembrane transporter activity
GO:0140412	0.000051	9.886367	0.000000	zinc:bicarbonate symporter activity
GO:1902051	0.000051	9.886367	0.000000	(25S)-Delta(4)-dafachronate binding
GO:1902052	0.000051	9.886367	0.000000	(25S)-Delta(7)-dafachronate binding
GO:1905131	0.000051	9.886367	0.000000	carcinine transmembrane transporter activity
GO:1905575	0.000051	9.886367	0.000000	ganglioside GM3 binding
GO:1905948	0.000051	9.886367	0.000000	ATPase-coupled 3',5'-cyclic GMP transmembrane transporter activity
GO:1990043	0.000051	9.886367	0.000000	5' deoxyribonuclease (pyrimidine dimer) activity
GO:0002059	0.000051	9.886367	0.405465	thymine binding
GO:0004125	0.000051	9.886367	0.405465	L-seryl-tRNASec selenium transferase activity
GO:0005307	0.000051	9.886367	0.405465	choline:sodium symporter activity
GO:0008521	0.000051	9.886367	0.405465	acetyl-CoA transmembrane transporter activity
GO:0008692	0.000051	9.886367	0.405465	3-hydroxybutyryl-CoA epimerase activity
GO:0008809	0.000051	9.886367	0.405465	carnitine racemase activity
GO:0008873	0.000051	9.886367	0.405465	gluconate 2-dehydrogenase activity
GO:0008874	0.000051	9.886367	0.405465	gluconate 5-dehydrogenase activity
GO:0009940	0.000051	9.886367	0.405465	amino-terminal vacuolar sorting propeptide binding
GO:0010277	0.000051	9.886367	0.405465	chlorophyllide a oxygenase [overall] activity
GO:0015068	0.000051	9.886367	0.405465	glycine amidinotransferase activity
GO:0015133	0.000051	9.886367	0.405465	uronic acid transmembrane transporter activity
GO:0015341	0.000051	9.886367	0.405465	zinc efflux active transmembrane transporter activity
GO:0015519	0.000051	9.886367	0.405465	D-xylose:proton symporter activity
GO:0015538	0.000051	9.886367	0.405465	sialic acid:proton symporter activity
GO:0016633	0.000051	9.886367	0.405465	galactonolactone dehydrogenase activity
GO:0018786	0.000051	9.886367	0.405465	haloalkane dehalogenase activity
GO:0030107	0.000051	9.886367	0.405465	HLA-A specific inhibitory MHC class I receptor activity
GO:0030108	0.000051	9.886367	0.405465	HLA-A specific activating MHC class I receptor activity
GO:0030109	0.000051	9.886367	0.405465	HLA-B specific inhibitory MHC class I receptor activity
GO:0030597	0.000051	9.886367	0.405465	RNA glycosylase activity
GO:0031517	0.000051	9.886367	0.405465	red light photoreceptor activity
GO:0031715	0.000051	9.886367	0.405465	C5L2 anaphylatoxin chemotactic receptor binding
GO:0031741	0.000051	9.886367	0.405465	type B gastrin/cholecystokinin receptor binding
GO:0031764	0.000051	9.886367	0.405465	type 1 galanin receptor binding
GO:0031867	0.000051	9.886367	0.405465	EP4 subtype prostaglandin E2 receptor binding
GO:0031870	0.000051	9.886367	0.405465	thromboxane A2 receptor binding
GO:0032132	0.000051	9.886367	0.405465	O6-alkylguanine-DNA binding
GO:0033739	0.000051	9.886367	0.405465	preQ1 synthase activity
GO:0035614	0.000051	9.886367	0.405465	snRNA stem-loop binding
GO:0036487	0.000051	9.886367	0.405465	nitric-oxide synthase inhibitor activity
GO:0042286	0.000051	9.886367	0.405465	glutamate-1-semialdehyde 2,1-aminomutase activity
GO:0042958	0.000051	9.886367	0.405465	maltodextrin transmembrane transporter activity
GO:0043828	0.000051	9.886367	0.405465	tRNA 2-selenouridine synthase activity
GO:0043873	0.000051	9.886367	0.405465	pyruvate-flavodoxin oxidoreductase activity
GO:0044596	0.000051	9.886367	0.405465	3-demethylubiquinol-10 3-O-methyltransferase activity
GO:0045352	0.000051	9.886367	0.405465	interleukin-1 type I receptor antagonist activity
GO:0045353	0.000051	9.886367	0.405465	interleukin-1 type II receptor antagonist activity
GO:0047553	0.000051	9.886367	0.405465	2-oxoglutarate synthase activity
GO:0047651	0.000051	9.886367	0.405465	alkylhalidase activity
GO:0047921	0.000051	9.886367	0.405465	aminoglycoside 2'-N-acetyltransferase activity
GO:0047936	0.000051	9.886367	0.405465	glucose 1-dehydrogenase [NAD(P)] activity
GO:0050619	0.000051	9.886367	0.405465	phytochromobilin:ferredoxin oxidoreductase activity
GO:0051743	0.000051	9.886367	0.405465	red chlorophyll catabolite reductase activity
GO:0052668	0.000051	9.886367	0.405465	farnesol kinase activity
GO:0052670	0.000051	9.886367	0.405465	geraniol kinase activity
GO:0052671	0.000051	9.886367	0.405465	geranylgeraniol kinase activity
GO:0052713	0.000051	9.886367	0.405465	inositol phosphorylceramide phospholipase activity
GO:0052817	0.000051	9.886367	0.405465	very long chain acyl-CoA hydrolase activity
GO:0062064	0.000051	9.886367	0.405465	box C/D snoRNP complex binding
GO:0062065	0.000051	9.886367	0.405465	box H/ACA snoRNP complex binding
GO:0080015	0.000051	9.886367	0.405465	sabinene synthase activity
GO:0080016	0.000051	9.886367	0.405465	(-)-E-beta-caryophyllene synthase activity
GO:0080017	0.000051	9.886367	0.405465	alpha-humulene synthase activity
GO:0097434	0.000051	9.886367	0.405465	succinate:proton symporter activity
GO:0140069	0.000051	9.886367	0.405465	histone butyryltransferase activity
GO:1903875	0.000051	9.886367	0.405465	corticosterone binding
GO:0008480	0.000051	9.886367	0.693147	sarcosine dehydrogenase activity
GO:0008713	0.000051	9.886367	0.693147	ADP-heptose-lipopolysaccharide heptosyltransferase activity
GO:0008908	0.000051	9.886367	0.693147	isochorismatase activity
GO:0010210	0.000051	9.886367	0.693147	IAA-Phe conjugate hydrolase activity
GO:0010211	0.000051	9.886367	0.693147	IAA-Leu conjugate hydrolase activity
GO:0015147	0.000051	9.886367	0.693147	L-arabinose transmembrane transporter activity
GO:0015546	0.000051	9.886367	0.693147	sulfathiazole transmembrane transporter activity
GO:0015552	0.000051	9.886367	0.693147	propionate transmembrane transporter activity
GO:0015576	0.000051	9.886367	0.693147	sorbitol transmembrane transporter activity
GO:0018833	0.000051	9.886367	0.693147	DDT-dehydrochlorinase activity
GO:0019149	0.000051	9.886367	0.693147	3-chloro-D-alanine dehydrochlorinase activity
GO:0019964	0.000051	9.886367	0.693147	interferon-gamma binding
GO:0031713	0.000051	9.886367	0.693147	B2 bradykinin receptor binding
GO:0032067	0.000051	9.886367	0.693147	type IV site-specific deoxyribonuclease activity
GO:0033892	0.000051	9.886367	0.693147	deoxyribonuclease (pyrimidine dimer) activity
GO:0035798	0.000051	9.886367	0.693147	2-alkenal reductase (NADP+) activity
GO:0036105	0.000051	9.886367	0.693147	peroxisome membrane class-1 targeting sequence binding
GO:0042656	0.000051	9.886367	0.693147	JUN kinase kinase kinase kinase activity
GO:0043334	0.000051	9.886367	0.693147	2-hexaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043872	0.000051	9.886367	0.693147	lysine:cadaverine antiporter activity
GO:0045237	0.000051	9.886367	0.693147	CXCR1 chemokine receptor binding
GO:0046526	0.000051	9.886367	0.693147	D-xylulose reductase activity
GO:0047787	0.000051	9.886367	0.693147	delta4-3-oxosteroid 5beta-reductase activity
GO:0061543	0.000051	9.886367	0.693147	3-demethylubiquinol-6 3-O-methyltransferase activity
GO:0061708	0.000051	9.886367	0.693147	tRNA-5-taurinomethyluridine 2-sulfurtransferase
GO:0071967	0.000051	9.886367	0.693147	lipopolysaccharide core heptosyltransferase activity
GO:0080066	0.000051	9.886367	0.693147	3-methylthiopropyl-desulfoglucosinolate sulfotransferase activity
GO:0080067	0.000051	9.886367	0.693147	4-methylthiobutyl-desulfoglucosinolate sulfotransferase activity
GO:0080068	0.000051	9.886367	0.693147	5-methylthiopentyl-desulfoglucosinolate sulfotransferase activity
GO:0080069	0.000051	9.886367	0.693147	7-methylthioheptyl-desulfoglucosinolate sulfotransferase activity
GO:0080070	0.000051	9.886367	0.693147	8-methylthiooctyl-desulfoglucosinolate sulfotransferase activity
GO:0080071	0.000051	9.886367	0.693147	indol-3-yl-methyl-desulfoglucosinolate sulfotransferase activity
GO:0099085	0.000051	9.886367	0.693147	DIF dechlorinase activity
GO:0099119	0.000051	9.886367	0.693147	3-demethylubiquinol-8 3-O-methyltransferase activity
GO:0099567	0.000051	9.886367	0.693147	calcium ion binding involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:1990651	0.000051	9.886367	0.693147	inositol-1,2,4,5,6-pentakisphosphate 5-phosphatase activity
GO:0001861	0.000051	9.886367	0.916291	complement component C4b receptor activity
GO:0002055	0.000051	9.886367	0.916291	adenine binding
GO:0002057	0.000051	9.886367	0.916291	guanine binding
GO:0004319	0.000051	9.886367	0.916291	enoyl-[acyl-carrier-protein] reductase (NADPH, B-specific) activity
GO:0004755	0.000051	9.886367	0.916291	saccharopine dehydrogenase (NADP+, L-glutamate-forming) activity
GO:0004756	0.000051	9.886367	0.916291	selenide, water dikinase activity
GO:0004877	0.000051	9.886367	0.916291	complement component C3b receptor activity
GO:0004933	0.000051	9.886367	0.916291	mating-type a-factor pheromone receptor activity
GO:0005328	0.000051	9.886367	0.916291	neurotransmitter:sodium symporter activity
GO:0005360	0.000051	9.886367	0.916291	insulin-responsive glucose:proton symporter activity
GO:0008770	0.000051	9.886367	0.916291	[acyl-carrier-protein] phosphodiesterase activity
GO:0008986	0.000051	9.886367	0.916291	pyruvate, water dikinase activity
GO:0031626	0.000051	9.886367	0.916291	beta-endorphin binding
GO:0031895	0.000051	9.886367	0.916291	V1B vasopressin receptor binding
GO:0031925	0.000051	9.886367	0.916291	pyridoxal transmembrane transporter activity
GO:0031927	0.000051	9.886367	0.916291	pyridoxamine transmembrane transporter activity
GO:0034417	0.000051	9.886367	0.916291	bisphosphoglycerate 3-phosphatase activity
GO:0035598	0.000051	9.886367	0.916291	N6-threonylcarbomyladenosine methylthiotransferase activity
GO:0035599	0.000051	9.886367	0.916291	aspartic acid methylthiotransferase activity
GO:0036320	0.000051	9.886367	0.916291	mating-type P-factor pheromone receptor activity
GO:0043733	0.000051	9.886367	0.916291	DNA-3-methylbase glycosylase activity
GO:0043916	0.000051	9.886367	0.916291	DNA-7-methylguanine glycosylase activity
GO:0044595	0.000051	9.886367	0.916291	decaprenyldihydroxybenzoate methyltransferase activity
GO:0044603	0.000051	9.886367	0.916291	protein adenylylhydrolase activity
GO:0045435	0.000051	9.886367	0.916291	lycopene epsilon cyclase activity
GO:0045436	0.000051	9.886367	0.916291	lycopene beta cyclase activity
GO:0047131	0.000051	9.886367	0.916291	saccharopine dehydrogenase (NAD+, L-glutamate-forming) activity
GO:0047992	0.000051	9.886367	0.916291	hydroxylysine kinase activity
GO:0050163	0.000051	9.886367	0.916291	oxaloacetate tautomerase activity
GO:0050521	0.000051	9.886367	0.916291	alpha-glucan, water dikinase activity
GO:0051752	0.000051	9.886367	0.916291	phosphoglucan, water dikinase activity
GO:0052737	0.000051	9.886367	0.916291	pyruvate dehydrogenase (quinone) activity
GO:0052820	0.000051	9.886367	0.916291	DNA-1,N6-ethenoadenine N-glycosylase activity
GO:0070038	0.000051	9.886367	0.916291	rRNA (pseudouridine-N3-)-methyltransferase activity
GO:0070524	0.000051	9.886367	0.916291	11-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0072544	0.000051	9.886367	0.916291	L-DOPA binding
GO:0080041	0.000051	9.886367	0.916291	ADP-ribose pyrophosphohydrolase activity
GO:0080042	0.000051	9.886367	0.916291	ADP-glucose pyrophosphohydrolase activity
GO:0086076	0.000051	9.886367	0.916291	gap junction channel activity involved in atrial cardiac muscle cell-AV node cell electrical coupling
GO:0086078	0.000051	9.886367	0.916291	gap junction channel activity involved in bundle of His cell-Purkinje myocyte electrical coupling
GO:0090415	0.000051	9.886367	0.916291	7-hydroxymethyl chlorophyll a reductase activity
GO:0099142	0.000051	9.886367	0.916291	intracellularly ATP-gated ion channel activity
GO:1901480	0.000051	9.886367	0.916291	oleate transmembrane transporter activity
GO:1905574	0.000051	9.886367	0.916291	ganglioside GM2 binding
GO:1905577	0.000051	9.886367	0.916291	ganglioside GP1c binding
GO:1990943	0.000051	9.886367	0.916291	mating type region replication fork barrier binding
GO:0001155	0.000051	9.886367	1.098612	TFIIIA-class transcription factor binding
GO:0004460	0.000051	9.886367	1.098612	L-lactate dehydrogenase (cytochrome) activity
GO:0008493	0.000051	9.886367	1.098612	tetracycline transmembrane transporter activity
GO:0008744	0.000051	9.886367	1.098612	L-xylulokinase activity
GO:0008984	0.000051	9.886367	1.098612	protein-glutamate methylesterase activity
GO:0009022	0.000051	9.886367	1.098612	tRNA nucleotidyltransferase activity
GO:0010296	0.000051	9.886367	1.098612	prenylcysteine methylesterase activity
GO:0019768	0.000051	9.886367	1.098612	high-affinity IgE receptor activity
GO:0019772	0.000051	9.886367	1.098612	low-affinity IgG receptor activity
GO:0030338	0.000051	9.886367	1.098612	CMP-N-acetylneuraminate monooxygenase activity
GO:0036307	0.000051	9.886367	1.098612	23S rRNA (adenine(2030)-N(6))-methyltransferase activity
GO:0036308	0.000051	9.886367	1.098612	16S rRNA (guanine(1516)-N(2))-methyltransferase activity
GO:0038186	0.000051	9.886367	1.098612	lithocholic acid receptor activity
GO:0045015	0.000051	9.886367	1.098612	HDEL sequence binding
GO:0046702	0.000051	9.886367	1.098612	galactoside 6-L-fucosyltransferase activity
GO:0047427	0.000051	9.886367	1.098612	cyanoalanine nitrilase activity
GO:0051505	0.000051	9.886367	1.098612	cholesterol UDP-glucosyltransferase activity
GO:0051506	0.000051	9.886367	1.098612	ergosterol UDP-glucosyltransferase activity
GO:0051508	0.000051	9.886367	1.098612	stigmasterol UDP-glucosyltransferase activity
GO:0051509	0.000051	9.886367	1.098612	tomatidine UDP-glucosyltransferase activity
GO:0052907	0.000051	9.886367	1.098612	23S rRNA (adenine(1618)-N(6))-methyltransferase activity
GO:0052913	0.000051	9.886367	1.098612	16S rRNA (guanine(966)-N(2))-methyltransferase activity
GO:0052914	0.000051	9.886367	1.098612	16S rRNA (guanine(1207)-N(2))-methyltransferase activity
GO:0052916	0.000051	9.886367	1.098612	23S rRNA (guanine(1835)-N(2))-methyltransferase activity
GO:0052927	0.000051	9.886367	1.098612	CTP:tRNA cytidylyltransferase activity
GO:0070027	0.000051	9.886367	1.098612	carbon monoxide sensor activity
GO:0080099	0.000051	9.886367	1.098612	L-methionine:2-oxoglutarate aminotransferase activity
GO:0097358	0.000051	9.886367	1.098612	D-leucyl-tRNA(Leu) deacylase activity
GO:1902118	0.000051	9.886367	1.098612	calcidiol binding
GO:0004078	0.000051	9.886367	1.252763	biotin-[methylcrotonoyl-CoA-carboxylase] ligase activity
GO:0005297	0.000051	9.886367	1.252763	proline:proton symporter activity
GO:0008029	0.000051	9.886367	1.252763	pentraxin receptor activity
GO:0008928	0.000051	9.886367	1.252763	mannose-1-phosphate guanylyltransferase (GDP) activity
GO:0010293	0.000051	9.886367	1.252763	abscisic aldehyde oxidase activity
GO:0010471	0.000051	9.886367	1.252763	GDP-galactose:mannose-1-phosphate guanylyltransferase activity
GO:0030352	0.000051	9.886367	1.252763	inositol-1,4,5,6-tetrakisphosphate 6-phosphatase activity
GO:0031844	0.000051	9.886367	1.252763	type 4 neuropeptide Y receptor binding
GO:0036317	0.000051	9.886367	1.252763	tyrosyl-RNA phosphodiesterase activity
GO:0047058	0.000051	9.886367	1.252763	vitamin-K-epoxide reductase (warfarin-insensitive) activity
GO:0047315	0.000051	9.886367	1.252763	kynurenine-glyoxylate transaminase activity
GO:0050446	0.000051	9.886367	1.252763	azobenzene reductase activity
GO:0052659	0.000051	9.886367	1.252763	inositol-1,3,4,5-tetrakisphosphate 5-phosphatase activity
GO:0052812	0.000051	9.886367	1.252763	phosphatidylinositol-3,4-bisphosphate 5-kinase activity
GO:0071734	0.000051	9.886367	1.252763	biotin-[pyruvate-carboxylase] ligase activity
GO:0086057	0.000051	9.886367	1.252763	voltage-gated calcium channel activity involved in bundle of His cell action potential
GO:0097645	0.000051	9.886367	1.252763	amylin binding
GO:1904928	0.000051	9.886367	1.252763	coreceptor activity involved in canonical Wnt signaling pathway
GO:1990407	0.000051	9.886367	1.252763	calcitonin gene-related peptide binding
GO:1990649	0.000051	9.886367	1.252763	inositol-1,2,4,5-tetrakisphosphate 5-phosphatase activity
GO:1990650	0.000051	9.886367	1.252763	inositol-2,4,5,6-tetrakisphosphate 5-phosphatase activity
GO:0004378	0.000051	9.886367	1.386294	GDP-Man:Man1GlcNAc2-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0004909	0.000051	9.886367	1.386294	interleukin-1, type I, activating receptor activity
GO:0008664	0.000051	9.886367	1.386294	2'-5'-RNA ligase activity
GO:0015052	0.000051	9.886367	1.386294	beta3-adrenergic receptor activity
GO:0031710	0.000051	9.886367	1.386294	neuromedin B receptor binding
GO:0031850	0.000051	9.886367	1.386294	delta-type opioid receptor binding
GO:0032141	0.000051	9.886367	1.386294	single cytosine insertion binding
GO:0032267	0.000051	9.886367	1.386294	tRNA(Ile)-lysidine synthase activity
GO:0034386	0.000051	9.886367	1.386294	4-aminobutyrate:2-oxoglutarate transaminase activity
GO:0051745	0.000051	9.886367	1.386294	4-hydroxy-3-methylbut-2-en-1-yl diphosphate reductase activity
GO:0097627	0.000051	9.886367	1.386294	high-affinity L-ornithine transmembrane transporter activity
GO:0098604	0.000051	9.886367	1.386294	adenosylselenohomocysteinase activity
GO:0004147	0.000051	9.886367	1.504077	dihydrolipoamide branched chain acyltransferase activity
GO:0015045	0.000051	9.886367	1.504077	rubredoxin-NAD(P)+ reductase activity
GO:0015638	0.000051	9.886367	1.504077	microcin transmembrane transporter activity
GO:0022893	0.000051	9.886367	1.504077	low-affinity tryptophan transmembrane transporter activity
GO:0031176	0.000051	9.886367	1.504077	endo-1,4-beta-xylanase activity
GO:0031722	0.000051	9.886367	1.504077	hemoglobin beta binding
GO:0033250	0.000051	9.886367	1.504077	penicillinase activity
GO:0033251	0.000051	9.886367	1.504077	cephalosporinase activity
GO:0033938	0.000051	9.886367	1.504077	1,6-alpha-L-fucosidase activity
GO:0034419	0.000051	9.886367	1.504077	L-2-hydroxyglutarate oxidase activity
GO:0035939	0.000051	9.886367	1.504077	microsatellite binding
GO:0047042	0.000051	9.886367	1.504077	androsterone dehydrogenase (B-specific) activity
GO:0047513	0.000051	9.886367	1.504077	1,2-alpha-L-fucosidase activity
GO:0052590	0.000051	9.886367	1.504077	sn-glycerol-3-phosphate:ubiquinone oxidoreductase activity
GO:0052692	0.000051	9.886367	1.504077	raffinose alpha-galactosidase activity
GO:0052853	0.000051	9.886367	1.504077	long-chain-(S)-2-hydroxy-long-chain-acid oxidase activity
GO:0052906	0.000051	9.886367	1.504077	tRNA (guanine(37)-N(1))-methyltransferase activity
GO:0061923	0.000051	9.886367	1.504077	(2S,3R,6S,9S)-(-)-protoillud-7-ene synthase activity
GO:0070320	0.000051	9.886367	1.504077	inward rectifier potassium channel inhibitor activity
GO:0080098	0.000051	9.886367	1.504077	L-tyrosine:pyruvate aminotransferase activity
GO:0086060	0.000051	9.886367	1.504077	voltage-gated sodium channel activity involved in AV node cell action potential
GO:0086061	0.000051	9.886367	1.504077	voltage-gated sodium channel activity involved in bundle of His cell action potential
GO:0106032	0.000051	9.886367	1.504077	snRNA pseudouridine synthase activity
GO:0120086	0.000051	9.886367	1.504077	(3S)-(+)-asterisca-2(9),6-diene synthase activity
GO:1902557	0.000051	9.886367	1.504077	5'-adenylyl sulfate transmembrane transporter activity
GO:0002083	0.000051	9.886367	1.609438	4-hydroxybenzoate decaprenyltransferase activity
GO:0005043	0.000051	9.886367	1.609438	netrin receptor activity involved in chemorepulsion
GO:0010174	0.000051	9.886367	1.609438	nucleoside transmembrane transporter activity, against a concentration gradient
GO:0010437	0.000051	9.886367	1.609438	9,10 (9', 10')-carotenoid-cleaving dioxygenase activity
GO:0034738	0.000051	9.886367	1.609438	lanosterol O-acyltransferase activity
GO:0036243	0.000051	9.886367	1.609438	succinate-semialdehyde dehydrogenase (NADP+) activity
GO:0036430	0.000051	9.886367	1.609438	CMP kinase activity
GO:0038006	0.000051	9.886367	1.609438	netrin receptor activity involved in chemoattraction
GO:0038147	0.000051	9.886367	1.609438	C-X-C motif chemokine 12 receptor activity
GO:0042658	0.000051	9.886367	1.609438	MHC class II protein binding, via antigen binding groove
GO:0043337	0.000051	9.886367	1.609438	CDP-diacylglycerol-phosphatidylglycerol phosphatidyltransferase activity
GO:0044750	0.000051	9.886367	1.609438	high-affinity nickel cation transmembrane transporter activity
GO:0046428	0.000051	9.886367	1.609438	1,4-dihydroxy-2-naphthoate octaprenyltransferase activity
GO:0047316	0.000051	9.886367	1.609438	glutamine-phenylpyruvate transaminase activity
GO:0047450	0.000051	9.886367	1.609438	crotonoyl-[acyl-carrier-protein] hydratase activity
GO:0047568	0.000051	9.886367	1.609438	3-oxo-5-beta-steroid 4-dehydrogenase activity
GO:0047571	0.000051	9.886367	1.609438	3-oxosteroid 1-dehydrogenase activity
GO:0050267	0.000051	9.886367	1.609438	rubber cis-polyprenylcistransferase activity
GO:0061809	0.000051	9.886367	1.609438	NAD+ nucleotidase, cyclic ADP-ribose generating
GO:0070338	0.000051	9.886367	1.609438	5'-flap-structured DNA binding
GO:0080100	0.000051	9.886367	1.609438	L-glutamine:2-oxoglutarate aminotransferase activity
GO:0089715	0.000051	9.886367	1.609438	tRNA m6t6A37 methyltransferase activity
GO:0090483	0.000051	9.886367	1.609438	phosphatidylglycerol-phosphatidylethanolamine phosphatidyltransferase activity
GO:0097697	0.000051	9.886367	1.609438	tRNA 5-carboxymethoxyuridine methyltransferase activity
GO:0001631	0.000051	9.886367	1.704748	cysteinyl leukotriene receptor activity
GO:0016497	0.000051	9.886367	1.704748	substance K receptor activity
GO:0018545	0.000051	9.886367	1.704748	NAD(P)H nitroreductase activity
GO:0043771	0.000051	9.886367	1.704748	cytidine kinase activity
GO:1990930	0.000051	9.886367	1.704748	RNA N1-methyladenosine dioxygenase activity
GO:0000830	0.000051	9.886367	1.791759	inositol hexakisphosphate 4-kinase activity
GO:0015231	0.000051	9.886367	1.791759	5-formyltetrahydrofolate transmembrane transporter activity
GO:0018771	0.000051	9.886367	1.791759	2-hydroxy-6-oxonona-2,4-dienedioate hydrolase activity
GO:0018773	0.000051	9.886367	1.791759	acetylpyruvate hydrolase activity
GO:0032358	0.000051	9.886367	1.791759	oxidized pyrimidine DNA binding
GO:0034545	0.000051	9.886367	1.791759	fumarylpyruvate hydrolase activity
GO:0034820	0.000051	9.886367	1.791759	4,9-DSHA hydrolase activity
GO:0050646	0.000051	9.886367	1.791759	5-oxo-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050647	0.000051	9.886367	1.791759	5-hydroxy-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050648	0.000051	9.886367	1.791759	5(S)-hydroxyperoxy-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0052723	0.000051	9.886367	1.791759	inositol hexakisphosphate 1-kinase activity
GO:0052724	0.000051	9.886367	1.791759	inositol hexakisphosphate 3-kinase activity
GO:0052823	0.000051	9.886367	1.791759	2-hydroxy-6-oxonona-2,4,7-trienedioate hydrolase activity
GO:0061981	0.000051	9.886367	1.791759	3-hydroxykynureninase activity
GO:0072585	0.000051	9.886367	1.791759	xanthosine nucleotidase activity
GO:1990244	0.000051	9.886367	1.791759	histone kinase activity (H2A-T120 specific)
GO:0001792	0.000051	9.886367	1.871802	polymeric immunoglobulin receptor activity
GO:0004578	0.000051	9.886367	1.871802	chitobiosyldiphosphodolichol beta-mannosyltransferase activity
GO:0004790	0.000051	9.886367	1.871802	thioether S-methyltransferase activity
GO:0005500	0.000051	9.886367	1.871802	juvenile hormone binding
GO:0009905	0.000051	9.886367	1.871802	ent-copalyl diphosphate synthase activity
GO:0015568	0.000051	9.886367	1.871802	L-idonate transmembrane transporter activity
GO:0019766	0.000051	9.886367	1.871802	IgA receptor activity
GO:0030385	0.000051	9.886367	1.871802	ferredoxin:thioredoxin reductase activity
GO:0032441	0.000051	9.886367	1.871802	pheophorbide a oxygenase activity
GO:0032942	0.000051	9.886367	1.871802	inositol tetrakisphosphate 2-kinase activity
GO:0043829	0.000051	9.886367	1.871802	tRNA-specific adenosine-37 deaminase activity
GO:0044022	0.000051	9.886367	1.871802	histone kinase activity (H3-S28 specific)
GO:0044025	0.000051	9.886367	1.871802	histone kinase activity (H2B-S14 specific)
GO:0047259	0.000051	9.886367	1.871802	glucomannan 4-beta-mannosyltransferase activity
GO:0072371	0.000051	9.886367	1.871802	histone kinase activity (H2A-S121 specific)
GO:0086087	0.000051	9.886367	1.871802	voltage-gated potassium channel activity involved in bundle of His cell action potential repolarization
GO:0086090	0.000051	9.886367	1.871802	voltage-gated potassium channel activity involved in SA node cell action potential repolarization
GO:1901974	0.000051	9.886367	1.871802	glycerate transmembrane transporter activity
GO:1904593	0.000051	9.886367	1.871802	prostaglandin binding
GO:0010491	0.000051	9.886367	1.945910	UTP:arabinose-1-phosphate uridylyltransferase activity
GO:0016596	0.000051	9.886367	1.945910	thienylcyclohexylpiperidine binding
GO:0017103	0.000051	9.886367	1.945910	UTP:galactose-1-phosphate uridylyltransferase activity
GO:0018169	0.000051	9.886367	1.945910	ribosomal S6-glutamic acid ligase activity
GO:0018729	0.000051	9.886367	1.945910	propionate CoA-transferase activity
GO:0031723	0.000051	9.886367	1.945910	CXCR4 chemokine receptor binding
GO:0033608	0.000051	9.886367	1.945910	formyl-CoA transferase activity
GO:0034590	0.000051	9.886367	1.945910	L-hydroxyproline transmembrane transporter activity
GO:0036412	0.000051	9.886367	1.945910	acetyl-CoA:oxalate CoA-transferase
GO:0043821	0.000051	9.886367	1.945910	propionyl-CoA:succinate CoA-transferase activity
GO:0047338	0.000051	9.886367	1.945910	UTP:xylose-1-phosphate uridylyltransferase activity
GO:0047369	0.000051	9.886367	1.945910	succinate-hydroxymethylglutarate CoA-transferase activity
GO:0052794	0.000051	9.886367	1.945910	exo-alpha-(2->3)-sialidase activity
GO:0052833	0.000051	9.886367	1.945910	inositol monophosphate 4-phosphatase activity
GO:0140347	0.000051	9.886367	1.945910	N-retinylidene-phosphatidylethanolamine flippase activity
GO:0140348	0.000051	9.886367	1.945910	lysophosphatidylcholine flippase activity
GO:0008788	0.000051	9.886367	2.014903	alpha,alpha-phosphotrehalase activity
GO:0031799	0.000051	9.886367	2.014903	type 2 metabotropic glutamate receptor binding
GO:0035715	0.000051	9.886367	2.014903	chemokine (C-C motif) ligand 2 binding
GO:0035716	0.000051	9.886367	2.014903	chemokine (C-C motif) ligand 12 binding
GO:0035757	0.000051	9.886367	2.014903	chemokine (C-C motif) ligand 19 binding
GO:0035758	0.000051	9.886367	2.014903	chemokine (C-C motif) ligand 21 binding
GO:0061840	0.000051	9.886367	2.014903	high-affinity ferrous iron transmembrane transporter activity
GO:0106142	0.000051	9.886367	2.014903	rRNA (adenine-N1-)-methyltransferase activity
GO:0015344	0.000051	9.886367	2.079442	siderophore uptake transmembrane transporter activity
GO:0016871	0.000051	9.886367	2.079442	cycloartenol synthase activity
GO:0034074	0.000051	9.886367	2.079442	marneral synthase activity
GO:0034075	0.000051	9.886367	2.079442	arabidiol synthase activity
GO:0036326	0.000051	9.886367	2.079442	VEGF-A-activated receptor activity
GO:0036327	0.000051	9.886367	2.079442	VEGF-B-activated receptor activity
GO:0036328	0.000051	9.886367	2.079442	VEGF-C-activated receptor activity
GO:0046817	0.000051	9.886367	2.079442	chemokine receptor antagonist activity
GO:0051746	0.000051	9.886367	2.079442	thalianol synthase activity
GO:0080011	0.000051	9.886367	2.079442	baruol synthase activity
GO:0090564	0.000051	9.886367	2.079442	protein-phosphocysteine-glucose phosphotransferase system transporter activity
GO:0090565	0.000051	9.886367	2.079442	protein-phosphocysteine-mannitol phosphotransferase system transporter activity
GO:0090581	0.000051	9.886367	2.079442	protein-phosphocysteine-mannosylglycerate-phosphotransferase system transporter activity
GO:0090582	0.000051	9.886367	2.079442	protein-phosphocysteine-D-fructose-phosphotransferase system transporter activity
GO:0090586	0.000051	9.886367	2.079442	protein-phosphocysteine-N-acetylglucosamine phosphotransferase system transporter activity
GO:0090588	0.000051	9.886367	2.079442	protein-phosphocysteine-N-acetylmuramate phosphotransferase system transporter activity
GO:0090589	0.000051	9.886367	2.079442	protein-phosphocysteine-trehalose phosphotransferase system transporter activity
GO:0004136	0.000051	9.886367	2.140066	deoxyadenosine kinase activity
GO:0004732	0.000051	9.886367	2.140066	pyridoxal oxidase activity
GO:0008726	0.000051	9.886367	2.140066	alkanesulfonate monooxygenase activity
GO:0008998	0.000051	9.886367	2.140066	ribonucleoside-triphosphate reductase activity
GO:0015473	0.000051	9.886367	2.140066	fimbrial usher porin activity
GO:0018114	0.000051	9.886367	2.140066	threonine racemase activity
GO:0030273	0.000051	9.886367	2.140066	melanin-concentrating hormone receptor activity
GO:0035472	0.000051	9.886367	2.140066	choriogonadotropin hormone receptor activity
GO:0050250	0.000051	9.886367	2.140066	retinal oxidase activity
GO:0062047	0.000051	9.886367	2.140066	pipecolic acid N-hydroxylase
GO:0070281	0.000051	9.886367	2.140066	pyridoxamine binding
GO:0008096	0.000051	9.886367	2.197225	juvenile hormone epoxide hydrolase activity
GO:0015124	0.000051	9.886367	2.197225	allantoate transmembrane transporter activity
GO:0019118	0.000051	9.886367	2.197225	phenanthrene-epoxide hydrolase activity
GO:0038048	0.000051	9.886367	2.197225	dynorphin receptor activity
GO:1901604	0.000051	9.886367	2.197225	dethiobiotin transmembrane transporter activity
GO:0008012	0.000051	9.886367	2.251292	structural constituent of adult chitin-based cuticle
GO:0008890	0.000051	9.886367	2.251292	glycine C-acetyltransferase activity
GO:0035642	0.000051	9.886367	2.251292	histone methyltransferase activity (H3-R17 specific)
GO:0070612	0.000051	9.886367	2.251292	histone methyltransferase activity (H2A-R3 specific)
GO:0004572	0.000051	9.886367	2.302585	mannosyl-oligosaccharide 1,3-1,6-alpha-mannosidase activity
GO:0008983	0.000051	9.886367	2.302585	protein-glutamate O-methyltransferase activity
GO:0038117	0.000051	9.886367	2.302585	C-C motif chemokine 19 receptor activity
GO:0038121	0.000051	9.886367	2.302585	C-C motif chemokine 21 receptor activity
GO:0052767	0.000051	9.886367	2.302585	mannosyl-oligosaccharide 1,6-alpha-mannosidase activity
GO:0097507	0.000051	9.886367	2.302585	hypoxanthine DNA N-glycosylase activity
GO:0097508	0.000051	9.886367	2.302585	xanthine DNA N-glycosylase activity
GO:0097509	0.000051	9.886367	2.302585	oxanine DNA N-glycosylase activity
GO:1990583	0.000051	9.886367	2.302585	phospholipase D activator activity
GO:0032866	0.000051	9.886367	2.351375	D-xylose:NADP reductase activity
GO:0050479	0.000051	9.886367	2.351375	glyceryl-ether monooxygenase activity
GO:0051432	0.000051	9.886367	2.351375	BH1 domain binding
GO:0051433	0.000051	9.886367	2.351375	BH2 domain binding
GO:0051435	0.000051	9.886367	2.351375	BH4 domain binding
GO:0052918	0.000051	9.886367	2.351375	dol-P-Man:Man(8)GlcNAc(2)-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0052926	0.000051	9.886367	2.351375	dol-P-Man:Man(6)GlcNAc(2)-PP-Dol alpha-1,2-mannosyltransferase activity
GO:1904162	0.000051	9.886367	2.351375	5'-3' exodeoxyribonuclease activity involved in UV-damage excision repair
GO:1990119	0.000051	9.886367	2.351375	ATP-dependent RNA helicase inhibitor activity
GO:1990915	0.000051	9.886367	2.351375	structural constituent of ascospore wall
GO:0005219	0.000051	9.886367	2.397895	ryanodine-sensitive calcium-release channel activity
GO:0031220	0.000051	9.886367	2.397895	maltodextrin phosphorylase activity
GO:0035885	0.000051	9.886367	2.397895	exochitinase activity
GO:0110068	0.000051	9.886367	2.397895	glucosylglycerate phosphorylase activity
GO:1901707	0.000051	9.886367	2.397895	leptomycin B binding
GO:1990400	0.000051	9.886367	2.397895	mitochondrial ribosomal large subunit rRNA binding
GO:0015575	0.000051	9.886367	2.442347	mannitol transmembrane transporter activity
GO:0043849	0.000051	9.886367	2.442347	Ras palmitoyltransferase activity
GO:0047223	0.000051	9.886367	2.442347	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047225	0.000051	9.886367	2.442347	acetylgalactosaminyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0052829	0.000051	9.886367	2.442347	inositol-1,3,4-trisphosphate 1-phosphatase activity
GO:0097005	0.000051	9.886367	2.442347	adipokinetic hormone receptor binding
GO:1990640	0.000051	9.886367	2.442347	inositol-2,4,5-triphosphate 5-phosphatase activity
GO:1990648	0.000051	9.886367	2.442347	inositol-4,5,6-triphosphate 5-phosphatase activity
GO:0008820	0.000051	9.886367	2.484907	cobinamide phosphate guanylyltransferase activity
GO:0010472	0.000051	9.886367	2.484907	GDP-galactose:glucose-1-phosphate guanylyltransferase activity
GO:0010473	0.000051	9.886367	2.484907	GDP-galactose:myoinositol-1-phosphate guanylyltransferase activity
GO:0010474	0.000051	9.886367	2.484907	glucose-1-phosphate guanylyltransferase (GDP) activity
GO:0010852	0.000051	9.886367	2.484907	cyclase inhibitor activity
GO:0031695	0.000051	9.886367	2.484907	alpha-2B adrenergic receptor binding
GO:0032428	0.000051	9.886367	2.484907	beta-N-acetylgalactosaminidase activity
GO:0043814	0.000051	9.886367	2.484907	phospholactate guanylyltransferase activity
GO:0050131	0.000051	9.886367	2.484907	N-methyl-L-amino-acid oxidase activity
GO:0051698	0.000051	9.886367	2.484907	saccharopine oxidase activity
GO:0051699	0.000051	9.886367	2.484907	proline oxidase activity
GO:0052904	0.000051	9.886367	2.484907	N1-acetylspermidine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0061603	0.000051	9.886367	2.484907	molybdenum cofactor guanylyltransferase activity
GO:1990534	0.000051	9.886367	2.484907	thermospermine oxidase activity
GO:0008980	0.000051	9.886367	2.525729	propionate kinase activity
GO:0016995	0.000051	9.886367	2.525729	cholesterol oxidase activity
GO:0033963	0.000051	9.886367	2.525729	cholesterol-5,6-oxide hydrolase activity
GO:0045480	0.000051	9.886367	2.525729	galactose oxidase activity
GO:0047875	0.000051	9.886367	2.525729	ecdysone oxidase activity
GO:0047977	0.000051	9.886367	2.525729	hepoxilin-epoxide hydrolase activity
GO:0086037	0.000051	9.886367	2.525729	sodium:potassium-exchanging ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0150025	0.000051	9.886367	2.525729	oxidised low-density lipoprotein particle receptor activity
GO:1901973	0.000051	9.886367	2.525729	proline binding
GO:0008098	0.000051	9.886367	2.564949	5S rRNA primary transcript binding
GO:0016937	0.000051	9.886367	2.564949	short-branched-chain-acyl-CoA dehydrogenase activity
GO:0034024	0.000051	9.886367	2.564949	glutamate-putrescine ligase activity
GO:0035446	0.000051	9.886367	2.564949	cysteine-glucosaminylinositol ligase activity
GO:0043906	0.000051	9.886367	2.564949	Ala-tRNA(Pro) hydrolase activity
GO:0043907	0.000051	9.886367	2.564949	Cys-tRNA(Pro) hydrolase activity
GO:0047479	0.000051	9.886367	2.564949	trypanothione synthase activity
GO:0061929	0.000051	9.886367	2.564949	gamma-glutamylaminecyclotransferase activity
GO:0043993	0.000051	9.886367	2.602690	histone acetyltransferase activity (H3-K18 specific)
GO:0044016	0.000051	9.886367	2.602690	histone acetyltransferase activity (H3-K4 specific)
GO:1990190	0.000051	9.886367	2.602690	peptide-glutamate-N-acetyltransferase activity
GO:0001856	0.000051	9.886367	2.639057	complement component C5a binding
GO:0022894	0.000051	9.886367	2.639057	Intermediate conductance calcium-activated potassium channel activity
GO:0052886	0.000051	9.886367	2.639057	9,9'-dicis-carotene:quinone oxidoreductase activity
GO:0070539	0.000051	9.886367	2.639057	linoleic acid binding
GO:0090417	0.000051	9.886367	2.639057	N-methylnicotinate transmembrane transporter activity
GO:0070892	0.000051	9.886367	2.674149	lipoteichoic acid immune receptor activity
GO:0035485	0.000051	9.886367	2.708050	adenine/guanine mispair binding
GO:0035486	0.000051	9.886367	2.708050	cytosine/cytosine mispair binding
GO:0035487	0.000051	9.886367	2.708050	thymine/thymine mispair binding
GO:0035488	0.000051	9.886367	2.708050	cytosine/thymine mispair binding
GO:0046553	0.000051	9.886367	2.708050	D-malate dehydrogenase (decarboxylating) activity
GO:0046554	0.000051	9.886367	2.708050	malate dehydrogenase (NADP+) activity
GO:0008797	0.000051	9.886367	2.740840	aspartate ammonia-lyase activity
GO:0008838	0.000051	9.886367	2.740840	diaminopropionate ammonia-lyase activity
GO:0030848	0.000051	9.886367	2.740840	threo-3-hydroxyaspartate ammonia-lyase activity
GO:0009046	0.000051	9.886367	2.772589	zinc D-Ala-D-Ala carboxypeptidase activity
GO:0033787	0.000051	9.886367	2.772589	cyanocobalamin reductase (cyanide-eliminating) activity
GO:0050444	0.000051	9.886367	2.772589	aquacobalamin reductase (NADPH) activity
GO:0050513	0.000051	9.886367	2.772589	glycoprotein 2-beta-D-xylosyltransferase activity
GO:0061473	0.000051	9.886367	2.772589	murein tripeptide carboxypeptidase activity
GO:0120053	0.000051	9.886367	2.772589	ribitol beta-1,4-xylosyltransferase activity
GO:1990601	0.000051	9.886367	2.772589	5' overhang single-stranded DNA endodeoxyribonuclease activity
GO:0000401	0.000051	9.886367	2.803360	open form four-way junction DNA binding
GO:0001095	0.000051	9.886367	2.803360	TFIIE-class transcription factor complex binding
GO:0033830	0.000051	9.886367	2.803360	Skp1-protein-hydroxyproline N-acetylglucosaminyltransferase activity
GO:0034002	0.000051	9.886367	2.803360	(R)-limonene synthase activity
GO:0048031	0.000051	9.886367	2.803360	trisaccharide binding
GO:0050439	0.000051	9.886367	2.803360	2-hydroxy-3-oxoadipate synthase activity
GO:0050550	0.000051	9.886367	2.803360	pinene synthase activity
GO:0050552	0.000051	9.886367	2.803360	(4S)-limonene synthase activity
GO:0061627	0.000051	9.886367	2.803360	S-methylmethionine-homocysteine S-methyltransferase activity
GO:0070204	0.000051	9.886367	2.803360	2-succinyl-5-enolpyruvyl-6-hydroxy-3-cyclohexene-1-carboxylic-acid synthase activity
GO:0106100	0.000051	9.886367	2.803360	beta-pinacene synthase activity
GO:2001071	0.000051	9.886367	2.803360	maltoheptaose binding
GO:0015155	0.000051	9.886367	2.833213	lactose transmembrane transporter activity
GO:0015156	0.000051	9.886367	2.833213	melibiose transmembrane transporter activity
GO:0043737	0.000051	9.886367	2.833213	deoxyribonuclease V activity
GO:0086040	0.000051	9.886367	2.833213	sodium:proton antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0120226	0.000051	9.886367	2.833213	succinyl-CoA binding
GO:0000319	0.000051	9.886367	2.862201	sulfite transmembrane transporter activity
GO:0001587	0.000051	9.886367	2.862201	Gq/11-coupled serotonin receptor activity
GO:0008662	0.000051	9.886367	2.862201	1-phosphofructokinase activity
GO:0004787	0.000051	9.886367	2.890372	thiamine-pyrophosphatase activity
GO:0036384	0.000051	9.886367	2.890372	cytidine diphosphatase activity
GO:0044717	0.000051	9.886367	2.890372	8-hydroxy-dADP phosphatase activity
GO:0140339	0.000051	9.886367	2.890372	phosphatidylglycerol transfer activity
GO:1905059	0.000051	9.886367	2.890372	calcium-transporting ATPase activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0099619	0.000051	9.886367	2.917771	UDP-4-amino-4-deoxy-L-arabinose formyltransferase activity
GO:0004569	0.000051	9.886367	2.944439	glycoprotein endo-alpha-1,2-mannosidase activity
GO:0008914	0.000051	9.886367	2.944439	leucyltransferase activity
GO:0010301	0.000051	9.886367	2.944439	xanthoxin dehydrogenase activity
GO:0015089	0.000051	9.886367	2.944439	high-affinity copper ion transmembrane transporter activity
GO:0052868	0.000051	9.886367	2.944439	protein-lysine lysyltransferase activity
GO:0072541	0.000051	9.886367	2.944439	peroxynitrite reductase activity
GO:0016275	0.000051	9.886367	2.970414	[cytochrome c]-arginine N-methyltransferase activity
GO:0016309	0.000051	9.886367	2.970414	1-phosphatidylinositol-5-phosphate 4-kinase activity
GO:0019702	0.000051	9.886367	2.970414	protein-arginine N5-methyltransferase activity
GO:0036217	0.000051	9.886367	2.970414	dGTP diphosphatase activity
GO:0052811	0.000051	9.886367	2.970414	1-phosphatidylinositol-3-phosphate 4-kinase activity
GO:0008701	0.000051	9.886367	2.995732	4-hydroxy-2-oxovalerate aldolase activity
GO:0047443	0.000051	9.886367	2.995732	4-hydroxy-4-methyl-2-oxoglutarate aldolase activity
GO:0052810	0.000051	9.886367	2.995732	1-phosphatidylinositol-5-kinase activity
GO:0106009	0.000051	9.886367	2.995732	(4S)-4-hydroxy-2-oxoglutarate aldolase activity
GO:0044653	0.000051	9.886367	3.020425	dextrin alpha-glucosidase activity
GO:0046568	0.000051	9.886367	3.020425	3-methylbutanol:NAD(P) oxidoreductase activity
GO:1904492	0.000051	9.886367	3.020425	Ac-Asp-Glu binding
GO:0034017	0.000051	9.886367	3.044522	trans-2-decenoyl-acyl-carrier-protein isomerase activity
GO:0051750	0.000051	9.886367	3.044522	delta3,5-delta2,4-dienoyl-CoA isomerase activity
GO:1901584	0.000051	9.886367	3.044522	tetrapeptide transmembrane transporter activity
GO:0016495	0.000051	9.886367	3.068053	C-X3-C chemokine receptor activity
GO:0047349	0.000051	9.886367	3.068053	D-ribitol-5-phosphate cytidylyltransferase activity
GO:0061602	0.000051	9.886367	3.068053	molybdenum cofactor cytidylyltransferase activity
GO:0009015	0.000051	9.886367	3.091042	N-succinylarginine dihydrolase activity
GO:0018756	0.000051	9.886367	3.091042	ammeline aminohydrolase activity
GO:0047632	0.000051	9.886367	3.091042	agmatine deiminase activity
GO:0050418	0.000051	9.886367	3.091042	hydroxylamine reductase activity
GO:0008957	0.000051	9.886367	3.113515	phenylacetaldehyde dehydrogenase activity
GO:0015130	0.000051	9.886367	3.113515	mevalonate transmembrane transporter activity
GO:0015530	0.000051	9.886367	3.113515	shikimate transmembrane transporter activity
GO:0018484	0.000051	9.886367	3.113515	4-hydroxybenzaldehyde dehydrogenase activity
GO:0047106	0.000051	9.886367	3.113515	4-hydroxyphenylacetaldehyde dehydrogenase activity
GO:0050061	0.000051	9.886367	3.113515	long-chain-aldehyde dehydrogenase activity
GO:0050569	0.000051	9.886367	3.113515	glycolaldehyde dehydrogenase activity
GO:0052814	0.000051	9.886367	3.113515	medium-chain-aldehyde dehydrogenase activity
GO:0097573	0.000051	9.886367	3.113515	glutathione oxidoreductase activity
GO:0003944	0.000051	9.886367	3.135494	N-acetylglucosamine-1-phosphodiester alpha-N-acetylglucosaminidase activity
GO:0004082	0.000051	9.886367	3.135494	bisphosphoglycerate mutase activity
GO:0004561	0.000051	9.886367	3.135494	alpha-N-acetylglucosaminidase activity
GO:0008456	0.000051	9.886367	3.135494	alpha-N-acetylgalactosaminidase activity
GO:0008966	0.000051	9.886367	3.135494	phosphoglucosamine mutase activity
GO:0008968	0.000051	9.886367	3.135494	D-sedoheptulose 7-phosphate isomerase activity
GO:0050224	0.000051	9.886367	3.135494	prunasin beta-glucosidase activity
GO:0051993	0.000051	9.886367	3.135494	abscisic acid glucose ester beta-glucosidase activity
GO:0080081	0.000051	9.886367	3.135494	4-methylumbelliferyl-beta-D-glucopyranoside beta-glucosidase activity
GO:0080082	0.000051	9.886367	3.135494	esculin beta-glucosidase activity
GO:0009815	0.000051	9.886367	3.157000	1-aminocyclopropane-1-carboxylate oxidase activity
GO:0016677	0.000051	9.886367	3.157000	oxidoreductase activity, acting on a heme group of donors, nitrogenous group as acceptor
GO:0047726	0.000051	9.886367	3.157000	iron-cytochrome-c reductase activity
GO:0050451	0.000051	9.886367	3.157000	CoA-disulfide reductase activity
GO:0097621	0.000051	9.886367	3.157000	monoamine oxidase activity
GO:0004461	0.000051	9.886367	3.178054	lactose synthase activity
GO:0004513	0.000051	9.886367	3.178054	neolactotetraosylceramide alpha-2,3-sialyltransferase activity
GO:0010348	0.000051	9.886367	3.178054	lithium:proton antiporter activity
GO:0010488	0.000051	9.886367	3.178054	UDP-galactose:N-glycan beta-1,3-galactosyltransferase activity
GO:0035496	0.000051	9.886367	3.178054	lipopolysaccharide-1,5-galactosyltransferase activity
GO:0046509	0.000051	9.886367	3.178054	1,2-diacylglycerol 3-beta-galactosyltransferase activity
GO:0047263	0.000051	9.886367	3.178054	N-acylsphingosine galactosyltransferase activity
GO:0047276	0.000051	9.886367	3.178054	N-acetyllactosaminide 3-alpha-galactosyltransferase activity
GO:0047350	0.000051	9.886367	3.178054	glucuronate-1-phosphate uridylyltransferase activity
GO:0050512	0.000051	9.886367	3.178054	lactosylceramide 4-alpha-galactosyltransferase activity
GO:0052798	0.000051	9.886367	3.178054	beta-galactoside alpha-2,3-sialyltransferase activity
GO:0030366	0.000051	9.886367	3.218876	molybdopterin synthase activity
GO:0047386	0.000051	9.886367	3.218876	fructose-2,6-bisphosphate 6-phosphatase activity
GO:0050337	0.000051	9.886367	3.218876	thiosulfate-thiol sulfurtransferase activity
GO:0070456	0.000051	9.886367	3.218876	galactose-1-phosphate phosphatase activity
GO:0008811	0.000051	9.886367	3.238678	chloramphenicol O-acetyltransferase activity
GO:0008870	0.000051	9.886367	3.238678	galactoside O-acetyltransferase activity
GO:0008925	0.000051	9.886367	3.238678	maltose O-acetyltransferase activity
GO:0010327	0.000051	9.886367	3.238678	acetyl CoA:(Z)-3-hexen-1-ol acetyltransferase activity
GO:0045462	0.000051	9.886367	3.238678	trichothecene 3-O-acetyltransferase activity
GO:0046990	0.000051	9.886367	3.238678	N-hydroxyarylamine O-acetyltransferase activity
GO:0047186	0.000051	9.886367	3.238678	N-acetylneuraminate 7-O(or 9-O)-acetyltransferase activity
GO:0001567	0.000051	9.886367	3.258097	cholesterol 25-hydroxylase activity
GO:0004501	0.000051	9.886367	3.258097	ecdysone 20-monooxygenase activity
GO:0008387	0.000051	9.886367	3.258097	steroid 7-alpha-hydroxylase activity
GO:0008712	0.000051	9.886367	3.258097	ADP-glyceromanno-heptose 6-epimerase activity
GO:0015503	0.000051	9.886367	3.258097	glutathione-regulated potassium exporter activity
GO:0034015	0.000051	9.886367	3.258097	L-ribulose-5-phosphate 3-epimerase activity
GO:0034700	0.000051	9.886367	3.258097	allulose 6-phosphate 3-epimerase activity
GO:0036373	0.000051	9.886367	3.258097	L-fucose mutarotase activity
GO:0047938	0.000051	9.886367	3.258097	glucose-6-phosphate 1-epimerase activity
GO:0050378	0.000051	9.886367	3.258097	UDP-glucuronate 4-epimerase activity
GO:0050379	0.000051	9.886367	3.258097	UDP-glucuronate 5'-epimerase activity
GO:0004446	0.000051	9.886367	3.295837	inositol-hexakisphosphate phosphatase activity
GO:0008672	0.000051	9.886367	3.295837	2-dehydro-3-deoxyglucarate aldolase activity
GO:0008674	0.000051	9.886367	3.295837	2-dehydro-3-deoxy-6-phosphogalactonate aldolase activity
GO:0008675	0.000051	9.886367	3.295837	2-dehydro-3-deoxy-phosphogluconate aldolase activity
GO:0008994	0.000051	9.886367	3.295837	rhamnulose-1-phosphate aldolase activity
GO:0033039	0.000051	9.886367	3.295837	salty taste receptor activity
GO:0033814	0.000051	9.886367	3.295837	propanoyl-CoA C-acyltransferase activity
GO:0046593	0.000051	9.886367	3.295837	mandelonitrile lyase activity
GO:0047440	0.000051	9.886367	3.295837	2-dehydro-3-deoxy-D-pentonate aldolase activity
GO:0050179	0.000051	9.886367	3.295837	phenylserine aldolase activity
GO:0061595	0.000051	9.886367	3.295837	6-deoxy-6-sulfofructose-1-phosphate aldolase activity
GO:0101012	0.000051	9.886367	3.295837	inositol 1,5-bisdiphosphate 2,3,4,6-tetrakisphosphate 1-diphosphatase activity
GO:0106099	0.000051	9.886367	3.295837	2-keto-3-deoxy-L-rhamnonate aldolase activity
GO:0004597	0.000051	9.886367	3.314186	peptide-aspartate beta-dioxygenase activity
GO:0030233	0.000051	9.886367	3.314186	deoxynucleotide transmembrane transporter activity
GO:0036139	0.000051	9.886367	3.314186	peptidyl-histidine dioxygenase activity
GO:0036140	0.000051	9.886367	3.314186	peptidyl-asparagine 3-dioxygenase activity
GO:1902944	0.000051	9.886367	3.314186	aspartic-type endopeptidase activity involved in amyloid precursor protein catabolic process
GO:0050269	0.000051	9.886367	3.332205	coniferyl-aldehyde dehydrogenase activity
GO:0044378	0.000051	9.886367	3.349904	non-sequence-specific DNA binding, bending
GO:0097625	0.000051	9.886367	3.349904	low-affinity basic amino acid transmembrane transporter activity
GO:0008929	0.000051	9.886367	3.367296	methylglyoxal synthase activity
GO:0019969	0.000051	9.886367	3.367296	interleukin-10 binding
GO:0019978	0.000051	9.886367	3.367296	interleukin-3 binding
GO:0019979	0.000051	9.886367	3.367296	interleukin-4 binding
GO:0019983	0.000051	9.886367	3.367296	interleukin-9 binding
GO:0034008	0.000051	9.886367	3.367296	R-linalool synthase activity
GO:0047022	0.000051	9.886367	3.367296	7-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0050459	0.000051	9.886367	3.367296	ethanolamine-phosphate phospho-lyase activity
GO:0102878	0.000051	9.886367	3.367296	(+)-alpha-barbatene synthase activity
GO:0102879	0.000051	9.886367	3.367296	(+)-thujopsene synthase activity
GO:0008255	0.000051	9.886367	3.384390	ecdysis-triggering hormone activity
GO:0018445	0.000051	9.886367	3.384390	prothoracicotrophic hormone activity
GO:0047273	0.000051	9.886367	3.384390	galactosylgalactosylglucosylceramide beta-D-acetylgalactosaminyltransferase activity
GO:0047277	0.000051	9.886367	3.384390	globoside alpha-N-acetylgalactosaminyltransferase activity
GO:0050627	0.000051	9.886367	3.384390	mycothione reductase activity
GO:0051264	0.000051	9.886367	3.384390	mono-olein transacylation activity
GO:0051265	0.000051	9.886367	3.384390	diolein transacylation activity
GO:0090434	0.000051	9.886367	3.384390	oleoyl-CoA ligase activity
GO:0008697	0.000051	9.886367	3.401197	4-deoxy-L-threo-5-hexosulose-uronate ketol-isomerase activity
GO:0008733	0.000051	9.886367	3.401197	L-arabinose isomerase activity
GO:0008736	0.000051	9.886367	3.401197	L-fucose isomerase activity
GO:0008740	0.000051	9.886367	3.401197	L-rhamnose isomerase activity
GO:0008786	0.000051	9.886367	3.401197	allose 6-phosphate isomerase activity
GO:0008790	0.000051	9.886367	3.401197	arabinose isomerase activity
GO:0008903	0.000051	9.886367	3.401197	hydroxypyruvate isomerase activity
GO:0009045	0.000051	9.886367	3.401197	xylose isomerase activity
GO:0034479	0.000051	9.886367	3.401197	phosphatidylglycerol phospholipase C activity
GO:0050089	0.000051	9.886367	3.401197	mannose isomerase activity
GO:0050429	0.000051	9.886367	3.401197	calcium-dependent phospholipase C activity
GO:0033882	0.000051	9.886367	3.417727	choloyl-CoA hydrolase activity
GO:0047994	0.000051	9.886367	3.417727	hydroxymethylglutaryl-CoA hydrolase activity
GO:0061522	0.000051	9.886367	3.417727	1,4-dihydroxy-2-naphthoyl-CoA thioesterase activity
GO:0004808	0.000051	9.886367	3.433987	tRNA (5-methylaminomethyl-2-thiouridylate)-methyltransferase activity
GO:0030624	0.000051	9.886367	3.433987	U6atac snRNA binding
GO:0030626	0.000051	9.886367	3.433987	U12 snRNA binding
GO:0044730	0.000051	9.886367	3.433987	bone sialoprotein binding
GO:0033958	0.000051	9.886367	3.449988	DNA-deoxyinosine glycosylase activity
GO:0061768	0.000051	9.886367	3.449988	magnesium:sodium antiporter activity
GO:0140443	0.000051	9.886367	3.449988	mitochondrion-plasma membrane adaptor activity
GO:0140449	0.000051	9.886367	3.449988	centromere-nuclear envelope anchor activity
GO:1990919	0.000051	9.886367	3.449988	proteasome-nuclear membrane anchor activity
GO:0008752	0.000051	9.886367	3.465736	FMN reductase activity
GO:0010349	0.000051	9.886367	3.465736	L-galactose dehydrogenase activity
GO:0033745	0.000051	9.886367	3.465736	L-methionine-(R)-S-oxide reductase activity
GO:0043866	0.000051	9.886367	3.465736	adenylyl-sulfate reductase (thioredoxin) activity
GO:0047127	0.000051	9.886367	3.465736	thiomorpholine-carboxylate dehydrogenase activity
GO:0052875	0.000051	9.886367	3.465736	riboflavin reductase (NADH) activity
GO:0062046	0.000051	9.886367	3.465736	dehydropipecolic acid reductase
GO:0071172	0.000051	9.886367	3.465736	dihydromonapterin reductase activity
GO:0140108	0.000051	9.886367	3.481240	high-affinity glucose transmembrane transporter activity
GO:0008852	0.000051	9.886367	3.496508	exodeoxyribonuclease I activity
GO:0008853	0.000051	9.886367	3.496508	exodeoxyribonuclease III activity
GO:0008855	0.000051	9.886367	3.496508	exodeoxyribonuclease VII activity
GO:0140442	0.000051	9.886367	3.496508	peroxide sensor activity
GO:0033799	0.000051	9.886367	3.511545	myricetin 3'-O-methyltransferase activity
GO:0046406	0.000051	9.886367	3.511545	magnesium protoporphyrin IX methyltransferase activity
GO:0000007	0.000051	9.886367	3.526361	low-affinity zinc ion transmembrane transporter activity
GO:0017130	0.000051	9.886367	3.526361	poly(C) RNA binding
GO:0018826	0.000051	9.886367	3.526361	methionine gamma-lyase activity
GO:0043768	0.000051	9.886367	3.526361	S-ribosylhomocysteine lyase activity
GO:0080108	0.000051	9.886367	3.526361	S-alkylthiohydroximate lyase activity
GO:1990411	0.000051	9.886367	3.526361	hercynylcysteine sulfoxide lyase activity (ergothioneine-forming)
GO:1990412	0.000051	9.886367	3.526361	hercynylselenocysteine lyase activity (selenoneine-forming)
GO:0010012	0.000051	9.886367	3.540959	steroid 22-alpha hydroxylase activity
GO:0035302	0.000051	9.886367	3.540959	ecdysteroid 25-hydroxylase activity
GO:0042767	0.000051	9.886367	3.540959	ecdysteroid 22-hydroxylase activity
GO:0042768	0.000051	9.886367	3.540959	ecdysteroid 2-hydroxylase activity
GO:0030941	0.000051	9.886367	3.555348	chloroplast targeting sequence binding
GO:0043544	0.000051	9.886367	3.555348	lipoamide binding
GO:1990162	0.000051	9.886367	3.597312	histone deacetylase activity (H3-K4 specific)
GO:0097004	0.000051	9.886367	3.610918	adipokinetic hormone binding
GO:0097030	0.000051	9.886367	3.610918	CENP-A containing nucleosome binding
GO:1990838	0.000051	9.886367	3.610918	poly(U)-specific exoribonuclease activity, producing 3' uridine cyclic phosphate ends
GO:0015317	0.000051	9.886367	3.637586	phosphate:proton symporter activity
GO:0046810	0.000051	9.886367	3.637586	host cell extracellular matrix binding
GO:0008667	0.000051	9.886367	3.650658	2,3-dihydro-2,3-dihydroxybenzoate dehydrogenase activity
GO:0008748	0.000051	9.886367	3.650658	N-ethylmaleimide reductase activity
GO:0016630	0.000051	9.886367	3.650658	protochlorophyllide reductase activity
GO:0033729	0.000051	9.886367	3.650658	anthocyanidin reductase activity
GO:0036134	0.000051	9.886367	3.650658	12-hydroxyheptadecatrienoic acid synthase activity
GO:0043115	0.000051	9.886367	3.650658	precorrin-2 dehydrogenase activity
GO:0043957	0.000051	9.886367	3.650658	acryloyl-CoA reductase (NADP+) activity
GO:0047522	0.000051	9.886367	3.650658	15-oxoprostaglandin 13-oxidase activity
GO:0050213	0.000051	9.886367	3.650658	progesterone 5-alpha-reductase activity
GO:0102758	0.000051	9.886367	3.650658	very-long-chain enoyl-CoA reductase activity
GO:0003868	0.000051	9.886367	3.663562	4-hydroxyphenylpyruvate dioxygenase activity
GO:0008829	0.000051	9.886367	3.663562	dCTP deaminase activity
GO:0008835	0.000051	9.886367	3.663562	diaminohydroxyphosphoribosylaminopyrimidine deaminase activity
GO:0010308	0.000051	9.886367	3.663562	acireductone dioxygenase (Ni2+-requiring) activity
GO:0010309	0.000051	9.886367	3.663562	acireductone dioxygenase [iron(II)-requiring] activity
GO:0019114	0.000051	9.886367	3.663562	catechol dioxygenase activity
GO:0033973	0.000051	9.886367	3.663562	dCTP deaminase (dUMP-forming) activity
GO:0035888	0.000051	9.886367	3.663562	isoguanine deaminase activity
GO:0036403	0.000051	9.886367	3.663562	arachidonate 8(S)-lipoxygenase activity
GO:0047070	0.000051	9.886367	3.663562	3-carboxyethylcatechol 2,3-dioxygenase activity
GO:0047071	0.000051	9.886367	3.663562	3,4-dihydroxy-9,10-secoandrosta-1,3,5(10)-triene-9,17-dione 4,5-dioxygenase activity
GO:0047677	0.000051	9.886367	3.663562	arachidonate 8(R)-lipoxygenase activity
GO:0047974	0.000051	9.886367	3.663562	guanosine deaminase activity
GO:0102672	0.000051	9.886367	3.663562	fatty acid alpha-oxygenase activity
GO:0140337	0.000051	9.886367	3.663562	diacylglyceride transfer activity
GO:0140344	0.000051	9.886367	3.663562	triglyceride transfer activity
GO:0000286	0.000051	9.886367	3.676301	alanine dehydrogenase activity
GO:0008718	0.000051	9.886367	3.676301	D-amino-acid dehydrogenase activity
GO:0016643	0.000051	9.886367	3.676301	oxidoreductase activity, acting on the CH-NH2 group of donors, iron-sulfur protein as acceptor
GO:0044318	0.000051	9.886367	3.676301	L-aspartate:fumarate oxidoreductase activity
GO:0004493	0.000051	9.886367	3.688879	methylmalonyl-CoA epimerase activity
GO:0031773	0.000051	9.886367	3.701302	kisspeptin receptor binding
GO:0031776	0.000051	9.886367	3.701302	melanin-concentrating hormone receptor binding
GO:0031854	0.000051	9.886367	3.701302	orexigenic neuropeptide QRFP receptor binding
GO:0031858	0.000051	9.886367	3.701302	pituitary adenylate cyclase-activating polypeptide receptor binding
GO:0031861	0.000051	9.886367	3.701302	prolactin-releasing peptide receptor binding
GO:0031877	0.000051	9.886367	3.701302	somatostatin receptor binding
GO:0042324	0.000051	9.886367	3.701302	hypocretin receptor binding
GO:0071858	0.000051	9.886367	3.701302	corazonin receptor binding
GO:0071859	0.000051	9.886367	3.701302	neuropeptide F receptor binding
GO:0071860	0.000051	9.886367	3.701302	proctolin receptor binding
GO:0071861	0.000051	9.886367	3.701302	tachykinin receptor binding
GO:0005129	0.000051	9.886367	3.725693	granulocyte macrophage colony-stimulating factor receptor binding
GO:0005140	0.000051	9.886367	3.725693	interleukin-9 receptor binding
GO:0005141	0.000051	9.886367	3.725693	interleukin-10 receptor binding
GO:0005142	0.000051	9.886367	3.725693	interleukin-11 receptor binding
GO:0004153	0.000051	9.886367	3.761200	dihydropterin deaminase activity
GO:0062154	0.000051	9.886367	3.761200	N6-mAMP deaminase activity
GO:0008960	0.000051	9.886367	3.772761	phosphatidylglycerol-membrane-oligosaccharide glycerophosphotransferase activity
GO:0043838	0.000051	9.886367	3.772761	phosphatidylethanolamine:Kdo2-lipid A phosphoethanolamine transferase activity
GO:0046917	0.000051	9.886367	3.772761	triphosphoribosyl-dephospho-CoA synthase activity
GO:0047268	0.000051	9.886367	3.772761	galactinol-raffinose galactosyltransferase activity
GO:0047274	0.000051	9.886367	3.772761	galactinol-sucrose galactosyltransferase activity
GO:0061693	0.000051	9.886367	3.772761	alpha-D-ribose 1-methylphosphonate 5-triphosphate synthase activity
GO:0089702	0.000051	9.886367	3.772761	undecaprenyl-phosphate glucose phosphotransferase activity
GO:0008457	0.000051	9.886367	3.795489	beta-galactosyl-N-acetylglucosaminylgalactosylglucosyl-ceramide beta-1,3-acetylglucosaminyltransferase activity
GO:0043431	0.000051	9.886367	3.795489	2-octaprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0046981	0.000051	9.886367	3.795489	beta-1,4-mannosylglycolipid beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047763	0.000051	9.886367	3.795489	caffeate O-methyltransferase activity
GO:0050342	0.000051	9.886367	3.795489	tocopherol O-methyltransferase activity
GO:0050511	0.000051	9.886367	3.795489	undecaprenyldiphospho-muramoylpentapeptide beta-N-acetylglucosaminyltransferase activity
GO:0080012	0.000051	9.886367	3.795489	trihydroxyferuloyl spermidine O-methyltransferase activity
GO:0080076	0.000051	9.886367	3.795489	caffeoyl CoA:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080077	0.000051	9.886367	3.795489	trihydroxyferuloyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080078	0.000051	9.886367	3.795489	tricaffeoyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080150	0.000051	9.886367	3.795489	S-adenosyl-L-methionine:benzoic acid carboxyl methyl transferase activity
GO:0140431	0.000051	9.886367	3.795489	DNA-(abasic site) binding
GO:0033890	0.000051	9.886367	3.817712	ribonuclease D activity
GO:0046608	0.000051	9.886367	3.817712	carotenoid isomerase activity
GO:0090471	0.000051	9.886367	3.817712	9,15,9'-tri-cis-zeta-carotene isomerase activity
GO:0010354	0.000051	9.886367	3.828641	homogentisate prenyltransferase activity
GO:0034012	0.000051	9.886367	3.828641	FAD-AMP lyase (cyclizing) activity
GO:0106141	0.000051	9.886367	3.828641	flavin prenyltransferase activity
GO:0033222	0.000051	9.886367	3.871201	xylose binding
GO:0033296	0.000051	9.886367	3.871201	rhamnose binding
GO:0035236	0.000051	9.886367	3.871201	proctolin receptor activity
GO:0035643	0.000051	9.886367	3.871201	L-DOPA receptor activity
GO:0036400	0.000051	9.886367	3.871201	short neuropeptide F receptor activity
GO:0042263	0.000051	9.886367	3.871201	neuropeptide F receptor activity
GO:0008777	0.000051	9.886367	3.881564	acetylornithine deacetylase activity
GO:0047611	0.000051	9.886367	3.881564	acetylspermidine deacetylase activity
GO:0031962	0.000051	9.886367	3.891820	mineralocorticoid receptor binding
GO:0008764	0.000051	9.886367	3.901973	UDP-N-acetylmuramoylalanine-D-glutamate ligase activity
GO:0008766	0.000051	9.886367	3.901973	UDP-N-acetylmuramoylalanyl-D-glutamyl-2,6-diaminopimelate-D-alanyl-D-alanine ligase activity
GO:0043774	0.000051	9.886367	3.901973	coenzyme F420-2 alpha-glutamyl ligase activity
GO:0047480	0.000051	9.886367	3.901973	UDP-N-acetylmuramoyl-tripeptide-D-alanyl-D-alanine ligase activity
GO:0052618	0.000051	9.886367	3.901973	coenzyme F420-0:L-glutamate ligase activity
GO:0052625	0.000051	9.886367	3.901973	4-aminobenzoate amino acid synthetase activity
GO:0052626	0.000051	9.886367	3.901973	benzoate amino acid synthetase activity
GO:0052627	0.000051	9.886367	3.901973	vanillate amino acid synthetase activity
GO:0052628	0.000051	9.886367	3.901973	4-hydroxybenzoate amino acid synthetase activity
GO:0070282	0.000051	9.886367	3.901973	pyridoxine binding
GO:0004339	0.000051	9.886367	3.912023	glucan 1,4-alpha-glucosidase activity
GO:0008269	0.000051	9.886367	3.912023	JAK pathway signal transduction adaptor activity
GO:0047917	0.000051	9.886367	3.912023	GDP-glucosidase activity
GO:0031737	0.000051	9.886367	3.941582	CX3C chemokine receptor binding
GO:0034658	0.000051	9.886367	3.941582	isopropylmalate transmembrane transporter activity
GO:0008782	0.000051	9.886367	3.979682	adenosylhomocysteine nucleosidase activity
GO:0009976	0.000051	9.886367	3.979682	tocopherol cyclase activity
GO:0047405	0.000051	9.886367	3.979682	pyrimidine-5'-nucleotide nucleosidase activity
GO:0047407	0.000051	9.886367	3.979682	ADP-ribosyl-[dinitrogen reductase] hydrolase activity
GO:0047723	0.000051	9.886367	3.979682	inosinate nucleosidase activity
GO:0050135	0.000051	9.886367	3.979682	NAD(P)+ nucleosidase activity
GO:0061811	0.000051	9.886367	3.979682	ADP-ribosyl cyclase activity
GO:0061812	0.000051	9.886367	3.979682	cyclic ADP-ribose hydrolase
GO:0070335	0.000051	9.886367	3.979682	aspartate binding
GO:0070636	0.000051	9.886367	3.979682	nicotinic acid riboside hydrolase activity
GO:0008668	0.000051	9.886367	3.988984	(2,3-dihydroxybenzoyl)adenylate synthase activity
GO:0008671	0.000051	9.886367	3.988984	2-dehydro-3-deoxygalactonokinase activity
GO:0008673	0.000051	9.886367	3.988984	2-dehydro-3-deoxygluconokinase activity
GO:0008737	0.000051	9.886367	3.988984	L-fuculokinase activity
GO:0008741	0.000051	9.886367	3.988984	ribulokinase activity
GO:0008787	0.000051	9.886367	3.988984	allose kinase activity
GO:0008993	0.000051	9.886367	3.988984	rhamnulokinase activity
GO:0009702	0.000051	9.886367	3.988984	L-arabinokinase activity
GO:0033786	0.000051	9.886367	3.988984	heptose-1-phosphate adenylyltransferase activity
GO:0061605	0.000051	9.886367	3.988984	molybdopterin-synthase adenylyltransferase activity
GO:0031928	0.000051	9.886367	3.998201	pyridoxine transmembrane transporter activity
GO:0062122	0.000051	9.886367	3.998201	histone methyltransferase activity (H3-K37 specific)
GO:0009016	0.000051	9.886367	4.007333	succinyldiaminopimelate transaminase activity
GO:0009042	0.000051	9.886367	4.007333	valine-pyruvate transaminase activity
GO:0019180	0.000051	9.886367	4.007333	dTDP-4-amino-4,6-dideoxygalactose transaminase activity
GO:0033094	0.000051	9.886367	4.007333	butane-1,4-diamine:2-oxoglutarate aminotransferase activity
GO:0033853	0.000051	9.886367	4.007333	aspartate-prephenate aminotransferase activity
GO:0033854	0.000051	9.886367	4.007333	glutamate-prephenate aminotransferase activity
GO:0043723	0.000051	9.886367	4.007333	2,5-diamino-6-ribitylamino-4(3H)-pyrimidinone 5'-phosphate deaminase activity
GO:0043825	0.000051	9.886367	4.007333	succinylornithine transaminase activity
GO:0047589	0.000051	9.886367	4.007333	5-aminovalerate transaminase activity
GO:0047801	0.000051	9.886367	4.007333	L-cysteine:2-oxoglutarate aminotransferase activity
GO:0050281	0.000051	9.886367	4.007333	serine-glyoxylate transaminase activity
GO:0062045	0.000051	9.886367	4.007333	L-lysine alpha-aminotransferase
GO:0070529	0.000051	9.886367	4.007333	L-tryptophan aminotransferase activity
GO:0070546	0.000051	9.886367	4.007333	L-phenylalanine aminotransferase activity
GO:0099620	0.000051	9.886367	4.007333	UDP-4-amino-4-deoxy-L-arabinose aminotransferase
GO:0000907	0.000051	9.886367	4.034241	sulfonate dioxygenase activity
GO:0000908	0.000051	9.886367	4.034241	taurine dioxygenase activity
GO:0033759	0.000051	9.886367	4.034241	flavone synthase activity
GO:0102111	0.000051	9.886367	4.034241	gibberellin A20,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102652	0.000051	9.886367	4.034241	gibberellin A9,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102924	0.000051	9.886367	4.034241	gibberellin A44,2-oxoglutarate:oxygen oxidoreductase activity
GO:0016648	0.000051	9.886367	4.043051	oxidoreductase activity, acting on the CH-NH group of donors, disulfide as acceptor
GO:0033856	0.000051	9.886367	4.043051	pyridoxine 5'-phosphate synthase activity
GO:0050290	0.000051	9.886367	4.043051	sphingomyelin phosphodiesterase D activity
GO:0005020	0.000051	9.886367	4.060443	stem cell factor receptor activity
GO:0008288	0.000051	9.886367	4.060443	boss receptor activity
GO:0033785	0.000051	9.886367	4.060443	heptose 7-phosphate kinase activity
GO:0036332	0.000051	9.886367	4.060443	placental growth factor-activated receptor activity
GO:0009030	0.000051	9.886367	4.069027	thiamine-phosphate kinase activity
GO:0047475	0.000051	9.886367	4.069027	phenylacetate-CoA ligase activity
GO:0070251	0.000051	9.886367	4.069027	pristanate-CoA ligase activity
GO:0034084	0.000051	9.886367	4.077537	steryl deacetylase activity
GO:1902945	0.000051	9.886367	4.085976	metalloendopeptidase activity involved in amyloid precursor protein catabolic process
GO:0098680	0.000051	9.886367	4.102643	template-free RNA nucleotidyltransferase
GO:0051109	0.000051	9.886367	4.119037	crotonobetaine-CoA ligase activity
GO:0009540	0.000051	9.886367	4.127134	zeaxanthin epoxidase [overall] activity
GO:0016710	0.000051	9.886367	4.127134	trans-cinnamate 4-monooxygenase activity
GO:0016711	0.000051	9.886367	4.127134	flavonoid 3'-monooxygenase activity
GO:0018601	0.000051	9.886367	4.127134	4-nitrophenol 2-monooxygenase activity
GO:0033770	0.000051	9.886367	4.127134	2-hydroxyisoflavanone synthase activity
GO:0033776	0.000051	9.886367	4.127134	phenylacetone monooxygenase activity
GO:0034785	0.000051	9.886367	4.127134	salicylate 5-hydroxylase activity
GO:0036201	0.000051	9.886367	4.127134	ent-isokaurene C2-hydroxylase activity
GO:0036209	0.000051	9.886367	4.127134	9beta-pimara-7,15-diene oxidase activity
GO:0047749	0.000051	9.886367	4.127134	cholestanetriol 26-monooxygenase activity
GO:0052615	0.000051	9.886367	4.127134	ent-kaurene oxidase activity
GO:0052662	0.000051	9.886367	4.127134	zeaxanthin epoxidase activity
GO:0052870	0.000051	9.886367	4.127134	tocopherol omega-hydroxylase activity
GO:0052872	0.000051	9.886367	4.127134	tocotrienol omega-hydroxylase activity
GO:0072532	0.000051	9.886367	4.127134	tri-(feruloyl or hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0097007	0.000051	9.886367	4.127134	4,8,12-trimethyltrideca-1,3,7,11-tetraene synthase activity
GO:0097008	0.000051	9.886367	4.127134	(3E)-4,8-dimethyl-1,3,7-nonatriene synthase activity
GO:0102116	0.000051	9.886367	4.127134	laurate hydroxylase activity
GO:0106144	0.000051	9.886367	4.127134	fraxetin 5-hydroxylase activity
GO:0106145	0.000051	9.886367	4.127134	scopoletin 8-hydroxylase activity
GO:0106149	0.000051	9.886367	4.127134	indole-3-carbonyl nitrile 4-hydroxylase activity
GO:0004027	0.000051	9.886367	4.166665	alcohol sulfotransferase activity
GO:0034930	0.000051	9.886367	4.166665	1-hydroxypyrene sulfotransferase activity
GO:0045130	0.000051	9.886367	4.166665	keratan sulfotransferase activity
GO:0047685	0.000051	9.886367	4.166665	amine sulfotransferase activity
GO:0047704	0.000051	9.886367	4.166665	bile-salt sulfotransferase activity
GO:0080131	0.000051	9.886367	4.166665	hydroxyjasmonate sulfotransferase activity
GO:0008961	0.000051	9.886367	4.182050	phosphatidylglycerol-prolipoprotein diacylglyceryl transferase activity
GO:0008771	0.000051	9.886367	4.197202	[citrate (pro-3S)-lyase] ligase activity
GO:0010294	0.000051	9.886367	4.197202	abscisic acid glucosyltransferase activity
GO:0046524	0.000051	9.886367	4.197202	sucrose-phosphate synthase activity
GO:0047213	0.000051	9.886367	4.197202	anthocyanidin 3-O-glucosyltransferase activity
GO:0047215	0.000051	9.886367	4.197202	indole-3-acetate beta-glucosyltransferase activity
GO:0047228	0.000051	9.886367	4.197202	1,2-diacylglycerol 3-glucosyltransferase activity
GO:0047243	0.000051	9.886367	4.197202	flavanone 7-O-beta-glucosyltransferase activity
GO:0047251	0.000051	9.886367	4.197202	thiohydroximate beta-D-glucosyltransferase activity
GO:0047270	0.000051	9.886367	4.197202	lipopolysaccharide glucosyltransferase II activity
GO:0047893	0.000051	9.886367	4.197202	flavonol 3-O-glucosyltransferase activity
GO:0050004	0.000051	9.886367	4.197202	isoflavone 7-O-glucosyltransferase activity
GO:0050284	0.000051	9.886367	4.197202	sinapate 1-glucosyltransferase activity
GO:0052639	0.000051	9.886367	4.197202	salicylic acid glucosyltransferase (ester-forming) activity
GO:0052641	0.000051	9.886367	4.197202	benzoic acid glucosyltransferase activity
GO:0080018	0.000051	9.886367	4.197202	anthocyanin 5-O-glucosyltransferase activity
GO:0090704	0.000051	9.886367	4.197202	nicotinate-O-glucosyltransferase activity
GO:0034023	0.000051	9.886367	4.248495	5-(carboxyamino)imidazole ribonucleotide mutase activity
GO:0047470	0.000051	9.886367	4.248495	(1,4)-alpha-D-glucan 1-alpha-D-glucosylmutase activity
GO:0047471	0.000051	9.886367	4.248495	maltose alpha-D-glucosyltransferase activity
GO:0090438	0.000051	9.886367	4.248495	camelliol C synthase activity
GO:1990276	0.000051	9.886367	4.248495	RNA 5'-methyltransferase activity
GO:0004902	0.000051	9.886367	4.269697	granulocyte colony-stimulating factor receptor activity
GO:0016515	0.000051	9.886367	4.269697	interleukin-13 receptor activity
GO:0016517	0.000051	9.886367	4.269697	interleukin-12 receptor activity
GO:0019806	0.000051	9.886367	4.269697	bromide peroxidase activity
GO:0038164	0.000051	9.886367	4.269697	thrombopoietin receptor activity
GO:0042012	0.000051	9.886367	4.269697	interleukin-16 receptor activity
GO:0042018	0.000051	9.886367	4.269697	interleukin-22 receptor activity
GO:0047888	0.000051	9.886367	4.269697	fatty acid peroxidase activity
GO:0015390	0.000051	9.886367	4.276666	purine-specific nucleoside:sodium symporter activity
GO:0000277	0.000051	9.886367	4.310799	[cytochrome c]-lysine N-methyltransferase activity
GO:0098744	0.000051	9.886367	4.330733	1-phosphatidylinositol 4-kinase activator activity
GO:0008863	0.000051	9.886367	4.337291	formate dehydrogenase (NAD+) activity
GO:0008886	0.000051	9.886367	4.337291	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (non-phosphorylating) activity
GO:0018478	0.000051	9.886367	4.337291	malonate-semialdehyde dehydrogenase (acetylating) activity
GO:0034601	0.000051	9.886367	4.337291	oxoglutarate dehydrogenase [NAD(P)+] activity
GO:0047101	0.000051	9.886367	4.337291	2-oxoisovalerate dehydrogenase (acylating) activity
GO:0048001	0.000051	9.886367	4.337291	erythrose-4-phosphate dehydrogenase activity
GO:0050607	0.000051	9.886367	4.337291	mycothiol-dependent formaldehyde dehydrogenase activity
GO:0086041	0.000051	9.886367	4.337291	voltage-gated potassium channel activity involved in SA node cell action potential depolarization
GO:0102810	0.000051	9.886367	4.337291	glutarate-semialdehyde dehydrogenase (NADP+) activity
GO:0038106	0.000051	9.886367	4.356709	choriogonadotropin hormone binding
GO:0004492	0.000051	9.886367	4.375757	methylmalonyl-CoA decarboxylase activity
GO:0004782	0.000051	9.886367	4.375757	sulfinoalanine decarboxylase activity
GO:0008683	0.000051	9.886367	4.375757	2-oxoglutarate decarboxylase activity
GO:0008694	0.000051	9.886367	4.375757	3-octaprenyl-4-hydroxybenzoate carboxy-lyase activity
GO:0008949	0.000051	9.886367	4.375757	oxalyl-CoA decarboxylase activity
GO:0009028	0.000051	9.886367	4.375757	tartronate-semialdehyde synthase activity
GO:0010298	0.000051	9.886367	4.375757	dihydrocamalexic acid decarboxylase activity
GO:0047434	0.000051	9.886367	4.375757	indolepyruvate decarboxylase activity
GO:0050177	0.000051	9.886367	4.375757	phenylpyruvate decarboxylase activity
GO:0050560	0.000051	9.886367	4.375757	aspartate-tRNA(Asn) ligase activity
GO:0050561	0.000051	9.886367	4.375757	glutamate-tRNA(Gln) ligase activity
GO:1990055	0.000051	9.886367	4.375757	phenylacetaldehyde synthase activity
GO:0031473	0.000051	9.886367	4.382027	myosin III binding
GO:0043751	0.000051	9.886367	4.394449	polyphosphate:AMP phosphotransferase activity
GO:0102043	0.000051	9.886367	4.394449	isopentenyl phosphate kinase activity
GO:0099520	0.000051	9.886367	4.400603	ion antiporter activity involved in regulation of presynaptic membrane potential
GO:0033831	0.000051	9.886367	4.412798	kojibiose phosphorylase activity
GO:0042283	0.000051	9.886367	4.412798	dolichyl pyrophosphate Glc1Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0002113	0.000051	9.886367	4.418841	interleukin-33 binding
GO:0019975	0.000051	9.886367	4.418841	interleukin-17 binding
GO:0042011	0.000051	9.886367	4.418841	interleukin-16 binding
GO:0042017	0.000051	9.886367	4.418841	interleukin-22 binding
GO:0070119	0.000051	9.886367	4.418841	ciliary neurotrophic factor binding
GO:0015572	0.000051	9.886367	4.424847	N-acetylglucosamine transmembrane transporter activity
GO:0016085	0.000051	9.886367	4.424847	myoinhibitory hormone activity
GO:0046659	0.000051	9.886367	4.424847	digestive hormone activity
GO:0070186	0.000051	9.886367	4.424847	growth hormone activity
GO:0061815	0.000051	9.886367	4.471639	ubiquitinyl hydrolase activity, acting on linear ubiquitin
GO:0015100	0.000051	9.886367	4.494239	vanadium ion transmembrane transporter activity
GO:0051008	0.000051	9.886367	4.499810	Hsp27 protein binding
GO:0045157	0.000051	9.886367	4.521789	electron transporter, transferring electrons within the noncyclic electron transport pathway of photosynthesis activity
GO:0009918	0.000051	9.886367	4.543295	sterol delta7 reductase activity
GO:0051989	0.000051	9.886367	4.543295	coproporphyrinogen dehydrogenase activity
GO:0052890	0.000051	9.886367	4.543295	oxidoreductase activity, acting on the CH-CH group of donors, with a flavin as acceptor
GO:0080004	0.000051	9.886367	4.543295	thalian-diol desaturase activity
GO:0016154	0.000051	9.886367	4.559126	pyrimidine-nucleoside phosphorylase activity
GO:0099621	0.000051	9.886367	4.559126	undecaprenyl-phosphate 4-deoxy-4-formamido-L-arabinose transferase activity
GO:0008779	0.000051	9.886367	4.564348	acyl-[acyl-carrier-protein]-phospholipid O-acyltransferase activity
GO:0032576	0.000051	9.886367	4.564348	O-linoleoyltransferase activity
GO:0047159	0.000051	9.886367	4.564348	1-alkenylglycerophosphocholine O-acyltransferase activity
GO:0047191	0.000051	9.886367	4.564348	1-alkylglycerophosphocholine O-acyltransferase activity
GO:0080095	0.000051	9.886367	4.564348	phosphatidylethanolamine-sterol O-acyltransferase activity
GO:0080096	0.000051	9.886367	4.564348	phosphatidate-sterol O-acyltransferase activity
GO:0106263	0.000051	9.886367	4.564348	1-acylglycerophosphoserine O-acyltransferase activity
GO:0036458	0.000051	9.886367	4.574711	hepatocyte growth factor binding
GO:0030116	0.000051	9.886367	4.579852	glial cell-derived neurotrophic factor receptor binding
GO:0019786	0.000051	9.886367	4.590057	Atg8-specific protease activity
GO:0036455	0.000051	9.886367	4.600158	iron-sulfur transferase activity
GO:0046566	0.000051	9.886367	4.605170	DOPA dioxygenase activity
GO:0062131	0.000051	9.886367	4.605170	3-butenylglucosinolate 2-hydroxylase activity
GO:0097641	0.000051	9.886367	4.605170	alpha-ketoglutarate-dependent xanthine dioxygenase activity
GO:0033737	0.000051	9.886367	4.610158	1-pyrroline dehydrogenase activity
GO:0043795	0.000051	9.886367	4.610158	glyceraldehyde oxidoreductase activity
GO:0047770	0.000051	9.886367	4.610158	carboxylate reductase activity
GO:0051268	0.000051	9.886367	4.610158	alpha-keto amide reductase activity
GO:0051269	0.000051	9.886367	4.610158	alpha-keto ester reductase activity
GO:0060422	0.000051	9.886367	4.653960	peptidyl-dipeptidase inhibitor activity
GO:0034701	0.000051	9.886367	4.663439	tripeptidase activity
GO:0036081	0.000051	9.886367	4.695925	extracellular ammonia-gated ion channel activity
GO:0098624	0.000051	9.886367	4.718499	3'-Phosphoadenylylselenate reductase activity
GO:0034028	0.000051	9.886367	4.722953	5-(carboxyamino)imidazole ribonucleotide synthase activity
GO:0061483	0.000051	9.886367	4.722953	sulfinylpropanyl adenylate synthase
GO:0072591	0.000051	9.886367	4.722953	citrate-L-glutamate ligase activity
GO:0099582	0.000051	9.886367	4.722953	neurotransmitter receptor activity involved in regulation of presynaptic cytosolic calcium ion concentration
GO:0004358	0.000051	9.886367	4.766438	glutamate N-acetyltransferase activity
GO:0046941	0.000051	9.886367	4.766438	azetidine-2-carboxylic acid acetyltransferase activity
GO:0047198	0.000051	9.886367	4.766438	cysteine-S-conjugate N-acetyltransferase activity
GO:0047812	0.000051	9.886367	4.766438	D-amino-acid N-acetyltransferase activity
GO:0106162	0.000051	9.886367	4.766438	mRNA N-acetyltransferase activity
GO:1990634	0.000051	9.886367	4.774913	protein phosphatase 5 binding
GO:0140032	0.000051	9.886367	4.783316	glycosylation-dependent protein binding
GO:0103043	0.000051	9.886367	4.795791	5-phospho-alpha-D-ribosyl 1,2-cyclic phosphate phosphodiesterase activity
GO:0008864	0.000051	9.886367	4.824306	formyltetrahydrofolate deformylase activity
GO:0008884	0.000051	9.886367	4.824306	glutathionylspermidine amidase activity
GO:0009014	0.000051	9.886367	4.824306	succinyl-diaminopimelate desuccinylase activity
GO:0009017	0.000051	9.886367	4.824306	succinylglutamate desuccinylase activity
GO:0019159	0.000051	9.886367	4.824306	nicotinamide-nucleotide amidase activity
GO:0019807	0.000051	9.886367	4.824306	aspartoacylase activity
GO:0033969	0.000051	9.886367	4.824306	gamma-glutamyl-gamma-aminobutyrate hydrolase activity
GO:0036311	0.000051	9.886367	4.824306	chitin disaccharide deacetylase activity
GO:0043864	0.000051	9.886367	4.824306	indoleacetamide hydrolase activity
GO:0047412	0.000051	9.886367	4.824306	N-(long-chain-acyl)ethanolamine deacylase activity
GO:0050001	0.000051	9.886367	4.824306	D-glutaminase activity
GO:0050126	0.000051	9.886367	4.824306	N-carbamoylputrescine amidase activity
GO:0050129	0.000051	9.886367	4.824306	N-formylglutamate deformylase activity
GO:0050568	0.000051	9.886367	4.824306	protein-glutamine glutaminase activity
GO:0102121	0.000051	9.886367	4.824306	ceramidase activity
GO:0103073	0.000051	9.886367	4.824306	anandamide amidohydrolase activity
GO:0106008	0.000051	9.886367	4.824306	2-oxoglutaramate amidase activity
GO:0008938	0.000051	9.886367	4.848116	nicotinate N-methyltransferase activity
GO:0052667	0.000051	9.886367	4.848116	phosphomethylethanolamine N-methyltransferase activity
GO:0072374	0.000051	9.886367	4.852030	carotene epsilon hydroxylase activity
GO:0004456	0.000051	9.886367	4.867534	phosphogluconate dehydratase activity
GO:0004490	0.000051	9.886367	4.867534	methylglutaconyl-CoA hydratase activity
GO:0008684	0.000051	9.886367	4.867534	2-oxopent-4-enoate hydratase activity
GO:0008735	0.000051	9.886367	4.867534	carnitine dehydratase activity
GO:0008867	0.000051	9.886367	4.867534	galactarate dehydratase activity
GO:0008872	0.000051	9.886367	4.867534	glucarate dehydratase activity
GO:0008927	0.000051	9.886367	4.867534	mannonate dehydratase activity
GO:0009978	0.000051	9.886367	4.867534	allene oxide synthase activity
GO:0016153	0.000051	9.886367	4.867534	urocanate hydratase activity
GO:0033987	0.000051	9.886367	4.867534	2-hydroxyisoflavanone dehydratase activity
GO:0047456	0.000051	9.886367	4.867534	2-methylisocitrate dehydratase activity
GO:0047547	0.000051	9.886367	4.867534	2-methylcitrate dehydratase activity
GO:0047558	0.000051	9.886367	4.867534	3-cyanoalanine hydratase activity
GO:0047808	0.000051	9.886367	4.867534	D(-)-tartrate dehydratase activity
GO:0050023	0.000051	9.886367	4.867534	L-fuconate dehydratase activity
GO:0050032	0.000051	9.886367	4.867534	L-rhamnonate dehydratase activity
GO:0052684	0.000051	9.886367	4.867534	L-serine hydro-lyase (adding indole, L-tryptophan-forming) activity
GO:0052855	0.000051	9.886367	4.867534	ADP-dependent NAD(P)H-hydrate dehydratase activity
GO:0070497	0.000051	9.886367	4.867534	6-carboxy-5,6,7,8-tetrahydropterin synthase activity
GO:0120092	0.000051	9.886367	4.867534	crotonyl-CoA hydratase activity
GO:1990422	0.000051	9.886367	4.867534	glyoxalase (glycolic acid-forming) activity
GO:0001604	0.000051	9.886367	4.875197	urotensin II receptor activity
GO:0001648	0.000051	9.886367	4.875197	proteinase activated receptor activity
GO:0044508	0.000051	9.886367	4.875197	glucagon-like peptide 1 receptor activity
GO:0061994	0.000051	9.886367	4.879007	ATP-dependent protein-nucleic acid complex displacement activity
GO:0009034	0.000051	9.886367	4.890349	tryptophanase activity
GO:0036355	0.000051	9.886367	4.890349	2-iminoacetate synthase activity
GO:0071771	0.000051	9.886367	4.890349	aldehyde decarbonylase activity
GO:0140359	0.000051	9.886367	4.908972	ABC-type transmembrane transporter activity
GO:0045183	0.000051	9.886367	4.923624	translation factor activity, non-nucleic acid binding
GO:2001080	0.000051	9.886367	4.973280	chitosan binding
GO:0019186	0.000051	9.886367	5.017280	acyl-CoA N-acyltransferase activity
GO:0047946	0.000051	9.886367	5.017280	glutamine N-acyltransferase activity
GO:0061920	0.000051	9.886367	5.017280	protein propionyltransferase activity
GO:0080074	0.000051	9.886367	5.017280	spermidine:caffeoyl CoA N-acyltransferase activity
GO:0080075	0.000051	9.886367	5.017280	spermidine:feruloyl CoA N-acyltransferase activity
GO:0080089	0.000051	9.886367	5.017280	sinapoyl spermidine:sinapoyl CoA N-acyltransferase activity
GO:0106075	0.000051	9.886367	5.017280	peptide N-succinyltransferase activity
GO:0106228	0.000051	9.886367	5.017280	peptide glutaryltransferase activity
GO:0036173	0.000051	9.886367	5.068904	thiosulfate binding
GO:0010291	0.000051	9.886367	5.099866	carotene beta-ring hydroxylase activity
GO:0031172	0.000051	9.886367	5.099866	ornithine N5-monooxygenase activity
GO:0062179	0.000051	9.886367	5.099866	vitamin D 23-hydroxylase activity
GO:0062183	0.000051	9.886367	5.099866	all-trans retinoic acid 18-hydroxylase activity
GO:0062184	0.000051	9.886367	5.099866	testosterone 16-beta-hydroxylase activity
GO:0062185	0.000051	9.886367	5.099866	secalciferol 1-monooxygenase activity
GO:0008996	0.000051	9.886367	5.102911	ribonuclease G activity
GO:0008997	0.000051	9.886367	5.102911	ribonuclease R activity
GO:0043904	0.000051	9.886367	5.117994	isochorismate pyruvate lyase activity
GO:0070205	0.000051	9.886367	5.117994	2-succinyl-6-hydroxy-2,4-cyclohexadiene-1-carboxylate synthase activity
GO:0015113	0.000051	9.886367	5.120983	nitrite transmembrane transporter activity
GO:0015115	0.000051	9.886367	5.120983	silicate transmembrane transporter activity
GO:0019914	0.000051	9.886367	5.120983	cyclin-dependent protein kinase activating kinase regulator activity
GO:0035730	0.000051	9.886367	5.120983	S-nitrosoglutathione binding
GO:0008760	0.000051	9.886367	5.135798	UDP-N-acetylglucosamine 1-carboxyvinyltransferase activity
GO:0008817	0.000051	9.886367	5.135798	cob(I)yrinic acid a,c-diamide adenosyltransferase activity
GO:0030410	0.000051	9.886367	5.135798	nicotianamine synthase activity
GO:0043918	0.000051	9.886367	5.135798	cadaverine aminopropyltransferase activity
GO:0090560	0.000051	9.886367	5.135798	2-(3-amino-3-carboxypropyl)histidine synthase activity
GO:1905108	0.000051	9.886367	5.141664	guanosine binding
GO:0032546	0.000051	9.886367	5.164786	deoxyribonucleoside binding
GO:0002112	0.000051	9.886367	5.187386	interleukin-33 receptor binding
GO:0004453	0.000051	9.886367	5.187386	juvenile-hormone esterase activity
GO:0005144	0.000051	9.886367	5.187386	interleukin-13 receptor binding
GO:0016170	0.000051	9.886367	5.187386	interleukin-15 receptor binding
GO:0018733	0.000051	9.886367	5.187386	3,4-dihydrocoumarin hydrolase activity
GO:0030380	0.000051	9.886367	5.187386	interleukin-17E receptor binding
GO:0032003	0.000051	9.886367	5.187386	interleukin-28 receptor binding
GO:0035460	0.000051	9.886367	5.187386	L-ascorbate 6-phosphate lactonase activity
GO:0045515	0.000051	9.886367	5.187386	interleukin-18 receptor binding
GO:0045518	0.000051	9.886367	5.187386	interleukin-22 receptor binding
GO:0047619	0.000051	9.886367	5.187386	acylcarnitine hydrolase activity
GO:0047658	0.000051	9.886367	5.187386	alpha-amino-acid esterase activity
GO:0050525	0.000051	9.886367	5.187386	cutinase activity
GO:0052884	0.000051	9.886367	5.187386	all-trans-retinyl-palmitate hydrolase, 11-cis retinol forming activity
GO:0052885	0.000051	9.886367	5.187386	all-trans-retinyl-ester hydrolase, 11-cis retinol forming activity
GO:0061685	0.000051	9.886367	5.187386	diphthine methylesterase activity
GO:0080124	0.000051	9.886367	5.187386	pheophytinase activity
GO:0090499	0.000051	9.886367	5.187386	pimelyl-[acyl-carrier protein] methyl ester esterase activity
GO:0102258	0.000051	9.886367	5.187386	1,3-diacylglycerol acylhydrolase activity
GO:0102259	0.000051	9.886367	5.187386	1,2-diacylglycerol acylhydrolase activity
GO:0010307	0.000051	9.886367	5.209486	acetylglutamate kinase regulator activity
GO:0010303	0.000051	9.886367	5.247024	limit dextrinase activity
GO:0017041	0.000051	9.886367	5.247024	galactosylgalactosylglucosylceramidase activity
GO:0017042	0.000051	9.886367	5.247024	glycosylceramidase activity
GO:0033942	0.000051	9.886367	5.247024	4-alpha-D-(1->4)-alpha-D-glucanotrehalose trehalohydrolase activity
GO:0051060	0.000051	9.886367	5.247024	pullulanase activity
GO:0051670	0.000051	9.886367	5.247024	inulinase activity
GO:0052736	0.000051	9.886367	5.247024	beta-glucanase activity
GO:0047230	0.000051	9.886367	5.278115	flavonol-3-O-glucoside L-rhamnosyltransferase activity
GO:0031774	0.000051	9.886367	5.347108	leukotriene receptor binding
GO:0031775	0.000051	9.886367	5.347108	lutropin-choriogonadotropic hormone receptor binding
GO:0031811	0.000051	9.886367	5.347108	G protein-coupled nucleotide receptor binding
GO:0031855	0.000051	9.886367	5.347108	oxytocin receptor binding
GO:0031859	0.000051	9.886367	5.347108	platelet activating factor receptor binding
GO:0031883	0.000051	9.886367	5.347108	taste receptor binding
GO:1990482	0.000051	9.886367	5.368310	sphingolipid alpha-glucuronosyltransferase activity
GO:0050519	0.000051	9.886367	5.377591	holo-citrate lyase synthase activity
GO:0061710	0.000051	9.886367	5.377591	L-threonylcarbamoyladenylate synthase
GO:0050115	0.000051	9.886367	5.384495	myosin-light-chain-phosphatase activity
GO:0050408	0.000051	9.886367	5.384495	[pyruvate kinase]-phosphatase activity
GO:0098627	0.000051	9.886367	5.384495	protein arginine phosphatase activity
GO:0050334	0.000051	9.886367	5.413876	thiaminase activity
GO:1990206	0.000051	9.886367	5.413876	jasmonyl-Ile conjugate hydrolase activity
GO:0008681	0.000051	9.886367	5.418320	2-octaprenyl-6-methoxyphenol hydroxylase activity
GO:0018585	0.000051	9.886367	5.418320	fluorene oxygenase activity
GO:0044876	0.000051	9.886367	5.418320	hercynylselenocysteine synthase
GO:0050498	0.000051	9.886367	5.418320	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with 2-oxoglutarate as one donor, and the other dehydrogenated
GO:0052637	0.000051	9.886367	5.418320	delta 3-trans-hexadecenoic acid phosphatidylglycerol desaturase activity
GO:0061686	0.000051	9.886367	5.418320	hercynylcysteine sulfoxide synthase
GO:0061896	0.000051	9.886367	5.418320	all-trans retinol 3,4-desaturase activity
GO:0061897	0.000051	9.886367	5.418320	all-trans retinal 3,4-desaturase activity
GO:0061898	0.000051	9.886367	5.418320	all-trans retinoic acid 3,4-desaturase activity
GO:0061899	0.000051	9.886367	5.418320	11-cis-retinal 3,4-desaturase activity
GO:0140463	0.000051	9.886367	5.444580	chromatin adaptor
GO:1990644	0.000051	9.886367	5.444580	microtubule site clamp
GO:0030748	0.000051	9.886367	5.497168	amine N-methyltransferase activity
GO:0030755	0.000051	9.886367	5.497168	quercetin 3-O-methyltransferase activity
GO:0030760	0.000051	9.886367	5.497168	pyridine N-methyltransferase activity
GO:0030795	0.000051	9.886367	5.497168	jasmonate O-methyltransferase activity
GO:0030798	0.000051	9.886367	5.497168	trans-aconitate 2-methyltransferase activity
GO:0046547	0.000051	9.886367	5.497168	trans-aconitate 3-methyltransferase activity
GO:0051741	0.000051	9.886367	5.497168	2-methyl-6-phytyl-1,4-benzoquinone methyltransferase activity
GO:0052706	0.000051	9.886367	5.497168	histidine N-methyltransferase activity
GO:1990929	0.000051	9.886367	5.497168	sulfoquinovosidase activity
GO:0000721	0.000051	9.886367	5.529429	(R,R)-butanediol dehydrogenase activity
GO:0004552	0.000051	9.886367	5.529429	octanol dehydrogenase activity
GO:0008762	0.000051	9.886367	5.529429	UDP-N-acetylmuramate dehydrogenase activity
GO:0008866	0.000051	9.886367	5.529429	fructuronate reductase activity
GO:0008868	0.000051	9.886367	5.529429	galactitol-1-phosphate 5-dehydrogenase activity
GO:0008912	0.000051	9.886367	5.529429	lactaldehyde reductase activity
GO:0008926	0.000051	9.886367	5.529429	mannitol-1-phosphate 5-dehydrogenase activity
GO:0009010	0.000051	9.886367	5.529429	sorbitol-6-phosphate 2-dehydrogenase activity
GO:0009026	0.000051	9.886367	5.529429	tagaturonate reductase activity
GO:0009027	0.000051	9.886367	5.529429	tartrate dehydrogenase activity
GO:0009040	0.000051	9.886367	5.529429	ureidoglycolate dehydrogenase activity
GO:0019147	0.000051	9.886367	5.529429	(R)-aminopropanol dehydrogenase activity
GO:0030266	0.000051	9.886367	5.529429	quinate 3-dehydrogenase (NAD+) activity
GO:0032115	0.000051	9.886367	5.529429	sorbose reductase activity
GO:0033711	0.000051	9.886367	5.529429	4-phosphoerythronate dehydrogenase activity
GO:0033845	0.000051	9.886367	5.529429	hydroxymethylfurfural reductase (NADPH) activity
GO:0035527	0.000051	9.886367	5.529429	3-hydroxypropionate dehydrogenase (NADP+) activity
GO:0036130	0.000051	9.886367	5.529429	prostaglandin H2 endoperoxidase reductase activity
GO:0036131	0.000051	9.886367	5.529429	prostaglandin D2 11-ketoreductase activity
GO:0042356	0.000051	9.886367	5.529429	GDP-4-dehydro-D-rhamnose reductase activity
GO:0043892	0.000051	9.886367	5.529429	methylglyoxal reductase (NADPH-dependent) activity
GO:0045552	0.000051	9.886367	5.529429	dihydrokaempferol 4-reductase activity
GO:0047002	0.000051	9.886367	5.529429	L-arabinitol 2-dehydrogenase activity
GO:0047017	0.000051	9.886367	5.529429	prostaglandin-F synthase activity
GO:0047018	0.000051	9.886367	5.529429	indole-3-acetaldehyde reductase (NADH) activity
GO:0047019	0.000051	9.886367	5.529429	indole-3-acetaldehyde reductase (NADPH) activity
GO:0047020	0.000051	9.886367	5.529429	15-hydroxyprostaglandin-D dehydrogenase (NADP+) activity
GO:0047565	0.000051	9.886367	5.529429	3-hydroxypropionate dehydrogenase (NAD+) activity
GO:0047577	0.000051	9.886367	5.529429	4-hydroxybutyrate dehydrogenase activity
GO:0047718	0.000051	9.886367	5.529429	indanol dehydrogenase activity
GO:0047837	0.000051	9.886367	5.529429	D-xylose 1-dehydrogenase (NADP+) activity
GO:0047886	0.000051	9.886367	5.529429	farnesol dehydrogenase activity
GO:0047964	0.000051	9.886367	5.529429	glyoxylate reductase activity
GO:0047995	0.000051	9.886367	5.529429	hydroxyphenylpyruvate reductase activity
GO:0050085	0.000051	9.886367	5.529429	mannitol 2-dehydrogenase (NADP+) activity
GO:0050221	0.000051	9.886367	5.529429	prostaglandin-E2 9-reductase activity
GO:0050570	0.000051	9.886367	5.529429	4-hydroxythreonine-4-phosphate dehydrogenase activity
GO:0050572	0.000051	9.886367	5.529429	L-idonate 5-dehydrogenase activity
GO:0052734	0.000051	9.886367	5.529429	shikimate 3-dehydrogenase (NAD+) activity
GO:0061596	0.000051	9.886367	5.529429	3-sulfolactaldehyde reductase activity
GO:0089714	0.000051	9.886367	5.529429	UDP-N-acetyl-D-mannosamine dehydrogenase activity
GO:0099618	0.000051	9.886367	5.529429	UDP-glucuronic acid dehydrogenase activity
GO:0103002	0.000051	9.886367	5.529429	16-hydroxypalmitate dehydrogenase activity
GO:0051381	0.000051	9.886367	5.564520	histamine binding
GO:0002952	0.000051	9.886367	5.587249	(4S)-4-hydroxy-5-phosphonooxypentane-2,3-dione isomerase activity
GO:0008719	0.000051	9.886367	5.587249	dihydroneopterin triphosphate 2'-epimerase activity
GO:0061593	0.000051	9.886367	5.587249	sulfoquinovose isomerase activity
GO:0062213	0.000051	9.886367	5.587249	peroxynitrite isomerase activity
GO:0047988	0.000051	9.886367	5.655992	hydroxyacid-oxoacid transhydrogenase activity
GO:0099615	0.000051	9.886367	5.655992	(D)-2-hydroxyglutarate-pyruvate transhydrogenase activity
GO:0015066	0.000051	9.886367	5.669881	alpha-amylase inhibitor activity
GO:0036479	0.000051	9.886367	5.669881	peroxidase inhibitor activity
GO:0060703	0.000051	9.886367	5.669881	deoxyribonuclease inhibitor activity
GO:0090369	0.000051	9.886367	5.669881	ornithine carbamoyltransferase inhibitor activity
GO:0035049	0.000051	9.886367	5.697093	juvenile hormone acid methyltransferase activity
GO:0098615	0.000051	9.886367	5.697093	dimethyl selenide methyltransferase activity
GO:0003833	0.000051	9.886367	5.752573	beta-alanyl-dopamine synthase activity
GO:0043250	0.000051	9.886367	5.782286	sodium-dependent organic anion transmembrane transporter activity
GO:0047260	0.000051	9.886367	5.797576	alpha,alpha-trehalose-phosphate synthase (GDP-forming) activity
GO:0102751	0.000051	9.886367	5.797576	UDP-alpha-D-glucose:glucosyl-glycogenin alpha-D-glucosyltransferase activity
GO:0030290	0.000051	9.886367	5.929589	sphingolipid activator protein activity
GO:0036470	0.000051	9.886367	5.929589	tyrosine 3-monooxygenase activator activity
GO:0036478	0.000051	9.886367	5.929589	L-dopa decarboxylase activator activity
GO:0046863	0.000051	9.886367	5.929589	ribulose-1,5-bisphosphate carboxylase/oxygenase activator activity
GO:0061632	0.000051	9.886367	5.929589	RNA lariat debranching enzyme activator activity
GO:1990749	0.000051	9.886367	5.929589	polynucleotide adenylyltransferase activator activity
GO:0008951	0.000051	9.886367	5.938855	palmitoleoyl [acyl-carrier-protein]-dependent acyltransferase activity
GO:0017118	0.000051	9.886367	5.938855	lipoyltransferase activity
GO:0033812	0.000051	9.886367	5.938855	3-oxoadipyl-CoA thiolase activity
GO:0033817	0.000051	9.886367	5.938855	beta-ketoacyl-acyl-carrier-protein synthase II activity
GO:0034326	0.000051	9.886367	5.938855	butanoyltransferase activity
GO:0035447	0.000051	9.886367	5.938855	mycothiol synthase activity
GO:0043875	0.000051	9.886367	5.938855	2-ketobutyrate formate-lyase activity
GO:0046919	0.000051	9.886367	5.938855	pyruvyltransferase activity
GO:0047634	0.000051	9.886367	5.938855	agmatine N4-coumaroyltransferase activity
GO:0047962	0.000051	9.886367	5.938855	glycine N-benzoyltransferase activity
GO:0103118	0.000051	9.886367	5.938855	UDP-3-O-(R-3-hydroxymyristoyl)-glucosamine N-acyltransferase activity
GO:0106158	0.000051	9.886367	5.938855	glycero-3-phosphocholine acyltransferase activity
GO:0016519	0.000051	9.886367	5.959716	gastric inhibitory peptide receptor activity
GO:0042654	0.000051	9.886367	5.959716	ecdysis-triggering hormone receptor activity
GO:0070553	0.000051	9.886367	5.959716	nicotinic acid receptor activity
GO:0106063	0.000051	9.886367	5.959716	G protein-coupled folate receptor activity
GO:1990595	0.000051	9.886367	5.959716	mast cell secretagogue receptor activity
GO:0036402	0.000051	9.886367	5.961005	proteasome-activating ATPase activity
GO:0140083	0.000051	9.886367	5.961005	protein-DNA unloading ATPase activity
GO:1990833	0.000051	9.886367	5.961005	clathrin-uncoating ATPase activity
GO:0018835	0.000051	9.886367	6.037871	carbon phosphorus lyase activity
GO:0008707	0.000051	9.886367	6.043820	4-phytase activity
GO:0016158	0.000051	9.886367	6.043820	3-phytase activity
GO:0034200	0.000051	9.886367	6.043820	D,D-heptose 1,7-bisphosphate phosphatase activity
GO:0043755	0.000051	9.886367	6.043820	alpha-ribazole phosphatase activity
GO:0043874	0.000051	9.886367	6.043820	acireductone synthase activity
GO:0047954	0.000051	9.886367	6.043820	glycerol-2-phosphatase activity
GO:0050189	0.000051	9.886367	6.043820	phosphoenolpyruvate phosphatase activity
GO:0050192	0.000051	9.886367	6.043820	phosphoglycerate phosphatase activity
GO:0052731	0.000051	9.886367	6.043820	phosphocholine phosphatase activity
GO:0052732	0.000051	9.886367	6.043820	phosphoethanolamine phosphatase activity
GO:0090711	0.000051	9.886367	6.043820	FMN hydrolase activity
GO:0097657	0.000051	9.886367	6.043820	3',5'-nucleotide bisphosphate phosphatase activity
GO:0110130	0.000051	9.886367	6.043820	ribitol-5-phosphatase activity
GO:1990738	0.000051	9.886367	6.043820	pseudouridine 5'-phosphatase activity
GO:1901640	0.000051	9.886367	6.164367	XTP binding
GO:1901641	0.000051	9.886367	6.164367	ITP binding
GO:0032399	0.000051	9.886367	6.261492	HECT domain binding
GO:0035501	0.000051	9.886367	6.261492	MH1 domain binding
GO:0036143	0.000051	9.886367	6.261492	kringle domain binding
GO:0050683	0.000051	9.886367	6.261492	AF-1 domain binding
GO:0051401	0.000051	9.886367	6.261492	CH domain binding
GO:0070975	0.000051	9.886367	6.261492	FHA domain binding
GO:0071906	0.000051	9.886367	6.261492	CRD domain binding
GO:0090488	0.000051	9.886367	6.261492	polo box domain specific binding
GO:0090736	0.000051	9.886367	6.261492	MATH domain binding
GO:0097161	0.000051	9.886367	6.261492	DH domain binding
GO:0097162	0.000051	9.886367	6.261492	MADS box domain binding
GO:0097726	0.000051	9.886367	6.261492	LEM domain binding
GO:1990808	0.000051	9.886367	6.261492	F-bar domain binding
GO:0004677	0.000051	9.886367	6.279459	DNA-dependent protein kinase activity
GO:0070002	0.000051	9.886367	6.285067	glutamic-type peptidase activity
GO:0008316	0.000051	9.886367	6.412639	structural constituent of vitelline membrane
GO:0008715	0.000051	9.886367	6.590988	CDP-diacylglycerol diphosphatase activity
GO:0008758	0.000051	9.886367	6.590988	UDP-2,3-diacylglucosamine hydrolase activity
GO:0043135	0.000051	9.886367	6.590988	5-phosphoribosyl 1-pyrophosphate pyrophosphatase activity
GO:0047734	0.000051	9.886367	6.590988	CDP-glycerol diphosphatase activity
GO:0052840	0.000051	9.886367	6.590988	inositol diphosphate tetrakisphosphate diphosphatase activity
GO:0052841	0.000051	9.886367	6.590988	inositol bisdiphosphate tetrakisphosphate diphosphatase activity
GO:0072510	0.000051	9.886367	6.614055	trivalent inorganic cation transmembrane transporter activity
GO:0016524	0.000051	9.886367	6.643790	latrotoxin receptor activity
GO:0030379	0.000051	9.886367	6.643790	neurotensin receptor activity, non-G protein-coupled
GO:1904067	0.000051	9.886367	6.677713	ascr#2 binding
GO:1904599	0.000051	9.886367	6.677713	advanced glycation end-product binding
GO:1990458	0.000051	9.886367	6.677713	lipooligosaccharide binding
GO:0048270	0.000051	9.886367	6.697651	methionine adenosyltransferase regulator activity
GO:0055103	0.000051	9.886367	6.697651	ligase regulator activity
GO:0060308	0.000051	9.886367	6.697651	GTP cyclohydrolase I regulator activity
GO:0070917	0.000051	9.886367	6.697651	inositol phosphoceramide synthase regulator activity
GO:0008772	0.000051	9.886367	6.737560	[isocitrate dehydrogenase (NADP+)] kinase activity
GO:1901916	0.000051	9.886367	6.737560	protein kinase activity involved in regulation of protein localization to cell division site involved in cytokinesis
GO:0030377	0.000051	9.886367	6.876780	urokinase plasminogen activator receptor activity
GO:0038198	0.000051	9.886367	6.876780	auxin receptor activity
GO:0038199	0.000051	9.886367	6.876780	ethylene receptor activity
GO:0042071	0.000051	9.886367	6.876780	leucokinin receptor activity
GO:0050785	0.000051	9.886367	6.876780	advanced glycation end-product receptor activity
GO:0062124	0.000051	9.886367	6.876780	4-hydroxybutyrate receptor activity
GO:0062069	0.000051	9.886367	6.892642	GARP complex binding
GO:0062070	0.000051	9.886367	6.892642	SAGA complex binding
GO:0098633	0.000051	9.886367	6.892642	collagen fibril binding
GO:0106138	0.000051	9.886367	6.892642	Sec61 translocon complex binding
GO:0140164	0.000051	9.886367	6.892642	Golgi transport complex binding
GO:0140259	0.000051	9.886367	6.892642	PRC1 complex binding
GO:0140260	0.000051	9.886367	6.892642	mitochondrial proton-transporting ATP synthase complex binding
GO:0140262	0.000051	9.886367	6.892642	mRNA cap binding complex binding
GO:1904854	0.000051	9.886367	6.892642	proteasome core complex binding
GO:0034583	0.000051	9.886367	6.935857	21U-RNA binding
GO:0042835	0.000051	9.886367	6.935857	BRE binding
GO:0062104	0.000051	9.886367	6.935857	pumilio-response element binding
GO:0008974	0.000051	9.886367	6.944087	phosphoribulokinase activity
GO:0009024	0.000051	9.886367	6.944087	tagatose-6-phosphate kinase activity
GO:0019140	0.000051	9.886367	6.944087	inositol 3-kinase activity
GO:0019165	0.000051	9.886367	6.944087	thiamine kinase activity
GO:0034071	0.000051	9.886367	6.944087	aminoglycoside phosphotransferase activity
GO:0047324	0.000051	9.886367	6.944087	phosphoenolpyruvate-glycerone phosphotransferase activity
GO:0047330	0.000051	9.886367	6.944087	polyphosphate-glucose phosphotransferase activity
GO:0047912	0.000051	9.886367	6.944087	galacturonokinase activity
GO:0047933	0.000051	9.886367	6.944087	glucose-1,6-bisphosphate synthase activity
GO:0050225	0.000051	9.886367	6.944087	pseudouridine kinase activity
GO:0050515	0.000051	9.886367	6.944087	4-(cytidine 5'-diphospho)-2-C-methyl-D-erythritol kinase activity
GO:1901691	0.000051	9.886367	6.949377	proton binding
GO:0043743	0.000051	9.886367	6.966024	LPPG:FO 2-phospho-L-lactate transferase activity
GO:0061594	0.000051	9.886367	6.966024	6-deoxy-6-sulfofructose kinase activity
GO:0008849	0.000051	9.886367	6.988874	enterochelin esterase activity
GO:0120108	0.000051	9.886367	6.988874	DNA-3'-diphospho-5'-guanosine diphosphatase
GO:0030184	0.000051	9.886367	7.052288	nitric oxide transmembrane transporter activity
GO:0010276	0.000051	9.886367	7.055744	phytol kinase activity
GO:0071518	0.000051	9.886367	7.055744	autoinducer-2 kinase activity
GO:0005115	0.000051	9.886367	7.072846	receptor tyrosine kinase-like orphan receptor binding
GO:0042615	0.000051	9.886367	7.072846	CD154 receptor binding
GO:1990631	0.000051	9.886367	7.072846	ErbB-4 class receptor binding
GO:0001512	0.000051	9.886367	7.170888	dihydronicotinamide riboside quinone reductase activity
GO:0004800	0.000051	9.886367	7.170888	thyroxine 5'-deiodinase activity
GO:0004836	0.000051	9.886367	7.170888	tyramine-beta hydroxylase activity
GO:0010242	0.000051	9.886367	7.170888	oxygen evolving activity
GO:0016695	0.000051	9.886367	7.170888	oxidoreductase activity, acting on hydrogen as donor
GO:0019168	0.000051	9.886367	7.170888	2-octaprenylphenol hydroxylase activity
GO:0042380	0.000051	9.886367	7.170888	hydroxymethylbutenyl pyrophosphate reductase activity
GO:0043364	0.000051	9.886367	7.170888	glycyl-radical enzyme activating activity
GO:0046422	0.000051	9.886367	7.170888	violaxanthin de-epoxidase activity
GO:0051744	0.000051	9.886367	7.170888	3,8-divinyl protochlorophyllide a 8-vinyl reductase activity
GO:0052614	0.000051	9.886367	7.170888	uracil oxygenase activity
GO:0052693	0.000051	9.886367	7.170888	epoxyqueuosine reductase activity
GO:0030973	0.000051	9.886367	7.175872	molybdate ion binding
GO:1901359	0.000051	9.886367	7.175872	tungstate binding
GO:0003693	0.000051	9.886367	7.178927	P-element binding
GO:0071443	0.000051	9.886367	7.178927	tDNA binding
GO:0097690	0.000051	9.886367	7.202289	iron ion transmembrane transporter inhibitor activity
GO:0106260	0.000051	9.886367	7.278284	double-stranded DNA bridging
GO:0010290	0.000051	9.886367	7.348909	chlorophyll catabolite transmembrane transporter activity
GO:0044549	0.000051	9.886367	7.442200	GTP cyclohydrolase binding
GO:0099077	0.000051	9.886367	7.732150	histone-dependent DNA binding
GO:0003832	0.000051	9.886367	7.961545	beta-alanyl-dopamine hydrolase activity
GO:0016826	0.000051	9.886367	7.961545	hydrolase activity, acting on acid sulfur-nitrogen bonds
GO:0031964	0.000051	9.886367	7.961545	beta-alanyl-histamine hydrolase activity
GO:0035274	0.000051	9.886367	8.326154	diphenyl phthalate binding
GO:0035275	0.000051	9.886367	8.326154	dibutyl phthalate binding
GO:0097160	0.000051	9.886367	8.326154	polychlorinated biphenyl binding
GO:1905594	0.000051	9.886367	8.326154	resveratrol binding
GO:0001918	0.000051	9.886367	9.318926	farnesylated protein binding
GO:0031249	0.000051	9.886367	9.318926	denatured protein binding
GO:0042988	0.000051	9.886367	9.318926	X11-like protein binding
GO:0043221	0.000051	9.886367	9.318926	SMC family protein binding
GO:0097655	0.000051	9.886367	9.318926	serpin family protein binding
GO:0097678	0.000051	9.886367	9.318926	SOCS family protein binding
GO:0106151	0.000051	9.886367	9.318926	CNBH domain intrinsic ligand binding
GO:0035731	0.000051	9.886367	9.516648	dinitrosyl-iron complex binding
GO:0140355	0.000051	9.886367	9.516648	cargo receptor ligand activity
GO:1904493	0.000051	9.886367	9.516648	tetrahydrofolyl-poly(glutamate) polymer binding
GO:0090729	0.000051	9.886367	9.886367	toxin activity
