GO:0003674	1.000000	0.000000	0.000000	molecular_function
GO:0005488	0.646436	0.436282	0.436282	binding
GO:0005515	0.498207	0.696740	0.260458	protein binding
GO:0003824	0.428693	0.847014	0.847014	catalytic activity
GO:0097159	0.198797	1.615469	1.179187	organic cyclic compound binding
GO:1901363	0.195229	1.633581	1.197299	heterocyclic compound binding
GO:0016740	0.165381	1.799505	0.952491	transferase activity
GO:0003676	0.153898	1.871467	0.237701	nucleic acid binding
GO:0016787	0.144661	1.933365	1.086351	hydrolase activity
GO:0140096	0.112747	2.182607	1.335593	catalytic activity, acting on a protein
GO:0003677	0.108491	2.221089	0.349622	DNA binding
GO:0043167	0.101536	2.287343	1.851061	ion binding
GO:0042802	0.095813	2.345362	1.648622	identical protein binding
GO:0005215	0.081613	2.505770	2.505770	transporter activity
GO:0043565	0.078443	2.545382	0.324293	sequence-specific DNA binding
GO:0022857	0.076578	2.569451	0.063681	transmembrane transporter activity
GO:0016491	0.075726	2.580630	1.733616	oxidoreductase activity
GO:0019899	0.073861	2.605574	1.908834	enzyme binding
GO:0016772	0.070130	2.657409	0.857904	transferase activity, transferring phosphorus-containing groups
GO:0140110	0.067051	2.702307	2.702307	transcription regulator activity
GO:0003690	0.066145	2.715905	0.494816	double-stranded DNA binding
GO:0098772	0.062269	2.776290	2.776290	molecular function regulator
GO:0043168	0.060096	2.811818	0.524475	anion binding
GO:1990837	0.059860	2.815744	0.015313	sequence-specific double-stranded DNA binding
GO:0015075	0.059190	2.827002	0.257551	ion transmembrane transporter activity
GO:0015318	0.056835	2.867595	0.298143	inorganic molecular entity transmembrane transporter activity
GO:0016301	0.054499	2.909573	0.252163	kinase activity
GO:0005102	0.053231	2.933111	2.236371	signaling receptor binding
GO:0016788	0.052543	2.946125	1.012760	hydrolase activity, acting on ester bonds
GO:0036094	0.051438	2.967376	2.531095	small molecule binding
GO:0043169	0.051329	2.969491	0.682148	cation binding
GO:0001067	0.051130	2.973380	1.101913	regulatory region nucleic acid binding
GO:0000976	0.050967	2.976573	0.000000	transcription regulatory region sequence-specific DNA binding
GO:0003700	0.050696	2.981918	0.279611	DNA-binding transcription factor activity
GO:0003723	0.049554	3.004683	1.133216	RNA binding
GO:0016773	0.049156	3.012757	0.355348	phosphotransferase activity, alcohol group as acceptor
GO:0060089	0.048377	3.028727	3.028727	molecular transducer activity
GO:0046872	0.047508	3.046862	0.077370	metal ion binding
GO:0038023	0.047345	3.050299	0.021571	signaling receptor activity
GO:0044877	0.043994	3.123701	2.687419	protein-containing complex binding
GO:0008324	0.042110	3.167460	0.340458	cation transmembrane transporter activity
GO:0004672	0.038778	3.249907	0.000000	protein kinase activity
GO:0022890	0.037673	3.278812	0.067838	inorganic cation transmembrane transporter activity
GO:0097367	0.037093	3.294317	2.858035	carbohydrate derivative binding
GO:0004888	0.036930	3.298721	0.248422	transmembrane signaling receptor activity
GO:0046983	0.036115	3.321038	2.624298	protein dimerization activity
GO:0030234	0.036061	3.322543	0.546253	enzyme regulator activity
GO:0000166	0.035427	3.340279	0.000000	nucleotide binding
GO:1901265	0.035427	3.340279	1.706513	nucleoside phosphate binding
GO:0008092	0.034938	3.354179	2.657439	cytoskeletal protein binding
GO:0016817	0.033109	3.407958	1.474593	hydrolase activity, acting on acid anhydrides
GO:0016818	0.033018	3.410697	0.002739	hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides
GO:0016462	0.032819	3.416749	0.006052	pyrophosphatase activity
GO:0008233	0.029559	3.521374	0.368855	peptidase activity
GO:0022803	0.029559	3.521374	0.951923	passive transmembrane transporter activity
GO:0015267	0.029541	3.521987	0.000613	channel activity
GO:0017111	0.029034	3.539303	0.122554	nucleoside-triphosphatase activity
GO:0042803	0.027077	3.609054	0.029656	protein homodimerization activity
GO:0000981	0.026969	3.613076	0.631157	DNA-binding transcription factor activity, RNA polymerase II-specific
GO:0046873	0.026226	3.640997	0.362185	metal ion transmembrane transporter activity
GO:0070011	0.026081	3.646537	0.125163	peptidase activity, acting on L-amino acid peptides
GO:0005198	0.025955	3.651410	3.651410	structural molecule activity
GO:0046914	0.025828	3.656307	0.609445	transition metal ion binding
GO:0016829	0.025828	3.656307	2.809293	lyase activity
GO:0005216	0.025628	3.664051	0.007744	ion channel activity
GO:0008134	0.025447	3.671143	2.974403	transcription factor binding
GO:0008289	0.025429	3.671855	3.235573	lipid binding
GO:0032553	0.025248	3.679003	0.005009	ribonucleotide binding
GO:0042578	0.024976	3.689822	0.743697	phosphoric ester hydrolase activity
GO:0004674	0.024741	3.699294	0.449386	protein serine/threonine kinase activity
GO:0016757	0.024288	3.717765	1.918260	transferase activity, transferring glycosyl groups
GO:0017076	0.024234	3.720004	0.379726	purine nucleotide binding
GO:0019900	0.024125	3.724499	1.118925	kinase binding
GO:0032555	0.023781	3.738866	0.000761	purine ribonucleotide binding
GO:0000977	0.023038	3.770590	0.794016	RNA polymerase II transcription regulatory region sequence-specific DNA binding
GO:0019904	0.022948	3.774528	3.077789	protein domain specific binding
GO:0140098	0.022568	3.791242	2.944228	catalytic activity, acting on RNA
GO:0008509	0.022205	3.807423	0.980421	anion transmembrane transporter activity
GO:0003682	0.022151	3.809873	3.373592	chromatin binding
GO:0015077	0.021517	3.838909	0.560097	monovalent inorganic cation transmembrane transporter activity
GO:0003729	0.020937	3.866215	0.861531	mRNA binding
GO:0016746	0.020793	3.873159	2.073654	transferase activity, transferring acyl groups
GO:0019901	0.020430	3.890734	0.166235	protein kinase binding
GO:0035639	0.020267	3.898745	0.431632	purine ribonucleoside triphosphate binding
GO:0005261	0.019724	3.925920	0.003666	cation channel activity
GO:0000987	0.019670	3.928679	0.952106	cis-regulatory region sequence-specific DNA binding
GO:0022804	0.019326	3.946329	1.376878	active transmembrane transporter activity
GO:0016791	0.018927	3.967163	0.277342	phosphatase activity
GO:0022836	0.018782	3.974848	0.452861	gated channel activity
GO:0004930	0.018293	4.001230	0.702509	G protein-coupled receptor activity
GO:0016747	0.018257	4.003212	0.130053	transferase activity, transferring acyl groups other than amino-acyl groups
GO:0016887	0.018076	4.013182	0.473879	ATPase activity
GO:0051020	0.017225	4.061422	1.455848	GTPase binding
GO:0030554	0.017043	4.071992	0.351988	adenyl nucleotide binding
GO:0016758	0.016971	4.076252	0.358488	transferase activity, transferring hexosyl groups
GO:0016798	0.016971	4.076252	2.142887	hydrolase activity, acting on glycosyl bonds
GO:0032559	0.016754	4.089142	0.000000	adenyl ribonucleotide binding
GO:0000978	0.016228	4.120995	0.013304	RNA polymerase II cis-regulatory region sequence-specific DNA binding
GO:0019787	0.016228	4.120995	1.401799	ubiquitin-like protein transferase activity
GO:0016741	0.015993	4.135610	2.336105	transferase activity, transferring one-carbon groups
GO:0001216	0.015866	4.143570	1.161651	DNA-binding transcription activator activity
GO:0008047	0.015848	4.144712	0.822168	enzyme activator activity
GO:0016614	0.015812	4.147000	1.566370	oxidoreductase activity, acting on CH-OH group of donors
GO:0140097	0.015594	4.160841	3.313827	catalytic activity, acting on DNA
GO:0016874	0.014834	4.210852	3.363837	ligase activity
GO:0004842	0.014816	4.212073	0.091078	ubiquitin-protein transferase activity
GO:0016853	0.014689	4.220668	3.373653	isomerase activity
GO:0008168	0.014653	4.223137	0.087526	methyltransferase activity
GO:0003712	0.014490	4.234324	1.532017	transcription coregulator activity
GO:0003779	0.014453	4.236827	0.882648	actin binding
GO:0022853	0.014435	4.238081	0.072583	active ion transmembrane transporter activity
GO:0005524	0.014417	4.239336	0.002509	ATP binding
GO:0030545	0.014381	4.241852	1.465562	receptor regulator activity
GO:0004857	0.014327	4.245638	0.923094	enzyme inhibitor activity
GO:0004175	0.014236	4.251979	0.605442	endopeptidase activity
GO:0004518	0.014145	4.258360	1.312236	nuclease activity
GO:0003735	0.014127	4.259642	0.608232	structural constituent of ribosome
GO:0008514	0.013946	4.272545	0.465122	organic anion transmembrane transporter activity
GO:0016616	0.013910	4.275146	0.128146	oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0004553	0.013874	4.277753	0.201501	hydrolase activity, hydrolyzing O-glycosyl compounds
GO:0005543	0.013675	4.292218	0.212759	phospholipid binding
GO:0016705	0.013439	4.309586	1.728956	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen
GO:0030546	0.013403	4.312285	0.070433	signaling receptor activator activity
GO:0001228	0.013276	4.321790	0.002725	DNA-binding transcription activator activity, RNA polymerase II-specific
GO:0048018	0.013222	4.325891	0.006826	receptor ligand activity
GO:0031267	0.013077	4.336910	0.275489	small GTPase binding
GO:0008270	0.012950	4.346653	0.690346	zinc ion binding
GO:0017016	0.012588	4.375024	0.038113	Ras GTPase binding
GO:0005509	0.012515	4.380796	1.333934	calcium ion binding
GO:0015631	0.012443	4.386601	1.032423	tubulin binding
GO:0033218	0.012171	4.408677	3.972395	amide binding
GO:0016835	0.012081	4.416146	0.759839	carbon-oxygen lyase activity
GO:0016810	0.012008	4.422161	2.488796	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds
GO:0140297	0.011700	4.448136	0.776993	DNA-binding transcription factor binding
GO:0015291	0.011574	4.459031	0.512702	secondary active transmembrane transporter activity
GO:0046982	0.011139	4.497313	1.176276	protein heterodimerization activity
GO:0060090	0.011121	4.498941	4.062659	molecular adaptor activity
GO:0016779	0.011103	4.500571	1.843162	nucleotidyltransferase activity
GO:0008194	0.010976	4.512056	0.794291	UDP-glycosyltransferase activity
GO:0008757	0.010940	4.515361	0.292225	S-adenosylmethionine-dependent methyltransferase activity
GO:0000287	0.010795	4.528695	1.481833	magnesium ion binding
GO:0005342	0.010396	4.566306	1.996855	organic acid transmembrane transporter activity
GO:0004497	0.010378	4.568050	1.987420	monooxygenase activity
GO:0046943	0.010233	4.582110	0.003534	carboxylic acid transmembrane transporter activity
GO:0001217	0.010070	4.598167	1.616249	DNA-binding transcription repressor activity
GO:0060589	0.009925	4.612660	1.290117	nucleoside-triphosphatase regulator activity
GO:0022834	0.009835	4.621826	0.646978	ligand-gated channel activity
GO:0052689	0.009835	4.621826	1.675701	carboxylic ester hydrolase activity
GO:0015276	0.009744	4.631077	0.000000	ligand-gated ion channel activity
GO:0042277	0.009581	4.647947	0.239270	peptide binding
GO:0016765	0.009563	4.649839	2.850334	transferase activity, transferring alkyl or aryl (other than methyl) groups
GO:0030674	0.009418	4.665107	0.161268	protein-macromolecule adaptor activity
GO:0008017	0.009364	4.670893	0.284291	microtubule binding
GO:0050839	0.009237	4.684525	3.987785	cell adhesion molecule binding
GO:0004721	0.009165	4.692399	0.005911	phosphoprotein phosphatase activity
GO:0001664	0.009056	4.704328	1.771217	G protein-coupled receptor binding
GO:1901681	0.008875	4.724530	4.288248	sulfur compound binding
GO:0015079	0.008694	4.745149	0.574973	potassium ion transmembrane transporter activity
GO:0035091	0.008603	4.755621	0.463403	phosphatidylinositol binding
GO:0022832	0.008567	4.759840	0.784992	voltage-gated channel activity
GO:0003924	0.008495	4.768333	1.229029	GTPase activity
GO:0015081	0.008476	4.770467	0.600291	sodium ion transmembrane transporter activity
GO:0005244	0.008440	4.774750	0.004283	voltage-gated ion channel activity
GO:0016836	0.008332	4.787709	0.371564	hydro-lyase activity
GO:0016298	0.008332	4.787709	1.841584	lipase activity
GO:0030695	0.008277	4.794252	0.181592	GTPase regulator activity
GO:0015103	0.008169	4.807468	0.854557	inorganic anion transmembrane transporter activity
GO:0030246	0.008169	4.807468	4.371186	carbohydrate binding
GO:0015085	0.008132	4.811913	1.170916	calcium ion transmembrane transporter activity
GO:0004540	0.008078	4.818617	0.011148	ribonuclease activity
GO:0061629	0.008060	4.820861	0.372725	RNA polymerase II-specific DNA-binding transcription factor binding
GO:0140101	0.007987	4.829891	1.038649	catalytic activity, acting on a tRNA
GO:0019001	0.007987	4.829891	1.109886	guanyl nucleotide binding
GO:0003713	0.007969	4.832161	0.597837	transcription coactivator activity
GO:0004519	0.007879	4.843590	0.585229	endonuclease activity
GO:0061134	0.007879	4.843590	1.521046	peptidase regulator activity
GO:0005126	0.007879	4.843590	1.910479	cytokine receptor binding
GO:0032561	0.007842	4.848198	0.002307	guanyl ribonucleotide binding
GO:0043177	0.007752	4.859812	1.892436	organic acid binding
GO:0008234	0.007679	4.869202	1.222665	cysteine-type peptidase activity
GO:0031406	0.007643	4.873930	0.004728	carboxylic acid binding
GO:0005085	0.007643	4.873930	0.177571	guanyl-nucleotide exchange factor activity
GO:0044389	0.007571	4.883454	2.277881	ubiquitin-like protein ligase binding
GO:0016407	0.007553	4.885849	0.882637	acetyltransferase activity
GO:0016830	0.007498	4.893070	1.236763	carbon-carbon lyase activity
GO:0016209	0.007480	4.895488	4.895488	antioxidant activity
GO:0061659	0.007462	4.897912	0.776917	ubiquitin-like protein ligase activity
GO:0022843	0.007390	4.907668	0.019418	voltage-gated cation channel activity
GO:0099094	0.007317	4.917521	0.017178	ligand-gated cation channel activity
GO:0019207	0.007281	4.922484	1.599940	kinase regulator activity
GO:0001882	0.007227	4.929974	1.265923	nucleoside binding
GO:0031625	0.007209	4.932484	0.049029	ubiquitin protein ligase binding
GO:0061630	0.007136	4.942585	0.000000	ubiquitin protein ligase activity
GO:0015399	0.007136	4.942585	0.996255	primary active transmembrane transporter activity
GO:0015078	0.007136	4.942585	1.103676	proton transmembrane transporter activity
GO:0001883	0.007118	4.945126	0.015152	purine nucleoside binding
GO:0032549	0.007082	4.950228	0.020254	ribonucleoside binding
GO:0032550	0.007064	4.952789	0.000000	purine ribonucleoside binding
GO:0005096	0.006901	4.976136	0.000000	GTPase activator activity
GO:0051015	0.006883	4.978764	0.095310	actin filament binding
GO:0001227	0.006828	4.986690	0.000000	DNA-binding transcription repressor activity, RNA polymerase II-specific
GO:0030414	0.006828	4.986690	0.002649	peptidase inhibitor activity
GO:0016811	0.006810	4.989346	0.567186	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amides
GO:0019902	0.006810	4.989346	2.383773	phosphatase binding
GO:0042626	0.006701	5.005433	0.062848	ATPase-coupled transmembrane transporter activity
GO:1901981	0.006647	5.013574	0.257953	phosphatidylinositol phosphate binding
GO:0016410	0.006629	5.016302	1.013090	N-acyltransferase activity
GO:0019887	0.006611	5.019038	0.096555	protein kinase regulator activity
GO:0042393	0.006557	5.027291	4.330552	histone binding
GO:0001653	0.006484	5.038403	1.988104	peptide receptor activity
GO:0061135	0.006466	5.041200	0.197610	endopeptidase regulator activity
GO:0005525	0.006339	5.061002	0.011364	GTP binding
GO:0005539	0.006321	5.063864	1.769547	glycosaminoglycan binding
GO:0004866	0.006231	5.078294	0.000000	endopeptidase inhibitor activity
GO:0005262	0.006176	5.087053	0.000000	calcium channel activity
GO:0005267	0.006049	5.107795	0.000000	potassium channel activity
GO:0008528	0.006031	5.110793	0.023740	G protein-coupled peptide receptor activity
GO:0016903	0.005995	5.116817	2.536187	oxidoreductase activity, acting on the aldehyde or oxo group of donors
GO:0051213	0.005995	5.116817	2.536187	dioxygenase activity
GO:0015171	0.005977	5.119843	0.537733	amino acid transmembrane transporter activity
GO:0017171	0.005941	5.125922	0.000000	serine hydrolase activity
GO:0016825	0.005941	5.125922	3.192557	hydrolase activity, acting on acid phosphorus-nitrogen bonds
GO:0045182	0.005905	5.132038	5.132038	translation regulator activity
GO:0016651	0.005886	5.135110	2.554481	oxidoreductase activity, acting on NAD(P)H
GO:0005230	0.005868	5.138192	0.507115	extracellular ligand-gated ion channel activity
GO:0003714	0.005868	5.138192	0.903868	transcription corepressor activity
GO:0008081	0.005868	5.138192	1.448370	phosphoric diester hydrolase activity
GO:0008236	0.005832	5.144384	0.000000	serine-type peptidase activity
GO:0004620	0.005832	5.144384	0.356675	phospholipase activity
GO:0008094	0.005814	5.147494	1.134312	DNA-dependent ATPase activity
GO:0003697	0.005796	5.150615	2.929526	single-stranded DNA binding
GO:0015293	0.005778	5.153744	0.694713	symporter activity
GO:0016667	0.005705	5.166363	2.585733	oxidoreductase activity, acting on a sulfur group of donors
GO:0008170	0.005687	5.169543	0.946406	N-methyltransferase activity
GO:0004386	0.005669	5.172732	1.159550	helicase activity
GO:0008237	0.005651	5.175932	1.529395	metallopeptidase activity
GO:0015294	0.005615	5.182363	0.000000	solute:cation symporter activity
GO:0019903	0.005615	5.182363	0.193017	protein phosphatase binding
GO:0030594	0.005578	5.188836	2.138537	neurotransmitter receptor activity
GO:0005516	0.005578	5.188836	4.492096	calmodulin binding
GO:0008022	0.005578	5.188836	4.492096	protein C-terminus binding
GO:0016627	0.005470	5.208509	2.627879	oxidoreductase activity, acting on the CH-CH group of donors
GO:0016879	0.005379	5.225203	1.014352	ligase activity, forming carbon-nitrogen bonds
GO:0004713	0.005307	5.238763	1.988856	protein tyrosine kinase activity
GO:0051427	0.005289	5.242182	2.309071	hormone receptor binding
GO:0008080	0.005271	5.245612	0.000000	N-acetyltransferase activity
GO:0019842	0.005252	5.249055	2.281678	vitamin binding
GO:0016247	0.005144	5.269961	2.493671	channel regulator activity
GO:0004527	0.005126	5.273489	1.015128	exonuclease activity
GO:0008238	0.005108	5.277029	1.630491	exopeptidase activity
GO:0008276	0.005089	5.280581	0.010620	protein methyltransferase activity
GO:0017137	0.005071	5.284146	0.909122	Rab GTPase binding
GO:0015108	0.005017	5.294918	0.487450	chloride transmembrane transporter activity
GO:0043021	0.004945	5.309464	2.185763	ribonucleoprotein complex binding
GO:0016684	0.004800	5.339206	2.758576	oxidoreductase activity, acting on peroxide as acceptor
GO:0019838	0.004800	5.339206	4.642466	growth factor binding
GO:0017048	0.004782	5.342986	0.967963	Rho GTPase binding
GO:0140030	0.004745	5.350591	4.653851	modification-dependent protein binding
GO:0046906	0.004709	5.358254	3.724488	tetrapyrrole binding
GO:0009055	0.004691	5.362108	2.781478	electron transfer activity
GO:0042562	0.004691	5.362108	4.925826	hormone binding
GO:0005506	0.004673	5.365976	1.709669	iron ion binding
GO:0003730	0.004655	5.369860	1.503645	mRNA 3'-UTR binding
GO:0005319	0.004655	5.369860	2.864089	lipid transporter activity
GO:0016782	0.004637	5.373758	3.574253	transferase activity, transferring sulfur-containing groups
GO:0042887	0.004600	5.381601	2.812150	amide transmembrane transporter activity
GO:0008201	0.004564	5.389507	0.042725	heparin binding
GO:0003727	0.004510	5.401483	2.396799	single-stranded RNA binding
GO:0004601	0.004456	5.413604	0.055350	peroxidase activity
GO:0090079	0.004456	5.413604	0.133023	translation regulator activity, nucleic acid binding
GO:0005507	0.004437	5.417677	1.761370	copper ion binding
GO:0016620	0.004419	5.421767	0.304950	oxidoreductase activity, acting on the aldehyde or oxo group of donors, NAD or NADP as acceptor
GO:0003774	0.004419	5.421767	1.882464	motor activity
GO:0015144	0.004419	5.421767	2.852316	carbohydrate transmembrane transporter activity
GO:0004521	0.004383	5.429998	0.016394	endoribonuclease activity
GO:0042625	0.004365	5.434139	0.000000	ATPase-coupled ion transmembrane transporter activity
GO:0005088	0.004365	5.434139	0.032656	Ras guanyl-nucleotide exchange factor activity
GO:0005179	0.004329	5.442472	1.116581	hormone activity
GO:0008144	0.004311	5.446665	5.010383	drug binding
GO:0008374	0.004274	5.455104	1.451892	O-acyltransferase activity
GO:0002020	0.004256	5.459350	2.853776	protease binding
GO:0099106	0.004220	5.467897	0.197936	ion channel regulator activity
GO:0016831	0.004220	5.467897	0.574828	carboxy-lyase activity
GO:0043621	0.004220	5.467897	4.771157	protein self-association
GO:0005125	0.004166	5.480856	1.154965	cytokine activity
GO:0015297	0.004148	5.485214	1.026182	antiporter activity
GO:0016877	0.004148	5.485214	1.274362	ligase activity, forming carbon-sulfur bonds
GO:0035257	0.004130	5.489590	0.000000	nuclear hormone receptor binding
GO:0004536	0.004130	5.489590	0.104044	deoxyribonuclease activity
GO:0016763	0.004130	5.489590	1.771825	transferase activity, transferring pentosyl groups
GO:0005253	0.004111	5.493986	0.004396	anion channel activity
GO:0046527	0.004093	5.498401	1.422148	glucosyltransferase activity
GO:0030145	0.004093	5.498401	1.842094	manganese ion binding
GO:0020037	0.004057	5.507290	0.149036	heme binding
GO:0050660	0.004057	5.507290	2.040176	flavin adenine dinucleotide binding
GO:0031072	0.004039	5.511764	4.815024	heat shock protein binding
GO:0016860	0.004021	5.516258	1.295591	intramolecular oxidoreductase activity
GO:0016709	0.003985	5.525308	0.660812	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of one atom of oxygen
GO:0019783	0.003967	5.529864	0.660662	ubiquitin-like protein-specific protease activity
GO:1902936	0.003948	5.534441	0.520867	phosphatidylinositol bisphosphate binding
GO:0016866	0.003948	5.534441	1.313773	intramolecular transferase activity
GO:0005249	0.003894	5.548298	0.004640	voltage-gated potassium channel activity
GO:0017022	0.003858	5.557643	2.203465	myosin binding
GO:0051540	0.003840	5.562349	5.126068	metal cluster binding
GO:0051536	0.003822	5.567077	0.004728	iron-sulfur cluster binding
GO:0098960	0.003822	5.567077	0.378242	postsynaptic neurotransmitter receptor activity
GO:0046915	0.003822	5.567077	1.926080	transition metal ion transmembrane transporter activity
GO:0019955	0.003822	5.567077	4.870338	cytokine binding
GO:0070851	0.003785	5.576601	2.643490	growth factor receptor binding
GO:0044325	0.003785	5.576601	4.879862	ion channel binding
GO:0004252	0.003767	5.581398	0.033100	serine-type endopeptidase activity
GO:0005178	0.003767	5.581398	0.074108	integrin binding
GO:0022824	0.003749	5.586217	0.000000	transmitter-gated ion channel activity
GO:0019829	0.003749	5.586217	0.004819	ATPase-coupled cation transmembrane transporter activity
GO:0022835	0.003749	5.586217	0.004819	transmitter-gated channel activity
GO:0003678	0.003731	5.591059	0.009662	DNA helicase activity
GO:0015179	0.003695	5.600816	0.480973	L-amino acid transmembrane transporter activity
GO:0004722	0.003695	5.600816	0.908417	protein serine/threonine phosphatase activity
GO:0019199	0.003677	5.605730	0.033902	transmembrane receptor protein kinase activity
GO:0005496	0.003677	5.605730	0.439367	steroid binding
GO:0140375	0.003677	5.605730	2.555431	immune receptor activity
GO:0008173	0.003604	5.625631	0.000000	RNA methyltransferase activity
GO:0034212	0.003604	5.625631	0.380018	peptide N-acetyltransferase activity
GO:0101005	0.003550	5.640821	2.488302	ubiquitinyl hydrolase activity
GO:0051082	0.003550	5.640821	4.944081	unfolded protein binding
GO:0016875	0.003532	5.645936	1.435085	ligase activity, forming carbon-oxygen bonds
GO:0008242	0.003532	5.645936	1.999399	omega peptidase activity
GO:0004812	0.003514	5.651077	0.000000	aminoacyl-tRNA ligase activity
GO:0003823	0.003514	5.651077	5.214796	antigen binding
GO:0033293	0.003496	5.656245	0.782315	monocarboxylic acid binding
GO:1901505	0.003496	5.656245	3.086794	carbohydrate derivative transmembrane transporter activity
GO:0005231	0.003459	5.666662	0.528470	excitatory extracellular ligand-gated ion channel activity
GO:0016796	0.003441	5.671912	0.398423	exonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0016776	0.003441	5.671912	3.014502	phosphotransferase activity, phosphate group as acceptor
GO:0005254	0.003369	5.693189	0.000000	chloride channel activity
GO:0008408	0.003351	5.698580	0.425091	3'-5' exonuclease activity
GO:0004867	0.003351	5.698580	0.620286	serine-type endopeptidase inhibitor activity
GO:0015370	0.003333	5.704000	0.000000	solute:sodium symporter activity
GO:0072341	0.003333	5.704000	5.267718	modified amino acid binding
GO:0004197	0.003314	5.709449	0.032261	cysteine-type endopeptidase activity
GO:0051287	0.003314	5.709449	2.369171	NAD binding
GO:0004725	0.003296	5.714929	1.022530	protein tyrosine phosphatase activity
GO:0016645	0.003296	5.714929	3.134299	oxidoreductase activity, acting on the CH-NH group of donors
GO:0008135	0.003278	5.720439	0.243921	translation factor activity, RNA binding
GO:0042054	0.003206	5.742786	0.462205	histone methyltransferase activity
GO:0019213	0.003188	5.748452	3.815087	deacetylase activity
GO:0035251	0.003170	5.754150	0.011364	UDP-glucosyltransferase activity
GO:0061733	0.003170	5.754150	0.128519	peptide-lysine-N-acetyltransferase activity
GO:0004659	0.003170	5.754150	1.104310	prenyltransferase activity
GO:0016769	0.003151	5.759880	3.960375	transferase activity, transferring nitrogenous groups
GO:0032182	0.003151	5.759880	5.063140	ubiquitin-like protein binding
GO:0015036	0.003097	5.777272	0.610909	disulfide oxidoreductase activity
GO:0051087	0.003097	5.777272	5.080532	chaperone binding
GO:0036459	0.003079	5.783137	0.000000	thiol-dependent ubiquitinyl hydrolase activity
GO:0008483	0.003079	5.783137	0.023257	transaminase activity
GO:0048029	0.003079	5.783137	0.068208	monosaccharide binding
GO:1904680	0.003079	5.783137	0.401536	peptide transmembrane transporter activity
GO:0016278	0.003061	5.789037	0.593686	lysine N-methyltransferase activity
GO:0019208	0.003061	5.789037	2.466494	phosphatase regulator activity
GO:0003725	0.003061	5.789037	2.784354	double-stranded RNA binding
GO:0000149	0.003061	5.789037	5.092297	SNARE binding
GO:0016279	0.003025	5.800942	0.000000	protein-lysine N-methyltransferase activity
GO:0004364	0.003025	5.800942	1.151102	glutathione transferase activity
GO:0004896	0.003007	5.806948	0.201218	cytokine receptor activity
GO:0016799	0.003007	5.806948	1.730695	hydrolase activity, hydrolyzing N-glycosyl compounds
GO:0019209	0.002988	5.812990	0.018019	kinase activator activity
GO:0016878	0.002988	5.812990	0.327777	acid-thiol ligase activity
GO:0016893	0.002988	5.812990	0.969401	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 5'-phosphomonoesters
GO:0005200	0.002988	5.812990	2.161580	structural constituent of cytoskeleton
GO:0031490	0.002970	5.819069	1.233413	chromatin DNA binding
GO:0019200	0.002970	5.819069	2.909497	carbohydrate kinase activity
GO:0004402	0.002916	5.837531	0.083382	histone acetyltransferase activity
GO:0008028	0.002916	5.837531	1.255421	monocarboxylic acid transmembrane transporter activity
GO:0015926	0.002898	5.843762	1.566008	glucosidase activity
GO:1990782	0.002898	5.843762	1.953028	protein tyrosine kinase binding
GO:0050661	0.002898	5.843762	2.503483	NADP binding
GO:0016706	0.002880	5.850031	0.140582	2-oxoglutarate-dependent dioxygenase activity
GO:0015932	0.002880	5.850031	3.280580	nucleobase-containing compound transmembrane transporter activity
GO:0072509	0.002862	5.856341	2.577528	divalent inorganic cation transmembrane transporter activity
GO:0008146	0.002844	5.862690	0.488932	sulfotransferase activity
GO:0019205	0.002844	5.862690	2.953117	nucleobase-containing compound kinase activity
GO:0009975	0.002844	5.862690	5.015676	cyclase activity
GO:0008013	0.002844	5.862690	5.165950	beta-catenin binding
GO:0047485	0.002844	5.862690	5.165950	protein N-terminus binding
GO:0004222	0.002825	5.869080	0.025318	metalloendopeptidase activity
GO:0016922	0.002825	5.869080	0.379490	nuclear receptor binding
GO:0043178	0.002825	5.869080	2.901703	alcohol binding
GO:0030295	0.002807	5.875510	0.000000	protein kinase activator activity
GO:0033613	0.002807	5.875510	1.427374	activating transcription factor binding
GO:0016701	0.002789	5.881983	3.301353	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen
GO:0004520	0.002771	5.888498	0.006515	endodeoxyribonuclease activity
GO:0004843	0.002771	5.888498	0.105361	thiol-dependent ubiquitin-specific protease activity
GO:0008227	0.002771	5.888498	1.887268	G protein-coupled amine receptor activity
GO:0019888	0.002753	5.895055	0.106018	protein phosphatase regulator activity
GO:0016854	0.002753	5.895055	1.674388	racemase and epimerase activity
GO:0016838	0.002735	5.901656	1.485510	carbon-oxygen lyase activity, acting on phosphates
GO:0051117	0.002662	5.928503	3.322929	ATPase binding
GO:0070566	0.002644	5.935329	1.434758	adenylyltransferase activity
GO:0005546	0.002626	5.942202	0.407761	phosphatidylinositol-4,5-bisphosphate binding
GO:0016405	0.002626	5.942202	0.456988	CoA-ligase activity
GO:0015662	0.002626	5.942202	0.508063	ion transmembrane transporter activity, phosphorylative mechanism
GO:0004177	0.002626	5.942202	0.665173	aminopeptidase activity
GO:0030165	0.002626	5.942202	2.167673	PDZ domain binding
GO:0051219	0.002626	5.942202	5.245462	phosphoprotein binding
GO:0005245	0.002608	5.949122	0.092782	voltage-gated calcium channel activity
GO:0070491	0.002608	5.949122	1.500986	repressing transcription factor binding
GO:0098531	0.002608	5.949122	2.967204	ligand-activated transcription factor activity
GO:0042826	0.002572	5.963109	3.357535	histone deacetylase binding
GO:0008083	0.002554	5.970176	1.644285	growth factor activity
GO:0019843	0.002554	5.970176	2.965492	rRNA binding
GO:0043130	0.002536	5.977293	0.217413	ubiquitin binding
GO:0003777	0.002536	5.977293	0.555526	microtubule motor activity
GO:0015298	0.002518	5.984462	0.021353	solute:cation antiporter activity
GO:0016702	0.002499	5.991682	0.000000	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of two atoms of oxygen
GO:0004714	0.002481	5.998955	0.000000	transmembrane receptor protein tyrosine kinase activity
GO:0004879	0.002481	5.998955	0.014493	nuclear receptor activity
GO:0030247	0.002481	5.998955	1.191486	polysaccharide binding
GO:0001046	0.002481	5.998955	3.022381	core promoter sequence-specific DNA binding
GO:1901618	0.002481	5.998955	3.131360	organic hydroxy compound transmembrane transporter activity
GO:0016638	0.002481	5.998955	3.418325	oxidoreductase activity, acting on the CH-NH2 group of donors
GO:0004532	0.002463	6.006281	0.064079	exoribonuclease activity
GO:0016628	0.002463	6.006281	0.797772	oxidoreductase activity, acting on the CH-CH group of donors, NAD or NADP as acceptor
GO:0016597	0.002463	6.006281	1.132350	amino acid binding
GO:0017124	0.002463	6.006281	2.231752	SH3 domain binding
GO:0042162	0.002463	6.006281	3.460899	telomeric DNA binding
GO:0038024	0.002463	6.006281	6.006281	cargo receptor activity
GO:0016849	0.002445	6.013661	2.357354	phosphorus-oxygen lyase activity
GO:0034061	0.002427	6.021096	0.036634	DNA polymerase activity
GO:0005310	0.002409	6.028586	1.446477	dicarboxylic acid transmembrane transporter activity
GO:0016814	0.002409	6.028586	1.606426	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amidines
GO:0015175	0.002373	6.043738	0.923895	neutral amino acid transmembrane transporter activity
GO:0008188	0.002373	6.043738	0.932945	neuropeptide receptor activity
GO:0070279	0.002355	6.051401	0.553001	vitamin B6 binding
GO:0097747	0.002336	6.059123	0.252175	RNA polymerase activity
GO:0019210	0.002318	6.066905	0.038319	kinase inhibitor activity
GO:0015491	0.002318	6.066905	0.082444	cation:cation antiporter activity
GO:0043022	0.002318	6.066905	0.757442	ribosome binding
GO:1901682	0.002318	6.066905	3.497454	sulfur compound transmembrane transporter activity
GO:0005272	0.002300	6.074749	0.000000	sodium channel activity
GO:0042910	0.002300	6.074749	3.505297	xenobiotic transmembrane transporter activity
GO:0016891	0.002282	6.082654	0.000000	endoribonuclease activity, producing 5'-phosphomonoesters
GO:0018024	0.002282	6.082654	0.007905	histone-lysine N-methyltransferase activity
GO:0016780	0.002282	6.082654	3.425245	phosphotransferase activity, for other substituted phosphate groups
GO:0034062	0.002264	6.090622	0.031499	5'-3' RNA polymerase activity
GO:0099529	0.002264	6.090622	0.523544	neurotransmitter receptor activity involved in regulation of postsynaptic membrane potential
GO:0016881	0.002264	6.090622	0.865418	acid-amino acid ligase activity
GO:0008375	0.002264	6.090622	1.463255	acetylglucosaminyltransferase activity
GO:0016896	0.002246	6.098654	0.000000	exoribonuclease activity, producing 5'-phosphomonoesters
GO:0035258	0.002246	6.098654	0.609064	steroid hormone receptor binding
GO:0033558	0.002228	6.106751	0.000000	protein deacetylase activity
GO:0030170	0.002228	6.106751	0.016129	pyridoxal phosphate binding
GO:0042379	0.002228	6.106751	0.039846	chemokine receptor binding
GO:0000030	0.002228	6.106751	2.030499	mannosyltransferase activity
GO:0051119	0.002210	6.114915	0.693147	sugar transmembrane transporter activity
GO:0004860	0.002192	6.123145	0.000000	protein kinase inhibitor activity
GO:1904315	0.002192	6.123145	0.008230	transmitter-gated ion channel activity involved in regulation of postsynaptic membrane potential
GO:0008171	0.002192	6.123145	1.900008	O-methyltransferase activity
GO:0005518	0.002192	6.123145	2.999444	collagen binding
GO:0005372	0.002192	6.123145	3.255550	water transmembrane transporter activity
GO:0003743	0.002173	6.131444	0.411005	translation initiation factor activity
GO:0035064	0.002155	6.139812	0.000000	methylated histone binding
GO:0051539	0.002155	6.139812	0.572735	4 iron, 4 sulfur cluster binding
GO:0140034	0.002155	6.139812	0.789221	methylation-dependent protein binding
GO:0046332	0.002155	6.139812	5.443072	SMAD binding
GO:0015145	0.002119	6.156762	0.041847	monosaccharide transmembrane transporter activity
GO:0004984	0.002119	6.156762	2.858041	olfactory receptor activity
GO:0016790	0.002119	6.156762	3.210637	thiolester hydrolase activity
GO:0001098	0.002119	6.156762	5.460022	basal transcription machinery binding
GO:0015020	0.002101	6.165345	1.537979	glucuronosyltransferase activity
GO:0016859	0.002101	6.165345	1.944678	cis-trans isomerase activity
GO:0032451	0.002101	6.165345	5.318331	demethylase activity
GO:0004869	0.002083	6.174003	1.095710	cysteine-type endopeptidase inhibitor activity
GO:0140223	0.002083	6.174003	3.471696	general transcription initiation factor activity
GO:0070063	0.002083	6.174003	3.568430	RNA polymerase binding
GO:0008378	0.002065	6.182737	2.106485	galactosyltransferase activity
GO:0005089	0.002047	6.191548	0.008811	Rho guanyl-nucleotide exchange factor activity
GO:0019239	0.002047	6.191548	4.258183	deaminase activity
GO:0015459	0.002029	6.200437	0.732540	potassium channel regulator activity
GO:0048365	0.002029	6.200437	0.857450	Rac GTPase binding
GO:0004683	0.002029	6.200437	2.501143	calmodulin-dependent protein kinase activity
GO:0001099	0.002010	6.209405	0.052644	basal RNA polymerase II transcription machinery binding
GO:0015101	0.002010	6.209405	3.041945	organic cation transmembrane transporter activity
GO:0010333	0.001974	6.227588	0.325932	terpene synthase activity
GO:0019840	0.001974	6.227588	2.555733	isoprenoid binding
GO:0017046	0.001956	6.236804	0.018349	peptide hormone binding
GO:0008157	0.001956	6.236804	1.054441	protein phosphatase 1 binding
GO:0022839	0.001938	6.246107	2.271258	ion gated channel activity
GO:0052866	0.001938	6.246107	2.278943	phosphatidylinositol phosphate phosphatase activity
GO:0016229	0.001938	6.246107	3.665477	steroid dehydrogenase activity
GO:0061783	0.001938	6.246107	5.399093	peptidoglycan muralytic activity
GO:0004407	0.001920	6.255497	0.081493	histone deacetylase activity
GO:0032266	0.001920	6.255497	1.241923	phosphatidylinositol-3-phosphate binding
GO:0035591	0.001920	6.255497	1.590390	signaling adaptor activity
GO:0008395	0.001920	6.255497	1.687447	steroid hydroxylase activity
GO:0050840	0.001920	6.255497	5.819215	extracellular matrix binding
GO:0016646	0.001902	6.264975	0.550046	oxidoreductase activity, acting on the CH-NH group of donors, NAD or NADP as acceptor
GO:0071949	0.001902	6.264975	0.757686	FAD binding
GO:0032934	0.001884	6.274545	0.668815	sterol binding
GO:0016248	0.001884	6.274545	1.004583	channel inhibitor activity
GO:0004112	0.001884	6.274545	1.136353	cyclic-nucleotide phosphodiesterase activity
GO:0004312	0.001884	6.274545	2.271333	fatty acid synthase activity
GO:0030276	0.001884	6.274545	5.577805	clathrin binding
GO:0051018	0.001884	6.274545	5.577805	protein kinase A binding
GO:0000175	0.001866	6.284207	0.019231	3'-5'-exoribonuclease activity
GO:0008200	0.001847	6.293963	0.000000	ion channel inhibitor activity
GO:0003899	0.001847	6.293963	0.203341	DNA-directed 5'-3' RNA polymerase activity
GO:0016655	0.001847	6.293963	1.158852	oxidoreductase activity, acting on NAD(P)H, quinone or similar compound as acceptor
GO:0097110	0.001847	6.293963	5.597223	scaffold protein binding
GO:0016538	0.001829	6.303815	1.284777	cyclin-dependent protein serine/threonine kinase regulator activity
GO:0000049	0.001829	6.303815	3.299132	tRNA binding
GO:0003684	0.001829	6.303815	4.082726	damaged DNA binding
GO:0031369	0.001829	6.303815	5.607075	translation initiation factor binding
GO:0003755	0.001811	6.313765	0.000000	peptidyl-prolyl cis-trans isomerase activity
GO:0030971	0.001811	6.313765	0.139762	receptor tyrosine kinase binding
GO:0004623	0.001811	6.313765	0.518794	phospholipase A2 activity
GO:0004180	0.001811	6.313765	1.036737	carboxypeptidase activity
GO:1990841	0.001811	6.313765	2.503892	promoter-specific chromatin binding
GO:0140296	0.001811	6.313765	2.642622	general transcription initiation factor binding
GO:0003724	0.001793	6.323816	0.149812	RNA helicase activity
GO:0019003	0.001793	6.323816	1.371027	GDP binding
GO:0001085	0.001793	6.323816	2.652673	RNA polymerase II transcription factor binding
GO:0061980	0.001793	6.323816	3.319132	regulatory RNA binding
GO:0005504	0.001775	6.333968	0.377877	fatty acid binding
GO:0008066	0.001775	6.333968	3.035247	glutamate receptor activity
GO:0022829	0.001739	6.354587	2.832600	wide pore channel activity
GO:0008175	0.001721	6.365059	0.000000	tRNA methyltransferase activity
GO:0009678	0.001721	6.365059	0.000000	pyrophosphate hydrolysis-driven proton transmembrane transporter activity
GO:0001530	0.001721	6.365059	0.844286	lipopolysaccharide binding
GO:0001221	0.001721	6.365059	2.693916	transcription cofactor binding
GO:0008307	0.001721	6.365059	2.713649	structural constituent of muscle
GO:0008046	0.001721	6.365059	3.066338	axon guidance receptor activity
GO:0002039	0.001721	6.365059	5.668319	p53 binding
GO:0015149	0.001703	6.375641	0.218879	hexose transmembrane transporter activity
GO:0003887	0.001703	6.375641	0.354545	DNA-directed DNA polymerase activity
GO:0019905	0.001703	6.375641	0.586604	syntaxin binding
GO:0005548	0.001703	6.375641	1.005781	phospholipid transporter activity
GO:0008198	0.001703	6.375641	1.009665	ferrous iron binding
GO:0005217	0.001703	6.375641	1.744564	intracellular ligand-gated ion channel activity
GO:0016840	0.001703	6.375641	2.719334	carbon-nitrogen lyase activity
GO:0016846	0.001703	6.375641	2.719334	carbon-sulfur lyase activity
GO:0004712	0.001703	6.375641	3.125734	protein serine/threonine/tyrosine kinase activity
GO:0048306	0.001703	6.375641	5.678901	calcium-dependent protein binding
GO:0008009	0.001684	6.386336	0.021277	chemokine activity
GO:0001786	0.001666	6.397147	0.000000	phosphatidylserine binding
GO:0015645	0.001666	6.397147	0.584157	fatty acid ligase activity
GO:0001540	0.001666	6.397147	1.749200	amyloid-beta binding
GO:0060590	0.001666	6.397147	1.784487	ATPase regulator activity
GO:0019203	0.001666	6.397147	2.429984	carbohydrate phosphatase activity
GO:0031593	0.001648	6.408076	1.057485	polyubiquitin modification-dependent protein binding
GO:0050897	0.001648	6.408076	2.751769	cobalt ion binding
GO:0015605	0.001648	6.408076	3.838625	organophosphate ester transmembrane transporter activity
GO:0120013	0.001630	6.419126	1.049266	lipid transfer activity
GO:0019894	0.001630	6.419126	3.064947	kinesin binding
GO:0015562	0.001630	6.419126	3.849675	efflux transmembrane transporter activity
GO:0016251	0.001612	6.430299	0.256296	RNA polymerase II general transcription initiation factor activity
GO:0070273	0.001612	6.430299	1.416725	phosphatidylinositol-4-phosphate binding
GO:0071855	0.001612	6.430299	1.725972	neuropeptide receptor binding
GO:0016775	0.001612	6.430299	3.772890	phosphotransferase activity, nitrogenous group as acceptor
GO:0004806	0.001594	6.441599	1.121085	triglyceride lipase activity
GO:0016668	0.001576	6.453027	0.022728	oxidoreductase activity, acting on a sulfur group of donors, NAD(P) as acceptor
GO:0009881	0.001576	6.453027	3.402729	photoreceptor activity
GO:0015250	0.001558	6.464588	0.000000	water channel activity
GO:0005501	0.001558	6.464588	0.237001	retinoid binding
GO:0016832	0.001558	6.464588	1.571519	aldehyde-lyase activity
GO:0003707	0.001558	6.464588	3.414290	steroid hormone receptor activity
GO:0035254	0.001558	6.464588	3.531477	glutamate receptor binding
GO:0090482	0.001558	6.464588	3.895137	vitamin transmembrane transporter activity
GO:0140318	0.001558	6.464588	3.958818	protein transporter activity
GO:0015295	0.001540	6.476284	0.000000	solute:proton symporter activity
GO:0015299	0.001540	6.476284	0.023257	solute:proton antiporter activity
GO:0033764	0.001540	6.476284	0.045985	steroid dehydrogenase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
GO:0001102	0.001540	6.476284	0.068208	RNA polymerase II activating transcription factor binding
GO:0005246	0.001540	6.476284	1.008387	calcium channel regulator activity
GO:0016679	0.001540	6.476284	3.895654	oxidoreductase activity, acting on diphenols and related substances as donors
GO:0043175	0.001521	6.488119	0.314115	RNA polymerase core enzyme binding
GO:0004016	0.001521	6.488119	0.428996	adenylate cyclase activity
GO:0016861	0.001521	6.488119	0.971861	intramolecular oxidoreductase activity, interconverting aldoses and ketoses
GO:0030332	0.001521	6.488119	5.791379	cyclin binding
GO:0019104	0.001503	6.500095	0.000000	DNA N-glycosylase activity
GO:0008235	0.001503	6.500095	0.113759	metalloexopeptidase activity
GO:0030551	0.001503	6.500095	3.159816	cyclic nucleotide binding
GO:0022884	0.001503	6.500095	3.930644	macromolecule transmembrane transporter activity
GO:0140299	0.001503	6.500095	6.500095	small molecule sensor activity
GO:0005355	0.001467	6.524486	0.148846	glucose transmembrane transporter activity
GO:0051879	0.001467	6.524486	1.012723	Hsp90 protein binding
GO:0030371	0.001467	6.524486	1.392448	translation repressor activity
GO:0016409	0.001467	6.524486	2.521274	palmitoyltransferase activity
GO:0019212	0.001449	6.536909	0.012423	phosphatase inhibitor activity
GO:0022848	0.001449	6.536909	0.024693	acetylcholine-gated cation-selective channel activity
GO:0005385	0.001449	6.536909	0.182322	zinc ion transmembrane transporter activity
GO:0016857	0.001449	6.536909	0.641854	racemase and epimerase activity, acting on carbohydrates and derivatives
GO:0005184	0.001449	6.536909	1.094437	neuropeptide hormone activity
GO:0005048	0.001449	6.536909	1.888962	signal sequence binding
GO:0043394	0.001449	6.536909	2.728669	proteoglycan binding
GO:0008422	0.001431	6.549488	0.705726	beta-glucosidase activity
GO:0051537	0.001431	6.549488	0.982410	2 iron, 2 sulfur cluster binding
GO:0005547	0.001431	6.549488	1.535914	phosphatidylinositol-3,4,5-trisphosphate binding
GO:0005080	0.001431	6.549488	2.658754	protein kinase C binding
GO:0019825	0.001431	6.549488	3.582111	oxygen binding
GO:0032452	0.001413	6.562227	0.000000	histone demethylase activity
GO:0140457	0.001413	6.562227	0.000000	protein demethylase activity
GO:0004529	0.001413	6.562227	0.154151	exodeoxyribonuclease activity
GO:0031491	0.001413	6.562227	0.526093	nucleosome binding
GO:0015296	0.001395	6.575130	0.062914	anion:cation symporter activity
GO:0099604	0.001395	6.575130	0.122103	ligand-gated calcium channel activity
GO:0015464	0.001395	6.575130	0.365725	acetylcholine receptor activity
GO:0008187	0.001395	6.575130	1.173647	poly-pyrimidine tract binding
GO:0070888	0.001395	6.575130	2.454135	E-box binding
GO:0005201	0.001395	6.575130	2.923720	extracellular matrix structural constituent
GO:0001965	0.001395	6.575130	5.878390	G-protein alpha-subunit binding
GO:0030544	0.001377	6.588202	1.076438	Hsp70 protein binding
GO:0140102	0.001377	6.588202	2.796960	catalytic activity, acting on a rRNA
GO:0015485	0.001358	6.601447	0.076961	cholesterol binding
GO:0050145	0.001358	6.601447	0.373860	nucleoside monophosphate kinase activity
GO:0016833	0.001358	6.601447	1.708378	oxo-acid-lyase activity
GO:0070001	0.001358	6.601447	2.954910	aspartic-type peptidase activity
GO:0072349	0.001358	6.601447	4.031996	modified amino acid transmembrane transporter activity
GO:0008320	0.001340	6.614871	0.000000	protein transmembrane transporter activity
GO:0016895	0.001340	6.614871	0.000000	exodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0005451	0.001340	6.614871	0.026668	monovalent cation:proton antiporter activity
GO:0016641	0.001340	6.614871	0.615916	oxidoreductase activity, acting on the CH-NH2 group of donors, oxygen as acceptor
GO:0045309	0.001340	6.614871	0.672669	protein phosphorylated amino acid binding
GO:0004030	0.001340	6.614871	1.193103	aldehyde dehydrogenase [NAD(P)+] activity
GO:0015923	0.001340	6.614871	2.337117	mannosidase activity
GO:0016661	0.001340	6.614871	4.034241	oxidoreductase activity, acting on other nitrogenous compounds as donors
GO:0004190	0.001322	6.628476	0.000000	aspartic-type endopeptidase activity
GO:0045296	0.001322	6.628476	1.943951	cadherin binding
GO:0016717	0.001322	6.628476	2.318890	oxidoreductase activity, acting on paired donors, with oxidation of a pair of donors resulting in the reduction of molecular oxygen to two molecules of water
GO:0015929	0.001322	6.628476	2.350723	hexosaminidase activity
GO:0017147	0.001322	6.628476	5.931736	Wnt-protein binding
GO:0016289	0.001304	6.642269	0.485508	CoA hydrolase activity
GO:0043531	0.001304	6.642269	2.553128	ADP binding
GO:0010181	0.001304	6.642269	2.961112	FMN binding
GO:0019865	0.001304	6.642269	3.518569	immunoglobulin binding
GO:0030291	0.001286	6.656256	0.533111	protein serine/threonine kinase inhibitor activity
GO:0017080	0.001286	6.656256	1.386294	sodium channel regulator activity
GO:0046912	0.001286	6.656256	2.783097	transferase activity, transferring acyl groups, acyl groups converted into alkyl on transfer
GO:0004707	0.001286	6.656256	2.956962	MAP kinase activity
GO:0017069	0.001286	6.656256	3.651572	snRNA binding
GO:0004114	0.001268	6.670440	0.395896	3',5'-cyclic-nucleotide phosphodiesterase activity
GO:0004629	0.001268	6.670440	0.685979	phospholipase C activity
GO:0035673	0.001268	6.670440	0.887303	oligopeptide transmembrane transporter activity
GO:0004089	0.001268	6.670440	1.882731	carbonate dehydratase activity
GO:0061650	0.001268	6.670440	2.549445	ubiquitin-like protein conjugating enzyme activity
GO:0017112	0.001250	6.684829	0.014389	Rab guanyl-nucleotide exchange factor activity
GO:0004864	0.001250	6.684829	0.042560	protein phosphatase inhibitor activity
GO:0005343	0.001250	6.684829	0.056353	organic acid:sodium symporter activity
GO:0004033	0.001250	6.684829	2.409683	aldo-keto reductase (NADP) activity
GO:0008301	0.001250	6.684829	4.463740	DNA binding, bending
GO:0004970	0.001232	6.699428	0.000000	ionotropic glutamate receptor activity
GO:0016413	0.001232	6.699428	0.043172	O-acetyltransferase activity
GO:0051139	0.001232	6.699428	0.097980	metal ion:proton antiporter activity
GO:0016411	0.001232	6.699428	1.244324	acylglycerol O-acyltransferase activity
GO:0016671	0.001232	6.699428	1.533065	oxidoreductase activity, acting on a sulfur group of donors, disulfide as acceptor
GO:0070569	0.001232	6.699428	2.198857	uridylyltransferase activity
GO:0016408	0.001232	6.699428	2.696216	C-acyltransferase activity
GO:0033612	0.001232	6.699428	3.766317	receptor serine/threonine kinase binding
GO:0000217	0.001232	6.699428	4.478339	DNA secondary structure binding
GO:0001968	0.001232	6.699428	6.002688	fibronectin binding
GO:0005242	0.001214	6.714243	0.071973	inward rectifier potassium channel activity
GO:0008266	0.001214	6.714243	0.139113	poly(U) RNA binding
GO:0005227	0.001214	6.714243	0.189757	calcium activated cation channel activity
GO:0140323	0.001214	6.714243	0.468136	solute:anion antiporter activity
GO:0000146	0.001214	6.714243	1.292476	microfilament motor activity
GO:0043015	0.001214	6.714243	2.327642	gamma-tubulin binding
GO:0097718	0.001214	6.714243	2.939715	disordered domain specific binding
GO:0042805	0.001214	6.714243	3.360064	actinin binding
GO:0043028	0.001214	6.714243	3.391700	cysteine-type endopeptidase regulator activity involved in apoptotic process
GO:0008527	0.001214	6.714243	3.415522	taste receptor activity
GO:0000993	0.001195	6.729281	0.000000	RNA polymerase II complex binding
GO:0005248	0.001195	6.729281	0.654532	voltage-gated sodium channel activity
GO:0043539	0.001195	6.729281	0.853770	protein serine/threonine kinase activator activity
GO:0005537	0.001195	6.729281	0.946144	mannose binding
GO:0080025	0.001195	6.729281	1.194840	phosphatidylinositol-3,5-bisphosphate binding
GO:0008409	0.001195	6.729281	1.455792	5'-3' exonuclease activity
GO:0030374	0.001195	6.729281	1.897120	nuclear receptor transcription coactivator activity
GO:0035381	0.001195	6.729281	2.100061	ATP-gated ion channel activity
GO:0008376	0.001195	6.729281	2.101914	acetylgalactosaminyltransferase activity
GO:0019789	0.001195	6.729281	2.608286	SUMO transferase activity
GO:0097472	0.001195	6.729281	3.479374	cyclin-dependent protein kinase activity
GO:0015026	0.001195	6.729281	3.678982	coreceptor activity
GO:0000339	0.001195	6.729281	3.724598	RNA cap binding
GO:1990939	0.001177	6.744548	0.074108	ATP-dependent microtubule motor activity
GO:0070717	0.001177	6.744548	1.343066	poly-purine tract binding
GO:0005520	0.001177	6.744548	1.405343	insulin-like growth factor binding
GO:0005484	0.001177	6.744548	2.079442	SNAP receptor activity
GO:0043495	0.001177	6.744548	2.079442	protein-membrane adaptor activity
GO:0016812	0.001177	6.744548	2.322388	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in cyclic amides
GO:0008373	0.001177	6.744548	3.026784	sialyltransferase activity
GO:0016500	0.001177	6.744548	3.694250	protein-hormone receptor activity
GO:0004693	0.001159	6.760053	0.000000	cyclin-dependent protein serine/threonine kinase activity
GO:0008556	0.001159	6.760053	0.000000	potassium transmembrane transporter activity, phosphorylative mechanism
GO:0008649	0.001159	6.760053	0.000000	rRNA methyltransferase activity
GO:0015377	0.001159	6.760053	0.000000	cation:chloride symporter activity
GO:0003916	0.001159	6.760053	0.030772	DNA topoisomerase activity
GO:0015301	0.001159	6.760053	0.045810	anion:anion antiporter activity
GO:0034593	0.001159	6.760053	0.513946	phosphatidylinositol bisphosphate phosphatase activity
GO:0016783	0.001159	6.760053	1.386294	sulfurtransferase activity
GO:0052745	0.001159	6.760053	2.792889	inositol phosphate phosphatase activity
GO:0015002	0.001159	6.760053	4.179423	heme-copper terminal oxidase activity
GO:0004673	0.001141	6.775801	0.015748	protein histidine kinase activity
GO:0004675	0.001141	6.775801	0.015748	transmembrane receptor protein serine/threonine kinase activity
GO:0016813	0.001141	6.775801	2.353640	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in linear amidines
GO:0070300	0.001141	6.775801	2.483583	phosphatidic acid binding
GO:0044390	0.001141	6.775801	4.170227	ubiquitin-like protein conjugating enzyme binding
GO:0016675	0.001141	6.775801	4.195171	oxidoreductase activity, acting on a heme group of donors
GO:0015205	0.001141	6.775801	4.206350	nucleobase transmembrane transporter activity
GO:0140104	0.001141	6.775801	6.775801	molecular carrier activity
GO:0004467	0.001123	6.791801	0.361502	long-chain fatty acid-CoA ligase activity
GO:0050308	0.001123	6.791801	0.394654	sugar-phosphatase activity
GO:0015556	0.001123	6.791801	0.763215	C4-dicarboxylate transmembrane transporter activity
GO:0004396	0.001123	6.791801	0.870078	hexokinase activity
GO:0015925	0.001123	6.791801	2.514048	galactosidase activity
GO:0003785	0.001123	6.791801	2.554974	actin monomer binding
GO:0046812	0.001123	6.791801	6.355519	host cell surface binding
GO:0015368	0.001105	6.808062	0.000000	calcium:cation antiporter activity
GO:0016504	0.001105	6.808062	0.078781	peptidase activator activity
GO:0004029	0.001105	6.808062	0.193191	aldehyde dehydrogenase (NAD+) activity
GO:0016682	0.001105	6.808062	0.331777	oxidoreductase activity, acting on diphenols and related substances as donors, oxygen as acceptor
GO:0004708	0.001105	6.808062	0.432421	MAP kinase kinase activity
GO:0005044	0.001105	6.808062	0.801781	scavenger receptor activity
GO:0043138	0.001105	6.808062	1.217002	3'-5' DNA helicase activity
GO:0016868	0.001105	6.808062	1.273621	intramolecular transferase activity, phosphotransferases
GO:0043425	0.001105	6.808062	2.359926	bHLH transcription factor binding
GO:0016917	0.001105	6.808062	3.509341	GABA receptor activity
GO:0036002	0.001105	6.808062	3.803378	pre-mRNA binding
GO:0004129	0.001087	6.824591	0.000000	cytochrome-c oxidase activity
GO:0061631	0.001087	6.824591	0.000000	ubiquitin conjugating enzyme activity
GO:0035250	0.001087	6.824591	0.016529	UDP-galactosyltransferase activity
GO:0016676	0.001087	6.824591	0.048790	oxidoreductase activity, acting on a heme group of donors, oxygen as acceptor
GO:0070402	0.001087	6.824591	0.559616	NADPH binding
GO:0090599	0.001087	6.824591	0.980829	alpha-glucosidase activity
GO:0005154	0.001087	6.824591	1.247990	epidermal growth factor receptor binding
GO:0004931	0.001069	6.841398	0.000000	extracellularly ATP-gated cation channel activity
GO:0046961	0.001069	6.841398	0.000000	proton-transporting ATPase activity, rotational mechanism
GO:0043236	0.001069	6.841398	0.399799	laminin binding
GO:0008641	0.001069	6.841398	1.356185	ubiquitin-like modifier activating enzyme activity
GO:0044769	0.001069	6.841398	1.407259	ATPase activity, coupled to transmembrane movement of ions, rotational mechanism
GO:0003954	0.001069	6.841398	1.706288	NADH dehydrogenase activity
GO:0015172	0.001069	6.841398	1.721555	acidic amino acid transmembrane transporter activity
GO:0015174	0.001069	6.841398	1.721555	basic amino acid transmembrane transporter activity
GO:0030331	0.001050	6.858493	0.666945	estrogen receptor binding
GO:0018455	0.001050	6.858493	2.583347	alcohol dehydrogenase [NAD(P)+] activity
GO:0004953	0.001050	6.858493	2.857263	icosanoid receptor activity
GO:0003688	0.001050	6.858493	4.042749	DNA replication origin binding
GO:0016722	0.001050	6.858493	4.277863	oxidoreductase activity, oxidizing metal ions
GO:0043548	0.001050	6.858493	6.161753	phosphatidylinositol 3-kinase binding
GO:0015215	0.001032	6.875884	0.000000	nucleotide transmembrane transporter activity
GO:0015252	0.001032	6.875884	0.000000	proton channel activity
GO:0099095	0.001032	6.875884	0.176456	ligand-gated anion channel activity
GO:0001223	0.001032	6.875884	0.510826	transcription coactivator binding
GO:0032813	0.001032	6.875884	2.032295	tumor necrosis factor receptor superfamily binding
GO:0046625	0.001032	6.875884	3.204029	sphingolipid binding
GO:0030515	0.001032	6.875884	3.871201	snoRNA binding
GO:0005112	0.001032	6.875884	3.942773	Notch binding
GO:0042287	0.001032	6.875884	3.942773	MHC protein binding
GO:0015278	0.001014	6.893584	0.000000	calcium-release channel activity
GO:0031624	0.001014	6.893584	0.117783	ubiquitin conjugating enzyme binding
GO:0016755	0.001014	6.893584	0.628609	transferase activity, transferring amino-acyl groups
GO:0005338	0.001014	6.893584	0.909122	nucleotide-sugar transmembrane transporter activity
GO:0005381	0.001014	6.893584	1.326506	iron ion transmembrane transporter activity
GO:0016273	0.001014	6.893584	1.698233	arginine N-methyltransferase activity
GO:0051010	0.001014	6.893584	2.222691	microtubule plus-end binding
GO:0048487	0.001014	6.893584	2.506983	beta-tubulin binding
GO:0042169	0.001014	6.893584	3.119055	SH2 domain binding
GO:0016721	0.001014	6.893584	4.312954	oxidoreductase activity, acting on superoxide radicals as acceptor
GO:0032794	0.001014	6.893584	6.196844	GTPase activating protein binding
GO:0004784	0.000996	6.911602	0.000000	superoxide dismutase activity
GO:0004549	0.000996	6.911602	0.018019	tRNA-specific ribonuclease activity
GO:0004022	0.000996	6.911602	0.053110	alcohol dehydrogenase (NAD+) activity
GO:0001103	0.000996	6.911602	0.167054	RNA polymerase II repressing transcription factor binding
GO:0032036	0.000996	6.911602	1.353959	myosin heavy chain binding
GO:1900750	0.000996	6.911602	2.263655	oligopeptide binding
GO:0016615	0.000996	6.911602	2.764602	malate dehydrogenase activity
GO:0047617	0.000978	6.929952	0.287682	acyl-CoA hydrolase activity
GO:0051920	0.000978	6.929952	1.571698	peroxiredoxin activity
GO:0008417	0.000978	6.929952	2.853699	fucosyltransferase activity
GO:0004709	0.000978	6.929952	3.230658	MAP kinase kinase kinase activity
GO:0052742	0.000978	6.929952	3.894462	phosphatidylinositol kinase activity
GO:0046875	0.000978	6.929952	3.996841	ephrin receptor binding
GO:0015385	0.000960	6.948644	0.000000	sodium:proton antiporter activity
GO:0005402	0.000960	6.948644	0.018692	carbohydrate:cation symporter activity
GO:0015037	0.000960	6.948644	1.171372	peptide disulfide oxidoreductase activity
GO:0005109	0.000960	6.948644	2.244316	frizzled binding
GO:0016885	0.000960	6.948644	2.737792	ligase activity, forming carbon-carbon bonds
GO:0071889	0.000960	6.948644	6.251904	14-3-3 protein binding
GO:0001671	0.000942	6.967692	0.000000	ATPase activator activity
GO:0008554	0.000942	6.967692	0.000000	sodium transmembrane transporter activity, phosphorylative mechanism
GO:0008143	0.000942	6.967692	0.223144	poly(A) binding
GO:0001784	0.000942	6.967692	0.352821	phosphotyrosine residue binding
GO:0070403	0.000942	6.967692	0.613104	NAD+ binding
GO:0035198	0.000942	6.967692	0.643876	miRNA binding
GO:0015166	0.000942	6.967692	0.968737	polyol transmembrane transporter activity
GO:0017116	0.000942	6.967692	1.376632	single-stranded DNA helicase activity
GO:0051861	0.000942	6.967692	1.446919	glycolipid binding
GO:0140303	0.000942	6.967692	1.597832	intramembrane lipid transporter activity
GO:0016894	0.000942	6.967692	2.124102	endonuclease activity, active with either ribo- or deoxyribonucleic acids and producing 3'-phosphomonoesters
GO:0004568	0.000942	6.967692	2.689938	chitinase activity
GO:0071617	0.000942	6.967692	2.964480	lysophospholipid acyltransferase activity
GO:0016274	0.000924	6.987110	0.000000	protein-arginine N-methyltransferase activity
GO:0043295	0.000924	6.987110	0.000000	glutathione binding
GO:0008106	0.000924	6.987110	0.302281	alcohol dehydrogenase (NADP+) activity
GO:0016841	0.000924	6.987110	0.611469	ammonia-lyase activity
GO:0017025	0.000924	6.987110	0.673345	TBP-class protein binding
GO:0010334	0.000924	6.987110	0.759522	sesquiterpene synthase activity
GO:0015035	0.000924	6.987110	1.209838	protein disulfide oxidoreductase activity
GO:0016863	0.000924	6.987110	1.470852	intramolecular oxidoreductase activity, transposing C=C bonds
GO:0004602	0.000924	6.987110	1.573506	glutathione peroxidase activity
GO:0004715	0.000924	6.987110	1.748347	non-membrane spanning protein tyrosine kinase activity
GO:0010314	0.000924	6.987110	1.973536	phosphatidylinositol-5-phosphate binding
GO:0005158	0.000924	6.987110	2.179642	insulin receptor binding
GO:0030898	0.000924	6.987110	2.973928	actin-dependent ATPase activity
GO:0031420	0.000924	6.987110	3.940248	alkali metal ion binding
GO:0000900	0.000906	7.006913	0.000000	translation repressor activity, mRNA regulatory element binding
GO:0003756	0.000906	7.006913	0.000000	protein disulfide isomerase activity
GO:0004559	0.000906	7.006913	0.392042	alpha-mannosidase activity
GO:0005243	0.000906	7.006913	0.652325	gap junction channel activity
GO:0034595	0.000906	7.006913	0.760806	phosphatidylinositol phosphate 5-phosphatase activity
GO:0042800	0.000906	7.006913	0.924259	histone methyltransferase activity (H3-K4 specific)
GO:0010485	0.000906	7.006913	1.169381	H4 histone acetyltransferase activity
GO:0009982	0.000906	7.006913	1.472472	pseudouridine synthase activity
GO:0016864	0.000906	7.006913	1.490654	intramolecular oxidoreductase activity, transposing S-S bonds
GO:0051721	0.000906	7.006913	1.824549	protein phosphatase 2A binding
GO:0070567	0.000906	7.006913	2.506342	cytidylyltransferase activity
GO:0042056	0.000906	7.006913	2.681022	chemoattractant activity
GO:0045499	0.000906	7.006913	2.681022	chemorepellent activity
GO:0005544	0.000906	7.006913	2.714695	calcium-dependent phospholipid binding
GO:0016742	0.000906	7.006913	2.871302	hydroxymethyl-, formyl- and related transferase activity
GO:0051019	0.000906	7.006913	3.116178	mitogen-activated protein kinase binding
GO:0016725	0.000906	7.006913	4.426283	oxidoreductase activity, acting on CH or CH2 groups
GO:0042605	0.000887	7.027115	0.020203	peptide antigen binding
GO:0005391	0.000887	7.027115	0.040005	sodium:potassium-exchanging ATPase activity
GO:0003796	0.000887	7.027115	0.133531	lysozyme activity
GO:0035255	0.000887	7.027115	0.562527	ionotropic glutamate receptor binding
GO:0017134	0.000887	7.027115	1.687910	fibroblast growth factor binding
GO:0001637	0.000887	7.027115	1.916322	G protein-coupled chemoattractant receptor activity
GO:0017056	0.000887	7.027115	3.375705	structural constituent of nuclear pore
GO:0004143	0.000887	7.027115	3.991626	diacylglycerol kinase activity
GO:0140142	0.000887	7.027115	4.521345	nucleocytoplasmic carrier activity
GO:0140103	0.000887	7.027115	4.844508	catalytic activity, acting on a glycoprotein
GO:0004993	0.000869	7.047735	0.000000	G protein-coupled serotonin receptor activity
GO:0043395	0.000869	7.047735	0.136132	heparan sulfate proteoglycan binding
GO:0051393	0.000869	7.047735	0.333492	alpha-actinin binding
GO:0098847	0.000869	7.047735	0.743920	sequence-specific single stranded DNA binding
GO:0009922	0.000869	7.047735	0.773190	fatty acid elongase activity
GO:0030159	0.000869	7.047735	0.792238	signaling receptor complex adaptor activity
GO:0004383	0.000869	7.047735	0.988611	guanylate cyclase activity
GO:0050664	0.000869	7.047735	1.912624	oxidoreductase activity, acting on NAD(P)H, oxygen as acceptor
GO:0042834	0.000869	7.047735	1.983871	peptidoglycan binding
GO:0043014	0.000869	7.047735	2.661133	alpha-tubulin binding
GO:0004687	0.000869	7.047735	3.348441	myosin light chain kinase activity
GO:0099589	0.000869	7.047735	3.749014	serotonin receptor activity
GO:0001848	0.000869	7.047735	6.350995	complement binding
GO:0044183	0.000869	7.047735	7.047735	protein folding chaperone
GO:0015373	0.000851	7.068788	0.000000	anion:sodium symporter activity
GO:0071813	0.000851	7.068788	0.000000	lipoprotein particle binding
GO:0005432	0.000851	7.068788	0.021053	calcium:sodium antiporter activity
GO:0015269	0.000851	7.068788	0.041673	calcium-activated potassium channel activity
GO:0004954	0.000851	7.068788	0.210295	prostanoid receptor activity
GO:0015248	0.000851	7.068788	1.698928	sterol transporter activity
GO:0008252	0.000851	7.068788	3.101625	nucleotidase activity
GO:0017110	0.000851	7.068788	3.652039	nucleoside-diphosphatase activity
GO:0071814	0.000851	7.068788	3.945087	protein-lipid complex binding
GO:0008484	0.000851	7.068788	4.122663	sulfuric ester hydrolase activity
GO:1901567	0.000851	7.068788	6.632506	fatty acid derivative binding
GO:0005388	0.000833	7.090294	0.000000	calcium transmembrane transporter activity, phosphorylative mechanism
GO:0001091	0.000833	7.090294	0.063179	RNA polymerase II general transcription initiation factor binding
GO:0070008	0.000833	7.090294	0.083382	serine-type exopeptidase activity
GO:0000340	0.000833	7.090294	0.361013	RNA 7-methylguanosine cap binding
GO:0042285	0.000833	7.090294	1.600704	xylosyltransferase activity
GO:0070492	0.000833	7.090294	2.282826	oligosaccharide binding
GO:0030507	0.000833	7.090294	2.427109	spectrin binding
GO:0008172	0.000833	7.090294	2.867158	S-methyltransferase activity
GO:0016417	0.000833	7.090294	3.087082	S-acyltransferase activity
GO:0008061	0.000833	7.090294	3.795978	chitin binding
GO:0070628	0.000833	7.090294	3.966594	proteasome binding
GO:0016307	0.000833	7.090294	4.054805	phosphatidylinositol phosphate kinase activity
GO:0038191	0.000833	7.090294	4.157183	neuropilin binding
GO:0004950	0.000815	7.112273	0.000000	chemokine receptor activity
GO:0035925	0.000815	7.112273	0.000000	mRNA 3'-UTR AU-rich region binding
GO:0043047	0.000815	7.112273	0.000000	single-stranded telomeric DNA binding
GO:0005416	0.000815	7.112273	0.218689	amino acid:cation symporter activity
GO:0015216	0.000815	7.112273	0.236389	purine nucleotide transmembrane transporter activity
GO:1990239	0.000815	7.112273	0.236389	steroid hormone binding
GO:0015651	0.000815	7.112273	0.902868	quaternary ammonium group transmembrane transporter activity
GO:0005337	0.000815	7.112273	1.127811	nucleoside transmembrane transporter activity
GO:0008443	0.000815	7.112273	1.190550	phosphofructokinase activity
GO:0043325	0.000815	7.112273	1.577833	phosphatidylinositol-3,4-bisphosphate binding
GO:0042974	0.000815	7.112273	1.622683	retinoic acid receptor binding
GO:0004096	0.000815	7.112273	1.698669	catalase activity
GO:0016713	0.000815	7.112273	2.247777	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced iron-sulfur protein as one donor, and incorporation of one atom of oxygen
GO:0030547	0.000815	7.112273	2.870421	receptor inhibitor activity
GO:0003993	0.000815	7.112273	3.145110	acid phosphatase activity
GO:0048027	0.000815	7.112273	3.246059	mRNA 5'-UTR binding
GO:0047429	0.000815	7.112273	3.695524	nucleoside-triphosphate diphosphatase activity
GO:0017091	0.000815	7.112273	4.107590	AU-rich element binding
GO:0004526	0.000797	7.134746	0.000000	ribonuclease P activity
GO:0043027	0.000797	7.134746	0.000000	cysteine-type endopeptidase inhibitor activity involved in apoptotic process
GO:0015038	0.000797	7.134746	0.186102	glutathione disulfide oxidoreductase activity
GO:0000979	0.000797	7.134746	0.258862	RNA polymerase II core promoter sequence-specific DNA binding
GO:0005313	0.000797	7.134746	0.258862	L-glutamate transmembrane transporter activity
GO:0004337	0.000797	7.134746	1.380596	geranyltranstransferase activity
GO:0015157	0.000797	7.134746	1.712979	oligosaccharide transmembrane transporter activity
GO:0051059	0.000797	7.134746	2.313885	NF-kappaB binding
GO:0008138	0.000797	7.134746	2.442347	protein tyrosine/serine/threonine phosphatase activity
GO:0140312	0.000797	7.134746	2.469639	cargo adaptor activity
GO:0043855	0.000797	7.134746	2.503669	cyclic nucleotide-gated ion channel activity
GO:0031435	0.000797	7.134746	3.244012	mitogen-activated protein kinase kinase kinase binding
GO:0010851	0.000797	7.134746	3.812203	cyclase regulator activity
GO:0046933	0.000779	7.157735	0.000000	proton-transporting ATP synthase activity, rotational mechanism
GO:0000155	0.000779	7.157735	0.045462	phosphorelay sensor kinase activity
GO:0008308	0.000779	7.157735	0.067441	voltage-gated anion channel activity
GO:0015116	0.000779	7.157735	0.067441	sulfate transmembrane transporter activity
GO:0016421	0.000779	7.157735	0.209092	CoA carboxylase activity
GO:0005345	0.000779	7.157735	0.381935	purine nucleobase transmembrane transporter activity
GO:0019863	0.000779	7.157735	0.515466	IgE binding
GO:0004652	0.000779	7.157735	1.222407	polynucleotide adenylyltransferase activity
GO:0016855	0.000779	7.157735	1.262680	racemase and epimerase activity, acting on amino acids and derivatives
GO:0004622	0.000779	7.157735	1.362764	lysophospholipase activity
GO:0015204	0.000779	7.157735	1.776134	urea transmembrane transporter activity
GO:0098631	0.000779	7.157735	2.473211	cell adhesion mediator activity
GO:0004745	0.000779	7.157735	2.882590	retinol dehydrogenase activity
GO:0035035	0.000779	7.157735	4.552162	histone acetyltransferase binding
GO:0008296	0.000761	7.181266	0.023530	3'-5'-exodeoxyribonuclease activity
GO:0016888	0.000761	7.181266	0.068993	endodeoxyribonuclease activity, producing 5'-phosphomonoesters
GO:0004955	0.000761	7.181266	0.112478	prostaglandin receptor activity
GO:0120014	0.000761	7.181266	0.133531	phospholipid transfer activity
GO:0004550	0.000761	7.181266	0.953678	nucleoside diphosphate kinase activity
GO:0016639	0.000761	7.181266	1.182311	oxidoreductase activity, acting on the CH-NH2 group of donors, NAD or NADP as acceptor
GO:0005375	0.000761	7.181266	1.614189	copper ion transmembrane transporter activity
GO:0043891	0.000761	7.181266	1.759499	glyceraldehyde-3-phosphate dehydrogenase (NAD(P)+) (phosphorylating) activity
GO:0016880	0.000761	7.181266	1.956063	acid-ammonia (or amide) ligase activity
GO:0008536	0.000761	7.181266	2.806242	Ran GTPase binding
GO:0098918	0.000761	7.181266	3.529856	structural constituent of synapse
GO:0016744	0.000761	7.181266	5.381761	transferase activity, transferring aldehyde or ketonic groups
GO:0120015	0.000743	7.205364	0.000000	sterol transfer activity
GO:0030249	0.000743	7.205364	0.070618	guanylate cyclase regulator activity
GO:0000295	0.000743	7.205364	0.093090	adenine nucleotide transmembrane transporter activity
GO:0002161	0.000743	7.205364	0.178248	aminoacyl-tRNA editing activity
GO:0004115	0.000743	7.205364	0.534923	3',5'-cyclic-AMP phosphodiesterase activity
GO:0004535	0.000743	7.205364	0.921157	poly(A)-specific ribonuclease activity
GO:0048020	0.000743	7.205364	1.098612	CCR chemokine receptor binding
GO:0047372	0.000743	7.205364	1.884850	acylglycerol lipase activity
GO:0015616	0.000743	7.205364	1.928335	DNA translocase activity
GO:0005160	0.000743	7.205364	2.361774	transforming growth factor beta receptor binding
GO:0016886	0.000743	7.205364	2.994512	ligase activity, forming phosphoric ester bonds
GO:0008381	0.000743	7.205364	3.210057	mechanosensitive ion channel activity
GO:0030506	0.000743	7.205364	3.851185	ankyrin binding
GO:0035004	0.000743	7.205364	4.295791	phosphatidylinositol 3-kinase activity
GO:0016774	0.000743	7.205364	4.547954	phosphotransferase activity, carboxyl group as acceptor
GO:1901474	0.000743	7.205364	4.635912	azole transmembrane transporter activity
GO:0016889	0.000724	7.230056	0.000000	endodeoxyribonuclease activity, producing 3'-phosphomonoesters
GO:0030250	0.000724	7.230056	0.000000	guanylate cyclase activator activity
GO:0010853	0.000724	7.230056	0.095310	cyclase activator activity
GO:0140326	0.000724	7.230056	0.262364	ATPase-coupled intramembrane lipid transporter activity
GO:0015165	0.000724	7.230056	0.336472	pyrimidine nucleotide-sugar transmembrane transporter activity
GO:0008574	0.000724	7.230056	0.485508	ATP-dependent microtubule motor activity, plus-end-directed
GO:0008525	0.000724	7.230056	0.854415	phosphatidylcholine transporter activity
GO:0015271	0.000724	7.230056	1.681759	outward rectifier potassium channel activity
GO:0003950	0.000724	7.230056	1.740466	NAD+ ADP-ribosyltransferase activity
GO:0046966	0.000724	7.230056	1.740466	thyroid hormone receptor binding
GO:0016884	0.000724	7.230056	2.004853	carbon-nitrogen ligase activity, with glutamine as amido-N-donor
GO:0005092	0.000724	7.230056	2.435804	GDP-dissociation inhibitor activity
GO:0003906	0.000724	7.230056	3.069215	DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0050699	0.000724	7.230056	3.455528	WW domain binding
GO:0016151	0.000724	7.230056	3.573749	nickel cation binding
GO:0016801	0.000724	7.230056	5.296691	hydrolase activity, acting on ether bonds
GO:0050997	0.000724	7.230056	6.793774	quaternary ammonium group binding
GO:0004181	0.000706	7.255374	0.000000	metallocarboxypeptidase activity
GO:0005283	0.000706	7.255374	0.000000	amino acid:sodium symporter activity
GO:0005346	0.000706	7.255374	0.000000	purine ribonucleotide transmembrane transporter activity
GO:0015154	0.000706	7.255374	0.120628	disaccharide transmembrane transporter activity
GO:0030552	0.000706	7.255374	0.186586	cAMP binding
GO:0046789	0.000706	7.255374	0.463573	host cell surface receptor binding
GO:0000400	0.000706	7.255374	0.555946	four-way junction DNA binding
GO:0008327	0.000706	7.255374	0.555946	methyl-CpG binding
GO:0050431	0.000706	7.255374	0.640503	transforming growth factor beta binding
GO:0019206	0.000706	7.255374	1.392684	nucleoside kinase activity
GO:0010484	0.000706	7.255374	1.417843	H3 histone acetyltransferase activity
GO:0008970	0.000706	7.255374	1.460402	phospholipase A1 activity
GO:0004311	0.000706	7.255374	1.501224	farnesyltranstransferase activity
GO:0015173	0.000706	7.255374	2.135531	aromatic amino acid transmembrane transporter activity
GO:0042813	0.000706	7.255374	3.956653	Wnt-activated receptor activity
GO:0000156	0.000706	7.255374	4.226647	phosphorelay response regulator activity
GO:0030983	0.000706	7.255374	4.539469	mismatched DNA binding
GO:0017151	0.000706	7.255374	4.649800	DEAD/H-box RNA helicase binding
GO:0015378	0.000688	7.281349	0.000000	sodium:chloride symporter activity
GO:0031210	0.000688	7.281349	0.000000	phosphatidylcholine binding
GO:0015168	0.000688	7.281349	0.051293	glycerol transmembrane transporter activity
GO:0038022	0.000688	7.281349	0.075986	G protein-coupled olfactory receptor activity
GO:0004365	0.000688	7.281349	0.100083	glyceraldehyde-3-phosphate dehydrogenase (NAD+) (phosphorylating) activity
GO:0036361	0.000688	7.281349	0.123614	racemase activity, acting on amino acids and derivatives
GO:0120227	0.000688	7.281349	0.169076	acyl-CoA binding
GO:0042171	0.000688	7.281349	0.313658	lysophosphatidic acid acyltransferase activity
GO:0106019	0.000688	7.281349	0.521297	phosphatidylinositol-4,5-bisphosphate phosphatase activity
GO:0004435	0.000688	7.281349	0.610909	phosphatidylinositol phospholipase C activity
GO:0016215	0.000688	7.281349	0.652873	acyl-CoA desaturase activity
GO:0016933	0.000688	7.281349	1.614687	extracellularly glycine-gated ion channel activity
GO:0005384	0.000688	7.281349	1.714272	manganese ion transmembrane transporter activity
GO:0005251	0.000688	7.281349	1.733052	delayed rectifier potassium channel activity
GO:0097599	0.000688	7.281349	3.003596	xylanase activity
GO:0008519	0.000688	7.281349	3.442440	ammonium transmembrane transporter activity
GO:0050321	0.000688	7.281349	4.031442	tau-protein kinase activity
GO:0005186	0.000688	7.281349	4.348239	pheromone activity
GO:0070325	0.000688	7.281349	4.348239	lipoprotein particle receptor binding
GO:0030548	0.000670	7.308018	0.000000	acetylcholine receptor regulator activity
GO:0050136	0.000670	7.308018	0.000000	NADH dehydrogenase (quinone) activity
GO:0019870	0.000670	7.308018	0.052644	potassium channel inhibitor activity
GO:0008318	0.000670	7.308018	0.077962	protein prenyltransferase activity
GO:0004653	0.000670	7.308018	0.150282	polypeptide N-acetylgalactosaminyltransferase activity
GO:0034237	0.000670	7.308018	1.033473	protein kinase A regulatory subunit binding
GO:0016647	0.000670	7.308018	1.593089	oxidoreductase activity, acting on the CH-NH group of donors, oxygen as acceptor
GO:0097153	0.000670	7.308018	1.598568	cysteine-type endopeptidase activity involved in apoptotic process
GO:0003994	0.000670	7.308018	2.520309	aconitate hydratase activity
GO:0016837	0.000670	7.308018	2.891872	carbon-oxygen lyase activity, acting on polysaccharides
GO:0099602	0.000670	7.308018	3.066166	neurotransmitter receptor regulator activity
GO:0004690	0.000670	7.308018	3.608724	cyclic nucleotide-dependent protein kinase activity
GO:0000984	0.000670	7.308018	4.331444	bacterial-type RNA polymerase transcription regulatory region sequence-specific DNA binding
GO:0005159	0.000670	7.308018	4.374907	insulin-like growth factor receptor binding
GO:0019237	0.000670	7.308018	4.492274	centromeric DNA binding
GO:0004861	0.000652	7.335417	0.000000	cyclin-dependent protein serine/threonine kinase inhibitor activity
GO:0035615	0.000652	7.335417	0.000000	clathrin adaptor activity
GO:0035252	0.000652	7.335417	0.105361	UDP-xylosyltransferase activity
GO:0016723	0.000652	7.335417	0.476924	oxidoreductase activity, oxidizing metal ions, NAD or NADP as acceptor
GO:0004144	0.000652	7.335417	0.635989	diacylglycerol O-acyltransferase activity
GO:0004563	0.000652	7.335417	0.706941	beta-N-acetylhexosaminidase activity
GO:0004017	0.000652	7.335417	0.733969	adenylate kinase activity
GO:0036041	0.000652	7.335417	1.001449	long-chain fatty acid binding
GO:0034594	0.000652	7.335417	1.089310	phosphatidylinositol trisphosphate phosphatase activity
GO:0050681	0.000652	7.335417	1.143869	androgen receptor binding
GO:0017169	0.000652	7.335417	1.252763	CDP-alcohol phosphatidyltransferase activity
GO:0004630	0.000652	7.335417	1.350955	phospholipase D activity
GO:0005104	0.000652	7.335417	1.758815	fibroblast growth factor receptor binding
GO:0031559	0.000652	7.335417	1.800976	oxidosqualene cyclase activity
GO:0016635	0.000652	7.335417	2.126908	oxidoreductase activity, acting on the CH-CH group of donors, quinone or related compound as acceptor
GO:0004551	0.000652	7.335417	3.918668	nucleotide diphosphatase activity
GO:0035173	0.000652	7.335417	4.085509	histone kinase activity
GO:0070840	0.000652	7.335417	4.211716	dynein complex binding
GO:0038187	0.000652	7.335417	4.285118	pattern recognition receptor activity
GO:0005176	0.000652	7.335417	4.402306	ErbB-2 class receptor binding
GO:0016987	0.000652	7.335417	4.633110	sigma factor activity
GO:0035375	0.000652	7.335417	4.729843	zymogen binding
GO:0097617	0.000652	7.335417	5.463950	annealing activity
GO:0004439	0.000634	7.363588	0.000000	phosphatidylinositol-4,5-bisphosphate 5-phosphatase activity
GO:0016303	0.000634	7.363588	0.000000	1-phosphatidylinositol-3-kinase activity
GO:0030676	0.000634	7.363588	0.000000	Rac guanyl-nucleotide exchange factor activity
GO:0008137	0.000634	7.363588	0.055570	NADH dehydrogenase (ubiquinone) activity
GO:0047661	0.000634	7.363588	0.082238	amino-acid racemase activity
GO:0046965	0.000634	7.363588	0.108214	retinoid X receptor binding
GO:0008379	0.000634	7.363588	0.158224	thioredoxin peroxidase activity
GO:0042288	0.000634	7.363588	0.487703	MHC class I protein binding
GO:0004565	0.000634	7.363588	0.571786	beta-galactosidase activity
GO:0031543	0.000634	7.363588	0.619039	peptidyl-proline dioxygenase activity
GO:0097506	0.000634	7.363588	0.863493	deaminated base DNA N-glycosylase activity
GO:0004000	0.000634	7.363588	1.019363	adenosine deaminase activity
GO:0019238	0.000634	7.363588	1.335001	cyclohydrolase activity
GO:0005534	0.000634	7.363588	1.580450	galactose binding
GO:0005436	0.000634	7.363588	1.659588	sodium:phosphate symporter activity
GO:0043024	0.000634	7.363588	2.054124	ribosomal small subunit binding
GO:0005315	0.000634	7.363588	2.783246	inorganic phosphate transmembrane transporter activity
GO:0070568	0.000634	7.363588	2.863017	guanylyltransferase activity
GO:0015106	0.000634	7.363588	2.871140	bicarbonate transmembrane transporter activity
GO:0004448	0.000634	7.363588	3.088442	isocitrate dehydrogenase activity
GO:0016899	0.000634	7.363588	3.216587	oxidoreductase activity, acting on the CH-OH group of donors, oxygen as acceptor
GO:0042577	0.000634	7.363588	3.396424	lipid phosphatase activity
GO:0004697	0.000634	7.363588	3.664294	protein kinase C activity
GO:0005212	0.000634	7.363588	3.712177	structural constituent of eye lens
GO:0016502	0.000634	7.363588	4.064867	nucleotide receptor activity
GO:0070034	0.000634	7.363588	4.358904	telomerase RNA binding
GO:0019202	0.000634	7.363588	4.454015	amino acid kinase activity
GO:0000182	0.000634	7.363588	4.547844	rDNA binding
GO:0015203	0.000634	7.363588	4.794136	polyamine transmembrane transporter activity
GO:0005221	0.000616	7.392575	0.000000	intracellular cyclic nucleotide activated cation channel activity
GO:0022821	0.000616	7.392575	0.000000	potassium ion antiporter activity
GO:0004972	0.000616	7.392575	0.028988	NMDA glutamate receptor activity
GO:0071916	0.000616	7.392575	0.722135	dipeptide transmembrane transporter activity
GO:0008093	0.000616	7.392575	0.843087	cytoskeletal anchor activity
GO:0016423	0.000616	7.392575	0.843087	tRNA (guanine) methyltransferase activity
GO:0016842	0.000616	7.392575	1.016934	amidine-lyase activity
GO:0035197	0.000616	7.392575	1.068759	siRNA binding
GO:0003964	0.000616	7.392575	1.371479	RNA-directed DNA polymerase activity
GO:0008332	0.000616	7.392575	1.443453	low voltage-gated calcium channel activity
GO:0000014	0.000616	7.392575	1.504077	single-stranded DNA endodeoxyribonuclease activity
GO:0005536	0.000616	7.392575	1.609438	glucose binding
GO:0008174	0.000616	7.392575	1.609438	mRNA methyltransferase activity
GO:0017160	0.000616	7.392575	3.017551	Ral GTPase binding
GO:0016160	0.000616	7.392575	3.114822	amylase activity
GO:0055106	0.000616	7.392575	4.070032	ubiquitin-protein transferase regulator activity
GO:0003918	0.000598	7.422428	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) activity
GO:0015379	0.000598	7.422428	0.000000	potassium:chloride symporter activity
GO:0070577	0.000598	7.422428	0.000000	lysine-acetylated histone binding
GO:0005131	0.000598	7.422428	0.087011	growth hormone receptor binding
GO:0015125	0.000598	7.422428	0.087011	bile acid transmembrane transporter activity
GO:0016803	0.000598	7.422428	0.192372	ether hydrolase activity
GO:0015355	0.000598	7.422428	0.310155	secondary active monocarboxylate transmembrane transporter activity
GO:0015280	0.000598	7.422428	0.435318	ligand-gated sodium channel activity
GO:0030955	0.000598	7.422428	0.435318	potassium ion binding
GO:0008297	0.000598	7.422428	0.807558	single-stranded DNA exodeoxyribonuclease activity
GO:0008190	0.000598	7.422428	1.118613	eukaryotic initiation factor 4E binding
GO:0008239	0.000598	7.422428	1.480226	dipeptidyl-peptidase activity
GO:0004935	0.000598	7.422428	1.533930	adrenergic receptor activity
GO:0048256	0.000598	7.422428	1.533930	flap endonuclease activity
GO:0004198	0.000598	7.422428	1.712979	calcium-dependent cysteine-type endopeptidase activity
GO:0061778	0.000598	7.422428	1.729239	intracellular chloride channel activity
GO:0019956	0.000598	7.422428	1.855351	chemokine binding
GO:0140033	0.000598	7.422428	2.071837	acetylation-dependent protein binding
GO:0016712	0.000598	7.422428	2.557932	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced flavin or flavoprotein as one donor, and incorporation of one atom of oxygen
GO:0008504	0.000598	7.422428	3.476099	monoamine transmembrane transporter activity
GO:0048185	0.000598	7.422428	4.298727	activin binding
GO:0016778	0.000598	7.422428	4.765019	diphosphotransferase activity
GO:0070182	0.000598	7.422428	4.816854	DNA polymerase binding
GO:0070064	0.000598	7.422428	6.725688	proline-rich region binding
GO:0005549	0.000598	7.422428	6.986146	odorant binding
GO:0042165	0.000598	7.422428	6.986146	neurotransmitter binding
GO:0000062	0.000580	7.453200	0.000000	fatty-acyl-CoA binding
GO:0005229	0.000580	7.453200	0.000000	intracellular calcium activated chloride channel activity
GO:0008553	0.000580	7.453200	0.000000	proton-exporting ATPase activity, phosphorylative mechanism
GO:0019871	0.000580	7.453200	0.000000	sodium channel inhibitor activity
GO:0009008	0.000580	7.453200	0.060625	DNA-methyltransferase activity
GO:0001614	0.000580	7.453200	0.089612	purinergic nucleotide receptor activity
GO:0008526	0.000580	7.453200	0.271934	phosphatidylinositol transfer activity
GO:0098632	0.000580	7.453200	0.295464	cell-cell adhesion mediator activity
GO:0004558	0.000580	7.453200	0.628609	alpha-1,4-glucosidase activity
GO:0032183	0.000580	7.453200	1.693319	SUMO binding
GO:0036122	0.000580	7.453200	1.886122	BMP binding
GO:0031208	0.000580	7.453200	3.678671	POZ domain binding
GO:0046703	0.000580	7.453200	4.520089	natural killer cell lectin-like receptor binding
GO:0001846	0.000580	7.453200	6.756460	opsonin binding
GO:0004185	0.000561	7.484948	0.000000	serine-type carboxypeptidase activity
GO:0005351	0.000561	7.484948	0.000000	carbohydrate:proton symporter activity
GO:0008745	0.000561	7.484948	0.000000	N-acetylmuramoyl-L-alanine amidase activity
GO:0004844	0.000561	7.484948	0.121361	uracil DNA N-glycosylase activity
GO:0004661	0.000561	7.484948	0.176931	protein geranylgeranyltransferase activity
GO:0050750	0.000561	7.484948	0.203599	low-density lipoprotein particle receptor binding
GO:0003872	0.000561	7.484948	0.372675	6-phosphofructokinase activity
GO:0004890	0.000561	7.484948	0.676887	GABA-A receptor activity
GO:0070696	0.000561	7.484948	0.785521	transmembrane receptor protein serine/threonine kinase binding
GO:0030284	0.000561	7.484948	1.020360	estrogen receptor activity
GO:0005172	0.000561	7.484948	1.076872	vascular endothelial growth factor receptor binding
GO:0017075	0.000561	7.484948	1.109308	syntaxin-1 binding
GO:0008331	0.000561	7.484948	1.535826	high voltage-gated calcium channel activity
GO:0043035	0.000561	7.484948	1.665879	chromatin insulator sequence binding
GO:0004611	0.000561	7.484948	2.017051	phosphoenolpyruvate carboxykinase activity
GO:0003995	0.000561	7.484948	2.276440	acyl-CoA dehydrogenase activity
GO:0016653	0.000561	7.484948	2.349838	oxidoreductase activity, acting on NAD(P)H, heme protein as acceptor
GO:0015658	0.000561	7.484948	2.365105	branched-chain amino acid transmembrane transporter activity
GO:0004634	0.000561	7.484948	2.697239	phosphopyruvate hydratase activity
GO:0050780	0.000561	7.484948	2.780621	dopamine receptor binding
GO:0033549	0.000561	7.484948	2.792549	MAP kinase phosphatase activity
GO:0008169	0.000561	7.484948	3.261812	C-methyltransferase activity
GO:0042043	0.000561	7.484948	4.551837	neurexin family protein binding
GO:0070006	0.000543	7.517738	0.182322	metalloaminopeptidase activity
GO:0120020	0.000543	7.517738	0.312375	cholesterol transfer activity
GO:0015181	0.000543	7.517738	0.382992	arginine transmembrane transporter activity
GO:0016308	0.000543	7.517738	0.427444	1-phosphatidylinositol-4-phosphate 5-kinase activity
GO:0008253	0.000543	7.517738	0.448950	5'-nucleotidase activity
GO:0061608	0.000543	7.517738	0.490623	nuclear import signal receptor activity
GO:0015924	0.000543	7.517738	0.510826	mannosyl-oligosaccharide mannosidase activity
GO:0004340	0.000543	7.517738	0.725937	glucokinase activity
GO:0036440	0.000543	7.517738	0.861482	citrate synthase activity
GO:0032454	0.000543	7.517738	0.955511	histone demethylase activity (H3-K9 specific)
GO:0005353	0.000543	7.517738	1.142097	fructose transmembrane transporter activity
GO:0047498	0.000543	7.517738	1.203973	calcium-dependent phospholipase A2 activity
GO:0070401	0.000543	7.517738	1.252763	NADP+ binding
GO:0003968	0.000543	7.517738	1.427116	RNA-directed 5'-3' RNA polymerase activity
GO:0004523	0.000543	7.517738	1.435085	RNA-DNA hybrid ribonuclease activity
GO:0030228	0.000543	7.517738	1.511458	lipoprotein particle receptor activity
GO:0005007	0.000543	7.517738	1.518784	fibroblast growth factor-activated receptor activity
GO:0016634	0.000543	7.517738	2.309230	oxidoreductase activity, acting on the CH-CH group of donors, oxygen as acceptor
GO:0016670	0.000543	7.517738	2.351375	oxidoreductase activity, acting on a sulfur group of donors, oxygen as acceptor
GO:0008603	0.000543	7.517738	2.498700	cAMP-dependent protein kinase regulator activity
GO:0016714	0.000543	7.517738	2.653242	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced pteridine as one donor, and incorporation of one atom of oxygen
GO:0008810	0.000543	7.517738	3.239985	cellulase activity
GO:0045125	0.000543	7.517738	3.516508	bioactive lipid receptor activity
GO:0015095	0.000543	7.517738	3.876741	magnesium ion transmembrane transporter activity
GO:0048156	0.000543	7.517738	4.163560	tau protein binding
GO:0019103	0.000543	7.517738	4.177459	pyrimidine nucleotide binding
GO:0005326	0.000543	7.517738	4.948287	neurotransmitter transmembrane transporter activity
GO:0030742	0.000543	7.517738	6.820998	GTP-dependent protein binding
GO:0034185	0.000543	7.517738	6.820998	apolipoprotein binding
GO:0004571	0.000525	7.551640	0.033902	mannosyl-oligosaccharide 1,2-alpha-mannosidase activity
GO:0001972	0.000525	7.551640	0.216223	retinoic acid binding
GO:0034236	0.000525	7.551640	0.346276	protein kinase A catalytic subunit binding
GO:0004353	0.000525	7.551640	0.370374	glutamate dehydrogenase [NAD(P)+] activity
GO:0004957	0.000525	7.551640	0.370374	prostaglandin E receptor activity
GO:0016018	0.000525	7.551640	0.370374	cyclosporin A binding
GO:0016211	0.000525	7.551640	0.370374	ammonia ligase activity
GO:0004791	0.000525	7.551640	0.482852	thioredoxin-disulfide reductase activity
GO:0016262	0.000525	7.551640	0.658056	protein N-acetylglucosaminyltransferase activity
GO:0016530	0.000525	7.551640	0.775839	metallochaperone activity
GO:0003988	0.000525	7.551640	0.852212	acetyl-CoA C-acyltransferase activity
GO:0047555	0.000525	7.551640	0.881199	3',5'-cyclic-GMP phosphodiesterase activity
GO:0016427	0.000525	7.551640	1.002152	tRNA (cytosine) methyltransferase activity
GO:0015288	0.000525	7.551640	1.197052	porin activity
GO:0050649	0.000525	7.551640	1.296143	testosterone 6-beta-hydroxylase activity
GO:0061578	0.000525	7.551640	1.910819	Lys63-specific deubiquitinase activity
GO:0004596	0.000525	7.551640	1.926009	peptide alpha-N-acetyltransferase activity
GO:0004952	0.000525	7.551640	1.984562	dopamine neurotransmitter receptor activity
GO:0016208	0.000525	7.551640	2.208653	AMP binding
GO:0000104	0.000525	7.551640	2.343131	succinate dehydrogenase activity
GO:0004738	0.000525	7.551640	2.434823	pyruvate dehydrogenase activity
GO:0015112	0.000525	7.551640	2.744172	nitrate transmembrane transporter activity
GO:1904047	0.000525	7.551640	2.827110	S-adenosyl-L-methionine binding
GO:0031690	0.000525	7.551640	2.847312	adrenergic receptor binding
GO:0042923	0.000525	7.551640	2.903693	neuropeptide binding
GO:0016997	0.000525	7.551640	3.273886	alpha-sialidase activity
GO:0031434	0.000525	7.551640	3.660906	mitogen-activated protein kinase kinase binding
GO:0050998	0.000525	7.551640	4.946066	nitric-oxide synthase binding
GO:0003841	0.000507	7.586731	0.000000	1-acylglycerol-3-phosphate O-acyltransferase activity
GO:0004308	0.000507	7.586731	0.035091	exo-alpha-sialidase activity
GO:0008821	0.000507	7.586731	0.356675	crossover junction endodeoxyribonuclease activity
GO:0062105	0.000507	7.586731	0.356675	RNA 2'-O-methyltransferase activity
GO:0004470	0.000507	7.586731	0.675129	malic enzyme activity
GO:0016662	0.000507	7.586731	0.971861	oxidoreductase activity, acting on other nitrogenous compounds as donors, cytochrome as acceptor
GO:0016594	0.000507	7.586731	1.024504	glycine binding
GO:0008139	0.000507	7.586731	1.049822	nuclear localization sequence binding
GO:0004332	0.000507	7.586731	1.122143	fructose-bisphosphate aldolase activity
GO:0015187	0.000507	7.586731	1.232144	glycine transmembrane transporter activity
GO:0052744	0.000507	7.586731	1.340624	phosphatidylinositol monophosphate phosphatase activity
GO:0003746	0.000507	7.586731	1.866293	translation elongation factor activity
GO:0045159	0.000507	7.586731	2.029088	myosin II binding
GO:0089720	0.000507	7.586731	2.127381	caspase binding
GO:0043023	0.000507	7.586731	2.277267	ribosomal large subunit binding
GO:0016805	0.000507	7.586731	2.309703	dipeptidase activity
GO:0005086	0.000507	7.586731	2.712801	ARF guanyl-nucleotide exchange factor activity
GO:0004300	0.000507	7.586731	2.799022	enoyl-CoA hydratase activity
GO:0003680	0.000507	7.586731	4.770987	AT DNA binding
GO:0042301	0.000507	7.586731	4.774913	phosphate ion binding
GO:0005521	0.000507	7.586731	6.889991	lamin binding
GO:0008020	0.000489	7.623099	0.000000	G protein-coupled photoreceptor activity
GO:0019211	0.000489	7.623099	0.000000	phosphatase activator activity
GO:0019841	0.000489	7.623099	0.000000	retinol binding
GO:0022851	0.000489	7.623099	0.000000	GABA-gated chloride ion channel activity
GO:0004356	0.000489	7.623099	0.071459	glutamate-ammonia ligase activity
GO:0008469	0.000489	7.623099	0.105361	histone-arginine N-methyltransferase activity
GO:0017153	0.000489	7.623099	0.169899	sodium:dicarboxylate symporter activity
GO:0004691	0.000489	7.623099	0.315081	cAMP-dependent protein kinase activity
GO:0099528	0.000489	7.623099	0.341749	G protein-coupled neurotransmitter receptor activity
GO:0016918	0.000489	7.623099	0.575364	retinal binding
GO:0005123	0.000489	7.623099	0.747214	death receptor binding
GO:0005078	0.000489	7.623099	0.798508	MAP-kinase scaffold activity
GO:0005024	0.000489	7.623099	0.847298	transforming growth factor beta-activated receptor activity
GO:0046030	0.000489	7.623099	0.863046	inositol trisphosphate phosphatase activity
GO:0031994	0.000489	7.623099	0.878550	insulin-like growth factor I binding
GO:0033038	0.000489	7.623099	0.908856	bitter taste receptor activity
GO:0070530	0.000489	7.623099	1.215023	K63-linked polyubiquitin modification-dependent protein binding
GO:0004805	0.000489	7.623099	1.225952	trehalose-phosphatase activity
GO:0003896	0.000489	7.623099	1.329136	DNA primase activity
GO:0070412	0.000489	7.623099	1.483287	R-SMAD binding
GO:0034979	0.000489	7.623099	1.516347	NAD-dependent protein deacetylase activity
GO:0051428	0.000489	7.623099	2.380917	peptide hormone receptor binding
GO:0016624	0.000489	7.623099	2.506282	oxidoreductase activity, acting on the aldehyde or oxo group of donors, disulfide as acceptor
GO:1901611	0.000489	7.623099	3.330881	phosphatidylglycerol binding
GO:0016872	0.000489	7.623099	3.402431	intramolecular lyase activity
GO:0004645	0.000489	7.623099	3.546846	1,4-alpha-oligoglucan phosphorylase activity
GO:0004035	0.000489	7.623099	3.655935	alkaline phosphatase activity
GO:0004679	0.000489	7.623099	3.923805	AMP-activated protein kinase activity
GO:0017154	0.000489	7.623099	4.324378	semaphorin receptor activity
GO:0010857	0.000489	7.623099	4.373191	calcium-dependent protein kinase activity
GO:0070883	0.000489	7.623099	4.618415	pre-miRNA binding
GO:0016730	0.000489	7.623099	5.042469	oxidoreductase activity, acting on iron-sulfur proteins as donors
GO:0051787	0.000489	7.623099	6.926359	misfolded protein binding
GO:0097602	0.000489	7.623099	6.926359	cullin family protein binding
GO:0097677	0.000489	7.623099	6.926359	STAT family protein binding
GO:0140272	0.000489	7.623099	7.186817	exogenous protein binding
GO:0000986	0.000471	7.660839	0.000000	bacterial-type cis-regulatory region sequence-specific DNA binding
GO:0003909	0.000471	7.660839	0.000000	DNA ligase activity
GO:0017108	0.000471	7.660839	0.000000	5'-flap endonuclease activity
GO:0042030	0.000471	7.660839	0.000000	ATPase inhibitor activity
GO:0001618	0.000471	7.660839	0.037740	virus receptor activity
GO:0035312	0.000471	7.660839	0.037740	5'-3' exodeoxyribonuclease activity
GO:0003691	0.000471	7.660839	0.109199	double-stranded telomeric DNA binding
GO:0000099	0.000471	7.660839	0.268264	sulfur amino acid transmembrane transporter activity
GO:0000293	0.000471	7.660839	0.325422	ferric-chelate reductase activity
GO:0008048	0.000471	7.660839	0.430783	calcium sensitive guanylate cyclase activator activity
GO:0034511	0.000471	7.660839	0.784955	U3 snoRNA binding
GO:0003917	0.000471	7.660839	0.900787	DNA topoisomerase type I (single strand cut, ATP-independent) activity
GO:0008569	0.000471	7.660839	0.916291	ATP-dependent microtubule motor activity, minus-end-directed
GO:0001222	0.000471	7.660839	1.295780	transcription corepressor binding
GO:0034596	0.000471	7.660839	1.414732	phosphatidylinositol phosphate 4-phosphatase activity
GO:0008097	0.000471	7.660839	1.690663	5S rRNA binding
GO:0030296	0.000471	7.660839	1.785329	protein tyrosine kinase activator activity
GO:0032027	0.000471	7.660839	2.103196	myosin light chain binding
GO:0106130	0.000471	7.660839	2.171249	purine phosphoribosyltransferase activity
GO:1990381	0.000471	7.660839	2.201489	ubiquitin-specific protease binding
GO:0005237	0.000471	7.660839	2.522647	inhibitory extracellular ligand-gated ion channel activity
GO:0050291	0.000471	7.660839	2.644537	sphingosine N-acyltransferase activity
GO:0004345	0.000471	7.660839	3.385693	glucose-6-phosphate dehydrogenase activity
GO:0042302	0.000471	7.660839	4.009429	structural constituent of cuticle
GO:0030215	0.000471	7.660839	4.727728	semaphorin receptor binding
GO:0050811	0.000471	7.660839	4.727728	GABA receptor binding
GO:0043274	0.000471	7.660839	5.055265	phospholipase binding
GO:0005275	0.000471	7.660839	5.091388	amine transmembrane transporter activity
GO:0015643	0.000471	7.660839	7.224557	toxic substance binding
GO:0090729	0.000471	7.660839	7.660839	toxin activity
GO:0019855	0.000453	7.700060	0.000000	calcium channel inhibitor activity
GO:0004438	0.000453	7.700060	0.113329	phosphatidylinositol-3-phosphatase activity
GO:0004768	0.000453	7.700060	0.418710	stearoyl-CoA 9-desaturase activity
GO:0099186	0.000453	7.700060	0.518794	structural constituent of postsynapse
GO:0030553	0.000453	7.700060	0.587787	cGMP binding
GO:0048030	0.000453	7.700060	0.609766	disaccharide binding
GO:0032453	0.000453	7.700060	1.137833	histone demethylase activity (H3-K4 specific)
GO:0010340	0.000453	7.700060	1.576915	carboxyl-O-methyltransferase activity
GO:0000026	0.000453	7.700060	1.593309	alpha-1,2-mannosyltransferase activity
GO:0005003	0.000453	7.700060	1.701105	ephrin receptor activity
GO:0061797	0.000453	7.700060	1.701105	pH-gated chloride channel activity
GO:0019784	0.000453	7.700060	2.170196	NEDD8-specific protease activity
GO:0071111	0.000453	7.700060	2.561868	cyclic-guanylate-specific phosphodiesterase activity
GO:0008927	0.000453	7.700060	2.912351	mannonate dehydratase activity
GO:0004124	0.000453	7.700060	3.050220	cysteine synthase activity
GO:0052621	0.000453	7.700060	3.199489	diguanylate cyclase activity
GO:0004090	0.000453	7.700060	3.424914	carbonyl reductase (NADPH) activity
GO:0043424	0.000453	7.700060	3.809326	protein histidine kinase binding
GO:1990825	0.000453	7.700060	3.833845	sequence-specific mRNA binding
GO:0071837	0.000453	7.700060	3.925531	HMG box domain binding
GO:0005523	0.000453	7.700060	4.345881	tropomyosin binding
GO:0070891	0.000453	7.700060	4.405743	lipoteichoic acid binding
GO:0051766	0.000453	7.700060	4.664571	inositol trisphosphate kinase activity
GO:0008179	0.000453	7.700060	5.094486	adenylate cyclase binding
GO:0019534	0.000453	7.700060	5.130609	toxin transmembrane transporter activity
GO:1901338	0.000453	7.700060	6.084591	catecholamine binding
GO:0048038	0.000453	7.700060	7.263778	quinone binding
GO:0031386	0.000453	7.700060	7.700060	protein tag
GO:0016823	0.000435	7.740882	0.000000	hydrolase activity, acting on acid carbon-carbon bonds, in ketonic substances
GO:0016907	0.000435	7.740882	0.000000	G protein-coupled acetylcholine receptor activity
GO:0050265	0.000435	7.740882	0.000000	RNA uridylyltransferase activity
GO:0005095	0.000435	7.740882	0.080043	GTPase inhibitor activity
GO:0015183	0.000435	7.740882	0.080043	L-aspartate transmembrane transporter activity
GO:0004936	0.000435	7.740882	0.318454	alpha-adrenergic receptor activity
GO:0005223	0.000435	7.740882	0.348307	intracellular cGMP-activated cation channel activity
GO:0019707	0.000435	7.740882	0.377294	protein-cysteine S-acyltransferase activity
GO:0005347	0.000435	7.740882	0.459532	ATP transmembrane transporter activity
GO:0008515	0.000435	7.740882	0.485508	sucrose transmembrane transporter activity
GO:0019136	0.000435	7.740882	0.485508	deoxynucleoside kinase activity
GO:0005459	0.000435	7.740882	0.510826	UDP-galactose transmembrane transporter activity
GO:0030169	0.000435	7.740882	0.672094	low-density lipoprotein particle binding
GO:0051371	0.000435	7.740882	0.693147	muscle alpha-actinin binding
GO:0004372	0.000435	7.740882	0.733969	glycine hydroxymethyltransferase activity
GO:0004032	0.000435	7.740882	0.753772	alditol:NADP+ 1-oxidoreductase activity
GO:0003810	0.000435	7.740882	0.847298	protein-glutamine gamma-glutamyltransferase activity
GO:0016505	0.000435	7.740882	0.932820	peptidase activator activity involved in apoptotic process
GO:0015141	0.000435	7.740882	0.949081	succinate transmembrane transporter activity
GO:0008800	0.000435	7.740882	0.996333	beta-lactamase activity
GO:0008940	0.000435	7.740882	1.126011	nitrate reductase activity
GO:0033691	0.000435	7.740882	1.386294	sialic acid binding
GO:0004126	0.000435	7.740882	1.396657	cytidine deaminase activity
GO:0047499	0.000435	7.740882	1.427116	calcium-independent phospholipase A2 activity
GO:0005527	0.000435	7.740882	1.437067	macrolide binding
GO:0004146	0.000435	7.740882	1.475907	dihydrofolate reductase activity
GO:0048531	0.000435	7.740882	1.558145	beta-1,3-galactosyltransferase activity
GO:0070180	0.000435	7.740882	1.770706	large ribosomal subunit rRNA binding
GO:0003953	0.000435	7.740882	1.933934	NAD+ nucleosidase activity
GO:0080043	0.000435	7.740882	1.986732	quercetin 3-O-glucosyltransferase activity
GO:0031489	0.000435	7.740882	2.183238	myosin V binding
GO:0008410	0.000435	7.740882	2.367124	CoA-transferase activity
GO:0016989	0.000435	7.740882	2.602690	sigma factor antagonist activity
GO:0015114	0.000435	7.740882	2.933414	phosphate ion transmembrane transporter activity
GO:0004564	0.000435	7.740882	3.463128	beta-fructofuranosidase activity
GO:0004650	0.000435	7.740882	3.463128	polygalacturonase activity
GO:0003857	0.000435	7.740882	3.465736	3-hydroxyacyl-CoA dehydrogenase activity
GO:0060229	0.000435	7.740882	3.596170	lipase activator activity
GO:0016743	0.000435	7.740882	3.605271	carboxyl- or carbamoyltransferase activity
GO:0008195	0.000435	7.740882	3.773718	phosphatidate phosphatase activity
GO:0051400	0.000435	7.740882	3.966353	BH domain binding
GO:0005199	0.000435	7.740882	4.089472	structural constituent of cell wall
GO:0070003	0.000435	7.740882	4.094345	threonine-type peptidase activity
GO:0070051	0.000435	7.740882	4.617181	fibrinogen binding
GO:0034987	0.000435	7.740882	4.807771	immunoglobulin receptor binding
GO:0015343	0.000435	7.740882	5.171431	siderophore transmembrane transporter activity
GO:0016822	0.000435	7.740882	5.807517	hydrolase activity, acting on acid carbon-carbon bonds
GO:0031681	0.000435	7.740882	7.044142	G-protein beta-subunit binding
GO:0008656	0.000417	7.783441	0.000000	cysteine-type endopeptidase activator activity involved in apoptotic process
GO:0019706	0.000417	7.783441	0.000000	protein-cysteine S-palmitoyltransferase activity
GO:0072542	0.000417	7.783441	0.000000	protein phosphatase activator activity
GO:0032557	0.000417	7.783441	0.042560	pyrimidine ribonucleotide binding
GO:0030976	0.000417	7.783441	0.083382	thiamine pyrophosphate binding
GO:0042166	0.000417	7.783441	0.231802	acetylcholine binding
GO:0140327	0.000417	7.783441	0.553385	flippase activity
GO:0016728	0.000417	7.783441	0.776529	oxidoreductase activity, acting on CH or CH2 groups, disulfide as acceptor
GO:0016290	0.000417	7.783441	0.853490	palmitoyl-CoA hydrolase activity
GO:0005164	0.000417	7.783441	0.907557	tumor necrosis factor receptor binding
GO:0097157	0.000417	7.783441	0.975380	pre-mRNA intronic binding
GO:0042132	0.000417	7.783441	0.991640	fructose 1,6-bisphosphate 1-phosphatase activity
GO:0004303	0.000417	7.783441	1.307157	estradiol 17-beta-dehydrogenase activity
GO:0036435	0.000417	7.783441	1.375365	K48-linked polyubiquitin modification-dependent protein binding
GO:0070404	0.000417	7.783441	1.428854	NADH binding
GO:0035259	0.000417	7.783441	1.591894	glucocorticoid receptor binding
GO:0046974	0.000417	7.783441	1.700788	histone methyltransferase activity (H3-K9 specific)
GO:0034483	0.000417	7.783441	1.920752	heparan sulfate sulfotransferase activity
GO:0004069	0.000417	7.783441	2.000304	L-aspartate:2-oxoglutarate aminotransferase activity
GO:0004723	0.000417	7.783441	2.182626	calcium-dependent protein serine/threonine phosphatase activity
GO:0043139	0.000417	7.783441	2.192382	5'-3' DNA helicase activity
GO:0016672	0.000417	7.783441	2.617078	oxidoreductase activity, acting on a sulfur group of donors, quinone or similar compound as acceptor
GO:0004985	0.000417	7.783441	2.672648	opioid receptor activity
GO:0005545	0.000417	7.783441	3.027821	1-phosphatidylinositol binding
GO:0000150	0.000417	7.783441	3.622600	recombinase activity
GO:0019107	0.000417	7.783441	3.780229	myristoyltransferase activity
GO:0030275	0.000417	7.783441	4.008913	LRR domain binding
GO:0004427	0.000417	7.783441	4.366692	inorganic diphosphatase activity
GO:0001016	0.000417	7.783441	4.806868	RNA polymerase III transcription regulatory region sequence-specific DNA binding
GO:0015232	0.000417	7.783441	5.213990	heme transmembrane transporter activity
GO:0004133	0.000417	7.783441	6.936427	glycogen debranching enzyme activity
GO:0045294	0.000417	7.783441	7.086702	alpha-catenin binding
GO:0043176	0.000417	7.783441	7.347160	amine binding
GO:0005001	0.000398	7.827893	0.000000	transmembrane receptor protein tyrosine phosphatase activity
GO:0005247	0.000398	7.827893	0.000000	voltage-gated chloride channel activity
GO:0008177	0.000398	7.827893	0.000000	succinate dehydrogenase (ubiquinone) activity
GO:0008310	0.000398	7.827893	0.000000	single-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0016453	0.000398	7.827893	0.000000	C-acetyltransferase activity
GO:0030550	0.000398	7.827893	0.000000	acetylcholine receptor inhibitor activity
GO:0051998	0.000398	7.827893	0.000000	protein carboxyl O-methyltransferase activity
GO:0019198	0.000398	7.827893	0.044452	transmembrane receptor protein phosphatase activity
GO:0016004	0.000398	7.827893	0.087011	phospholipase activator activity
GO:0031419	0.000398	7.827893	0.127833	cobalamin binding
GO:0005041	0.000398	7.827893	0.310155	low-density lipoprotein particle receptor activity
GO:0004301	0.000398	7.827893	0.405465	epoxide hydrolase activity
GO:0031176	0.000398	7.827893	0.546544	endo-1,4-beta-xylanase activity
GO:0016175	0.000398	7.827893	0.780159	superoxide-generating NADPH oxidase activity
GO:0004619	0.000398	7.827893	1.019831	phosphoglycerate mutase activity
GO:0008865	0.000398	7.827893	1.036092	fructokinase activity
GO:0032217	0.000398	7.827893	1.143064	riboflavin transmembrane transporter activity
GO:0004567	0.000398	7.827893	1.213023	beta-mannosidase activity
GO:0003978	0.000398	7.827893	1.290984	UDP-glucose 4-epimerase activity
GO:0055056	0.000398	7.827893	1.303407	D-glucose transmembrane transporter activity
GO:0015578	0.000398	7.827893	1.452252	mannose transmembrane transporter activity
GO:0001224	0.000398	7.827893	1.462834	RNA polymerase II transcription cofactor binding
GO:0031370	0.000398	7.827893	1.524078	eukaryotic initiation factor 4G binding
GO:0016595	0.000398	7.827893	1.821612	glutamate binding
GO:0008079	0.000398	7.827893	2.107455	translation termination factor activity
GO:1990380	0.000398	7.827893	2.187072	Lys48-specific deubiquitinase activity
GO:0004106	0.000398	7.827893	2.293453	chorismate mutase activity
GO:0016929	0.000398	7.827893	2.298029	SUMO-specific protease activity
GO:0016623	0.000398	7.827893	2.711076	oxidoreductase activity, acting on the aldehyde or oxo group of donors, oxygen as acceptor
GO:0017040	0.000398	7.827893	2.838547	N-acylsphingosine amidohydrolase activity
GO:0008391	0.000398	7.827893	2.963397	arachidonic acid monooxygenase activity
GO:0034338	0.000398	7.827893	3.206067	short-chain carboxylesterase activity
GO:0004457	0.000398	7.827893	3.680893	lactate dehydrogenase activity
GO:0008186	0.000398	7.827893	3.814711	RNA-dependent ATPase activity
GO:0046870	0.000398	7.827893	4.171586	cadmium ion binding
GO:0031005	0.000398	7.827893	4.473715	filamin binding
GO:0005035	0.000398	7.827893	4.529172	death receptor activity
GO:0004743	0.000398	7.827893	4.815136	pyruvate kinase activity
GO:0035613	0.000398	7.827893	4.823210	RNA stem-loop binding
GO:0042975	0.000398	7.827893	4.894782	peroxisome proliferator activated receptor binding
GO:0005522	0.000398	7.827893	7.131153	profilin binding
GO:0000992	0.000380	7.874413	0.000000	RNA polymerase III cis-regulatory region sequence-specific DNA binding
GO:0004322	0.000380	7.874413	0.000000	ferroxidase activity
GO:0004534	0.000380	7.874413	0.000000	5'-3' exoribonuclease activity
GO:0005542	0.000380	7.874413	0.000000	folic acid binding
GO:0008121	0.000380	7.874413	0.000000	ubiquinol-cytochrome-c reductase activity
GO:0016531	0.000380	7.874413	0.000000	copper chaperone activity
GO:0016934	0.000380	7.874413	0.000000	extracellularly glycine-gated chloride channel activity
GO:0017136	0.000380	7.874413	0.000000	NAD-dependent histone deacetylase activity
GO:0051378	0.000380	7.874413	0.000000	serotonin binding
GO:0097001	0.000380	7.874413	0.046520	ceramide binding
GO:0061731	0.000380	7.874413	0.090972	ribonucleoside-diphosphate reductase activity
GO:0005528	0.000380	7.874413	0.133531	FK506 binding
GO:0004176	0.000380	7.874413	0.251314	ATP-dependent peptidase activity
GO:0003886	0.000380	7.874413	0.322773	DNA (cytosine-5-)-methyltransferase activity
GO:0004556	0.000380	7.874413	0.481838	alpha-amylase activity
GO:0031545	0.000380	7.874413	0.510826	peptidyl-proline 4-dioxygenase activity
GO:1990404	0.000380	7.874413	0.510826	protein ADP-ribosylase activity
GO:0003989	0.000380	7.874413	0.716678	acetyl-CoA carboxylase activity
GO:0016493	0.000380	7.874413	0.762140	C-C chemokine receptor activity
GO:0005219	0.000380	7.874413	0.980829	ryanodine-sensitive calcium-release channel activity
GO:0016724	0.000380	7.874413	1.015921	oxidoreductase activity, oxidizing metal ions, oxygen as acceptor
GO:0004865	0.000380	7.874413	1.189584	protein serine/threonine phosphatase inhibitor activity
GO:0017070	0.000380	7.874413	1.218157	U6 snRNA binding
GO:0000702	0.000380	7.874413	1.374318	oxidized base lesion DNA N-glycosylase activity
GO:0016681	0.000380	7.874413	1.398129	oxidoreductase activity, acting on diphenols and related substances as donors, cytochrome as acceptor
GO:0031957	0.000380	7.874413	1.444114	very long-chain fatty acid-CoA ligase activity
GO:0015193	0.000380	7.874413	1.519826	L-proline transmembrane transporter activity
GO:0003955	0.000380	7.874413	1.580450	NAD(P)H dehydrogenase (quinone) activity
GO:2001065	0.000380	7.874413	1.875458	mannan binding
GO:0004904	0.000380	7.874413	2.067465	interferon receptor activity
GO:0032052	0.000380	7.874413	2.218168	bile acid binding
GO:0004517	0.000380	7.874413	2.349105	nitric-oxide synthase activity
GO:0005324	0.000380	7.874413	2.504554	long-chain fatty acid transporter activity
GO:0070990	0.000380	7.874413	2.564949	snRNP binding
GO:0008191	0.000380	7.874413	2.796119	metalloendopeptidase inhibitor activity
GO:0000171	0.000380	7.874413	3.055797	ribonuclease MRP activity
GO:0004333	0.000380	7.874413	3.086704	fumarate hydratase activity
GO:0015927	0.000380	7.874413	3.596660	trehalase activity
GO:0008353	0.000380	7.874413	4.175120	RNA polymerase II CTD heptapeptide repeat kinase activity
GO:0070122	0.000380	7.874413	4.353039	isopeptidase activity
GO:0017166	0.000380	7.874413	4.520235	vinculin binding
GO:0001727	0.000380	7.874413	4.964841	lipid kinase activity
GO:0010385	0.000380	7.874413	5.158508	double-stranded methylated DNA binding
GO:0098599	0.000380	7.874413	5.941048	palmitoyl hydrolase activity
GO:0045503	0.000380	7.874413	7.177673	dynein light chain binding
GO:0005068	0.000362	7.923203	0.000000	transmembrane receptor protein tyrosine kinase adaptor activity
GO:0015501	0.000362	7.923203	0.000000	glutamate:sodium symporter activity
GO:0004748	0.000362	7.923203	0.048790	ribonucleoside-diphosphate reductase activity, thioredoxin disulfide as acceptor
GO:0043208	0.000362	7.923203	0.048790	glycosphingolipid binding
GO:0003747	0.000362	7.923203	0.095310	translation release factor activity
GO:0004694	0.000362	7.923203	0.139762	eukaryotic translation initiation factor 2alpha kinase activity
GO:0048019	0.000362	7.923203	0.262364	receptor antagonist activity
GO:1901612	0.000362	7.923203	0.300105	cardiolipin binding
GO:0001851	0.000362	7.923203	0.405465	complement component C3b binding
GO:0070915	0.000362	7.923203	0.405465	lysophosphatidic acid receptor activity
GO:0004663	0.000362	7.923203	0.438255	Rab geranylgeranyltransferase activity
GO:0015226	0.000362	7.923203	0.500775	carnitine transmembrane transporter activity
GO:0003720	0.000362	7.923203	0.530628	telomerase activity
GO:0015217	0.000362	7.923203	0.641854	ADP transmembrane transporter activity
GO:0032137	0.000362	7.923203	0.667829	guanine/thymine mispair binding
GO:0005049	0.000362	7.923203	0.896088	nuclear export signal receptor activity
GO:0031402	0.000362	7.923203	0.936093	sodium ion binding
GO:0004557	0.000362	7.923203	1.131402	alpha-galactosidase activity
GO:0004792	0.000362	7.923203	1.163151	thiosulfate sulfurtransferase activity
GO:0106018	0.000362	7.923203	1.163151	phosphatidylinositol-3,5-bisphosphate phosphatase activity
GO:0004415	0.000362	7.923203	1.294727	hyalurononglucosaminidase activity
GO:0015186	0.000362	7.923203	1.568616	L-glutamine transmembrane transporter activity
GO:0055077	0.000362	7.923203	1.568616	gap junction hemi-channel activity
GO:0022889	0.000362	7.923203	1.713798	serine transmembrane transporter activity
GO:0046975	0.000362	7.923203	1.840550	histone methyltransferase activity (H3-K36 specific)
GO:0016165	0.000362	7.923203	1.931521	linoleate 13S-lipoxygenase activity
GO:0003987	0.000362	7.923203	1.938742	acetate-CoA ligase activity
GO:0004767	0.000362	7.923203	1.938742	sphingomyelin phosphodiesterase activity
GO:0004779	0.000362	7.923203	1.987874	sulfate adenylyltransferase activity
GO:0042806	0.000362	7.923203	2.140066	fucose binding
GO:0005225	0.000362	7.923203	2.429218	volume-sensitive anion channel activity
GO:0016406	0.000362	7.923203	2.468100	carnitine O-acyltransferase activity
GO:0008494	0.000362	7.923203	2.509599	translation activator activity
GO:0016625	0.000362	7.923203	2.806386	oxidoreductase activity, acting on the aldehyde or oxo group of donors, iron-sulfur protein as acceptor
GO:0034450	0.000362	7.923203	2.980619	ubiquitin-ubiquitin ligase activity
GO:0032296	0.000362	7.923203	3.104587	double-stranded RNA-specific ribonuclease activity
GO:1990756	0.000362	7.923203	3.258097	ubiquitin ligase-substrate adaptor activity
GO:0043422	0.000362	7.923203	4.032469	protein kinase B binding
GO:0050072	0.000362	7.923203	4.506454	m7G(5')pppN diphosphatase activity
GO:0016936	0.000362	7.923203	4.628887	galactoside binding
GO:0071933	0.000362	7.923203	4.799503	Arp2/3 complex binding
GO:0051880	0.000362	7.923203	5.702114	G-quadruplex DNA binding
GO:0043546	0.000362	7.923203	6.289437	molybdopterin cofactor binding
GO:0045735	0.000362	7.923203	7.923203	nutrient reservoir activity
GO:0004362	0.000344	7.974497	0.000000	glutathione-disulfide reductase activity
GO:0008474	0.000344	7.974497	0.000000	palmitoyl-(protein) hydrolase activity
GO:0033592	0.000344	7.974497	0.000000	RNA strand annealing activity
GO:0106006	0.000344	7.974497	0.000000	cytoskeletal protein-membrane anchor activity
GO:0140410	0.000344	7.974497	0.000000	solute:bicarbonate symporter activity
GO:0019826	0.000344	7.974497	0.051293	oxygen sensor activity
GO:0004031	0.000344	7.974497	0.146603	aldehyde oxidase activity
GO:0005540	0.000344	7.974497	0.191055	hyaluronic acid binding
GO:0033220	0.000344	7.974497	0.233615	ATPase-coupled amide-transporter activity
GO:0005214	0.000344	7.974497	0.313658	structural constituent of chitin-based cuticle
GO:0016731	0.000344	7.974497	0.351398	oxidoreductase activity, acting on iron-sulfur proteins as donors, NAD or NADP as acceptor
GO:0098988	0.000344	7.974497	0.351398	G protein-coupled glutamate receptor activity
GO:0031748	0.000344	7.974497	0.489548	D1 dopamine receptor binding
GO:0003933	0.000344	7.974497	0.610909	GTP cyclohydrolase activity
GO:0015189	0.000344	7.974497	0.639080	L-lysine transmembrane transporter activity
GO:0016231	0.000344	7.974497	0.639080	beta-N-acetylglucosaminidase activity
GO:0032135	0.000344	7.974497	0.719123	DNA insertion or deletion binding
GO:0140328	0.000344	7.974497	0.744440	floppase activity
GO:0018685	0.000344	7.974497	0.862224	alkane 1-monooxygenase activity
GO:0004065	0.000344	7.974497	0.905709	arylsulfatase activity
GO:0016174	0.000344	7.974497	0.926762	NAD(P)H oxidase (H(2)O(2)-forming activity
GO:0035241	0.000344	7.974497	0.987387	protein-arginine omega-N monomethyltransferase activity
GO:0004430	0.000344	7.974497	1.044545	1-phosphatidylinositol 4-kinase activity
GO:0046920	0.000344	7.974497	1.044545	alpha-(1->3)-fucosyltransferase activity
GO:0032029	0.000344	7.974497	1.062894	myosin tail binding
GO:0004614	0.000344	7.974497	1.166435	phosphoglucomutase activity
GO:0052716	0.000344	7.974497	1.166435	hydroquinone:oxygen oxidoreductase activity
GO:0017002	0.000344	7.974497	1.198696	activin-activated receptor activity
GO:0016435	0.000344	7.974497	1.214444	rRNA (guanine) methyltransferase activity
GO:0052834	0.000344	7.974497	1.214444	inositol monophosphate phosphatase activity
GO:0031995	0.000344	7.974497	1.229948	insulin-like growth factor II binding
GO:0051748	0.000344	7.974497	1.275069	UTP-monosaccharide-1-phosphate uridylyltransferase activity
GO:0030620	0.000344	7.974497	1.318241	U2 snRNA binding
GO:0047134	0.000344	7.974497	1.346020	protein-disulfide reductase activity
GO:0008131	0.000344	7.974497	1.359626	primary amine oxidase activity
GO:0045545	0.000344	7.974497	1.437588	syndecan binding
GO:0003854	0.000344	7.974497	1.498212	3-beta-hydroxy-delta5-steroid dehydrogenase activity
GO:0001056	0.000344	7.974497	1.680534	RNA polymerase III activity
GO:0032050	0.000344	7.974497	1.699952	clathrin heavy chain binding
GO:0015220	0.000344	7.974497	1.765091	choline transmembrane transporter activity
GO:0030248	0.000344	7.974497	1.975542	cellulose binding
GO:0004969	0.000344	7.974497	2.085999	histamine receptor activity
GO:0042809	0.000344	7.974497	2.484907	vitamin D receptor binding
GO:0009927	0.000344	7.974497	2.552729	histidine phosphotransfer kinase activity
GO:0008199	0.000344	7.974497	2.608521	ferric iron binding
GO:0070324	0.000344	7.974497	2.612389	thyroid hormone binding
GO:0043121	0.000344	7.974497	2.635291	neurotrophin binding
GO:0033170	0.000344	7.974497	2.827002	protein-DNA loading ATPase activity
GO:0004977	0.000344	7.974497	2.863704	melanocortin receptor activity
GO:0015279	0.000344	7.974497	2.887443	store-operated calcium channel activity
GO:0005165	0.000344	7.974497	3.130907	neurotrophin receptor binding
GO:0070615	0.000344	7.974497	3.961314	nucleosome-dependent ATPase activity
GO:0030274	0.000344	7.974497	4.199968	LIM domain binding
GO:0070742	0.000344	7.974497	4.199968	C2H2 zinc finger domain binding
GO:0035612	0.000344	7.974497	4.850796	AP-2 adaptor complex binding
GO:0004594	0.000344	7.974497	4.939007	pantothenate kinase activity
GO:0001161	0.000344	7.974497	4.997923	intronic transcription regulatory region sequence-specific DNA binding
GO:0001163	0.000344	7.974497	4.997923	RNA polymerase I transcription regulatory region sequence-specific DNA binding
GO:0033130	0.000344	7.974497	5.041386	acetylcholine receptor binding
GO:0140416	0.000344	7.974497	5.198206	DNA-binding transcription factor inhibitor activity
GO:0045505	0.000344	7.974497	7.277757	dynein intermediate chain binding
GO:0097351	0.000344	7.974497	7.277757	toxin-antitoxin pair type II binding
GO:0046790	0.000344	7.974497	7.538215	virion binding
GO:0004862	0.000326	8.028564	0.000000	cAMP-dependent protein kinase inhibitor activity
GO:0008510	0.000326	8.028564	0.000000	sodium:bicarbonate symporter activity
GO:0008933	0.000326	8.028564	0.000000	lytic transglycosylase activity
GO:0009374	0.000326	8.028564	0.000000	biotin binding
GO:0015440	0.000326	8.028564	0.000000	ATPase-coupled peptide transmembrane transporter activity
GO:0061575	0.000326	8.028564	0.000000	cyclin-dependent protein serine/threonine kinase activator activity
GO:0070138	0.000326	8.028564	0.000000	ubiquitin-like protein-specific isopeptidase activity
GO:0070140	0.000326	8.028564	0.000000	SUMO-specific isopeptidase activity
GO:0003983	0.000326	8.028564	0.054067	UTP:glucose-1-phosphate uridylyltransferase activity
GO:0004525	0.000326	8.028564	0.054067	ribonuclease III activity
GO:0004575	0.000326	8.028564	0.054067	sucrose alpha-glucosidase activity
GO:0051864	0.000326	8.028564	0.054067	histone demethylase activity (H3-K36 specific)
GO:0061665	0.000326	8.028564	0.154151	SUMO ligase activity
GO:0009931	0.000326	8.028564	0.245122	calcium-dependent protein serine/threonine kinase activity
GO:0004473	0.000326	8.028564	0.287682	malate dehydrogenase (decarboxylating) (NADP+) activity
GO:0008559	0.000326	8.028564	0.287682	ATPase-coupled xenobiotic transmembrane transporter activity
GO:0004445	0.000326	8.028564	0.405465	inositol-polyphosphate 5-phosphatase activity
GO:0015185	0.000326	8.028564	0.405465	gamma-aminobutyric acid transmembrane transporter activity
GO:0016972	0.000326	8.028564	0.510826	thiol oxidase activity
GO:0033677	0.000326	8.028564	0.543615	DNA/RNA helicase activity
GO:0004450	0.000326	8.028564	0.664976	isocitrate dehydrogenase (NADP+) activity
GO:0001094	0.000326	8.028564	0.747214	TFIID-class transcription factor complex binding
GO:0030060	0.000326	8.028564	0.847298	L-malate dehydrogenase activity
GO:0016767	0.000326	8.028564	0.893818	geranylgeranyl-diphosphate geranylgeranyltransferase activity
GO:0004605	0.000326	8.028564	1.021651	phosphatidate cytidylyltransferase activity
GO:0019948	0.000326	8.028564	1.187166	SUMO activating enzyme activity
GO:0004097	0.000326	8.028564	1.220502	catechol oxidase activity
GO:0008568	0.000326	8.028564	1.252763	microtubule-severing ATPase activity
GO:0140414	0.000326	8.028564	1.252763	phosphopantetheine-dependent carrier activity
GO:0099122	0.000326	8.028564	1.299283	RNA polymerase II C-terminal domain binding
GO:0030619	0.000326	8.028564	1.372308	U1 snRNA binding
GO:0008309	0.000326	8.028564	1.413693	double-stranded DNA exodeoxyribonuclease activity
GO:0098809	0.000326	8.028564	1.413693	nitrite reductase activity
GO:0004049	0.000326	8.028564	1.427116	anthranilate synthase activity
GO:0009041	0.000326	8.028564	1.427116	uridylate kinase activity
GO:0071558	0.000326	8.028564	1.466337	histone demethylase activity (H3-K27 specific)
GO:0000268	0.000326	8.028564	1.491655	peroxisome targeting sequence binding
GO:0004465	0.000326	8.028564	1.586965	lipoprotein lipase activity
GO:0005149	0.000326	8.028564	1.620488	interleukin-1 receptor binding
GO:0034584	0.000326	8.028564	1.704748	piRNA binding
GO:0008142	0.000326	8.028564	1.754019	oxysterol binding
GO:0005021	0.000326	8.028564	2.029609	vascular endothelial growth factor-activated receptor activity
GO:0070181	0.000326	8.028564	2.058388	small ribosomal subunit rRNA binding
GO:0080044	0.000326	8.028564	2.274414	quercetin 7-O-glucosyltransferase activity
GO:0008420	0.000326	8.028564	2.427748	RNA polymerase II CTD heptapeptide repeat phosphatase activity
GO:0005161	0.000326	8.028564	2.451962	platelet-derived growth factor receptor binding
GO:0015086	0.000326	8.028564	2.461486	cadmium ion transmembrane transporter activity
GO:0016412	0.000326	8.028564	2.573460	serine O-acyltransferase activity
GO:0017034	0.000326	8.028564	2.594425	Rap guanyl-nucleotide exchange factor activity
GO:0005497	0.000326	8.028564	2.666456	androgen binding
GO:0017049	0.000326	8.028564	2.685577	GTP-Rho binding
GO:0042608	0.000326	8.028564	3.221096	T cell receptor binding
GO:0015142	0.000326	8.028564	3.446454	tricarboxylic acid transmembrane transporter activity
GO:0030306	0.000326	8.028564	3.691653	ADP-ribosylation factor binding
GO:0004392	0.000326	8.028564	3.718977	heme oxygenase (decyclizing) activity
GO:0008429	0.000326	8.028564	3.736346	phosphatidylethanolamine binding
GO:0042083	0.000326	8.028564	3.805427	5,10-methylenetetrahydrofolate-dependent methyltransferase activity
GO:0016748	0.000326	8.028564	4.025352	succinyltransferase activity
GO:0008432	0.000326	8.028564	4.137830	JUN kinase binding
GO:0004325	0.000326	8.028564	4.372257	ferrochelatase activity
GO:0030151	0.000326	8.028564	4.372257	molybdenum ion binding
GO:0031432	0.000326	8.028564	4.674385	titin binding
GO:0019215	0.000326	8.028564	4.904863	intermediate filament binding
GO:0004103	0.000326	8.028564	4.993075	choline kinase activity
GO:0097109	0.000326	8.028564	5.095453	neuroligin family protein binding
GO:0005344	0.000326	8.028564	5.522793	oxygen carrier activity
GO:0042123	0.000326	8.028564	6.229059	glucanosyltransferase activity
GO:0044548	0.000326	8.028564	7.331824	S100 protein binding
GO:0005290	0.000308	8.085722	0.000000	L-histidine transmembrane transporter activity
GO:0004739	0.000308	8.085722	0.057158	pyruvate dehydrogenase (acetyl-transferring) activity
GO:0015386	0.000308	8.085722	0.111226	potassium:proton antiporter activity
GO:0015254	0.000308	8.085722	0.162519	glycerol channel activity
GO:0033765	0.000308	8.085722	0.162519	steroid dehydrogenase activity, acting on the CH-CH group of donors
GO:0005031	0.000308	8.085722	0.257829	tumor necrosis factor-activated receptor activity
GO:0008440	0.000308	8.085722	0.385662	inositol-1,4,5-trisphosphate 3-kinase activity
GO:0015199	0.000308	8.085722	0.663294	amino-acid betaine transmembrane transporter activity
GO:0034335	0.000308	8.085722	0.663294	DNA negative supercoiling activity
GO:0097027	0.000308	8.085722	0.693147	ubiquitin-protein transferase activator activity
GO:0004449	0.000308	8.085722	0.722135	isocitrate dehydrogenase (NAD+) activity
GO:0016314	0.000308	8.085722	0.750306	phosphatidylinositol-3,4,5-trisphosphate 3-phosphatase activity
GO:0070739	0.000308	8.085722	0.777705	protein-glutamic acid ligase activity
GO:0005114	0.000308	8.085722	0.880359	type II transforming growth factor beta receptor binding
GO:0035242	0.000308	8.085722	1.098612	protein-arginine omega-N asymmetric methyltransferase activity
GO:0004668	0.000308	8.085722	1.309921	protein-arginine deiminase activity
GO:0000403	0.000308	8.085722	1.386294	Y-form DNA binding
GO:0004321	0.000308	8.085722	1.386294	fatty-acyl-CoA synthase activity
GO:0042937	0.000308	8.085722	1.415282	tripeptide transmembrane transporter activity
GO:0030621	0.000308	8.085722	1.429467	U4 snRNA binding
GO:0050815	0.000308	8.085722	1.470852	phosphoserine residue binding
GO:0004385	0.000308	8.085722	1.484275	guanylate kinase activity
GO:0004807	0.000308	8.085722	1.597603	triose-phosphate isomerase activity
GO:0001054	0.000308	8.085722	1.791759	RNA polymerase I activity
GO:0004113	0.000308	8.085722	1.811178	2',3'-cyclic-nucleotide 3'-phosphodiesterase activity
GO:0022858	0.000308	8.085722	1.876317	alanine transmembrane transporter activity
GO:0033142	0.000308	8.085722	1.894174	progesterone receptor binding
GO:0000995	0.000308	8.085722	1.911719	RNA polymerase III general transcription initiation factor activity
GO:0001181	0.000308	8.085722	1.911719	RNA polymerase I general transcription initiation factor activity
GO:0000009	0.000308	8.085722	1.978971	alpha-1,6-mannosyltransferase activity
GO:0008897	0.000308	8.085722	2.003069	holo-[acyl-carrier-protein] synthase activity
GO:0015665	0.000308	8.085722	2.086768	alcohol transmembrane transporter activity
GO:0070733	0.000308	8.085722	2.150393	protein adenylyltransferase activity
GO:0004657	0.000308	8.085722	2.370793	proline dehydrogenase activity
GO:0140035	0.000308	8.085722	2.735131	ubiquitination-like modification-dependent protein binding
GO:0051011	0.000308	8.085722	3.414830	microtubule minus-end binding
GO:0008140	0.000308	8.085722	3.637586	cAMP response element binding protein binding
GO:0045551	0.000308	8.085722	3.810576	cinnamyl-alcohol dehydrogenase activity
GO:0030899	0.000308	8.085722	4.072540	calcium-dependent ATPase activity
GO:0035325	0.000308	8.085722	5.152611	Toll-like receptor binding
GO:0017050	0.000308	8.085722	5.176150	D-erythro-sphingosine kinase activity
GO:0031404	0.000308	8.085722	5.273904	chloride ion binding
GO:0043008	0.000308	8.085722	7.388982	ATP-dependent protein binding
GO:0043560	0.000308	8.085722	7.388982	insulin receptor substrate binding
GO:0043515	0.000308	8.085722	7.649440	kinetochore binding
GO:0051192	0.000308	8.085722	7.649440	prosthetic group binding
GO:0000036	0.000290	8.146347	0.000000	acyl carrier activity
GO:0003913	0.000290	8.146347	0.000000	DNA photolyase activity
GO:0003985	0.000290	8.146347	0.000000	acetyl-CoA C-acetyltransferase activity
GO:0004758	0.000290	8.146347	0.000000	serine C-palmitoyltransferase activity
GO:0016454	0.000290	8.146347	0.000000	C-palmitoyltransferase activity
GO:0031492	0.000290	8.146347	0.000000	nucleosomal DNA binding
GO:0034485	0.000290	8.146347	0.000000	phosphatidylinositol-3,4,5-trisphosphate 5-phosphatase activity
GO:0045174	0.000290	8.146347	0.000000	glutathione dehydrogenase (ascorbate) activity
GO:0070009	0.000290	8.146347	0.000000	serine-type aminopeptidase activity
GO:0044620	0.000290	8.146347	0.060625	ACP phosphopantetheine attachment site binding
GO:0045028	0.000290	8.146347	0.060625	G protein-coupled purinergic nucleotide receptor activity
GO:0004799	0.000290	8.146347	0.117783	thymidylate synthase activity
GO:0050542	0.000290	8.146347	0.171850	icosanoid binding
GO:0004781	0.000290	8.146347	0.223144	sulfate adenylyltransferase (ATP) activity
GO:0090563	0.000290	8.146347	0.223144	protein-phosphocysteine-sugar phosphotransferase activity
GO:0004555	0.000290	8.146347	0.271934	alpha,alpha-trehalase activity
GO:1990446	0.000290	8.146347	0.271934	U1 snRNP binding
GO:0033192	0.000290	8.146347	0.362905	calmodulin-dependent protein phosphatase activity
GO:0043522	0.000290	8.146347	0.362905	leucine zipper domain binding
GO:0098879	0.000290	8.146347	0.446287	structural constituent of postsynaptic specialization
GO:0035256	0.000290	8.146347	0.523248	G protein-coupled glutamate receptor binding
GO:0004352	0.000290	8.146347	0.594707	glutamate dehydrogenase (NAD+) activity
GO:0016428	0.000290	8.146347	0.594707	tRNA (cytosine-5-)-methyltransferase activity
GO:0008964	0.000290	8.146347	0.661398	phosphoenolpyruvate carboxylase activity
GO:0031493	0.000290	8.146347	0.661398	nucleosomal histone binding
GO:0086080	0.000290	8.146347	0.693147	protein binding involved in heterotypic cell-cell adhesion
GO:0004749	0.000290	8.146347	0.723919	ribose phosphate diphosphokinase activity
GO:0030570	0.000290	8.146347	0.838329	pectate lyase activity
GO:0004170	0.000290	8.146347	1.034074	dUTP diphosphatase activity
GO:0035438	0.000290	8.146347	1.034074	cyclic-di-GMP binding
GO:0004382	0.000290	8.146347	1.077559	guanosine-diphosphatase activity
GO:0015245	0.000290	8.146347	1.159237	fatty acid transmembrane transporter activity
GO:0042289	0.000290	8.146347	1.270463	MHC class II protein binding
GO:0004839	0.000290	8.146347	1.304949	ubiquitin activating enzyme activity
GO:0004053	0.000290	8.146347	1.370546	arginase activity
GO:0034046	0.000290	8.146347	1.401799	poly(G) binding
GO:0000405	0.000290	8.146347	1.446919	bubble DNA binding
GO:0001716	0.000290	8.146347	1.531476	L-amino-acid oxidase activity
GO:0000822	0.000290	8.146347	1.609438	inositol hexakisphosphate binding
GO:0004347	0.000290	8.146347	1.658228	glucose-6-phosphate isomerase activity
GO:0030283	0.000290	8.146347	1.670063	testosterone dehydrogenase [NAD(P)] activity
GO:0004462	0.000290	8.146347	1.770706	lactoylglutathione lyase activity
GO:0070411	0.000290	8.146347	2.006535	I-SMAD binding
GO:0004169	0.000290	8.146347	2.039596	dolichyl-phosphate-mannose-protein mannosyltransferase activity
GO:0042134	0.000290	8.146347	2.176171	rRNA primary transcript binding
GO:1904408	0.000290	8.146347	2.251292	melatonin binding
GO:0001594	0.000290	8.146347	2.257849	trace-amine receptor activity
GO:0008477	0.000290	8.146347	2.339399	purine nucleosidase activity
GO:0004084	0.000290	8.146347	2.363210	branched-chain-amino-acid transaminase activity
GO:0016708	0.000290	8.146347	2.436897	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, NAD(P)H as one donor, and incorporation of two atoms of oxygen into one donor
GO:0004829	0.000290	8.146347	2.495269	threonine-tRNA ligase activity
GO:0009378	0.000290	8.146347	2.555287	four-way junction helicase activity
GO:0004499	0.000290	8.146347	2.621039	N,N-dimethylaniline monooxygenase activity
GO:0004731	0.000290	8.146347	2.656757	purine-nucleoside phosphorylase activity
GO:0004058	0.000290	8.146347	2.678450	aromatic-L-amino-acid decarboxylase activity
GO:0001758	0.000290	8.146347	2.724580	retinal dehydrogenase activity
GO:0046624	0.000290	8.146347	2.776487	sphingolipid transporter activity
GO:0017081	0.000290	8.146347	2.876386	chloride channel regulator activity
GO:0016882	0.000290	8.146347	2.921143	cyclo-ligase activity
GO:0030346	0.000290	8.146347	2.963984	protein phosphatase 2B binding
GO:0004067	0.000290	8.146347	3.157000	asparaginase activity
GO:0016716	0.000290	8.146347	3.281851	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, another compound as one donor, and incorporation of one atom of oxygen
GO:0030599	0.000290	8.146347	3.524521	pectinesterase activity
GO:0016015	0.000290	8.146347	3.820456	morphogen activity
GO:0015928	0.000290	8.146347	3.868593	fucosidase activity
GO:0046556	0.000290	8.146347	3.868593	alpha-L-arabinofuranosidase activity
GO:0004991	0.000290	8.146347	4.145117	parathyroid hormone receptor activity
GO:0050700	0.000290	8.146347	4.371818	CARD domain binding
GO:0070016	0.000290	8.146347	4.371818	armadillo repeat domain binding
GO:0034452	0.000290	8.146347	4.792168	dynactin binding
GO:0030235	0.000290	8.146347	4.823804	nitric-oxide synthase regulator activity
GO:0042979	0.000290	8.146347	4.823804	ornithine decarboxylase regulator activity
GO:0005042	0.000290	8.146347	4.847626	netrin receptor activity
GO:0031683	0.000290	8.146347	5.022646	G-protein beta/gamma-subunit complex binding
GO:0003951	0.000290	8.146347	5.110858	NAD+ kinase activity
GO:0008312	0.000290	8.146347	5.141664	7S RNA binding
GO:1990247	0.000290	8.146347	5.141664	N6-methyladenosine-containing RNA binding
GO:0070025	0.000290	8.146347	5.176856	carbon monoxide binding
GO:1990226	0.000290	8.146347	5.540773	histone methyltransferase binding
GO:0080161	0.000290	8.146347	5.576896	auxin transmembrane transporter activity
GO:0045295	0.000290	8.146347	7.449607	gamma-catenin binding
GO:0001225	0.000272	8.210885	0.000000	RNA polymerase II transcription coactivator binding
GO:0015277	0.000272	8.210885	0.000000	kainate selective glutamate receptor activity
GO:0015369	0.000272	8.210885	0.000000	calcium:proton antiporter activity
GO:0016416	0.000272	8.210885	0.000000	O-palmitoyltransferase activity
GO:0022849	0.000272	8.210885	0.000000	glutamate-gated calcium ion channel activity
GO:0140161	0.000272	8.210885	0.000000	monocarboxylate:sodium symporter activity
GO:0140311	0.000272	8.210885	0.000000	protein sequestering activity
GO:0004503	0.000272	8.210885	0.064539	monophenol monooxygenase activity
GO:0008273	0.000272	8.210885	0.064539	calcium, potassium:sodium antiporter activity
GO:0003689	0.000272	8.210885	0.125163	DNA clamp loader activity
GO:0030882	0.000272	8.210885	0.182322	lipid antigen binding
GO:0042124	0.000272	8.210885	0.182322	1,3-beta-glucanosyltransferase activity
GO:0001640	0.000272	8.210885	0.236389	adenylate cyclase inhibiting G protein-coupled glutamate receptor activity
GO:0005314	0.000272	8.210885	0.236389	high-affinity glutamate transmembrane transporter activity
GO:0008452	0.000272	8.210885	0.236389	RNA ligase activity
GO:0015093	0.000272	8.210885	0.236389	ferrous iron transmembrane transporter activity
GO:0080115	0.000272	8.210885	0.236389	myosin XI tail binding
GO:0008534	0.000272	8.210885	0.336472	oxidized purine nucleobase lesion DNA N-glycosylase activity
GO:0004938	0.000272	8.210885	0.470004	alpha2-adrenergic receptor activity
GO:0048039	0.000272	8.210885	0.510826	ubiquinone binding
GO:0004422	0.000272	8.210885	0.550046	hypoxanthine phosphoribosyltransferase activity
GO:0001588	0.000272	8.210885	0.659246	dopamine neurotransmitter receptor activity, coupled via Gs
GO:0004108	0.000272	8.210885	0.693147	citrate (Si)-synthase activity
GO:0003958	0.000272	8.210885	0.725937	NADPH-hemoprotein reductase activity
GO:0070700	0.000272	8.210885	0.725937	BMP receptor binding
GO:0019957	0.000272	8.210885	0.788457	C-C chemokine binding
GO:0050543	0.000272	8.210885	0.875469	icosatetraenoic acid binding
GO:0070538	0.000272	8.210885	0.875469	oleic acid binding
GO:0070735	0.000272	8.210885	0.902868	protein-glycine ligase activity
GO:0004658	0.000272	8.210885	1.053150	propionyl-CoA carboxylase activity
GO:0015211	0.000272	8.210885	1.098612	purine nucleoside transmembrane transporter activity
GO:0045134	0.000272	8.210885	1.142097	uridine-diphosphatase activity
GO:0016726	0.000272	8.210885	1.203973	oxidoreductase activity, acting on CH or CH2 groups, NAD or NADP as acceptor
GO:0005365	0.000272	8.210885	1.243194	myo-inositol transmembrane transporter activity
GO:0043559	0.000272	8.210885	1.243194	insulin binding
GO:0036080	0.000272	8.210885	1.317301	purine nucleotide-sugar transmembrane transporter activity
GO:0015140	0.000272	8.210885	1.419084	malate transmembrane transporter activity
GO:0016433	0.000272	8.210885	1.450833	rRNA (adenine) methyltransferase activity
GO:0019864	0.000272	8.210885	1.568616	IgG binding
GO:0042973	0.000272	8.210885	1.661398	glucan endo-1,3-beta-D-glucosidase activity
GO:0004111	0.000272	8.210885	1.757858	creatine kinase activity
GO:0005354	0.000272	8.210885	1.835245	galactose transmembrane transporter activity
GO:0001055	0.000272	8.210885	1.916923	RNA polymerase II activity
GO:0015146	0.000272	8.210885	2.054124	pentose transmembrane transporter activity
GO:0045236	0.000272	8.210885	2.104134	CXCR chemokine receptor binding
GO:0097177	0.000272	8.210885	2.143980	mitochondrial ribosome binding
GO:0004966	0.000272	8.210885	2.167147	galanin receptor activity
GO:0004994	0.000272	8.210885	2.167147	somatostatin receptor activity
GO:0099511	0.000272	8.210885	2.261763	voltage-gated calcium channel activity involved in regulation of cytosolic calcium levels
GO:0004774	0.000272	8.210885	2.397895	succinate-CoA ligase activity
GO:0002094	0.000272	8.210885	2.456736	polyprenyltransferase activity
GO:0004825	0.000272	8.210885	2.559808	methionine-tRNA ligase activity
GO:0015087	0.000272	8.210885	2.643808	cobalt ion transmembrane transporter activity
GO:0015099	0.000272	8.210885	2.643808	nickel cation transmembrane transporter activity
GO:0004014	0.000272	8.210885	2.742988	adenosylmethionine decarboxylase activity
GO:0004771	0.000272	8.210885	2.890372	sterol esterase activity
GO:0004145	0.000272	8.210885	2.965273	diamine N-acetyltransferase activity
GO:0004359	0.000272	8.210885	3.221539	glutaminase activity
GO:0035014	0.000272	8.210885	3.288402	phosphatidylinositol 3-kinase regulator activity
GO:0008401	0.000272	8.210885	3.346389	retinoic acid 4-hydroxylase activity
GO:0005148	0.000272	8.210885	3.367296	prolactin receptor binding
GO:0030957	0.000272	8.210885	3.390024	Tat protein binding
GO:0015105	0.000272	8.210885	3.403417	arsenite transmembrane transporter activity
GO:0043199	0.000272	8.210885	3.427515	sulfate binding
GO:0047952	0.000272	8.210885	3.935740	glycerol-3-phosphate dehydrogenase [NAD(P)+] activity
GO:0055102	0.000272	8.210885	3.965248	lipase inhibitor activity
GO:0016901	0.000272	8.210885	4.063885	oxidoreductase activity, acting on the CH-OH group of donors, quinone or similar compound as acceptor
GO:0050734	0.000272	8.210885	4.207673	hydroxycinnamoyltransferase activity
GO:0004647	0.000272	8.210885	4.243722	phosphoserine phosphatase activity
GO:0098518	0.000272	8.210885	4.243722	polynucleotide phosphatase activity
GO:0000384	0.000272	8.210885	4.419643	first spliceosomal transesterification activity
GO:0000386	0.000272	8.210885	4.419643	second spliceosomal transesterification activity
GO:0051765	0.000272	8.210885	5.175396	inositol tetrakisphosphate kinase activity
GO:0033204	0.000272	8.210885	5.206202	ribonuclease P RNA binding
GO:0005121	0.000272	8.210885	5.277774	Toll binding
GO:0050786	0.000272	8.210885	5.277774	RAGE receptor binding
GO:0003692	0.000272	8.210885	5.494980	left-handed Z-DNA binding
GO:0004800	0.000272	8.210885	5.630256	thyroxine 5'-deiodinase activity
GO:0045322	0.000272	8.210885	5.665504	unmethylated CpG binding
GO:0002162	0.000272	8.210885	7.514146	dystroglycan binding
GO:0030881	0.000272	8.210885	7.514146	beta-2-microglobulin binding
GO:0061676	0.000272	8.210885	7.514146	importin-alpha family protein binding
GO:0008430	0.000272	8.210885	7.774604	selenium binding
GO:0070026	0.000272	8.210885	7.774604	nitric oxide binding
GO:0140313	0.000272	8.210885	8.210885	molecular sequestering activity
GO:0008658	0.000254	8.279878	0.000000	penicillin binding
GO:0009674	0.000254	8.279878	0.000000	potassium:sodium symporter activity
GO:0035514	0.000254	8.279878	0.000000	DNA demethylase activity
GO:0050544	0.000254	8.279878	0.000000	arachidonic acid binding
GO:0055105	0.000254	8.279878	0.000000	ubiquitin-protein transferase inhibitor activity
GO:0106050	0.000254	8.279878	0.000000	tRNA 2'-O-methyltransferase activity
GO:0000774	0.000254	8.279878	0.068993	adenyl-nucleotide exchange factor activity
GO:0005034	0.000254	8.279878	0.068993	osmosensor activity
GO:0015450	0.000254	8.279878	0.068993	P-P-bond-hydrolysis-driven protein transmembrane transporter activity
GO:0061133	0.000254	8.279878	0.068993	endopeptidase activator activity
GO:0099626	0.000254	8.279878	0.068993	voltage-gated calcium channel activity involved in regulation of presynaptic cytosolic calcium levels
GO:0004459	0.000254	8.279878	0.133531	L-lactate dehydrogenase activity
GO:0030597	0.000254	8.279878	0.133531	RNA glycosylase activity
GO:0098919	0.000254	8.279878	0.133531	structural constituent of postsynaptic density
GO:0001162	0.000254	8.279878	0.194156	RNA polymerase II intronic transcription regulatory region sequence-specific DNA binding
GO:0070740	0.000254	8.279878	0.194156	tubulin-glutamic acid ligase activity
GO:0140036	0.000254	8.279878	0.194156	ubiquitin-dependent protein binding
GO:0015137	0.000254	8.279878	0.251314	citrate transmembrane transporter activity
GO:0004072	0.000254	8.279878	0.305382	aspartate kinase activity
GO:0002135	0.000254	8.279878	0.405465	CTP binding
GO:0140333	0.000254	8.279878	0.405465	glycerophospholipid flippase activity
GO:0008126	0.000254	8.279878	0.451985	acetylesterase activity
GO:0008392	0.000254	8.279878	0.451985	arachidonic acid epoxygenase activity
GO:0051379	0.000254	8.279878	0.579818	epinephrine binding
GO:0003910	0.000254	8.279878	0.619039	DNA ligase (ATP) activity
GO:0031698	0.000254	8.279878	0.728239	beta-2 adrenergic receptor binding
GO:0035174	0.000254	8.279878	0.728239	histone serine kinase activity
GO:0003997	0.000254	8.279878	0.762140	acyl-CoA oxidase activity
GO:0031177	0.000254	8.279878	0.887303	phosphopantetheine binding
GO:0008192	0.000254	8.279878	0.916291	RNA guanylyltransferase activity
GO:0019798	0.000254	8.279878	0.916291	procollagen-proline dioxygenase activity
GO:0046592	0.000254	8.279878	0.971861	polyamine oxidase activity
GO:0004618	0.000254	8.279878	1.074515	phosphoglycerate kinase activity
GO:0034713	0.000254	8.279878	1.074515	type I transforming growth factor beta receptor binding
GO:0003984	0.000254	8.279878	1.098612	acetolactate synthase activity
GO:0003941	0.000254	8.279878	1.292768	L-serine ammonia-lyase activity
GO:0004165	0.000254	8.279878	1.292768	dodecenoyl-CoA delta-isomerase activity
GO:0036312	0.000254	8.279878	1.421386	phosphatidylinositol 3-kinase regulatory subunit binding
GO:0005350	0.000254	8.279878	1.504077	pyrimidine nucleobase transmembrane transporter activity
GO:0033041	0.000254	8.279878	1.565635	sweet taste receptor activity
GO:0008113	0.000254	8.279878	1.580450	peptide-methionine (S)-S-oxide reductase activity
GO:0004508	0.000254	8.279878	1.637609	steroid 17-alpha-monooxygenase activity
GO:0016426	0.000254	8.279878	1.730391	tRNA (adenine) methyltransferase activity
GO:0004883	0.000254	8.279878	1.815290	glucocorticoid receptor activity
GO:0031779	0.000254	8.279878	1.849579	melanocortin receptor binding
GO:0034458	0.000254	8.279878	1.956063	3'-5' RNA helicase activity
GO:0070410	0.000254	8.279878	2.140066	co-SMAD binding
GO:0019187	0.000254	8.279878	2.173127	beta-1,4-mannosyltransferase activity
GO:0004100	0.000254	8.279878	2.189256	chitin synthase activity
GO:0004357	0.000254	8.279878	2.189256	glutamate-cysteine ligase activity
GO:0046976	0.000254	8.279878	2.197225	histone methyltransferase activity (H3-K27 specific)
GO:0004995	0.000254	8.279878	2.236140	tachykinin receptor activity
GO:0010436	0.000254	8.279878	2.288196	carotenoid dioxygenase activity
GO:0000828	0.000254	8.279878	2.330756	inositol hexakisphosphate kinase activity
GO:0005234	0.000254	8.279878	2.613216	extracellularly glutamate-gated ion channel activity
GO:0019763	0.000254	8.279878	2.674149	immunoglobulin receptor activity
GO:0019972	0.000254	8.279878	2.712801	interleukin-12 binding
GO:0003956	0.000254	8.279878	2.790288	NAD(P)+-protein-arginine ADP-ribosyltransferase activity
GO:0004366	0.000254	8.279878	2.824774	glycerol-3-phosphate O-acyltransferase activity
GO:0004028	0.000254	8.279878	2.858111	3-chloroallyl aldehyde dehydrogenase activity
GO:0017162	0.000254	8.279878	2.858111	aryl hydrocarbon receptor binding
GO:0048407	0.000254	8.279878	2.940672	platelet-derived growth factor binding
GO:1905538	0.000254	8.279878	2.970414	polysome binding
GO:0003959	0.000254	8.279878	3.144768	NADPH dehydrogenase activity
GO:0016657	0.000254	8.279878	3.144768	oxidoreductase activity, acting on NAD(P)H, nitrogenous group as acceptor
GO:0015462	0.000254	8.279878	3.274446	ATPase-coupled protein transmembrane transporter activity
GO:0016715	0.000254	8.279878	3.415382	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, reduced ascorbate as one donor, and incorporation of one atom of oxygen
GO:0019171	0.000254	8.279878	3.492169	3-hydroxyacyl-[acyl-carrier-protein] dehydratase activity
GO:0004104	0.000254	8.279878	3.658052	cholinesterase activity
GO:0046910	0.000254	8.279878	4.034241	pectinesterase inhibitor activity
GO:0035497	0.000254	8.279878	4.158883	cAMP response element binding
GO:0016420	0.000254	8.279878	4.276666	malonyltransferase activity
GO:0051425	0.000254	8.279878	4.505350	PTB domain binding
GO:0070513	0.000254	8.279878	4.505350	death domain binding
GO:0030280	0.000254	8.279878	4.628468	structural constituent of skin epidermis
GO:0010997	0.000254	8.279878	5.156178	anaphase-promoting complex binding
GO:0023023	0.000254	8.279878	5.156178	MHC protein complex binding
GO:0005113	0.000254	8.279878	5.346767	patched binding
GO:0042609	0.000254	8.279878	5.346767	CD4 receptor binding
GO:1990763	0.000254	8.279878	7.583138	arrestin family protein binding
GO:0001164	0.000235	8.353986	0.000000	RNA polymerase I core promoter sequence-specific DNA binding
GO:0004346	0.000235	8.353986	0.000000	glucose-6-phosphatase activity
GO:0005368	0.000235	8.353986	0.000000	taurine transmembrane transporter activity
GO:0008511	0.000235	8.353986	0.000000	sodium:potassium:chloride symporter activity
GO:0008517	0.000235	8.353986	0.000000	folic acid transmembrane transporter activity
GO:0009001	0.000235	8.353986	0.000000	serine O-acetyltransferase activity
GO:0016892	0.000235	8.353986	0.000000	endoribonuclease activity, producing 3'-phosphomonoesters
GO:0022840	0.000235	8.353986	0.000000	leak channel activity
GO:0030598	0.000235	8.353986	0.000000	rRNA N-glycosylase activity
GO:0015180	0.000235	8.353986	0.074108	L-alanine transmembrane transporter activity
GO:0015184	0.000235	8.353986	0.074108	L-cystine transmembrane transporter activity
GO:0017017	0.000235	8.353986	0.074108	MAP kinase tyrosine/serine/threonine phosphatase activity
GO:0035240	0.000235	8.353986	0.074108	dopamine binding
GO:0042959	0.000235	8.353986	0.074108	alkanesulfonate transmembrane transporter activity
GO:0045145	0.000235	8.353986	0.074108	single-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0004367	0.000235	8.353986	0.143101	glycerol-3-phosphate dehydrogenase [NAD+] activity
GO:0015194	0.000235	8.353986	0.143101	L-serine transmembrane transporter activity
GO:0042879	0.000235	8.353986	0.143101	aldonate transmembrane transporter activity
GO:0004560	0.000235	8.353986	0.207639	alpha-L-fucosidase activity
GO:0036374	0.000235	8.353986	0.268264	glutathione hydrolase activity
GO:0008934	0.000235	8.353986	0.379490	inositol monophosphate 1-phosphatase activity
GO:0008937	0.000235	8.353986	0.379490	ferredoxin-NAD(P) reductase activity
GO:0019164	0.000235	8.353986	0.430783	pyruvate synthase activity
GO:0001006	0.000235	8.353986	0.479573	RNA polymerase III type 3 promoter sequence-specific DNA binding
GO:0015247	0.000235	8.353986	0.479573	aminophospholipid flippase activity
GO:0015606	0.000235	8.353986	0.479573	spermidine transmembrane transporter activity
GO:0001591	0.000235	8.353986	0.802346	dopamine neurotransmitter receptor activity, coupled via Gi/Go
GO:0004128	0.000235	8.353986	0.869038	cytochrome-b5 reductase activity, acting on NAD(P)H
GO:0043184	0.000235	8.353986	0.869038	vascular endothelial growth factor receptor 2 binding
GO:0005222	0.000235	8.353986	0.961411	intracellular cAMP-activated cation channel activity
GO:0008251	0.000235	8.353986	0.990399	tRNA-specific adenosine deaminase activity
GO:0008905	0.000235	8.353986	0.990399	mannose-phosphate guanylyltransferase activity
GO:0042392	0.000235	8.353986	0.990399	sphingosine-1-phosphate phosphatase activity
GO:0047580	0.000235	8.353986	0.990399	4-hydroxyproline epimerase activity
GO:0008796	0.000235	8.353986	1.018570	bis(5'-nucleosyl)-tetraphosphatase activity
GO:0071723	0.000235	8.353986	1.045969	lipopeptide binding
GO:0000772	0.000235	8.353986	1.072637	mating pheromone activity
GO:0001097	0.000235	8.353986	1.072637	TFIIH-class transcription factor complex binding
GO:0004088	0.000235	8.353986	1.123930	carbamoyl-phosphate synthase (glutamine-hydrolyzing) activity
GO:0017128	0.000235	8.353986	1.123930	phospholipid scramblase activity
GO:1990817	0.000235	8.353986	1.196251	RNA adenylyltransferase activity
GO:0008035	0.000235	8.353986	1.285198	high-density lipoprotein particle binding
GO:0050309	0.000235	8.353986	1.562185	sugar-terminal-phosphatase activity
GO:0016312	0.000235	8.353986	1.593934	inositol bisphosphate phosphatase activity
GO:0016434	0.000235	8.353986	1.593934	rRNA (cytosine) methyltransferase activity
GO:0016436	0.000235	8.353986	1.593934	rRNA (uridine) methyltransferase activity
GO:0031071	0.000235	8.353986	1.593934	cysteine desulfurase activity
GO:0004963	0.000235	8.353986	1.609438	follicle-stimulating hormone receptor activity
GO:0003977	0.000235	8.353986	1.654558	UDP-N-acetylglucosamine diphosphorylase activity
GO:0033300	0.000235	8.353986	1.669157	dehydroascorbic acid transmembrane transporter activity
GO:0004705	0.000235	8.353986	1.697731	JUN kinase activity
GO:0050440	0.000235	8.353986	1.697731	2-methylcitrate synthase activity
GO:0097322	0.000235	8.353986	1.697731	7SK snRNA binding
GO:0046857	0.000235	8.353986	1.739116	oxidoreductase activity, acting on other nitrogenous compounds as donors, with NAD or NADP as acceptor
GO:0004127	0.000235	8.353986	1.752539	cytidylate kinase activity
GO:0034618	0.000235	8.353986	1.791759	arginine binding
GO:0070679	0.000235	8.353986	1.817077	inositol 1,4,5 trisphosphate binding
GO:0000700	0.000235	8.353986	1.853891	mismatch base pair DNA N-glycosylase activity
GO:0004376	0.000235	8.353986	2.247235	glycolipid mannosyltransferase activity
GO:0030572	0.000235	8.353986	2.271333	phosphatidyltransferase activity
GO:0004983	0.000235	8.353986	2.310248	neuropeptide Y receptor activity
GO:2001070	0.000235	8.353986	2.355032	starch binding
GO:0004052	0.000235	8.353986	2.362304	arachidonate 12(S)-lipoxygenase activity
GO:0000309	0.000235	8.353986	2.418657	nicotinamide-nucleotide adenylyltransferase activity
GO:1990405	0.000235	8.353986	2.438997	protein antigen binding
GO:0004062	0.000235	8.353986	2.491296	aryl sulfotransferase activity
GO:0050833	0.000235	8.353986	2.516455	pyruvate transmembrane transporter activity
GO:0003825	0.000235	8.353986	2.599837	alpha,alpha-trehalose-phosphate synthase (UDP-forming) activity
GO:0045547	0.000235	8.353986	2.599837	dehydrodolichyl diphosphate synthase activity
GO:0042947	0.000235	8.353986	2.697741	glucoside transmembrane transporter activity
GO:0004828	0.000235	8.353986	2.702909	serine-tRNA ligase activity
GO:0004830	0.000235	8.353986	2.702909	tryptophan-tRNA ligase activity
GO:0086008	0.000235	8.353986	2.805689	voltage-gated potassium channel activity involved in cardiac muscle cell action potential repolarization
GO:0016762	0.000235	8.353986	2.855586	xyloglucan:xyloglucosyl transferase activity
GO:0004351	0.000235	8.353986	2.886089	glutamate decarboxylase activity
GO:0004586	0.000235	8.353986	2.886089	ornithine decarboxylase activity
GO:0004590	0.000235	8.353986	2.886089	orotidine-5'-phosphate decarboxylase activity
GO:0004772	0.000235	8.353986	2.898882	sterol O-acyltransferase activity
GO:0009013	0.000235	8.353986	2.932219	succinate-semialdehyde dehydrogenase [NAD(P)+] activity
GO:0018491	0.000235	8.353986	2.932219	2-oxobutyrate synthase activity
GO:0080019	0.000235	8.353986	2.932219	fatty-acyl-CoA reductase (alcohol-forming) activity
GO:0035374	0.000235	8.353986	3.007205	chondroitin sulfate binding
GO:0016669	0.000235	8.353986	3.187623	oxidoreductase activity, acting on a sulfur group of donors, cytochrome as acceptor
GO:0001595	0.000235	8.353986	3.243193	angiotensin receptor activity
GO:0004040	0.000235	8.353986	3.364640	amidase activity
GO:0031628	0.000235	8.353986	3.649659	opioid receptor binding
GO:0004478	0.000235	8.353986	3.704147	methionine adenosyltransferase activity
GO:0046905	0.000235	8.353986	3.704147	phytoene synthase activity
GO:0030600	0.000235	8.353986	3.732160	feruloyl esterase activity
GO:0003938	0.000235	8.353986	4.078840	IMP dehydrogenase activity
GO:0003939	0.000235	8.353986	4.078840	L-iditol 2-dehydrogenase activity
GO:0019788	0.000235	8.353986	4.232991	NEDD8 transferase activity
GO:0004576	0.000235	8.353986	4.277734	oligosaccharyl transferase activity
GO:0030350	0.000235	8.353986	4.487772	iron-responsive element binding
GO:0032552	0.000235	8.353986	4.679992	deoxyribonucleotide binding
GO:0022842	0.000235	8.353986	4.831999	narrow pore channel activity
GO:0003923	0.000235	8.353986	4.832612	GPI-anchor transamidase activity
GO:0031013	0.000235	8.353986	4.999808	troponin I binding
GO:0030337	0.000235	8.353986	5.031443	DNA polymerase processivity factor activity
GO:0004740	0.000235	8.353986	5.104079	pyruvate dehydrogenase (acetyl-transferring) kinase activity
GO:0032404	0.000235	8.353986	5.230286	mismatch repair complex binding
GO:0004305	0.000235	8.353986	5.318497	ethanolamine kinase activity
GO:0004370	0.000235	8.353986	5.318497	glycerol kinase activity
GO:0070878	0.000235	8.353986	5.349303	primary miRNA binding
GO:0033265	0.000235	8.353986	5.384495	choline binding
GO:1990459	0.000235	8.353986	5.420875	transferrin receptor binding
GO:0031996	0.000235	8.353986	5.748413	thioesterase binding
GO:0044388	0.000235	8.353986	5.748413	small protein activating enzyme binding
GO:0039706	0.000235	8.353986	7.657246	co-receptor binding
GO:0070097	0.000235	8.353986	7.657246	delta-catenin binding
GO:0097371	0.000235	8.353986	7.657246	MDM2/MDM4 family protein binding
GO:0004379	0.000217	8.434029	0.000000	glycylpeptide N-tetradecanoyltransferase activity
GO:0008073	0.000217	8.434029	0.000000	ornithine decarboxylase inhibitor activity
GO:0015315	0.000217	8.434029	0.000000	organophosphate:inorganic phosphate antiporter activity
GO:0016749	0.000217	8.434029	0.000000	N-succinyltransferase activity
GO:0004318	0.000217	8.434029	0.080043	enoyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0031782	0.000217	8.434029	0.154151	type 4 melanocortin receptor binding
GO:0034235	0.000217	8.434029	0.154151	GPI anchor binding
GO:0004775	0.000217	8.434029	0.223144	succinate-CoA ligase (ADP-forming) activity
GO:0008240	0.000217	8.434029	0.287682	tripeptidyl-peptidase activity
GO:0008271	0.000217	8.434029	0.287682	secondary active sulfate transmembrane transporter activity
GO:0010329	0.000217	8.434029	0.287682	auxin efflux transmembrane transporter activity
GO:0008386	0.000217	8.434029	0.405465	cholesterol monooxygenase (side-chain-cleaving) activity
GO:0003934	0.000217	8.434029	0.459532	GTP cyclohydrolase I activity
GO:0048406	0.000217	8.434029	0.459532	nerve growth factor binding
GO:0047553	0.000217	8.434029	0.510826	2-oxoglutarate synthase activity
GO:0015489	0.000217	8.434029	0.559616	putrescine transmembrane transporter activity
GO:0015188	0.000217	8.434029	0.606136	L-isoleucine transmembrane transporter activity
GO:0016985	0.000217	8.434029	0.606136	mannan endo-1,4-beta-mannosidase activity
GO:0061459	0.000217	8.434029	0.650588	L-arginine transmembrane transporter activity
GO:0005005	0.000217	8.434029	0.733969	transmembrane-ephrin receptor activity
GO:0005462	0.000217	8.434029	0.733969	UDP-N-acetylglucosamine transmembrane transporter activity
GO:0003999	0.000217	8.434029	0.773190	adenine phosphoribosyltransferase activity
GO:0004512	0.000217	8.434029	0.810930	inositol-3-phosphate synthase activity
GO:0008184	0.000217	8.434029	0.810930	glycogen phosphorylase activity
GO:0016966	0.000217	8.434029	0.847298	nitric oxide reductase activity
GO:0035184	0.000217	8.434029	0.882389	histone threonine kinase activity
GO:0004505	0.000217	8.434029	0.916291	phenylalanine 4-monooxygenase activity
GO:0004511	0.000217	8.434029	0.916291	tyrosine 3-monooxygenase activity
GO:0009019	0.000217	8.434029	1.041454	tRNA (guanine-N1-)-methyltransferase activity
GO:0004968	0.000217	8.434029	1.070441	gonadotropin-releasing hormone receptor activity
GO:0080084	0.000217	8.434029	1.070441	5S rDNA binding
GO:0004152	0.000217	8.434029	1.098612	dihydroorotate dehydrogenase activity
GO:1990814	0.000217	8.434029	1.098612	DNA/DNA annealing activity
GO:0005363	0.000217	8.434029	1.178655	maltose transmembrane transporter activity
GO:0031730	0.000217	8.434029	1.228665	CCR5 chemokine receptor binding
GO:0004802	0.000217	8.434029	1.252763	transketolase activity
GO:0098505	0.000217	8.434029	1.321756	G-rich strand telomeric DNA binding
GO:0004105	0.000217	8.434029	1.427116	choline-phosphate cytidylyltransferase activity
GO:0052650	0.000217	8.434029	1.446919	NADP-retinol dehydrogenase activity
GO:0008843	0.000217	8.434029	1.466337	endochitinase activity
GO:0031127	0.000217	8.434029	1.504077	alpha-(1,2)-fucosyltransferase activity
GO:0005220	0.000217	8.434029	1.540445	inositol 1,4,5-trisphosphate-sensitive calcium-release channel activity
GO:0004974	0.000217	8.434029	1.575536	leukotriene receptor activity
GO:0004331	0.000217	8.434029	1.642228	fructose-2,6-bisphosphate 2-phosphatase activity
GO:0004157	0.000217	8.434029	1.689481	dihydropyrimidinase activity
GO:0003884	0.000217	8.434029	1.819158	D-amino-acid oxidase activity
GO:0004451	0.000217	8.434029	1.832581	isocitrate lyase activity
GO:0004476	0.000217	8.434029	1.945910	mannose-6-phosphate isomerase activity
GO:0004751	0.000217	8.434029	1.945910	ribose-5-phosphate isomerase activity
GO:0008294	0.000217	8.434029	1.945910	calcium- and calmodulin-responsive adenylate cyclase activity
GO:0004148	0.000217	8.434029	1.981001	dihydrolipoyl dehydrogenase activity
GO:0032356	0.000217	8.434029	2.130214	oxidized DNA binding
GO:0004315	0.000217	8.434029	2.159484	3-oxoacyl-[acyl-carrier-protein] synthase activity
GO:0004416	0.000217	8.434029	2.277267	hydroxyacylglutathione hydrolase activity
GO:0004582	0.000217	8.434029	2.327278	dolichyl-phosphate beta-D-mannosyltransferase activity
GO:0017176	0.000217	8.434029	2.343407	phosphatidylinositol N-acetylglucosaminyltransferase activity
GO:0047760	0.000217	8.434029	2.449567	butyrate-CoA ligase activity
GO:0001730	0.000217	8.434029	2.498700	2'-5'-oligoadenylate synthetase activity
GO:1990238	0.000217	8.434029	2.545531	double-stranded DNA endodeoxyribonuclease activity
GO:0003867	0.000217	8.434029	2.650892	4-aminobutyrate transaminase activity
GO:0008453	0.000217	8.434029	2.650892	alanine-glyoxylate transaminase activity
GO:0070548	0.000217	8.434029	2.650892	L-glutamine aminotransferase activity
GO:0004726	0.000217	8.434029	2.719100	non-membrane spanning protein tyrosine phosphatase activity
GO:0019139	0.000217	8.434029	2.719100	cytokinin dehydrogenase activity
GO:0004823	0.000217	8.434029	2.782952	leucine-tRNA ligase activity
GO:0004827	0.000217	8.434029	2.782952	proline-tRNA ligase activity
GO:0004831	0.000217	8.434029	2.782952	tyrosine-tRNA ligase activity
GO:0051538	0.000217	8.434029	2.866951	3 iron, 4 sulfur cluster binding
GO:0016869	0.000217	8.434029	2.899588	intramolecular transferase activity, transferring amino groups
GO:0050486	0.000217	8.434029	2.899588	intramolecular transferase activity, transferring hydroxy groups
GO:0004588	0.000217	8.434029	2.944439	orotate phosphoribosyltransferase activity
GO:0004609	0.000217	8.434029	2.966132	phosphatidylserine decarboxylase activity
GO:0047184	0.000217	8.434029	2.978925	1-acylglycerophosphocholine O-acyltransferase activity
GO:0047714	0.000217	8.434029	3.113515	galactolipase activity
GO:0004060	0.000217	8.434029	3.188417	arylamine N-acetyltransferase activity
GO:0004019	0.000217	8.434029	3.208825	adenylosuccinate synthase activity
GO:0008889	0.000217	8.434029	3.295837	glycerophosphodiester phosphodiesterase activity
GO:0018492	0.000217	8.434029	3.317212	carbon-monoxide dehydrogenase (acceptor) activity
GO:0008261	0.000217	8.434029	3.323236	allatostatin receptor activity
GO:0097642	0.000217	8.434029	3.323236	calcitonin family receptor activity
GO:0019828	0.000217	8.434029	3.355735	aspartic-type endopeptidase inhibitor activity
GO:0008936	0.000217	8.434029	3.444682	nicotinamidase activity
GO:0045302	0.000217	8.434029	3.444682	choloylglycine hydrolase activity
GO:0018812	0.000217	8.434029	3.646320	3-hydroxyacyl-CoA dehydratase activity
GO:0019172	0.000217	8.434029	3.646320	glyoxalase III activity
GO:0031701	0.000217	8.434029	3.729701	angiotensin receptor binding
GO:0003849	0.000217	8.434029	3.784190	3-deoxy-7-phosphoheptulonate synthase activity
GO:0004766	0.000217	8.434029	3.784190	spermidine synthase activity
GO:0004064	0.000217	8.434029	3.812203	arylesterase activity
GO:0004649	0.000217	8.434029	4.156276	poly(ADP-ribose) glycohydrolase activity
GO:0003979	0.000217	8.434029	4.158883	UDP-glucose 6-dehydrogenase activity
GO:0008428	0.000217	8.434029	4.188391	ribonuclease inhibitor activity
GO:0010521	0.000217	8.434029	4.188391	telomerase inhibitor activity
GO:0003844	0.000217	8.434029	4.357777	1,4-alpha-glucan branching enzyme activity
GO:0016520	0.000217	8.434029	4.432799	growth hormone-releasing hormone receptor activity
GO:0047631	0.000217	8.434029	5.017280	ADP-ribose diphosphatase activity
GO:0050254	0.000217	8.434029	5.184122	rhodopsin kinase activity
GO:0004020	0.000217	8.434029	5.398540	adenylylsulfate kinase activity
GO:0003696	0.000217	8.434029	5.618285	satellite DNA binding
GO:0003711	0.000217	8.434029	5.731722	transcription elongation regulator activity
GO:0003681	0.000217	8.434029	6.212940	bent DNA binding
GO:0002046	0.000217	8.434029	7.737289	opsin binding
GO:0046977	0.000217	8.434029	7.737289	TAP binding
GO:0019808	0.000217	8.434029	7.997747	polyamine binding
GO:0000257	0.000199	8.521040	0.000000	nitrilase activity
GO:0001002	0.000199	8.521040	0.000000	RNA polymerase III type 1 promoter sequence-specific DNA binding
GO:0004021	0.000199	8.521040	0.000000	L-alanine:2-oxoglutarate aminotransferase activity
GO:0004054	0.000199	8.521040	0.000000	arginine kinase activity
GO:0004095	0.000199	8.521040	0.000000	carnitine O-palmitoyltransferase activity
GO:0004656	0.000199	8.521040	0.000000	procollagen-proline 4-dioxygenase activity
GO:0005087	0.000199	8.521040	0.000000	Ran guanyl-nucleotide exchange factor activity
GO:0005471	0.000199	8.521040	0.000000	ATP:ADP antiporter activity
GO:0008499	0.000199	8.521040	0.000000	UDP-galactose:beta-N-acetylglucosamine beta-1,3-galactosyltransferase activity
GO:0008705	0.000199	8.521040	0.000000	methionine synthase activity
GO:0010427	0.000199	8.521040	0.000000	abscisic acid binding
GO:0016532	0.000199	8.521040	0.000000	superoxide dismutase copper chaperone activity
GO:0032554	0.000199	8.521040	0.000000	purine deoxyribonucleotide binding
GO:0035515	0.000199	8.521040	0.000000	oxidative RNA demethylase activity
GO:0051429	0.000199	8.521040	0.000000	corticotropin-releasing hormone receptor binding
GO:0032357	0.000199	8.521040	0.087011	oxidized purine DNA binding
GO:0008808	0.000199	8.521040	0.167054	cardiolipin synthase activity
GO:1990948	0.000199	8.521040	0.241162	ubiquitin ligase inhibitor activity
GO:0003972	0.000199	8.521040	0.310155	RNA ligase (ATP) activity
GO:0004528	0.000199	8.521040	0.310155	phosphodiesterase I activity
GO:0051575	0.000199	8.521040	0.374693	5'-deoxyribose-5-phosphate lyase activity
GO:0036310	0.000199	8.521040	0.435318	annealing helicase activity
GO:0008010	0.000199	8.521040	0.546544	structural constituent of chitin-based larval cuticle
GO:0016361	0.000199	8.521040	0.546544	activin receptor activity, type I
GO:0000703	0.000199	8.521040	0.646627	oxidized pyrimidine nucleobase lesion DNA N-glycosylase activity
GO:0001003	0.000199	8.521040	0.646627	RNA polymerase III type 2 promoter sequence-specific DNA binding
GO:0002134	0.000199	8.521040	0.646627	UTP binding
GO:0016703	0.000199	8.521040	0.646627	oxidoreductase activity, acting on single donors with incorporation of molecular oxygen, incorporation of one atom of oxygen (internal monooxygenases or internal mixed function oxidases)
GO:0034040	0.000199	8.521040	0.646627	ATPase-coupled lipid transmembrane transporter activity
GO:0003880	0.000199	8.521040	0.693147	protein C-terminal carboxyl O-methyltransferase activity
GO:0015190	0.000199	8.521040	0.693147	L-leucine transmembrane transporter activity
GO:0046583	0.000199	8.521040	0.737599	cation efflux transmembrane transporter activity
GO:0004585	0.000199	8.521040	0.780159	ornithine carbamoyltransferase activity
GO:0004797	0.000199	8.521040	0.780159	thymidine kinase activity
GO:0051731	0.000199	8.521040	0.780159	polynucleotide 5'-hydroxyl-kinase activity
GO:0030395	0.000199	8.521040	0.820981	lactose binding
GO:0034648	0.000199	8.521040	0.820981	histone demethylase activity (H3-dimethyl-K4 specific)
GO:0051380	0.000199	8.521040	0.820981	norepinephrine binding
GO:0005502	0.000199	8.521040	0.897942	11-cis retinal binding
GO:0005503	0.000199	8.521040	0.897942	all-trans retinal binding
GO:0004354	0.000199	8.521040	0.969401	glutamate dehydrogenase (NADP+) activity
GO:0004662	0.000199	8.521040	1.036092	CAAX-protein geranylgeranyltransferase activity
GO:0070330	0.000199	8.521040	1.098612	aromatase activity
GO:0004964	0.000199	8.521040	1.157453	luteinizing hormone receptor activity
GO:0008444	0.000199	8.521040	1.185624	CDP-diacylglycerol-glycerol-3-phosphate 3-phosphatidyltransferase activity
GO:0004660	0.000199	8.521040	1.213023	protein farnesyltransferase activity
GO:0004692	0.000199	8.521040	1.213023	cGMP-dependent protein kinase activity
GO:0009044	0.000199	8.521040	1.239691	xylan 1,4-beta-xylosidase activity
GO:0016213	0.000199	8.521040	1.239691	linoleoyl-CoA desaturase activity
GO:0004485	0.000199	8.521040	1.363305	methylcrotonoyl-CoA carboxylase activity
GO:0016494	0.000199	8.521040	1.408767	C-X-C chemokine receptor activity
GO:0008449	0.000199	8.521040	1.452252	N-acetylglucosamine-6-sulfatase activity
GO:0043995	0.000199	8.521040	1.514128	histone acetyltransferase activity (H4-K5 specific)
GO:0046972	0.000199	8.521040	1.514128	histone acetyltransferase activity (H4-K16 specific)
GO:0004794	0.000199	8.521040	1.533930	L-threonine ammonia-lyase activity
GO:0034513	0.000199	8.521040	1.645156	box H/ACA snoRNA binding
GO:0019781	0.000199	8.521040	1.679642	NEDD8 activating enzyme activity
GO:0043237	0.000199	8.521040	1.679642	laminin-1 binding
GO:0008489	0.000199	8.521040	1.696449	UDP-galactose:glucosylceramide beta-1,4-galactosyltransferase activity
GO:0004615	0.000199	8.521040	1.712979	phosphomannomutase activity
GO:0005228	0.000199	8.521040	1.712979	intracellular sodium activated potassium channel activity
GO:0098821	0.000199	8.521040	1.745239	BMP receptor activity
GO:0070815	0.000199	8.521040	1.776492	peptidyl-lysine 5-dioxygenase activity
GO:0015272	0.000199	8.521040	1.806797	ATP-activated inward rectifier potassium channel activity
GO:0008108	0.000199	8.521040	1.821612	UDP-glucose:hexose-1-phosphate uridylyltransferase activity
GO:0033743	0.000199	8.521040	1.821612	peptide-methionine (R)-S-oxide reductase activity
GO:0042500	0.000199	8.521040	1.892564	aspartic endopeptidase activity, intramembrane cleaving
GO:0016663	0.000199	8.521040	1.906170	oxidoreductase activity, acting on other nitrogenous compounds as donors, oxygen as acceptor
GO:0001069	0.000199	8.521040	1.958814	regulatory region RNA binding
GO:0070728	0.000199	8.521040	1.958814	leucine binding
GO:0004338	0.000199	8.521040	1.971553	glucan exo-1,3-beta-glucosidase activity
GO:0009882	0.000199	8.521040	2.068013	blue light photoreceptor activity
GO:0016300	0.000199	8.521040	2.155982	tRNA (uracil) methyltransferase activity
GO:0004486	0.000199	8.521040	2.256065	methylenetetrahydrofolate dehydrogenase [NAD(P)+] activity
GO:0004489	0.000199	8.521040	2.256065	methylenetetrahydrofolate reductase (NAD(P)H) activity
GO:0034739	0.000199	8.521040	2.265544	histone deacetylase activity (H4-K16 specific)
GO:0042903	0.000199	8.521040	2.347037	tubulin deacetylase activity
GO:0042781	0.000199	8.521040	2.438387	3'-tRNA processing endoribonuclease activity
GO:0042799	0.000199	8.521040	2.438387	histone methyltransferase activity (H4-K20 specific)
GO:0019531	0.000199	8.521040	2.492454	oxalate transmembrane transporter activity
GO:0010283	0.000199	8.521040	2.514760	pinoresinol reductase activity
GO:0050613	0.000199	8.521040	2.514760	delta14-sterol reductase activity
GO:0001872	0.000199	8.521040	2.522086	(1->3)-beta-D-glucan binding
GO:0008976	0.000199	8.521040	2.571918	polyphosphate kinase activity
GO:0047635	0.000199	8.521040	2.737903	alanine-oxo-acid transaminase activity
GO:0004161	0.000199	8.521040	2.766891	dimethylallyltranstransferase activity
GO:0004373	0.000199	8.521040	2.766891	glycogen (starch) synthase activity
GO:0015347	0.000199	8.521040	2.838547	sodium-independent organic anion transmembrane transporter activity
GO:0004813	0.000199	8.521040	2.869963	alanine-tRNA ligase activity
GO:0004815	0.000199	8.521040	2.869963	aspartate-tRNA ligase activity
GO:0004820	0.000199	8.521040	2.869963	glycine-tRNA ligase activity
GO:0004824	0.000199	8.521040	2.869963	lysine-tRNA ligase activity
GO:0004826	0.000199	8.521040	2.869963	phenylalanine-tRNA ligase activity
GO:0004832	0.000199	8.521040	2.869963	valine-tRNA ligase activity
GO:0016913	0.000199	8.521040	3.078568	follicle-stimulating hormone activity
GO:0004059	0.000199	8.521040	3.275428	aralkylamine N-acetyltransferase activity
GO:0004468	0.000199	8.521040	3.275428	lysine N-acetyltransferase activity, acting on acetyl phosphate as donor
GO:0016652	0.000199	8.521040	3.385930	oxidoreductase activity, acting on NAD(P)H, NAD(P) as acceptor
GO:0019002	0.000199	8.521040	3.568251	GMP binding
GO:0097216	0.000199	8.521040	3.568251	guanosine tetraphosphate binding
GO:0004122	0.000199	8.521040	3.733331	cystathionine beta-synthase activity
GO:0004655	0.000199	8.521040	3.733331	porphobilinogen synthase activity
GO:0008446	0.000199	8.521040	3.733331	GDP-mannose 4,6-dehydratase activity
GO:0047929	0.000199	8.521040	3.733331	gluconate dehydratase activity
GO:0003847	0.000199	8.521040	3.899214	1-alkyl-2-acetylglycerophosphocholine esterase activity
GO:0015349	0.000199	8.521040	4.062009	thyroid hormone transmembrane transporter activity
GO:0016815	0.000199	8.521040	4.098880	hydrolase activity, acting on carbon-nitrogen (but not peptide) bonds, in nitriles
GO:0070704	0.000199	8.521040	4.211454	sterol desaturase activity
GO:0004348	0.000199	8.521040	4.243287	glucosylceramidase activity
GO:0004616	0.000199	8.521040	4.245894	phosphogluconate dehydrogenase (decarboxylating) activity
GO:0004764	0.000199	8.521040	4.245894	shikimate 3-dehydrogenase (NADP+) activity
GO:0042084	0.000199	8.521040	4.297904	5-methyltetrahydrofolate-dependent methyltransferase activity
GO:0016415	0.000199	8.521040	4.517828	octanoyltransferase activity
GO:0035368	0.000199	8.521040	4.654826	selenocysteine insertion sequence binding
GO:0030911	0.000199	8.521040	4.746512	TPR domain binding
GO:0004711	0.000199	8.521040	4.821747	ribosomal protein S6 kinase activity
GO:0019992	0.000199	8.521040	4.849185	diacylglycerol binding
GO:0030527	0.000199	8.521040	4.869630	structural constituent of chromatin
GO:0032795	0.000199	8.521040	5.397340	heterotrimeric G-protein binding
GO:0005030	0.000199	8.521040	5.470742	neurotrophin receptor activity
GO:0004765	0.000199	8.521040	5.485551	shikimate kinase activity
GO:0002151	0.000199	8.521040	5.516357	G-quadruplex RNA binding
GO:0070336	0.000199	8.521040	6.299951	flap-structured DNA binding
GO:0030492	0.000199	8.521040	7.824301	hemoglobin binding
GO:0045504	0.000199	8.521040	7.824301	dynein heavy chain binding
GO:0071253	0.000199	8.521040	7.824301	connexin binding
GO:1990430	0.000199	8.521040	7.824301	extracellular matrix protein binding
GO:0001849	0.000181	8.616351	0.000000	complement component C1q complex binding
GO:0003876	0.000181	8.616351	0.000000	AMP deaminase activity
GO:0004482	0.000181	8.616351	0.000000	mRNA (guanine-N7-)-methyltransferase activity
GO:0004965	0.000181	8.616351	0.000000	G protein-coupled GABA receptor activity
GO:0008506	0.000181	8.616351	0.000000	sucrose:proton symporter activity
GO:0009383	0.000181	8.616351	0.000000	rRNA (cytosine-C5-)-methyltransferase activity
GO:0016979	0.000181	8.616351	0.000000	lipoate-protein ligase activity
GO:0019869	0.000181	8.616351	0.000000	chloride channel inhibitor activity
GO:0022841	0.000181	8.616351	0.000000	potassium ion leak channel activity
GO:0043812	0.000181	8.616351	0.000000	phosphatidylinositol-4-phosphate phosphatase activity
GO:0043813	0.000181	8.616351	0.000000	phosphatidylinositol-3,5-bisphosphate 5-phosphatase activity
GO:0090554	0.000181	8.616351	0.000000	phosphatidylcholine floppase activity
GO:0008475	0.000181	8.616351	0.095310	procollagen-lysine 5-dioxygenase activity
GO:0008746	0.000181	8.616351	0.095310	NAD(P)+ transhydrogenase activity
GO:0009669	0.000181	8.616351	0.095310	sucrose:cation symporter activity
GO:0032038	0.000181	8.616351	0.095310	myosin II heavy chain binding
GO:0003870	0.000181	8.616351	0.182322	5-aminolevulinate synthase activity
GO:0000404	0.000181	8.616351	0.262364	heteroduplex DNA loop binding
GO:0004475	0.000181	8.616351	0.262364	mannose-1-phosphate guanylyltransferase activity
GO:0004579	0.000181	8.616351	0.262364	dolichyl-diphosphooligosaccharide-protein glycotransferase activity
GO:0008263	0.000181	8.616351	0.262364	pyrimidine-specific mismatch base pair DNA N-glycosylase activity
GO:0045436	0.000181	8.616351	0.262364	lycopene beta cyclase activity
GO:0003990	0.000181	8.616351	0.336472	acetylcholinesterase activity
GO:0015210	0.000181	8.616351	0.336472	uracil transmembrane transporter activity
GO:0016429	0.000181	8.616351	0.336472	tRNA (adenine-N1-)-methyltransferase activity
GO:0004368	0.000181	8.616351	0.405465	glycerol-3-phosphate dehydrogenase (quinone) activity
GO:0004859	0.000181	8.616351	0.405465	phospholipase inhibitor activity
GO:0047724	0.000181	8.616351	0.470004	inosine nucleosidase activity
GO:0003865	0.000181	8.616351	0.530628	3-oxo-5-alpha-steroid 4-dehydrogenase activity
GO:0070259	0.000181	8.616351	0.530628	tyrosyl-DNA phosphodiesterase activity
GO:1990254	0.000181	8.616351	0.587787	keratin filament binding
GO:0001729	0.000181	8.616351	0.741937	ceramide kinase activity
GO:0004719	0.000181	8.616351	0.741937	protein-L-isoaspartate (D-aspartate) O-methyltransferase activity
GO:0009009	0.000181	8.616351	0.832909	site-specific recombinase activity
GO:0036313	0.000181	8.616351	0.832909	phosphatidylinositol 3-kinase catalytic subunit binding
GO:0038046	0.000181	8.616351	0.832909	enkephalin receptor activity
GO:0004937	0.000181	8.616351	0.875469	alpha1-adrenergic receptor activity
GO:0005460	0.000181	8.616351	0.916291	UDP-glucose transmembrane transporter activity
GO:0004939	0.000181	8.616351	1.193922	beta-adrenergic receptor activity
GO:0005550	0.000181	8.616351	1.193922	pheromone binding
GO:0004056	0.000181	8.616351	1.223775	argininosuccinate lyase activity
GO:0003881	0.000181	8.616351	1.280934	CDP-diacylglycerol-inositol 3-phosphatidyltransferase activity
GO:0016019	0.000181	8.616351	1.280934	peptidoglycan immune receptor activity
GO:0016871	0.000181	8.616351	1.280934	cycloartenol synthase activity
GO:0015192	0.000181	8.616351	1.308333	L-phenylalanine transmembrane transporter activity
GO:0015196	0.000181	8.616351	1.308333	L-tryptophan transmembrane transporter activity
GO:0071077	0.000181	8.616351	1.335001	adenosine 3',5'-bisphosphate transmembrane transporter activity
GO:0005094	0.000181	8.616351	1.386294	Rho GDP-dissociation inhibitor activity
GO:0015214	0.000181	8.616351	1.504077	pyrimidine nucleoside transmembrane transporter activity
GO:0005132	0.000181	8.616351	1.547563	type I interferon receptor binding
GO:0008441	0.000181	8.616351	1.547563	3'(2'),5'-bisphosphate nucleotidase activity
GO:0015129	0.000181	8.616351	1.547563	lactate transmembrane transporter activity
GO:0043996	0.000181	8.616351	1.609438	histone acetyltransferase activity (H4-K8 specific)
GO:0035243	0.000181	8.616351	1.629241	protein-arginine omega-N symmetric methyltransferase activity
GO:0050656	0.000181	8.616351	1.740466	3'-phosphoadenosine 5'-phosphosulfate binding
GO:0097163	0.000181	8.616351	1.840550	sulfur carrier activity
GO:0004151	0.000181	8.616351	1.871802	dihydroorotase activity
GO:0004971	0.000181	8.616351	1.871802	AMPA glutamate receptor activity
GO:0047291	0.000181	8.616351	1.871802	lactosylceramide alpha-2,3-sialyltransferase activity
GO:0004421	0.000181	8.616351	1.960095	hydroxymethylglutaryl-CoA synthase activity
GO:0004474	0.000181	8.616351	1.960095	malate synthase activity
GO:0019862	0.000181	8.616351	1.974081	IgA binding
GO:0019966	0.000181	8.616351	2.001480	interleukin-1 binding
GO:0035727	0.000181	8.616351	2.028148	lysophosphatidic acid binding
GO:0008761	0.000181	8.616351	2.079442	UDP-N-acetylglucosamine 2-epimerase activity
GO:0047006	0.000181	8.616351	2.140066	17-alpha,20-alpha-dihydroxypregn-4-en-3-one dehydrogenase activity
GO:0047023	0.000181	8.616351	2.140066	androsterone dehydrogenase activity
GO:0047044	0.000181	8.616351	2.140066	androstan-3-alpha,17-beta-diol dehydrogenase activity
GO:0004793	0.000181	8.616351	2.151762	threonine aldolase activity
GO:0031956	0.000181	8.616351	2.186051	medium-chain fatty acid-CoA ligase activity
GO:0005138	0.000181	8.616351	2.208274	interleukin-6 receptor binding
GO:0004123	0.000181	8.616351	2.240710	cystathionine gamma-lyase activity
GO:0004464	0.000181	8.616351	2.240710	leukotriene-C4 synthase activity
GO:0016847	0.000181	8.616351	2.240710	1-aminocyclopropane-1-carboxylate synthase activity
GO:0080146	0.000181	8.616351	2.240710	L-cysteine desulfhydrase activity
GO:0047623	0.000181	8.616351	2.272126	adenosine-phosphate deaminase activity
GO:0047844	0.000181	8.616351	2.272126	deoxycytidine deaminase activity
GO:1990714	0.000181	8.616351	2.433613	hydroxyproline O-galactosyltransferase activity
GO:0000033	0.000181	8.616351	2.509599	alpha-1,3-mannosyltransferase activity
GO:0003834	0.000181	8.616351	2.624669	beta-carotene 15,15'-monooxygenase activity
GO:0050218	0.000181	8.616351	2.631889	propionate-CoA ligase activity
GO:0004099	0.000181	8.616351	2.687847	chitin deacetylase activity
GO:0004335	0.000181	8.616351	2.694627	galactokinase activity
GO:0004989	0.000181	8.616351	2.727853	octopamine receptor activity
GO:0008120	0.000181	8.616351	2.862201	ceramide glucosyltransferase activity
GO:0019182	0.000181	8.616351	2.923162	histamine-gated chloride channel activity
GO:0004816	0.000181	8.616351	2.965273	asparagine-tRNA ligase activity
GO:0004875	0.000181	8.616351	3.010621	complement receptor activity
GO:1903924	0.000181	8.616351	3.010621	estradiol binding
GO:0017018	0.000181	8.616351	3.015535	myosin phosphatase activity
GO:0017024	0.000181	8.616351	3.058707	myosin I binding
GO:0004633	0.000181	8.616351	3.148453	phosphopantothenoylcysteine decarboxylase activity
GO:0050062	0.000181	8.616351	3.194583	long-chain-fatty-acyl-CoA reductase activity
GO:1903136	0.000181	8.616351	3.198673	cuprous ion binding
GO:0050497	0.000181	8.616351	3.242592	transferase activity, transferring alkylthio groups
GO:0038085	0.000181	8.616351	3.277145	vascular endothelial growth factor binding
GO:0047066	0.000181	8.616351	3.277145	phospholipid-hydroperoxide glutathione peroxidase activity
GO:0008241	0.000181	8.616351	3.339322	peptidyl-dipeptidase activity
GO:0034069	0.000181	8.616351	3.370738	aminoglycoside N-acetyltransferase activity
GO:0008503	0.000181	8.616351	3.427515	benzodiazepine receptor activity
GO:0004982	0.000181	8.616351	3.505557	N-formyl peptide receptor activity
GO:0005000	0.000181	8.616351	3.505557	vasopressin receptor activity
GO:0004046	0.000181	8.616351	3.627004	aminoacylase activity
GO:0005127	0.000181	8.616351	3.772761	ciliary neurotrophic factor receptor binding
GO:0003855	0.000181	8.616351	3.828641	3-dehydroquinate dehydratase activity
GO:0010487	0.000181	8.616351	3.966511	thermospermine synthase activity
GO:0017057	0.000181	8.616351	3.994524	6-phosphogluconolactonase activity
GO:0046555	0.000181	8.616351	3.994524	acetylxylan esterase activity
GO:0046996	0.000181	8.616351	4.306764	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with NAD(P)H as one donor, and the other dehydrogenated
GO:0030267	0.000181	8.616351	4.341205	glyoxylate reductase (NADP) activity
GO:0008907	0.000181	8.616351	4.455509	integrase activity
GO:0001609	0.000181	8.616351	4.615121	G protein-coupled adenosine receptor activity
GO:0097603	0.000181	8.616351	4.621044	temperature-gated ion channel activity
GO:0008962	0.000181	8.616351	4.649187	phosphatidylglycerophosphatase activity
GO:1990188	0.000181	8.616351	4.806477	euchromatin binding
GO:0032093	0.000181	8.616351	4.841822	SAM domain binding
GO:0070976	0.000181	8.616351	4.841822	TIR domain binding
GO:0071532	0.000181	8.616351	4.841822	ankyrin repeat binding
GO:0008349	0.000181	8.616351	4.917057	MAP kinase kinase kinase kinase activity
GO:0097493	0.000181	8.616351	4.964940	structural molecule activity conferring elasticity
GO:0004309	0.000181	8.616351	5.199601	exopolyphosphatase activity
GO:0036033	0.000181	8.616351	5.492650	mediator complex binding
GO:1905394	0.000181	8.616351	5.492650	retromer complex binding
GO:0048495	0.000181	8.616351	5.683240	Roundabout binding
GO:0097100	0.000181	8.616351	5.900445	supercoiled DNA binding
GO:0016695	0.000181	8.616351	6.035721	oxidoreductase activity, acting on hydrogen as donor
GO:0045027	0.000181	8.616351	6.395262	DNA end binding
GO:0030984	0.000181	8.616351	7.919611	kininogen binding
GO:0051959	0.000181	8.616351	7.919611	dynein light intermediate chain binding
GO:0061770	0.000181	8.616351	7.919611	translation elongation factor binding
GO:0098770	0.000181	8.616351	7.919611	FBXO family protein binding
GO:0004314	0.000163	8.721711	0.000000	[acyl-carrier-protein] S-malonyltransferase activity
GO:0004375	0.000163	8.721711	0.000000	glycine dehydrogenase (decarboxylating) activity
GO:0004720	0.000163	8.721711	0.000000	protein-lysine 6-oxidase activity
GO:0004838	0.000163	8.721711	0.000000	L-tyrosine:2-oxoglutarate aminotransferase activity
GO:0005412	0.000163	8.721711	0.000000	glucose:sodium symporter activity
GO:0005499	0.000163	8.721711	0.000000	vitamin D binding
GO:0008311	0.000163	8.721711	0.000000	double-stranded DNA 3'-5' exodeoxyribonuclease activity
GO:0008476	0.000163	8.721711	0.000000	protein-tyrosine sulfotransferase activity
GO:0008893	0.000163	8.721711	0.000000	guanosine-3',5'-bis(diphosphate) 3'-diphosphatase activity
GO:0008900	0.000163	8.721711	0.000000	potassium:proton exchanging ATPase activity
GO:0009020	0.000163	8.721711	0.000000	tRNA (guanosine-2'-O-)-methyltransferase activity
GO:0009977	0.000163	8.721711	0.000000	proton motive force dependent protein transmembrane transporter activity
GO:0015143	0.000163	8.721711	0.000000	urate transmembrane transporter activity
GO:0015229	0.000163	8.721711	0.000000	L-ascorbic acid transmembrane transporter activity
GO:0015350	0.000163	8.721711	0.000000	methotrexate transmembrane transporter activity
GO:0015410	0.000163	8.721711	0.000000	manganese transmembrane transporter activity, phosphorylative mechanism
GO:0015418	0.000163	8.721711	0.000000	ATPase-coupled quaternary ammonium compound transmembrane transporting activity
GO:0016297	0.000163	8.721711	0.000000	acyl-[acyl-carrier-protein] hydrolase activity
GO:0016419	0.000163	8.721711	0.000000	S-malonyltransferase activity
GO:0017150	0.000163	8.721711	0.000000	tRNA dihydrouridine synthase activity
GO:0030269	0.000163	8.721711	0.000000	tetrahydromethanopterin S-methyltransferase activity
GO:0033284	0.000163	8.721711	0.000000	ATPase-coupled carboxylic acid transmembrane transporter activity
GO:0035594	0.000163	8.721711	0.000000	ganglioside binding
GO:0051434	0.000163	8.721711	0.000000	BH3 domain binding
GO:0090422	0.000163	8.721711	0.000000	thiamine pyrophosphate transmembrane transporter activity
GO:0005369	0.000163	8.721711	0.105361	taurine:sodium symporter activity
GO:0008398	0.000163	8.721711	0.105361	sterol 14-demethylase activity
GO:0009679	0.000163	8.721711	0.105361	hexose:proton symporter activity
GO:0015213	0.000163	8.721711	0.105361	uridine transmembrane transporter activity
GO:0016418	0.000163	8.721711	0.105361	S-acetyltransferase activity
GO:0032558	0.000163	8.721711	0.105361	adenyl deoxyribonucleotide binding
GO:0120016	0.000163	8.721711	0.105361	sphingolipid transfer activity
GO:0004846	0.000163	8.721711	0.200671	urate oxidase activity
GO:0061507	0.000163	8.721711	0.200671	cyclic-GMP-AMP binding
GO:0004001	0.000163	8.721711	0.287682	adenosine kinase activity
GO:0004360	0.000163	8.721711	0.287682	glutamine-fructose-6-phosphate transaminase (isomerizing) activity
GO:0015265	0.000163	8.721711	0.287682	urea channel activity
GO:0030297	0.000163	8.721711	0.287682	transmembrane receptor protein tyrosine kinase activator activity
GO:0031702	0.000163	8.721711	0.287682	type 1 angiotensin receptor binding
GO:0004081	0.000163	8.721711	0.367725	bis(5'-nucleosyl)-tetraphosphatase (asymmetrical) activity
GO:0004777	0.000163	8.721711	0.367725	succinate-semialdehyde dehydrogenase (NAD+) activity
GO:0032407	0.000163	8.721711	0.367725	MutSalpha complex binding
GO:1902282	0.000163	8.721711	0.367725	voltage-gated potassium channel activity involved in ventricular cardiac muscle cell action potential repolarization
GO:0004504	0.000163	8.721711	0.441833	peptidylglycine monooxygenase activity
GO:0031781	0.000163	8.721711	0.441833	type 3 melanocortin receptor binding
GO:0033283	0.000163	8.721711	0.441833	ATPase-coupled organic acid transmembrane transporter activity
GO:0051753	0.000163	8.721711	0.441833	mannan synthase activity
GO:0070996	0.000163	8.721711	0.441833	type 1 melanocortin receptor binding
GO:0090555	0.000163	8.721711	0.441833	phosphatidylethanolamine flippase activity
GO:0004651	0.000163	8.721711	0.510826	polynucleotide 5'-phosphatase activity
GO:0004854	0.000163	8.721711	0.510826	xanthine dehydrogenase activity
GO:0005458	0.000163	8.721711	0.510826	GDP-mannose transmembrane transporter activity
GO:0031802	0.000163	8.721711	0.575364	type 5 metabotropic glutamate receptor binding
GO:0047035	0.000163	8.721711	0.575364	testosterone dehydrogenase (NAD+) activity
GO:1990757	0.000163	8.721711	0.635989	ubiquitin ligase activator activity
GO:0016971	0.000163	8.721711	0.693147	flavin-linked sulfhydryl oxidase activity
GO:0005167	0.000163	8.721711	0.747214	neurotrophin TRK receptor binding
GO:0017083	0.000163	8.721711	0.747214	4-galactosyl-N-acetylglucosaminide 3-alpha-L-fucosyltransferase activity
GO:0052629	0.000163	8.721711	0.798508	phosphatidylinositol-3,5-bisphosphate 3-phosphatase activity
GO:0005330	0.000163	8.721711	0.847298	dopamine:sodium symporter activity
GO:0005335	0.000163	8.721711	0.847298	serotonin:sodium symporter activity
GO:0046537	0.000163	8.721711	0.893818	2,3-bisphosphoglycerate-independent phosphoglycerate mutase activity
GO:0004138	0.000163	8.721711	0.980829	deoxyguanosine kinase activity
GO:0005004	0.000163	8.721711	1.021651	GPI-linked ephrin receptor activity
GO:0034647	0.000163	8.721711	1.021651	histone demethylase activity (H3-trimethyl-K4 specific)
GO:0003827	0.000163	8.721711	1.098612	alpha-1,3-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0004591	0.000163	8.721711	1.098612	oxoglutarate dehydrogenase (succinyl-transferring) activity
GO:1904768	0.000163	8.721711	1.098612	all-trans-retinol binding
GO:0048101	0.000163	8.721711	1.170071	calcium- and calmodulin-regulated 3',5'-cyclic-GMP phosphodiesterase activity
GO:0052666	0.000163	8.721711	1.170071	tRNA (cytosine-2'-O-)-methyltransferase activity
GO:0004510	0.000163	8.721711	1.203973	tryptophan 5-monooxygenase activity
GO:0004613	0.000163	8.721711	1.236763	phosphoenolpyruvate carboxykinase (GTP) activity
GO:0044374	0.000163	8.721711	1.236763	sequence-specific DNA binding, bending
GO:0070697	0.000163	8.721711	1.236763	activin receptor binding
GO:0071972	0.000163	8.721711	1.236763	peptidoglycan L,D-transpeptidase activity
GO:0001734	0.000163	8.721711	1.329136	mRNA (N6-adenosine)-methyltransferase activity
GO:0003721	0.000163	8.721711	1.329136	telomerase RNA reverse transcriptase activity
GO:0003973	0.000163	8.721711	1.358123	(S)-2-hydroxy-acid oxidase activity
GO:0004996	0.000163	8.721711	1.358123	thyroid-stimulating hormone receptor activity
GO:0008784	0.000163	8.721711	1.358123	alanine racemase activity
GO:0047490	0.000163	8.721711	1.413693	pectin lyase activity
GO:0004531	0.000163	8.721711	1.491655	deoxyribonuclease II activity
GO:0004801	0.000163	8.721711	1.540445	sedoheptulose-7-phosphate:D-glyceraldehyde-3-phosphate glyceronetransferase activity
GO:0001093	0.000163	8.721711	1.631417	TFIIB-class transcription factor binding
GO:0030523	0.000163	8.721711	1.631417	dihydrolipoamide S-acyltransferase activity
GO:0043262	0.000163	8.721711	1.652923	adenosine-diphosphatase activity
GO:0004045	0.000163	8.721711	1.694596	aminoacyl-tRNA hydrolase activity
GO:1903763	0.000163	8.721711	1.714798	gap junction channel activity involved in cell communication by electrical coupling
GO:0004452	0.000163	8.721711	1.734601	isopentenyl-diphosphate delta-isomerase activity
GO:0004769	0.000163	8.721711	1.734601	steroid delta-isomerase activity
GO:0008721	0.000163	8.721711	1.734601	D-serine ammonia-lyase activity
GO:0004706	0.000163	8.721711	1.791759	JUN kinase kinase kinase activity
GO:0023029	0.000163	8.721711	1.845827	MHC class Ib protein binding
GO:0003831	0.000163	8.721711	1.897120	beta-N-acetylglucosaminylglycopeptide beta-1,4-galactosyltransferase activity
GO:0043426	0.000163	8.721711	1.913649	MRF binding
GO:0071917	0.000163	8.721711	1.929910	triose-phosphate transmembrane transporter activity
GO:0003828	0.000163	8.721711	1.977163	alpha-N-acetylneuraminate alpha-2,8-sialyltransferase activity
GO:0003836	0.000163	8.721711	1.977163	beta-galactoside (CMP) alpha-2,3-sialyltransferase activity
GO:0086006	0.000163	8.721711	1.992430	voltage-gated sodium channel activity involved in cardiac muscle cell action potential
GO:0003846	0.000163	8.721711	2.022283	2-acylglycerol O-acyltransferase activity
GO:0019153	0.000163	8.721711	2.022283	protein-disulfide reductase (glutathione) activity
GO:1990538	0.000163	8.721711	2.022283	xylan O-acetyltransferase activity
GO:0003986	0.000163	8.721711	2.079442	acetyl-CoA hydrolase activity
GO:0004733	0.000163	8.721711	2.106841	pyridoxamine-phosphate oxidase activity
GO:0019979	0.000163	8.721711	2.106841	interleukin-4 binding
GO:0004798	0.000163	8.721711	2.120264	thymidylate kinase activity
GO:0046421	0.000163	8.721711	2.120264	methylisocitrate lyase activity
GO:0080079	0.000163	8.721711	2.172223	cellobiose glucosidase activity
GO:0030943	0.000163	8.721711	2.184802	mitochondrion targeting sequence binding
GO:0017096	0.000163	8.721711	2.221616	acetylserotonin O-methyltransferase activity
GO:0005134	0.000163	8.721711	2.313635	interleukin-2 receptor binding
GO:0003960	0.000163	8.721711	2.427748	NADPH:quinone reductase activity
GO:0042602	0.000163	8.721711	2.456736	riboflavin reductase (NADPH) activity
GO:0097644	0.000163	8.721711	2.484907	calcitonin family binding
GO:0005452	0.000163	8.721711	2.623057	inorganic anion exchanger activity
GO:0004326	0.000163	8.721711	2.631089	tetrahydrofolylpolyglutamate synthase activity
GO:0004363	0.000163	8.721711	2.631089	glutathione synthase activity
GO:0004998	0.000163	8.721711	2.715430	transferrin receptor activity
GO:0010284	0.000163	8.721711	2.715430	lariciresinol reductase activity
GO:0019166	0.000163	8.721711	2.715430	trans-2-enoyl-CoA reductase (NADPH) activity
GO:0000286	0.000163	8.721711	2.722756	alanine dehydrogenase activity
GO:0015930	0.000163	8.721711	2.722756	glutamate synthase activity
GO:0016642	0.000163	8.721711	2.722756	oxidoreductase activity, acting on the CH-NH2 group of donors, disulfide as acceptor
GO:2001069	0.000163	8.721711	2.722756	glycogen binding
GO:0050473	0.000163	8.721711	2.730029	arachidonate 15-lipoxygenase activity
GO:0004515	0.000163	8.721711	2.786382	nicotinate-nucleotide adenylyltransferase activity
GO:0022850	0.000163	8.721711	2.826656	serotonin-gated cation-selective channel activity
GO:0034481	0.000163	8.721711	2.859021	chondroitin sulfotransferase activity
GO:0045543	0.000163	8.721711	2.871680	gibberellin 2-beta-dioxygenase activity
GO:0008793	0.000163	8.721711	2.938574	aromatic-amino-acid:2-oxoglutarate aminotransferase activity
GO:0070547	0.000163	8.721711	2.938574	L-tyrosine aminotransferase activity
GO:0080046	0.000163	8.721711	2.967561	quercetin 4'-O-glucosyltransferase activity
GO:0046997	0.000163	8.721711	3.006782	oxidoreductase activity, acting on the CH-NH group of donors, flavin as acceptor
GO:0004814	0.000163	8.721711	3.070634	arginine-tRNA ligase activity
GO:0004818	0.000163	8.721711	3.070634	glutamate-tRNA ligase activity
GO:0004822	0.000163	8.721711	3.070634	isoleucine-tRNA ligase activity
GO:0036121	0.000163	8.721711	3.130652	double-stranded DNA helicase activity
GO:0019961	0.000163	8.721711	3.154634	interferon binding
GO:0043120	0.000163	8.721711	3.154634	tumor necrosis factor binding
GO:0004502	0.000163	8.721711	3.196403	kynurenine 3-monooxygenase activity
GO:0004667	0.000163	8.721711	3.205453	prostaglandin-D synthase activity
GO:0004850	0.000163	8.721711	3.232121	uridine phosphorylase activity
GO:0004837	0.000163	8.721711	3.253814	tyrosine decarboxylase activity
GO:0048040	0.000163	8.721711	3.253814	UDP-glucuronate decarboxylase activity
GO:0047196	0.000163	8.721711	3.266607	long-chain-alcohol O-fatty-acyltransferase activity
GO:0016608	0.000163	8.721711	3.279239	growth hormone-releasing hormone activity
GO:0008774	0.000163	8.721711	3.299944	acetaldehyde dehydrogenase (acetylating) activity
GO:1903135	0.000163	8.721711	3.304034	cupric ion binding
GO:0140031	0.000163	8.721711	3.371120	phosphorylation-dependent protein binding
GO:0034701	0.000163	8.721711	3.444682	tripeptidase activity
GO:0004343	0.000163	8.721711	3.476099	glucosamine 6-phosphate N-acetyltransferase activity
GO:0004087	0.000163	8.721711	3.496508	carbamoyl-phosphate synthase (ammonia) activity
GO:0016166	0.000163	8.721711	3.513202	phytoene dehydrogenase activity
GO:0052738	0.000163	8.721711	3.604894	oxidoreductase activity, acting on the aldehyde or oxo group of donors, with a quinone or similar compound as acceptor
GO:0004962	0.000163	8.721711	3.610918	endothelin receptor activity
GO:0000224	0.000163	8.721711	3.732365	peptide-N4-(N-acetyl-beta-glucosaminyl)asparagine amidase activity
GO:0004061	0.000163	8.721711	3.732365	arylformamidase activity
GO:0009039	0.000163	8.721711	3.732365	urease activity
GO:1901702	0.000163	8.721711	3.823799	salt transmembrane transporter activity
GO:0047179	0.000163	8.721711	3.835862	platelet-activating factor acetyltransferase activity
GO:0008389	0.000163	8.721711	3.857215	coumarin 7-hydroxylase activity
GO:0005133	0.000163	8.721711	3.878121	interferon-gamma receptor binding
GO:0004852	0.000163	8.721711	3.934002	uroporphyrinogen-III synthase activity
GO:0031685	0.000163	8.721711	4.017384	adenosine receptor binding
GO:0031769	0.000163	8.721711	4.017384	glucagon receptor binding
GO:0009824	0.000163	8.721711	4.071872	AMP dimethylallyltransferase activity
GO:0050501	0.000163	8.721711	4.094345	hyaluronan synthase activity
GO:0050253	0.000163	8.721711	4.099885	retinyl-palmitate esterase activity
GO:0050525	0.000163	8.721711	4.099885	cutinase activity
GO:0080030	0.000163	8.721711	4.099885	methyl indole-3-acetate esterase activity
GO:0004666	0.000163	8.721711	4.412125	prostaglandin-endoperoxide synthase activity
GO:0042284	0.000163	8.721711	4.412125	sphingolipid delta-4 desaturase activity
GO:0000253	0.000163	8.721711	4.446565	3-keto sterol reductase activity
GO:0003862	0.000163	8.721711	4.446565	3-isopropylmalate dehydrogenase activity
GO:0004617	0.000163	8.721711	4.446565	phosphoglycerate dehydrogenase activity
GO:0042086	0.000163	8.721711	4.498574	5-methyl-5,6,7,8-tetrahydromethanopterin-dependent methyltransferase activity
GO:0004803	0.000163	8.721711	4.560870	transposase activity
GO:0031320	0.000163	8.721711	4.574711	hexitol dehydrogenase activity
GO:0047545	0.000163	8.721711	4.574711	2-hydroxyglutarate dehydrogenase activity
GO:0010856	0.000163	8.721711	4.576999	adenylate cyclase activator activity
GO:0016176	0.000163	8.721711	4.576999	superoxide-generating NADPH oxidase activator activity
GO:0043750	0.000163	8.721711	4.645459	phosphatidylinositol alpha-mannosyltransferase activity
GO:0016503	0.000163	8.721711	4.720481	pheromone receptor activity
GO:0043136	0.000163	8.721711	4.754548	glycerol-3-phosphatase activity
GO:0050693	0.000163	8.721711	4.947183	LBD domain binding
GO:0071987	0.000163	8.721711	4.947183	WD40-repeat domain binding
GO:0004703	0.000163	8.721711	5.022417	G protein-coupled receptor kinase activity
GO:0016794	0.000163	8.721711	5.031889	diphosphoric monoester hydrolase activity
GO:0070012	0.000163	8.721711	5.200337	oligopeptidase activity
GO:0005519	0.000163	8.721711	5.367532	cytoskeletal regulatory protein binding
GO:0030172	0.000163	8.721711	5.367532	troponin C binding
GO:0038064	0.000163	8.721711	5.422990	collagen receptor activity
GO:0002054	0.000163	8.721711	5.514772	nucleobase binding
GO:0035650	0.000163	8.721711	5.598010	AP-1 adaptor complex binding
GO:0008036	0.000163	8.721711	5.671412	diuretic hormone receptor activity
GO:0005124	0.000163	8.721711	5.788600	scavenger receptor binding
GO:0016781	0.000163	8.721711	6.064302	phosphotransferase activity, paired acceptors
GO:0035473	0.000163	8.721711	6.116137	lipase binding
GO:0044547	0.000163	8.721711	6.116137	DNA topoisomerase binding
GO:0030611	0.000163	8.721711	6.141081	arsenate reductase activity
GO:0080132	0.000163	8.721711	6.141081	fatty acid alpha-hydroxylase activity
GO:0034711	0.000163	8.721711	8.024971	inhibin binding
GO:0097108	0.000163	8.721711	8.024971	hedgehog family protein binding
GO:0001226	0.000145	8.839494	0.000000	RNA polymerase II transcription corepressor binding
GO:0004013	0.000145	8.839494	0.000000	adenosylhomocysteinase activity
GO:0004134	0.000145	8.839494	0.000000	4-alpha-glucanotransferase activity
GO:0004316	0.000145	8.839494	0.000000	3-oxoacyl-[acyl-carrier-protein] reductase (NADPH) activity
GO:0004483	0.000145	8.839494	0.000000	mRNA (nucleoside-2'-O-)-methyltransferase activity
GO:0004698	0.000145	8.839494	0.000000	calcium-dependent protein kinase C activity
GO:0004742	0.000145	8.839494	0.000000	dihydrolipoyllysine-residue acetyltransferase activity
GO:0004809	0.000145	8.839494	0.000000	tRNA (guanine-N2-)-methyltransferase activity
GO:0005277	0.000145	8.839494	0.000000	acetylcholine transmembrane transporter activity
GO:0008068	0.000145	8.839494	0.000000	extracellularly glutamate-gated chloride channel activity
GO:0008479	0.000145	8.839494	0.000000	queuine tRNA-ribosyltransferase activity
GO:0019705	0.000145	8.839494	0.000000	protein-cysteine S-myristoyltransferase activity
GO:0032564	0.000145	8.839494	0.000000	dATP binding
GO:0034603	0.000145	8.839494	0.000000	pyruvate dehydrogenase [NAD(P)+] activity
GO:0034604	0.000145	8.839494	0.000000	pyruvate dehydrogenase (NAD+) activity
GO:0035005	0.000145	8.839494	0.000000	1-phosphatidylinositol-4-phosphate 3-kinase activity
GO:0045437	0.000145	8.839494	0.000000	uridine nucleosidase activity
GO:0047627	0.000145	8.839494	0.000000	adenylylsulfatase activity
GO:0050463	0.000145	8.839494	0.000000	nitrate reductase [NAD(P)H] activity
GO:0070139	0.000145	8.839494	0.000000	SUMO-specific endopeptidase activity
GO:0070573	0.000145	8.839494	0.000000	metallodipeptidase activity
GO:0072320	0.000145	8.839494	0.000000	volume-sensitive chloride channel activity
GO:0106029	0.000145	8.839494	0.000000	tRNA pseudouridine synthase activity
GO:1990269	0.000145	8.839494	0.000000	RNA polymerase II C-terminal domain phosphoserine binding
GO:0004298	0.000145	8.839494	0.117783	threonine-type endopeptidase activity
GO:0036397	0.000145	8.839494	0.117783	formate dehydrogenase (quinone) activity
GO:0120017	0.000145	8.839494	0.117783	ceramide transfer activity
GO:0004671	0.000145	8.839494	0.223144	protein C-terminal S-isoprenylcysteine carboxyl O-methyltransferase activity
GO:0015228	0.000145	8.839494	0.223144	coenzyme A transmembrane transporter activity
GO:0017005	0.000145	8.839494	0.223144	3'-tyrosyl-DNA phosphodiesterase activity
GO:0047663	0.000145	8.839494	0.223144	aminoglycoside 6'-N-acetyltransferase activity
GO:0071633	0.000145	8.839494	0.223144	dihydroceramidase activity
GO:0034639	0.000145	8.839494	0.318454	L-amino acid efflux transmembrane transporter activity
GO:0035516	0.000145	8.839494	0.318454	oxidative DNA demethylase activity
GO:0051430	0.000145	8.839494	0.318454	corticotropin-releasing hormone receptor 1 binding
GO:0005295	0.000145	8.839494	0.405465	neutral amino acid:sodium symporter activity
GO:0008107	0.000145	8.839494	0.405465	galactoside 2-alpha-L-fucosyltransferase activity
GO:0008909	0.000145	8.839494	0.405465	isochorismate synthase activity
GO:0046978	0.000145	8.839494	0.405465	TAP1 binding
GO:0001601	0.000145	8.839494	0.485508	peptide YY receptor activity
GO:0004324	0.000145	8.839494	0.485508	ferredoxin-NADP+ reductase activity
GO:0004945	0.000145	8.839494	0.485508	angiotensin type II receptor activity
GO:0008321	0.000145	8.839494	0.485508	Ral guanyl-nucleotide exchange factor activity
GO:0031852	0.000145	8.839494	0.485508	mu-type opioid receptor binding
GO:0033134	0.000145	8.839494	0.485508	ubiquitin activating enzyme binding
GO:0016464	0.000145	8.839494	0.559616	chloroplast protein-transporting ATPase activity
GO:0035175	0.000145	8.839494	0.559616	histone kinase activity (H3-S10 specific)
GO:0042163	0.000145	8.839494	0.559616	interleukin-12 beta subunit binding
GO:0099635	0.000145	8.839494	0.559616	voltage-gated calcium channel activity involved in positive regulation of presynaptic cytosolic calcium levels
GO:0001642	0.000145	8.839494	0.628609	group III metabotropic glutamate receptor activity
GO:0005457	0.000145	8.839494	0.628609	GDP-fucose transmembrane transporter activity
GO:0046935	0.000145	8.839494	0.628609	1-phosphatidylinositol-3-kinase regulator activity
GO:0089721	0.000145	8.839494	0.628609	phosphoenolpyruvate transmembrane transporter activity
GO:0008941	0.000145	8.839494	0.693147	nitric oxide dioxygenase activity
GO:0015234	0.000145	8.839494	0.693147	thiamine transmembrane transporter activity
GO:0036468	0.000145	8.839494	0.693147	L-dopa decarboxylase activity
GO:0008932	0.000145	8.839494	0.810930	lytic endotransglycosylase activity
GO:0033862	0.000145	8.839494	0.810930	UMP kinase activity
GO:0005166	0.000145	8.839494	0.864997	neurotrophin p75 receptor binding
GO:0032138	0.000145	8.839494	0.864997	single base insertion or deletion binding
GO:0140135	0.000145	8.839494	0.864997	mechanosensitive cation channel activity
GO:0005304	0.000145	8.839494	1.011601	L-valine transmembrane transporter activity
GO:0004070	0.000145	8.839494	1.098612	aspartate carbamoyltransferase activity
GO:0004137	0.000145	8.839494	1.098612	deoxycytidine kinase activity
GO:0015344	0.000145	8.839494	1.098612	siderophore uptake transmembrane transporter activity
GO:0140439	0.000145	8.839494	1.098612	protein-cysteine S-stearoyltransferase activity
GO:0052725	0.000145	8.839494	1.139434	inositol-1,3,4-trisphosphate 6-kinase activity
GO:0005025	0.000145	8.839494	1.216395	transforming growth factor beta receptor activity, type I
GO:0044020	0.000145	8.839494	1.216395	histone methyltransferase activity (H4-R3 specific)
GO:0009007	0.000145	8.839494	1.287854	site-specific DNA-methyltransferase (adenine-specific) activity
GO:0080054	0.000145	8.839494	1.287854	low-affinity nitrate transmembrane transporter activity
GO:0004109	0.000145	8.839494	1.321756	coproporphyrinogen oxidase activity
GO:0004466	0.000145	8.839494	1.354546	long-chain-acyl-CoA dehydrogenase activity
GO:0009002	0.000145	8.839494	1.354546	serine-type D-Ala-D-Ala carboxypeptidase activity
GO:0031749	0.000145	8.839494	1.354546	D2 dopamine receptor binding
GO:0036042	0.000145	8.839494	1.386294	long-chain fatty acyl-CoA binding
GO:0070137	0.000145	8.839494	1.386294	ubiquitin-like protein-specific endopeptidase activity
GO:0019958	0.000145	8.839494	1.417066	C-X-C chemokine binding
GO:0004018	0.000145	8.839494	1.446919	N6-(1,2-dicarboxyethyl)AMP AMP-lyase (fumarate-forming) activity
GO:0030378	0.000145	8.839494	1.475907	serine racemase activity
GO:0000250	0.000145	8.839494	1.504077	lanosterol synthase activity
GO:0001875	0.000145	8.839494	1.504077	lipopolysaccharide immune receptor activity
GO:0004307	0.000145	8.839494	1.504077	ethanolaminephosphotransferase activity
GO:0042300	0.000145	8.839494	1.504077	beta-amyrin synthase activity
GO:0052851	0.000145	8.839494	1.504077	ferric-chelate reductase (NADPH) activity
GO:0005302	0.000145	8.839494	1.531476	L-tyrosine transmembrane transporter activity
GO:0008115	0.000145	8.839494	1.531476	sarcosine oxidase activity
GO:0097200	0.000145	8.839494	1.531476	cysteine-type endopeptidase activity involved in execution phase of apoptosis
GO:0043994	0.000145	8.839494	1.584120	histone acetyltransferase activity (H3-K23 specific)
GO:0051996	0.000145	8.839494	1.584120	squalene synthase activity
GO:0004642	0.000145	8.839494	1.609438	phosphoribosylformylglycinamidine synthase activity
GO:0005250	0.000145	8.839494	1.609438	A-type (transient outward) potassium channel activity
GO:0016802	0.000145	8.839494	1.609438	trialkylsulfonium hydrolase activity
GO:0031726	0.000145	8.839494	1.634131	CCR1 chemokine receptor binding
GO:0031727	0.000145	8.839494	1.634131	CCR2 chemokine receptor binding
GO:0098882	0.000145	8.839494	1.658228	structural constituent of presynaptic active zone
GO:0098634	0.000145	8.839494	1.681759	cell-matrix adhesion mediator activity
GO:0008413	0.000145	8.839494	1.727221	8-oxo-7,8-dihydroguanosine triphosphate pyrophosphatase activity
GO:0035870	0.000145	8.839494	1.727221	dITP diphosphatase activity
GO:0000285	0.000145	8.839494	1.749200	1-phosphatidylinositol-3-phosphate 5-kinase activity
GO:0016286	0.000145	8.839494	1.770706	small conductance calcium-activated potassium channel activity
GO:0048273	0.000145	8.839494	1.832581	mitogen-activated protein kinase p38 binding
GO:0004167	0.000145	8.839494	1.852384	dopachrome isomerase activity
GO:0004736	0.000145	8.839494	1.890850	pyruvate carboxylase activity
GO:0016756	0.000145	8.839494	1.945910	glutathione gamma-glutamylcysteinyltransferase activity
GO:0018271	0.000145	8.839494	1.945910	biotin-protein ligase activity
GO:0048763	0.000145	8.839494	1.945910	calcium-induced calcium release activity
GO:0034512	0.000145	8.839494	1.963610	box C/D snoRNA binding
GO:0019782	0.000145	8.839494	1.998096	ISG15 activating enzyme activity
GO:0008545	0.000145	8.839494	2.031432	JUN kinase kinase activity
GO:0015138	0.000145	8.839494	2.047693	fumarate transmembrane transporter activity
GO:0016403	0.000145	8.839494	2.063693	dimethylargininase activity
GO:0097003	0.000145	8.839494	2.094946	adipokinetic hormone receptor activity
GO:0004102	0.000145	8.839494	2.140066	choline O-acetyltransferase activity
GO:0016287	0.000145	8.839494	2.140066	glycerone-phosphate O-acyltransferase activity
GO:0062037	0.000145	8.839494	2.140066	D-loop DNA binding
GO:0101020	0.000145	8.839494	2.197225	estrogen 16-alpha-hydroxylase activity
GO:0019115	0.000145	8.839494	2.224624	benzaldehyde dehydrogenase [NAD(P)+] activity
GO:0001000	0.000145	8.839494	2.351375	bacterial-type RNA polymerase core enzyme binding
GO:0001042	0.000145	8.839494	2.351375	RNA polymerase I core binding
GO:0003845	0.000145	8.839494	2.363210	11-beta-hydroxysteroid dehydrogenase [NAD(P)] activity
GO:0008675	0.000145	8.839494	2.374906	2-dehydro-3-deoxy-phosphogluconate aldolase activity
GO:0031705	0.000145	8.839494	2.409195	bombesin receptor binding
GO:0031841	0.000145	8.839494	2.409195	neuropeptide Y receptor binding
GO:0072586	0.000145	8.839494	2.442347	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) regulator activity
GO:0004121	0.000145	8.839494	2.463853	cystathionine beta-lyase activity
GO:0009000	0.000145	8.839494	2.463853	selenocysteine lyase activity
GO:0000034	0.000145	8.839494	2.495269	adenine deaminase activity
GO:0071074	0.000145	8.839494	2.535679	eukaryotic initiation factor eIF2 binding
GO:0003842	0.000145	8.839494	2.574519	1-pyrroline-5-carboxylate dehydrogenase activity
GO:0003975	0.000145	8.839494	2.756840	UDP-N-acetylglucosamine-dolichyl-phosphate N-acetylglucosaminephosphotransferase activity
GO:0033188	0.000145	8.839494	2.756840	sphingomyelin synthase activity
GO:0050520	0.000145	8.839494	2.756840	phosphatidylcholine synthase activity
GO:0051377	0.000145	8.839494	2.756840	mannose-ethanolamine phosphotransferase activity
GO:0036401	0.000145	8.839494	2.795756	pyrokinin receptor activity
GO:0015139	0.000145	8.839494	2.810908	alpha-ketoglutarate transmembrane transporter activity
GO:0050343	0.000145	8.839494	2.833213	trans-2-enoyl-CoA reductase (NAD+) activity
GO:0005006	0.000145	8.839494	2.840539	epidermal growth factor-activated receptor activity
GO:0005017	0.000145	8.839494	2.840539	platelet-derived growth factor-activated receptor activity
GO:0004833	0.000145	8.839494	2.847812	tryptophan 2,3-dioxygenase activity
GO:0033754	0.000145	8.839494	2.847812	indoleamine 2,3-dioxygenase activity
GO:0034811	0.000145	8.839494	2.847812	benzo(a)pyrene 9,10-dioxygenase activity
GO:0034813	0.000145	8.839494	2.847812	benzo(a)pyrene 7,8-dioxygenase activity
GO:0047676	0.000145	8.839494	2.855032	arachidonate-CoA ligase activity
GO:0086007	0.000145	8.839494	2.890372	voltage-gated calcium channel activity involved in cardiac muscle cell action potential
GO:0003919	0.000145	8.839494	2.904165	FMN adenylyltransferase activity
GO:0008878	0.000145	8.839494	2.904165	glucose-1-phosphate adenylyltransferase activity
GO:0008759	0.000145	8.839494	2.910991	UDP-3-O-[3-hydroxymyristoyl] N-acetylglucosamine deacetylase activity
GO:0001537	0.000145	8.839494	2.976804	N-acetylgalactosamine 4-O-sulfotransferase activity
GO:0004304	0.000145	8.839494	2.976804	estrone sulfotransferase activity
GO:0000064	0.000145	8.839494	2.989463	L-ornithine transmembrane transporter activity
GO:0070579	0.000145	8.839494	2.989463	methylcytosine dioxygenase activity
GO:0045127	0.000145	8.839494	3.020425	N-acetylglucosamine kinase activity
GO:0004897	0.000145	8.839494	3.032546	ciliary neurotrophic factor receptor activity
GO:0004908	0.000145	8.839494	3.032546	interleukin-1 receptor activity
GO:0050135	0.000145	8.839494	3.032546	NAD(P)+ nucleosidase activity
GO:0050263	0.000145	8.839494	3.032546	ribosylpyrimidine nucleosidase activity
GO:0003992	0.000145	8.839494	3.056357	N2-acetyl-L-ornithine:2-oxoglutarate 5-aminotransferase activity
GO:0033296	0.000145	8.839494	3.056357	rhamnose binding
GO:0046820	0.000145	8.839494	3.056357	4-amino-4-deoxychorismate synthase activity
GO:0047536	0.000145	8.839494	3.056357	2-aminoadipate transaminase activity
GO:0003843	0.000145	8.839494	3.085344	1,3-beta-D-glucan synthase activity
GO:0003980	0.000145	8.839494	3.085344	UDP-glucose:glycoprotein glucosyltransferase activity
GO:0016157	0.000145	8.839494	3.085344	sucrose synthase activity
GO:0019799	0.000145	8.839494	3.085344	tubulin N-acetyltransferase activity
GO:0061860	0.000145	8.839494	3.157000	DNA clamp unloader activity
GO:0032393	0.000145	8.839494	3.233764	MHC class I receptor activity
GO:0050220	0.000145	8.839494	3.323236	prostaglandin-E synthase activity
GO:0036009	0.000145	8.839494	3.332205	protein-glutamine N-methyltransferase activity
GO:0009011	0.000145	8.839494	3.341093	starch synthase activity
GO:0004044	0.000145	8.839494	3.349904	amidophosphoribosyltransferase activity
GO:0052636	0.000145	8.839494	3.349904	arabinosyltransferase activity
GO:0004068	0.000145	8.839494	3.371597	aspartate 1-decarboxylase activity
GO:0047173	0.000145	8.839494	3.384390	phosphatidylcholine-retinol O-acyltransferase activity
GO:0010011	0.000145	8.839494	3.477387	auxin binding
GO:0038132	0.000145	8.839494	3.500288	neuregulin binding
GO:1905172	0.000145	8.839494	3.530030	RISC complex binding
GO:0003883	0.000145	8.839494	3.614291	CTP synthase activity
GO:0004329	0.000145	8.839494	3.614291	formate-tetrahydrofolate ligase activity
GO:0052890	0.000145	8.839494	3.630985	oxidoreductase activity, acting on the CH-CH group of donors, with a flavin as acceptor
GO:0070818	0.000145	8.839494	3.630985	protoporphyrinogen oxidase activity
GO:0047391	0.000145	8.839494	3.701302	alkylglycerophosphoethanolamine phosphodiesterase activity
GO:0010858	0.000145	8.839494	3.820456	calcium-dependent protein kinase regulator activity
GO:0015111	0.000145	8.839494	4.032026	iodide transmembrane transporter activity
GO:0004834	0.000145	8.839494	4.051785	tryptophan synthase activity
GO:0047769	0.000145	8.839494	4.051785	arogenate dehydratase activity
GO:0050346	0.000145	8.839494	4.051785	trans-L-3-hydroxyproline dehydratase activity
GO:0031716	0.000145	8.839494	4.135167	calcitonin receptor binding
GO:0031821	0.000145	8.839494	4.135167	G protein-coupled serotonin receptor binding
GO:0101006	0.000145	8.839494	4.147095	protein histidine phosphatase activity
GO:0004156	0.000145	8.839494	4.189655	dihydropteroate synthase activity
GO:0070643	0.000145	8.839494	4.271444	vitamin D 25-hydroxylase activity
GO:0008825	0.000145	8.839494	4.324133	cyclopropane-fatty-acyl-phospholipid synthase activity
GO:0015292	0.000145	8.839494	4.380463	uniporter activity
GO:0004566	0.000145	8.839494	4.561741	beta-glucuronidase activity
GO:0016162	0.000145	8.839494	4.561741	cellulose 1,4-beta-cellobiosidase activity
GO:0019137	0.000145	8.839494	4.561741	thioglucosidase activity
GO:0004412	0.000145	8.839494	4.564348	homoserine dehydrogenase activity
GO:0016618	0.000145	8.839494	4.564348	hydroxypyruvate reductase activity
GO:0047560	0.000145	8.839494	4.564348	3-dehydrosphinganine reductase activity
GO:0050577	0.000145	8.839494	4.564348	GDP-L-fucose synthase activity
GO:0051903	0.000145	8.839494	4.564348	S-(hydroxymethyl)glutathione dehydrogenase activity
GO:0004344	0.000145	8.839494	4.692494	glucose dehydrogenase activity
GO:0051990	0.000145	8.839494	4.692494	(R)-2-hydroxyglutarate dehydrogenase activity
GO:0044323	0.000145	8.839494	4.718499	retinoic acid-responsive element binding
GO:0004949	0.000145	8.839494	4.838264	cannabinoid receptor activity
GO:1990715	0.000145	8.839494	4.973280	mRNA CDS binding
GO:0050692	0.000145	8.839494	5.064966	DNA binding domain binding
GO:0070087	0.000145	8.839494	5.064966	chromo shadow domain binding
GO:0008384	0.000145	8.839494	5.140200	IkappaB kinase activity
GO:0019911	0.000145	8.839494	5.188084	structural constituent of myelin sheath
GO:0043273	0.000145	8.839494	5.300191	CTPase activity
GO:0070095	0.000145	8.839494	5.394763	fructose-6-phosphate binding
GO:0050355	0.000145	8.839494	5.422745	triphosphatase activity
GO:0016819	0.000145	8.839494	5.431536	hydrolase activity, acting on acid anhydrides, in sulfonyl-containing anhydrides
GO:0031014	0.000145	8.839494	5.485315	troponin T binding
GO:0031433	0.000145	8.839494	5.485315	telethonin binding
GO:0001565	0.000145	8.839494	5.789195	phorbol ester receptor activity
GO:0035299	0.000145	8.839494	5.804005	inositol pentakisphosphate 2-kinase activity
GO:0052813	0.000145	8.839494	5.804005	phosphatidylinositol bisphosphate kinase activity
GO:0034190	0.000145	8.839494	5.906383	apolipoprotein receptor binding
GO:1901375	0.000145	8.839494	6.270043	acetate ester transmembrane transporter activity
GO:0051021	0.000145	8.839494	8.142754	GDP-dissociation inhibitor binding
GO:0097655	0.000145	8.839494	8.142754	serpin family protein binding
GO:0004092	0.000127	8.973025	0.000000	carnitine O-acetyltransferase activity
GO:0004729	0.000127	8.973025	0.000000	oxygen-dependent protoporphyrinogen oxidase activity
GO:0005280	0.000127	8.973025	0.000000	amino acid:proton symporter activity
GO:0005332	0.000127	8.973025	0.000000	gamma-aminobutyric acid:sodium symporter activity
GO:0005356	0.000127	8.973025	0.000000	glucose:proton symporter activity
GO:0005415	0.000127	8.973025	0.000000	nucleoside:sodium symporter activity
GO:0008427	0.000127	8.973025	0.000000	calcium-dependent protein kinase inhibitor activity
GO:0008520	0.000127	8.973025	0.000000	L-ascorbate:sodium symporter activity
GO:0015120	0.000127	8.973025	0.000000	phosphoglycerate transmembrane transporter activity
GO:0015182	0.000127	8.973025	0.000000	L-asparagine transmembrane transporter activity
GO:0015191	0.000127	8.973025	0.000000	L-methionine transmembrane transporter activity
GO:0015225	0.000127	8.973025	0.000000	biotin transmembrane transporter activity
GO:0015333	0.000127	8.973025	0.000000	peptide:proton symporter activity
GO:0015382	0.000127	8.973025	0.000000	sodium:sulfate symporter activity
GO:0016414	0.000127	8.973025	0.000000	O-octanoyltransferase activity
GO:0018479	0.000127	8.973025	0.000000	benzaldehyde dehydrogenase (NAD+) activity
GO:0022883	0.000127	8.973025	0.000000	zinc efflux transmembrane transporter activity
GO:0030023	0.000127	8.973025	0.000000	extracellular matrix constituent conferring elasticity
GO:0030158	0.000127	8.973025	0.000000	protein xylosyltransferase activity
GO:0031459	0.000127	8.973025	0.000000	ATPase-coupled glycine betaine transporter activity
GO:0045148	0.000127	8.973025	0.000000	tripeptide aminopeptidase activity
GO:0045181	0.000127	8.973025	0.000000	glutamate synthase activity, NAD(P)H as acceptor
GO:0047057	0.000127	8.973025	0.000000	vitamin-K-epoxide reductase (warfarin-sensitive) activity
GO:0050567	0.000127	8.973025	0.000000	glutaminyl-tRNA synthase (glutamine-hydrolyzing) activity
GO:0061656	0.000127	8.973025	0.000000	SUMO conjugating enzyme activity
GO:0080122	0.000127	8.973025	0.000000	AMP transmembrane transporter activity
GO:1905576	0.000127	8.973025	0.000000	ganglioside GT1b binding
GO:0015319	0.000127	8.973025	0.133531	sodium:inorganic phosphate symporter activity
GO:0035100	0.000127	8.973025	0.133531	ecdysone binding
GO:0047936	0.000127	8.973025	0.133531	glucose 1-dehydrogenase [NAD(P)] activity
GO:0061784	0.000127	8.973025	0.133531	peptidoglycan N-acetylglucosaminidase activity
GO:0002060	0.000127	8.973025	0.251314	purine nucleobase binding
GO:0005168	0.000127	8.973025	0.251314	neurotrophin TRKA receptor binding
GO:0019964	0.000127	8.973025	0.251314	interferon-gamma binding
GO:0046964	0.000127	8.973025	0.251314	3'-phosphoadenosine 5'-phosphosulfate transmembrane transporter activity
GO:0019810	0.000127	8.973025	0.356675	putrescine binding
GO:0031405	0.000127	8.973025	0.356675	lipoic acid binding
GO:0035596	0.000127	8.973025	0.356675	methylthiotransferase activity
GO:0042656	0.000127	8.973025	0.356675	JUN kinase kinase kinase kinase activity
GO:0140345	0.000127	8.973025	0.356675	phosphatidylcholine flippase activity
GO:0000248	0.000127	8.973025	0.451985	C-5 sterol desaturase activity
GO:0033550	0.000127	8.973025	0.451985	MAP kinase tyrosine phosphatase activity
GO:0050421	0.000127	8.973025	0.451985	nitrite reductase (NO-forming) activity
GO:0051734	0.000127	8.973025	0.451985	ATP-dependent polynucleotide kinase activity
GO:1990518	0.000127	8.973025	0.451985	single-stranded 3'-5' DNA helicase activity
GO:0019156	0.000127	8.973025	0.538997	isoamylase activity
GO:0046979	0.000127	8.973025	0.538997	TAP2 binding
GO:0048408	0.000127	8.973025	0.538997	epidermal growth factor binding
GO:0060698	0.000127	8.973025	0.538997	endoribonuclease inhibitor activity
GO:0090556	0.000127	8.973025	0.538997	phosphatidylserine floppase activity
GO:0001602	0.000127	8.973025	0.619039	pancreatic polypeptide receptor activity
GO:0004810	0.000127	8.973025	0.619039	tRNA adenylyltransferase activity
GO:0008860	0.000127	8.973025	0.619039	ferredoxin-NAD+ reductase activity
GO:0015151	0.000127	8.973025	0.619039	alpha-glucoside transmembrane transporter activity
GO:0032405	0.000127	8.973025	0.619039	MutLalpha complex binding
GO:0043865	0.000127	8.973025	0.619039	methionine transmembrane transporter activity
GO:0046922	0.000127	8.973025	0.619039	peptide-O-fucosyltransferase activity
GO:0004484	0.000127	8.973025	0.693147	mRNA guanylyltransferase activity
GO:0015200	0.000127	8.973025	0.693147	methylammonium transmembrane transporter activity
GO:0023024	0.000127	8.973025	0.693147	MHC class I protein complex binding
GO:0042164	0.000127	8.973025	0.693147	interleukin-12 alpha subunit binding
GO:0045549	0.000127	8.973025	0.693147	9-cis-epoxycarotenoid dioxygenase activity
GO:0008898	0.000127	8.973025	0.762140	S-adenosylmethionine-homocysteine S-methyltransferase activity
GO:0015391	0.000127	8.973025	0.762140	nucleobase:cation symporter activity
GO:0046403	0.000127	8.973025	0.762140	polynucleotide 3'-phosphatase activity
GO:0048248	0.000127	8.973025	0.762140	CXCR3 chemokine receptor binding
GO:0001621	0.000127	8.973025	0.826679	G protein-coupled ADP receptor activity
GO:0003904	0.000127	8.973025	0.826679	deoxyribodipyrimidine photo-lyase activity
GO:0004641	0.000127	8.973025	0.826679	phosphoribosylformylglycinamidine cyclo-ligase activity
GO:0010328	0.000127	8.973025	0.826679	auxin influx transmembrane transporter activity
GO:0017061	0.000127	8.973025	0.826679	S-methyl-5-thioadenosine phosphorylase activity
GO:0018628	0.000127	8.973025	0.826679	terephthalate 1,2-dioxygenase activity
GO:0004507	0.000127	8.973025	0.944462	steroid 11-beta-monooxygenase activity
GO:0004980	0.000127	8.973025	0.998529	melanocyte-stimulating hormone receptor activity
GO:0018488	0.000127	8.973025	0.998529	aryl-aldehyde oxidase activity
GO:0032139	0.000127	8.973025	0.998529	dinucleotide insertion or deletion binding
GO:0048403	0.000127	8.973025	0.998529	brain-derived neurotrophic factor binding
GO:0015136	0.000127	8.973025	1.049822	sialic acid transmembrane transporter activity
GO:0004905	0.000127	8.973025	1.098612	type I interferon receptor activity
GO:0005334	0.000127	8.973025	1.098612	norepinephrine:sodium symporter activity
GO:0008160	0.000127	8.973025	1.189584	protein tyrosine phosphatase activator activity
GO:0008467	0.000127	8.973025	1.189584	[heparan sulfate]-glucosamine 3-sulfotransferase 1 activity
GO:0017095	0.000127	8.973025	1.189584	heparan sulfate 6-O-sulfotransferase activity
GO:0038047	0.000127	8.973025	1.189584	morphine receptor activity
GO:0070280	0.000127	8.973025	1.189584	pyridoxal binding
GO:0004471	0.000127	8.973025	1.232144	malate dehydrogenase (decarboxylating) (NAD+) activity
GO:0008260	0.000127	8.973025	1.232144	3-oxoacid CoA-transferase activity
GO:0015620	0.000127	8.973025	1.232144	ferric-enterobactin transmembrane transporter activity
GO:0000823	0.000127	8.973025	1.272966	inositol-1,4,5-trisphosphate 6-kinase activity
GO:0005464	0.000127	8.973025	1.272966	UDP-xylose transmembrane transporter activity
GO:0052726	0.000127	8.973025	1.272966	inositol-1,3,4-trisphosphate 5-kinase activity
GO:0042329	0.000127	8.973025	1.312186	structural constituent of collagen and cuticulin-based cuticle
GO:0052658	0.000127	8.973025	1.349927	inositol-1,4,5-trisphosphate 5-phosphatase activity
GO:0038036	0.000127	8.973025	1.455287	sphingosine-1-phosphate receptor activity
GO:0008470	0.000127	8.973025	1.488077	isovaleryl-CoA dehydrogenase activity
GO:0032184	0.000127	8.973025	1.519826	SUMO polymer binding
GO:0032450	0.000127	8.973025	1.519826	maltose alpha-glucosidase activity
GO:0004788	0.000127	8.973025	1.550597	thiamine diphosphokinase activity
GO:0008728	0.000127	8.973025	1.550597	GTP diphosphokinase activity
GO:0019960	0.000127	8.973025	1.550597	C-X3-C chemokine binding
GO:0044736	0.000127	8.973025	1.550597	acid-sensing ion channel activity
GO:0003839	0.000127	8.973025	1.580450	gamma-glutamylcyclotransferase activity
GO:0003726	0.000127	8.973025	1.609438	double-stranded RNA adenosine deaminase activity
GO:0004477	0.000127	8.973025	1.609438	methenyltetrahydrofolate cyclohydrolase activity
GO:0005105	0.000127	8.973025	1.637609	type 1 fibroblast growth factor receptor binding
GO:0042299	0.000127	8.973025	1.637609	lupeol synthase activity
GO:0047710	0.000127	8.973025	1.637609	bis(5'-adenosyl)-triphosphatase activity
GO:0016168	0.000127	8.973025	1.665008	chlorophyll binding
GO:0052901	0.000127	8.973025	1.665008	spermine:oxygen oxidoreductase (spermidine-forming) activity
GO:0097199	0.000127	8.973025	1.665008	cysteine-type endopeptidase activity involved in apoptotic signaling pathway
GO:0004849	0.000127	8.973025	1.717651	uridine kinase activity
GO:0015574	0.000127	8.973025	1.717651	trehalose transmembrane transporter activity
GO:0043993	0.000127	8.973025	1.717651	histone acetyltransferase activity (H3-K18 specific)
GO:0003922	0.000127	8.973025	1.742969	GMP synthase (glutamine-hydrolyzing) activity
GO:0005093	0.000127	8.973025	1.742969	Rab GDP-dissociation inhibitor activity
GO:0034714	0.000127	8.973025	1.767662	type III transforming growth factor beta receptor binding
GO:0004958	0.000127	8.973025	1.791759	prostaglandin F receptor activity
GO:1990050	0.000127	8.973025	1.791759	phosphatidic acid transfer activity
GO:0015207	0.000127	8.973025	1.815290	adenine transmembrane transporter activity
GO:0003873	0.000127	8.973025	1.860752	6-phosphofructo-2-kinase activity
GO:0004306	0.000127	8.973025	1.966113	ethanolamine-phosphate cytidylyltransferase activity
GO:0004644	0.000127	8.973025	1.966113	phosphoribosylglycinamide formyltransferase activity
GO:0008781	0.000127	8.973025	1.966113	N-acylneuraminate cytidylyltransferase activity
GO:0070967	0.000127	8.973025	1.966113	coenzyme F420 binding
GO:0016277	0.000127	8.973025	1.985915	[myelin basic protein]-arginine N-methyltransferase activity
GO:0034005	0.000127	8.973025	1.985915	germacrene-A synthase activity
GO:0120146	0.000127	8.973025	2.005334	sulfatide binding
GO:0046921	0.000127	8.973025	2.043074	alpha-(1->6)-fucosyltransferase activity
GO:0004024	0.000127	8.973025	2.061423	alcohol dehydrogenase activity, zinc-dependent
GO:0016603	0.000127	8.973025	2.079442	glutaminyl-peptide cyclotransferase activity
GO:0004574	0.000127	8.973025	2.148434	oligo-1,6-glucosidase activity
GO:0008802	0.000127	8.973025	2.164964	betaine-aldehyde dehydrogenase activity
GO:0009916	0.000127	8.973025	2.164964	alternative oxidase activity
GO:0030628	0.000127	8.973025	2.164964	pre-mRNA 3'-splice site binding
GO:0035800	0.000127	8.973025	2.164964	deubiquitinase activator activity
GO:0032977	0.000127	8.973025	2.197225	membrane insertase activity
GO:0016784	0.000127	8.973025	2.212973	3-mercaptopyruvate sulfurtransferase activity
GO:0052743	0.000127	8.973025	2.212973	inositol tetrakisphosphate phosphatase activity
GO:0106017	0.000127	8.973025	2.212973	phosphatidylinositol-3,4-bisphosphate phosphatase activity
GO:0140444	0.000127	8.973025	2.228477	cytoskeleton-nuclear membrane anchor activity
GO:0001139	0.000127	8.973025	2.243745	RNA polymerase II complex recruiting activity
GO:0071936	0.000127	8.973025	2.243745	coreceptor activity involved in Wnt signaling pathway
GO:0060002	0.000127	8.973025	2.258782	plus-end directed microfilament motor activity
GO:0004414	0.000127	8.973025	2.273598	homoserine O-acetyltransferase activity
GO:0032843	0.000127	8.973025	2.273598	hydroperoxide reductase activity
GO:0033744	0.000127	8.973025	2.273598	L-methionine:thioredoxin-disulfide S-oxidoreductase activity
GO:0004117	0.000127	8.973025	2.302585	calmodulin-dependent cyclic-nucleotide phosphodiesterase activity
GO:0003852	0.000127	8.973025	2.316770	2-isopropylmalate synthase activity
GO:0004410	0.000127	8.973025	2.316770	homocitrate synthase activity
GO:0015042	0.000127	8.973025	2.344549	trypanothione-disulfide reductase activity
GO:0015922	0.000127	8.973025	2.358155	aspartate oxidase activity
GO:0052597	0.000127	8.973025	2.358155	diamine oxidase activity
GO:0004419	0.000127	8.973025	2.371578	hydroxymethylglutaryl-CoA lyase activity
GO:0030020	0.000127	8.973025	2.397895	extracellular matrix structural constituent conferring tensile strength
GO:0030021	0.000127	8.973025	2.397895	extracellular matrix structural constituent conferring compression resistance
GO:0001406	0.000127	8.973025	2.423538	glycerophosphodiester transmembrane transporter activity
GO:0004750	0.000127	8.973025	2.436116	ribulose-phosphate 3-epimerase activity
GO:0046923	0.000127	8.973025	2.436116	ER retention sequence binding
GO:0016206	0.000127	8.973025	2.472930	catechol O-methyltransferase activity
GO:0047045	0.000127	8.973025	2.496741	testosterone 17-beta-dehydrogenase (NADP+) activity
GO:0008674	0.000127	8.973025	2.508437	2-dehydro-3-deoxy-6-phosphogalactonate aldolase activity
GO:0047442	0.000127	8.973025	2.508437	17-alpha-hydroxyprogesterone aldolase activity
GO:0009883	0.000127	8.973025	2.519998	red or far-red light photoreceptor activity
GO:0005143	0.000127	8.973025	2.564949	interleukin-12 receptor binding
GO:0050017	0.000127	8.973025	2.597385	L-3-cyanoalanine synthase activity
GO:0016656	0.000127	8.973025	2.679063	monodehydroascorbate reductase (NADH) activity
GO:0004735	0.000127	8.973025	2.708050	pyrroline-5-carboxylate reductase activity
GO:0004686	0.000127	8.973025	2.772589	elongation factor-2 kinase activity
GO:0001108	0.000127	8.973025	2.816264	bacterial-type RNA polymerase holo enzyme binding
GO:0004639	0.000127	8.973025	2.882404	phosphoribosylaminoimidazolesuccinocarboxamide synthase activity
GO:0010279	0.000127	8.973025	2.882404	indole-3-acetic acid amido synthetase activity
GO:0008419	0.000127	8.973025	2.890372	RNA lariat debranching enzyme activity
GO:0070551	0.000127	8.973025	2.890372	endoribonuclease activity, cleaving siRNA-paired mRNA
GO:0008670	0.000127	8.973025	2.966745	2,4-dienoyl-CoA reductase (NADPH) activity
GO:0016629	0.000127	8.973025	2.966745	12-oxophytodienoate reductase activity
GO:0016631	0.000127	8.973025	2.966745	enoyl-[acyl-carrier-protein] reductase activity
GO:0017113	0.000127	8.973025	2.966745	dihydropyrimidine dehydrogenase (NADP+) activity
GO:0005010	0.000127	8.973025	2.974071	insulin-like growth factor-activated receptor activity
GO:0004411	0.000127	8.973025	2.981344	homogentisate 1,2-dioxygenase activity
GO:1990450	0.000127	8.973025	2.995732	linear polyubiquitin binding
GO:0033857	0.000127	8.973025	3.023903	diphosphoinositol-pentakisphosphate kinase activity
GO:0004595	0.000127	8.973025	3.037696	pantetheine-phosphate adenylyltransferase activity
GO:0008673	0.000127	8.973025	3.051302	2-dehydro-3-deoxygluconokinase activity
GO:0015666	0.000127	8.973025	3.084528	restriction endodeoxyribonuclease activity
GO:0001517	0.000127	8.973025	3.110336	N-acetylglucosamine 6-O-sulfotransferase activity
GO:0016707	0.000127	8.973025	3.122994	gibberellin 3-beta-dioxygenase activity
GO:0004339	0.000127	8.973025	3.129264	glucan 1,4-alpha-glucosidase activity
GO:0097363	0.000127	8.973025	3.160035	protein O-GlcNAc transferase activity
GO:0004911	0.000127	8.973025	3.166078	interleukin-2 receptor activity
GO:0016167	0.000127	8.973025	3.166078	glial cell-derived neurotrophic factor receptor activity
GO:0004587	0.000127	8.973025	3.189888	ornithine-oxo-acid transaminase activity
GO:0010326	0.000127	8.973025	3.189888	methionine-oxo-acid transaminase activity
GO:0036137	0.000127	8.973025	3.189888	kynurenine aminotransferase activity
GO:0008466	0.000127	8.973025	3.218876	glycogenin glucosyltransferase activity
GO:0004819	0.000127	8.973025	3.321948	glutamine-tRNA ligase activity
GO:0004821	0.000127	8.973025	3.321948	histidine-tRNA ligase activity
GO:0032395	0.000127	8.973025	3.367296	MHC class II receptor activity
GO:0004724	0.000127	8.973025	3.372210	magnesium-dependent protein serine/threonine phosphatase activity
GO:0070853	0.000127	8.973025	3.415382	myosin VI binding
GO:0000254	0.000127	8.973025	3.447717	C-4 methylsterol oxidase activity
GO:0036200	0.000127	8.973025	3.447717	3-ketosteroid 9-alpha-monooxygenase activity
GO:0003879	0.000127	8.973025	3.483435	ATP phosphoribosyltransferase activity
GO:0004514	0.000127	8.973025	3.483435	nicotinate-nucleotide diphosphorylase (carboxylating) activity
GO:0004163	0.000127	8.973025	3.505128	diphosphomevalonate decarboxylase activity
GO:0004398	0.000127	8.973025	3.505128	histidine decarboxylase activity
GO:0004853	0.000127	8.973025	3.505128	uroporphyrinogen decarboxylase activity
GO:0016521	0.000127	8.973025	3.530553	pituitary adenylate cyclase activating polypeptide activity
GO:0004447	0.000127	8.973025	3.559421	iodide peroxidase activity
GO:0004042	0.000127	8.973025	3.727413	acetyl-CoA:L-glutamate N-acetyltransferase activity
GO:0004516	0.000127	8.973025	3.747822	nicotinate phosphoribosyltransferase activity
GO:0004637	0.000127	8.973025	3.747822	phosphoribosylamine-glycine ligase activity
GO:0051989	0.000127	8.973025	3.764517	coproporphyrinogen dehydrogenase activity
GO:0051912	0.000127	8.973025	3.806662	CoB--CoM heterodisulfide reductase activity
GO:0042943	0.000127	8.973025	3.853183	D-amino acid transmembrane transporter activity
GO:0004947	0.000127	8.973025	3.862232	bradykinin receptor activity
GO:0004967	0.000127	8.973025	3.862232	glucagon receptor activity
GO:0015057	0.000127	8.973025	3.862232	thrombin-activated receptor activity
GO:0016499	0.000127	8.973025	3.862232	orexin receptor activity
GO:0035013	0.000127	8.973025	3.862232	myosuppressin receptor activity
GO:0016941	0.000127	8.973025	3.934623	natriuretic peptide receptor activity
GO:0071614	0.000127	8.973025	4.108529	linoleic acid epoxygenase activity
GO:0051525	0.000127	8.973025	4.152164	NFAT protein binding
GO:1903425	0.000127	8.973025	4.165557	fluoride transmembrane transporter activity
GO:0004424	0.000127	8.973025	4.185316	imidazoleglycerol-phosphate dehydratase activity
GO:0018822	0.000127	8.973025	4.185316	nitrile hydratase activity
GO:0047547	0.000127	8.973025	4.185316	2-methylcitrate dehydratase activity
GO:0099508	0.000127	8.973025	4.198275	voltage-gated ion channel activity involved in regulation of presynaptic membrane potential
GO:0031762	0.000127	8.973025	4.268698	follicle-stimulating hormone receptor binding
GO:0008330	0.000127	8.973025	4.280627	protein tyrosine/threonine phosphatase activity
GO:0099609	0.000127	8.973025	4.302133	microtubule lateral binding
GO:0004418	0.000127	8.973025	4.323186	hydroxymethylbilane synthase activity
GO:0004746	0.000127	8.973025	4.323186	riboflavin synthase activity
GO:0008609	0.000127	8.973025	4.323186	alkylglycerone-phosphate synthase activity
GO:0016768	0.000127	8.973025	4.323186	spermine synthase activity
GO:0099507	0.000127	8.973025	4.341948	ligand-gated ion channel activity involved in regulation of presynaptic membrane potential
GO:0080031	0.000127	8.973025	4.351199	methyl salicylate esterase activity
GO:0080032	0.000127	8.973025	4.351199	methyl jasmonate esterase activity
GO:0070576	0.000127	8.973025	4.404976	vitamin D 24-hydroxylase activity
GO:0106223	0.000127	8.973025	4.404976	germacrene A hydroxylase activity
GO:0008879	0.000127	8.973025	4.472455	glucose-1-phosphate thymidylyltransferase activity
GO:0001515	0.000127	8.973025	4.647134	opioid peptide activity
GO:0042389	0.000127	8.973025	4.663439	omega-3 fatty acid desaturase activity
GO:0004336	0.000127	8.973025	4.695272	galactosylceramidase activity
GO:0052736	0.000127	8.973025	4.695272	beta-glucanase activity
GO:0003858	0.000127	8.973025	4.697880	3-hydroxybutyrate dehydrogenase activity
GO:0004420	0.000127	8.973025	4.697880	hydroxymethylglutaryl-CoA reductase (NADPH) activity
GO:0008743	0.000127	8.973025	4.697880	L-threonine 3-dehydrogenase activity
GO:0042282	0.000127	8.973025	4.697880	hydroxymethylglutaryl-CoA reductase activity
GO:0050038	0.000127	8.973025	4.697880	L-xylulose reductase (NADP+) activity
GO:0050085	0.000127	8.973025	4.697880	mannitol 2-dehydrogenase (NADP+) activity
GO:0015066	0.000127	8.973025	4.727388	alpha-amylase inhibitor activity
GO:0016900	0.000127	8.973025	4.826025	oxidoreductase activity, acting on the CH-OH group of donors, disulfide as acceptor
GO:0010698	0.000127	8.973025	4.828314	acetyltransferase activator activity
GO:0060228	0.000127	8.973025	4.828314	phosphatidylcholine-sterol O-acyltransferase activator activity
GO:0034056	0.000127	8.973025	4.852030	estrogen response element binding
GO:0008955	0.000127	8.973025	4.896773	peptidoglycan glycosyltransferase activity
GO:0033818	0.000127	8.973025	4.969813	beta-ketoacyl-acyl-carrier-protein synthase III activity
GO:0008502	0.000127	8.973025	4.971795	melatonin receptor activity
GO:0008967	0.000127	8.973025	5.005862	phosphoglycolate phosphatase activity
GO:0098519	0.000127	8.973025	5.005862	nucleotide phosphatase activity, acting on free nucleotides
GO:0050733	0.000127	8.973025	5.198497	RS domain binding
GO:0055131	0.000127	8.973025	5.198497	C3HC4-type RING finger domain binding
GO:0050333	0.000127	8.973025	5.433722	thiamin-triphosphatase activity
GO:0034290	0.000127	8.973025	5.451038	holin activity
GO:0008486	0.000127	8.973025	5.556276	diphosphoinositol-polyphosphate diphosphatase activity
GO:0035033	0.000127	8.973025	5.650482	histone deacetylase regulator activity
GO:1902444	0.000127	8.973025	5.650984	riboflavin binding
GO:1903981	0.000127	8.973025	5.650984	enterobactin binding
GO:0001847	0.000127	8.973025	5.674305	opsonin receptor activity
GO:0009884	0.000127	8.973025	5.674305	cytokinin receptor activity
GO:0047696	0.000127	8.973025	5.723118	beta-adrenergic receptor kinase activity
GO:0004140	0.000127	8.973025	5.937536	dephospho-CoA kinase activity
GO:0008478	0.000127	8.973025	5.937536	pyridoxal kinase activity
GO:0043125	0.000127	8.973025	6.039915	ErbB-3 class receptor binding
GO:0061776	0.000127	8.973025	6.257120	topological DNA entrapment activity
GO:0001072	0.000127	8.973025	6.270718	transcription antitermination factor activity, RNA binding
GO:0043856	0.000127	8.973025	6.270718	anti-sigma factor antagonist activity
GO:0032190	0.000127	8.973025	6.367452	acrosin binding
GO:0038100	0.000127	8.973025	8.276286	nodal binding
GO:1990935	0.000127	8.973025	8.276286	splicing factor binding
GO:0046848	0.000127	8.973025	8.536744	hydroxyapatite binding
GO:0050436	0.000127	8.973025	8.536744	microfibril binding
GO:0000985	0.000109	9.127176	0.000000	bacterial-type RNA polymerase core promoter sequence-specific DNA binding
GO:0004135	0.000109	9.127176	0.000000	amylo-alpha-1,6-glucosidase activity
GO:0004174	0.000109	9.127176	0.000000	electron-transferring-flavoprotein dehydrogenase activity
GO:0004377	0.000109	9.127176	0.000000	GDP-Man:Man3GlcNAc2-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0004479	0.000109	9.127176	0.000000	methionyl-tRNA formyltransferase activity
GO:0004598	0.000109	9.127176	0.000000	peptidylamidoglycolate lyase activity
GO:0004932	0.000109	9.127176	0.000000	mating-type factor pheromone receptor activity
GO:0005009	0.000109	9.127176	0.000000	insulin-activated receptor activity
GO:0005364	0.000109	9.127176	0.000000	maltose:proton symporter activity
GO:0005427	0.000109	9.127176	0.000000	proton-dependent oligopeptide secondary active transmembrane transporter activity
GO:0005469	0.000109	9.127176	0.000000	succinate:fumarate antiporter activity
GO:0008445	0.000109	9.127176	0.000000	D-aspartate oxidase activity
GO:0008508	0.000109	9.127176	0.000000	bile acid:sodium symporter activity
GO:0008650	0.000109	9.127176	0.000000	rRNA (uridine-2'-O-)-methyltransferase activity
GO:0008657	0.000109	9.127176	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) inhibitor activity
GO:0009784	0.000109	9.127176	0.000000	transmembrane receptor histidine kinase activity
GO:0015121	0.000109	9.127176	0.000000	phosphoenolpyruvate:phosphate antiporter activity
GO:0015526	0.000109	9.127176	0.000000	hexose-phosphate:inorganic phosphate antiporter activity
GO:0019120	0.000109	9.127176	0.000000	hydrolase activity, acting on acid halide bonds, in C-halide compounds
GO:0033164	0.000109	9.127176	0.000000	glycolipid 6-alpha-mannosyltransferase activity
GO:0033285	0.000109	9.127176	0.000000	ATPase-coupled monocarboxylic acid transmembrane transporter activity
GO:0034634	0.000109	9.127176	0.000000	glutathione transmembrane transporter activity
GO:0043225	0.000109	9.127176	0.000000	ATPase-coupled inorganic anion transmembrane transporter activity
GO:0043682	0.000109	9.127176	0.000000	copper transmembrane transporter activity, phosphorylative mechanism
GO:0043739	0.000109	9.127176	0.000000	G/U mismatch-specific uracil-DNA glycosylase activity
GO:0043798	0.000109	9.127176	0.000000	glycerate 2-kinase activity
GO:0046934	0.000109	9.127176	0.000000	phosphatidylinositol-4,5-bisphosphate 3-kinase activity
GO:0046969	0.000109	9.127176	0.000000	NAD-dependent histone deacetylase activity (H3-K9 specific)
GO:0051740	0.000109	9.127176	0.000000	ethylene binding
GO:0098639	0.000109	9.127176	0.000000	collagen binding involved in cell-matrix adhesion
GO:0004413	0.000109	9.127176	0.154151	homoserine kinase activity
GO:0015420	0.000109	9.127176	0.154151	ATPase-coupled vitamin B12 transmembrane transporter activity
GO:0015513	0.000109	9.127176	0.154151	high-affinity secondary active nitrite transmembrane transporter activity
GO:0016212	0.000109	9.127176	0.154151	kynurenine-oxoglutarate transaminase activity
GO:0030345	0.000109	9.127176	0.154151	structural constituent of tooth enamel
GO:0033946	0.000109	9.127176	0.154151	xyloglucan-specific endo-beta-1,4-glucanase activity
GO:0034291	0.000109	9.127176	0.154151	canonical holin activity
GO:0034986	0.000109	9.127176	0.154151	iron chaperone activity
GO:0043211	0.000109	9.127176	0.154151	ATPase-coupled carbohydrate transmembrane transporter activity
GO:0050302	0.000109	9.127176	0.154151	indole-3-acetaldehyde oxidase activity
GO:0051908	0.000109	9.127176	0.154151	double-stranded DNA 5'-3' exodeoxyribonuclease activity
GO:0061785	0.000109	9.127176	0.154151	peptidoglycan endopeptidase activity
GO:0070890	0.000109	9.127176	0.154151	sodium-dependent L-ascorbate transmembrane transporter activity
GO:0005371	0.000109	9.127176	0.287682	tricarboxylate secondary active transmembrane transporter activity
GO:0030343	0.000109	9.127176	0.287682	vitamin D3 25-hydroxylase activity
GO:0046970	0.000109	9.127176	0.287682	NAD-dependent histone deacetylase activity (H4-K16 specific)
GO:0050464	0.000109	9.127176	0.287682	nitrate reductase (NADPH) activity
GO:0140078	0.000109	9.127176	0.287682	class I DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:1990439	0.000109	9.127176	0.287682	MAP kinase serine/threonine phosphatase activity
GO:0004756	0.000109	9.127176	0.405465	selenide, water dikinase activity
GO:0008481	0.000109	9.127176	0.405465	sphinganine kinase activity
GO:0047756	0.000109	9.127176	0.405465	chondroitin 4-sulfotransferase activity
GO:1902271	0.000109	9.127176	0.405465	D3 vitamins binding
GO:0004940	0.000109	9.127176	0.510826	beta1-adrenergic receptor activity
GO:0008988	0.000109	9.127176	0.510826	rRNA (adenine-N6-)-methyltransferase activity
GO:0030985	0.000109	9.127176	0.510826	high molecular weight kininogen binding
GO:0033229	0.000109	9.127176	0.510826	cysteine transmembrane transporter activity
GO:0004488	0.000109	9.127176	0.606136	methylenetetrahydrofolate dehydrogenase (NADP+) activity
GO:0051723	0.000109	9.127176	0.606136	protein methylesterase activity
GO:0051732	0.000109	9.127176	0.606136	polyribonucleotide kinase activity
GO:0001635	0.000109	9.127176	0.693147	calcitonin gene-related peptide receptor activity
GO:0008990	0.000109	9.127176	0.693147	rRNA (guanine-N2-)-methyltransferase activity
GO:0050368	0.000109	9.127176	0.693147	tyrosine 2,3-aminomutase activity
GO:0004441	0.000109	9.127176	0.773190	inositol-1,4-bisphosphate 1-phosphatase activity
GO:0008193	0.000109	9.127176	0.847298	tRNA guanylyltransferase activity
GO:0016401	0.000109	9.127176	0.847298	palmitoyl-CoA oxidase activity
GO:0019767	0.000109	9.127176	0.847298	IgE receptor activity
GO:0019770	0.000109	9.127176	0.847298	IgG receptor activity
GO:0023026	0.000109	9.127176	0.847298	MHC class II protein complex binding
GO:0000824	0.000109	9.127176	0.916291	inositol tetrakisphosphate 3-kinase activity
GO:0000825	0.000109	9.127176	0.916291	inositol tetrakisphosphate 6-kinase activity
GO:0001641	0.000109	9.127176	0.916291	group II metabotropic glutamate receptor activity
GO:0015322	0.000109	9.127176	0.916291	secondary active oligopeptide transmembrane transporter activity
GO:0034039	0.000109	9.127176	0.916291	8-oxo-7,8-dihydroguanine DNA N-glycosylase activity
GO:0047325	0.000109	9.127176	0.916291	inositol tetrakisphosphate 1-kinase activity
GO:0070736	0.000109	9.127176	0.916291	protein-glycine ligase activity, initiating
GO:0003914	0.000109	9.127176	0.980829	DNA (6-4) photolyase activity
GO:0010331	0.000109	9.127176	0.980829	gibberellin binding
GO:0086083	0.000109	9.127176	0.980829	cell adhesive protein binding involved in bundle of His cell-Purkinje myocyte communication
GO:0035663	0.000109	9.127176	1.041454	Toll-like receptor 2 binding
GO:0005150	0.000109	9.127176	1.098612	interleukin-1, type I receptor binding
GO:0015433	0.000109	9.127176	1.098612	ATPase-coupled peptide antigen transmembrane transporter activity
GO:0033679	0.000109	9.127176	1.098612	3'-5' DNA/RNA helicase activity
GO:0036263	0.000109	9.127176	1.098612	L-DOPA monooxygenase activity
GO:0004349	0.000109	9.127176	1.152680	glutamate 5-kinase activity
GO:0008011	0.000109	9.127176	1.152680	structural constituent of pupal chitin-based cuticle
GO:0071553	0.000109	9.127176	1.203973	G protein-coupled pyrimidinergic nucleotide receptor activity
GO:0015016	0.000109	9.127176	1.343735	[heparan sulfate]-glucosamine N-sulfotransferase activity
GO:0004136	0.000109	9.127176	1.386294	deoxyadenosine kinase activity
GO:0004334	0.000109	9.127176	1.386294	fumarylacetoacetase activity
GO:0008775	0.000109	9.127176	1.386294	acetate CoA-transferase activity
GO:1901982	0.000109	9.127176	1.427116	maltose binding
GO:1903777	0.000109	9.127176	1.427116	melibiose binding
GO:0019912	0.000109	9.127176	1.466337	cyclin-dependent protein kinase activating kinase activity
GO:0033699	0.000109	9.127176	1.466337	DNA 5'-adenosine monophosphate hydrolase activity
GO:0030144	0.000109	9.127176	1.504077	alpha-1,6-mannosylglycoprotein 6-beta-N-acetylglucosaminyltransferase activity
GO:0031694	0.000109	9.127176	1.575536	alpha-2A adrenergic receptor binding
GO:0052735	0.000109	9.127176	1.575536	tRNA (cytosine-3-)-methyltransferase activity
GO:0003838	0.000109	9.127176	1.609438	sterol 24-C-methyltransferase activity
GO:0030229	0.000109	9.127176	1.609438	very-low-density lipoprotein particle receptor activity
GO:0034186	0.000109	9.127176	1.609438	apolipoprotein A-I binding
GO:0070991	0.000109	9.127176	1.642228	medium-chain-acyl-CoA dehydrogenase activity
GO:0022852	0.000109	9.127176	1.704748	glycine-gated chloride ion channel activity
GO:0008176	0.000109	9.127176	1.734601	tRNA (guanine-N7-)-methyltransferase activity
GO:0016161	0.000109	9.127176	1.734601	beta-amylase activity
GO:0016422	0.000109	9.127176	1.734601	mRNA (2'-O-methyladenosine-N6-)-methyltransferase activity
GO:1990599	0.000109	9.127176	1.734601	3' overhang single-stranded DNA endodeoxyribonuclease activity
GO:0003937	0.000109	9.127176	1.763589	IMP cyclohydrolase activity
GO:0106235	0.000109	9.127176	1.763589	ceramide-1-phosphate phosphatase activity
GO:0000210	0.000109	9.127176	1.791759	NAD+ diphosphatase activity
GO:0003882	0.000109	9.127176	1.791759	CDP-diacylglycerol-serine O-phosphatidyltransferase activity
GO:0004142	0.000109	9.127176	1.791759	diacylglycerol cholinephosphotransferase activity
GO:0005111	0.000109	9.127176	1.791759	type 2 fibroblast growth factor receptor binding
GO:0008823	0.000109	9.127176	1.791759	cupric reductase activity
GO:0034432	0.000109	9.127176	1.791759	bis(5'-adenosyl)-pentaphosphatase activity
GO:0070540	0.000109	9.127176	1.791759	stearic acid binding
GO:0046576	0.000109	9.127176	1.819158	rhamnogalacturonan alpha-L-rhamnopyranosyl-(1->4)-alpha-D-galactopyranosyluronide lyase activity
GO:0052894	0.000109	9.127176	1.819158	norspermine:oxygen oxidoreductase activity
GO:0001092	0.000109	9.127176	1.845827	TFIIA-class transcription factor complex binding
GO:1905502	0.000109	9.127176	1.845827	acetyl-CoA binding
GO:0004310	0.000109	9.127176	1.871802	farnesyl-diphosphate farnesyltransferase activity
GO:0044017	0.000109	9.127176	1.871802	histone acetyltransferase activity (H3-K27 specific)
GO:0004066	0.000109	9.127176	1.897120	asparagine synthase (glutamine-hydrolyzing) activity
GO:0005463	0.000109	9.127176	1.897120	UDP-N-acetylgalactosamine transmembrane transporter activity
GO:0002196	0.000109	9.127176	1.921813	Ser-tRNA(Ala) hydrolase activity
GO:0031728	0.000109	9.127176	1.921813	CCR3 chemokine receptor binding
GO:0031731	0.000109	9.127176	1.921813	CCR6 chemokine receptor binding
GO:0051499	0.000109	9.127176	1.921813	D-aminoacyl-tRNA deacylase activity
GO:0106026	0.000109	9.127176	1.921813	Gly-tRNA(Ala) hydrolase activity
GO:0008661	0.000109	9.127176	1.945910	1-deoxy-D-xylulose-5-phosphate synthase activity
GO:0032500	0.000109	9.127176	1.945910	muramyl dipeptide binding
GO:0015208	0.000109	9.127176	1.969441	guanine transmembrane transporter activity
GO:0042907	0.000109	9.127176	1.969441	xanthine transmembrane transporter activity
GO:0008579	0.000109	9.127176	1.992430	JUN kinase phosphatase activity
GO:0001409	0.000109	9.127176	2.014903	guanine nucleotide transmembrane transporter activity
GO:0042131	0.000109	9.127176	2.014903	thiamine phosphate phosphatase activity
GO:0047334	0.000109	9.127176	2.014903	diphosphate-fructose-6-phosphate 1-phosphotransferase activity
GO:0047783	0.000109	9.127176	2.014903	corticosterone 18-monooxygenase activity
GO:0003908	0.000109	9.127176	2.036882	methylated-DNA-[protein]-cysteine S-methyltransferase activity
GO:0015230	0.000109	9.127176	2.036882	FAD transmembrane transporter activity
GO:0004773	0.000109	9.127176	2.058388	steryl-sulfatase activity
GO:0004960	0.000109	9.127176	2.058388	thromboxane receptor activity
GO:0044715	0.000109	9.127176	2.058388	8-oxo-dGDP phosphatase activity
GO:0004643	0.000109	9.127176	2.120264	phosphoribosylaminoimidazolecarboxamide formyltransferase activity
GO:0000247	0.000109	9.127176	2.140066	C-8 sterol isomerase activity
GO:0031403	0.000109	9.127176	2.140066	lithium ion binding
GO:0045548	0.000109	9.127176	2.140066	phenylalanine ammonia-lyase activity
GO:0017060	0.000109	9.127176	2.197225	3-galactosyl-N-acetylglucosaminide 4-alpha-L-fucosyltransferase activity
GO:0004057	0.000109	9.127176	2.233592	arginyltransferase activity
GO:0051724	0.000109	9.127176	2.251292	NAD transmembrane transporter activity
GO:0005287	0.000109	9.127176	2.285778	high-affinity basic amino acid transmembrane transporter activity
GO:0047216	0.000109	9.127176	2.302585	inositol 3-alpha-galactosyltransferase activity
GO:0004610	0.000109	9.127176	2.319114	phosphoacetylglucosamine mutase activity
GO:0015169	0.000109	9.127176	2.319114	glycerol-3-phosphate transmembrane transporter activity
GO:0015119	0.000109	9.127176	2.335375	hexose phosphate transmembrane transporter activity
GO:0019158	0.000109	9.127176	2.335375	mannokinase activity
GO:0008783	0.000109	9.127176	2.351375	agmatinase activity
GO:0001665	0.000109	9.127176	2.382628	alpha-N-acetylgalactosaminide alpha-2,6-sialyltransferase activity
GO:0030375	0.000109	9.127176	2.397895	thyroid hormone receptor coactivator activity
GO:0035248	0.000109	9.127176	2.397895	alpha-1,4-N-acetylgalactosaminyltransferase activity
GO:0015467	0.000109	9.127176	2.412933	G-protein activated inward rectifier potassium channel activity
GO:0044378	0.000109	9.127176	2.442347	non-sequence-specific DNA binding, bending
GO:0004118	0.000109	9.127176	2.456736	cGMP-stimulated cyclic-nucleotide phosphodiesterase activity
GO:0034480	0.000109	9.127176	2.456736	phosphatidylcholine phospholipase C activity
GO:0003878	0.000109	9.127176	2.470920	ATP citrate synthase activity
GO:0030623	0.000109	9.127176	2.470920	U5 snRNA binding
GO:0001791	0.000109	9.127176	2.484907	IgM binding
GO:0008396	0.000109	9.127176	2.484907	oxysterol 7-alpha-hydroxylase activity
GO:0101021	0.000109	9.127176	2.484907	estrogen 2-hydroxylase activity
GO:0045300	0.000109	9.127176	2.498700	acyl-[acyl-carrier-protein] desaturase activity
GO:0019976	0.000109	9.127176	2.512306	interleukin-2 binding
GO:0033721	0.000109	9.127176	2.512306	aldehyde dehydrogenase (NADP+) activity
GO:0008935	0.000109	9.127176	2.525729	1,4-dihydroxy-2-naphthoyl-CoA synthase activity
GO:0070905	0.000109	9.127176	2.564949	serine binding
GO:0046557	0.000109	9.127176	2.577688	glucan endo-1,6-beta-glucosidase activity
GO:0080083	0.000109	9.127176	2.577688	beta-gentiobiose beta-glucosidase activity
GO:0008830	0.000109	9.127176	2.590267	dTDP-4-dehydrorhamnose 3,5-epimerase activity
GO:0035276	0.000109	9.127176	2.590267	ethanol binding
GO:0043533	0.000109	9.127176	2.590267	inositol 1,3,4,5 tetrakisphosphate binding
GO:0004640	0.000109	9.127176	2.639057	phosphoribosylanthranilate isomerase activity
GO:0031704	0.000109	9.127176	2.696877	apelin receptor binding
GO:0031834	0.000109	9.127176	2.696877	neurokinin receptor binding
GO:0017089	0.000109	9.127176	2.708050	glycolipid transfer activity
GO:0030348	0.000109	9.127176	2.751535	syntaxin-3 binding
GO:0047804	0.000109	9.127176	2.751535	cysteine-S-conjugate beta-lyase activity
GO:0047869	0.000109	9.127176	2.751535	dimethylpropiothetin dethiomethylase activity
GO:0015195	0.000109	9.127176	2.772589	L-threonine transmembrane transporter activity
GO:0008892	0.000109	9.127176	2.782952	guanine deaminase activity
GO:0001025	0.000109	9.127176	2.813411	RNA polymerase III general transcription initiation factor binding
GO:0001179	0.000109	9.127176	2.813411	RNA polymerase I general transcription initiation factor binding
GO:0004155	0.000109	9.127176	2.862201	6,7-dihydropteridine reductase activity
GO:0004753	0.000109	9.127176	2.862201	saccharopine dehydrogenase activity
GO:0031073	0.000109	9.127176	2.871680	cholesterol 26-hydroxylase activity
GO:0032129	0.000109	9.127176	2.871680	histone deacetylase activity (H3-K9 specific)
GO:0097004	0.000109	9.127176	2.890372	adipokinetic hormone binding
GO:0004689	0.000109	9.127176	2.926739	phosphorylase kinase activity
GO:0001962	0.000109	9.127176	2.944439	alpha-1,3-galactosyltransferase activity
GO:0015018	0.000109	9.127176	2.961831	galactosylgalactosylxylosylprotein 3-beta-glucuronosyltransferase activity
GO:0050509	0.000109	9.127176	2.961831	N-acetylglucosaminyl-proteoglycan 4-beta-glucuronosyltransferase activity
GO:0055100	0.000109	9.127176	2.978925	adiponectin binding
GO:0061628	0.000109	9.127176	2.987364	H3K27me3 modified histone binding
GO:0030292	0.000109	9.127176	3.004031	protein tyrosine kinase inhibitor activity
GO:0070052	0.000109	9.127176	3.004031	collagen V binding
GO:0004632	0.000109	9.127176	3.036554	phosphopantothenate--cysteine ligase activity
GO:0008716	0.000109	9.127176	3.036554	D-alanine-D-alanine ligase activity
GO:0008841	0.000109	9.127176	3.036554	dihydrofolate synthase activity
GO:0002950	0.000109	9.127176	3.044522	ceramide phosphoethanolamine synthase activity
GO:0003976	0.000109	9.127176	3.044522	UDP-N-acetylglucosamine-lysosomal-enzyme N-acetylglucosaminephosphotransferase activity
GO:0015117	0.000109	9.127176	3.060271	thiosulfate transmembrane transporter activity
GO:0008977	0.000109	9.127176	3.120895	prephenate dehydrogenase (NAD+) activity
GO:0030226	0.000109	9.127176	3.120895	apolipoprotein receptor activity
GO:0004051	0.000109	9.127176	3.135494	arachidonate 5-lipoxygenase activity
GO:0018858	0.000109	9.127176	3.142714	benzoate-CoA ligase activity
GO:0047475	0.000109	9.127176	3.142714	phenylacetate-CoA ligase activity
GO:1990932	0.000109	9.127176	3.157000	5.8S rRNA binding
GO:0000827	0.000109	9.127176	3.178054	inositol-1,3,4,5,6-pentakisphosphate kinase activity
GO:0000829	0.000109	9.127176	3.178054	inositol heptakisphosphate kinase activity
GO:0004631	0.000109	9.127176	3.178054	phosphomevalonate kinase activity
GO:0000225	0.000109	9.127176	3.198673	N-acetylglucosaminylphosphatidylinositol deacetylase activity
GO:0008448	0.000109	9.127176	3.198673	N-acetylglucosamine-6-phosphate deacetylase activity
GO:0004856	0.000109	9.127176	3.205453	xylulokinase activity
GO:0003856	0.000109	9.127176	3.225520	3-dehydroquinate synthase activity
GO:0003874	0.000109	9.127176	3.225520	6-pyruvoyltetrahydropterin synthase activity
GO:0034008	0.000109	9.127176	3.225520	R-linalool synthase activity
GO:0008226	0.000109	9.127176	3.238678	tyramine receptor activity
GO:0043765	0.000109	9.127176	3.238678	T/G mismatch-specific endonuclease activity
GO:0004027	0.000109	9.127176	3.264486	alcohol sulfotransferase activity
GO:0050294	0.000109	9.127176	3.264486	steroid sulfotransferase activity
GO:0050694	0.000109	9.127176	3.264486	galactose 3-O-sulfotransferase activity
GO:0043734	0.000109	9.127176	3.277145	DNA-N1-methyladenine dioxygenase activity
GO:0015123	0.000109	9.127176	3.289645	acetate transmembrane transporter activity
GO:0004903	0.000109	9.127176	3.320228	growth hormone receptor activity
GO:0038021	0.000109	9.127176	3.320228	leptin receptor activity
GO:0070061	0.000109	9.127176	3.344039	fructose binding
GO:0008834	0.000109	9.127176	3.373027	di-trans,poly-cis-decaprenylcistransferase activity
GO:0016906	0.000109	9.127176	3.373027	sterol 3-beta-glucosyltransferase activity
GO:0050502	0.000109	9.127176	3.373027	cis-zeatin O-beta-D-glucosyltransferase activity
GO:0016649	0.000109	9.127176	3.412247	oxidoreductase activity, acting on the CH-NH group of donors, quinone or similar compound as acceptor
GO:0004817	0.000109	9.127176	3.476099	cysteine-tRNA ligase activity
GO:0008084	0.000109	9.127176	3.550575	imaginal disc growth factor receptor binding
GO:0042015	0.000109	9.127176	3.560099	interleukin-20 binding
GO:0034784	0.000109	9.127176	3.592736	pivalyl-CoA mutase activity
GO:0047727	0.000109	9.127176	3.592736	isobutyryl-CoA mutase activity
GO:0019785	0.000109	9.127176	3.597312	ISG15-specific protease activity
GO:0004498	0.000109	9.127176	3.601868	calcidiol 1-monooxygenase activity
GO:0047086	0.000109	9.127176	3.601868	ketosteroid monooxygenase activity
GO:0004845	0.000109	9.127176	3.637586	uracil phosphoribosyltransferase activity
GO:0047280	0.000109	9.127176	3.637586	nicotinamide phosphoribosyltransferase activity
GO:0004638	0.000109	9.127176	3.659279	phosphoribosylaminoimidazole carboxylase activity
GO:0008792	0.000109	9.127176	3.659279	arginine decarboxylase activity
GO:0050545	0.000109	9.127176	3.659279	sulfopyruvate decarboxylase activity
GO:0034318	0.000109	9.127176	3.672072	alcohol O-acyltransferase activity
GO:0090447	0.000109	9.127176	3.672072	glycerol-3-phosphate 2-O-acyltransferase activity
GO:0008613	0.000109	9.127176	3.684704	diuretic hormone activity
GO:0008863	0.000109	9.127176	3.705409	formate dehydrogenase (NAD+) activity
GO:0047110	0.000109	9.127176	3.705409	phenylglyoxylate dehydrogenase (acylating) activity
GO:0036393	0.000109	9.127176	3.713572	thiocyanate peroxidase activity
GO:1904399	0.000109	9.127176	3.780395	heparan sulfate binding
GO:0005047	0.000109	9.127176	3.817712	signal recognition particle binding
GO:0071885	0.000109	9.127176	3.846595	N-terminal protein N-methyltransferase activity
GO:0004055	0.000109	9.127176	3.901973	argininosuccinate synthase activity
GO:0016636	0.000109	9.127176	3.918668	oxidoreductase activity, acting on the CH-CH group of donors, iron-sulfur protein as acceptor
GO:0017174	0.000109	9.127176	3.931826	glycine N-methyltransferase activity
GO:0018064	0.000109	9.127176	3.931826	protein-histidine N-methyltransferase activity
GO:0016002	0.000109	9.127176	3.960813	sulfite reductase activity
GO:0047389	0.000109	9.127176	3.988984	glycerophosphocholine phosphodiesterase activity
GO:0060182	0.000109	9.127176	4.016383	apelin receptor activity
GO:0003837	0.000109	9.127176	4.137830	beta-ureidopropionase activity
GO:0017064	0.000109	9.127176	4.137830	fatty acid amide hydrolase activity
GO:0042586	0.000109	9.127176	4.137830	peptide deformylase activity
GO:0008686	0.000109	9.127176	4.234107	3,4-dihydroxy-2-butanone-4-phosphate synthase activity
GO:0005128	0.000109	9.127176	4.283587	erythropoietin receptor binding
GO:0005146	0.000109	9.127176	4.283587	leukemia inhibitory factor receptor binding
GO:0005173	0.000109	9.127176	4.283587	stem cell factor receptor binding
GO:0001010	0.000109	9.127176	4.306315	RNA polymerase II sequence-specific DNA-binding transcription factor recruiting activity
GO:0003861	0.000109	9.127176	4.339467	3-isopropylmalate dehydratase activity
GO:0004664	0.000109	9.127176	4.339467	prephenate dehydratase activity
GO:0008460	0.000109	9.127176	4.339467	dTDP-glucose 4,6-dehydratase activity
GO:0008840	0.000109	9.127176	4.339467	4-hydroxy-tetrahydrodipicolinate synthase activity
GO:0008867	0.000109	9.127176	4.339467	galactarate dehydratase activity
GO:0016508	0.000109	9.127176	4.339467	long-chain-enoyl-CoA hydratase activity
GO:1905030	0.000109	9.127176	4.352426	voltage-gated ion channel activity involved in regulation of postsynaptic membrane potential
GO:0005119	0.000109	9.127176	4.422849	smoothened binding
GO:0031711	0.000109	9.127176	4.422849	bradykinin receptor binding
GO:0031768	0.000109	9.127176	4.422849	ghrelin receptor binding
GO:0031849	0.000109	9.127176	4.422849	olfactory receptor binding
GO:0005483	0.000109	9.127176	4.462069	soluble NSF attachment protein activity
GO:0000010	0.000109	9.127176	4.477337	trans-hexaprenyltranstransferase activity
GO:0003962	0.000109	9.127176	4.477337	cystathionine gamma-synthase activity
GO:0033850	0.000109	9.127176	4.477337	Z-farnesyl diphosphate synthase activity
GO:0034038	0.000109	9.127176	4.477337	deoxyhypusine synthase activity
GO:0050314	0.000109	9.127176	4.477337	sym-norspermidine synthase activity
GO:0050347	0.000109	9.127176	4.477337	trans-octaprenyltranstransferase activity
GO:0004341	0.000109	9.127176	4.505350	gluconolactonase activity
GO:0050185	0.000109	9.127176	4.505350	phosphatidylinositol deacylase activity
GO:0030735	0.000109	9.127176	4.611815	carnosine N-methyltransferase activity
GO:0030775	0.000109	9.127176	4.611815	glucuronoxylan 4-O-methyltransferase activity
GO:0004654	0.000109	9.127176	4.626605	polyribonucleotide nucleotidyltransferase activity
GO:0080107	0.000109	9.127176	4.817590	8-methylthiopropyl glucosinolate S-oxygenase activity
GO:0033907	0.000109	9.127176	4.849423	beta-D-fucosidase activity
GO:0004399	0.000109	9.127176	4.852030	histidinol dehydrogenase activity
GO:0008465	0.000109	9.127176	4.852030	glycerate dehydrogenase activity
GO:0018454	0.000109	9.127176	4.852030	acetoacetyl-CoA reductase activity
GO:0047681	0.000109	9.127176	4.852030	aryl-alcohol dehydrogenase (NADP+) activity
GO:0004047	0.000109	9.127176	4.904039	aminomethyltransferase activity
GO:0016898	0.000109	9.127176	4.980176	oxidoreductase activity, acting on the CH-OH group of donors, cytochrome as acceptor
GO:0047735	0.000109	9.127176	4.980176	cellobiose dehydrogenase (acceptor) activity
GO:0070644	0.000109	9.127176	5.006181	vitamin D response element binding
GO:0045140	0.000109	9.127176	5.050924	inositol phosphoceramide synthase activity
GO:0001616	0.000109	9.127176	5.125946	growth hormone secretagogue receptor activity
GO:0004992	0.000109	9.127176	5.125946	platelet activating factor receptor activity
GO:0004401	0.000109	9.127176	5.160013	histidinol-phosphatase activity
GO:0052642	0.000109	9.127176	5.160013	lysophosphatidic acid phosphatase activity
GO:0035877	0.000109	9.127176	5.352648	death effector domain binding
GO:0042731	0.000109	9.127176	5.352648	PH domain binding
GO:0097016	0.000109	9.127176	5.352648	L27 domain binding
GO:1990444	0.000109	9.127176	5.352648	F-box domain binding
GO:0045340	0.000109	9.127176	5.470869	mercury ion binding
GO:0005213	0.000109	9.127176	5.475766	structural constituent of egg chorion
GO:0000810	0.000109	9.127176	5.710427	diacylglycerol diphosphate phosphatase activity
GO:0008758	0.000109	9.127176	5.710427	UDP-2,3-diacylglucosamine hydrolase activity
GO:0019144	0.000109	9.127176	5.710427	ADP-sugar diphosphatase activity
GO:0034353	0.000109	9.127176	5.710427	RNA pyrophosphohydrolase activity
GO:0003998	0.000109	9.127176	5.716479	acylphosphatase activity
GO:0010428	0.000109	9.127176	5.786897	methyl-CpNpG binding
GO:0004704	0.000109	9.127176	5.804633	NF-kappaB-inducing kinase activity
GO:0035034	0.000109	9.127176	5.804633	histone acetyltransferase regulator activity
GO:0046871	0.000109	9.127176	5.832860	N-acetylgalactosamine binding
GO:0120170	0.000109	9.127176	6.003475	intraciliary transport particle B binding
GO:1904855	0.000109	9.127176	6.003475	proteasome regulatory particle binding
GO:1905762	0.000109	9.127176	6.003475	CCR4-NOT complex binding
GO:0038181	0.000109	9.127176	6.076877	bile acid receptor activity
GO:0032791	0.000109	9.127176	6.080315	lead ion binding
GO:0004417	0.000109	9.127176	6.091687	hydroxyethylthiazole kinase activity
GO:0008902	0.000109	9.127176	6.091687	hydroxymethylpyrimidine kinase activity
GO:0008906	0.000109	9.127176	6.091687	inosine kinase activity
GO:0042736	0.000109	9.127176	6.091687	NADH kinase activity
GO:0050201	0.000109	9.127176	6.091687	fucokinase activity
GO:1990605	0.000109	9.127176	6.122493	GU repeat RNA binding
GO:0034246	0.000109	9.127176	6.145258	mitochondrial sequence-specific DNA-binding transcription factor activity
GO:0001018	0.000109	9.127176	6.150603	mitochondrial promoter sequence-specific DNA binding
GO:0090722	0.000109	9.127176	6.194065	receptor-receptor interaction
GO:1990460	0.000109	9.127176	6.194065	leptin receptor binding
GO:1990890	0.000109	9.127176	6.194065	netrin receptor binding
GO:0044729	0.000109	9.127176	6.411271	hemi-methylated DNA-binding
GO:0000170	0.000109	9.127176	6.546546	sphingosine hydroxylase activity
GO:0015152	0.000109	9.127176	6.557725	glucose-6-phosphate transmembrane transporter activity
GO:0017077	0.000109	9.127176	6.557725	oxidative phosphorylation uncoupler activity
GO:0016824	0.000109	9.127176	7.193811	hydrolase activity, acting on acid halide bonds
GO:0071667	0.000109	9.127176	7.255709	DNA/RNA hybrid binding
GO:0019776	0.000109	9.127176	7.327671	Atg8 ligase activity
GO:0043532	0.000109	9.127176	8.430436	angiostatin binding
GO:0045152	0.000109	9.127176	8.430436	antisigma factor binding
GO:0070678	0.000109	9.127176	8.430436	preprotein binding
GO:0000035	0.000109	9.127176	8.690894	acyl binding
GO:0072328	0.000109	9.127176	8.690894	alkene binding
GO:0097243	0.000109	9.127176	8.690894	flavonoid binding
GO:0000213	0.000091	9.309498	0.000000	tRNA-intron endonuclease activity
GO:0003871	0.000091	9.309498	0.000000	5-methyltetrahydropteroyltriglutamate-homocysteine S-methyltransferase activity
GO:0004149	0.000091	9.309498	0.000000	dihydrolipoyllysine-residue succinyltransferase activity
GO:0004342	0.000091	9.309498	0.000000	glucosamine-6-phosphate deaminase activity
GO:0009885	0.000091	9.309498	0.000000	transmembrane histidine kinase cytokinin receptor activity
GO:0015233	0.000091	9.309498	0.000000	pantothenate transmembrane transporter activity
GO:0015275	0.000091	9.309498	0.000000	stretch-activated, cation-selective, calcium channel activity
GO:0015421	0.000091	9.309498	0.000000	ATPase-coupled oligopeptide transmembrane transporter activity
GO:0015432	0.000091	9.309498	0.000000	ATPase-coupled bile acid transmembrane transporter activity
GO:0016316	0.000091	9.309498	0.000000	phosphatidylinositol-3,4-bisphosphate 4-phosphatase activity
GO:0016751	0.000091	9.309498	0.000000	S-succinyltransferase activity
GO:0016807	0.000091	9.309498	0.000000	cysteine-type carboxypeptidase activity
GO:0030171	0.000091	9.309498	0.000000	voltage-gated proton channel activity
GO:0031418	0.000091	9.309498	0.000000	L-ascorbic acid binding
GO:0033919	0.000091	9.309498	0.000000	glucan 1,3-alpha-glucosidase activity
GO:0034875	0.000091	9.309498	0.000000	caffeine oxidase activity
GO:0042931	0.000091	9.309498	0.000000	enterobactin transmembrane transporter activity
GO:0042978	0.000091	9.309498	0.000000	ornithine decarboxylase activator activity
GO:0046623	0.000091	9.309498	0.000000	sphingolipid floppase activity
GO:0050583	0.000091	9.309498	0.000000	hydrogen dehydrogenase (NADP+) activity
GO:0050736	0.000091	9.309498	0.000000	O-malonyltransferase activity
GO:0051747	0.000091	9.309498	0.000000	cytosine C-5 DNA demethylase activity
GO:0061513	0.000091	9.309498	0.000000	glucose 6-phosphate:inorganic phosphate antiporter activity
GO:0061663	0.000091	9.309498	0.000000	NEDD8 ligase activity
GO:0070968	0.000091	9.309498	0.000000	pyrroloquinoline quinone binding
GO:0099104	0.000091	9.309498	0.000000	potassium channel activator activity
GO:1990760	0.000091	9.309498	0.000000	osmolarity-sensing cation channel activity
GO:0000215	0.000091	9.309498	0.182322	tRNA 2'-phosphotransferase activity
GO:0001156	0.000091	9.309498	0.182322	TFIIIC-class transcription factor complex binding
GO:0004458	0.000091	9.309498	0.182322	D-lactate dehydrogenase (cytochrome) activity
GO:0004978	0.000091	9.309498	0.182322	corticotropin receptor activity
GO:0005366	0.000091	9.309498	0.182322	myo-inositol:proton symporter activity
GO:0008700	0.000091	9.309498	0.182322	4-hydroxy-2-oxoglutarate aldolase activity
GO:0030549	0.000091	9.309498	0.182322	acetylcholine receptor activator activity
GO:0031835	0.000091	9.309498	0.182322	substance P receptor binding
GO:0031837	0.000091	9.309498	0.182322	substance K receptor binding
GO:0032033	0.000091	9.309498	0.182322	myosin II light chain binding
GO:0034649	0.000091	9.309498	0.182322	histone demethylase activity (H3-monomethyl-K4 specific)
GO:0036318	0.000091	9.309498	0.182322	peptide pheromone receptor activity
GO:0036524	0.000091	9.309498	0.182322	protein deglycase activity
GO:0045030	0.000091	9.309498	0.182322	G protein-coupled UTP receptor activity
GO:0051500	0.000091	9.309498	0.182322	D-tyrosyl-tRNA(Tyr) deacylase activity
GO:0061786	0.000091	9.309498	0.182322	peptidoglycan stem peptide endopeptidase activity
GO:0061891	0.000091	9.309498	0.182322	calcium ion sensor activity
GO:0140346	0.000091	9.309498	0.182322	phosphatidylserine flippase activity
GO:0005046	0.000091	9.309498	0.336472	KDEL sequence binding
GO:0005358	0.000091	9.309498	0.336472	high-affinity glucose:proton symporter activity
GO:0016040	0.000091	9.309498	0.336472	glutamate synthase (NADH) activity
GO:0044377	0.000091	9.309498	0.336472	RNA polymerase II cis-regulatory region sequence-specific DNA binding, bending
GO:0051717	0.000091	9.309498	0.336472	inositol-1,3,4,5-tetrakisphosphate 3-phosphatase activity
GO:0052929	0.000091	9.309498	0.336472	ATP:3'-cytidine-cytidine-tRNA adenylyltransferase activity
GO:0098973	0.000091	9.309498	0.336472	structural constituent of postsynaptic actin cytoskeleton
GO:0004077	0.000091	9.309498	0.470004	biotin-[acetyl-CoA-carboxylase] ligase activity
GO:0008979	0.000091	9.309498	0.470004	prophage integrase activity
GO:0031708	0.000091	9.309498	0.470004	endothelin B receptor binding
GO:0034191	0.000091	9.309498	0.470004	apolipoprotein A-I receptor binding
GO:0051022	0.000091	9.309498	0.470004	Rho GDP-dissociation inhibitor binding
GO:0061821	0.000091	9.309498	0.470004	telomeric D-loop binding
GO:0005308	0.000091	9.309498	0.587787	creatine transmembrane transporter activity
GO:0008480	0.000091	9.309498	0.587787	sarcosine dehydrogenase activity
GO:0032841	0.000091	9.309498	0.587787	calcitonin binding
GO:0047381	0.000091	9.309498	0.587787	dodecanoyl-[acyl-carrier-protein] hydrolase activity
GO:0047865	0.000091	9.309498	0.587787	dimethylglycine dehydrogenase activity
GO:0086075	0.000091	9.309498	0.587787	gap junction channel activity involved in cardiac conduction electrical coupling
GO:0000179	0.000091	9.309498	0.693147	rRNA (adenine-N6,N6-)-dimethyltransferase activity
GO:0008732	0.000091	9.309498	0.693147	L-allo-threonine aldolase activity
GO:0008750	0.000091	9.309498	0.693147	NAD(P)+ transhydrogenase (AB-specific) activity
GO:0015212	0.000091	9.309498	0.693147	cytidine transmembrane transporter activity
GO:0016696	0.000091	9.309498	0.693147	oxidoreductase activity, acting on hydrogen as donor, NAD or NADP as acceptor
GO:0019809	0.000091	9.309498	0.693147	spermidine binding
GO:0019834	0.000091	9.309498	0.693147	phospholipase A2 inhibitor activity
GO:0046525	0.000091	9.309498	0.693147	xylosylprotein 4-beta-galactosyltransferase activity
GO:0047220	0.000091	9.309498	0.693147	galactosylxylosylprotein 3-beta-galactosyltransferase activity
GO:0070004	0.000091	9.309498	0.693147	cysteine-type exopeptidase activity
GO:0070774	0.000091	9.309498	0.693147	phytoceramidase activity
GO:0102391	0.000091	9.309498	0.693147	decanoate-CoA ligase activity
GO:0000249	0.000091	9.309498	0.788457	C-22 sterol desaturase activity
GO:0004487	0.000091	9.309498	0.788457	methylenetetrahydrofolate dehydrogenase (NAD+) activity
GO:0042279	0.000091	9.309498	0.788457	nitrite reductase (cytochrome, ammonia-forming) activity
GO:0048257	0.000091	9.309498	0.788457	3'-flap endonuclease activity
GO:0051733	0.000091	9.309498	0.788457	polydeoxyribonucleotide kinase activity
GO:0080061	0.000091	9.309498	0.788457	indole-3-acetonitrile nitrilase activity
GO:1990931	0.000091	9.309498	0.788457	RNA N6-methyladenosine dioxygenase activity
GO:0001605	0.000091	9.309498	0.875469	adrenomedullin receptor activity
GO:0001632	0.000091	9.309498	0.875469	leukotriene B4 receptor activity
GO:0004948	0.000091	9.309498	0.875469	calcitonin receptor activity
GO:0005274	0.000091	9.309498	0.875469	allantoin:proton symporter activity
GO:0008989	0.000091	9.309498	0.875469	rRNA (guanine-N1-)-methyltransferase activity
GO:0035402	0.000091	9.309498	0.875469	histone kinase activity (H3-T11 specific)
GO:0072354	0.000091	9.309498	0.875469	histone kinase activity (H3-T3 specific)
GO:0097643	0.000091	9.309498	0.875469	amylin receptor activity
GO:0098808	0.000091	9.309498	0.875469	mRNA cap binding
GO:0015128	0.000091	9.309498	0.955511	gluconate transmembrane transporter activity
GO:0050338	0.000091	9.309498	0.955511	thiosulfate dehydrogenase activity
GO:0086089	0.000091	9.309498	0.955511	voltage-gated potassium channel activity involved in atrial cardiac muscle cell action potential repolarization
GO:0001681	0.000091	9.309498	1.029619	sialate O-acetylesterase activity
GO:0003920	0.000091	9.309498	1.029619	GMP reductase activity
GO:0004500	0.000091	9.309498	1.029619	dopamine beta-monooxygenase activity
GO:0010437	0.000091	9.309498	1.029619	9,10 (9', 10')-carotenoid-cleaving dioxygenase activity
GO:0050211	0.000091	9.309498	1.029619	procollagen galactosyltransferase activity
GO:0004776	0.000091	9.309498	1.098612	succinate-CoA ligase (GDP-forming) activity
GO:0018708	0.000091	9.309498	1.098612	thiol S-methyltransferase activity
GO:0050138	0.000091	9.309498	1.098612	nicotinate dehydrogenase activity
GO:0070737	0.000091	9.309498	1.098612	protein-glycine ligase activity, elongating
GO:0001646	0.000091	9.309498	1.163151	cAMP receptor activity
GO:0004141	0.000091	9.309498	1.163151	dethiobiotin synthase activity
GO:0030272	0.000091	9.309498	1.163151	5-formyltetrahydrofolate cyclo-ligase activity
GO:0031800	0.000091	9.309498	1.163151	type 3 metabotropic glutamate receptor binding
GO:0036469	0.000091	9.309498	1.163151	L-tryptophan decarboxylase activity
GO:0045031	0.000091	9.309498	1.163151	G protein-coupled ATP receptor activity
GO:0008798	0.000091	9.309498	1.223775	beta-aspartyl-peptidase activity
GO:0035662	0.000091	9.309498	1.223775	Toll-like receptor 4 binding
GO:0005052	0.000091	9.309498	1.280934	peroxisome matrix targeting signal-1 binding
GO:0005053	0.000091	9.309498	1.280934	peroxisome matrix targeting signal-2 binding
GO:0033678	0.000091	9.309498	1.280934	5'-3' DNA/RNA helicase activity
GO:0051266	0.000091	9.309498	1.280934	sirohydrochlorin ferrochelatase activity
GO:0001639	0.000091	9.309498	1.335001	PLC activating G protein-coupled glutamate receptor activity
GO:0003935	0.000091	9.309498	1.335001	GTP cyclohydrolase II activity
GO:0015045	0.000091	9.309498	1.335001	rubredoxin-NAD(P)+ reductase activity
GO:0015437	0.000091	9.309498	1.335001	lipopolysaccharide floppase activity
GO:0016362	0.000091	9.309498	1.335001	activin receptor activity, type II
GO:0042925	0.000091	9.309498	1.335001	benzoate transmembrane transporter activity
GO:0051870	0.000091	9.309498	1.335001	methotrexate binding
GO:0004780	0.000091	9.309498	1.386294	sulfate adenylyltransferase (ADP) activity
GO:0008982	0.000091	9.309498	1.386294	protein-N(PI)-phosphohistidine-sugar phosphotransferase activity
GO:0016149	0.000091	9.309498	1.386294	translation release factor activity, codon specific
GO:1901235	0.000091	9.309498	1.386294	(R)-carnitine transmembrane transporter activity
GO:0030629	0.000091	9.309498	1.435085	U6 snRNA 3'-end binding
GO:0016230	0.000091	9.309498	1.481605	sphingomyelin phosphodiesterase activator activity
GO:0001626	0.000091	9.309498	1.526056	nociceptin receptor activity
GO:0004394	0.000091	9.309498	1.526056	heparan sulfate 2-O-sulfotransferase activity
GO:0000297	0.000091	9.309498	1.568616	spermine transmembrane transporter activity
GO:0030429	0.000091	9.309498	1.568616	kynureninase activity
GO:0000310	0.000091	9.309498	1.648659	xanthine phosphoribosyltransferase activity
GO:0052657	0.000091	9.309498	1.648659	guanine phosphoribosyltransferase activity
GO:0008455	0.000091	9.309498	1.686399	alpha-1,6-mannosylglycoprotein 2-beta-N-acetylglucosaminyltransferase activity
GO:0080048	0.000091	9.309498	1.686399	GDP-D-glucose phosphorylase activity
GO:0031697	0.000091	9.309498	1.757858	beta-1 adrenergic receptor binding
GO:0034189	0.000091	9.309498	1.757858	very-low-density lipoprotein particle binding
GO:1990189	0.000091	9.309498	1.757858	peptide-serine-N-acetyltransferase activity
GO:0004851	0.000091	9.309498	1.791759	uroporphyrin-III C-methyltransferase activity
GO:0008482	0.000091	9.309498	1.791759	sulfite oxidase activity
GO:0052767	0.000091	9.309498	1.791759	mannosyl-oligosaccharide 1,6-alpha-mannosidase activity
GO:0120147	0.000091	9.309498	1.791759	Formylglycine-generating oxidase activity
GO:0031750	0.000091	9.309498	1.824549	D3 dopamine receptor binding
GO:0043183	0.000091	9.309498	1.824549	vascular endothelial growth factor receptor 1 binding
GO:0043185	0.000091	9.309498	1.824549	vascular endothelial growth factor receptor 3 binding
GO:0003848	0.000091	9.309498	1.887070	2-amino-4-hydroxy-6-hydroxymethyldihydropteridine diphosphokinase activity
GO:0004635	0.000091	9.309498	1.945910	phosphoribosyl-AMP cyclohydrolase activity
GO:0004699	0.000091	9.309498	1.945910	calcium-independent protein kinase C activity
GO:0005316	0.000091	9.309498	1.945910	high-affinity inorganic phosphate:sodium symporter activity
GO:0031544	0.000091	9.309498	1.945910	peptidyl-proline 3-dioxygenase activity
GO:0050105	0.000091	9.309498	1.945910	L-gulonolactone oxidase activity
GO:0072545	0.000091	9.309498	1.945910	tyrosine binding
GO:0004621	0.000091	9.309498	1.974081	glycosylphosphatidylinositol phospholipase D activity
GO:0035529	0.000091	9.309498	1.974081	NADH pyrophosphatase activity
GO:0070539	0.000091	9.309498	1.974081	linoleic acid binding
GO:0004835	0.000091	9.309498	2.001480	tubulin-tyrosine ligase activity
GO:0051700	0.000091	9.309498	2.001480	fructosyl-amino acid oxidase activity
GO:0032896	0.000091	9.309498	2.028148	palmitoyl-CoA 9-desaturase activity
GO:0070326	0.000091	9.309498	2.028148	very-low-density lipoprotein particle receptor binding
GO:0005298	0.000091	9.309498	2.054124	proline:sodium symporter activity
GO:0008776	0.000091	9.309498	2.104134	acetate kinase activity
GO:0043906	0.000091	9.309498	2.104134	Ala-tRNA(Pro) hydrolase activity
GO:0106105	0.000091	9.309498	2.104134	Ala-tRNA(Thr) hydrolase activity
GO:0004530	0.000091	9.309498	2.128232	deoxyribonuclease I activity
GO:0004956	0.000091	9.309498	2.128232	prostaglandin D receptor activity
GO:0033155	0.000091	9.309498	2.174752	oligogalacturonide transmembrane transporter activity
GO:0047517	0.000091	9.309498	2.174752	1,4-beta-D-xylan synthase activity
GO:0035539	0.000091	9.309498	2.197225	8-oxo-7,8-dihydrodeoxyguanosine triphosphate pyrophosphatase activity
GO:0036222	0.000091	9.309498	2.197225	XTP diphosphatase activity
GO:0052869	0.000091	9.309498	2.197225	arachidonic acid omega-hydroxylase activity
GO:0004423	0.000091	9.309498	2.240710	iduronate-2-sulfatase activity
GO:0086038	0.000091	9.309498	2.240710	calcium:sodium antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0030160	0.000091	9.309498	2.261763	synaptic receptor adaptor activity
GO:0003864	0.000091	9.309498	2.302585	3-methyl-2-oxobutanoate hydroxymethyltransferase activity
GO:0033695	0.000091	9.309498	2.302585	oxidoreductase activity, acting on CH or CH2 groups, quinone or similar compound as acceptor
GO:0052592	0.000091	9.309498	2.302585	oxidoreductase activity, acting on CH or CH2 groups, with an iron-sulfur protein as acceptor
GO:1902379	0.000091	9.309498	2.302585	chemoattractant activity involved in axon guidance
GO:0004397	0.000091	9.309498	2.322388	histidine ammonia-lyase activity
GO:0047461	0.000091	9.309498	2.322388	(+)-delta-cadinene synthase activity
GO:0032028	0.000091	9.309498	2.397895	myosin head/neck binding
GO:0072345	0.000091	9.309498	2.415914	NAADP-sensitive calcium-release channel activity
GO:0005174	0.000091	9.309498	2.433613	CD40 receptor binding
GO:0019779	0.000091	9.309498	2.468100	Atg8 activating enzyme activity
GO:0090600	0.000091	9.309498	2.484907	alpha-1,3-glucosidase activity
GO:1905060	0.000091	9.309498	2.501436	calcium:cation antiporter activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0015131	0.000091	9.309498	2.517696	oxaloacetate transmembrane transporter activity
GO:0008265	0.000091	9.309498	2.549445	Mo-molybdopterin cofactor sulfurase activity
GO:0009486	0.000091	9.309498	2.549445	cytochrome bo3 ubiquinol oxidase activity
GO:0070037	0.000091	9.309498	2.549445	rRNA (pseudouridine) methyltransferase activity
GO:0003835	0.000091	9.309498	2.564949	beta-galactoside alpha-2,6-sialyltransferase activity
GO:0004038	0.000091	9.309498	2.564949	allantoinase activity
GO:0033971	0.000091	9.309498	2.564949	hydroxyisourate hydrolase activity
GO:0000342	0.000091	9.309498	2.580217	RNA cap 4 binding
GO:0033207	0.000091	9.309498	2.580217	beta-1,4-N-acetylgalactosaminyltransferase activity
GO:0004604	0.000091	9.309498	2.610070	phosphoadenylyl-sulfate reductase (thioredoxin) activity
GO:0008426	0.000091	9.309498	2.653242	protein kinase C inhibitor activity
GO:0008747	0.000091	9.309498	2.708050	N-acetylneuraminate lyase activity
GO:0047777	0.000091	9.309498	2.708050	(S)-citramalyl-CoA lyase activity
GO:0050083	0.000091	9.309498	2.708050	malyl-CoA lyase activity
GO:0050295	0.000091	9.309498	2.760010	steryl-beta-glucosidase activity
GO:0001691	0.000091	9.309498	2.772589	pseudophosphatase activity
GO:0018445	0.000091	9.309498	2.772589	prothoracicotrophic hormone activity
GO:0047464	0.000091	9.309498	2.772589	heparosan-N-sulfate-glucuronate 5-epimerase activity
GO:0050373	0.000091	9.309498	2.772589	UDP-arabinose 4-epimerase activity
GO:0003905	0.000091	9.309498	2.809403	alkylbase DNA N-glycosylase activity
GO:0072582	0.000091	9.309498	2.833213	17-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0004150	0.000091	9.309498	2.844909	dihydroneopterin aldolase activity
GO:0008117	0.000091	9.309498	2.844909	sphinganine-1-phosphate aldolase activity
GO:0005135	0.000091	9.309498	2.901422	interleukin-3 receptor binding
GO:0004408	0.000091	9.309498	2.933857	holocytochrome-c synthase activity
GO:0015150	0.000091	9.309498	2.933857	fucose transmembrane transporter activity
GO:0016843	0.000091	9.309498	2.933857	amine-lyase activity
GO:0019148	0.000091	9.309498	2.933857	D-cysteine desulfhydrase activity
GO:0004131	0.000091	9.309498	2.965273	cytosine deaminase activity
GO:0050270	0.000091	9.309498	2.965273	S-adenosylhomocysteine deaminase activity
GO:0032574	0.000091	9.309498	2.985682	5'-3' RNA helicase activity
GO:1990856	0.000091	9.309498	3.005683	methionyl-initiator methionine tRNA binding
GO:0032051	0.000091	9.309498	3.034953	clathrin light chain binding
GO:0016155	0.000091	9.309498	3.044522	formyltetrahydrofolate dehydrogenase activity
GO:0052873	0.000091	9.309498	3.044522	FMN reductase (NADPH) activity
GO:0031078	0.000091	9.309498	3.054001	histone deacetylase activity (H3-K14 specific)
GO:0046810	0.000091	9.309498	3.054001	host cell extracellular matrix binding
GO:0051424	0.000091	9.309498	3.072693	corticotropin-releasing hormone binding
GO:0009899	0.000091	9.309498	3.081910	ent-kaurene synthase activity
GO:0046899	0.000091	9.309498	3.081910	nucleoside triphosphate adenylate kinase activity
GO:0050551	0.000091	9.309498	3.081910	myrcene synthase activity
GO:0016905	0.000091	9.309498	3.109061	myosin heavy chain kinase activity
GO:0004744	0.000091	9.309498	3.144152	retinal isomerase activity
GO:0050251	0.000091	9.309498	3.144152	retinol isomerase activity
GO:0080116	0.000091	9.309498	3.144152	glucuronoxylan glucuronosyltransferase activity
GO:0018738	0.000091	9.309498	3.152736	S-formylglutathione hydrolase activity
GO:0004592	0.000091	9.309498	3.218876	pantoate-beta-alanine ligase activity
GO:0008109	0.000091	9.309498	3.218876	N-acetyllactosaminide beta-1,6-N-acetylglucosaminyltransferase activity
GO:0033829	0.000091	9.309498	3.218876	O-fucosylpeptide 3-beta-N-acetylglucosaminyltransferase activity
GO:1990174	0.000091	9.309498	3.226844	phosphodiesterase decapping endonuclease activity
GO:0000095	0.000091	9.309498	3.242592	S-adenosyl-L-methionine transmembrane transporter activity
GO:0097748	0.000091	9.309498	3.250374	3'-5' RNA polymerase activity
GO:0004946	0.000091	9.309498	3.265759	bombesin receptor activity
GO:0035237	0.000091	9.309498	3.265759	corazonin receptor activity
GO:0046715	0.000091	9.309498	3.280911	active borate transmembrane transporter activity
GO:0004074	0.000091	9.309498	3.303217	biliverdin reductase activity
GO:0035671	0.000091	9.309498	3.303217	enone reductase activity
GO:0061714	0.000091	9.309498	3.303217	folic acid receptor activity
GO:0008718	0.000091	9.309498	3.310543	D-amino-acid dehydrogenase activity
GO:0000334	0.000091	9.309498	3.317816	3-hydroxyanthranilate 3,4-dioxygenase activity
GO:1990136	0.000091	9.309498	3.317816	linoleate 9S-lipoxygenase activity
GO:0003996	0.000091	9.309498	3.325036	acyl-CoA ligase activity
GO:0016207	0.000091	9.309498	3.325036	4-coumarate-CoA ligase activity
GO:0070290	0.000091	9.309498	3.325036	N-acylphosphatidylethanolamine-specific phospholipase D activity
GO:0004747	0.000091	9.309498	3.387774	ribokinase activity
GO:0009384	0.000091	9.309498	3.387774	N-acylmannosamine kinase activity
GO:0019150	0.000091	9.309498	3.387774	D-ribulokinase activity
GO:0004107	0.000091	9.309498	3.407842	chorismate synthase activity
GO:0004795	0.000091	9.309498	3.407842	threonine synthase activity
GO:0008111	0.000091	9.309498	3.414443	alpha-methylacyl-CoA racemase activity
GO:0008597	0.000091	9.309498	3.414443	calcium-dependent protein serine/threonine phosphatase regulator activity
GO:0017020	0.000091	9.309498	3.414443	myosin phosphatase regulator activity
GO:0052856	0.000091	9.309498	3.414443	NADHX epimerase activity
GO:0050113	0.000091	9.309498	3.427515	inositol oxygenase activity
GO:0045544	0.000091	9.309498	3.459466	gibberellin 20-oxidase activity
GO:0050341	0.000091	9.309498	3.459466	thymine dioxygenase activity
GO:0004573	0.000091	9.309498	3.465736	mannosyl-oligosaccharide glucosidase activity
GO:0051118	0.000091	9.309498	3.465736	glucan endo-1,3-alpha-glucosidase activity
GO:0015499	0.000091	9.309498	3.471966	formate transmembrane transporter activity
GO:0004919	0.000091	9.309498	3.502550	interleukin-9 receptor activity
GO:0004920	0.000091	9.309498	3.502550	interleukin-10 receptor activity
GO:0004924	0.000091	9.309498	3.502550	oncostatin-M receptor activity
GO:0047407	0.000091	9.309498	3.502550	ADP-ribosyl-[dinitrogen reductase] hydrolase activity
GO:0140293	0.000091	9.309498	3.502550	ADP-ribosylglutamate hydrolase activity
GO:0004015	0.000091	9.309498	3.526361	adenosylmethionine-8-amino-7-oxononanoate transaminase activity
GO:0004400	0.000091	9.309498	3.526361	histidinol-phosphate transaminase activity
GO:0004648	0.000091	9.309498	3.526361	O-phospho-L-serine:2-oxoglutarate aminotransferase activity
GO:0010285	0.000091	9.309498	3.526361	L,L-diaminopimelate aminotransferase activity
GO:0004581	0.000091	9.309498	3.555348	dolichyl-phosphate beta-glucosyltransferase activity
GO:0008919	0.000091	9.309498	3.555348	lipopolysaccharide glucosyltransferase I activity
GO:0034722	0.000091	9.309498	3.555348	gamma-glutamyl-peptidase activity
GO:0050403	0.000091	9.309498	3.555348	trans-zeatin O-beta-D-glucosyltransferase activity
GO:0032394	0.000091	9.309498	3.703768	MHC class Ib receptor activity
GO:0035718	0.000091	9.309498	3.742420	macrophage migration inhibitory factor binding
GO:0051916	0.000091	9.309498	3.742420	granulocyte colony-stimulating factor binding
GO:0099583	0.000091	9.309498	3.742420	neurotransmitter receptor activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0071567	0.000091	9.309498	3.779634	UFM1 hydrolase activity
GO:0004506	0.000091	9.309498	3.784190	squalene monooxygenase activity
GO:0010295	0.000091	9.309498	3.784190	(+)-abscisic acid 8'-hydroxylase activity
GO:0036199	0.000091	9.309498	3.784190	cholest-4-en-3-one 26-monooxygenase activity
GO:0050051	0.000091	9.309498	3.784190	leukotriene-B4 20-monooxygenase activity
GO:0103075	0.000091	9.309498	3.784190	indole-3-pyruvate monooxygenase activity
GO:0016862	0.000091	9.309498	3.793239	intramolecular oxidoreductase activity, interconverting keto- and enol-groups
GO:0008431	0.000091	9.309498	3.811097	vitamin E binding
GO:0140294	0.000091	9.309498	3.819908	NAD DNA ADP-ribosyltransferase activity
GO:0004425	0.000091	9.309498	3.841601	indole-3-glycerol-phosphate synthase activity
GO:0004737	0.000091	9.309498	3.841601	pyruvate decarboxylase activity
GO:0008488	0.000091	9.309498	3.841601	gamma-glutamyl carboxylase activity
GO:0008836	0.000091	9.309498	3.841601	diaminopimelate decarboxylase activity
GO:0008948	0.000091	9.309498	3.841601	oxaloacetate decarboxylase activity
GO:0004607	0.000091	9.309498	3.854394	phosphatidylcholine-sterol O-acyltransferase activity
GO:0032216	0.000091	9.309498	3.854394	glucosaminyl-phosphatidylinositol O-acyltransferase activity
GO:0004073	0.000091	9.309498	3.887730	aspartate-semialdehyde dehydrogenase activity
GO:0008886	0.000091	9.309498	3.887730	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (non-phosphorylating) activity
GO:0016688	0.000091	9.309498	3.895894	L-ascorbate peroxidase activity
GO:0044373	0.000091	9.309498	3.947390	cytokinin binding
GO:0045156	0.000091	9.309498	3.947390	electron transporter, transferring electrons within the cyclic electron transport pathway of photosynthesis activity
GO:0140032	0.000091	9.309498	3.958907	glycosylation-dependent protein binding
GO:0099103	0.000091	9.309498	4.039536	channel activator activity
GO:0004075	0.000091	9.309498	4.084294	biotin carboxylase activity
GO:0102053	0.000091	9.309498	4.084294	(-)-jasmonoyl-isoleucine synthetase activity
GO:0102057	0.000091	9.309498	4.084294	jasmonoyl-valine synthetase activity
GO:0102058	0.000091	9.309498	4.084294	jasmonoyl-leucine synthetase activity
GO:0000773	0.000091	9.309498	4.114147	phosphatidyl-N-methylethanolamine N-methyltransferase activity
GO:0004608	0.000091	9.309498	4.114147	phosphatidylethanolamine N-methyltransferase activity
GO:0052729	0.000091	9.309498	4.114147	dimethylglycine N-methyltransferase activity
GO:0052730	0.000091	9.309498	4.114147	sarcosine N-methyltransferase activity
GO:0080101	0.000091	9.309498	4.114147	phosphatidyl-N-dimethylethanolamine N-methyltransferase activity
GO:0009973	0.000091	9.309498	4.143135	adenylyl-sulfate reductase activity
GO:1990829	0.000091	9.309498	4.158883	C-rich single-stranded DNA binding
GO:0043404	0.000091	9.309498	4.271095	corticotropin-releasing hormone receptor activity
GO:0008418	0.000091	9.309498	4.320151	protein-N-terminal asparagine amidohydrolase activity
GO:0036055	0.000091	9.309498	4.320151	protein-succinyllysine desuccinylase activity
GO:0003786	0.000091	9.309498	4.330733	actin lateral binding
GO:0015453	0.000091	9.309498	4.366913	oxidoreduction-driven active transmembrane transporter activity
GO:0005157	0.000091	9.309498	4.465908	macrophage colony-stimulating factor receptor binding
GO:0015098	0.000091	9.309498	4.502029	molybdate ion transmembrane transporter activity
GO:0004160	0.000091	9.309498	4.521789	dihydroxy-acid dehydratase activity
GO:0008869	0.000091	9.309498	4.521789	galactonate dehydratase activity
GO:0047453	0.000091	9.309498	4.521789	ATP-dependent NAD(P)H-hydrate dehydratase activity
GO:0031871	0.000091	9.309498	4.605170	proteinase activated receptor binding
GO:0031893	0.000091	9.309498	4.605170	vasopressin receptor binding
GO:0004741	0.000091	9.309498	4.617099	[pyruvate dehydrogenase (lipoamide)] phosphatase activity
GO:0000906	0.000091	9.309498	4.659658	6,7-dimethyl-8-ribityllumazine synthase activity
GO:0003866	0.000091	9.309498	4.659658	3-phosphoshikimate 1-carboxyvinyltransferase activity
GO:0004789	0.000091	9.309498	4.659658	thiamine-phosphate diphosphorylase activity
GO:0043918	0.000091	9.309498	4.659658	cadaverine aminopropyltransferase activity
GO:0043919	0.000091	9.309498	4.659658	agmatine aminopropyltransferase activity
GO:0046573	0.000091	9.309498	4.687671	lactonohydrolase activity
GO:0050528	0.000091	9.309498	4.687671	acyloxyacyl hydrolase activity
GO:0052885	0.000091	9.309498	4.687671	all-trans-retinyl-ester hydrolase, 11-cis retinol forming activity
GO:1990699	0.000091	9.309498	4.687671	palmitoleyl hydrolase activity
GO:0045289	0.000091	9.309498	4.741448	luciferin monooxygenase activity
GO:0010420	0.000091	9.309498	4.794136	3,4-dihydroxy-5-polyprenylbenzoic acid O-methyltransferase activity
GO:0030744	0.000091	9.309498	4.794136	luteolin O-methyltransferase activity
GO:0061501	0.000091	9.309498	4.808927	cyclic-GMP-AMP synthase activity
GO:0120091	0.000091	9.309498	4.887337	jasmonic acid hydrolase
GO:0080103	0.000091	9.309498	4.999911	4-methylthiopropyl glucosinolate S-oxygenase activity
GO:0033906	0.000091	9.309498	5.031744	hyaluronoglucuronidase activity
GO:0033925	0.000091	9.309498	5.031744	mannosyl-glycoprotein endo-beta-N-acetylglucosaminidase activity
GO:0047701	0.000091	9.309498	5.031744	beta-L-arabinosidase activity
GO:0051670	0.000091	9.309498	5.031744	inulinase activity
GO:0004757	0.000091	9.309498	5.034352	sepiapterin reductase activity
GO:0008677	0.000091	9.309498	5.034352	2-dehydropantoate 2-reductase activity
GO:0008831	0.000091	9.309498	5.034352	dTDP-4-dehydrorhamnose reductase activity
GO:0016404	0.000091	9.309498	5.034352	15-hydroxyprostaglandin dehydrogenase (NAD+) activity
GO:0033707	0.000091	9.309498	5.034352	3''-deamino-3''-oxonicotianamine reductase activity
GO:0045290	0.000091	9.309498	5.034352	D-arabinose 1-dehydrogenase [NAD(P)+] activity
GO:0047036	0.000091	9.309498	5.034352	codeinone reductase (NADPH) activity
GO:0047910	0.000091	9.309498	5.034352	galactose 1-dehydrogenase (NADP+) activity
GO:0050019	0.000091	9.309498	5.034352	L-arabinitol 4-dehydrogenase activity
GO:1990042	0.000091	9.309498	5.034352	glycerol dehydrogenase [NAD(P)+] activity
GO:0042085	0.000091	9.309498	5.086361	5-methyltetrahydropteroyltri-L-glutamate-dependent methyltransferase activity
GO:0043852	0.000091	9.309498	5.086361	monomethylamine methyltransferase activity
GO:0003833	0.000091	9.309498	5.098646	beta-alanyl-dopamine synthase activity
GO:0019154	0.000091	9.309498	5.162498	glycolate dehydrogenase activity
GO:0045703	0.000091	9.309498	5.162498	ketoreductase activity
GO:0032810	0.000091	9.309498	5.188503	sterol response element binding
GO:0042296	0.000091	9.309498	5.188503	ISG15 transferase activity
GO:0017118	0.000091	9.309498	5.306286	lipoyltransferase activity
GO:0033819	0.000091	9.309498	5.306286	lipoyl(octanoyl) transferase activity
GO:0004999	0.000091	9.309498	5.308268	vasoactive intestinal polypeptide receptor activity
GO:0015056	0.000091	9.309498	5.308268	corticotrophin-releasing factor receptor activity
GO:0042654	0.000091	9.309498	5.308268	ecdysis-triggering hormone receptor activity
GO:0099530	0.000091	9.309498	5.308268	G protein-coupled receptor activity involved in regulation of postsynaptic membrane potential
GO:0000121	0.000091	9.309498	5.342334	glycerol-1-phosphatase activity
GO:0002953	0.000091	9.309498	5.342334	5'-deoxynucleotidase activity
GO:0004063	0.000091	9.309498	5.342334	aryldialkylphosphatase activity
GO:0033883	0.000091	9.309498	5.342334	pyridoxal phosphatase activity
GO:0034416	0.000091	9.309498	5.342334	bisphosphoglycerate phosphatase activity
GO:1901683	0.000091	9.309498	5.356586	arsenate ion transmembrane transporter activity
GO:0032090	0.000091	9.309498	5.534969	Pyrin domain binding
GO:0043398	0.000091	9.309498	5.534969	HLH domain binding
GO:0071535	0.000091	9.309498	5.534969	RING-like zinc finger domain binding
GO:1990525	0.000091	9.309498	5.534969	BIR domain binding
GO:0008920	0.000091	9.309498	5.591733	lipopolysaccharide heptosyltransferase activity
GO:0004676	0.000091	9.309498	5.610204	3-phosphoinositide-dependent protein kinase activity
GO:0004677	0.000091	9.309498	5.610204	DNA-dependent protein kinase activity
GO:0016848	0.000091	9.309498	5.653191	carbon-halide lyase activity
GO:0004636	0.000091	9.309498	5.892749	phosphoribosyl-ATP diphosphatase activity
GO:0008768	0.000091	9.309498	5.892749	UDP-sugar diphosphatase activity
GO:0047874	0.000091	9.309498	5.892749	dolichyldiphosphatase activity
GO:0050380	0.000091	9.309498	5.892749	undecaprenyl-diphosphatase activity
GO:0010429	0.000091	9.309498	5.969219	methyl-CpNpN binding
GO:0008158	0.000091	9.309498	6.010777	hedgehog receptor activity
GO:0120160	0.000091	9.309498	6.185797	intraciliary transport particle A binding
GO:1904288	0.000091	9.309498	6.185797	BAT3 complex binding
GO:0070053	0.000091	9.309498	6.259199	thrombospondin receptor activity
GO:0046911	0.000091	9.309498	6.262636	metal chelating activity
GO:0004371	0.000091	9.309498	6.274008	glycerone kinase activity
GO:0004496	0.000091	9.309498	6.274008	mevalonate kinase activity
GO:0008531	0.000091	9.309498	6.274008	riboflavin kinase activity
GO:0046316	0.000091	9.309498	6.274008	gluconokinase activity
GO:0047324	0.000091	9.309498	6.274008	phosphoenolpyruvate-glycerone phosphotransferase activity
GO:0034336	0.000091	9.309498	6.304814	misfolded RNA binding
GO:0005118	0.000091	9.309498	6.376387	sevenless binding
GO:0042610	0.000091	9.309498	6.376387	CD8 receptor binding
GO:0031634	0.000091	9.309498	6.493754	replication fork barrier binding
GO:0071890	0.000091	9.309498	6.497680	bicarbonate binding
GO:0035226	0.000091	9.309498	6.703924	glutamate-cysteine ligase catalytic subunit binding
GO:0003826	0.000091	9.309498	6.728868	alpha-ketoacid dehydrogenase activity
GO:0030613	0.000091	9.309498	6.728868	oxidoreductase activity, acting on phosphorus or arsenic in donors
GO:0046992	0.000091	9.309498	6.728868	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond
GO:0015603	0.000091	9.309498	6.740046	iron chelate transmembrane transporter activity
GO:0035379	0.000091	9.309498	6.740046	carbon dioxide transmembrane transporter activity
GO:0010844	0.000091	9.309498	7.088409	recombination hotspot binding
GO:0045142	0.000091	9.309498	7.088409	triplex DNA binding
GO:0000031	0.000091	9.309498	7.509993	mannosylphosphate transferase activity
GO:0034617	0.000091	9.309498	7.675732	tetrahydrobiopterin binding
GO:0031682	0.000091	9.309498	8.612758	G-protein gamma-subunit binding
GO:0005163	0.000072	9.532641	0.000000	nerve growth factor receptor binding
GO:0005291	0.000072	9.532641	0.000000	high-affinity L-histidine transmembrane transporter activity
GO:0005367	0.000072	9.532641	0.000000	myo-inositol:sodium symporter activity
GO:0005477	0.000072	9.532641	0.000000	pyruvate secondary active transmembrane transporter activity
GO:0008425	0.000072	9.532641	0.000000	2-polyprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0008458	0.000072	9.532641	0.000000	carnitine O-octanoyltransferase activity
GO:0008507	0.000072	9.532641	0.000000	sodium:iodide symporter activity
GO:0008518	0.000072	9.532641	0.000000	folate:anion antiporter activity
GO:0008794	0.000072	9.532641	0.000000	arsenate reductase (glutaredoxin) activity
GO:0008832	0.000072	9.532641	0.000000	dGTPase activity
GO:0008883	0.000072	9.532641	0.000000	glutamyl-tRNA reductase activity
GO:0010855	0.000072	9.532641	0.000000	adenylate cyclase inhibitor activity
GO:0015132	0.000072	9.532641	0.000000	prostaglandin transmembrane transporter activity
GO:0015244	0.000072	9.532641	0.000000	fluconazole transmembrane transporter activity
GO:0015366	0.000072	9.532641	0.000000	malate:proton symporter activity
GO:0015375	0.000072	9.532641	0.000000	glycine:sodium symporter activity
GO:0015389	0.000072	9.532641	0.000000	pyrimidine- and adenine-specific:sodium symporter activity
GO:0015417	0.000072	9.532641	0.000000	ATPase-coupled polyamine transmembrane transporter activity
GO:0015422	0.000072	9.532641	0.000000	ATPase-coupled oligosaccharide transmembrane transporter activity
GO:0015423	0.000072	9.532641	0.000000	ATPase-coupled maltose transmembrane transporter activity
GO:0015424	0.000072	9.532641	0.000000	ATPase-coupled amino acid transmembrane transporter activity
GO:0015495	0.000072	9.532641	0.000000	gamma-aminobutyric acid:proton symporter activity
GO:0015505	0.000072	9.532641	0.000000	uracil:cation symporter activity
GO:0015506	0.000072	9.532641	0.000000	nucleoside:proton symporter activity
GO:0015565	0.000072	9.532641	0.000000	threonine efflux transmembrane transporter activity
GO:0015595	0.000072	9.532641	0.000000	ATPase-coupled spermidine transmembrane transporter activity
GO:0016163	0.000072	9.532641	0.000000	nitrogenase activity
GO:0016263	0.000072	9.532641	0.000000	glycoprotein-N-acetylgalactosamine 3-beta-galactosyltransferase activity
GO:0016760	0.000072	9.532641	0.000000	cellulose synthase (UDP-forming) activity
GO:0018392	0.000072	9.532641	0.000000	glycoprotein 3-alpha-L-fucosyltransferase activity
GO:0019797	0.000072	9.532641	0.000000	procollagen-proline 3-dioxygenase activity
GO:0022870	0.000072	9.532641	0.000000	protein-N(PI)-phosphohistidine-mannose phosphotransferase system transporter activity
GO:0030409	0.000072	9.532641	0.000000	glutamate formimidoyltransferase activity
GO:0032037	0.000072	9.532641	0.000000	myosin I heavy chain binding
GO:0032567	0.000072	9.532641	0.000000	dGTP binding
GO:0034188	0.000072	9.532641	0.000000	apolipoprotein A-I receptor activity
GO:0034611	0.000072	9.532641	0.000000	oligoribonucleotidase activity
GO:0034632	0.000072	9.532641	0.000000	retinol transmembrane transporter activity
GO:0038062	0.000072	9.532641	0.000000	protein tyrosine kinase collagen receptor activity
GO:0042912	0.000072	9.532641	0.000000	colicin transmembrane transporter activity
GO:0042945	0.000072	9.532641	0.000000	D-serine transmembrane transporter activity
GO:0042950	0.000072	9.532641	0.000000	salicin transmembrane transporter activity
GO:0043110	0.000072	9.532641	0.000000	rDNA spacer replication fork barrier binding
GO:0043333	0.000072	9.532641	0.000000	2-octaprenyl-6-methoxy-1,4-benzoquinone methylase activity
GO:0046811	0.000072	9.532641	0.000000	histone deacetylase inhibitor activity
GO:0051032	0.000072	9.532641	0.000000	nucleic acid transmembrane transporter activity
GO:0051736	0.000072	9.532641	0.000000	ATP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0051978	0.000072	9.532641	0.000000	lysophospholipid:sodium symporter activity
GO:0052665	0.000072	9.532641	0.000000	tRNA (uracil-2'-O-)-methyltransferase activity
GO:0052720	0.000072	9.532641	0.000000	class II DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0052757	0.000072	9.532641	0.000000	chondroitin hydrolase activity
GO:0061503	0.000072	9.532641	0.000000	tRNA threonylcarbamoyladenosine dehydratase
GO:0061649	0.000072	9.532641	0.000000	ubiquitin modification-dependent histone binding
GO:0062189	0.000072	9.532641	0.000000	anandamide 14,15 epoxidase activity
GO:0070041	0.000072	9.532641	0.000000	rRNA (uridine-C5-)-methyltransferase activity
GO:0070042	0.000072	9.532641	0.000000	rRNA (uridine-N3-)-methyltransferase activity
GO:0070854	0.000072	9.532641	0.000000	myosin VI heavy chain binding
GO:0099534	0.000072	9.532641	0.000000	calcium ion binding involved in regulation of presynaptic cytosolic calcium ion concentration
GO:0140068	0.000072	9.532641	0.000000	histone crotonyltransferase activity
GO:1903089	0.000072	9.532641	0.000000	5-amino-1-ribofuranosylimidazole-4-carboxamide transmembrane transporter activity
GO:1903231	0.000072	9.532641	0.000000	mRNA binding involved in posttranscriptional gene silencing
GO:0004395	0.000072	9.532641	0.223144	hexaprenyldihydroxybenzoate methyltransferase activity
GO:0004878	0.000072	9.532641	0.223144	complement component C5a receptor activity
GO:0008888	0.000072	9.532641	0.223144	glycerol dehydrogenase [NAD+] activity
GO:0009670	0.000072	9.532641	0.223144	triose-phosphate:phosphate antiporter activity
GO:0015647	0.000072	9.532641	0.223144	peptidoglycan transmembrane transporter activity
GO:0030614	0.000072	9.532641	0.223144	oxidoreductase activity, acting on phosphorus or arsenic in donors, disulfide as acceptor
GO:0031894	0.000072	9.532641	0.223144	V1A vasopressin receptor binding
GO:0033823	0.000072	9.532641	0.223144	procollagen glucosyltransferase activity
GO:0046404	0.000072	9.532641	0.223144	ATP-dependent polydeoxyribonucleotide 5'-hydroxyl-kinase activity
GO:0046429	0.000072	9.532641	0.223144	4-hydroxy-3-methylbut-2-en-1-yl diphosphate synthase activity
GO:0046993	0.000072	9.532641	0.223144	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with oxygen as acceptor
GO:0050178	0.000072	9.532641	0.223144	phenylpyruvate tautomerase activity
GO:0060175	0.000072	9.532641	0.223144	brain-derived neurotrophic factor-activated receptor activity
GO:0070039	0.000072	9.532641	0.223144	rRNA (guanosine-2'-O-)-methyltransferase activity
GO:0086077	0.000072	9.532641	0.223144	gap junction channel activity involved in AV node cell-bundle of His cell electrical coupling
GO:0097604	0.000072	9.532641	0.223144	temperature-gated cation channel activity
GO:0098641	0.000072	9.532641	0.223144	cadherin binding involved in cell-cell adhesion
GO:0099038	0.000072	9.532641	0.223144	ceramide floppase activity
GO:0004026	0.000072	9.532641	0.405465	alcohol O-acetyltransferase activity
GO:0004961	0.000072	9.532641	0.405465	thromboxane A2 receptor activity
GO:0008403	0.000072	9.532641	0.405465	25-hydroxycholecalciferol-24-hydroxylase activity
GO:0031713	0.000072	9.532641	0.405465	B2 bradykinin receptor binding
GO:0080016	0.000072	9.532641	0.405465	(-)-E-beta-caryophyllene synthase activity
GO:1901680	0.000072	9.532641	0.405465	sulfur-containing amino acid secondary active transmembrane transporter activity
GO:1902098	0.000072	9.532641	0.405465	calcitriol binding
GO:1902121	0.000072	9.532641	0.405465	lithocholic acid binding
GO:0004380	0.000072	9.532641	0.559616	glycoprotein-fucosylgalactoside alpha-N-acetylgalactosaminyltransferase activity
GO:0015398	0.000072	9.532641	0.559616	high-affinity secondary active ammonium transmembrane transporter activity
GO:0016432	0.000072	9.532641	0.559616	tRNA-uridine aminocarboxypropyltransferase activity
GO:0032556	0.000072	9.532641	0.559616	pyrimidine deoxyribonucleotide binding
GO:0032560	0.000072	9.532641	0.559616	guanyl deoxyribonucleotide binding
GO:0033842	0.000072	9.532641	0.559616	N-acetyl-beta-glucosaminyl-glycoprotein 4-beta-N-acetylgalactosaminyltransferase activity
GO:0034988	0.000072	9.532641	0.559616	Fc-gamma receptor I complex binding
GO:0035597	0.000072	9.532641	0.559616	N6-isopentenyladenosine methylthiotransferase activity
GO:0044603	0.000072	9.532641	0.559616	protein adenylylhydrolase activity
GO:0052381	0.000072	9.532641	0.559616	tRNA dimethylallyltransferase activity
GO:0080109	0.000072	9.532641	0.559616	indole-3-acetonitrile nitrile hydratase activity
GO:0099184	0.000072	9.532641	0.559616	structural constituent of postsynaptic intermediate filament cytoskeleton
GO:1904929	0.000072	9.532641	0.559616	coreceptor activity involved in Wnt signaling pathway, planar cell polarity pathway
GO:0004085	0.000072	9.532641	0.693147	butyryl-CoA dehydrogenase activity
GO:0004923	0.000072	9.532641	0.693147	leukemia inhibitory factor receptor activity
GO:0005018	0.000072	9.532641	0.693147	platelet-derived growth factor alpha-receptor activity
GO:0009037	0.000072	9.532641	0.693147	tyrosine-based site-specific recombinase activity
GO:0015431	0.000072	9.532641	0.693147	ATPase-coupled glutathione S-conjugate transmembrane transporter activity
GO:0019959	0.000072	9.532641	0.693147	interleukin-8 binding
GO:0031707	0.000072	9.532641	0.693147	endothelin A receptor binding
GO:0031826	0.000072	9.532641	0.693147	type 2A serotonin receptor binding
GO:0031843	0.000072	9.532641	0.693147	type 2 neuropeptide Y receptor binding
GO:0032142	0.000072	9.532641	0.693147	single guanine insertion binding
GO:0086056	0.000072	9.532641	0.693147	voltage-gated calcium channel activity involved in AV node cell action potential
GO:0086059	0.000072	9.532641	0.693147	voltage-gated calcium channel activity involved SA node cell action potential
GO:0008459	0.000072	9.532641	0.810930	chondroitin 6-sulfotransferase activity
GO:0008891	0.000072	9.532641	0.810930	glycolate oxidase activity
GO:0016295	0.000072	9.532641	0.810930	myristoyl-[acyl-carrier-protein] hydrolase activity
GO:0016296	0.000072	9.532641	0.810930	palmitoyl-[acyl-carrier-protein] hydrolase activity
GO:0022885	0.000072	9.532641	0.810930	bacteriocin transmembrane transporter activity
GO:0031686	0.000072	9.532641	0.810930	A1 adenosine receptor binding
GO:0031687	0.000072	9.532641	0.810930	A2A adenosine receptor binding
GO:0046526	0.000072	9.532641	0.810930	D-xylulose reductase activity
GO:0047713	0.000072	9.532641	0.810930	galactitol 2-dehydrogenase activity
GO:0070698	0.000072	9.532641	0.810930	type I activin receptor binding
GO:0070699	0.000072	9.532641	0.810930	type II activin receptor binding
GO:0004876	0.000072	9.532641	0.916291	complement component C3a receptor activity
GO:0004941	0.000072	9.532641	0.916291	beta2-adrenergic receptor activity
GO:0046995	0.000072	9.532641	0.916291	oxidoreductase activity, acting on hydrogen as donor, with other known acceptors
GO:0047052	0.000072	9.532641	0.916291	(S)-stylopine synthase activity
GO:0050524	0.000072	9.532641	0.916291	coenzyme-B sulfoethylthiotransferase activity
GO:0080139	0.000072	9.532641	0.916291	borate efflux transmembrane transporter activity
GO:0004918	0.000072	9.532641	1.011601	interleukin-8 receptor activity
GO:0030696	0.000072	9.532641	1.011601	tRNA (m5U54) methyltransferase activity
GO:0031721	0.000072	9.532641	1.011601	hemoglobin alpha binding
GO:0047427	0.000072	9.532641	1.011601	cyanoalanine nitrilase activity
GO:0051431	0.000072	9.532641	1.011601	corticotropin-releasing hormone receptor 2 binding
GO:0070027	0.000072	9.532641	1.011601	carbon monoxide sensor activity
GO:0070337	0.000072	9.532641	1.011601	3'-flap-structured DNA binding
GO:1905773	0.000072	9.532641	1.011601	8-hydroxy-2'-deoxyguanosine DNA binding
GO:0008123	0.000072	9.532641	1.098612	cholesterol 7-alpha-monooxygenase activity
GO:0047821	0.000072	9.532641	1.098612	D-glutamate oxidase activity
GO:0000701	0.000072	9.532641	1.178655	purine-specific mismatch base pair DNA N-glycosylase activity
GO:0001596	0.000072	9.532641	1.178655	angiotensin type I receptor activity
GO:0008928	0.000072	9.532641	1.178655	mannose-1-phosphate guanylyltransferase (GDP) activity
GO:0015573	0.000072	9.532641	1.178655	beta-glucoside transmembrane transporter activity
GO:0034736	0.000072	9.532641	1.178655	cholesterol O-acyltransferase activity
GO:0052717	0.000072	9.532641	1.178655	tRNA-specific adenosine-34 deaminase activity
GO:0031963	0.000072	9.532641	1.252763	cortisol receptor activity
GO:0046575	0.000072	9.532641	1.252763	rhamnogalacturonan acetylesterase activity
GO:0080007	0.000072	9.532641	1.252763	S-nitrosoglutathione reductase activity
GO:0005153	0.000072	9.532641	1.321756	interleukin-8 receptor binding
GO:0008412	0.000072	9.532641	1.321756	4-hydroxybenzoate octaprenyltransferase activity
GO:0015148	0.000072	9.532641	1.321756	D-xylose transmembrane transporter activity
GO:0015591	0.000072	9.532641	1.321756	D-ribose transmembrane transporter activity
GO:0042900	0.000072	9.532641	1.321756	arabinose transmembrane transporter activity
GO:0047326	0.000072	9.532641	1.321756	inositol tetrakisphosphate 5-kinase activity
GO:0008930	0.000072	9.532641	1.386294	methylthioadenosine nucleosidase activity
GO:0015636	0.000072	9.532641	1.386294	short-chain fatty acid transmembrane transporter activity
GO:0038006	0.000072	9.532641	1.386294	netrin receptor activity involved in chemoattraction
GO:0047622	0.000072	9.532641	1.386294	adenosine nucleosidase activity
GO:0052654	0.000072	9.532641	1.386294	L-leucine transaminase activity
GO:0090585	0.000072	9.532641	1.386294	protein-phosphocysteine-L-ascorbate-phosphotransferase system transporter activity
GO:0047571	0.000072	9.532641	1.446919	3-oxosteroid 1-dehydrogenase activity
GO:0015633	0.000072	9.532641	1.504077	ATPase-coupled zinc transmembrane transporter activity
GO:0031531	0.000072	9.532641	1.504077	thyrotropin-releasing hormone receptor binding
GO:0033328	0.000072	9.532641	1.504077	peroxisome membrane targeting sequence binding
GO:0036264	0.000072	9.532641	1.504077	dopamine monooxygenase activity
GO:0050797	0.000072	9.532641	1.504077	thymidylate synthase (FAD) activity
GO:0001165	0.000072	9.532641	1.558145	RNA polymerase I cis-regulatory region sequence-specific DNA binding
GO:0051063	0.000072	9.532641	1.609438	CDP reductase activity
GO:0120019	0.000072	9.532641	1.609438	phosphatidylcholine transfer activity
GO:0005294	0.000072	9.532641	1.658228	neutral L-amino acid secondary active transmembrane transporter activity
GO:0051718	0.000072	9.532641	1.658228	DNA (cytosine-5-)-methyltransferase activity, acting on CpG substrates
GO:1990447	0.000072	9.532641	1.658228	U2 snRNP binding
GO:0008890	0.000072	9.532641	1.704748	glycine C-acetyltransferase activity
GO:0016005	0.000072	9.532641	1.704748	phospholipase A2 activator activity
GO:0046538	0.000072	9.532641	1.704748	2,3-bisphosphoglycerate-dependent phosphoglycerate mutase activity
GO:0097158	0.000072	9.532641	1.749200	pre-mRNA intronic pyrimidine-rich binding
GO:0016509	0.000072	9.532641	1.791759	long-chain-3-hydroxyacyl-CoA dehydrogenase activity
GO:0032866	0.000072	9.532641	1.791759	D-xylose:NADP reductase activity
GO:0033608	0.000072	9.532641	1.791759	formyl-CoA transferase activity
GO:0060230	0.000072	9.532641	1.791759	lipoprotein lipase activator activity
GO:0003911	0.000072	9.532641	1.871802	DNA ligase (NAD+) activity
GO:0030298	0.000072	9.532641	1.871802	receptor signaling protein tyrosine kinase activator activity
GO:0003829	0.000072	9.532641	1.909543	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0005026	0.000072	9.532641	1.909543	transforming growth factor beta receptor activity, type II
GO:0015362	0.000072	9.532641	1.909543	high-affinity sodium:dicarboxylate symporter activity
GO:0016732	0.000072	9.532641	1.909543	oxidoreductase activity, acting on iron-sulfur proteins as donors, dinitrogen as acceptor
GO:0070123	0.000072	9.532641	1.909543	transforming growth factor beta receptor activity, type III
GO:0090486	0.000072	9.532641	1.945910	small RNA 2'-O-methyltransferase
GO:0097079	0.000072	9.532641	1.945910	selenite:proton symporter activity
GO:0008999	0.000072	9.532641	1.981001	ribosomal-protein-alanine N-acetyltransferase activity
GO:0031692	0.000072	9.532641	1.981001	alpha-1B adrenergic receptor binding
GO:0035373	0.000072	9.532641	1.981001	chondroitin sulfate proteoglycan binding
GO:0001735	0.000072	9.532641	2.014903	prenylcysteine oxidase activity
GO:0030580	0.000072	9.532641	2.014903	quinone cofactor methyltransferase activity
GO:0050484	0.000072	9.532641	2.014903	GMP 5'-nucleotidase activity
GO:0070506	0.000072	9.532641	2.014903	high-density lipoprotein particle receptor activity
GO:0004612	0.000072	9.532641	2.047693	phosphoenolpyruvate carboxykinase (ATP) activity
GO:0030585	0.000072	9.532641	2.047693	phosphoenolpyruvate carboxykinase (diphosphate) activity
GO:0031752	0.000072	9.532641	2.047693	D5 dopamine receptor binding
GO:0004463	0.000072	9.532641	2.110213	leukotriene-A4 hydrolase activity
GO:0015126	0.000072	9.532641	2.110213	canalicular bile acid transmembrane transporter activity
GO:0061953	0.000072	9.532641	2.140066	mRNA (adenine-N1-)-methyltransferase activity
GO:0070626	0.000072	9.532641	2.140066	(S)-2-(5-amino-1-(5-phospho-D-ribosyl)imidazole-4-carboxamido)succinate AMP-lyase (fumarate-forming) activity
GO:0003885	0.000072	9.532641	2.169054	D-arabinono-1,4-lactone oxidase activity
GO:0046577	0.000072	9.532641	2.169054	long-chain-alcohol oxidase activity
GO:0097507	0.000072	9.532641	2.169054	hypoxanthine DNA N-glycosylase activity
GO:0052903	0.000072	9.532641	2.224624	N1-acetylspermine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0001096	0.000072	9.532641	2.251292	TFIIF-class transcription factor complex binding
GO:0033905	0.000072	9.532641	2.251292	xylan endo-1,3-beta-xylosidase activity
GO:0033914	0.000072	9.532641	2.251292	xylan 1,3-beta-xylosidase activity
GO:0070653	0.000072	9.532641	2.251292	high-density lipoprotein particle receptor binding
GO:0032931	0.000072	9.532641	2.277267	histone acetyltransferase activity (H3-K56 specific)
GO:0036408	0.000072	9.532641	2.277267	histone acetyltransferase activity (H3-K14 specific)
GO:0003991	0.000072	9.532641	2.327278	acetylglutamate kinase activity
GO:0031729	0.000072	9.532641	2.327278	CCR4 chemokine receptor binding
GO:0031735	0.000072	9.532641	2.327278	CCR10 chemokine receptor binding
GO:0047100	0.000072	9.532641	2.351375	glyceraldehyde-3-phosphate dehydrogenase (NADP+) (phosphorylating) activity
GO:1904121	0.000072	9.532641	2.351375	phosphatidylethanolamine transfer activity
GO:0005055	0.000072	9.532641	2.374906	laminin receptor activity
GO:0010854	0.000072	9.532641	2.397895	adenylate cyclase regulator activity
GO:0015227	0.000072	9.532641	2.420368	acyl carnitine transmembrane transporter activity
GO:0030975	0.000072	9.532641	2.420368	thiamine binding
GO:0034057	0.000072	9.532641	2.420368	RNA strand-exchange activity
GO:0034257	0.000072	9.532641	2.420368	nicotinamide riboside transmembrane transporter activity
GO:0036218	0.000072	9.532641	2.420368	dTTP diphosphatase activity
GO:0036220	0.000072	9.532641	2.420368	ITP diphosphatase activity
GO:0047693	0.000072	9.532641	2.420368	ATP diphosphatase activity
GO:0047840	0.000072	9.532641	2.420368	dCTP diphosphatase activity
GO:0033843	0.000072	9.532641	2.442347	xyloglucan 6-xylosyltransferase activity
GO:0047150	0.000072	9.532641	2.442347	betaine-homocysteine S-methyltransferase activity
GO:1905056	0.000072	9.532641	2.442347	calcium-transporting ATPase activity involved in regulation of presynaptic cytosolic calcium ion concentration
GO:0008254	0.000072	9.532641	2.463853	3'-nucleotidase activity
GO:0035478	0.000072	9.532641	2.463853	chylomicron binding
GO:0060072	0.000072	9.532641	2.463853	large conductance calcium-activated potassium channel activity
GO:0001856	0.000072	9.532641	2.484907	complement component C5a binding
GO:0030407	0.000072	9.532641	2.525729	formimidoyltransferase activity
GO:0033791	0.000072	9.532641	2.525729	3alpha,7alpha,12alpha-trihydroxy-5beta-cholestanoyl-CoA 24-hydroxylase activity
GO:0050518	0.000072	9.532641	2.525729	2-C-methyl-D-erythritol 4-phosphate cytidylyltransferase activity
GO:0090632	0.000072	9.532641	2.525729	N-glycolylneuraminic acid (Neu5Gc) cytidylyltransferase activity
GO:0090633	0.000072	9.532641	2.525729	keto-deoxynonulosonic acid (KDN) cytidylyltransferase activity
GO:0030412	0.000072	9.532641	2.545531	formimidoyltetrahydrofolate cyclodeaminase activity
GO:0071618	0.000072	9.532641	2.564949	lysophosphatidylethanolamine acyltransferase activity
GO:0018710	0.000072	9.532641	2.583998	acetone carboxylase activity
GO:0015218	0.000072	9.532641	2.656757	pyrimidine nucleotide transmembrane transporter activity
GO:0071566	0.000072	9.532641	2.691243	UFM1 activating enzyme activity
GO:0008921	0.000072	9.532641	2.708050	lipopolysaccharide-1,6-galactosyltransferase activity
GO:0008447	0.000072	9.532641	2.724580	L-ascorbate oxidase activity
GO:0008801	0.000072	9.532641	2.724580	beta-phosphoglucomutase activity
GO:0008966	0.000072	9.532641	2.724580	phosphoglucosamine mutase activity
GO:0008973	0.000072	9.532641	2.724580	phosphopentomutase activity
GO:0018467	0.000072	9.532641	2.724580	formaldehyde dehydrogenase activity
GO:0019145	0.000072	9.532641	2.724580	aminobutyraldehyde dehydrogenase activity
GO:0030627	0.000072	9.532641	2.724580	pre-mRNA 5'-splice site binding
GO:0003850	0.000072	9.532641	2.740840	2-deoxyglucose-6-phosphatase activity
GO:0008877	0.000072	9.532641	2.740840	glucose-1-phosphatase activity
GO:0033920	0.000072	9.532641	2.740840	6-phospho-beta-galactosidase activity
GO:0047652	0.000072	9.532641	2.756840	allantoate deiminase activity
GO:0071522	0.000072	9.532641	2.756840	ureidoglycine aminohydrolase activity
GO:0004076	0.000072	9.532641	2.772589	biotin synthase activity
GO:0016992	0.000072	9.532641	2.772589	lipoate synthase activity
GO:0052827	0.000072	9.532641	2.772589	inositol pentakisphosphate phosphatase activity
GO:0047288	0.000072	9.532641	2.788093	monosialoganglioside sialyltransferase activity
GO:0106166	0.000072	9.532641	2.788093	spindle pole body-nuclear membrane anchor activity
GO:0000341	0.000072	9.532641	2.803360	RNA trimethylguanosine cap binding
GO:0003947	0.000072	9.532641	2.803360	(N-acetylneuraminyl)-galactosylglucosylceramide N-acetylgalactosaminyltransferase activity
GO:0047238	0.000072	9.532641	2.803360	glucuronosyl-N-acetylgalactosaminyl-proteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0000406	0.000072	9.532641	2.833213	double-strand/single-strand DNA junction binding
GO:0070191	0.000072	9.532641	2.833213	methionine-R-sulfoxide reductase activity
GO:0050429	0.000072	9.532641	2.862201	calcium-dependent phospholipase C activity
GO:0030622	0.000072	9.532641	2.876386	U4atac snRNA binding
GO:0071209	0.000072	9.532641	2.876386	U7 snRNA binding
GO:0003860	0.000072	9.532641	2.890372	3-hydroxyisobutyryl-CoA hydrolase activity
GO:0004778	0.000072	9.532641	2.890372	succinyl-CoA hydrolase activity
GO:0008390	0.000072	9.532641	2.890372	testosterone 16-alpha-hydroxylase activity
GO:0008397	0.000072	9.532641	2.890372	sterol 12-alpha-hydroxylase activity
GO:0032542	0.000072	9.532641	2.904165	sulfiredoxin activity
GO:0033931	0.000072	9.532641	2.904165	endogalactosaminidase activity
GO:0008854	0.000072	9.532641	2.917771	exodeoxyribonuclease V activity
GO:0019970	0.000072	9.532641	2.917771	interleukin-11 binding
GO:0019981	0.000072	9.532641	2.917771	interleukin-6 binding
GO:0019983	0.000072	9.532641	2.917771	interleukin-9 binding
GO:0043799	0.000072	9.532641	2.917771	glycine oxidase activity
GO:0050816	0.000072	9.532641	2.917771	phosphothreonine residue binding
GO:0008696	0.000072	9.532641	2.931194	4-amino-4-deoxychorismate lyase activity
GO:0033749	0.000072	9.532641	2.970414	histone demethylase activity (H4-R3 specific)
GO:0070406	0.000072	9.532641	2.970414	glutamine binding
GO:0047782	0.000072	9.532641	2.983153	coniferin beta-glucosidase activity
GO:0000006	0.000072	9.532641	2.995732	high-affinity zinc transmembrane transporter activity
GO:0003974	0.000072	9.532641	2.995732	UDP-N-acetylglucosamine 4-epimerase activity
GO:0004034	0.000072	9.532641	2.995732	aldose 1-epimerase activity
GO:0008742	0.000072	9.532641	2.995732	L-ribulose-phosphate 4-epimerase activity
GO:0030942	0.000072	9.532641	2.995732	endoplasmic reticulum signal peptide binding
GO:0047757	0.000072	9.532641	2.995732	chondroitin-glucuronate 5-epimerase activity
GO:0019010	0.000072	9.532641	3.032546	farnesoic acid O-methyltransferase activity
GO:0042409	0.000072	9.532641	3.032546	caffeoyl-CoA O-methyltransferase activity
GO:0003949	0.000072	9.532641	3.044522	1-(5-phosphoribosyl)-5-[(5-phosphoribosylamino)methylideneamino]imidazole-4-carboxamide isomerase activity
GO:0019146	0.000072	9.532641	3.044522	arabinose-5-phosphate isomerase activity
GO:0047024	0.000072	9.532641	3.056357	5alpha-androstane-3beta,17beta-diol dehydrogenase activity
GO:0004139	0.000072	9.532641	3.068053	deoxyribose-phosphate aldolase activity
GO:0008785	0.000072	9.532641	3.079614	alkyl hydroperoxide reductase activity
GO:0005130	0.000072	9.532641	3.124565	granulocyte colony-stimulating factor receptor binding
GO:0005136	0.000072	9.532641	3.124565	interleukin-4 receptor binding
GO:0005137	0.000072	9.532641	3.124565	interleukin-5 receptor binding
GO:0008922	0.000072	9.532641	3.135494	long-chain fatty acid [acyl-carrier-protein] ligase activity
GO:0097682	0.000072	9.532641	3.135494	intracellular phosphatidylinositol-3,5-bisphosphate-sensitive cation channel activity
GO:0008824	0.000072	9.532641	3.157000	cyanate hydratase activity
GO:1990165	0.000072	9.532641	3.228826	single-strand break-containing DNA binding
GO:0008753	0.000072	9.532641	3.238678	NADPH dehydrogenase (quinone) activity
GO:0008663	0.000072	9.532641	3.258097	2',3'-cyclic-nucleotide 2'-phosphodiesterase activity
GO:0036382	0.000072	9.532641	3.267666	flavin reductase (NADH) activity
GO:0047040	0.000072	9.532641	3.267666	pteridine reductase activity
GO:0050550	0.000072	9.532641	3.305054	pinene synthase activity
GO:0016034	0.000072	9.532641	3.367296	maleylacetoacetate isomerase activity
GO:1990889	0.000072	9.532641	3.392829	H4K20me3 modified histone binding
GO:0061542	0.000072	9.532641	3.409496	3-demethylubiquinol-n 3-O-methyltransferase activity
GO:0008532	0.000072	9.532641	3.442019	N-acetyllactosaminide beta-1,3-N-acetylglucosaminyltransferase activity
GO:0008763	0.000072	9.532641	3.442019	UDP-N-acetylmuramate-L-alanine ligase activity
GO:0047527	0.000072	9.532641	3.442019	2,3-dihydroxybenzoate-serine ligase activity
GO:0047730	0.000072	9.532641	3.442019	carnosine synthase activity
GO:0050508	0.000072	9.532641	3.442019	glucuronosyl-N-acetylglucosaminyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0008963	0.000072	9.532641	3.449988	phospho-N-acetylmuramoyl-pentapeptide-transferase activity
GO:0031151	0.000072	9.532641	3.449988	histone methyltransferase activity (H3-K79 specific)
GO:0047493	0.000072	9.532641	3.449988	ceramide cholinephosphotransferase activity
GO:0001761	0.000072	9.532641	3.488903	beta-alanine transmembrane transporter activity
GO:0016492	0.000072	9.532641	3.488903	G protein-coupled neurotensin receptor activity
GO:0015127	0.000072	9.532641	3.504055	bilirubin transmembrane transporter activity
GO:0061799	0.000072	9.532641	3.518980	cyclic pyranopterin monophosphate synthase activity
GO:0000246	0.000072	9.532641	3.526361	delta24(24-1) sterol reductase activity
GO:0004873	0.000072	9.532641	3.526361	asialoglycoprotein receptor activity
GO:0008839	0.000072	9.532641	3.526361	4-hydroxy-tetrahydrodipicolinate reductase
GO:0016156	0.000072	9.532641	3.526361	fumarate reductase (NADH) activity
GO:0032440	0.000072	9.532641	3.526361	2-alkenal reductase [NAD(P)+] activity
GO:0047598	0.000072	9.532641	3.526361	7-dehydrocholesterol reductase activity
GO:0050213	0.000072	9.532641	3.526361	progesterone 5-alpha-reductase activity
GO:0005008	0.000072	9.532641	3.533687	hepatocyte growth factor-activated receptor activity
GO:0005011	0.000072	9.532641	3.533687	macrophage colony-stimulating factor receptor activity
GO:0008127	0.000072	9.532641	3.540959	quercetin 2,3-dioxygenase activity
GO:0050587	0.000072	9.532641	3.540959	chlorite O2-lyase activity
GO:0018861	0.000072	9.532641	3.548180	4-chlorobenzoate-CoA ligase activity
GO:0047747	0.000072	9.532641	3.548180	cholate-CoA ligase activity
GO:0008882	0.000072	9.532641	3.597312	[glutamate-ammonia-ligase] adenylyltransferase activity
GO:0004454	0.000072	9.532641	3.610918	ketohexokinase activity
GO:0008929	0.000072	9.532641	3.630985	methylglyoxal synthase activity
GO:0034007	0.000072	9.532641	3.630985	S-linalool synthase activity
GO:0034768	0.000072	9.532641	3.630985	(E)-beta-ocimene synthase activity
GO:0016856	0.000072	9.532641	3.637586	racemase and epimerase activity, acting on hydroxy acids and derivatives
GO:0052857	0.000072	9.532641	3.637586	NADPHX epimerase activity
GO:0016890	0.000072	9.532641	3.644144	site-specific endodeoxyribonuclease activity, specific for altered base
GO:0031997	0.000072	9.532641	3.669951	N-terminal myristoylation domain binding
GO:0047364	0.000072	9.532641	3.669951	desulfoglucosinolate sulfotransferase activity
GO:0047894	0.000072	9.532641	3.669951	flavonol 3-sulfotransferase activity
GO:1990135	0.000072	9.532641	3.669951	flavonoid sulfotransferase activity
GO:0008336	0.000072	9.532641	3.682610	gamma-butyrobetaine dioxygenase activity
GO:0048244	0.000072	9.532641	3.682610	phytanoyl-CoA dioxygenase activity
GO:0050353	0.000072	9.532641	3.682610	trimethyllysine dioxygenase activity
GO:0043998	0.000072	9.532641	3.695110	H2A histone acetyltransferase activity
GO:0003875	0.000072	9.532641	3.725693	ADP-ribosylarginine hydrolase activity
GO:0004900	0.000072	9.532641	3.725693	erythropoietin receptor activity
GO:0004912	0.000072	9.532641	3.725693	interleukin-3 receptor activity
GO:0004915	0.000072	9.532641	3.725693	interleukin-6 receptor activity
GO:0004921	0.000072	9.532641	3.725693	interleukin-11 receptor activity
GO:0004925	0.000072	9.532641	3.725693	prolactin receptor activity
GO:0030368	0.000072	9.532641	3.725693	interleukin-17 receptor activity
GO:0042008	0.000072	9.532641	3.725693	interleukin-18 receptor activity
GO:0042010	0.000072	9.532641	3.725693	interleukin-15 receptor activity
GO:0018025	0.000072	9.532641	3.731699	calmodulin-lysine N-methyltransferase activity
GO:0004760	0.000072	9.532641	3.749504	serine-pyruvate transaminase activity
GO:0033222	0.000072	9.532641	3.749504	xylose binding
GO:0047589	0.000072	9.532641	3.749504	5-aminovalerate transaminase activity
GO:0010294	0.000072	9.532641	3.778492	abscisic acid glucosyltransferase activity
GO:0047209	0.000072	9.532641	3.778492	coniferyl-alcohol glucosyltransferase activity
GO:0047228	0.000072	9.532641	3.778492	1,2-diacylglycerol 3-glucosyltransferase activity
GO:0052640	0.000072	9.532641	3.778492	salicylic acid glucosyltransferase (glucoside-forming) activity
GO:0080002	0.000072	9.532641	3.778492	UDP-glucose:4-aminobenzoate acylglucosyltransferase activity
GO:0080045	0.000072	9.532641	3.778492	quercetin 3'-O-glucosyltransferase activity
GO:0061463	0.000072	9.532641	3.784190	O-acetyl-ADP-ribose deacetylase activity
GO:0004727	0.000072	9.532641	3.817712	prenylated protein tyrosine phosphatase activity
GO:0018537	0.000072	9.532641	3.817712	coenzyme F420-dependent N5,N10-methenyltetrahydromethanopterin reductase activity
GO:0030946	0.000072	9.532641	3.817712	protein tyrosine phosphatase activity, metal-dependent
GO:0015592	0.000072	9.532641	3.876396	methylgalactoside transmembrane transporter activity
GO:0061815	0.000072	9.532641	3.891820	ubiquitinyl hydrolase activity, acting on linear ubiquitin
GO:0071164	0.000072	9.532641	3.907010	RNA trimethylguanosine synthase activity
GO:0042007	0.000072	9.532641	3.965564	interleukin-18 binding
GO:0004494	0.000072	9.532641	3.998201	methylmalonyl-CoA mutase activity
GO:0008767	0.000072	9.532641	3.998201	UDP-galactopyranose mutase activity
GO:0052691	0.000072	9.532641	3.998201	UDP-arabinopyranose mutase activity
GO:0018636	0.000072	9.532641	4.007333	phenanthrene 9,10-monooxygenase activity
GO:0019113	0.000072	9.532641	4.007333	limonene monooxygenase activity
GO:0051777	0.000072	9.532641	4.007333	ent-kaurenoate oxidase activity
GO:0062186	0.000072	9.532641	4.007333	anandamide epoxidase activity
GO:0004796	0.000072	9.532641	4.016383	thromboxane-A synthase activity
GO:0008116	0.000072	9.532641	4.016383	prostaglandin-I synthase activity
GO:0004583	0.000072	9.532641	4.034241	dolichyl-phosphate-glucose-glycolipid alpha-glucosyltransferase activity
GO:0016759	0.000072	9.532641	4.034241	cellulose synthase activity
GO:0033825	0.000072	9.532641	4.034241	oligosaccharide 4-alpha-D-glucosyltransferase activity
GO:0000107	0.000072	9.532641	4.043051	imidazoleglycerol-phosphate synthase activity
GO:0004048	0.000072	9.532641	4.043051	anthranilate phosphoribosyltransferase activity
GO:0009032	0.000072	9.532641	4.043051	thymidine phosphorylase activity
GO:1990585	0.000072	9.532641	4.043051	hydroxyproline O-arabinosyltransferase activity
GO:0047433	0.000072	9.532641	4.064744	branched-chain-2-oxoacid decarboxylase activity
GO:0050080	0.000072	9.532641	4.064744	malonyl-CoA decarboxylase activity
GO:0005183	0.000072	9.532641	4.090169	gonadotropin hormone-releasing hormone activity
GO:0016084	0.000072	9.532641	4.090169	myostimulatory hormone activity
GO:0070186	0.000072	9.532641	4.090169	growth hormone activity
GO:0003942	0.000072	9.532641	4.110874	N-acetyl-gamma-glutamyl-phosphate reductase activity
GO:0004043	0.000072	9.532641	4.110874	L-aminoadipate-semialdehyde dehydrogenase activity
GO:0004350	0.000072	9.532641	4.110874	glutamate-5-semialdehyde dehydrogenase activity
GO:0004491	0.000072	9.532641	4.110874	methylmalonate-semialdehyde dehydrogenase (acylating) activity
GO:0016621	0.000072	9.532641	4.110874	cinnamoyl-CoA reductase activity
GO:0004130	0.000072	9.532641	4.119037	cytochrome-c peroxidase activity
GO:0002153	0.000072	9.532641	4.131159	steroid receptor RNA activator RNA binding
GO:0038106	0.000072	9.532641	4.170534	choriogonadotropin hormone binding
GO:0045153	0.000072	9.532641	4.170534	electron transporter, transferring electrons within CoQH2-cytochrome c reductase complex activity
GO:1990275	0.000072	9.532641	4.223177	preribosome binding
GO:0017188	0.000072	9.532641	4.287029	aspartate N-acetyltransferase activity
GO:0019134	0.000072	9.532641	4.287029	glucosamine-1-phosphate N-acetyltransferase activity
GO:0046027	0.000072	9.532641	4.287029	phospholipid:diacylglycerol acyltransferase activity
GO:0052858	0.000072	9.532641	4.287029	peptidyl-lysine acetyltransferase activity
GO:0003921	0.000072	9.532641	4.307438	GMP synthase activity
GO:0000234	0.000072	9.532641	4.337291	phosphoethanolamine N-methyltransferase activity
GO:0046539	0.000072	9.532641	4.337291	histamine N-methyltransferase activity
GO:0047390	0.000072	9.532641	4.394449	glycerophosphocholine cholinephosphodiesterase activity
GO:0047395	0.000072	9.532641	4.394449	glycerophosphoinositol glycerophosphodiesterase activity
GO:0046566	0.000072	9.532641	4.415824	DOPA dioxygenase activity
GO:0001648	0.000072	9.532641	4.421848	proteinase activated receptor activity
GO:0004951	0.000072	9.532641	4.421848	cholecystokinin receptor activity
GO:0008607	0.000072	9.532641	4.513603	phosphorylase kinase regulator activity
GO:0047961	0.000072	9.532641	4.516339	glycine N-acyltransferase activity
GO:0140064	0.000072	9.532641	4.516339	peptide crotonyltransferase activity
GO:0003948	0.000072	9.532641	4.543295	N4-(beta-N-acetylglucosaminyl)-L-asparaginase activity
GO:0004039	0.000072	9.532641	4.543295	allophanate hydrolase activity
GO:0017159	0.000072	9.532641	4.543295	pantetheine hydrolase activity
GO:0043530	0.000072	9.532641	4.543295	adenosine 5'-monophosphoramidase activity
GO:0047708	0.000072	9.532641	4.543295	biotinidase activity
GO:0050152	0.000072	9.532641	4.543295	omega-amidase activity
GO:0061697	0.000072	9.532641	4.543295	protein-glutaryllysine deglutarylase activity
GO:0061798	0.000072	9.532641	4.639572	GTP 3',8'-cyclase activity
GO:0019135	0.000072	9.532641	4.668145	deoxyhypusine monooxygenase activity
GO:0045519	0.000072	9.532641	4.689052	interleukin-23 receptor binding
GO:0015113	0.000072	9.532641	4.725173	nitrite transmembrane transporter activity
GO:0004490	0.000072	9.532641	4.744932	methylglutaconyl-CoA hydratase activity
GO:0018820	0.000072	9.532641	4.744932	cyanamide hydratase activity
GO:0047456	0.000072	9.532641	4.744932	2-methylisocitrate dehydratase activity
GO:0047558	0.000072	9.532641	4.744932	3-cyanoalanine hydratase activity
GO:0050151	0.000072	9.532641	4.744932	oleate hydratase activity
GO:0031714	0.000072	9.532641	4.828314	C5a anaphylatoxin chemotactic receptor binding
GO:0050196	0.000072	9.532641	4.840242	[phosphorylase] phosphatase activity
GO:0003961	0.000072	9.532641	4.882802	O-acetylhomoserine aminocarboxypropyltransferase activity
GO:0008676	0.000072	9.532641	4.882802	3-deoxy-8-phosphooctulonate synthase activity
GO:0008987	0.000072	9.532641	4.882802	quinolinate synthetase A activity
GO:0047444	0.000072	9.532641	4.882802	N-acylneuraminate-9-phosphate synthase activity
GO:0047657	0.000072	9.532641	4.905275	alpha-1,3-glucan synthase activity
GO:0033878	0.000072	9.532641	4.910815	hormone-sensitive lipase activity
GO:0047746	0.000072	9.532641	4.910815	chlorophyllase activity
GO:0071714	0.000072	9.532641	4.950531	icosanoid transmembrane transporter activity
GO:0004164	0.000072	9.532641	5.017280	diphthine synthase activity
GO:0030755	0.000072	9.532641	5.017280	quercetin 3-O-methyltransferase activity
GO:0030792	0.000072	9.532641	5.017280	methylarsonite methyltransferase activity
GO:0017125	0.000072	9.532641	5.032071	deoxycytidyl transferase activity
GO:0010178	0.000072	9.532641	5.110481	IAA-amino acid conjugate hydrolase activity
GO:0099510	0.000072	9.532641	5.151845	calcium ion binding involved in regulation of cytosolic calcium ion concentration
GO:0016720	0.000072	9.532641	5.223055	delta12-fatty acid dehydrogenase activity
GO:0045485	0.000072	9.532641	5.223055	omega-6 fatty acid desaturase activity
GO:0050207	0.000072	9.532641	5.223055	plasmanylethanolamine desaturase activity
GO:0050498	0.000072	9.532641	5.223055	oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen, with 2-oxoglutarate as one donor, and the other dehydrogenated
GO:0080102	0.000072	9.532641	5.223055	3-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080104	0.000072	9.532641	5.223055	5-methylthiopropyl glucosinolate S-oxygenase activity
GO:0080106	0.000072	9.532641	5.223055	7-methylthiopropyl glucosinolate S-oxygenase activity
GO:0003940	0.000072	9.532641	5.254888	L-iduronidase activity
GO:0030305	0.000072	9.532641	5.254888	heparanase activity
GO:0033916	0.000072	9.532641	5.254888	beta-agarase activity
GO:0033922	0.000072	9.532641	5.254888	peptidoglycan beta-N-acetylmuramidase activity
GO:0033939	0.000072	9.532641	5.254888	xylan alpha-1,2-glucuronosidase activity
GO:0046558	0.000072	9.532641	5.254888	arabinan endo-1,5-alpha-L-arabinosidase activity
GO:0047911	0.000072	9.532641	5.254888	galacturan 1,4-alpha-galacturonidase activity
GO:0000252	0.000072	9.532641	5.257495	C-3 sterol dehydrogenase (C-4 sterol decarboxylase) activity
GO:0004455	0.000072	9.532641	5.257495	ketol-acid reductoisomerase activity
GO:0008114	0.000072	9.532641	5.257495	phosphogluconate 2-dehydrogenase activity
GO:0008442	0.000072	9.532641	5.257495	3-hydroxyisobutyrate dehydrogenase activity
GO:0008703	0.000072	9.532641	5.257495	5-amino-6-(5-phosphoribosylamino)uracil reductase activity
GO:0008875	0.000072	9.532641	5.257495	gluconate dehydrogenase activity
GO:0008926	0.000072	9.532641	5.257495	mannitol-1-phosphate 5-dehydrogenase activity
GO:0019170	0.000072	9.532641	5.257495	methylglyoxal reductase (NADH-dependent) activity
GO:0030266	0.000072	9.532641	5.257495	quinate 3-dehydrogenase (NAD+) activity
GO:0030604	0.000072	9.532641	5.257495	1-deoxy-D-xylulose-5-phosphate reductoisomerase activity
GO:0034256	0.000072	9.532641	5.257495	chlorophyll(ide) b reductase activity
GO:0047046	0.000072	9.532641	5.257495	homoisocitrate dehydrogenase activity
GO:0047939	0.000072	9.532641	5.257495	L-glucuronate reductase activity
GO:0047941	0.000072	9.532641	5.257495	glucuronolactone reductase activity
GO:0050104	0.000072	9.532641	5.257495	L-gulonate 3-dehydrogenase activity
GO:0050268	0.000072	9.532641	5.257495	coniferyl-alcohol dehydrogenase activity
GO:0008946	0.000072	9.532641	5.274281	oligonucleotidase activity
GO:0060241	0.000072	9.532641	5.287004	lysozyme inhibitor activity
GO:1990846	0.000072	9.532641	5.287004	ribonucleoside-diphosphate reductase inhibitor activity
GO:0051120	0.000072	9.532641	5.311974	hepoxilin A3 synthase activity
GO:0008812	0.000072	9.532641	5.385641	choline dehydrogenase activity
GO:0044692	0.000072	9.532641	5.387930	exoribonuclease activator activity
GO:0019777	0.000072	9.532641	5.411646	Atg12 transferase activity
GO:0070594	0.000072	9.532641	5.411646	juvenile hormone response element binding
GO:0008710	0.000072	9.532641	5.529429	8-amino-7-oxononanoate synthase activity
GO:0016210	0.000072	9.532641	5.529429	naringenin-chalcone synthase activity
GO:0033815	0.000072	9.532641	5.529429	biphenyl synthase activity
GO:0047879	0.000072	9.532641	5.529429	erythronolide synthase activity
GO:0090439	0.000072	9.532641	5.529429	tetraketide alpha-pyrone synthase activity
GO:0004997	0.000072	9.532641	5.531411	thyrotropin-releasing hormone receptor activity
GO:0015055	0.000072	9.532641	5.531411	secretin receptor activity
GO:0016158	0.000072	9.532641	5.565478	3-phytase activity
GO:0019178	0.000072	9.532641	5.565478	NADP phosphatase activity
GO:0043726	0.000072	9.532641	5.565478	5-amino-6-(5-phosphoribitylamino)uracil phosphatase activity
GO:0050084	0.000072	9.532641	5.565478	mannitol-1-phosphatase activity
GO:0050286	0.000072	9.532641	5.565478	sorbitol-6-phosphatase activity
GO:0043423	0.000072	9.532641	5.641907	3-phosphoinositide-dependent protein kinase binding
GO:0033149	0.000072	9.532641	5.758113	FFAT motif binding
GO:0035851	0.000072	9.532641	5.758113	Krueppel-associated box domain binding
GO:0050682	0.000072	9.532641	5.758113	AF-2 domain binding
GO:0034211	0.000072	9.532641	5.833348	GTP-dependent protein kinase activity
GO:0016793	0.000072	9.532641	5.842820	triphosphoric monoester hydrolase activity
GO:0017129	0.000072	9.532641	5.860786	triglyceride binding
GO:0140090	0.000072	9.532641	5.860786	membrane curvature sensor activity
GO:0010461	0.000072	9.532641	5.868590	light-activated ion channel activity
GO:0072570	0.000072	9.532641	5.870708	ADP-D-ribose binding
GO:0016852	0.000072	9.532641	5.876334	sirohydrochlorin cobaltochelatase activity
GO:0000298	0.000072	9.532641	6.115892	endopolyphosphatase activity
GO:0110153	0.000072	9.532641	6.121944	RNA NAD-cap (NMN-forming) hydrolase activity
GO:0051373	0.000072	9.532641	6.178463	FATZ binding
GO:0072572	0.000072	9.532641	6.238325	poly-ADP-D-ribose binding
GO:0035651	0.000072	9.532641	6.408941	AP-3 adaptor complex binding
GO:0062061	0.000072	9.532641	6.408941	TAP complex binding
GO:0098633	0.000072	9.532641	6.408941	collagen fibril binding
GO:0106140	0.000072	9.532641	6.408941	P-TEFb complex binding
GO:1904841	0.000072	9.532641	6.408941	TORC2 complex binding
GO:1904931	0.000072	9.532641	6.408941	MCM complex binding
GO:0004168	0.000072	9.532641	6.497152	dolichol kinase activity
GO:0047940	0.000072	9.532641	6.497152	glucuronokinase activity
GO:0050262	0.000072	9.532641	6.497152	ribosylnicotinamide kinase activity
GO:0031992	0.000072	9.532641	6.503914	energy transducer activity
GO:0062153	0.000072	9.532641	6.527958	C5-methylcytidine-containing RNA binding
GO:0071208	0.000072	9.532641	6.527958	histone pre-mRNA DCP binding
GO:0150100	0.000072	9.532641	6.527958	RNA binding involved in posttranscriptional gene silencing
GO:0001147	0.000072	9.532641	6.556068	transcription termination site sequence-specific DNA binding
GO:0032422	0.000072	9.532641	6.556068	purine-rich negative regulatory element binding
GO:0005122	0.000072	9.532641	6.599530	torso binding
GO:0017098	0.000072	9.532641	6.599530	sulfonylurea receptor binding
GO:0030156	0.000072	9.532641	6.599530	benzodiazepine receptor binding
GO:0039552	0.000072	9.532641	6.599530	RIG-I binding
GO:0015094	0.000072	9.532641	6.620740	lead ion transmembrane transporter activity
GO:0003693	0.000072	9.532641	6.716897	P-element binding
GO:0001073	0.000072	9.532641	6.830334	transcription antitermination factor activity, DNA binding
GO:0015039	0.000072	9.532641	6.952011	NADPH-adrenodoxin reductase activity
GO:0033797	0.000072	9.532641	6.952011	selenate reductase activity
GO:0033798	0.000072	9.532641	6.952011	thyroxine 5-deiodinase activity
GO:0043364	0.000072	9.532641	6.952011	glycyl-radical enzyme activating activity
GO:0016827	0.000072	9.532641	7.599276	hydrolase activity, acting on acid carbon-phosphorus bonds
GO:0010280	0.000072	9.532641	7.733136	UDP-L-rhamnose synthase activity
GO:0016785	0.000072	9.532641	7.733136	transferase activity, transferring selenium-containing groups
GO:0010313	0.000072	9.532641	8.835901	phytochrome binding
GO:0032767	0.000072	9.532641	8.835901	copper-dependent protein binding
GO:0046980	0.000072	9.532641	8.835901	tapasin binding
GO:0061675	0.000072	9.532641	8.835901	RBL family protein binding
GO:0097678	0.000072	9.532641	8.835901	SOCS family protein binding
GO:0050825	0.000072	9.532641	9.096359	ice binding
GO:0000102	0.000054	9.820323	0.000000	L-methionine secondary active transmembrane transporter activity
GO:0001065	0.000054	9.820323	0.000000	mitochondrial single subunit type RNA polymerase activity
GO:0002058	0.000054	9.820323	0.000000	uracil binding
GO:0003957	0.000054	9.820323	0.000000	NAD(P)+ transhydrogenase (B-specific) activity
GO:0003963	0.000054	9.820323	0.000000	RNA-3'-phosphate cyclase activity
GO:0004855	0.000054	9.820323	0.000000	xanthine oxidase activity
GO:0005152	0.000054	9.820323	0.000000	interleukin-1 receptor antagonist activity
GO:0005289	0.000054	9.820323	0.000000	high-affinity arginine transmembrane transporter activity
GO:0005292	0.000054	9.820323	0.000000	high-affinity lysine transmembrane transporter activity
GO:0008424	0.000054	9.820323	0.000000	glycoprotein 6-alpha-L-fucosyltransferase activity
GO:0008551	0.000054	9.820323	0.000000	cadmium transmembrane transporter activity, phosphorylative mechanism
GO:0008924	0.000054	9.820323	0.000000	malate dehydrogenase (quinone) activity
GO:0008942	0.000054	9.820323	0.000000	nitrite reductase [NAD(P)H] activity
GO:0009036	0.000054	9.820323	0.000000	type II site-specific deoxyribonuclease activity
GO:0015067	0.000054	9.820323	0.000000	amidinotransferase activity
GO:0015159	0.000054	9.820323	0.000000	polysaccharide transmembrane transporter activity
GO:0015367	0.000054	9.820323	0.000000	oxoglutarate:malate antiporter activity
GO:0015407	0.000054	9.820323	0.000000	ATPase-coupled monosaccharide transmembrane transporter activity
GO:0015434	0.000054	9.820323	0.000000	ATPase-coupled cadmium transmembrane transporter activity
GO:0015446	0.000054	9.820323	0.000000	ATPase-coupled arsenite transmembrane transporter activity
GO:0015478	0.000054	9.820323	0.000000	oligosaccharide transporting porin activity
GO:0016041	0.000054	9.820323	0.000000	glutamate synthase (ferredoxin) activity
GO:0016430	0.000054	9.820323	0.000000	tRNA (adenine-N6-)-methyltransferase activity
GO:0018576	0.000054	9.820323	0.000000	catechol 1,2-dioxygenase activity
GO:0030697	0.000054	9.820323	0.000000	S-adenosylmethionine-dependent tRNA (m5U54) methyltransferase activity
GO:0030977	0.000054	9.820323	0.000000	taurine binding
GO:0031718	0.000054	9.820323	0.000000	type 1 cannabinoid receptor binding
GO:0031755	0.000054	9.820323	0.000000	Edg-2 lysophosphatidic acid receptor binding
GO:0031765	0.000054	9.820323	0.000000	type 2 galanin receptor binding
GO:0031766	0.000054	9.820323	0.000000	type 3 galanin receptor binding
GO:0031839	0.000054	9.820323	0.000000	type 1 neuromedin U receptor binding
GO:0031840	0.000054	9.820323	0.000000	type 2 neuromedin U receptor binding
GO:0031857	0.000054	9.820323	0.000000	type 1 parathyroid hormone receptor binding
GO:0032035	0.000054	9.820323	0.000000	myosin II tail binding
GO:0034041	0.000054	9.820323	0.000000	ATPase-coupled sterol transmembrane transporter activity
GO:0034602	0.000054	9.820323	0.000000	oxoglutarate dehydrogenase (NAD+) activity
GO:0042929	0.000054	9.820323	0.000000	ferrichrome transmembrane transporter activity
GO:0047011	0.000054	9.820323	0.000000	2-dehydropantolactone reductase (A-specific) activity
GO:0047091	0.000054	9.820323	0.000000	L-lysine 6-monooxygenase (NADPH) activity
GO:0047402	0.000054	9.820323	0.000000	protein-glucosylgalactosylhydroxylysine glucosidase activity
GO:0048032	0.000054	9.820323	0.000000	galacturonate binding
GO:0050306	0.000054	9.820323	0.000000	sucrose 1F-fructosyltransferase activity
GO:0050311	0.000054	9.820323	0.000000	sulfite reductase (ferredoxin) activity
GO:0050633	0.000054	9.820323	0.000000	acetyl-CoA C-myristoyltransferase activity
GO:0051730	0.000054	9.820323	0.000000	GTP-dependent polyribonucleotide 5'-hydroxyl-kinase activity
GO:0052624	0.000054	9.820323	0.000000	2-phytyl-1,4-naphthoquinone methyltransferase activity
GO:0052845	0.000054	9.820323	0.000000	inositol-5-diphosphate-1,2,3,4,6-pentakisphosphate diphosphatase activity
GO:0061654	0.000054	9.820323	0.000000	NEDD8 conjugating enzyme activity
GO:0061791	0.000054	9.820323	0.000000	GTPase motor activity
GO:0062156	0.000054	9.820323	0.000000	mitochondrial ATP-gated potassium channel activity
GO:0070677	0.000054	9.820323	0.000000	rRNA (cytosine-2'-O-)-methyltransferase activity
GO:0070819	0.000054	9.820323	0.000000	menaquinone-dependent protoporphyrinogen oxidase activity
GO:0070855	0.000054	9.820323	0.000000	myosin VI head/neck binding
GO:0070856	0.000054	9.820323	0.000000	myosin VI light chain binding
GO:0071913	0.000054	9.820323	0.000000	citrate secondary active transmembrane transporter activity
GO:0072547	0.000054	9.820323	0.000000	tricoumaroylspermidine meta-hydroxylase activity
GO:0072548	0.000054	9.820323	0.000000	dicoumaroyl monocaffeoyl spermidine meta-hydroxylase activity
GO:0072549	0.000054	9.820323	0.000000	monocoumaroyl dicaffeoyl spermidine meta-hydroxylase activity
GO:0072587	0.000054	9.820323	0.000000	DNA topoisomerase type II (double strand cut, ATP-hydrolyzing) activator activity
GO:0080049	0.000054	9.820323	0.000000	L-gulono-1,4-lactone dehydrogenase activity
GO:0090440	0.000054	9.820323	0.000000	abscisic acid transmembrane transporter activity
GO:0090448	0.000054	9.820323	0.000000	glucosinolate:proton symporter activity
GO:0098782	0.000054	9.820323	0.000000	mechanosensitived potassium channel activity
GO:0099579	0.000054	9.820323	0.000000	G protein-coupled neurotransmitter receptor activity involved in regulation of postsynaptic membrane potential
GO:0106153	0.000054	9.820323	0.000000	phosphorylated histone binding
GO:0106219	0.000054	9.820323	0.000000	zinc ion sensor activity
GO:1990606	0.000054	9.820323	0.000000	membrane scission GTPase motor activity
GO:1990984	0.000054	9.820323	0.000000	tRNA demethylase activity
GO:2001227	0.000054	9.820323	0.000000	quercitrin binding
GO:0005309	0.000054	9.820323	0.287682	creatine:sodium symporter activity
GO:0008692	0.000054	9.820323	0.287682	3-hydroxybutyryl-CoA epimerase activity
GO:0008773	0.000054	9.820323	0.287682	[protein-PII] uridylyltransferase activity
GO:0008874	0.000054	9.820323	0.287682	gluconate 5-dehydrogenase activity
GO:0010179	0.000054	9.820323	0.287682	IAA-Ala conjugate hydrolase activity
GO:0015439	0.000054	9.820323	0.287682	ATPase-coupled heme transmembrane transporter activity
GO:0015517	0.000054	9.820323	0.287682	galactose:proton symporter activity
GO:0015648	0.000054	9.820323	0.287682	lipid-linked peptidoglycan transporter activity
GO:0018674	0.000054	9.820323	0.287682	(S)-limonene 3-monooxygenase activity
GO:0030351	0.000054	9.820323	0.287682	inositol-1,3,4,5,6-pentakisphosphate 3-phosphatase activity
GO:0032041	0.000054	9.820323	0.287682	NAD-dependent histone deacetylase activity (H3-K14 specific)
GO:0042951	0.000054	9.820323	0.287682	arbutin transmembrane transporter activity
GO:0045509	0.000054	9.820323	0.287682	interleukin-27 receptor activity
GO:0047068	0.000054	9.820323	0.287682	N5,N10-methenyltetrahydromethanopterin hydrogenase activity
GO:0051033	0.000054	9.820323	0.287682	RNA transmembrane transporter activity
GO:0062187	0.000054	9.820323	0.287682	anandamide 8,9 epoxidase activity
GO:0062188	0.000054	9.820323	0.287682	anandamide 11,12 epoxidase activity
GO:0072571	0.000054	9.820323	0.287682	mono-ADP-D-ribose binding
GO:0098640	0.000054	9.820323	0.287682	integrin binding involved in cell-matrix adhesion
GO:0106054	0.000054	9.820323	0.287682	tRNA U34 thiol-transferase activity
GO:1902388	0.000054	9.820323	0.287682	ceramide 1-phosphate transfer activity
GO:1990259	0.000054	9.820323	0.287682	histone-glutamine methyltransferase activity
GO:0004083	0.000054	9.820323	0.510826	bisphosphoglycerate 2-phosphatase activity
GO:0004934	0.000054	9.820323	0.510826	mating-type alpha-factor pheromone receptor activity
GO:0015044	0.000054	9.820323	0.510826	rubredoxin-NAD+ reductase activity
GO:0015046	0.000054	9.820323	0.510826	rubredoxin-NADP reductase activity
GO:0031896	0.000054	9.820323	0.510826	V2 vasopressin receptor binding
GO:0036381	0.000054	9.820323	0.510826	pyridoxal 5'-phosphate synthase (glutamine hydrolysing) activity
GO:0043879	0.000054	9.820323	0.510826	glycolate transmembrane transporter activity
GO:0140338	0.000054	9.820323	0.510826	sphingomyelin transfer activity
GO:1903794	0.000054	9.820323	0.510826	cortisol binding
GO:1903875	0.000054	9.820323	0.510826	corticosterone binding
GO:0001733	0.000054	9.820323	0.693147	galactosylceramide sulfotransferase activity
GO:0004754	0.000054	9.820323	0.693147	saccharopine dehydrogenase (NAD+, L-lysine-forming) activity
GO:0018787	0.000054	9.820323	0.693147	4-chlorobenzoyl-CoA dehalogenase activity
GO:0030294	0.000054	9.820323	0.693147	receptor signaling protein tyrosine kinase inhibitor activity
GO:0031712	0.000054	9.820323	0.693147	B1 bradykinin receptor binding
GO:0031836	0.000054	9.820323	0.693147	neuromedin K receptor binding
GO:0034597	0.000054	9.820323	0.693147	phosphatidylinositol-4,5-bisphosphate 4-phosphatase activity
GO:0045029	0.000054	9.820323	0.693147	G protein-coupled UDP receptor activity
GO:0047651	0.000054	9.820323	0.693147	alkylhalidase activity
GO:0051507	0.000054	9.820323	0.693147	beta-sitosterol UDP-glucosyltransferase activity
GO:0051722	0.000054	9.820323	0.693147	protein C-terminal methylesterase activity
GO:0052928	0.000054	9.820323	0.693147	CTP:3'-cytidine-tRNA cytidylyltransferase activity
GO:0080017	0.000054	9.820323	0.693147	alpha-humulene synthase activity
GO:0080041	0.000054	9.820323	0.693147	ADP-ribose pyrophosphohydrolase activity
GO:0080042	0.000054	9.820323	0.693147	ADP-glucose pyrophosphohydrolase activity
GO:1902122	0.000054	9.820323	0.693147	chenodeoxycholic acid binding
GO:0002057	0.000054	9.820323	0.847298	guanine binding
GO:0004355	0.000054	9.820323	0.847298	glutamate synthase (NADPH) activity
GO:0030342	0.000054	9.820323	0.847298	1-alpha,25-dihydroxyvitamin D3 24-hydroxylase activity
GO:0031516	0.000054	9.820323	0.847298	far-red light photoreceptor activity
GO:0031517	0.000054	9.820323	0.847298	red light photoreceptor activity
GO:0032067	0.000054	9.820323	0.847298	type IV site-specific deoxyribonuclease activity
GO:0032181	0.000054	9.820323	0.847298	dinucleotide repeat insertion binding
GO:0035598	0.000054	9.820323	0.847298	N6-threonylcarbomyladenosine methylthiotransferase activity
GO:0036456	0.000054	9.820323	0.847298	L-methionine-(S)-S-oxide reductase activity
GO:0051800	0.000054	9.820323	0.847298	phosphatidylinositol-3,4-bisphosphate 3-phosphatase activity
GO:0061849	0.000054	9.820323	0.847298	telomeric G-quadruplex DNA binding
GO:0080099	0.000054	9.820323	0.847298	L-methionine:2-oxoglutarate aminotransferase activity
GO:1905573	0.000054	9.820323	0.847298	ganglioside GM1 binding
GO:0001566	0.000054	9.820323	0.980829	non-kinase phorbol ester receptor activity
GO:0004080	0.000054	9.820323	0.980829	biotin-[propionyl-CoA-carboxylase (ATP-hydrolyzing)] ligase activity
GO:0005019	0.000054	9.820323	0.980829	platelet-derived growth factor beta-receptor activity
GO:0009703	0.000054	9.820323	0.980829	nitrate reductase (NADH) activity
GO:0017099	0.000054	9.820323	0.980829	very-long-chain-acyl-CoA dehydrogenase activity
GO:0032143	0.000054	9.820323	0.980829	single thymine insertion binding
GO:0032396	0.000054	9.820323	0.980829	inhibitory MHC class I receptor activity
GO:0032397	0.000054	9.820323	0.980829	activating MHC class I receptor activity
GO:0051267	0.000054	9.820323	0.980829	CP2 mannose-ethanolamine phosphotransferase activity
GO:0070524	0.000054	9.820323	0.980829	11-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0097372	0.000054	9.820323	0.980829	NAD-dependent histone deacetylase activity (H3-K18 specific)
GO:0002061	0.000054	9.820323	1.098612	pyrimidine nucleobase binding
GO:0005169	0.000054	9.820323	1.098612	neurotrophin TRKB receptor binding
GO:0005362	0.000054	9.820323	1.098612	low-affinity glucose:sodium symporter activity
GO:0008523	0.000054	9.820323	1.098612	sodium-dependent multivitamin transmembrane transporter activity
GO:0019962	0.000054	9.820323	1.098612	type I interferon binding
GO:0023030	0.000054	9.820323	1.098612	MHC class Ib protein binding, via antigen binding groove
GO:0046029	0.000054	9.820323	1.098612	mannitol dehydrogenase activity
GO:0052634	0.000054	9.820323	1.098612	C-19 gibberellin 2-beta-dioxygenase activity
GO:0052635	0.000054	9.820323	1.098612	C-20 gibberellin 2-beta-dioxygenase activity
GO:0061759	0.000054	9.820323	1.098612	alpha-ketoglutarate reductase activity
GO:0086062	0.000054	9.820323	1.098612	voltage-gated sodium channel activity involved in Purkinje myocyte action potential
GO:0086063	0.000054	9.820323	1.098612	voltage-gated sodium channel activity involved in SA node cell action potential
GO:1902387	0.000054	9.820323	1.098612	ceramide 1-phosphate binding
GO:1990409	0.000054	9.820323	1.098612	adrenomedullin binding
GO:0005300	0.000054	9.820323	1.203973	high-affinity tryptophan transmembrane transporter activity
GO:0018423	0.000054	9.820323	1.203973	protein C-terminal leucine carboxyl O-methyltransferase activity
GO:0047053	0.000054	9.820323	1.203973	(S)-cheilanthifoline synthase activity
GO:0047056	0.000054	9.820323	1.203973	(S)-canadine synthase activity
GO:0052925	0.000054	9.820323	1.203973	dol-P-Man:Man(5)GlcNAc(2)-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0070260	0.000054	9.820323	1.203973	5'-tyrosyl-DNA phosphodiesterase activity
GO:0102632	0.000054	9.820323	1.203973	(S)-nandinine synthase activity
GO:0001068	0.000054	9.820323	1.299283	transcription regulatory region RNA binding
GO:0010465	0.000054	9.820323	1.299283	nerve growth factor receptor activity
GO:0034042	0.000054	9.820323	1.299283	5-formyluracil DNA N-glycosylase activity
GO:0034043	0.000054	9.820323	1.299283	5-hydroxymethyluracil DNA N-glycosylase activity
GO:0050172	0.000054	9.820323	1.299283	phenylalanine 2-monooxygenase activity
GO:0051735	0.000054	9.820323	1.299283	GTP-dependent polynucleotide kinase activity
GO:0008666	0.000054	9.820323	1.386294	2,3,4,5-tetrahydropyridine-2,6-dicarboxylate N-succinyltransferase activity
GO:0031703	0.000054	9.820323	1.386294	type 2 angiotensin receptor binding
GO:0035403	0.000054	9.820323	1.386294	histone kinase activity (H3-T6 specific)
GO:0042286	0.000054	9.820323	1.386294	glutamate-1-semialdehyde 2,1-aminomutase activity
GO:0043771	0.000054	9.820323	1.386294	cytidine kinase activity
GO:0052905	0.000054	9.820323	1.386294	tRNA (guanine(9)-N(1))-methyltransferase activity
GO:0070043	0.000054	9.820323	1.386294	rRNA (guanine-N7-)-methyltransferase activity
GO:0140341	0.000054	9.820323	1.386294	phosphatidylethanolamine floppase activity
GO:0004522	0.000054	9.820323	1.466337	ribonuclease A activity
GO:0008803	0.000054	9.820323	1.466337	bis(5'-nucleosyl)-tetraphosphatase (symmetrical) activity
GO:0030487	0.000054	9.820323	1.466337	inositol-4,5-bisphosphate 5-phosphatase activity
GO:0031851	0.000054	9.820323	1.466337	kappa-type opioid receptor binding
GO:0032406	0.000054	9.820323	1.466337	MutLbeta complex binding
GO:0032408	0.000054	9.820323	1.466337	MutSbeta complex binding
GO:0033938	0.000054	9.820323	1.466337	1,6-alpha-L-fucosidase activity
GO:0034737	0.000054	9.820323	1.466337	ergosterol O-acyltransferase activity
GO:0042497	0.000054	9.820323	1.466337	triacyl lipopeptide binding
GO:0042498	0.000054	9.820323	1.466337	diacyl lipopeptide binding
GO:0046423	0.000054	9.820323	1.466337	allene-oxide cyclase activity
GO:0050446	0.000054	9.820323	1.466337	azobenzene reductase activity
GO:1902417	0.000054	9.820323	1.466337	(+)-abscisic acid D-glucopyranosyl ester transmembrane transporter activity
GO:0000831	0.000054	9.820323	1.540445	inositol hexakisphosphate 6-kinase activity
GO:0000832	0.000054	9.820323	1.540445	inositol hexakisphosphate 5-kinase activity
GO:0001792	0.000054	9.820323	1.540445	polymeric immunoglobulin receptor activity
GO:0008404	0.000054	9.820323	1.540445	arachidonic acid 14,15-epoxygenase activity
GO:0008405	0.000054	9.820323	1.540445	arachidonic acid 11,12-epoxygenase activity
GO:0008513	0.000054	9.820323	1.540445	secondary active organic cation transmembrane transporter activity
GO:0008693	0.000054	9.820323	1.540445	3-hydroxydecanoyl-[acyl-carrier-protein] dehydratase activity
GO:0016402	0.000054	9.820323	1.540445	pristanoyl-CoA oxidase activity
GO:0016496	0.000054	9.820323	1.540445	substance P receptor activity
GO:0023025	0.000054	9.820323	1.540445	MHC class Ib protein complex binding
GO:0031780	0.000054	9.820323	1.540445	corticotropin hormone receptor binding
GO:0031783	0.000054	9.820323	1.540445	type 5 melanocortin receptor binding
GO:0047451	0.000054	9.820323	1.540445	3-hydroxyoctanoyl-[acyl-carrier-protein] dehydratase activity
GO:0008119	0.000054	9.820323	1.609438	thiopurine S-methyltransferase activity
GO:0015231	0.000054	9.820323	1.609438	5-formyltetrahydrofolate transmembrane transporter activity
GO:0030883	0.000054	9.820323	1.609438	endogenous lipid antigen binding
GO:0030884	0.000054	9.820323	1.609438	exogenous lipid antigen binding
GO:0031724	0.000054	9.820323	1.609438	CXCR5 chemokine receptor binding
GO:0035717	0.000054	9.820323	1.609438	chemokine (C-C motif) ligand 7 binding
GO:0070738	0.000054	9.820323	1.609438	tubulin-glycine ligase activity
GO:0071791	0.000054	9.820323	1.609438	chemokine (C-C motif) ligand 5 binding
GO:0008720	0.000054	9.820323	1.673976	D-lactate dehydrogenase activity
GO:0010013	0.000054	9.820323	1.673976	N-1-naphthylphthalamic acid binding
GO:0031798	0.000054	9.820323	1.673976	type 1 metabotropic glutamate receptor binding
GO:0031799	0.000054	9.820323	1.673976	type 2 metabotropic glutamate receptor binding
GO:0052655	0.000054	9.820323	1.673976	L-valine transaminase activity
GO:0052656	0.000054	9.820323	1.673976	L-isoleucine transaminase activity
GO:0086082	0.000054	9.820323	1.673976	cell adhesive protein binding involved in AV node cell-bundle of His cell communication
GO:0090566	0.000054	9.820323	1.673976	protein-phosphocysteine-N,N'-diacetylchitobiose phosphotransferase system transporter activity
GO:0090584	0.000054	9.820323	1.673976	protein-phosphocysteine-galactitol-phosphotransferase system transporter activity
GO:1990081	0.000054	9.820323	1.673976	trimethylamine receptor activity
GO:0140037	0.000054	9.820323	1.734601	sumo-dependent protein binding
GO:0005151	0.000054	9.820323	1.791759	interleukin-1, type II receptor binding
GO:0016443	0.000054	9.820323	1.791759	bidentate ribonuclease III activity
GO:0044604	0.000054	9.820323	1.791759	ATPase-coupled phytochelatin transmembrane transporter activity
GO:0140082	0.000054	9.820323	1.791759	SUMO-ubiquitin ligase activity
GO:1904091	0.000054	9.820323	1.791759	peptidyl carrier protein activity
GO:0017103	0.000054	9.820323	1.845827	UTP:galactose-1-phosphate uridylyltransferase activity
GO:0034202	0.000054	9.820323	1.845827	glycolipid floppase activity
GO:0044682	0.000054	9.820323	1.845827	archaeal-specific GTP cyclohydrolase activity
GO:0016150	0.000054	9.820323	1.897120	translation release factor activity, codon nonspecific
GO:0038102	0.000054	9.820323	1.897120	activin receptor antagonist activity
GO:0052692	0.000054	9.820323	1.897120	raffinose alpha-galactosidase activity
GO:0061750	0.000054	9.820323	1.897120	acid sphingomyelin phosphodiesterase activity
GO:0061751	0.000054	9.820323	1.897120	neutral sphingomyelin phosphodiesterase activity
GO:0002951	0.000054	9.820323	1.945910	leukotriene-C(4) hydrolase
GO:0004906	0.000054	9.820323	1.945910	interferon-gamma receptor activity
GO:0005090	0.000054	9.820323	1.945910	Sar guanyl-nucleotide exchange factor activity
GO:0051719	0.000054	9.820323	1.945910	DNA (cytosine-5-)-methyltransferase activity, acting on CpN substrates
GO:0008096	0.000054	9.820323	1.992430	juvenile hormone epoxide hydrolase activity
GO:0008861	0.000054	9.820323	1.992430	formate C-acetyltransferase activity
GO:0071886	0.000054	9.820323	1.992430	1-(4-iodo-2,5-dimethoxyphenyl)propan-2-amine binding
GO:0008998	0.000054	9.820323	2.036882	ribonucleoside-triphosphate reductase activity
GO:0043831	0.000054	9.820323	2.036882	thiosulfate dehydrogenase (quinone) activity
GO:0051871	0.000054	9.820323	2.036882	dihydrofolic acid binding
GO:0070224	0.000054	9.820323	2.036882	sulfide:quinone oxidoreductase activity
GO:0009673	0.000054	9.820323	2.079442	low-affinity phosphate transmembrane transporter activity
GO:0030603	0.000054	9.820323	2.079442	oxaloacetase activity
GO:0000100	0.000054	9.820323	2.120264	S-methylmethionine transmembrane transporter activity
GO:0005456	0.000054	9.820323	2.120264	CMP-N-acetylneuraminate transmembrane transporter activity
GO:0010341	0.000054	9.820323	2.120264	gibberellin carboxyl-O-methyltransferase activity
GO:0003830	0.000054	9.820323	2.197225	beta-1,4-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0003863	0.000054	9.820323	2.197225	3-methyl-2-oxobutanoate dehydrogenase (2-methylpropanoyl-transferring) activity
GO:0008454	0.000054	9.820323	2.197225	alpha-1,3-mannosylglycoprotein 4-beta-N-acetylglucosaminyltransferase activity
GO:0009905	0.000054	9.820323	2.197225	ent-copalyl diphosphate synthase activity
GO:0015361	0.000054	9.820323	2.197225	low-affinity sodium:dicarboxylate symporter activity
GO:0030385	0.000054	9.820323	2.197225	ferredoxin:thioredoxin reductase activity
GO:0047656	0.000054	9.820323	2.197225	alpha,alpha-trehalose phosphorylase activity
GO:0050559	0.000054	9.820323	2.197225	copalyl diphosphate synthase activity
GO:0051498	0.000054	9.820323	2.197225	syn-copalyl diphosphate synthase activity
GO:0070611	0.000054	9.820323	2.197225	histone methyltransferase activity (H3-R2 specific)
GO:0047144	0.000054	9.820323	2.233592	2-acylglycerol-3-phosphate O-acyltransferase activity
GO:0050626	0.000054	9.820323	2.233592	trimethylamine-N-oxide reductase (cytochrome c) activity
GO:0052794	0.000054	9.820323	2.233592	exo-alpha-(2->3)-sialidase activity
GO:0004071	0.000054	9.820323	2.268684	aspartate-ammonia ligase activity
GO:0019811	0.000054	9.820323	2.268684	cocaine binding
GO:0031691	0.000054	9.820323	2.268684	alpha-1A adrenergic receptor binding
GO:0031696	0.000054	9.820323	2.268684	alpha-2C adrenergic receptor binding
GO:0031699	0.000054	9.820323	2.268684	beta-3 adrenergic receptor binding
GO:0042924	0.000054	9.820323	2.268684	neuromedin U binding
GO:0001855	0.000054	9.820323	2.302585	complement component C4b binding
GO:0050483	0.000054	9.820323	2.302585	IMP 5'-nucleotidase activity
GO:0004361	0.000054	9.820323	2.335375	glutaryl-CoA dehydrogenase activity
GO:0017065	0.000054	9.820323	2.335375	single-strand selective uracil DNA N-glycosylase activity
GO:0031751	0.000054	9.820323	2.335375	D4 dopamine receptor binding
GO:0033961	0.000054	9.820323	2.397895	cis-stilbene-oxide hydrolase activity
GO:0047408	0.000054	9.820323	2.397895	alkenylglycerophosphocholine hydrolase activity
GO:0047409	0.000054	9.820323	2.397895	alkenylglycerophosphoethanolamine hydrolase activity
GO:1901973	0.000054	9.820323	2.397895	proline binding
GO:0050385	0.000054	9.820323	2.427748	ureidoglycolate lyase activity
GO:0062152	0.000054	9.820323	2.427748	mRNA (cytidine-5-)-methyltransferase activity
GO:0008837	0.000054	9.820323	2.456736	diaminopimelate epimerase activity
GO:0008881	0.000054	9.820323	2.456736	glutamate racemase activity
GO:0010475	0.000054	9.820323	2.456736	galactose-1-phosphate guanylyltransferase (GDP) activity
GO:0023027	0.000054	9.820323	2.456736	MHC class I protein binding, via antigen binding groove
GO:0047341	0.000054	9.820323	2.456736	fucose-1-phosphate guanylyltransferase activity
GO:0047979	0.000054	9.820323	2.456736	hexose oxidase activity
GO:0030586	0.000054	9.820323	2.484907	[methionine synthase] reductase activity
GO:0034431	0.000054	9.820323	2.484907	bis(5'-adenosyl)-hexaphosphatase activity
GO:0047884	0.000054	9.820323	2.484907	FAD diphosphatase activity
GO:0050404	0.000054	9.820323	2.484907	zeatin O-beta-D-xylosyltransferase activity
GO:0047866	0.000054	9.820323	2.512306	dimethylglycine oxidase activity
GO:0050031	0.000054	9.820323	2.512306	L-pipecolate oxidase activity
GO:0051699	0.000054	9.820323	2.512306	proline oxidase activity
GO:0017105	0.000054	9.820323	2.538974	acyl-CoA delta11-desaturase activity
GO:0000402	0.000054	9.820323	2.564949	crossed form four-way junction DNA binding
GO:0008495	0.000054	9.820323	2.564949	protoheme IX farnesyltransferase activity
GO:0015155	0.000054	9.820323	2.564949	lactose transmembrane transporter activity
GO:0032136	0.000054	9.820323	2.564949	adenine/cytosine mispair binding
GO:0043992	0.000054	9.820323	2.564949	histone acetyltransferase activity (H3-K9 specific)
GO:0061473	0.000054	9.820323	2.564949	murein tripeptide carboxypeptidase activity
GO:0003952	0.000054	9.820323	2.590267	NAD+ synthase (glutamine-hydrolyzing) activity
GO:0005461	0.000054	9.820323	2.590267	UDP-glucuronic acid transmembrane transporter activity
GO:0044610	0.000054	9.820323	2.590267	FMN transmembrane transporter activity
GO:0140282	0.000054	9.820323	2.590267	carbon-nitrogen ligase activity on lipid II
GO:0008980	0.000054	9.820323	2.614960	propionate kinase activity
GO:0031732	0.000054	9.820323	2.614960	CCR7 chemokine receptor binding
GO:0001785	0.000054	9.820323	2.639057	prostaglandin J receptor activity
GO:0008795	0.000054	9.820323	2.639057	NAD+ synthase activity
GO:0008885	0.000054	9.820323	2.639057	glutathionylspermidine synthase activity
GO:0016501	0.000054	9.820323	2.639057	prostacyclin receptor activity
GO:0017178	0.000054	9.820323	2.639057	diphthine-ammonia ligase activity
GO:0099181	0.000054	9.820323	2.639057	structural constituent of presynapse
GO:0140343	0.000054	9.820323	2.639057	phosphatidylserine transfer activity
GO:0045439	0.000054	9.820323	2.662588	isopenicillin-N epimerase activity
GO:0047925	0.000054	9.820323	2.662588	geranoyl-CoA carboxylase activity
GO:0097020	0.000054	9.820323	2.685577	COPII adaptor activity
GO:0008828	0.000054	9.820323	2.708050	dATP pyrophosphohydrolase activity
GO:0036219	0.000054	9.820323	2.708050	GTP diphosphatase activity
GO:0036221	0.000054	9.820323	2.708050	UTP diphosphatase activity
GO:0080133	0.000054	9.820323	2.708050	midchain alkane hydroxylase activity
GO:0086039	0.000054	9.820323	2.730029	calcium-transporting ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0003943	0.000054	9.820323	2.751535	N-acetylgalactosamine-4-sulfatase activity
GO:0004787	0.000054	9.820323	2.751535	thiamine-pyrophosphatase activity
GO:0018741	0.000054	9.820323	2.751535	alkyl sulfatase activity
GO:0044716	0.000054	9.820323	2.751535	8-oxo-GDP phosphatase activity
GO:0001850	0.000054	9.820323	2.772589	complement component C3a binding
GO:0008690	0.000054	9.820323	2.813411	3-deoxy-manno-octulosonate cytidylyltransferase activity
GO:0016727	0.000054	9.820323	2.813411	oxidoreductase activity, acting on CH or CH2 groups, oxygen as acceptor
GO:0043997	0.000054	9.820323	2.813411	histone acetyltransferase activity (H4-K12 specific)
GO:0008797	0.000054	9.820323	2.833213	aspartate ammonia-lyase activity
GO:0030848	0.000054	9.820323	2.833213	threo-3-hydroxyaspartate ammonia-lyase activity
GO:0034017	0.000054	9.820323	2.833213	trans-2-decenoyl-acyl-carrier-protein isomerase activity
GO:0050467	0.000054	9.820323	2.833213	pentalenene synthase activity
GO:0052578	0.000054	9.820323	2.833213	alpha-farnesene synthase activity
GO:0052883	0.000054	9.820323	2.833213	tyrosine ammonia-lyase activity
GO:0035885	0.000054	9.820323	2.852631	exochitinase activity
GO:1905201	0.000054	9.820323	2.871680	gibberellin transmembrane transporter activity
GO:0052815	0.000054	9.820323	2.890372	medium-chain acyl-CoA hydrolase activity
GO:0052816	0.000054	9.820323	2.890372	long-chain acyl-CoA hydrolase activity
GO:0000048	0.000054	9.820323	2.926739	peptidyltransferase activity
GO:0043210	0.000054	9.820323	2.926739	alkanesulfonate binding
GO:0005175	0.000054	9.820323	2.944439	CD27 receptor binding
GO:0019778	0.000054	9.820323	2.978925	Atg12 activating enzyme activity
GO:0019780	0.000054	9.820323	2.978925	FAT10 activating enzyme activity
GO:0042292	0.000054	9.820323	2.978925	URM1 activating enzyme activity
GO:0003945	0.000054	9.820323	2.995732	N-acetyllactosamine synthase activity
GO:0004381	0.000054	9.820323	2.995732	fucosylgalactoside 3-alpha-galactosyltransferase activity
GO:0044654	0.000054	9.820323	2.995732	starch alpha-glucosidase activity
GO:0008911	0.000054	9.820323	3.012262	lactaldehyde dehydrogenase activity
GO:0008957	0.000054	9.820323	3.012262	phenylacetaldehyde dehydrogenase activity
GO:0045131	0.000054	9.820323	3.012262	pre-mRNA branch point binding
GO:0050061	0.000054	9.820323	3.012262	long-chain-aldehyde dehydrogenase activity
GO:0070089	0.000054	9.820323	3.012262	chloride-activated potassium channel activity
GO:0071207	0.000054	9.820323	3.012262	histone pre-mRNA stem-loop binding
GO:0031218	0.000054	9.820323	3.028522	arabinogalactan endo-1,4-beta-galactosidase activity
GO:0090432	0.000054	9.820323	3.028522	myristoyl-CoA ligase activity
GO:0090433	0.000054	9.820323	3.028522	palmitoyl-CoA ligase activity
GO:0004037	0.000054	9.820323	3.044522	allantoicase activity
GO:0004848	0.000054	9.820323	3.044522	ureidoglycolate hydrolase activity
GO:0016990	0.000054	9.820323	3.044522	arginine deiminase activity
GO:0047632	0.000054	9.820323	3.044522	agmatine deiminase activity
GO:0140132	0.000054	9.820323	3.044522	iron-sulfur cluster carrier activity
GO:0030366	0.000054	9.820323	3.060271	molybdopterin synthase activity
GO:0101011	0.000054	9.820323	3.060271	inositol 1-diphosphate 2,3,4,5,6-pentakisphosphate 1-diphosphatase activity
GO:0004597	0.000054	9.820323	3.075775	peptide-aspartate beta-dioxygenase activity
GO:0008118	0.000054	9.820323	3.075775	N-acetyllactosaminide alpha-2,3-sialyltransferase activity
GO:0017168	0.000054	9.820323	3.075775	5-oxoprolinase (ATP-hydrolyzing) activity
GO:1990272	0.000054	9.820323	3.075775	anti-Mullerian hormone receptor activity
GO:0047237	0.000054	9.820323	3.091042	glucuronylgalactosylproteoglycan 4-beta-N-acetylgalactosaminyltransferase activity
GO:0047277	0.000054	9.820323	3.091042	globoside alpha-N-acetylgalactosaminyltransferase activity
GO:0033040	0.000054	9.820323	3.106080	sour taste receptor activity
GO:0032448	0.000054	9.820323	3.120895	DNA hairpin binding
GO:0047192	0.000054	9.820323	3.120895	1-alkylglycerophosphocholine O-acetyltransferase activity
GO:0050208	0.000054	9.820323	3.120895	polysialic-acid O-acetyltransferase activity
GO:0052630	0.000054	9.820323	3.120895	UDP-N-acetylgalactosamine diphosphorylase activity
GO:0050236	0.000054	9.820323	3.135494	pyridoxine:NADP 4-dehydrogenase activity
GO:0004119	0.000054	9.820323	3.149883	cGMP-inhibited cyclic-nucleotide phosphodiesterase activity
GO:0015334	0.000054	9.820323	3.149883	high-affinity oligopeptide transmembrane transporter activity
GO:0052712	0.000054	9.820323	3.149883	inositol phosphosphingolipid phospholipase activity
GO:0010177	0.000054	9.820323	3.164068	2-(2'-methylthio)ethylmalate synthase activity
GO:0004509	0.000054	9.820323	3.178054	steroid 21-monooxygenase activity
GO:0018739	0.000054	9.820323	3.178054	4-hydroxybenzoyl-CoA thioesterase activity
GO:0050269	0.000054	9.820323	3.205453	coniferyl-aldehyde dehydrogenase activity
GO:0008701	0.000054	9.820323	3.218876	4-hydroxy-2-oxovalerate aldolase activity
GO:0008813	0.000054	9.820323	3.218876	chorismate lyase activity
GO:0047443	0.000054	9.820323	3.218876	4-hydroxy-4-methyl-2-oxoglutarate aldolase activity
GO:0033746	0.000054	9.820323	3.258097	histone demethylase activity (H3-R2 specific)
GO:0035575	0.000054	9.820323	3.258097	histone demethylase activity (H4-K20 specific)
GO:0008706	0.000054	9.820323	3.270836	6-phospho-beta-glucosidase activity
GO:0047668	0.000054	9.820323	3.270836	amygdalin beta-glucosidase activity
GO:0008255	0.000054	9.820323	3.283414	ecdysis-triggering hormone activity
GO:0010209	0.000054	9.820323	3.283414	vacuolar sorting signal binding
GO:0010489	0.000054	9.820323	3.283414	UDP-4-keto-6-deoxy-glucose-3,5-epimerase activity
GO:0047918	0.000054	9.820323	3.283414	GDP-mannose 3,5-epimerase activity
GO:0050121	0.000054	9.820323	3.283414	N-acylglucosamine 2-epimerase activity
GO:0050378	0.000054	9.820323	3.283414	UDP-glucuronate 4-epimerase activity
GO:0033799	0.000054	9.820323	3.320228	myricetin 3'-O-methyltransferase activity
GO:1901149	0.000054	9.820323	3.320228	salicylic acid binding
GO:0000994	0.000054	9.820323	3.332205	RNA polymerase III core binding
GO:0009045	0.000054	9.820323	3.332205	xylose isomerase activity
GO:0046523	0.000054	9.820323	3.332205	S-methyl-5-thioribose-1-phosphate isomerase activity
GO:0050089	0.000054	9.820323	3.332205	mannose isomerase activity
GO:0008709	0.000054	9.820323	3.344039	cholate 7-alpha-dehydrogenase activity
GO:0035410	0.000054	9.820323	3.344039	dihydrotestosterone 17-beta-dehydrogenase activity
GO:0044594	0.000054	9.820323	3.344039	17-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0072555	0.000054	9.820323	3.344039	17-beta-ketosteroid reductase activity
GO:0008738	0.000054	9.820323	3.355735	L-fuculose-phosphate aldolase activity
GO:0009025	0.000054	9.820323	3.355735	tagatose-bisphosphate aldolase activity
GO:0033984	0.000054	9.820323	3.355735	indole-3-glycerol-phosphate lyase activity
GO:0046593	0.000054	9.820323	3.355735	mandelonitrile lyase activity
GO:0061609	0.000054	9.820323	3.355735	fructose-1-phosphate aldolase activity
GO:0097023	0.000054	9.820323	3.355735	fructose 6-phosphate aldolase activity
GO:0004783	0.000054	9.820323	3.367296	sulfite reductase (NADPH) activity
GO:0008965	0.000054	9.820323	3.390024	phosphoenolpyruvate-protein phosphotransferase activity
GO:0031739	0.000054	9.820323	3.390024	cholecystokinin receptor binding
GO:0031763	0.000054	9.820323	3.390024	galanin receptor binding
GO:0031770	0.000054	9.820323	3.390024	growth hormone-releasing hormone receptor binding
GO:0031877	0.000054	9.820323	3.390024	somatostatin receptor binding
GO:0031955	0.000054	9.820323	3.390024	short-chain fatty acid-CoA ligase activity
GO:0042922	0.000054	9.820323	3.390024	neuromedin U receptor binding
GO:0005139	0.000054	9.820323	3.412247	interleukin-7 receptor binding
GO:0071795	0.000054	9.820323	3.412247	K11-linked polyubiquitin modification-dependent protein binding
GO:0071796	0.000054	9.820323	3.412247	K6-linked polyubiquitin modification-dependent protein binding
GO:0018826	0.000054	9.820323	3.444682	methionine gamma-lyase activity
GO:0034010	0.000054	9.820323	3.444682	sulfolactate sulfo-lyase activity
GO:0044540	0.000054	9.820323	3.444682	L-cystine L-cysteine-lyase (deaminating)
GO:0004132	0.000054	9.820323	3.476099	dCMP deaminase activity
GO:0047974	0.000054	9.820323	3.476099	guanosine deaminase activity
GO:0042970	0.000054	9.820323	3.506558	homoserine transmembrane transporter activity
GO:0032131	0.000054	9.820323	3.516508	alkylated DNA binding
GO:0001064	0.000054	9.820323	3.526361	single subunit type RNA polymerase activity
GO:0050625	0.000054	9.820323	3.526361	2-hydroxy-1,4-benzoquinone reductase activity
GO:0044748	0.000054	9.820323	3.536117	3'-5'-exoribonuclease activity involved in mature miRNA 3'-end processing
GO:0008859	0.000054	9.820323	3.555348	exoribonuclease II activity
GO:0047126	0.000054	9.820323	3.555348	N5-(carboxyethyl)ornithine synthase activity
GO:0052875	0.000054	9.820323	3.555348	riboflavin reductase (NADH) activity
GO:0010012	0.000054	9.820323	3.564827	steroid 22-alpha hydroxylase activity
GO:0045129	0.000054	9.820323	3.564827	NAD-independent histone deacetylase activity
GO:0090614	0.000054	9.820323	3.628776	5'-methylthioadenosine deaminase activity
GO:0031278	0.000054	9.820323	3.637586	alpha-1,2-galactosyltransferase activity
GO:0047268	0.000054	9.820323	3.637586	galactinol-raffinose galactosyltransferase activity
GO:0010859	0.000054	9.820323	3.646320	calcium-dependent cysteine-type endopeptidase inhibitor activity
GO:0046987	0.000054	9.820323	3.654978	N-acetyllactosamine beta-1,3-glucuronosyltransferase activity
GO:0046988	0.000054	9.820323	3.654978	asioloorosomucoid beta-1,3-glucuronosyltransferase activity
GO:0046989	0.000054	9.820323	3.654978	galactosyl beta-1,3 N-acetylgalactosamine beta-1,3-glucuronosyltransferase activity
GO:0050510	0.000054	9.820323	3.654978	N-acetylgalactosaminyl-proteoglycan 3-beta-glucuronosyltransferase activity
GO:0062072	0.000054	9.820323	3.680511	H3K9me3 modified histone binding
GO:0047763	0.000054	9.820323	3.697178	caffeate O-methyltransferase activity
GO:0001888	0.000054	9.820323	3.729701	glucuronyl-galactosyl-proteoglycan 4-alpha-N-acetylglucosaminyltransferase activity
GO:0004577	0.000054	9.820323	3.729701	N-acetylglucosaminyldiphosphodolichol N-acetylglucosaminyltransferase activity
GO:0008765	0.000054	9.820323	3.729701	UDP-N-acetylmuramoylalanyl-D-glutamate-2,6-diaminopimelate ligase activity
GO:0042328	0.000054	9.820323	3.729701	heparan sulfate N-acetylglucosaminyltransferase activity
GO:0050565	0.000054	9.820323	3.729701	aerobactin synthase activity
GO:0090624	0.000054	9.820323	3.737670	endoribonuclease activity, cleaving miRNA-paired mRNA
GO:0106245	0.000054	9.820323	3.737670	L-serine-phosphatidylethanolamine phosphatidyltransferase activity
GO:0047805	0.000054	9.820323	3.761200	cytidylate cyclase activity
GO:0001607	0.000054	9.820323	3.776585	neuromedin U receptor activity
GO:0035236	0.000054	9.820323	3.776585	proctolin receptor activity
GO:1901239	0.000054	9.820323	3.791737	malonate(1-) transmembrane transporter activity
GO:0008685	0.000054	9.820323	3.806662	2-C-methyl-D-erythritol 2,4-cyclodiphosphate synthase activity
GO:0004159	0.000054	9.820323	3.814043	dihydrouracil dehydrogenase (NAD+) activity
GO:0018506	0.000054	9.820323	3.814043	maleylacetate reductase activity
GO:0033729	0.000054	9.820323	3.814043	anthocyanidin reductase activity
GO:0034824	0.000054	9.820323	3.814043	citronellyl-CoA dehydrogenase activity
GO:0043115	0.000054	9.820323	3.814043	precorrin-2 dehydrogenase activity
GO:0043958	0.000054	9.820323	3.814043	acryloyl-CoA reductase activity
GO:0047115	0.000054	9.820323	3.814043	trans-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0050614	0.000054	9.820323	3.814043	delta24-sterol reductase activity
GO:0070287	0.000054	9.820323	3.814043	ferritin receptor activity
GO:0070335	0.000054	9.820323	3.814043	aspartate binding
GO:0010297	0.000054	9.820323	3.821369	heteropolysaccharide binding
GO:0016643	0.000054	9.820323	3.821369	oxidoreductase activity, acting on the CH-NH2 group of donors, iron-sulfur protein as acceptor
GO:2001147	0.000054	9.820323	3.821369	camalexin binding
GO:0003868	0.000054	9.820323	3.828641	4-hydroxyphenylpyruvate dioxygenase activity
GO:0017172	0.000054	9.820323	3.828641	cysteine dioxygenase activity
GO:0019114	0.000054	9.820323	3.828641	catechol dioxygenase activity
GO:0050054	0.000054	9.820323	3.828641	lignostilbene alpha beta-dioxygenase activity
GO:0050313	0.000054	9.820323	3.828641	sulfur dioxygenase activity
GO:0003912	0.000054	9.820323	3.835862	DNA nucleotidylexotransferase activity
GO:0008756	0.000054	9.820323	3.835862	o-succinylbenzoate-CoA ligase activity
GO:0030729	0.000054	9.820323	3.835862	acetoacetate-CoA ligase activity
GO:0035755	0.000054	9.820323	3.835862	cardiolipin hydrolase activity
GO:0043955	0.000054	9.820323	3.835862	3-hydroxypropionyl-CoA synthetase activity
GO:0050197	0.000054	9.820323	3.835862	phytanate-CoA ligase activity
GO:0050203	0.000054	9.820323	3.835862	oxalate-CoA ligase activity
GO:0050290	0.000054	9.820323	3.835862	sphingomyelin phosphodiesterase D activity
GO:0090409	0.000054	9.820323	3.835862	malonyl-CoA synthetase activity
GO:0008972	0.000054	9.820323	3.871201	phosphomethylpyrimidine kinase activity
GO:0009030	0.000054	9.820323	3.871201	thiamine-phosphate kinase activity
GO:0003877	0.000054	9.820323	3.884994	ATP adenylyltransferase activity
GO:0061598	0.000054	9.820323	3.884994	molybdopterin adenylyltransferase activity
GO:0008777	0.000054	9.820323	3.891820	acetylornithine deacetylase activity
GO:0050118	0.000054	9.820323	3.891820	N-acetyldiaminopimelate deacetylase activity
GO:0008671	0.000054	9.820323	3.898600	2-dehydro-3-deoxygalactonokinase activity
GO:0008993	0.000054	9.820323	3.898600	rhamnulokinase activity
GO:0080013	0.000054	9.820323	3.918668	(E,E)-geranyllinalool synthase activity
GO:0102145	0.000054	9.820323	3.918668	(3R)-(E)-nerolidol synthase activity
GO:0102881	0.000054	9.820323	3.918668	(+)-beta-barbatene synthase activity
GO:0106239	0.000054	9.820323	3.918668	9,13-epoxylabda-14-ene synthase activity
GO:0004493	0.000054	9.820323	3.925268	methylmalonyl-CoA epimerase activity
GO:1990080	0.000054	9.820323	3.931826	2-phenylethylamine receptor activity
GO:0016232	0.000054	9.820323	3.957634	HNK-1 sulfotransferase activity
GO:0050659	0.000054	9.820323	3.957634	N-acetylgalactosamine 4-sulfate 6-O-sulfotransferase activity
GO:0050698	0.000054	9.820323	3.957634	proteoglycan sulfotransferase activity
GO:0080118	0.000054	9.820323	3.957634	brassinosteroid sulfotransferase activity
GO:0000907	0.000054	9.820323	3.970292	sulfonate dioxygenase activity
GO:0000908	0.000054	9.820323	3.970292	taurine dioxygenase activity
GO:0045431	0.000054	9.820323	3.970292	flavonol synthase activity
GO:0090416	0.000054	9.820323	3.982792	nicotinate transmembrane transporter activity
GO:0002114	0.000054	9.820323	4.013375	interleukin-33 receptor activity
GO:0004913	0.000054	9.820323	4.013375	interleukin-4 receptor activity
GO:0004914	0.000054	9.820323	4.013375	interleukin-5 receptor activity
GO:0004917	0.000054	9.820323	4.013375	interleukin-7 receptor activity
GO:0008714	0.000054	9.820323	4.013375	AMP nucleosidase activity
GO:0042020	0.000054	9.820323	4.013375	interleukin-23 receptor activity
GO:0070635	0.000054	9.820323	4.013375	nicotinamide riboside hydrolase activity
GO:0070694	0.000054	9.820323	4.013375	deoxyribonucleoside 5'-monophosphate N-glycosidase activity
GO:0140292	0.000054	9.820323	4.013375	ADP-ribosylserine hydrolase activity
GO:0052739	0.000054	9.820323	4.025352	phosphatidylserine 1-acylhydrolase activity
GO:0033853	0.000054	9.820323	4.037186	aspartate-prephenate aminotransferase activity
GO:0033854	0.000054	9.820323	4.037186	glutamate-prephenate aminotransferase activity
GO:0033855	0.000054	9.820323	4.037186	nicotianamine aminotransferase activity
GO:0047801	0.000054	9.820323	4.037186	L-cysteine:2-oxoglutarate aminotransferase activity
GO:0047958	0.000054	9.820323	4.037186	glycine:2-oxoglutarate aminotransferase activity
GO:0050048	0.000054	9.820323	4.037186	L-leucine:2-oxoglutarate aminotransferase activity
GO:0010354	0.000054	9.820323	4.066174	homogentisate prenyltransferase activity
GO:0047213	0.000054	9.820323	4.066174	anthocyanidin 3-O-glucosyltransferase activity
GO:0047215	0.000054	9.820323	4.066174	indole-3-acetate beta-glucosyltransferase activity
GO:0047254	0.000054	9.820323	4.066174	2,4-dihydroxy-7-methoxy-2H-1,4-benzoxazin-3(4H)-one 2-D-glucosyltransferase activity
GO:0047270	0.000054	9.820323	4.066174	lipopolysaccharide glucosyltransferase II activity
GO:0047807	0.000054	9.820323	4.066174	cytokinin 7-beta-glucosyltransferase activity
GO:0050139	0.000054	9.820323	4.066174	nicotinate-N-glucosyltransferase activity
GO:0052638	0.000054	9.820323	4.066174	indole-3-butyrate beta-glucosyltransferase activity
GO:0052641	0.000054	9.820323	4.066174	benzoic acid glucosyltransferase activity
GO:0080062	0.000054	9.820323	4.066174	cytokinin 9-beta-glucosyltransferase activity
GO:0120048	0.000054	9.820323	4.194693	U6 snRNA (adenine-(43)-N(6))-methyltransferase activity
GO:0061749	0.000054	9.820323	4.229264	forked DNA-dependent helicase activity
GO:0005171	0.000054	9.820323	4.243722	hepatocyte growth factor receptor binding
GO:0002113	0.000054	9.820323	4.253246	interleukin-33 binding
GO:0015080	0.000054	9.820323	4.253246	silver ion transmembrane transporter activity
GO:0042019	0.000054	9.820323	4.253246	interleukin-23 binding
GO:0070379	0.000054	9.820323	4.253246	high mobility group box 1 binding
GO:0005252	0.000054	9.820323	4.272026	open rectifier potassium channel activity
GO:0047471	0.000054	9.820323	4.285883	maltose alpha-D-glucosyltransferase activity
GO:0018601	0.000054	9.820323	4.295015	4-nitrophenol 2-monooxygenase activity
GO:0018659	0.000054	9.820323	4.295015	4-hydroxybenzoate 3-monooxygenase activity
GO:0018662	0.000054	9.820323	4.295015	phenol 2-monooxygenase activity
GO:0018669	0.000054	9.820323	4.295015	3-hydroxybenzoate 6-monooxygenase activity
GO:0033770	0.000054	9.820323	4.295015	2-hydroxyisoflavanone synthase activity
GO:0033781	0.000054	9.820323	4.295015	cholesterol 24-hydroxylase activity
GO:0036202	0.000054	9.820323	4.295015	ent-cassa-12,15-diene 11-hydroxylase activity
GO:0048529	0.000054	9.820323	4.295015	magnesium-protoporphyrin IX monomethyl ester (oxidative) cyclase activity
GO:0050183	0.000054	9.820323	4.295015	phosphatidylcholine 12-monooxygenase activity
GO:0072533	0.000054	9.820323	4.295015	tri-(coumaroyl or caffeoyl) spermidine meta-hydroxylase activity
GO:0102614	0.000054	9.820323	4.295015	germacrene A acid 8beta-hydroxylase activity
GO:0102934	0.000054	9.820323	4.295015	costunolide synthase activity
GO:0018845	0.000054	9.820323	4.304065	2-hydroxychromene-2-carboxylate isomerase activity
GO:0034020	0.000054	9.820323	4.304065	neoxanthin synthase activity
GO:0032001	0.000054	9.820323	4.321923	1,4-alpha-glucan 6-alpha-glucosyltransferase activity
GO:0033832	0.000054	9.820323	4.321923	alpha,alpha-trehalose phosphorylase (configuration-retaining) activity
GO:0033838	0.000054	9.820323	4.321923	flavonol-3-O-glucoside glucosyltransferase activity
GO:0042281	0.000054	9.820323	4.321923	dolichyl pyrophosphate Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0106073	0.000054	9.820323	4.321923	dolichyl pyrophosphate Glc2Man9GlcNAc2 alpha-1,2-glucosyltransferase activity
GO:0047286	0.000054	9.820323	4.330733	NAD+-diphthamide ADP-ribosyltransferase activity
GO:0047975	0.000054	9.820323	4.330733	guanosine phosphorylase activity
GO:0099580	0.000054	9.820323	4.335110	ion antiporter activity involved in regulation of postsynaptic membrane potential
GO:0001760	0.000054	9.820323	4.352426	aminocarboxymuconate-semialdehyde decarboxylase activity
GO:0008923	0.000054	9.820323	4.352426	lysine decarboxylase activity
GO:0008949	0.000054	9.820323	4.352426	oxalyl-CoA decarboxylase activity
GO:0016984	0.000054	9.820323	4.352426	ribulose-bisphosphate carboxylase activity
GO:0033982	0.000054	9.820323	4.352426	3-dehydro-L-gulonate-6-phosphate decarboxylase activity
GO:0047613	0.000054	9.820323	4.352426	aconitate decarboxylase activity
GO:0047688	0.000054	9.820323	4.352426	aspartate 4-decarboxylase activity
GO:0051997	0.000054	9.820323	4.352426	2-oxo-4-hydroxy-4-carboxy-5-ureidoimidazoline decarboxylase activity
GO:0008780	0.000054	9.820323	4.365220	acyl-[acyl-carrier-protein]-UDP-N-acetylglucosamine O-acyltransferase activity
GO:0050252	0.000054	9.820323	4.365220	retinol O-fatty-acyltransferase activity
GO:0106262	0.000054	9.820323	4.365220	1-acylglycerophosphoethanolamine O-acyltransferase activity
GO:0008437	0.000054	9.820323	4.377851	thyrotropin-releasing hormone activity
GO:0016085	0.000054	9.820323	4.377851	myoinhibitory hormone activity
GO:0046659	0.000054	9.820323	4.377851	digestive hormone activity
GO:0034601	0.000054	9.820323	4.398556	oxoglutarate dehydrogenase [NAD(P)+] activity
GO:0043796	0.000054	9.820323	4.398556	glyceraldehyde dehydrogenase (NADP) activity
GO:0047105	0.000054	9.820323	4.398556	4-trimethylammoniobutyraldehyde dehydrogenase activity
GO:0047533	0.000054	9.820323	4.398556	2,5-dioxovalerate dehydrogenase (NADP+) activity
GO:0048001	0.000054	9.820323	4.398556	erythrose-4-phosphate dehydrogenase activity
GO:0050608	0.000054	9.820323	4.398556	vanillin dehydrogenase activity
GO:0016692	0.000054	9.820323	4.406719	NADH peroxidase activity
GO:0047888	0.000054	9.820323	4.406719	fatty acid peroxidase activity
GO:0045154	0.000054	9.820323	4.458216	electron transporter, transferring electrons within cytochrome c oxidase complex activity
GO:0045155	0.000054	9.820323	4.458216	electron transporter, transferring electrons from CoQH2-cytochrome c reductase complex and cytochrome c oxidase complex activity
GO:0046028	0.000054	9.820323	4.458216	electron transporter, transferring electrons from cytochrome b6/f complex of photosystem II activity
GO:1990137	0.000054	9.820323	4.481118	plant seed peroxidase activity
GO:0030519	0.000054	9.820323	4.510860	snoRNP binding
GO:0004358	0.000054	9.820323	4.574711	glutamate N-acetyltransferase activity
GO:0051392	0.000054	9.820323	4.574711	tRNA N-acetyltransferase activity
GO:1990883	0.000054	9.820323	4.574711	rRNA cytidine N-acetyltransferase activity
GO:0004847	0.000054	9.820323	4.595120	urea carboxylase activity
GO:0072590	0.000054	9.820323	4.595120	N-acetyl-L-aspartate-L-glutamate ligase activity
GO:0009917	0.000054	9.820323	4.611815	sterol 5-alpha reductase activity
GO:0016632	0.000054	9.820323	4.611815	oxidoreductase activity, acting on the CH-CH group of donors, cytochrome as acceptor
GO:0051786	0.000054	9.820323	4.611815	all-trans-retinol 13,14-reductase activity
GO:0004603	0.000054	9.820323	4.624973	phenylethanolamine N-methyltransferase activity
GO:0008112	0.000054	9.820323	4.624973	nicotinamide N-methyltransferase activity
GO:0009389	0.000054	9.820323	4.653960	dimethyl sulfoxide reductase activity
GO:0016673	0.000054	9.820323	4.653960	oxidoreductase activity, acting on a sulfur group of donors, iron-sulfur protein as acceptor
GO:0052807	0.000054	9.820323	4.653960	aflatoxin reductase (coenzyme F420) activity
GO:1990955	0.000054	9.820323	4.669709	G-rich single-stranded DNA binding
GO:0061775	0.000054	9.820323	4.672829	cohesin ATPase activity
GO:0036082	0.000054	9.820323	4.682131	extracellular phenylacetaldehyde-gated ion channel activity
GO:0043794	0.000054	9.820323	4.703506	formate dehydrogenase (coenzyme F420) activity
GO:0004990	0.000054	9.820323	4.709530	oxytocin receptor activity
GO:0015054	0.000054	9.820323	4.709530	gastrin receptor activity
GO:0030270	0.000054	9.820323	4.804021	formylmethanofuran-tetrahydromethanopterin N-formyltransferase activity
GO:0050640	0.000054	9.820323	4.804021	isopenicillin-N N-acyltransferase activity
GO:0080072	0.000054	9.820323	4.804021	spermidine:sinapoyl CoA N-acyltransferase activity
GO:0080073	0.000054	9.820323	4.804021	spermidine:coumaroyl CoA N-acyltransferase activity
GO:0106231	0.000054	9.820323	4.804021	protein-propionyllysine depropionylase activity
GO:0140065	0.000054	9.820323	4.804021	peptide butyryltransferase activity
GO:0036054	0.000054	9.820323	4.830977	protein-malonyllysine demalonylase activity
GO:0050126	0.000054	9.820323	4.830977	N-carbamoylputrescine amidase activity
GO:0050129	0.000054	9.820323	4.830977	N-formylglutamate deformylase activity
GO:0050538	0.000054	9.820323	4.830977	N-carbamoyl-L-amino-acid hydrolase activity
GO:0050568	0.000054	9.820323	4.830977	protein-glutamine glutaminase activity
GO:0061690	0.000054	9.820323	4.830977	lipoamidase activity
GO:0070773	0.000054	9.820323	4.830977	protein-N-terminal glutamine amidohydrolase activity
GO:0071713	0.000054	9.820323	4.830977	para-aminobenzoyl-glutamate hydrolase activity
GO:0102121	0.000054	9.820323	4.830977	ceramidase activity
GO:0110050	0.000054	9.820323	4.830977	deaminated glutathione amidase activity
GO:0060422	0.000054	9.820323	4.833633	peptidyl-dipeptidase inhibitor activity
GO:1905108	0.000054	9.820323	4.867534	guanosine binding
GO:0001884	0.000054	9.820323	4.890349	pyrimidine nucleoside binding
GO:0071771	0.000054	9.820323	4.927254	aldehyde decarbonylase activity
GO:0008959	0.000054	9.820323	4.934474	phosphate acetyltransferase activity
GO:0005147	0.000054	9.820323	4.976734	oncostatin-M receptor binding
GO:0045517	0.000054	9.820323	4.976734	interleukin-20 receptor binding
GO:0045523	0.000054	9.820323	4.976734	interleukin-27 receptor binding
GO:0008995	0.000054	9.820323	5.001707	ribonuclease E activity
GO:0015104	0.000054	9.820323	5.012855	antimonite transmembrane transporter activity
GO:0015654	0.000054	9.820323	5.012855	tellurite transmembrane transporter activity
GO:0030504	0.000054	9.820323	5.012855	inorganic diphosphate transmembrane transporter activity
GO:0120153	0.000054	9.820323	5.012855	calcium-dependent carbohydrate binding
GO:0004730	0.000054	9.820323	5.032614	pseudouridylate synthase activity
GO:0008124	0.000054	9.820323	5.032614	4-alpha-hydroxytetrahydrobiopterin dehydratase activity
GO:0016153	0.000054	9.820323	5.032614	urocanate hydratase activity
GO:0018819	0.000054	9.820323	5.032614	lactoyl-CoA dehydratase activity
GO:0033987	0.000054	9.820323	5.032614	2-hydroxyisoflavanone dehydratase activity
GO:0046570	0.000054	9.820323	5.032614	methylthioribulose 1-phosphate dehydratase activity
GO:0047808	0.000054	9.820323	5.032614	D(-)-tartrate dehydratase activity
GO:0047868	0.000054	9.820323	5.032614	dimethylmaleate hydratase activity
GO:0050023	0.000054	9.820323	5.032614	L-fuconate dehydratase activity
GO:0050377	0.000054	9.820323	5.032614	UDP-glucose 4,6-dehydratase activity
GO:0050401	0.000054	9.820323	5.032614	xylonate dehydratase activity
GO:0050474	0.000054	9.820323	5.032614	(S)-norcoclaurine synthase activity
GO:0080023	0.000054	9.820323	5.032614	3R-hydroxyacyl-CoA dehydratase activity
GO:0102161	0.000054	9.820323	5.032614	copal-8-ol diphosphate synthase activity
GO:0106238	0.000054	9.820323	5.032614	peregrinol diphosphate synthase activity
GO:0140107	0.000054	9.820323	5.075174	high-affinity potassium ion transmembrane transporter activity
GO:0031700	0.000054	9.820323	5.115996	adrenomedullin receptor binding
GO:0031717	0.000054	9.820323	5.115996	cannabinoid receptor binding
GO:0031753	0.000054	9.820323	5.115996	endothelial differentiation G protein-coupled receptor binding
GO:0031774	0.000054	9.820323	5.115996	leukotriene receptor binding
GO:0031775	0.000054	9.820323	5.115996	lutropin-choriogonadotropic hormone receptor binding
GO:0031788	0.000054	9.820323	5.115996	motilin receptor binding
GO:0031856	0.000054	9.820323	5.115996	parathyroid hormone receptor binding
GO:0031859	0.000054	9.820323	5.115996	platelet activating factor receptor binding
GO:0031862	0.000054	9.820323	5.115996	prostanoid receptor binding
GO:0008760	0.000054	9.820323	5.170484	UDP-N-acetylglucosamine 1-carboxyvinyltransferase activity
GO:0008817	0.000054	9.820323	5.170484	cob(I)yrinic acid a,c-diamide adenosyltransferase activity
GO:0033847	0.000054	9.820323	5.170484	O-phosphoserine sulfhydrylase activity
GO:0044689	0.000054	9.820323	5.170484	7,8-didemethyl-8-hydroxy-5-deazariboflavin synthase activity
GO:0050364	0.000054	9.820323	5.170484	tryptophan dimethylallyltransferase activity
GO:0052622	0.000054	9.820323	5.170484	ATP dimethylallyltransferase activity
GO:0052623	0.000054	9.820323	5.170484	ADP dimethylallyltransferase activity
GO:0008915	0.000054	9.820323	5.192957	lipid-A-disaccharide synthase activity
GO:0047262	0.000054	9.820323	5.192957	polygalacturonate 4-alpha-galacturonosyltransferase activity
GO:0004453	0.000054	9.820323	5.198497	juvenile-hormone esterase activity
GO:0047619	0.000054	9.820323	5.198497	acylcarnitine hydrolase activity
GO:0050490	0.000054	9.820323	5.198497	1,4-lactonase activity
GO:0052793	0.000054	9.820323	5.198497	pectin acetylesterase activity
GO:0102140	0.000054	9.820323	5.198497	heparan sulfate N-deacetylase activity
GO:0046409	0.000054	9.820323	5.252273	p-coumarate 3-hydroxylase activity
GO:0052694	0.000054	9.820323	5.252273	jasmonoyl-isoleucine-12-hydroxylase activity
GO:0052722	0.000054	9.820323	5.252273	fatty acid in-chain hydroxylase activity
GO:0030731	0.000054	9.820323	5.304962	guanidinoacetate N-methyltransferase activity
GO:0030746	0.000054	9.820323	5.304962	isoflavone 4'-O-methyltransferase activity
GO:0030791	0.000054	9.820323	5.304962	arsenite methyltransferase activity
GO:0051741	0.000054	9.820323	5.304962	2-methyl-6-phytyl-1,4-benzoquinone methyltransferase activity
GO:0009392	0.000054	9.820323	5.398163	N-acetyl-anhydromuramoyl-L-alanine amidase activity
GO:0051381	0.000054	9.820323	5.398163	histamine binding
GO:0038177	0.000054	9.820323	5.494432	death receptor agonist activity
GO:0052631	0.000054	9.820323	5.510737	sphingolipid delta-8 desaturase activity
GO:0080105	0.000054	9.820323	5.510737	6-methylthiopropyl glucosinolate S-oxygenase activity
GO:0000016	0.000054	9.820323	5.542570	lactase activity
GO:0016977	0.000054	9.820323	5.542570	chitosanase activity
GO:0033934	0.000054	9.820323	5.542570	glucan 1,4-alpha-maltotriohydrolase activity
GO:0033957	0.000054	9.820323	5.542570	lambda-carrageenase activity
GO:0046559	0.000054	9.820323	5.542570	alpha-glucuronidase activity
GO:0051060	0.000054	9.820323	5.542570	pullulanase activity
GO:0052775	0.000054	9.820323	5.542570	endo-1,3-alpha-L-rhamnosidase activity
GO:0080176	0.000054	9.820323	5.542570	xyloglucan 1,6-alpha-xylosidase activity
GO:0000140	0.000054	9.820323	5.545177	acylglycerone-phosphate reductase activity
GO:0000721	0.000054	9.820323	5.545177	(R,R)-butanediol dehydrogenase activity
GO:0008679	0.000054	9.820323	5.545177	2-hydroxy-3-oxopropionate reductase activity
GO:0008691	0.000054	9.820323	5.545177	3-hydroxybutyryl-CoA dehydrogenase activity
GO:0010490	0.000054	9.820323	5.545177	UDP-4-keto-rhamnose-4-keto-reductase activity
GO:0019152	0.000054	9.820323	5.545177	acetoin dehydrogenase activity
GO:0031132	0.000054	9.820323	5.545177	serine 3-dehydrogenase activity
GO:0033705	0.000054	9.820323	5.545177	GDP-4-dehydro-6-deoxy-D-mannose reductase activity
GO:0033833	0.000054	9.820323	5.545177	hydroxymethylfurfural reductase (NADH) activity
GO:0036132	0.000054	9.820323	5.545177	13-prostaglandin reductase activity
GO:0036441	0.000054	9.820323	5.545177	2-dehydropantolactone reductase activity
GO:0047012	0.000054	9.820323	5.545177	sterol-4-alpha-carboxylate 3-dehydrogenase (decarboxylating) activity
GO:0047016	0.000054	9.820323	5.545177	cholest-5-ene-3-beta,7-alpha-diol 3-beta-dehydrogenase activity
GO:0047017	0.000054	9.820323	5.545177	prostaglandin-F synthase activity
GO:0047025	0.000054	9.820323	5.545177	3-oxoacyl-[acyl-carrier-protein] reductase (NADH) activity
GO:0047728	0.000054	9.820323	5.545177	carnitine 3-dehydrogenase activity
GO:0047837	0.000054	9.820323	5.545177	D-xylose 1-dehydrogenase (NADP+) activity
GO:0047886	0.000054	9.820323	5.545177	farnesol dehydrogenase activity
GO:0047995	0.000054	9.820323	5.545177	hydroxyphenylpyruvate reductase activity
GO:0050086	0.000054	9.820323	5.545177	mannitol 2-dehydrogenase activity
GO:0050221	0.000054	9.820323	5.545177	prostaglandin-E2 9-reductase activity
GO:0102497	0.000054	9.820323	5.545177	scyllo-inositol dehydrogenase (NADP+) activity
GO:0102911	0.000054	9.820323	5.545177	(-)-secoisolariciresinol dehydrogenase activity
GO:1990002	0.000054	9.820323	5.545177	methylglyoxal reductase (NADPH-dependent, acetol producing)
GO:0060703	0.000054	9.820323	5.574686	deoxyribonuclease inhibitor activity
GO:0090353	0.000054	9.820323	5.574686	polygalacturonase inhibitor activity
GO:0035049	0.000054	9.820323	5.597187	juvenile hormone acid methyltransferase activity
GO:0043791	0.000054	9.820323	5.597187	dimethylamine methyltransferase activity
GO:0043834	0.000054	9.820323	5.597187	trimethylamine methyltransferase activity
GO:0044683	0.000054	9.820323	5.597187	methylthiol:coenzyme M methyltransferase activity
GO:0051749	0.000054	9.820323	5.597187	indole acetic acid carboxyl methyltransferase activity
GO:0018468	0.000054	9.820323	5.673323	alcohol dehydrogenase (acceptor) activity
GO:0042469	0.000054	9.820323	5.673323	versicolorin reductase activity
GO:1990521	0.000054	9.820323	5.675612	m7G(5')pppN diphosphatase activator activity
GO:0010736	0.000054	9.820323	5.699328	serum response element binding
GO:0035538	0.000054	9.820323	5.699328	carbohydrate response element binding
GO:0071568	0.000054	9.820323	5.699328	UFM1 transferase activity
GO:0071820	0.000054	9.820323	5.699328	N-box binding
GO:0120225	0.000054	9.820323	5.731181	coenzyme A binding
GO:0008755	0.000054	9.820323	5.744071	O antigen polymerase activity
GO:0033201	0.000054	9.820323	5.744071	alpha-1,4-glucan synthase activity
GO:0050500	0.000054	9.820323	5.744071	1,3-beta-galactosyl-N-acetylhexosamine phosphorylase activity
GO:0050738	0.000054	9.820323	5.744071	fructosyltransferase activity
GO:0102454	0.000054	9.820323	5.744071	cyanidin 3-O-galactosyltransferase activity
GO:0102751	0.000054	9.820323	5.744071	UDP-alpha-D-glucose:glucosyl-glycogenin alpha-D-glucosyltransferase activity
GO:0070463	0.000054	9.820323	5.807141	tubulin-dependent ATPase activity
GO:0016752	0.000054	9.820323	5.817111	sinapoyltransferase activity
GO:0033812	0.000054	9.820323	5.817111	3-oxoadipyl-CoA thiolase activity
GO:0047181	0.000054	9.820323	5.817111	tetrahydroxybenzophenone synthase activity
GO:0047634	0.000054	9.820323	5.817111	agmatine N4-coumaroyltransferase activity
GO:0047962	0.000054	9.820323	5.817111	glycine N-benzoyltransferase activity
GO:0047963	0.000054	9.820323	5.817111	glycine N-choloyltransferase activity
GO:0050200	0.000054	9.820323	5.817111	plasmalogen synthase activity
GO:0050266	0.000054	9.820323	5.817111	rosmarinate synthase activity
GO:0050632	0.000054	9.820323	5.817111	propionyl-CoA C2-trimethyltridecanoyltransferase activity
GO:0061711	0.000054	9.820323	5.817111	N(6)-L-threonylcarbamoyladenine synthase activity
GO:0090430	0.000054	9.820323	5.817111	caffeoyl-CoA: alcohol caffeoyl transferase activity
GO:1990698	0.000054	9.820323	5.817111	palmitoleoyltransferase activity
GO:0036505	0.000054	9.820323	5.819093	prosaposin receptor activity
GO:1990576	0.000054	9.820323	5.819093	G protein-coupled glucose receptor activity
GO:0034200	0.000054	9.820323	5.853160	D,D-heptose 1,7-bisphosphate phosphatase activity
GO:0050124	0.000054	9.820323	5.853160	N-acylneuraminate-9-phosphatase activity
GO:0050192	0.000054	9.820323	5.853160	phosphoglycerate phosphatase activity
GO:0050278	0.000054	9.820323	5.853160	sedoheptulose-bisphosphatase activity
GO:0097657	0.000054	9.820323	5.853160	3',5'-nucleotide bisphosphate phosphatase activity
GO:0102757	0.000054	9.820323	5.853160	NADPH phosphatase activity
GO:0140081	0.000054	9.820323	6.012084	glycosylated region protein binding
GO:0032089	0.000054	9.820323	6.045795	NACHT domain binding
GO:0032427	0.000054	9.820323	6.045795	GBD domain binding
GO:0035500	0.000054	9.820323	6.045795	MH2 domain binding
GO:0036004	0.000054	9.820323	6.045795	GAF domain binding
GO:0036143	0.000054	9.820323	6.045795	kringle domain binding
GO:0051401	0.000054	9.820323	6.045795	CH domain binding
GO:0070080	0.000054	9.820323	6.045795	titin Z domain binding
GO:0070974	0.000054	9.820323	6.045795	POU domain binding
GO:0070984	0.000054	9.820323	6.045795	SET domain binding
GO:0090541	0.000054	9.820323	6.045795	MIT domain binding
GO:0090736	0.000054	9.820323	6.045795	MATH domain binding
GO:0098750	0.000054	9.820323	6.045795	FYXD domain binding
GO:1990175	0.000054	9.820323	6.045795	EH domain binding
GO:0072518	0.000054	9.820323	6.121030	Rho-dependent protein serine/threonine kinase activity
GO:0008147	0.000054	9.820323	6.168913	structural constituent of bone
GO:0016490	0.000054	9.820323	6.168913	structural constituent of peritrophic membrane
GO:0030281	0.000054	9.820323	6.168913	structural constituent of cutaneous appendage
GO:0035804	0.000054	9.820323	6.168913	structural constituent of egg coat
GO:0039660	0.000054	9.820323	6.168913	structural constituent of virion
GO:0097099	0.000054	9.820323	6.168913	structural constituent of albumen
GO:0008894	0.000054	9.820323	6.403574	guanosine-5'-triphosphate,3'-diphosphate diphosphatase activity
GO:0010945	0.000054	9.820323	6.403574	CoA pyrophosphatase activity
GO:0019177	0.000054	9.820323	6.403574	dihydroneopterin triphosphate pyrophosphohydrolase activity
GO:0052751	0.000054	9.820323	6.403574	GDP-mannose hydrolase activity
GO:0052842	0.000054	9.820323	6.403574	inositol diphosphate pentakisphosphate diphosphatase activity
GO:0106177	0.000054	9.820323	6.409626	cyclic-GMP-AMP hydrolase activity
GO:0110152	0.000054	9.820323	6.409626	RNA NAD-cap (NAD-forming) hydrolase activity
GO:1990147	0.000054	9.820323	6.466145	talin binding
GO:0042349	0.000054	9.820323	6.497780	guiding stereospecific synthesis activity
GO:0008281	0.000054	9.820323	6.521602	sulfonylurea receptor activity
GO:0030369	0.000054	9.820323	6.521602	ICAM-3 receptor activity
GO:0038025	0.000054	9.820323	6.521602	reelin receptor activity
GO:0038131	0.000054	9.820323	6.521602	neuregulin receptor activity
GO:2001066	0.000054	9.820323	6.526007	amylopectin binding
GO:0047323	0.000054	9.820323	6.570416	[3-methyl-2-oxobutanoate dehydrogenase (acetyl-transferring)] kinase activity
GO:1901916	0.000054	9.820323	6.570416	protein kinase activity involved in regulation of protein localization to cell division site involved in cytokinesis
GO:0036461	0.000054	9.820323	6.696623	BLOC-2 complex binding
GO:0062078	0.000054	9.820323	6.696623	TSC1-TSC2 complex binding
GO:0106137	0.000054	9.820323	6.696623	IkappaB kinase complex binding
GO:1904713	0.000054	9.820323	6.696623	beta-catenin destruction complex binding
GO:1905334	0.000054	9.820323	6.696623	Swi5-Sfr1 complex binding
GO:1905761	0.000054	9.820323	6.696623	SCF ubiquitin ligase complex binding
GO:1990448	0.000054	9.820323	6.696623	exon-exon junction complex binding
GO:1990593	0.000054	9.820323	6.696623	nascent polypeptide-associated complex binding
GO:0042071	0.000054	9.820323	6.770025	leucokinin receptor activity
GO:0008887	0.000054	9.820323	6.784834	glycerate kinase activity
GO:0009029	0.000054	9.820323	6.784834	tetraacyldisaccharide 4'-kinase activity
GO:0043843	0.000054	9.820323	6.784834	ADP-specific glucokinase activity
GO:0046522	0.000054	9.820323	6.784834	S-methyl-5-thioribose kinase activity
GO:0047620	0.000054	9.820323	6.784834	acylglycerol kinase activity
GO:0050277	0.000054	9.820323	6.784834	sedoheptulokinase activity
GO:0050354	0.000054	9.820323	6.784834	triokinase activity
GO:0052673	0.000054	9.820323	6.807567	prenol kinase activity
GO:0042835	0.000054	9.820323	6.815640	BRE binding
GO:0061752	0.000054	9.820323	6.815640	telomeric repeat-containing RNA binding
GO:0015083	0.000054	9.820323	6.908422	aluminum ion transmembrane transporter activity
GO:0010276	0.000054	9.820323	6.910751	phytol kinase activity
GO:0030387	0.000054	9.820323	6.910751	fructosamine-3-kinase activity
GO:0061769	0.000054	9.820323	6.910751	ribosylnicotinate kinase activity
GO:0030973	0.000054	9.820323	7.008505	molybdate ion binding
GO:1901359	0.000054	9.820323	7.008505	tungstate binding
GO:0061863	0.000054	9.820323	7.101127	microtubule plus end polymerase
GO:0061547	0.000054	9.820323	7.162914	glycogen synthase activity, transferring glucose-1-phosphate
GO:1990827	0.000054	9.820323	7.214750	deaminase binding
GO:0008682	0.000054	9.820323	7.239693	2-octoprenyl-3-methyl-6-methoxy-1,4-benzoquinone hydroxylase activity
GO:0010242	0.000054	9.820323	7.239693	oxygen evolving activity
GO:0034567	0.000054	9.820323	7.239693	chromate reductase activity
GO:0043880	0.000054	9.820323	7.239693	crotonyl-CoA reductase activity
GO:0045550	0.000054	9.820323	7.239693	geranylgeranyl reductase activity
GO:0061599	0.000054	9.820323	8.020818	molybdopterin molybdotransferase activity
GO:0031720	0.000054	9.820323	9.123584	haptoglobin binding
GO:0043221	0.000054	9.820323	9.123584	SMC family protein binding
GO:0045569	0.000054	9.820323	9.123584	TRAIL binding
GO:0031409	0.000054	9.820323	9.384042	pigment binding
GO:1902670	0.000054	9.820323	9.384042	carbon dioxide binding
GO:0002935	0.000036	10.225788	0.000000	tRNA (adenine-C2-)-methyltransferase activity
GO:0004313	0.000036	10.225788	0.000000	[acyl-carrier-protein] S-acetyltransferase activity
GO:0004734	0.000036	10.225788	0.000000	pyrimidodiazepine synthase activity
GO:0004979	0.000036	10.225788	0.000000	beta-endorphin receptor activity
GO:0005260	0.000036	10.225788	0.000000	intracellularly ATP-gated chloride channel activity
GO:0005352	0.000036	10.225788	0.000000	alpha-glucoside:proton symporter activity
GO:0005476	0.000036	10.225788	0.000000	carnitine:acyl carnitine antiporter activity
GO:0008490	0.000036	10.225788	0.000000	arsenite secondary active transmembrane transporter activity
GO:0008512	0.000036	10.225788	0.000000	sulfate:proton symporter activity
GO:0008555	0.000036	10.225788	0.000000	ATPase-coupled chloride transmembrane transporter activity
GO:0008558	0.000036	10.225788	0.000000	ATPase-coupled guanine transmembrane transporter activity
GO:0008725	0.000036	10.225788	0.000000	DNA-3-methyladenine glycosylase activity
GO:0008734	0.000036	10.225788	0.000000	L-aspartate oxidase activity
GO:0008876	0.000036	10.225788	0.000000	quinoprotein glucose dehydrogenase activity
GO:0008899	0.000036	10.225788	0.000000	homoserine O-succinyltransferase activity
GO:0008901	0.000036	10.225788	0.000000	ferredoxin hydrogenase activity
GO:0009012	0.000036	10.225788	0.000000	aminoglycoside 3''-adenylyltransferase activity
GO:0009671	0.000036	10.225788	0.000000	nitrate:proton symporter activity
GO:0009675	0.000036	10.225788	0.000000	high-affinity sulfate:proton symporter activity
GO:0009974	0.000036	10.225788	0.000000	zeinoxanthin epsilon hydroxylase activity
GO:0010347	0.000036	10.225788	0.000000	L-galactose-1-phosphate phosphatase activity
GO:0010486	0.000036	10.225788	0.000000	manganese:proton antiporter activity
GO:0010542	0.000036	10.225788	0.000000	nitrate efflux transmembrane transporter activity
GO:0015091	0.000036	10.225788	0.000000	ferric iron transmembrane transporter activity
GO:0015134	0.000036	10.225788	0.000000	hexuronate transmembrane transporter activity
GO:0015221	0.000036	10.225788	0.000000	lipopolysaccharide transmembrane transporter activity
GO:0015327	0.000036	10.225788	0.000000	cystine:glutamate antiporter activity
GO:0015328	0.000036	10.225788	0.000000	cystine secondary active transmembrane transporter activity
GO:0015360	0.000036	10.225788	0.000000	acetate:proton symporter activity
GO:0015387	0.000036	10.225788	0.000000	potassium:proton symporter activity
GO:0015412	0.000036	10.225788	0.000000	ATPase-coupled molybdate transmembrane transporter activity
GO:0015415	0.000036	10.225788	0.000000	ATPase-coupled phosphate ion transmembrane transporter activity
GO:0015419	0.000036	10.225788	0.000000	ATPase-coupled sulfate transmembrane transporter activity
GO:0015430	0.000036	10.225788	0.000000	ATPase-coupled glycerol-3-phosphate transmembrane transporter activity
GO:0015471	0.000036	10.225788	0.000000	nucleoside-specific channel forming porin activity
GO:0015481	0.000036	10.225788	0.000000	maltose transporting porin activity
GO:0015483	0.000036	10.225788	0.000000	long-chain fatty acid transporting porin activity
GO:0015487	0.000036	10.225788	0.000000	melibiose:cation symporter activity
GO:0015496	0.000036	10.225788	0.000000	putrescine:ornithine antiporter activity
GO:0015514	0.000036	10.225788	0.000000	nitrite efflux transmembrane transporter activity
GO:0015518	0.000036	10.225788	0.000000	arabinose:proton symporter activity
GO:0015527	0.000036	10.225788	0.000000	glycerol-phosphate:inorganic phosphate antiporter activity
GO:0015528	0.000036	10.225788	0.000000	lactose:proton symporter activity
GO:0015531	0.000036	10.225788	0.000000	citrate:proton symporter activity
GO:0015535	0.000036	10.225788	0.000000	fucose:proton symporter activity
GO:0015558	0.000036	10.225788	0.000000	secondary active p-aminobenzoyl-glutamate transmembrane transporter activity
GO:0015607	0.000036	10.225788	0.000000	ATPase-coupled fatty-acyl-CoA transmembrane transporter activity
GO:0015649	0.000036	10.225788	0.000000	2-keto-3-deoxygluconate:proton symporter activity
GO:0015650	0.000036	10.225788	0.000000	lactate:proton symporter activity
GO:0015652	0.000036	10.225788	0.000000	quaternary ammonium group:proton symporter activity
GO:0015653	0.000036	10.225788	0.000000	glycine betaine:proton symporter activity
GO:0015660	0.000036	10.225788	0.000000	formate efflux transmembrane transporter activity
GO:0015661	0.000036	10.225788	0.000000	L-lysine efflux transmembrane transporter activity
GO:0016205	0.000036	10.225788	0.000000	selenocysteine methyltransferase activity
GO:0016250	0.000036	10.225788	0.000000	N-sulfoglucosamine sulfohydrolase activity
GO:0016437	0.000036	10.225788	0.000000	tRNA cytidylyltransferase activity
GO:0016463	0.000036	10.225788	0.000000	zinc transmembrane transporter activity, phosphorylative mechanism
GO:0016750	0.000036	10.225788	0.000000	O-succinyltransferase activity
GO:0016753	0.000036	10.225788	0.000000	O-sinapoyltransferase activity
GO:0016754	0.000036	10.225788	0.000000	sinapoylglucose-malate O-sinapoyltransferase activity
GO:0018477	0.000036	10.225788	0.000000	benzaldehyde dehydrogenase (NADP+) activity
GO:0019119	0.000036	10.225788	0.000000	phenanthrene-9,10-epoxide hydrolase activity
GO:0022877	0.000036	10.225788	0.000000	protein-N(PI)-phosphohistidine-fructose phosphotransferase system transporter activity
GO:0030251	0.000036	10.225788	0.000000	guanylate cyclase inhibitor activity
GO:0030556	0.000036	10.225788	0.000000	rRNA modification guide activity
GO:0030561	0.000036	10.225788	0.000000	RNA 2'-O-ribose methylation guide activity
GO:0030562	0.000036	10.225788	0.000000	rRNA 2'-O-ribose methylation guide activity
GO:0031771	0.000036	10.225788	0.000000	type 1 hypocretin receptor binding
GO:0031772	0.000036	10.225788	0.000000	type 2 hypocretin receptor binding
GO:0031777	0.000036	10.225788	0.000000	type 1 melanin-concentrating hormone receptor binding
GO:0031812	0.000036	10.225788	0.000000	P2Y1 nucleotide receptor binding
GO:0032034	0.000036	10.225788	0.000000	myosin II head/neck binding
GO:0032548	0.000036	10.225788	0.000000	pyrimidine deoxyribonucleoside binding
GO:0032577	0.000036	10.225788	0.000000	phosphatidylcholine:cardiolipin O-linoleoyltransferase activity
GO:0033266	0.000036	10.225788	0.000000	ATPase-coupled choline transmembrane transporter activity
GO:0033863	0.000036	10.225788	0.000000	ribose 1,5-bisphosphate phosphokinase activity
GO:0034001	0.000036	10.225788	0.000000	chondroitin-sulfate-ABC exolyase activity
GO:0034215	0.000036	10.225788	0.000000	thiamine:proton symporter activity
GO:0034216	0.000036	10.225788	0.000000	high-affinity thiamine:proton symporter activity
GO:0034228	0.000036	10.225788	0.000000	ethanolamine transmembrane transporter activity
GO:0034292	0.000036	10.225788	0.000000	pinholin activity
GO:0034319	0.000036	10.225788	0.000000	alcohol O-butanoyltransferase activity
GO:0034321	0.000036	10.225788	0.000000	alcohol O-octanoyltransferase activity
GO:0034323	0.000036	10.225788	0.000000	O-butanoyltransferase activity
GO:0035244	0.000036	10.225788	0.000000	peptidyl-arginine C-methyltransferase activity
GO:0035400	0.000036	10.225788	0.000000	histone tyrosine kinase activity
GO:0035401	0.000036	10.225788	0.000000	histone kinase activity (H3-Y41 specific)
GO:0035605	0.000036	10.225788	0.000000	peptidyl-cysteine S-nitrosylase activity
GO:0038182	0.000036	10.225788	0.000000	G protein-coupled bile acid receptor activity
GO:0042944	0.000036	10.225788	0.000000	D-alanine transmembrane transporter activity
GO:0042960	0.000036	10.225788	0.000000	antimonite secondary active transmembrane transporter activity
GO:0043858	0.000036	10.225788	0.000000	arginine:ornithine antiporter activity
GO:0043887	0.000036	10.225788	0.000000	melibiose:sodium symporter activity
GO:0043893	0.000036	10.225788	0.000000	acetate:cation symporter activity
GO:0043915	0.000036	10.225788	0.000000	L-seryl-tRNA(Sec) kinase activity
GO:0045513	0.000036	10.225788	0.000000	interleukin-27 binding
GO:0046507	0.000036	10.225788	0.000000	UDPsulfoquinovose synthase activity
GO:0047111	0.000036	10.225788	0.000000	formate dehydrogenase (cytochrome-c-553) activity
GO:0047172	0.000036	10.225788	0.000000	shikimate O-hydroxycinnamoyltransferase activity
GO:0047205	0.000036	10.225788	0.000000	quinate O-hydroxycinnamoyltransferase activity
GO:0047312	0.000036	10.225788	0.000000	L-phenylalanine:pyruvate aminotransferase activity
GO:0047739	0.000036	10.225788	0.000000	cephalosporin-C deacetylase activity
GO:0047820	0.000036	10.225788	0.000000	D-glutamate cyclase activity
GO:0047862	0.000036	10.225788	0.000000	diisopropyl-fluorophosphatase activity
GO:0048474	0.000036	10.225788	0.000000	D-methionine transmembrane transporter activity
GO:0050002	0.000036	10.225788	0.000000	D-proline reductase (dithiol) activity
GO:0050024	0.000036	10.225788	0.000000	L-galactonolactone oxidase activity
GO:0050046	0.000036	10.225788	0.000000	lathosterol oxidase activity
GO:0050362	0.000036	10.225788	0.000000	L-tryptophan:2-oxoglutarate aminotransferase activity
GO:0050737	0.000036	10.225788	0.000000	O-hydroxycinnamoyltransferase activity
GO:0051075	0.000036	10.225788	0.000000	S-adenosylmethionine:tRNA ribosyltransferase-isomerase activity
GO:0051108	0.000036	10.225788	0.000000	carnitine-CoA ligase activity
GO:0051738	0.000036	10.225788	0.000000	xanthophyll binding
GO:0052669	0.000036	10.225788	0.000000	CTP:2-trans,-6-trans-farnesol kinase activity
GO:0052714	0.000036	10.225788	0.000000	mannosyl-inositol phosphorylceramide phospholipase activity
GO:0052826	0.000036	10.225788	0.000000	inositol hexakisphosphate 2-phosphatase activity
GO:0052847	0.000036	10.225788	0.000000	inositol-1,5-bisdiphosphate-2,3,4,6-tetrakisphosphate 5-diphosphatase activity
GO:0052871	0.000036	10.225788	0.000000	alpha-tocopherol omega-hydroxylase activity
GO:0055055	0.000036	10.225788	0.000000	D-glucose:proton symporter activity
GO:0061651	0.000036	10.225788	0.000000	Atg12 conjugating enzyme activity
GO:0061657	0.000036	10.225788	0.000000	UFM1 conjugating enzyme activity
GO:0061666	0.000036	10.225788	0.000000	UFM1 ligase activity
GO:0061995	0.000036	10.225788	0.000000	ATP-dependent protein-DNA complex displacement activity
GO:0062180	0.000036	10.225788	0.000000	25-hydroxycholecalciferol-23-hydroxylase activity
GO:0062181	0.000036	10.225788	0.000000	1-alpha,25-dihydroxyvitamin D3 23-hydroxylase activity
GO:0070040	0.000036	10.225788	0.000000	rRNA (adenine-C2-)-methyltransferase activity
GO:0071424	0.000036	10.225788	0.000000	rRNA (cytosine-N4-)-methyltransferase activity
GO:0072550	0.000036	10.225788	0.000000	triferuloylspermidine meta-hydroxylase activity
GO:0072551	0.000036	10.225788	0.000000	diferuloyl mono-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0072552	0.000036	10.225788	0.000000	monoferuloyl di-(hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0080059	0.000036	10.225788	0.000000	flavonol 3-O-arabinosyltransferase activity
GO:0080097	0.000036	10.225788	0.000000	L-tryptophan:pyruvate aminotransferase activity
GO:0080130	0.000036	10.225788	0.000000	L-phenylalanine:2-oxoglutarate aminotransferase activity
GO:0097063	0.000036	10.225788	0.000000	cadmium ion sensor activity
GO:0097077	0.000036	10.225788	0.000000	copper ion sensor activity
GO:0097098	0.000036	10.225788	0.000000	DNA/RNA hybrid annealing activity
GO:0097626	0.000036	10.225788	0.000000	low-affinity L-arginine transmembrane transporter activity
GO:0098699	0.000036	10.225788	0.000000	structural constituent of presynaptic actin cytoskeleton
GO:0098848	0.000036	10.225788	0.000000	alpha-D-ribose 1-methylphosphonate 5-phosphate C-P-lyase activity
GO:0098872	0.000036	10.225788	0.000000	G protein-coupled neurotransmitter receptor activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:0106078	0.000036	10.225788	0.000000	histone succinyltransferase activity
GO:0106211	0.000036	10.225788	0.000000	inositol-5-diphosphate-1,3,4,6-tetrakisphosphate diphosphatase activity
GO:0106229	0.000036	10.225788	0.000000	histone glutaryltransferase activity
GO:0110035	0.000036	10.225788	0.000000	rDNA spacer replication fork barrier binding, bending
GO:0140010	0.000036	10.225788	0.000000	D-aspartate transmembrane transporter activity
GO:0140080	0.000036	10.225788	0.000000	class III/IV DNA-(apurinic or apyrimidinic site) endonuclease activity
GO:0140340	0.000036	10.225788	0.000000	cerebroside transfer activity
GO:0140360	0.000036	10.225788	0.000000	cyclic-GMP-AMP transmembrane transporter activity
GO:0140412	0.000036	10.225788	0.000000	zinc:bicarbonate symporter activity
GO:1902051	0.000036	10.225788	0.000000	(25S)-Delta(4)-dafachronate binding
GO:1902052	0.000036	10.225788	0.000000	(25S)-Delta(7)-dafachronate binding
GO:1905131	0.000036	10.225788	0.000000	carcinine transmembrane transporter activity
GO:1905575	0.000036	10.225788	0.000000	ganglioside GM3 binding
GO:1905948	0.000036	10.225788	0.000000	ATPase-coupled 3',5'-cyclic GMP transmembrane transporter activity
GO:1990043	0.000036	10.225788	0.000000	5' deoxyribonuclease (pyrimidine dimer) activity
GO:0002059	0.000036	10.225788	0.405465	thymine binding
GO:0004125	0.000036	10.225788	0.405465	L-seryl-tRNASec selenium transferase activity
GO:0005307	0.000036	10.225788	0.405465	choline:sodium symporter activity
GO:0008521	0.000036	10.225788	0.405465	acetyl-CoA transmembrane transporter activity
GO:0009940	0.000036	10.225788	0.405465	amino-terminal vacuolar sorting propeptide binding
GO:0010176	0.000036	10.225788	0.405465	homogentisate phytyltransferase activity
GO:0010355	0.000036	10.225788	0.405465	homogentisate farnesyltransferase activity
GO:0010356	0.000036	10.225788	0.405465	homogentisate geranylgeranyltransferase activity
GO:0010357	0.000036	10.225788	0.405465	homogentisate solanesyltransferase activity
GO:0015068	0.000036	10.225788	0.405465	glycine amidinotransferase activity
GO:0015133	0.000036	10.225788	0.405465	uronic acid transmembrane transporter activity
GO:0015341	0.000036	10.225788	0.405465	zinc efflux active transmembrane transporter activity
GO:0015519	0.000036	10.225788	0.405465	D-xylose:proton symporter activity
GO:0015538	0.000036	10.225788	0.405465	sialic acid:proton symporter activity
GO:0016633	0.000036	10.225788	0.405465	galactonolactone dehydrogenase activity
GO:0030107	0.000036	10.225788	0.405465	HLA-A specific inhibitory MHC class I receptor activity
GO:0030108	0.000036	10.225788	0.405465	HLA-A specific activating MHC class I receptor activity
GO:0030109	0.000036	10.225788	0.405465	HLA-B specific inhibitory MHC class I receptor activity
GO:0031741	0.000036	10.225788	0.405465	type B gastrin/cholecystokinin receptor binding
GO:0031764	0.000036	10.225788	0.405465	type 1 galanin receptor binding
GO:0031867	0.000036	10.225788	0.405465	EP4 subtype prostaglandin E2 receptor binding
GO:0031870	0.000036	10.225788	0.405465	thromboxane A2 receptor binding
GO:0031878	0.000036	10.225788	0.405465	type 1 somatostatin receptor binding
GO:0032132	0.000036	10.225788	0.405465	O6-alkylguanine-DNA binding
GO:0033739	0.000036	10.225788	0.405465	preQ1 synthase activity
GO:0033820	0.000036	10.225788	0.405465	DNA alpha-glucosyltransferase activity
GO:0033821	0.000036	10.225788	0.405465	DNA beta-glucosyltransferase activity
GO:0035439	0.000036	10.225788	0.405465	halimadienyl-diphosphate synthase activity
GO:0035614	0.000036	10.225788	0.405465	snRNA stem-loop binding
GO:0036487	0.000036	10.225788	0.405465	nitric-oxide synthase inhibitor activity
GO:0042958	0.000036	10.225788	0.405465	maltodextrin transmembrane transporter activity
GO:0043828	0.000036	10.225788	0.405465	tRNA 2-selenouridine synthase activity
GO:0044596	0.000036	10.225788	0.405465	3-demethylubiquinol-10 3-O-methyltransferase activity
GO:0045352	0.000036	10.225788	0.405465	interleukin-1 type I receptor antagonist activity
GO:0045353	0.000036	10.225788	0.405465	interleukin-1 type II receptor antagonist activity
GO:0046562	0.000036	10.225788	0.405465	glucose oxidase activity
GO:0047926	0.000036	10.225788	0.405465	geranyl-diphosphate cyclase activity
GO:0051065	0.000036	10.225788	0.405465	CTP reductase activity
GO:0052668	0.000036	10.225788	0.405465	farnesol kinase activity
GO:0052670	0.000036	10.225788	0.405465	geraniol kinase activity
GO:0052671	0.000036	10.225788	0.405465	geranylgeraniol kinase activity
GO:0052713	0.000036	10.225788	0.405465	inositol phosphorylceramide phospholipase activity
GO:0052817	0.000036	10.225788	0.405465	very long chain acyl-CoA hydrolase activity
GO:0062064	0.000036	10.225788	0.405465	box C/D snoRNP complex binding
GO:0062065	0.000036	10.225788	0.405465	box H/ACA snoRNP complex binding
GO:0097434	0.000036	10.225788	0.405465	succinate:proton symporter activity
GO:0140069	0.000036	10.225788	0.405465	histone butyryltransferase activity
GO:0008809	0.000036	10.225788	0.693147	carnitine racemase activity
GO:0008873	0.000036	10.225788	0.693147	gluconate 2-dehydrogenase activity
GO:0008908	0.000036	10.225788	0.693147	isochorismatase activity
GO:0010210	0.000036	10.225788	0.693147	IAA-Phe conjugate hydrolase activity
GO:0010211	0.000036	10.225788	0.693147	IAA-Leu conjugate hydrolase activity
GO:0015147	0.000036	10.225788	0.693147	L-arabinose transmembrane transporter activity
GO:0015546	0.000036	10.225788	0.693147	sulfathiazole transmembrane transporter activity
GO:0015552	0.000036	10.225788	0.693147	propionate transmembrane transporter activity
GO:0016216	0.000036	10.225788	0.693147	isopenicillin-N synthase activity
GO:0018675	0.000036	10.225788	0.693147	(S)-limonene 6-monooxygenase activity
GO:0031715	0.000036	10.225788	0.693147	C5L2 anaphylatoxin chemotactic receptor binding
GO:0033756	0.000036	10.225788	0.693147	Oplophorus-luciferin 2-monooxygenase activity
GO:0033793	0.000036	10.225788	0.693147	aureusidin synthase activity
GO:0033892	0.000036	10.225788	0.693147	deoxyribonuclease (pyrimidine dimer) activity
GO:0033978	0.000036	10.225788	0.693147	phosphonopyruvate hydrolase activity
GO:0035798	0.000036	10.225788	0.693147	2-alkenal reductase (NADP+) activity
GO:0036105	0.000036	10.225788	0.693147	peroxisome membrane class-1 targeting sequence binding
GO:0043334	0.000036	10.225788	0.693147	2-hexaprenyl-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0043365	0.000036	10.225788	0.693147	[formate-C-acetyltransferase]-activating enzyme activity
GO:0043872	0.000036	10.225788	0.693147	lysine:cadaverine antiporter activity
GO:0045237	0.000036	10.225788	0.693147	CXCR1 chemokine receptor binding
GO:0047077	0.000036	10.225788	0.693147	Photinus-luciferin 4-monooxygenase (ATP-hydrolyzing) activity
GO:0047400	0.000036	10.225788	0.693147	phosphonoacetate hydrolase activity
GO:0050194	0.000036	10.225788	0.693147	phosphonoacetaldehyde hydrolase activity
GO:0051911	0.000036	10.225788	0.693147	Methanosarcina-phenazine hydrogenase activity
GO:0061543	0.000036	10.225788	0.693147	3-demethylubiquinol-6 3-O-methyltransferase activity
GO:0061708	0.000036	10.225788	0.693147	tRNA-5-taurinomethyluridine 2-sulfurtransferase
GO:0062147	0.000036	10.225788	0.693147	L-lysine 4-chlorinase activity
GO:0080066	0.000036	10.225788	0.693147	3-methylthiopropyl-desulfoglucosinolate sulfotransferase activity
GO:0080067	0.000036	10.225788	0.693147	4-methylthiobutyl-desulfoglucosinolate sulfotransferase activity
GO:0080068	0.000036	10.225788	0.693147	5-methylthiopentyl-desulfoglucosinolate sulfotransferase activity
GO:0080069	0.000036	10.225788	0.693147	7-methylthioheptyl-desulfoglucosinolate sulfotransferase activity
GO:0080070	0.000036	10.225788	0.693147	8-methylthiooctyl-desulfoglucosinolate sulfotransferase activity
GO:0080071	0.000036	10.225788	0.693147	indol-3-yl-methyl-desulfoglucosinolate sulfotransferase activity
GO:0099119	0.000036	10.225788	0.693147	3-demethylubiquinol-8 3-O-methyltransferase activity
GO:0099567	0.000036	10.225788	0.693147	calcium ion binding involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:1990651	0.000036	10.225788	0.693147	inositol-1,2,4,5,6-pentakisphosphate 5-phosphatase activity
GO:0001861	0.000036	10.225788	0.916291	complement component C4b receptor activity
GO:0004877	0.000036	10.225788	0.916291	complement component C3b receptor activity
GO:0004933	0.000036	10.225788	0.916291	mating-type a-factor pheromone receptor activity
GO:0005328	0.000036	10.225788	0.916291	neurotransmitter:sodium symporter activity
GO:0008713	0.000036	10.225788	0.916291	ADP-heptose-lipopolysaccharide heptosyltransferase activity
GO:0018833	0.000036	10.225788	0.916291	DDT-dehydrochlorinase activity
GO:0019149	0.000036	10.225788	0.916291	3-chloro-D-alanine dehydrochlorinase activity
GO:0030591	0.000036	10.225788	0.916291	2'-deoxyguanosine DNA ADP-ribosyltransferase activity
GO:0031626	0.000036	10.225788	0.916291	beta-endorphin binding
GO:0031895	0.000036	10.225788	0.916291	V1B vasopressin receptor binding
GO:0031925	0.000036	10.225788	0.916291	pyridoxal transmembrane transporter activity
GO:0031927	0.000036	10.225788	0.916291	pyridoxamine transmembrane transporter activity
GO:0034417	0.000036	10.225788	0.916291	bisphosphoglycerate 3-phosphatase activity
GO:0036320	0.000036	10.225788	0.916291	mating-type P-factor pheromone receptor activity
GO:0043733	0.000036	10.225788	0.916291	DNA-3-methylbase glycosylase activity
GO:0043916	0.000036	10.225788	0.916291	DNA-7-methylguanine glycosylase activity
GO:0044595	0.000036	10.225788	0.916291	decaprenyldihydroxybenzoate methyltransferase activity
GO:0047165	0.000036	10.225788	0.916291	flavonol-3-O-beta-glucoside O-malonyltransferase activity
GO:0047787	0.000036	10.225788	0.916291	delta4-3-oxosteroid 5beta-reductase activity
GO:0050163	0.000036	10.225788	0.916291	oxaloacetate tautomerase activity
GO:0050485	0.000036	10.225788	0.916291	oxidoreductase activity, acting on X-H and Y-H to form an X-Y bond, with a disulfide as acceptor
GO:0052581	0.000036	10.225788	0.916291	(-)-isopiperitenone reductase activity
GO:0052820	0.000036	10.225788	0.916291	DNA-1,N6-ethenoadenine N-glycosylase activity
GO:0052912	0.000036	10.225788	0.916291	23S rRNA (guanine(748)-N(1))-methyltransferase activity
GO:0062144	0.000036	10.225788	0.916291	L-propargylglycine synthase activity
GO:0070038	0.000036	10.225788	0.916291	rRNA (pseudouridine-N3-)-methyltransferase activity
GO:0071967	0.000036	10.225788	0.916291	lipopolysaccharide core heptosyltransferase activity
GO:0072544	0.000036	10.225788	0.916291	L-DOPA binding
GO:0086076	0.000036	10.225788	0.916291	gap junction channel activity involved in atrial cardiac muscle cell-AV node cell electrical coupling
GO:0086078	0.000036	10.225788	0.916291	gap junction channel activity involved in bundle of His cell-Purkinje myocyte electrical coupling
GO:0090415	0.000036	10.225788	0.916291	7-hydroxymethyl chlorophyll a reductase activity
GO:0099085	0.000036	10.225788	0.916291	DIF dechlorinase activity
GO:1901480	0.000036	10.225788	0.916291	oleate transmembrane transporter activity
GO:1903876	0.000036	10.225788	0.916291	11-deoxycortisol binding
GO:1903878	0.000036	10.225788	0.916291	11-deoxycorticosterone binding
GO:1990943	0.000036	10.225788	0.916291	mating type region replication fork barrier binding
GO:0001155	0.000036	10.225788	1.098612	TFIIIA-class transcription factor binding
GO:0004460	0.000036	10.225788	1.098612	L-lactate dehydrogenase (cytochrome) activity
GO:0004755	0.000036	10.225788	1.098612	saccharopine dehydrogenase (NADP+, L-glutamate-forming) activity
GO:0008493	0.000036	10.225788	1.098612	tetracycline transmembrane transporter activity
GO:0008744	0.000036	10.225788	1.098612	L-xylulokinase activity
GO:0008984	0.000036	10.225788	1.098612	protein-glutamate methylesterase activity
GO:0009022	0.000036	10.225788	1.098612	tRNA nucleotidyltransferase activity
GO:0010296	0.000036	10.225788	1.098612	prenylcysteine methylesterase activity
GO:0015576	0.000036	10.225788	1.098612	sorbitol transmembrane transporter activity
GO:0018786	0.000036	10.225788	1.098612	haloalkane dehalogenase activity
GO:0019768	0.000036	10.225788	1.098612	high-affinity IgE receptor activity
GO:0019772	0.000036	10.225788	1.098612	low-affinity IgG receptor activity
GO:0036307	0.000036	10.225788	1.098612	23S rRNA (adenine(2030)-N(6))-methyltransferase activity
GO:0036308	0.000036	10.225788	1.098612	16S rRNA (guanine(1516)-N(2))-methyltransferase activity
GO:0038186	0.000036	10.225788	1.098612	lithocholic acid receptor activity
GO:0047130	0.000036	10.225788	1.098612	saccharopine dehydrogenase (NADP+, L-lysine-forming) activity
GO:0047131	0.000036	10.225788	1.098612	saccharopine dehydrogenase (NAD+, L-glutamate-forming) activity
GO:0047595	0.000036	10.225788	1.098612	6-hydroxynicotinate reductase activity
GO:0050619	0.000036	10.225788	1.098612	phytochromobilin:ferredoxin oxidoreductase activity
GO:0051505	0.000036	10.225788	1.098612	cholesterol UDP-glucosyltransferase activity
GO:0051506	0.000036	10.225788	1.098612	ergosterol UDP-glucosyltransferase activity
GO:0051508	0.000036	10.225788	1.098612	stigmasterol UDP-glucosyltransferase activity
GO:0051509	0.000036	10.225788	1.098612	tomatidine UDP-glucosyltransferase activity
GO:0051743	0.000036	10.225788	1.098612	red chlorophyll catabolite reductase activity
GO:0052907	0.000036	10.225788	1.098612	23S rRNA (adenine(1618)-N(6))-methyltransferase activity
GO:0052913	0.000036	10.225788	1.098612	16S rRNA (guanine(966)-N(2))-methyltransferase activity
GO:0052914	0.000036	10.225788	1.098612	16S rRNA (guanine(1207)-N(2))-methyltransferase activity
GO:0052916	0.000036	10.225788	1.098612	23S rRNA (guanine(1835)-N(2))-methyltransferase activity
GO:0052927	0.000036	10.225788	1.098612	CTP:tRNA cytidylyltransferase activity
GO:0080015	0.000036	10.225788	1.098612	sabinene synthase activity
GO:0097358	0.000036	10.225788	1.098612	D-leucyl-tRNA(Leu) deacylase activity
GO:0099142	0.000036	10.225788	1.098612	intracellularly ATP-gated ion channel activity
GO:1902118	0.000036	10.225788	1.098612	calcidiol binding
GO:0002055	0.000036	10.225788	1.252763	adenine binding
GO:0005297	0.000036	10.225788	1.252763	proline:proton symporter activity
GO:0005360	0.000036	10.225788	1.252763	insulin-responsive glucose:proton symporter activity
GO:0008029	0.000036	10.225788	1.252763	pentraxin receptor activity
GO:0008770	0.000036	10.225788	1.252763	[acyl-carrier-protein] phosphodiesterase activity
GO:0010293	0.000036	10.225788	1.252763	abscisic aldehyde oxidase activity
GO:0030352	0.000036	10.225788	1.252763	inositol-1,4,5,6-tetrakisphosphate 6-phosphatase activity
GO:0035599	0.000036	10.225788	1.252763	aspartic acid methylthiotransferase activity
GO:0036317	0.000036	10.225788	1.252763	tyrosyl-RNA phosphodiesterase activity
GO:0045015	0.000036	10.225788	1.252763	HDEL sequence binding
GO:0046702	0.000036	10.225788	1.252763	galactoside 6-L-fucosyltransferase activity
GO:0047058	0.000036	10.225788	1.252763	vitamin-K-epoxide reductase (warfarin-insensitive) activity
GO:0047315	0.000036	10.225788	1.252763	kynurenine-glyoxylate transaminase activity
GO:0047935	0.000036	10.225788	1.252763	glucose 1-dehydrogenase (NADP+) activity
GO:0047992	0.000036	10.225788	1.252763	hydroxylysine kinase activity
GO:0052659	0.000036	10.225788	1.252763	inositol-1,3,4,5-tetrakisphosphate 5-phosphatase activity
GO:0052861	0.000036	10.225788	1.252763	glucan endo-1,3-beta-glucanase activity, C-3 substituted reducing group
GO:1904928	0.000036	10.225788	1.252763	coreceptor activity involved in canonical Wnt signaling pathway
GO:1905574	0.000036	10.225788	1.252763	ganglioside GM2 binding
GO:1905577	0.000036	10.225788	1.252763	ganglioside GP1c binding
GO:1990649	0.000036	10.225788	1.252763	inositol-1,2,4,5-tetrakisphosphate 5-phosphatase activity
GO:1990650	0.000036	10.225788	1.252763	inositol-2,4,5,6-tetrakisphosphate 5-phosphatase activity
GO:0004078	0.000036	10.225788	1.386294	biotin-[methylcrotonoyl-CoA-carboxylase] ligase activity
GO:0004909	0.000036	10.225788	1.386294	interleukin-1, type I, activating receptor activity
GO:0031710	0.000036	10.225788	1.386294	neuromedin B receptor binding
GO:0031844	0.000036	10.225788	1.386294	type 4 neuropeptide Y receptor binding
GO:0032141	0.000036	10.225788	1.386294	single cytosine insertion binding
GO:0032267	0.000036	10.225788	1.386294	tRNA(Ile)-lysidine synthase activity
GO:0052812	0.000036	10.225788	1.386294	phosphatidylinositol-3,4-bisphosphate 5-kinase activity
GO:0070523	0.000036	10.225788	1.386294	11-beta-hydroxysteroid dehydrogenase (NAD+) activity
GO:0071734	0.000036	10.225788	1.386294	biotin-[pyruvate-carboxylase] ligase activity
GO:0086057	0.000036	10.225788	1.386294	voltage-gated calcium channel activity involved in bundle of His cell action potential
GO:0097627	0.000036	10.225788	1.386294	high-affinity L-ornithine transmembrane transporter activity
GO:0098604	0.000036	10.225788	1.386294	adenosylselenohomocysteinase activity
GO:0004147	0.000036	10.225788	1.504077	dihydrolipoamide branched chain acyltransferase activity
GO:0008986	0.000036	10.225788	1.504077	pyruvate, water dikinase activity
GO:0015638	0.000036	10.225788	1.504077	microcin transmembrane transporter activity
GO:0034419	0.000036	10.225788	1.504077	L-2-hydroxyglutarate oxidase activity
GO:0050521	0.000036	10.225788	1.504077	alpha-glucan, water dikinase activity
GO:0051752	0.000036	10.225788	1.504077	phosphoglucan, water dikinase activity
GO:0052737	0.000036	10.225788	1.504077	pyruvate dehydrogenase (quinone) activity
GO:0052853	0.000036	10.225788	1.504077	long-chain-(S)-2-hydroxy-long-chain-acid oxidase activity
GO:0080098	0.000036	10.225788	1.504077	L-tyrosine:pyruvate aminotransferase activity
GO:0086060	0.000036	10.225788	1.504077	voltage-gated sodium channel activity involved in AV node cell action potential
GO:0086061	0.000036	10.225788	1.504077	voltage-gated sodium channel activity involved in bundle of His cell action potential
GO:0097645	0.000036	10.225788	1.504077	amylin binding
GO:0106032	0.000036	10.225788	1.504077	snRNA pseudouridine synthase activity
GO:1902557	0.000036	10.225788	1.504077	5'-adenylyl sulfate transmembrane transporter activity
GO:1990407	0.000036	10.225788	1.504077	calcitonin gene-related peptide binding
GO:0015052	0.000036	10.225788	1.609438	beta3-adrenergic receptor activity
GO:0016699	0.000036	10.225788	1.609438	oxidoreductase activity, acting on hydrogen as donor, iron-sulfur protein as acceptor
GO:0022893	0.000036	10.225788	1.609438	low-affinity tryptophan transmembrane transporter activity
GO:0033748	0.000036	10.225788	1.609438	hydrogenase (acceptor) activity
GO:0044823	0.000036	10.225788	1.609438	retroviral integrase activity
GO:0047042	0.000036	10.225788	1.609438	androsterone dehydrogenase (B-specific) activity
GO:0047055	0.000036	10.225788	1.609438	salutaridine synthase activity
GO:0047921	0.000036	10.225788	1.609438	aminoglycoside 2'-N-acetyltransferase activity
GO:0052590	0.000036	10.225788	1.609438	sn-glycerol-3-phosphate:ubiquinone oxidoreductase activity
GO:0010174	0.000036	10.225788	1.704748	nucleoside transmembrane transporter activity, against a concentration gradient
GO:0010277	0.000036	10.225788	1.704748	chlorophyllide a oxygenase [overall] activity
GO:0018580	0.000036	10.225788	1.704748	nitronate monooxygenase activity
GO:0018762	0.000036	10.225788	1.704748	aliphatic nitrilase activity
GO:0031722	0.000036	10.225788	1.704748	hemoglobin beta binding
GO:0038147	0.000036	10.225788	1.704748	C-X-C motif chemokine 12 receptor activity
GO:0047991	0.000036	10.225788	1.704748	hydroxylamine oxidase activity
GO:0052664	0.000036	10.225788	1.704748	nitroalkane oxidase activity
GO:0061990	0.000036	10.225788	1.704748	beta-ketodecanoyl-[acyl-carrier-protein] synthase activity
GO:0070338	0.000036	10.225788	1.704748	5'-flap-structured DNA binding
GO:0097697	0.000036	10.225788	1.704748	tRNA 5-carboxymethoxyuridine methyltransferase activity
GO:1990930	0.000036	10.225788	1.704748	RNA N1-methyladenosine dioxygenase activity
GO:0001631	0.000036	10.225788	1.791759	cysteinyl leukotriene receptor activity
GO:0032358	0.000036	10.225788	1.791759	oxidized pyrimidine DNA binding
GO:0034022	0.000036	10.225788	1.791759	3-(hydroxyamino)phenol mutase activity
GO:0034386	0.000036	10.225788	1.791759	4-aminobutyrate:2-oxoglutarate transaminase activity
GO:0035939	0.000036	10.225788	1.791759	microsatellite binding
GO:0047316	0.000036	10.225788	1.791759	glutamine-phenylpyruvate transaminase activity
GO:0052906	0.000036	10.225788	1.791759	tRNA (guanine(37)-N(1))-methyltransferase activity
GO:0080100	0.000036	10.225788	1.791759	L-glutamine:2-oxoglutarate aminotransferase activity
GO:0098695	0.000036	10.225788	1.791759	inositol 1,4,5-trisphosphate receptor activity involved in regulation of postsynaptic cytosolic calcium levels
GO:1990244	0.000036	10.225788	1.791759	histone kinase activity (H2A-T120 specific)
GO:0004319	0.000036	10.225788	1.871802	enoyl-[acyl-carrier-protein] reductase (NADPH, B-specific) activity
GO:0004378	0.000036	10.225788	1.871802	GDP-Man:Man1GlcNAc2-PP-Dol alpha-1,3-mannosyltransferase activity
GO:0010471	0.000036	10.225788	1.871802	GDP-galactose:mannose-1-phosphate guanylyltransferase activity
GO:0015568	0.000036	10.225788	1.871802	L-idonate transmembrane transporter activity
GO:0031850	0.000036	10.225788	1.871802	delta-type opioid receptor binding
GO:0033932	0.000036	10.225788	1.871802	1,3-alpha-L-fucosidase activity
GO:0034738	0.000036	10.225788	1.871802	lanosterol O-acyltransferase activity
GO:0036243	0.000036	10.225788	1.871802	succinate-semialdehyde dehydrogenase (NADP+) activity
GO:0036430	0.000036	10.225788	1.871802	CMP kinase activity
GO:0043337	0.000036	10.225788	1.871802	CDP-diacylglycerol-phosphatidylglycerol phosphatidyltransferase activity
GO:0043829	0.000036	10.225788	1.871802	tRNA-specific adenosine-37 deaminase activity
GO:0045435	0.000036	10.225788	1.871802	lycopene epsilon cyclase activity
GO:0047513	0.000036	10.225788	1.871802	1,2-alpha-L-fucosidase activity
GO:0086087	0.000036	10.225788	1.871802	voltage-gated potassium channel activity involved in bundle of His cell action potential repolarization
GO:0086090	0.000036	10.225788	1.871802	voltage-gated potassium channel activity involved in SA node cell action potential repolarization
GO:0090483	0.000036	10.225788	1.871802	phosphatidylglycerol-phosphatidylethanolamine phosphatidyltransferase activity
GO:1901974	0.000036	10.225788	1.871802	glycerate transmembrane transporter activity
GO:0000830	0.000036	10.225788	1.945910	inositol hexakisphosphate 4-kinase activity
GO:0004578	0.000036	10.225788	1.945910	chitobiosyldiphosphodolichol beta-mannosyltransferase activity
GO:0016497	0.000036	10.225788	1.945910	substance K receptor activity
GO:0018545	0.000036	10.225788	1.945910	NAD(P)H nitroreductase activity
GO:0019766	0.000036	10.225788	1.945910	IgA receptor activity
GO:0034556	0.000036	10.225788	1.945910	nitrobenzoate nitroreductase activity
GO:0044022	0.000036	10.225788	1.945910	histone kinase activity (H3-S28 specific)
GO:0044025	0.000036	10.225788	1.945910	histone kinase activity (H2B-S14 specific)
GO:0047259	0.000036	10.225788	1.945910	glucomannan 4-beta-mannosyltransferase activity
GO:0047450	0.000036	10.225788	1.945910	crotonoyl-[acyl-carrier-protein] hydratase activity
GO:0052723	0.000036	10.225788	1.945910	inositol hexakisphosphate 1-kinase activity
GO:0052724	0.000036	10.225788	1.945910	inositol hexakisphosphate 3-kinase activity
GO:0072371	0.000036	10.225788	1.945910	histone kinase activity (H2A-S121 specific)
GO:0089715	0.000036	10.225788	1.945910	tRNA m6t6A37 methyltransferase activity
GO:0140347	0.000036	10.225788	1.945910	N-retinylidene-phosphatidylethanolamine flippase activity
GO:0140348	0.000036	10.225788	1.945910	lysophosphatidylcholine flippase activity
GO:0002083	0.000036	10.225788	2.014903	4-hydroxybenzoate decaprenyltransferase activity
GO:0004790	0.000036	10.225788	2.014903	thioether S-methyltransferase activity
GO:0008664	0.000036	10.225788	2.014903	2'-5'-RNA ligase activity
GO:0031723	0.000036	10.225788	2.014903	CXCR4 chemokine receptor binding
GO:0032942	0.000036	10.225788	2.014903	inositol tetrakisphosphate 2-kinase activity
GO:0034590	0.000036	10.225788	2.014903	L-hydroxyproline transmembrane transporter activity
GO:0035715	0.000036	10.225788	2.014903	chemokine (C-C motif) ligand 2 binding
GO:0035716	0.000036	10.225788	2.014903	chemokine (C-C motif) ligand 12 binding
GO:0035757	0.000036	10.225788	2.014903	chemokine (C-C motif) ligand 19 binding
GO:0035758	0.000036	10.225788	2.014903	chemokine (C-C motif) ligand 21 binding
GO:0044750	0.000036	10.225788	2.014903	high-affinity nickel cation transmembrane transporter activity
GO:0046428	0.000036	10.225788	2.014903	1,4-dihydroxy-2-naphthoate octaprenyltransferase activity
GO:0047293	0.000036	10.225788	2.014903	4-hydroxybenzoate nonaprenyltransferase activity
GO:0050267	0.000036	10.225788	2.014903	rubber cis-polyprenylcistransferase activity
GO:0050646	0.000036	10.225788	2.014903	5-oxo-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050647	0.000036	10.225788	2.014903	5-hydroxy-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0050648	0.000036	10.225788	2.014903	5(S)-hydroxyperoxy-6E,8Z,11Z,14Z-icosatetraenoic acid binding
GO:0051745	0.000036	10.225788	2.014903	4-hydroxy-3-methylbut-2-en-1-yl diphosphate reductase activity
GO:0061840	0.000036	10.225788	2.014903	high-affinity ferrous iron transmembrane transporter activity
GO:0070674	0.000036	10.225788	2.014903	hypoxanthine dehydrogenase activity
GO:0106142	0.000036	10.225788	2.014903	rRNA (adenine-N1-)-methyltransferase activity
GO:0005043	0.000036	10.225788	2.079442	netrin receptor activity involved in chemorepulsion
GO:0018625	0.000036	10.225788	2.079442	naphthalene 1,2-dioxygenase activity
GO:0030338	0.000036	10.225788	2.079442	CMP-N-acetylneuraminate monooxygenase activity
GO:0033736	0.000036	10.225788	2.079442	L-lysine 6-oxidase activity
GO:0042658	0.000036	10.225788	2.079442	MHC class II protein binding, via antigen binding groove
GO:0072585	0.000036	10.225788	2.079442	xanthosine nucleotidase activity
GO:0090564	0.000036	10.225788	2.079442	protein-phosphocysteine-glucose phosphotransferase system transporter activity
GO:0090565	0.000036	10.225788	2.079442	protein-phosphocysteine-mannitol phosphotransferase system transporter activity
GO:0090581	0.000036	10.225788	2.079442	protein-phosphocysteine-mannosylglycerate-phosphotransferase system transporter activity
GO:0090582	0.000036	10.225788	2.079442	protein-phosphocysteine-D-fructose-phosphotransferase system transporter activity
GO:0090586	0.000036	10.225788	2.079442	protein-phosphocysteine-N-acetylglucosamine phosphotransferase system transporter activity
GO:0090588	0.000036	10.225788	2.079442	protein-phosphocysteine-N-acetylmuramate phosphotransferase system transporter activity
GO:0090589	0.000036	10.225788	2.079442	protein-phosphocysteine-trehalose phosphotransferase system transporter activity
GO:1904593	0.000036	10.225788	2.079442	prostaglandin binding
GO:0005500	0.000036	10.225788	2.140066	juvenile hormone binding
GO:0018169	0.000036	10.225788	2.140066	ribosomal S6-glutamic acid ligase activity
GO:0047568	0.000036	10.225788	2.140066	3-oxo-5-beta-steroid 4-dehydrogenase activity
GO:0015124	0.000036	10.225788	2.197225	allantoate transmembrane transporter activity
GO:0036326	0.000036	10.225788	2.197225	VEGF-A-activated receptor activity
GO:0036327	0.000036	10.225788	2.197225	VEGF-B-activated receptor activity
GO:0036328	0.000036	10.225788	2.197225	VEGF-C-activated receptor activity
GO:1901604	0.000036	10.225788	2.197225	dethiobiotin transmembrane transporter activity
GO:0008012	0.000036	10.225788	2.251292	structural constituent of adult chitin-based cuticle
GO:0010491	0.000036	10.225788	2.251292	UTP:arabinose-1-phosphate uridylyltransferase activity
GO:0016596	0.000036	10.225788	2.251292	thienylcyclohexylpiperidine binding
GO:0047338	0.000036	10.225788	2.251292	UTP:xylose-1-phosphate uridylyltransferase activity
GO:0052833	0.000036	10.225788	2.251292	inositol monophosphate 4-phosphatase activity
GO:0043797	0.000036	10.225788	2.302585	glyceraldehyde-3-phosphate dehydrogenase (ferredoxin) activity
GO:0043873	0.000036	10.225788	2.302585	pyruvate-flavodoxin oxidoreductase activity
GO:0046817	0.000036	10.225788	2.302585	chemokine receptor antagonist activity
GO:0008788	0.000036	10.225788	2.351375	alpha,alpha-phosphotrehalase activity
GO:0008983	0.000036	10.225788	2.351375	protein-glutamate O-methyltransferase activity
GO:0038117	0.000036	10.225788	2.351375	C-C motif chemokine 19 receptor activity
GO:0038121	0.000036	10.225788	2.351375	C-C motif chemokine 21 receptor activity
GO:0004732	0.000036	10.225788	2.397895	pyridoxal oxidase activity
GO:0018742	0.000036	10.225788	2.397895	epoxide hydrolase B activity
GO:0019118	0.000036	10.225788	2.397895	phenanthrene-epoxide hydrolase activity
GO:0047112	0.000036	10.225788	2.397895	pyruvate oxidase activity
GO:0050162	0.000036	10.225788	2.397895	oxalate oxidase activity
GO:0050250	0.000036	10.225788	2.397895	retinal oxidase activity
GO:1990583	0.000036	10.225788	2.397895	phospholipase D activator activity
GO:0038048	0.000036	10.225788	2.442347	dynorphin receptor activity
GO:0043849	0.000036	10.225788	2.442347	Ras palmitoyltransferase activity
GO:0070281	0.000036	10.225788	2.442347	pyridoxamine binding
GO:0018729	0.000036	10.225788	2.484907	propionate CoA-transferase activity
GO:0018771	0.000036	10.225788	2.484907	2-hydroxy-6-oxonona-2,4-dienedioate hydrolase activity
GO:0018773	0.000036	10.225788	2.484907	acetylpyruvate hydrolase activity
GO:0033250	0.000036	10.225788	2.484907	penicillinase activity
GO:0033251	0.000036	10.225788	2.484907	cephalosporinase activity
GO:0034545	0.000036	10.225788	2.484907	fumarylpyruvate hydrolase activity
GO:0034820	0.000036	10.225788	2.484907	4,9-DSHA hydrolase activity
GO:0036412	0.000036	10.225788	2.484907	acetyl-CoA:oxalate CoA-transferase
GO:0043785	0.000036	10.225788	2.484907	cinnamoyl-CoA:phenyllactate CoA-transferase activity
GO:0043821	0.000036	10.225788	2.484907	propionyl-CoA:succinate CoA-transferase activity
GO:0043857	0.000036	10.225788	2.484907	N-acetylornithine carbamoyltransferase activity
GO:0047369	0.000036	10.225788	2.484907	succinate-hydroxymethylglutarate CoA-transferase activity
GO:0047569	0.000036	10.225788	2.484907	3-oxoadipate CoA-transferase activity
GO:0050180	0.000036	10.225788	2.484907	phloretin hydrolase activity
GO:0051432	0.000036	10.225788	2.484907	BH1 domain binding
GO:0051433	0.000036	10.225788	2.484907	BH2 domain binding
GO:0051435	0.000036	10.225788	2.484907	BH4 domain binding
GO:0052823	0.000036	10.225788	2.484907	2-hydroxy-6-oxonona-2,4,7-trienedioate hydrolase activity
GO:0061809	0.000036	10.225788	2.484907	NAD+ nucleotidase, cyclic ADP-ribose generating
GO:0061981	0.000036	10.225788	2.484907	3-hydroxykynureninase activity
GO:1990400	0.000036	10.225788	2.484907	mitochondrial ribosomal large subunit rRNA binding
GO:1990915	0.000036	10.225788	2.484907	structural constituent of ascospore wall
GO:0052918	0.000036	10.225788	2.525729	dol-P-Man:Man(8)GlcNAc(2)-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0052926	0.000036	10.225788	2.525729	dol-P-Man:Man(6)GlcNAc(2)-PP-Dol alpha-1,2-mannosyltransferase activity
GO:0008098	0.000036	10.225788	2.564949	5S rRNA primary transcript binding
GO:1904162	0.000036	10.225788	2.564949	5'-3' exodeoxyribonuclease activity involved in UV-damage excision repair
GO:1990119	0.000036	10.225788	2.564949	ATP-dependent RNA helicase inhibitor activity
GO:0009018	0.000036	10.225788	2.602690	sucrose phosphorylase activity
GO:0031220	0.000036	10.225788	2.602690	maltodextrin phosphorylase activity
GO:0031530	0.000036	10.225788	2.602690	gonadotropin-releasing hormone receptor binding
GO:0032441	0.000036	10.225788	2.602690	pheophorbide a oxygenase activity
GO:0035642	0.000036	10.225788	2.602690	histone methyltransferase activity (H3-R17 specific)
GO:0047223	0.000036	10.225788	2.602690	beta-1,3-galactosyl-O-glycosyl-glycoprotein beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047225	0.000036	10.225788	2.602690	acetylgalactosaminyl-O-glycosyl-glycoprotein beta-1,6-N-acetylglucosaminyltransferase activity
GO:0047793	0.000036	10.225788	2.602690	cycloeucalenol cycloisomerase activity
GO:0052829	0.000036	10.225788	2.602690	inositol-1,3,4-trisphosphate 1-phosphatase activity
GO:0070612	0.000036	10.225788	2.602690	histone methyltransferase activity (H2A-R3 specific)
GO:0097005	0.000036	10.225788	2.602690	adipokinetic hormone receptor binding
GO:0106242	0.000036	10.225788	2.602690	kolavenyl diphosphate synthase activity
GO:0110068	0.000036	10.225788	2.602690	glucosylglycerate phosphorylase activity
GO:1990640	0.000036	10.225788	2.602690	inositol-2,4,5-triphosphate 5-phosphatase activity
GO:1990648	0.000036	10.225788	2.602690	inositol-4,5,6-triphosphate 5-phosphatase activity
GO:0052796	0.000036	10.225788	2.639057	exo-alpha-(2->8)-sialidase activity
GO:0015473	0.000036	10.225788	2.674149	fimbrial usher porin activity
GO:0015474	0.000036	10.225788	2.674149	autotransporter activity
GO:0015667	0.000036	10.225788	2.674149	site-specific DNA-methyltransferase (cytosine-N4-specific) activity
GO:0016996	0.000036	10.225788	2.674149	endo-alpha-(2,8)-sialidase activity
GO:0031695	0.000036	10.225788	2.674149	alpha-2B adrenergic receptor binding
GO:1990190	0.000036	10.225788	2.674149	peptide-glutamate-N-acetyltransferase activity
GO:0004572	0.000036	10.225788	2.708050	mannosyl-oligosaccharide 1,3-1,6-alpha-mannosidase activity
GO:0050450	0.000036	10.225788	2.708050	citrate (Re)-synthase activity
GO:0050479	0.000036	10.225788	2.708050	glyceryl-ether monooxygenase activity
GO:0050616	0.000036	10.225788	2.708050	secologanin synthase activity
GO:0150025	0.000036	10.225788	2.708050	oxidised low-density lipoprotein particle receptor activity
GO:1901707	0.000036	10.225788	2.708050	leptomycin B binding
GO:0003853	0.000036	10.225788	2.740840	2-methylacyl-CoA dehydrogenase activity
GO:0015043	0.000036	10.225788	2.740840	leghemoglobin reductase activity
GO:0016937	0.000036	10.225788	2.740840	short-branched-chain-acyl-CoA dehydrogenase activity
GO:0001864	0.000036	10.225788	2.772589	pentraxin binding
GO:0008726	0.000036	10.225788	2.803360	alkanesulfonate monooxygenase activity
GO:0033963	0.000036	10.225788	2.803360	cholesterol-5,6-oxide hydrolase activity
GO:0047977	0.000036	10.225788	2.803360	hepoxilin-epoxide hydrolase activity
GO:0052881	0.000036	10.225788	2.803360	4-hydroxyphenylacetate 3-monooxygenase activity
GO:0062047	0.000036	10.225788	2.803360	pipecolic acid N-hydroxylase
GO:0061929	0.000036	10.225788	2.833213	gamma-glutamylaminecyclotransferase activity
GO:1990601	0.000036	10.225788	2.833213	5' overhang single-stranded DNA endodeoxyribonuclease activity
GO:0008820	0.000036	10.225788	2.862201	cobinamide phosphate guanylyltransferase activity
GO:0010472	0.000036	10.225788	2.862201	GDP-galactose:glucose-1-phosphate guanylyltransferase activity
GO:0010473	0.000036	10.225788	2.862201	GDP-galactose:myoinositol-1-phosphate guanylyltransferase activity
GO:0010474	0.000036	10.225788	2.862201	glucose-1-phosphate guanylyltransferase (GDP) activity
GO:0016995	0.000036	10.225788	2.862201	cholesterol oxidase activity
GO:0018112	0.000036	10.225788	2.862201	proline racemase activity
GO:0018114	0.000036	10.225788	2.862201	threonine racemase activity
GO:0019157	0.000036	10.225788	2.862201	malate oxidase activity
GO:0030273	0.000036	10.225788	2.862201	melanin-concentrating hormone receptor activity
GO:0033713	0.000036	10.225788	2.862201	choline:oxygen 1-oxidoreductase activity
GO:0035472	0.000036	10.225788	2.862201	choriogonadotropin hormone receptor activity
GO:0043814	0.000036	10.225788	2.862201	phospholactate guanylyltransferase activity
GO:0044600	0.000036	10.225788	2.862201	protein guanylyltransferase activity
GO:0045480	0.000036	10.225788	2.862201	galactose oxidase activity
GO:0047875	0.000036	10.225788	2.862201	ecdysone oxidase activity
GO:0050157	0.000036	10.225788	2.862201	ornithine racemase activity
GO:0061603	0.000036	10.225788	2.862201	molybdenum cofactor guanylyltransferase activity
GO:0097508	0.000036	10.225788	2.862201	xanthine DNA N-glycosylase activity
GO:0097509	0.000036	10.225788	2.862201	oxanine DNA N-glycosylase activity
GO:0032428	0.000036	10.225788	2.890372	beta-N-acetylgalactosaminidase activity
GO:0033787	0.000036	10.225788	2.890372	cyanocobalamin reductase (cyanide-eliminating) activity
GO:0034074	0.000036	10.225788	2.890372	marneral synthase activity
GO:0034075	0.000036	10.225788	2.890372	arabidiol synthase activity
GO:0034076	0.000036	10.225788	2.890372	cucurbitadienol synthase activity
GO:0042561	0.000036	10.225788	2.890372	alpha-amyrin synthase activity
GO:0050444	0.000036	10.225788	2.890372	aquacobalamin reductase (NADPH) activity
GO:0050513	0.000036	10.225788	2.890372	glycoprotein 2-beta-D-xylosyltransferase activity
GO:0051746	0.000036	10.225788	2.890372	thalianol synthase activity
GO:0052886	0.000036	10.225788	2.890372	9,9'-dicis-carotene:quinone oxidoreductase activity
GO:0070892	0.000036	10.225788	2.890372	lipoteichoic acid immune receptor activity
GO:0080011	0.000036	10.225788	2.890372	baruol synthase activity
GO:0120053	0.000036	10.225788	2.890372	ribitol beta-1,4-xylosyltransferase activity
GO:0015021	0.000036	10.225788	2.917771	heparin-sulfate lyase activity
GO:0030340	0.000036	10.225788	2.917771	hyaluronate lyase activity
GO:0030341	0.000036	10.225788	2.917771	chondroitin AC lyase activity
GO:0033999	0.000036	10.225788	2.917771	chondroitin B lyase activity
GO:0047486	0.000036	10.225788	2.917771	chondroitin ABC lyase activity
GO:0047487	0.000036	10.225788	2.917771	oligogalacturonide lyase activity
GO:0047488	0.000036	10.225788	2.917771	heparin lyase activity
GO:0047492	0.000036	10.225788	2.917771	xanthan lyase activity
GO:0050131	0.000036	10.225788	2.917771	N-methyl-L-amino-acid oxidase activity
GO:0051698	0.000036	10.225788	2.917771	saccharopine oxidase activity
GO:0052904	0.000036	10.225788	2.917771	N1-acetylspermidine:oxygen oxidoreductase (3-acetamidopropanal-forming) activity
GO:0070320	0.000036	10.225788	2.917771	inward rectifier potassium channel inhibitor activity
GO:1990534	0.000036	10.225788	2.917771	thermospermine oxidase activity
GO:0001095	0.000036	10.225788	2.944439	TFIIE-class transcription factor complex binding
GO:0120226	0.000036	10.225788	2.944439	succinyl-CoA binding
GO:0000401	0.000036	10.225788	2.970414	open form four-way junction DNA binding
GO:0009046	0.000036	10.225788	2.970414	zinc D-Ala-D-Ala carboxypeptidase activity
GO:0015156	0.000036	10.225788	2.970414	melibiose transmembrane transporter activity
GO:0035485	0.000036	10.225788	2.970414	adenine/guanine mispair binding
GO:0035486	0.000036	10.225788	2.970414	cytosine/cytosine mispair binding
GO:0035487	0.000036	10.225788	2.970414	thymine/thymine mispair binding
GO:0035488	0.000036	10.225788	2.970414	cytosine/thymine mispair binding
GO:0044016	0.000036	10.225788	2.970414	histone acetyltransferase activity (H3-K4 specific)
GO:0015575	0.000036	10.225788	2.995732	mannitol transmembrane transporter activity
GO:0008804	0.000036	10.225788	3.020425	carbamate kinase activity
GO:0043907	0.000036	10.225788	3.020425	Cys-tRNA(Pro) hydrolase activity
GO:0047761	0.000036	10.225788	3.020425	butyrate kinase activity
GO:0047900	0.000036	10.225788	3.020425	formate kinase activity
GO:0015089	0.000036	10.225788	3.044522	high-affinity copper ion transmembrane transporter activity
GO:0034024	0.000036	10.225788	3.044522	glutamate-putrescine ligase activity
GO:0035446	0.000036	10.225788	3.044522	cysteine-glucosaminylinositol ligase activity
GO:0043737	0.000036	10.225788	3.044522	deoxyribonuclease V activity
GO:0046553	0.000036	10.225788	3.044522	D-malate dehydrogenase (decarboxylating) activity
GO:0046554	0.000036	10.225788	3.044522	malate dehydrogenase (NADP+) activity
GO:0047479	0.000036	10.225788	3.044522	trypanothione synthase activity
GO:0047530	0.000036	10.225788	3.044522	2,4-diaminopentanoate dehydrogenase activity
GO:0047960	0.000036	10.225788	3.044522	glycine dehydrogenase activity
GO:0050175	0.000036	10.225788	3.044522	phenylalanine dehydrogenase activity
GO:0050303	0.000036	10.225788	3.044522	lysine 6-dehydrogenase activity
GO:0050439	0.000036	10.225788	3.044522	2-hydroxy-3-oxoadipate synthase activity
GO:0070204	0.000036	10.225788	3.044522	2-succinyl-5-enolpyruvyl-6-hydroxy-3-cyclohexene-1-carboxylic-acid synthase activity
GO:0140339	0.000036	10.225788	3.044522	phosphatidylglycerol transfer activity
GO:0010852	0.000036	10.225788	3.091042	cyclase inhibitor activity
GO:0008662	0.000036	10.225788	3.113515	1-phosphofructokinase activity
GO:0016495	0.000036	10.225788	3.113515	C-X3-C chemokine receptor activity
GO:0036217	0.000036	10.225788	3.113515	dGTP diphosphatase activity
GO:0043924	0.000036	10.225788	3.113515	suramin binding
GO:0090417	0.000036	10.225788	3.113515	N-methylnicotinate transmembrane transporter activity
GO:0000319	0.000036	10.225788	3.135494	sulfite transmembrane transporter activity
GO:0016309	0.000036	10.225788	3.135494	1-phosphatidylinositol-5-phosphate 4-kinase activity
GO:0048031	0.000036	10.225788	3.135494	trisaccharide binding
GO:0052811	0.000036	10.225788	3.135494	1-phosphatidylinositol-3-phosphate 4-kinase activity
GO:0061627	0.000036	10.225788	3.135494	S-methylmethionine-homocysteine S-methyltransferase activity
GO:1905059	0.000036	10.225788	3.135494	calcium-transporting ATPase activity involved in regulation of postsynaptic cytosolic calcium ion concentration
GO:2001071	0.000036	10.225788	3.135494	maltoheptaose binding
GO:0015130	0.000036	10.225788	3.157000	mevalonate transmembrane transporter activity
GO:0015530	0.000036	10.225788	3.157000	shikimate transmembrane transporter activity
GO:0022894	0.000036	10.225788	3.157000	Intermediate conductance calcium-activated potassium channel activity
GO:0036384	0.000036	10.225788	3.157000	cytidine diphosphatase activity
GO:0044717	0.000036	10.225788	3.157000	8-hydroxy-dADP phosphatase activity
GO:0001587	0.000036	10.225788	3.178054	Gq/11-coupled serotonin receptor activity
GO:0086037	0.000036	10.225788	3.198673	sodium:potassium-exchanging ATPase activity involved in regulation of cardiac muscle cell membrane potential
GO:0004569	0.000036	10.225788	3.218876	glycoprotein endo-alpha-1,2-mannosidase activity
GO:0047349	0.000036	10.225788	3.218876	D-ribitol-5-phosphate cytidylyltransferase activity
GO:0061602	0.000036	10.225788	3.218876	molybdenum cofactor cytidylyltransferase activity
GO:0099619	0.000036	10.225788	3.218876	UDP-4-amino-4-deoxy-L-arabinose formyltransferase activity
GO:0008838	0.000036	10.225788	3.238678	diaminopropionate ammonia-lyase activity
GO:0016275	0.000036	10.225788	3.238678	[cytochrome c]-arginine N-methyltransferase activity
GO:0019702	0.000036	10.225788	3.238678	protein-arginine N5-methyltransferase activity
GO:0034006	0.000036	10.225788	3.238678	amorpha-4,11-diene synthase activity
GO:0047614	0.000036	10.225788	3.238678	aconitate delta-isomerase activity
GO:0050100	0.000036	10.225788	3.238678	methylitaconate delta-isomerase activity
GO:0051750	0.000036	10.225788	3.238678	delta3,5-delta2,4-dienoyl-CoA isomerase activity
GO:0061923	0.000036	10.225788	3.238678	(2S,3R,6S,9S)-(-)-protoillud-7-ene synthase activity
GO:0097573	0.000036	10.225788	3.238678	glutathione oxidoreductase activity
GO:0120086	0.000036	10.225788	3.238678	(3S)-(+)-asterisca-2(9),6-diene synthase activity
GO:1904492	0.000036	10.225788	3.258097	Ac-Asp-Glu binding
GO:0086040	0.000036	10.225788	3.277145	sodium:proton antiporter activity involved in regulation of cardiac muscle cell membrane potential
GO:0047379	0.000036	10.225788	3.295837	ADP-dependent short-chain-acyl-CoA hydrolase activity
GO:0052810	0.000036	10.225788	3.295837	1-phosphatidylinositol-5-kinase activity
GO:0072541	0.000036	10.225788	3.295837	peroxynitrite reductase activity
GO:0010301	0.000036	10.225788	3.314186	xanthoxin dehydrogenase activity
GO:1990362	0.000036	10.225788	3.314186	butanol dehydrogenase activity
GO:0008914	0.000036	10.225788	3.332205	leucyltransferase activity
GO:0033830	0.000036	10.225788	3.332205	Skp1-protein-hydroxyproline N-acetylglucosaminyltransferase activity
GO:0047206	0.000036	10.225788	3.332205	UDP-N-acetylmuramoylpentapeptide-lysine N6-alanyltransferase activity
GO:0047637	0.000036	10.225788	3.332205	alanylphosphatidylglycerol synthase activity
GO:0052868	0.000036	10.225788	3.332205	protein-lysine lysyltransferase activity
GO:0030233	0.000036	10.225788	3.349904	deoxynucleotide transmembrane transporter activity
GO:0043783	0.000036	10.225788	3.367296	oxidoreductase activity, oxidizing metal ions with flavin as acceptor
GO:0046568	0.000036	10.225788	3.367296	3-methylbutanol:NAD(P) oxidoreductase activity
GO:0097625	0.000036	10.225788	3.384390	low-affinity basic amino acid transmembrane transporter activity
GO:0004461	0.000036	10.225788	3.401197	lactose synthase activity
GO:0010488	0.000036	10.225788	3.401197	UDP-galactose:N-glycan beta-1,3-galactosyltransferase activity
GO:0035496	0.000036	10.225788	3.401197	lipopolysaccharide-1,5-galactosyltransferase activity
GO:0044653	0.000036	10.225788	3.401197	dextrin alpha-glucosidase activity
GO:0046509	0.000036	10.225788	3.401197	1,2-diacylglycerol 3-beta-galactosyltransferase activity
GO:0047263	0.000036	10.225788	3.401197	N-acylsphingosine galactosyltransferase activity
GO:0047276	0.000036	10.225788	3.401197	N-acetyllactosaminide 3-alpha-galactosyltransferase activity
GO:0050512	0.000036	10.225788	3.401197	lactosylceramide 4-alpha-galactosyltransferase activity
GO:0004082	0.000036	10.225788	3.417727	bisphosphoglycerate mutase activity
GO:0008968	0.000036	10.225788	3.417727	D-sedoheptulose 7-phosphate isomerase activity
GO:0018484	0.000036	10.225788	3.417727	4-hydroxybenzaldehyde dehydrogenase activity
GO:0033723	0.000036	10.225788	3.417727	fluoroacetaldehyde dehydrogenase activity
GO:0047106	0.000036	10.225788	3.417727	4-hydroxyphenylacetaldehyde dehydrogenase activity
GO:0050149	0.000036	10.225788	3.417727	o-aminophenol oxidase activity
GO:0050569	0.000036	10.225788	3.417727	glycolaldehyde dehydrogenase activity
GO:0052814	0.000036	10.225788	3.417727	medium-chain-aldehyde dehydrogenase activity
GO:0033929	0.000036	10.225788	3.433987	blood-group-substance endo-1,4-beta-galactosidase activity
GO:0047386	0.000036	10.225788	3.433987	fructose-2,6-bisphosphate 6-phosphatase activity
GO:0070456	0.000036	10.225788	3.433987	galactose-1-phosphate phosphatase activity
GO:0090434	0.000036	10.225788	3.433987	oleoyl-CoA ligase activity
GO:0009015	0.000036	10.225788	3.449988	N-succinylarginine dihydrolase activity
GO:0016677	0.000036	10.225788	3.449988	oxidoreductase activity, acting on a heme group of donors, nitrogenous group as acceptor
GO:0018756	0.000036	10.225788	3.449988	ammeline aminohydrolase activity
GO:0047726	0.000036	10.225788	3.449988	iron-cytochrome-c reductase activity
GO:0047971	0.000036	10.225788	3.449988	guanidinobutyrase activity
GO:0050415	0.000036	10.225788	3.449988	formimidoylglutamase activity
GO:0050416	0.000036	10.225788	3.449988	formimidoylglutamate deiminase activity
GO:0004446	0.000036	10.225788	3.465736	inositol-hexakisphosphate phosphatase activity
GO:0050337	0.000036	10.225788	3.465736	thiosulfate-thiol sulfurtransferase activity
GO:0101012	0.000036	10.225788	3.465736	inositol 1,5-bisdiphosphate 2,3,4,6-tetrakisphosphate 1-diphosphatase activity
GO:0004513	0.000036	10.225788	3.481240	neolactotetraosylceramide alpha-2,3-sialyltransferase activity
GO:0036139	0.000036	10.225788	3.481240	peptidyl-histidine dioxygenase activity
GO:0036140	0.000036	10.225788	3.481240	peptidyl-asparagine 3-dioxygenase activity
GO:0043792	0.000036	10.225788	3.481240	enamidase activity
GO:0047789	0.000036	10.225788	3.481240	creatininase activity
GO:0050480	0.000036	10.225788	3.481240	imidazolonepropionase activity
GO:0052798	0.000036	10.225788	3.481240	beta-galactoside alpha-2,3-sialyltransferase activity
GO:0140443	0.000036	10.225788	3.481240	mitochondrion-plasma membrane adaptor activity
GO:0140449	0.000036	10.225788	3.481240	centromere-nuclear envelope anchor activity
GO:1990919	0.000036	10.225788	3.481240	proteasome-nuclear membrane anchor activity
GO:0047273	0.000036	10.225788	3.496508	galactosylgalactosylglucosylceramide beta-D-acetylgalactosaminyltransferase activity
GO:0033039	0.000036	10.225788	3.511545	salty taste receptor activity
GO:0060001	0.000036	10.225788	3.511545	minus-end directed microfilament motor activity
GO:0008811	0.000036	10.225788	3.526361	chloramphenicol O-acetyltransferase activity
GO:0008870	0.000036	10.225788	3.526361	galactoside O-acetyltransferase activity
GO:0008925	0.000036	10.225788	3.526361	maltose O-acetyltransferase activity
GO:0010327	0.000036	10.225788	3.526361	acetyl CoA:(Z)-3-hexen-1-ol acetyltransferase activity
GO:0033745	0.000036	10.225788	3.526361	L-methionine-(R)-S-oxide reductase activity
GO:0033813	0.000036	10.225788	3.526361	deacetylcephalosporin-C acetyltransferase activity
GO:0033814	0.000036	10.225788	3.526361	propanoyl-CoA C-acyltransferase activity
GO:0043866	0.000036	10.225788	3.526361	adenylyl-sulfate reductase (thioredoxin) activity
GO:0045462	0.000036	10.225788	3.526361	trichothecene 3-O-acetyltransferase activity
GO:0046990	0.000036	10.225788	3.526361	N-hydroxyarylamine O-acetyltransferase activity
GO:0047186	0.000036	10.225788	3.526361	N-acetylneuraminate 7-O(or 9-O)-acetyltransferase activity
GO:0047350	0.000036	10.225788	3.526361	glucuronate-1-phosphate uridylyltransferase activity
GO:0050133	0.000036	10.225788	3.526361	N6-hydroxylysine O-acetyltransferase activity
GO:0051264	0.000036	10.225788	3.526361	mono-olein transacylation activity
GO:0051265	0.000036	10.225788	3.526361	diolein transacylation activity
GO:0015503	0.000036	10.225788	3.555348	glutathione-regulated potassium exporter activity
GO:0034479	0.000036	10.225788	3.555348	phosphatidylglycerol phospholipase C activity
GO:1901584	0.000036	10.225788	3.555348	tetrapeptide transmembrane transporter activity
GO:0030624	0.000036	10.225788	3.569533	U6atac snRNA binding
GO:0030626	0.000036	10.225788	3.569533	U12 snRNA binding
GO:0001567	0.000036	10.225788	3.583519	cholesterol 25-hydroxylase activity
GO:0004501	0.000036	10.225788	3.583519	ecdysone 20-monooxygenase activity
GO:0008387	0.000036	10.225788	3.583519	steroid 7-alpha-hydroxylase activity
GO:0033882	0.000036	10.225788	3.583519	choloyl-CoA hydrolase activity
GO:0047994	0.000036	10.225788	3.583519	hydroxymethylglutaryl-CoA hydrolase activity
GO:0061522	0.000036	10.225788	3.583519	1,4-dihydroxy-2-naphthoyl-CoA thioesterase activity
GO:0003944	0.000036	10.225788	3.597312	N-acetylglucosamine-1-phosphodiester alpha-N-acetylglucosaminidase activity
GO:0004561	0.000036	10.225788	3.597312	alpha-N-acetylglucosaminidase activity
GO:0008456	0.000036	10.225788	3.597312	alpha-N-acetylgalactosaminidase activity
GO:0010348	0.000036	10.225788	3.597312	lithium:proton antiporter activity
GO:0050451	0.000036	10.225788	3.597312	CoA-disulfide reductase activity
GO:0102987	0.000036	10.225788	3.597312	palmitoleic acid delta 12 desaturase activity
GO:1902944	0.000036	10.225788	3.597312	aspartic-type endopeptidase activity involved in amyloid precursor protein catabolic process
GO:0008852	0.000036	10.225788	3.610918	exodeoxyribonuclease I activity
GO:0008853	0.000036	10.225788	3.610918	exodeoxyribonuclease III activity
GO:0008855	0.000036	10.225788	3.610918	exodeoxyribonuclease VII activity
GO:0009815	0.000036	10.225788	3.610918	1-aminocyclopropane-1-carboxylate oxidase activity
GO:0019969	0.000036	10.225788	3.610918	interleukin-10 binding
GO:0019978	0.000036	10.225788	3.610918	interleukin-3 binding
GO:0050418	0.000036	10.225788	3.610918	hydroxylamine reductase activity
GO:0097621	0.000036	10.225788	3.610918	monoamine oxidase activity
GO:0047529	0.000036	10.225788	3.624341	2,3-dimethylmalate lyase activity
GO:0106009	0.000036	10.225788	3.624341	(4S)-4-hydroxy-2-oxoglutarate aldolase activity
GO:0017130	0.000036	10.225788	3.650658	poly(C) RNA binding
GO:0017131	0.000036	10.225788	3.650658	uridine-rich cytoplasmic polyadenylylation element binding
GO:0097030	0.000036	10.225788	3.663562	CENP-A containing nucleosome binding
GO:0004808	0.000036	10.225788	3.676301	tRNA (5-methylaminomethyl-2-thiouridylate)-methyltransferase activity
GO:0050224	0.000036	10.225788	3.676301	prunasin beta-glucosidase activity
GO:0050247	0.000036	10.225788	3.676301	raucaffricine beta-glucosidase activity
GO:0050422	0.000036	10.225788	3.676301	strictosidine beta-glucosidase activity
GO:0051993	0.000036	10.225788	3.676301	abscisic acid glucose ester beta-glucosidase activity
GO:0080081	0.000036	10.225788	3.676301	4-methylumbelliferyl-beta-D-glucopyranoside beta-glucosidase activity
GO:0080082	0.000036	10.225788	3.676301	esculin beta-glucosidase activity
GO:0000007	0.000036	10.225788	3.688879	low-affinity zinc ion transmembrane transporter activity
GO:0008712	0.000036	10.225788	3.688879	ADP-glyceromanno-heptose 6-epimerase activity
GO:0030941	0.000036	10.225788	3.688879	chloroplast targeting sequence binding
GO:0034015	0.000036	10.225788	3.688879	L-ribulose-5-phosphate 3-epimerase activity
GO:0034700	0.000036	10.225788	3.688879	allulose 6-phosphate 3-epimerase activity
GO:0036373	0.000036	10.225788	3.688879	L-fucose mutarotase activity
GO:0047938	0.000036	10.225788	3.688879	glucose-6-phosphate 1-epimerase activity
GO:0050379	0.000036	10.225788	3.688879	UDP-glucuronate 5'-epimerase activity
GO:1990473	0.000036	10.225788	3.688879	ciliary targeting signal binding
GO:0140108	0.000036	10.225788	3.701302	high-affinity glucose transmembrane transporter activity
GO:0000704	0.000036	10.225788	3.725693	pyrimidine dimer DNA N-glycosylase activity
GO:0033800	0.000036	10.225788	3.725693	isoflavone 7-O-methyltransferase activity
GO:0033802	0.000036	10.225788	3.725693	isoliquiritigenin 2'-O-methyltransferase activity
GO:0033958	0.000036	10.225788	3.725693	DNA-deoxyinosine glycosylase activity
GO:0046406	0.000036	10.225788	3.725693	magnesium protoporphyrin IX methyltransferase activity
GO:0140442	0.000036	10.225788	3.725693	peroxide sensor activity
GO:0008697	0.000036	10.225788	3.737670	4-deoxy-L-threo-5-hexosulose-uronate ketol-isomerase activity
GO:0008733	0.000036	10.225788	3.737670	L-arabinose isomerase activity
GO:0008736	0.000036	10.225788	3.737670	L-fucose isomerase activity
GO:0008740	0.000036	10.225788	3.737670	L-rhamnose isomerase activity
GO:0008786	0.000036	10.225788	3.737670	allose 6-phosphate isomerase activity
GO:0008790	0.000036	10.225788	3.737670	arabinose isomerase activity
GO:0008903	0.000036	10.225788	3.737670	hydroxypyruvate isomerase activity
GO:0047828	0.000036	10.225788	3.737670	D-lyxose ketol-isomerase activity
GO:1903880	0.000036	10.225788	3.737670	17alpha-hydroxyprogesterone binding
GO:0015317	0.000036	10.225788	3.749504	phosphate:proton symporter activity
GO:0043544	0.000036	10.225788	3.749504	lipoamide binding
GO:0047022	0.000036	10.225788	3.749504	7-beta-hydroxysteroid dehydrogenase (NADP+) activity
GO:0008672	0.000036	10.225788	3.761200	2-dehydro-3-deoxyglucarate aldolase activity
GO:0008994	0.000036	10.225788	3.761200	rhamnulose-1-phosphate aldolase activity
GO:0047440	0.000036	10.225788	3.761200	2-dehydro-3-deoxy-D-pentonate aldolase activity
GO:0050179	0.000036	10.225788	3.761200	phenylserine aldolase activity
GO:0061595	0.000036	10.225788	3.761200	6-deoxy-6-sulfofructose-1-phosphate aldolase activity
GO:0106099	0.000036	10.225788	3.761200	2-keto-3-deoxy-L-rhamnonate aldolase activity
GO:0050627	0.000036	10.225788	3.772761	mycothione reductase activity
GO:0044730	0.000036	10.225788	3.784190	bone sialoprotein binding
GO:0031773	0.000036	10.225788	3.795489	kisspeptin receptor binding
GO:0031776	0.000036	10.225788	3.795489	melanin-concentrating hormone receptor binding
GO:0031854	0.000036	10.225788	3.795489	orexigenic neuropeptide QRFP receptor binding
GO:0031858	0.000036	10.225788	3.795489	pituitary adenylate cyclase-activating polypeptide receptor binding
GO:0031861	0.000036	10.225788	3.795489	prolactin-releasing peptide receptor binding
GO:0042324	0.000036	10.225788	3.795489	hypocretin receptor binding
GO:0071858	0.000036	10.225788	3.795489	corazonin receptor binding
GO:0071859	0.000036	10.225788	3.795489	neuropeptide F receptor binding
GO:0071860	0.000036	10.225788	3.795489	proctolin receptor binding
GO:0071861	0.000036	10.225788	3.795489	tachykinin receptor binding
GO:0140337	0.000036	10.225788	3.806662	diacylglyceride transfer activity
GO:0140344	0.000036	10.225788	3.806662	triglyceride transfer activity
GO:0005129	0.000036	10.225788	3.817712	granulocyte macrophage colony-stimulating factor receptor binding
GO:0005140	0.000036	10.225788	3.817712	interleukin-9 receptor binding
GO:0005141	0.000036	10.225788	3.817712	interleukin-10 receptor binding
GO:0005142	0.000036	10.225788	3.817712	interleukin-11 receptor binding
GO:0034011	0.000036	10.225788	3.850148	L-cysteate sulfo-lyase activity
GO:0043768	0.000036	10.225788	3.850148	S-ribosylhomocysteine lyase activity
GO:0080108	0.000036	10.225788	3.850148	S-alkylthiohydroximate lyase activity
GO:0120152	0.000036	10.225788	3.850148	calcium-dependent outer dynein arm binding
GO:1990411	0.000036	10.225788	3.850148	hercynylcysteine sulfoxide lyase activity (ergothioneine-forming)
GO:1990412	0.000036	10.225788	3.850148	hercynylselenocysteine lyase activity (selenoneine-forming)
GO:0008829	0.000036	10.225788	3.881564	dCTP deaminase activity
GO:0008835	0.000036	10.225788	3.881564	diaminohydroxyphosphoribosylaminopyrimidine deaminase activity
GO:0033973	0.000036	10.225788	3.881564	dCTP deaminase (dUMP-forming) activity
GO:0035888	0.000036	10.225788	3.881564	isoguanine deaminase activity
GO:0047425	0.000036	10.225788	3.881564	1-pyrroline-4-hydroxy-2-carboxylate deaminase activity
GO:0050228	0.000036	10.225788	3.881564	pterin deaminase activity
GO:0050279	0.000036	10.225788	3.881564	sepiapterin deaminase activity
GO:0050809	0.000036	10.225788	3.921973	diazepam binding
GO:0061768	0.000036	10.225788	3.921973	magnesium:sodium antiporter activity
GO:0140431	0.000036	10.225788	3.921973	DNA-(abasic site) binding
GO:1990838	0.000036	10.225788	3.941582	poly(U)-specific exoribonuclease activity, producing 3' uridine cyclic phosphate ends
GO:0008752	0.000036	10.225788	3.960813	FMN reductase activity
GO:0010349	0.000036	10.225788	3.960813	L-galactose dehydrogenase activity
GO:0047127	0.000036	10.225788	3.960813	thiomorpholine-carboxylate dehydrogenase activity
GO:0050241	0.000036	10.225788	3.960813	pyrroline-2-carboxylate reductase activity
GO:0062046	0.000036	10.225788	3.960813	dehydropipecolic acid reductase
GO:0071172	0.000036	10.225788	3.960813	dihydromonapterin reductase activity
GO:0008269	0.000036	10.225788	3.970292	JAK pathway signal transduction adaptor activity
GO:0035302	0.000036	10.225788	3.970292	ecdysteroid 25-hydroxylase activity
GO:0042767	0.000036	10.225788	3.970292	ecdysteroid 22-hydroxylase activity
GO:0042768	0.000036	10.225788	3.970292	ecdysteroid 2-hydroxylase activity
GO:1990162	0.000036	10.225788	3.970292	histone deacetylase activity (H3-K4 specific)
GO:0034002	0.000036	10.225788	3.998201	(R)-limonene synthase activity
GO:0034009	0.000036	10.225788	3.998201	isoprene synthase activity
GO:0047507	0.000036	10.225788	3.998201	(deoxy)nucleoside-phosphate kinase activity
GO:0050552	0.000036	10.225788	3.998201	(4S)-limonene synthase activity
GO:0106100	0.000036	10.225788	3.998201	beta-pinacene synthase activity
GO:0004153	0.000036	10.225788	4.034241	dihydropterin deaminase activity
GO:0031962	0.000036	10.225788	4.034241	mineralocorticoid receptor binding
GO:0062154	0.000036	10.225788	4.034241	N6-mAMP deaminase activity
GO:0090612	0.000036	10.225788	4.034241	cAMP deaminase activity
GO:0090613	0.000036	10.225788	4.034241	5'-deoxyadenosine deaminase activity
GO:0047274	0.000036	10.225788	4.043051	galactinol-sucrose galactosyltransferase activity
GO:0046608	0.000036	10.225788	4.060443	carotenoid isomerase activity
GO:0050076	0.000036	10.225788	4.060443	maleate isomerase activity
GO:0090471	0.000036	10.225788	4.060443	9,15,9'-tri-cis-zeta-carotene isomerase activity
GO:0043431	0.000036	10.225788	4.102643	2-octaprenyl-3-methyl-5-hydroxy-6-methoxy-1,4-benzoquinone methyltransferase activity
GO:0047145	0.000036	10.225788	4.102643	demethylsterigmatocystin 6-O-methyltransferase activity
GO:0050342	0.000036	10.225788	4.102643	tocopherol O-methyltransferase activity
GO:0080012	0.000036	10.225788	4.102643	trihydroxyferuloyl spermidine O-methyltransferase activity
GO:0080076	0.000036	10.225788	4.102643	caffeoyl CoA:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080077	0.000036	10.225788	4.102643	trihydroxyferuloyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080078	0.000036	10.225788	4.102643	tricaffeoyl spermidine:S-adenosyl-L-methionine O-methyltransferase activity
GO:0080150	0.000036	10.225788	4.102643	S-adenosyl-L-methionine:benzoic acid carboxyl methyl transferase activity
GO:0031737	0.000036	10.225788	4.119037	CX3C chemokine receptor binding
GO:0047264	0.000036	10.225788	4.119037	heteroglycan alpha-mannosyltransferase activity
GO:0033890	0.000036	10.225788	4.127134	ribonuclease D activity
GO:0004166	0.000036	10.225788	4.135167	dolichyl-phosphate alpha-N-acetylglucosaminyltransferase activity
GO:0008457	0.000036	10.225788	4.135167	beta-galactosyl-N-acetylglucosaminylgalactosylglucosyl-ceramide beta-1,3-acetylglucosaminyltransferase activity
GO:0008764	0.000036	10.225788	4.135167	UDP-N-acetylmuramoylalanine-D-glutamate ligase activity
GO:0008766	0.000036	10.225788	4.135167	UDP-N-acetylmuramoylalanyl-D-glutamyl-2,6-diaminopimelate-D-alanyl-D-alanine ligase activity
GO:0043774	0.000036	10.225788	4.135167	coenzyme F420-2 alpha-glutamyl ligase activity
GO:0046981	0.000036	10.225788	4.135167	beta-1,4-mannosylglycolipid beta-1,3-N-acetylglucosaminyltransferase activity
GO:0047480	0.000036	10.225788	4.135167	UDP-N-acetylmuramoyl-tripeptide-D-alanyl-D-alanine ligase activity
GO:0050511	0.000036	10.225788	4.135167	undecaprenyldiphospho-muramoylpentapeptide beta-N-acetylglucosaminyltransferase activity
GO:0050564	0.000036	10.225788	4.135167	N-(5-amino-5-carboxypentanoyl)-L-cysteinyl-D-valine synthase activity
GO:0052618	0.000036	10.225788	4.135167	coenzyme F420-0:L-glutamate ligase activity
GO:0052625	0.000036	10.225788	4.135167	4-aminobenzoate amino acid synthetase activity
GO:0052626	0.000036	10.225788	4.135167	benzoate amino acid synthetase activity
GO:0052627	0.000036	10.225788	4.135167	vanillate amino acid synthetase activity
GO:0052628	0.000036	10.225788	4.135167	4-hydroxybenzoate amino acid synthetase activity
GO:0062145	0.000036	10.225788	4.135167	L-propargylglycine--L-glutamate ligase activity
GO:0080123	0.000036	10.225788	4.135167	jasmonate-amino synthetase activity
GO:0008960	0.000036	10.225788	4.143135	phosphatidylglycerol-membrane-oligosaccharide glycerophosphotransferase activity
GO:0043761	0.000036	10.225788	4.143135	archaetidylserine synthase activity
GO:0043822	0.000036	10.225788	4.143135	ribonuclease M5 activity
GO:0043838	0.000036	10.225788	4.143135	phosphatidylethanolamine:Kdo2-lipid A phosphoethanolamine transferase activity
GO:0046917	0.000036	10.225788	4.143135	triphosphoribosyl-dephospho-CoA synthase activity
GO:0061693	0.000036	10.225788	4.143135	alpha-D-ribose 1-methylphosphonate 5-triphosphate synthase activity
GO:0062122	0.000036	10.225788	4.143135	histone methyltransferase activity (H3-K37 specific)
GO:0089702	0.000036	10.225788	4.143135	undecaprenyl-phosphate glucose phosphotransferase activity
GO:0034012	0.000036	10.225788	4.166665	FAD-AMP lyase (cyclizing) activity
GO:0070282	0.000036	10.225788	4.174387	pyridoxine binding
GO:0035643	0.000036	10.225788	4.182050	L-DOPA receptor activity
GO:0036400	0.000036	10.225788	4.182050	short neuropeptide F receptor activity
GO:0042263	0.000036	10.225788	4.182050	neuropeptide F receptor activity
GO:0034658	0.000036	10.225788	4.197202	isopropylmalate transmembrane transporter activity
GO:0043723	0.000036	10.225788	4.197202	2,5-diamino-6-ribitylamino-4(3H)-pyrimidinone 5'-phosphate deaminase activity
GO:0004589	0.000036	10.225788	4.219508	orotate reductase (NADH) activity
GO:0008667	0.000036	10.225788	4.219508	2,3-dihydro-2,3-dihydroxybenzoate dehydrogenase activity
GO:0008748	0.000036	10.225788	4.219508	N-ethylmaleimide reductase activity
GO:0016630	0.000036	10.225788	4.219508	protochlorophyllide reductase activity
GO:0016964	0.000036	10.225788	4.219508	alpha-2 macroglobulin receptor activity
GO:0018504	0.000036	10.225788	4.219508	cis-1,2-dihydrobenzene-1,2-diol dehydrogenase activity
GO:0018507	0.000036	10.225788	4.219508	cis-3,4-dihydrophenanthrene-3,4-diol dehydrogenase activity
GO:0036134	0.000036	10.225788	4.219508	12-hydroxyheptadecatrienoic acid synthase activity
GO:0043957	0.000036	10.225788	4.219508	acryloyl-CoA reductase (NADP+) activity
GO:0047117	0.000036	10.225788	4.219508	enoyl-[acyl-carrier-protein] reductase (NADPH, A-specific) activity
GO:0047120	0.000036	10.225788	4.219508	(3S,4R)-3,4-dihydroxycyclohexa-1,5-diene-1,4-dicarboxylate dehydrogenase activity
GO:0047522	0.000036	10.225788	4.219508	15-oxoprostaglandin 13-oxidase activity
GO:0047540	0.000036	10.225788	4.219508	2-enoate reductase activity
GO:0047794	0.000036	10.225788	4.219508	cyclohexadienyl dehydrogenase activity
GO:0047920	0.000036	10.225788	4.219508	geissoschizine dehydrogenase activity
GO:0052579	0.000036	10.225788	4.219508	(+)-pulegone reductase, (+)-isomenthone as substrate, activity
GO:0052580	0.000036	10.225788	4.219508	(+)-pulegone reductase, (-)-menthone as substrate, activity
GO:0102758	0.000036	10.225788	4.219508	very-long-chain enoyl-CoA reductase activity
GO:0005020	0.000036	10.225788	4.226834	stem cell factor receptor activity
GO:0008288	0.000036	10.225788	4.226834	boss receptor activity
GO:0031928	0.000036	10.225788	4.226834	pyridoxine transmembrane transporter activity
GO:0036332	0.000036	10.225788	4.226834	placental growth factor-activated receptor activity
GO:0044318	0.000036	10.225788	4.226834	L-aspartate:fumarate oxidoreductase activity
GO:0048028	0.000036	10.225788	4.226834	galacturonan binding
GO:2001062	0.000036	10.225788	4.226834	xylan binding
GO:0010308	0.000036	10.225788	4.234107	acireductone dioxygenase (Ni2+-requiring) activity
GO:0010309	0.000036	10.225788	4.234107	acireductone dioxygenase [iron(II)-requiring] activity
GO:0018564	0.000036	10.225788	4.234107	carbazole 1,9a-dioxygenase activity
GO:0018582	0.000036	10.225788	4.234107	1-hydroxy-2-naphthoate 1,2-dioxygenase activity
GO:0036238	0.000036	10.225788	4.234107	gallate dioxygenase activity
GO:0036403	0.000036	10.225788	4.234107	arachidonate 8(S)-lipoxygenase activity
GO:0047070	0.000036	10.225788	4.234107	3-carboxyethylcatechol 2,3-dioxygenase activity
GO:0047071	0.000036	10.225788	4.234107	3,4-dihydroxy-9,10-secoandrosta-1,3,5(10)-triene-9,17-dione 4,5-dioxygenase activity
GO:0047075	0.000036	10.225788	4.234107	2,5-dihydroxypyridine 5,6-dioxygenase activity
GO:0047078	0.000036	10.225788	4.234107	3-hydroxy-4-oxoquinoline 2,4-dioxygenase activity
GO:0047677	0.000036	10.225788	4.234107	arachidonate 8(R)-lipoxygenase activity
GO:0047922	0.000036	10.225788	4.234107	gentisate 1,2-dioxygenase activity
GO:0050585	0.000036	10.225788	4.234107	4-hydroxymandelate synthase activity
GO:0052878	0.000036	10.225788	4.234107	linoleate 8R-lipoxygenase activity
GO:0102672	0.000036	10.225788	4.234107	fatty acid alpha-oxygenase activity
GO:0018860	0.000036	10.225788	4.241327	anthranilate-CoA ligase activity
GO:0042410	0.000036	10.225788	4.241327	6-carboxyhexanoate-CoA ligase activity
GO:0070251	0.000036	10.225788	4.241327	pristanate-CoA ligase activity
GO:0051109	0.000036	10.225788	4.283587	crotonobetaine-CoA ligase activity
GO:0008668	0.000036	10.225788	4.290459	(2,3-dihydroxybenzoyl)adenylate synthase activity
GO:0033786	0.000036	10.225788	4.290459	heptose-1-phosphate adenylyltransferase activity
GO:0061605	0.000036	10.225788	4.290459	molybdopterin-synthase adenylyltransferase activity
GO:0047611	0.000036	10.225788	4.297285	acetylspermidine deacetylase activity
GO:0008737	0.000036	10.225788	4.304065	L-fuculokinase activity
GO:0008741	0.000036	10.225788	4.304065	ribulokinase activity
GO:0008787	0.000036	10.225788	4.304065	allose kinase activity
GO:0009702	0.000036	10.225788	4.304065	L-arabinokinase activity
GO:0033219	0.000036	10.225788	4.324133	urea binding
GO:0046567	0.000036	10.225788	4.324133	aphidicolan-16 beta-ol synthase activity
GO:0050459	0.000036	10.225788	4.324133	ethanolamine-phosphate phospho-lyase activity
GO:0052674	0.000036	10.225788	4.324133	ent-pimara-9(11),15-diene synthase activity
GO:0052679	0.000036	10.225788	4.324133	terpentetriene synthase activity
GO:0062202	0.000036	10.225788	4.324133	Labd-13(16),14-diene-9-ol synthase activity
GO:0062203	0.000036	10.225788	4.324133	Viteagnusin D synthase activity
GO:0062204	0.000036	10.225788	4.324133	(13S)-vitexifolin A synthase activity
GO:0062205	0.000036	10.225788	4.324133	miltiradiene synthase activity
GO:0062206	0.000036	10.225788	4.324133	manoyl oxide synthase activity
GO:0102313	0.000036	10.225788	4.324133	1,8-cineole synthase activity
GO:0102698	0.000036	10.225788	4.324133	5-epi-aristolochene synthase activity
GO:0102703	0.000036	10.225788	4.324133	camphene synthase activity
GO:0102877	0.000036	10.225788	4.324133	alpha-copaene synthase activity
GO:0102878	0.000036	10.225788	4.324133	(+)-alpha-barbatene synthase activity
GO:0102879	0.000036	10.225788	4.324133	(+)-thujopsene synthase activity
GO:0106243	0.000036	10.225788	4.324133	syn-isopimara-7,15-diene synthase activity
GO:0036348	0.000036	10.225788	4.330733	hydantoin racemase activity
GO:0044824	0.000036	10.225788	4.337291	retroviral 3' processing activity
GO:1902945	0.000036	10.225788	4.356709	metalloendopeptidase activity involved in amyloid precursor protein catabolic process
GO:0009976	0.000036	10.225788	4.363099	tocopherol cyclase activity
GO:0034930	0.000036	10.225788	4.363099	1-hydroxypyrene sulfotransferase activity
GO:0045130	0.000036	10.225788	4.363099	keratan sulfotransferase activity
GO:0047685	0.000036	10.225788	4.363099	amine sulfotransferase activity
GO:0047704	0.000036	10.225788	4.363099	bile-salt sulfotransferase activity
GO:0061811	0.000036	10.225788	4.363099	ADP-ribosyl cyclase activity
GO:0080131	0.000036	10.225788	4.363099	hydroxyjasmonate sulfotransferase activity
GO:0033759	0.000036	10.225788	4.375757	flavone synthase activity
GO:0033760	0.000036	10.225788	4.375757	2'-deoxymugineic-acid 2'-dioxygenase activity
GO:0062148	0.000036	10.225788	4.375757	L-gamma-glutamyl-L-propargylglycine hydroxylase activity
GO:0102111	0.000036	10.225788	4.375757	gibberellin A20,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102652	0.000036	10.225788	4.375757	gibberellin A9,2-oxoglutarate:oxygen oxidoreductase activity
GO:0102802	0.000036	10.225788	4.375757	thebaine 6-O-demethylase activity
GO:0102805	0.000036	10.225788	4.375757	codeine O-demethylase activity
GO:0102924	0.000036	10.225788	4.375757	gibberellin A44,2-oxoglutarate:oxygen oxidoreductase activity
GO:0047917	0.000036	10.225788	4.382027	GDP-glucosidase activity
GO:0050081	0.000036	10.225788	4.382027	maltose-6'-phosphate glucosidase activity
GO:0033785	0.000036	10.225788	4.406719	heptose 7-phosphate kinase activity
GO:0008771	0.000036	10.225788	4.412798	[citrate (pro-3S)-lyase] ligase activity
GO:0008961	0.000036	10.225788	4.412798	phosphatidylglycerol-prolipoprotein diacylglyceryl transferase activity
GO:0098744	0.000036	10.225788	4.412798	1-phosphatidylinositol 4-kinase activator activity
GO:0004902	0.000036	10.225788	4.418841	granulocyte colony-stimulating factor receptor activity
GO:0008782	0.000036	10.225788	4.418841	adenosylhomocysteine nucleosidase activity
GO:0016515	0.000036	10.225788	4.418841	interleukin-13 receptor activity
GO:0016517	0.000036	10.225788	4.418841	interleukin-12 receptor activity
GO:0038164	0.000036	10.225788	4.418841	thrombopoietin receptor activity
GO:0042012	0.000036	10.225788	4.418841	interleukin-16 receptor activity
GO:0042018	0.000036	10.225788	4.418841	interleukin-22 receptor activity
GO:0047405	0.000036	10.225788	4.418841	pyrimidine-5'-nucleotide nucleosidase activity
GO:0047723	0.000036	10.225788	4.418841	inosinate nucleosidase activity
GO:0061812	0.000036	10.225788	4.418841	cyclic ADP-ribose hydrolase
GO:0070636	0.000036	10.225788	4.418841	nicotinic acid riboside hydrolase activity
GO:0098680	0.000036	10.225788	4.418841	template-free RNA nucleotidyltransferase
GO:0000277	0.000036	10.225788	4.424847	[cytochrome c]-lysine N-methyltransferase activity
GO:0008110	0.000036	10.225788	4.442651	L-histidine:2-oxoglutarate aminotransferase activity
GO:0009016	0.000036	10.225788	4.442651	succinyldiaminopimelate transaminase activity
GO:0009042	0.000036	10.225788	4.442651	valine-pyruvate transaminase activity
GO:0019180	0.000036	10.225788	4.442651	dTDP-4-amino-4,6-dideoxygalactose transaminase activity
GO:0033094	0.000036	10.225788	4.442651	butane-1,4-diamine:2-oxoglutarate aminotransferase activity
GO:0043825	0.000036	10.225788	4.442651	succinylornithine transaminase activity
GO:0045303	0.000036	10.225788	4.442651	diaminobutyrate-2-oxoglutarate transaminase activity
GO:0047297	0.000036	10.225788	4.442651	asparagine-oxo-acid transaminase activity
GO:0047303	0.000036	10.225788	4.442651	glycine-oxaloacetate transaminase activity
GO:0047810	0.000036	10.225788	4.442651	D-alanine:2-oxoglutarate aminotransferase activity
GO:0050281	0.000036	10.225788	4.442651	serine-glyoxylate transaminase activity
GO:0062045	0.000036	10.225788	4.442651	L-lysine alpha-aminotransferase
GO:0070529	0.000036	10.225788	4.442651	L-tryptophan aminotransferase activity
GO:0070546	0.000036	10.225788	4.442651	L-phenylalanine aminotransferase activity
GO:0099620	0.000036	10.225788	4.442651	UDP-4-amino-4-deoxy-L-arabinose aminotransferase
GO:1990276	0.000036	10.225788	4.442651	RNA 5'-methyltransferase activity
GO:0033856	0.000036	10.225788	4.465908	pyridoxine 5'-phosphate synthase activity
GO:0016920	0.000036	10.225788	4.471639	pyroglutamyl-peptidase activity
GO:0046524	0.000036	10.225788	4.471639	sucrose-phosphate synthase activity
GO:0047243	0.000036	10.225788	4.471639	flavanone 7-O-beta-glucosyltransferase activity
GO:0047251	0.000036	10.225788	4.471639	thiohydroximate beta-D-glucosyltransferase activity
GO:0047893	0.000036	10.225788	4.471639	flavonol 3-O-glucosyltransferase activity
GO:0050004	0.000036	10.225788	4.471639	isoflavone 7-O-glucosyltransferase activity
GO:0050275	0.000036	10.225788	4.471639	scopoletin glucosyltransferase activity
GO:0050284	0.000036	10.225788	4.471639	sinapate 1-glucosyltransferase activity
GO:0050506	0.000036	10.225788	4.471639	vomilenine glucosyltransferase activity
GO:0052639	0.000036	10.225788	4.471639	salicylic acid glucosyltransferase (ester-forming) activity
GO:0080018	0.000036	10.225788	4.471639	anthocyanin 5-O-glucosyltransferase activity
GO:0090704	0.000036	10.225788	4.471639	nicotinate-O-glucosyltransferase activity
GO:0106141	0.000036	10.225788	4.471639	flavin prenyltransferase activity
GO:0034084	0.000036	10.225788	4.477337	steryl deacetylase activity
GO:0016648	0.000036	10.225788	4.510860	oxidoreductase activity, acting on the CH-NH group of donors, disulfide as acceptor
GO:0030268	0.000036	10.225788	4.510860	methylenetetrahydromethanopterin dehydrogenase activity
GO:0030945	0.000036	10.225788	4.510860	protein tyrosine phosphatase activity, via thiol-phosphate intermediate
GO:0015390	0.000036	10.225788	4.521789	purine-specific nucleoside:sodium symporter activity
GO:0043751	0.000036	10.225788	4.553877	polyphosphate:AMP phosphotransferase activity
GO:0102043	0.000036	10.225788	4.553877	isopentenyl phosphate kinase activity
GO:0015572	0.000036	10.225788	4.569543	N-acetylglucosamine transmembrane transporter activity
GO:0050560	0.000036	10.225788	4.574711	aspartate-tRNA(Asn) ligase activity
GO:0050561	0.000036	10.225788	4.574711	glutamate-tRNA(Gln) ligase activity
GO:1903877	0.000036	10.225788	4.620059	21-deoxycortisol binding
GO:1903879	0.000036	10.225788	4.620059	11beta-hydroxyprogesterone binding
GO:0030116	0.000036	10.225788	4.649187	glial cell-derived neurotrophic factor receptor binding
GO:0015100	0.000036	10.225788	4.658711	vanadium ion transmembrane transporter activity
GO:0019975	0.000036	10.225788	4.658711	interleukin-17 binding
GO:0042011	0.000036	10.225788	4.658711	interleukin-16 binding
GO:0042017	0.000036	10.225788	4.658711	interleukin-22 binding
GO:0070119	0.000036	10.225788	4.658711	ciliary neurotrophic factor binding
GO:0031473	0.000036	10.225788	4.668145	myosin III binding
GO:0086041	0.000036	10.225788	4.677491	voltage-gated potassium channel activity involved in SA node cell action potential depolarization
GO:0016867	0.000036	10.225788	4.691348	intramolecular transferase activity, transferring acyl groups
GO:0034023	0.000036	10.225788	4.691348	5-(carboxyamino)imidazole ribonucleotide mutase activity
GO:0047470	0.000036	10.225788	4.691348	(1,4)-alpha-D-glucan 1-alpha-D-glucosylmutase activity
GO:0047548	0.000036	10.225788	4.691348	2-methyleneglutarate mutase activity
GO:0090438	0.000036	10.225788	4.691348	camelliol C synthase activity
GO:0019786	0.000036	10.225788	4.695925	Atg8-specific protease activity
GO:0009540	0.000036	10.225788	4.700480	zeaxanthin epoxidase [overall] activity
GO:0016710	0.000036	10.225788	4.700480	trans-cinnamate 4-monooxygenase activity
GO:0016711	0.000036	10.225788	4.700480	flavonoid 3'-monooxygenase activity
GO:0018631	0.000036	10.225788	4.700480	phenylacetate hydroxylase activity
GO:0018633	0.000036	10.225788	4.700480	dimethyl sulfide monooxygenase activity
GO:0018648	0.000036	10.225788	4.700480	methanesulfonate monooxygenase activity
GO:0018663	0.000036	10.225788	4.700480	2,6-dihydroxypyridine 3-monooxygenase activity
GO:0018664	0.000036	10.225788	4.700480	benzoate 4-monooxygenase activity
GO:0018668	0.000036	10.225788	4.700480	3-hydroxybenzoate 4-monooxygenase activity
GO:0018671	0.000036	10.225788	4.700480	4-hydroxybenzoate 3-monooxygenase [NAD(P)H] activity
GO:0018678	0.000036	10.225788	4.700480	4-hydroxybenzoate 1-hydroxylase activity
GO:0033776	0.000036	10.225788	4.700480	phenylacetone monooxygenase activity
GO:0033784	0.000036	10.225788	4.700480	senecionine N-oxygenase activity
GO:0034785	0.000036	10.225788	4.700480	salicylate 5-hydroxylase activity
GO:0036201	0.000036	10.225788	4.700480	ent-isokaurene C2-hydroxylase activity
GO:0036203	0.000036	10.225788	4.700480	taxoid 14-beta-hydroxylase activity
GO:0036209	0.000036	10.225788	4.700480	9beta-pimara-7,15-diene oxidase activity
GO:0036239	0.000036	10.225788	4.700480	taxoid 7beta-hydroxylase activity
GO:0047084	0.000036	10.225788	4.700480	methyltetrahydroprotoberberine 14-monooxygenase activity
GO:0047087	0.000036	10.225788	4.700480	protopine 6-monooxygenase activity
GO:0047094	0.000036	10.225788	4.700480	3-hydroxyphenylacetate 6-hydroxylase activity
GO:0047749	0.000036	10.225788	4.700480	cholestanetriol 26-monooxygenase activity
GO:0050593	0.000036	10.225788	4.700480	N-methylcoclaurine 3'-monooxygenase activity
GO:0050595	0.000036	10.225788	4.700480	7-deoxyloganin 7-hydroxylase activity
GO:0052582	0.000036	10.225788	4.700480	(+)-menthofuran synthase activity
GO:0052615	0.000036	10.225788	4.700480	ent-kaurene oxidase activity
GO:0052662	0.000036	10.225788	4.700480	zeaxanthin epoxidase activity
GO:0052870	0.000036	10.225788	4.700480	tocopherol omega-hydroxylase activity
GO:0052872	0.000036	10.225788	4.700480	tocotrienol omega-hydroxylase activity
GO:0072532	0.000036	10.225788	4.700480	tri-(feruloyl or hydroxyferuloyl) spermidine meta-hydroxylase activity
GO:0097007	0.000036	10.225788	4.700480	4,8,12-trimethyltrideca-1,3,7,11-tetraene synthase activity
GO:0097008	0.000036	10.225788	4.700480	(3E)-4,8-dimethyl-1,3,7-nonatriene synthase activity
GO:0102068	0.000036	10.225788	4.700480	alpha-humulene 10-hydroxylase activity
GO:0102116	0.000036	10.225788	4.700480	laurate hydroxylase activity
GO:0102517	0.000036	10.225788	4.700480	oleate 12-hydroxylase activity
GO:0102626	0.000036	10.225788	4.700480	parthenolide synthase activity
GO:0102627	0.000036	10.225788	4.700480	parthenolide 3beta-hydroxylase activity
GO:0102628	0.000036	10.225788	4.700480	costunolide 3beta-hydroxylase activity
GO:0106144	0.000036	10.225788	4.700480	fraxetin 5-hydroxylase activity
GO:0106145	0.000036	10.225788	4.700480	scopoletin 8-hydroxylase activity
GO:0106149	0.000036	10.225788	4.700480	indole-3-carbonyl nitrile 4-hydroxylase activity
GO:0018846	0.000036	10.225788	4.709530	styrene-oxide isomerase activity
GO:0051008	0.000036	10.225788	4.714025	Hsp27 protein binding
GO:0033831	0.000036	10.225788	4.727388	kojibiose phosphorylase activity
GO:0042283	0.000036	10.225788	4.727388	dolichyl pyrophosphate Glc1Man9GlcNAc2 alpha-1,3-glucosyltransferase activity
GO:0008939	0.000036	10.225788	4.736198	nicotinate-nucleotide-dimethylbenzimidazole phosphoribosyltransferase activity
GO:0016154	0.000036	10.225788	4.736198	pyrimidine-nucleoside phosphorylase activity
GO:0099621	0.000036	10.225788	4.736198	undecaprenyl-phosphate 4-deoxy-4-formamido-L-arabinose transferase activity
GO:0099520	0.000036	10.225788	4.740575	ion antiporter activity involved in regulation of presynaptic membrane potential
GO:0004492	0.000036	10.225788	4.757891	methylmalonyl-CoA decarboxylase activity
GO:0004782	0.000036	10.225788	4.757891	sulfinoalanine decarboxylase activity
GO:0008683	0.000036	10.225788	4.757891	2-oxoglutarate decarboxylase activity
GO:0008694	0.000036	10.225788	4.757891	3-octaprenyl-4-hydroxybenzoate carboxy-lyase activity
GO:0009028	0.000036	10.225788	4.757891	tartronate-semialdehyde synthase activity
GO:0010298	0.000036	10.225788	4.757891	dihydrocamalexic acid decarboxylase activity
GO:0018803	0.000036	10.225788	4.757891	4-(2-carboxyphenyl)-2-oxobut-3-enoate aldolase activity
GO:0046564	0.000036	10.225788	4.757891	oxalate decarboxylase activity
GO:0047431	0.000036	10.225788	4.757891	3-hydroxy-2-methylpyridine-4,5-dicarboxylate 4-decarboxylase activity
GO:0047434	0.000036	10.225788	4.757891	indolepyruvate decarboxylase activity
GO:0050177	0.000036	10.225788	4.757891	phenylpyruvate decarboxylase activity
GO:1990055	0.000036	10.225788	4.757891	phenylacetaldehyde synthase activity
GO:0008779	0.000036	10.225788	4.770685	acyl-[acyl-carrier-protein]-phospholipid O-acyltransferase activity
GO:0032576	0.000036	10.225788	4.770685	O-linoleoyltransferase activity
GO:0047159	0.000036	10.225788	4.770685	1-alkenylglycerophosphocholine O-acyltransferase activity
GO:0047191	0.000036	10.225788	4.770685	1-alkylglycerophosphocholine O-acyltransferase activity
GO:0080095	0.000036	10.225788	4.770685	phosphatidylethanolamine-sterol O-acyltransferase activity
GO:0080096	0.000036	10.225788	4.770685	phosphatidate-sterol O-acyltransferase activity
GO:0106263	0.000036	10.225788	4.770685	1-acylglycerophosphoserine O-acyltransferase activity
GO:0017045	0.000036	10.225788	4.783316	corticotropin-releasing hormone activity
GO:0018478	0.000036	10.225788	4.804021	malonate-semialdehyde dehydrogenase (acetylating) activity
GO:0034832	0.000036	10.225788	4.804021	geranial dehydrogenase activity
GO:0047101	0.000036	10.225788	4.804021	2-oxoisovalerate dehydrogenase (acylating) activity
GO:0047102	0.000036	10.225788	4.804021	aminomuconate-semialdehyde dehydrogenase activity
GO:0047949	0.000036	10.225788	4.804021	glutarate-semialdehyde dehydrogenase (NAD+) activity
GO:0050607	0.000036	10.225788	4.804021	mycothiol-dependent formaldehyde dehydrogenase activity
GO:0102810	0.000036	10.225788	4.804021	glutarate-semialdehyde dehydrogenase (NADP+) activity
GO:0019806	0.000036	10.225788	4.812184	bromide peroxidase activity
GO:0036455	0.000036	10.225788	4.852030	iron-sulfur transferase activity
GO:0045157	0.000036	10.225788	4.863681	electron transporter, transferring electrons within the noncyclic electron transport pathway of photosynthesis activity
GO:0036458	0.000036	10.225788	4.886583	hepatocyte growth factor binding
GO:0046941	0.000036	10.225788	4.980176	azetidine-2-carboxylic acid acetyltransferase activity
GO:0047198	0.000036	10.225788	4.980176	cysteine-S-conjugate N-acetyltransferase activity
GO:0047812	0.000036	10.225788	4.980176	D-amino-acid N-acetyltransferase activity
GO:0047981	0.000036	10.225788	4.980176	histidine N-acetyltransferase activity
GO:0106162	0.000036	10.225788	4.980176	mRNA N-acetyltransferase activity
GO:0034028	0.000036	10.225788	5.000585	5-(carboxyamino)imidazole ribonucleotide synthase activity
GO:0061483	0.000036	10.225788	5.000585	sulfinylpropanyl adenylate synthase
GO:0072591	0.000036	10.225788	5.000585	citrate-L-glutamate ligase activity
GO:0009918	0.000036	10.225788	5.017280	sterol delta7 reductase activity
GO:0080004	0.000036	10.225788	5.017280	thalian-diol desaturase activity
GO:0008938	0.000036	10.225788	5.030438	nicotinate N-methyltransferase activity
GO:0052667	0.000036	10.225788	5.030438	phosphomethylethanolamine N-methyltransferase activity
GO:0099582	0.000036	10.225788	5.036953	neurotransmitter receptor activity involved in regulation of presynaptic cytosolic calcium ion concentration
GO:1990634	0.000036	10.225788	5.043425	protein phosphatase 5 binding
GO:0061994	0.000036	10.225788	5.078294	ATP-dependent protein-nucleic acid complex displacement activity
GO:0036081	0.000036	10.225788	5.087596	extracellular ammonia-gated ion channel activity
GO:0062050	0.000036	10.225788	5.087596	GPI-mannose ethanolamine phosphate phosphodiesterase activity
GO:0102560	0.000036	10.225788	5.087596	5-phospho-alpha-D-ribose 1,2-cyclic phosphate 1-phosphohydrolase activity
GO:0102561	0.000036	10.225788	5.087596	D-ribose 2,5-bisphosphate 2-phosphohydrolase activity
GO:0103043	0.000036	10.225788	5.087596	5-phospho-alpha-D-ribosyl 1,2-cyclic phosphate phosphodiesterase activity
GO:0098624	0.000036	10.225788	5.090678	3'-Phosphoadenylylselenate reductase activity
GO:0045183	0.000036	10.225788	5.093750	translation factor activity, non-nucleic acid binding
GO:0016622	0.000036	10.225788	5.108971	oxidoreductase activity, acting on the aldehyde or oxo group of donors, cytochrome as acceptor
GO:0033737	0.000036	10.225788	5.108971	1-pyrroline dehydrogenase activity
GO:0043795	0.000036	10.225788	5.108971	glyceraldehyde oxidoreductase activity
GO:0047113	0.000036	10.225788	5.108971	aldehyde dehydrogenase (quinone) activity
GO:0047770	0.000036	10.225788	5.108971	carboxylate reductase activity
GO:0051268	0.000036	10.225788	5.108971	alpha-keto amide reductase activity
GO:0051269	0.000036	10.225788	5.108971	alpha-keto ester reductase activity
GO:0062131	0.000036	10.225788	5.108971	3-butenylglucosinolate 2-hydroxylase activity
GO:0097641	0.000036	10.225788	5.108971	alpha-ketoglutarate-dependent xanthine dioxygenase activity
GO:0001604	0.000036	10.225788	5.114995	urotensin II receptor activity
GO:0044508	0.000036	10.225788	5.114995	glucagon-like peptide 1 receptor activity
GO:2001080	0.000036	10.225788	5.144583	chitosan binding
GO:0019914	0.000036	10.225788	5.206750	cyclin-dependent protein kinase activating kinase regulator activity
GO:0019186	0.000036	10.225788	5.209486	acyl-CoA N-acyltransferase activity
GO:0047946	0.000036	10.225788	5.209486	glutamine N-acyltransferase activity
GO:0061920	0.000036	10.225788	5.209486	protein propionyltransferase activity
GO:0080074	0.000036	10.225788	5.209486	spermidine:caffeoyl CoA N-acyltransferase activity
GO:0080075	0.000036	10.225788	5.209486	spermidine:feruloyl CoA N-acyltransferase activity
GO:0080089	0.000036	10.225788	5.209486	sinapoyl spermidine:sinapoyl CoA N-acyltransferase activity
GO:0106075	0.000036	10.225788	5.209486	peptide N-succinyltransferase activity
GO:0106228	0.000036	10.225788	5.209486	peptide glutaryltransferase activity
GO:0140359	0.000036	10.225788	5.220356	ABC-type transmembrane transporter activity
GO:0008864	0.000036	10.225788	5.236442	formyltetrahydrofolate deformylase activity
GO:0008884	0.000036	10.225788	5.236442	glutathionylspermidine amidase activity
GO:0009014	0.000036	10.225788	5.236442	succinyl-diaminopimelate desuccinylase activity
GO:0009017	0.000036	10.225788	5.236442	succinylglutamate desuccinylase activity
GO:0018750	0.000036	10.225788	5.236442	biuret amidohydrolase activity
GO:0019159	0.000036	10.225788	5.236442	nicotinamide-nucleotide amidase activity
GO:0019807	0.000036	10.225788	5.236442	aspartoacylase activity
GO:0019875	0.000036	10.225788	5.236442	6-aminohexanoate-dimer hydrolase activity
GO:0033966	0.000036	10.225788	5.236442	N-substituted formamide deformylase activity
GO:0033969	0.000036	10.225788	5.236442	gamma-glutamyl-gamma-aminobutyrate hydrolase activity
GO:0036311	0.000036	10.225788	5.236442	chitin disaccharide deacetylase activity
GO:0043864	0.000036	10.225788	5.236442	indoleacetamide hydrolase activity
GO:0047411	0.000036	10.225788	5.236442	2-(acetamidomethylene)succinate hydrolase activity
GO:0047412	0.000036	10.225788	5.236442	N-(long-chain-acyl)ethanolamine deacylase activity
GO:0047417	0.000036	10.225788	5.236442	N-carbamoyl-D-amino acid hydrolase activity
GO:0047680	0.000036	10.225788	5.236442	aryl-acylamidase activity
GO:0050001	0.000036	10.225788	5.236442	D-glutaminase activity
GO:0050537	0.000036	10.225788	5.236442	mandelamide amidase activity
GO:0103073	0.000036	10.225788	5.236442	anandamide amidohydrolase activity
GO:0106008	0.000036	10.225788	5.236442	2-oxoglutaramate amidase activity
GO:0032546	0.000036	10.225788	5.295814	deoxyribonucleoside binding
GO:0010307	0.000036	10.225788	5.303305	acetylglutamate kinase regulator activity
GO:0009034	0.000036	10.225788	5.332719	tryptophanase activity
GO:0036355	0.000036	10.225788	5.332719	2-iminoacetate synthase activity
GO:0050371	0.000036	10.225788	5.332719	tyrosine phenol-lyase activity
GO:0043894	0.000036	10.225788	5.339939	acetyl-CoA synthetase acetyltransferase activity
GO:0106261	0.000036	10.225788	5.339939	tRNA uridine(34) acetyltransferase activity
GO:0018690	0.000036	10.225788	5.361292	4-methoxybenzoate monooxygenase (O-demethylating) activity
GO:0050292	0.000036	10.225788	5.361292	steroid 9-alpha-monooxygenase activity
GO:0072374	0.000036	10.225788	5.361292	carotene epsilon hydroxylase activity
GO:0002112	0.000036	10.225788	5.382199	interleukin-33 receptor binding
GO:0005144	0.000036	10.225788	5.382199	interleukin-13 receptor binding
GO:0016170	0.000036	10.225788	5.382199	interleukin-15 receptor binding
GO:0030380	0.000036	10.225788	5.382199	interleukin-17E receptor binding
GO:0032003	0.000036	10.225788	5.382199	interleukin-28 receptor binding
GO:0045515	0.000036	10.225788	5.382199	interleukin-18 receptor binding
GO:0045518	0.000036	10.225788	5.382199	interleukin-22 receptor binding
GO:0008996	0.000036	10.225788	5.407172	ribonuclease G activity
GO:0008997	0.000036	10.225788	5.407172	ribonuclease R activity
GO:0015115	0.000036	10.225788	5.418320	silicate transmembrane transporter activity
GO:0003859	0.000036	10.225788	5.438079	3-hydroxybutyryl-CoA dehydratase activity
GO:0004409	0.000036	10.225788	5.438079	homoaconitate hydratase activity
GO:0004456	0.000036	10.225788	5.438079	phosphogluconate dehydratase activity
GO:0008684	0.000036	10.225788	5.438079	2-oxopent-4-enoate hydratase activity
GO:0008735	0.000036	10.225788	5.438079	carnitine dehydratase activity
GO:0008872	0.000036	10.225788	5.438079	glucarate dehydratase activity
GO:0009978	0.000036	10.225788	5.438079	allene oxide synthase activity
GO:0018818	0.000036	10.225788	5.438079	acetylene hydratase activity
GO:0030411	0.000036	10.225788	5.438079	scytalone dehydratase activity
GO:0043956	0.000036	10.225788	5.438079	3-hydroxypropionyl-CoA dehydratase activity
GO:0046565	0.000036	10.225788	5.438079	3-dehydroshikimate dehydratase activity
GO:0047449	0.000036	10.225788	5.438079	2-dehydro-3-deoxy-L-arabinonate dehydratase activity
GO:0047584	0.000036	10.225788	5.438079	4-oxalmesaconate hydratase activity
GO:0047675	0.000036	10.225788	5.438079	arabinonate dehydratase activity
GO:0047818	0.000036	10.225788	5.438079	D-fuconate dehydratase activity
GO:0050015	0.000036	10.225788	5.438079	kievitone hydratase activity
GO:0050020	0.000036	10.225788	5.438079	L-arabinonate dehydratase activity
GO:0050032	0.000036	10.225788	5.438079	L-rhamnonate dehydratase activity
GO:0050549	0.000036	10.225788	5.438079	cyclohexyl-isocyanide hydratase activity
GO:0052684	0.000036	10.225788	5.438079	L-serine hydro-lyase (adding indole, L-tryptophan-forming) activity
GO:0052855	0.000036	10.225788	5.438079	ADP-dependent NAD(P)H-hydrate dehydratase activity
GO:0070497	0.000036	10.225788	5.438079	6-carboxy-5,6,7,8-tetrahydropterin synthase activity
GO:0120092	0.000036	10.225788	5.438079	crotonyl-CoA hydratase activity
GO:1990422	0.000036	10.225788	5.438079	glyoxalase (glycolic acid-forming) activity
GO:1990594	0.000036	10.225788	5.438079	L-altrarate dehydratase activity
GO:0036173	0.000036	10.225788	5.442418	thiosulfate binding
GO:0035730	0.000036	10.225788	5.501258	S-nitrosoglutathione binding
GO:0031784	0.000036	10.225788	5.521461	melatonin receptor binding
GO:0031811	0.000036	10.225788	5.521461	G protein-coupled nucleotide receptor binding
GO:0031855	0.000036	10.225788	5.521461	oxytocin receptor binding
GO:0031883	0.000036	10.225788	5.521461	taste receptor binding
GO:0050115	0.000036	10.225788	5.533389	myosin-light-chain-phosphatase activity
GO:0050408	0.000036	10.225788	5.533389	[pyruvate kinase]-phosphatase activity
GO:0098627	0.000036	10.225788	5.533389	protein arginine phosphatase activity
GO:0140463	0.000036	10.225788	5.560682	chromatin adaptor
GO:1990644	0.000036	10.225788	5.560682	microtubule site clamp
GO:0030410	0.000036	10.225788	5.575949	nicotianamine synthase activity
GO:0033848	0.000036	10.225788	5.575949	N2-(2-carboxyethyl)arginine synthase activity
GO:0033849	0.000036	10.225788	5.575949	chrysanthemyl diphosphate synthase activity
GO:0052922	0.000036	10.225788	5.575949	hexaprenyl diphosphate synthase (geranylgeranyl-diphosphate specific) activity
GO:0090560	0.000036	10.225788	5.575949	2-(3-amino-3-carboxypropyl)histidine synthase activity
GO:0047230	0.000036	10.225788	5.598422	flavonol-3-O-glucoside L-rhamnosyltransferase activity
GO:0047257	0.000036	10.225788	5.598422	diglucosyl diacylglycerol synthase activity
GO:0018733	0.000036	10.225788	5.603962	3,4-dihydrocoumarin hydrolase activity
GO:0035460	0.000036	10.225788	5.603962	L-ascorbate 6-phosphate lactonase activity
GO:0035560	0.000036	10.225788	5.603962	pheophoridase activity
GO:0047554	0.000036	10.225788	5.603962	2-pyrone-4,6-dicarboxylate lactonase activity
GO:0047585	0.000036	10.225788	5.603962	4-pyridoxolactonase activity
GO:0047658	0.000036	10.225788	5.603962	alpha-amino-acid esterase activity
GO:0050021	0.000036	10.225788	5.603962	L-arabinonolactonase activity
GO:0050285	0.000036	10.225788	5.603962	sinapine esterase activity
GO:0050526	0.000036	10.225788	5.603962	poly(3-hydroxybutyrate) depolymerase activity
GO:0052884	0.000036	10.225788	5.603962	all-trans-retinyl-palmitate hydrolase, 11-cis retinol forming activity
GO:0061685	0.000036	10.225788	5.603962	diphthine methylesterase activity
GO:0080124	0.000036	10.225788	5.603962	pheophytinase activity
GO:0090499	0.000036	10.225788	5.603962	pimelyl-[acyl-carrier protein] methyl ester esterase activity
GO:0102258	0.000036	10.225788	5.603962	1,3-diacylglycerol acylhydrolase activity
GO:0102259	0.000036	10.225788	5.603962	1,2-diacylglycerol acylhydrolase activity
GO:0102545	0.000036	10.225788	5.603962	phosphatidyl phospholipase B activity
GO:0010291	0.000036	10.225788	5.657739	carotene beta-ring hydroxylase activity
GO:0031172	0.000036	10.225788	5.657739	ornithine N5-monooxygenase activity
GO:0062179	0.000036	10.225788	5.657739	vitamin D 23-hydroxylase activity
GO:0062183	0.000036	10.225788	5.657739	all-trans retinoic acid 18-hydroxylase activity
GO:0062184	0.000036	10.225788	5.657739	testosterone 16-beta-hydroxylase activity
GO:0062185	0.000036	10.225788	5.657739	secalciferol 1-monooxygenase activity
GO:0080014	0.000036	10.225788	5.657739	thalianol hydroxylase activity
GO:0106244	0.000036	10.225788	5.657739	eupatolide synthase activity
GO:0030748	0.000036	10.225788	5.710427	amine N-methyltransferase activity
GO:0030749	0.000036	10.225788	5.710427	loganate O-methyltransferase activity
GO:0030751	0.000036	10.225788	5.710427	licodione 2'-O-methyltransferase activity
GO:0030760	0.000036	10.225788	5.710427	pyridine N-methyltransferase activity
GO:0030761	0.000036	10.225788	5.710427	8-hydroxyquercitin 8-O-methyltransferase activity
GO:0030766	0.000036	10.225788	5.710427	11-O-demethyl-17-O-deacetylvindoline O-methyltransferase activity
GO:0030769	0.000036	10.225788	5.710427	macrocin O-methyltransferase activity
GO:0030770	0.000036	10.225788	5.710427	demethylmacrocin O-methyltransferase activity
GO:0030794	0.000036	10.225788	5.710427	(S)-coclaurine-N-methyltransferase activity
GO:0030795	0.000036	10.225788	5.710427	jasmonate O-methyltransferase activity
GO:0030798	0.000036	10.225788	5.710427	trans-aconitate 2-methyltransferase activity
GO:0046547	0.000036	10.225788	5.710427	trans-aconitate 3-methyltransferase activity
GO:0052706	0.000036	10.225788	5.710427	histidine N-methyltransferase activity
GO:1990482	0.000036	10.225788	5.713733	sphingolipid alpha-glucuronosyltransferase activity
GO:0034068	0.000036	10.225788	5.725218	aminoglycoside nucleotidyltransferase activity
GO:0050519	0.000036	10.225788	5.725218	holo-citrate lyase synthase activity
GO:0061710	0.000036	10.225788	5.725218	L-threonylcarbamoyladenylate synthase
GO:0050334	0.000036	10.225788	5.803628	thiaminase activity
GO:1990206	0.000036	10.225788	5.803628	jasmonyl-Ile conjugate hydrolase activity
GO:0043904	0.000036	10.225788	5.809643	isochorismate pyruvate lyase activity
GO:0070205	0.000036	10.225788	5.809643	2-succinyl-6-hydroxy-2,4-cyclohexadiene-1-carboxylate synthase activity
GO:0008681	0.000036	10.225788	5.916202	2-octaprenyl-6-methoxyphenol hydroxylase activity
GO:0018585	0.000036	10.225788	5.916202	fluorene oxygenase activity
GO:0044876	0.000036	10.225788	5.916202	hercynylselenocysteine synthase
GO:0052637	0.000036	10.225788	5.916202	delta 3-trans-hexadecenoic acid phosphatidylglycerol desaturase activity
GO:0061686	0.000036	10.225788	5.916202	hercynylcysteine sulfoxide synthase
GO:0061896	0.000036	10.225788	5.916202	all-trans retinol 3,4-desaturase activity
GO:0061897	0.000036	10.225788	5.916202	all-trans retinal 3,4-desaturase activity
GO:0061898	0.000036	10.225788	5.916202	all-trans retinoic acid 3,4-desaturase activity
GO:0061899	0.000036	10.225788	5.916202	11-cis-retinal 3,4-desaturase activity
GO:0062146	0.000036	10.225788	5.916202	4-chloro-allylglycine synthase activity
GO:0062150	0.000036	10.225788	5.916202	amorpha-4,11-diene 12-monooxygenase activity
GO:0106240	0.000036	10.225788	5.916202	labd-13Z-ene-9,15,16-triol synthase activity
GO:0120204	0.000036	10.225788	5.916202	methylcytosine to 5-glyceryl-methylcytosine dioxygenase activity
GO:0010303	0.000036	10.225788	5.948035	limit dextrinase activity
GO:0017041	0.000036	10.225788	5.948035	galactosylgalactosylglucosylceramidase activity
GO:0017042	0.000036	10.225788	5.948035	glycosylceramidase activity
GO:0031216	0.000036	10.225788	5.948035	neopullulanase activity
GO:0033918	0.000036	10.225788	5.948035	kappa-carrageenase activity
GO:0033942	0.000036	10.225788	5.948035	4-alpha-D-(1->4)-alpha-D-glucanotrehalose trehalohydrolase activity
GO:0033945	0.000036	10.225788	5.948035	oligoxyloglucan reducing-end-specific cellobiohydrolase activity
GO:0033951	0.000036	10.225788	5.948035	oligosaccharide reducing-end xylanase activity
GO:0042972	0.000036	10.225788	5.948035	licheninase activity
GO:0047876	0.000036	10.225788	5.948035	endoglycosylceramidase activity
GO:0052748	0.000036	10.225788	5.948035	baicalin beta-D-glucuronidase activity
GO:0061634	0.000036	10.225788	5.948035	alpha-D-xyloside xylohydrolase
GO:0004552	0.000036	10.225788	5.950643	octanol dehydrogenase activity
GO:0008762	0.000036	10.225788	5.950643	UDP-N-acetylmuramate dehydrogenase activity
GO:0008866	0.000036	10.225788	5.950643	fructuronate reductase activity
GO:0008868	0.000036	10.225788	5.950643	galactitol-1-phosphate 5-dehydrogenase activity
GO:0008912	0.000036	10.225788	5.950643	lactaldehyde reductase activity
GO:0009010	0.000036	10.225788	5.950643	sorbitol-6-phosphate 2-dehydrogenase activity
GO:0009026	0.000036	10.225788	5.950643	tagaturonate reductase activity
GO:0009027	0.000036	10.225788	5.950643	tartrate dehydrogenase activity
GO:0009040	0.000036	10.225788	5.950643	ureidoglycolate dehydrogenase activity
GO:0018457	0.000036	10.225788	5.950643	perillyl-alcohol dehydrogenase activity
GO:0018458	0.000036	10.225788	5.950643	isopiperitenol dehydrogenase activity
GO:0018459	0.000036	10.225788	5.950643	carveol dehydrogenase activity
GO:0018461	0.000036	10.225788	5.950643	fluoren-9-ol dehydrogenase activity
GO:0019147	0.000036	10.225788	5.950643	(R)-aminopropanol dehydrogenase activity
GO:0019151	0.000036	10.225788	5.950643	galactose 1-dehydrogenase activity
GO:0032115	0.000036	10.225788	5.950643	sorbose reductase activity
GO:0032442	0.000036	10.225788	5.950643	phenylcoumaran benzylic ether reductase activity
GO:0033708	0.000036	10.225788	5.950643	isocitrate-homoisocitrate dehydrogenase activity
GO:0033709	0.000036	10.225788	5.950643	D-arabinitol dehydrogenase, D-ribulose forming (NADP+) activity
GO:0033711	0.000036	10.225788	5.950643	4-phosphoerythronate dehydrogenase activity
GO:0033845	0.000036	10.225788	5.950643	hydroxymethylfurfural reductase (NADPH) activity
GO:0035527	0.000036	10.225788	5.950643	3-hydroxypropionate dehydrogenase (NADP+) activity
GO:0036130	0.000036	10.225788	5.950643	prostaglandin H2 endoperoxidase reductase activity
GO:0036131	0.000036	10.225788	5.950643	prostaglandin D2 11-ketoreductase activity
GO:0036185	0.000036	10.225788	5.950643	13-lipoxin reductase activity
GO:0042356	0.000036	10.225788	5.950643	GDP-4-dehydro-D-rhamnose reductase activity
GO:0043718	0.000036	10.225788	5.950643	2-hydroxymethylglutarate dehydrogenase activity
GO:0043892	0.000036	10.225788	5.950643	methylglyoxal reductase (NADPH-dependent) activity
GO:0045552	0.000036	10.225788	5.950643	dihydrokaempferol 4-reductase activity
GO:0047002	0.000036	10.225788	5.950643	L-arabinitol 2-dehydrogenase activity
GO:0047004	0.000036	10.225788	5.950643	UDP-N-acetylglucosamine 6-dehydrogenase activity
GO:0047018	0.000036	10.225788	5.950643	indole-3-acetaldehyde reductase (NADH) activity
GO:0047019	0.000036	10.225788	5.950643	indole-3-acetaldehyde reductase (NADPH) activity
GO:0047020	0.000036	10.225788	5.950643	15-hydroxyprostaglandin-D dehydrogenase (NADP+) activity
GO:0047021	0.000036	10.225788	5.950643	15-hydroxyprostaglandin dehydrogenase (NADP+) activity
GO:0047037	0.000036	10.225788	5.950643	salutaridine reductase (NADPH) activity
GO:0047038	0.000036	10.225788	5.950643	D-arabinitol 2-dehydrogenase activity
GO:0047039	0.000036	10.225788	5.950643	tetrahydroxynaphthalene reductase activity
GO:0047501	0.000036	10.225788	5.950643	(+)-neomenthol dehydrogenase activity
GO:0047504	0.000036	10.225788	5.950643	(-)-menthol dehydrogenase activity
GO:0047512	0.000036	10.225788	5.950643	(S,S)-butanediol dehydrogenase activity
GO:0047516	0.000036	10.225788	5.950643	1,3-propanediol dehydrogenase activity
GO:0047565	0.000036	10.225788	5.950643	3-hydroxypropionate dehydrogenase (NAD+) activity
GO:0047577	0.000036	10.225788	5.950643	4-hydroxybutyrate dehydrogenase activity
GO:0047718	0.000036	10.225788	5.950643	indanol dehydrogenase activity
GO:0047880	0.000036	10.225788	5.950643	erythrulose reductase activity
GO:0047919	0.000036	10.225788	5.950643	GDP-mannose 6-dehydrogenase activity
GO:0047964	0.000036	10.225788	5.950643	glyoxylate reductase activity
GO:0050022	0.000036	10.225788	5.950643	L-arabinose 1-dehydrogenase (NAD+) activity
GO:0050093	0.000036	10.225788	5.950643	methanol dehydrogenase activity
GO:0050235	0.000036	10.225788	5.950643	pyridoxal 4-dehydrogenase activity
GO:0050358	0.000036	10.225788	5.950643	tropinone reductase activity
GO:0050388	0.000036	10.225788	5.950643	uronate dehydrogenase activity
GO:0050570	0.000036	10.225788	5.950643	4-hydroxythreonine-4-phosphate dehydrogenase activity
GO:0050572	0.000036	10.225788	5.950643	L-idonate 5-dehydrogenase activity
GO:0050573	0.000036	10.225788	5.950643	dTDP-4-dehydro-6-deoxyglucose reductase activity
GO:0050580	0.000036	10.225788	5.950643	2,5-didehydrogluconate reductase activity
GO:0050606	0.000036	10.225788	5.950643	4-carboxy-2-hydroxymuconate semialdehyde hemiacetal dehydrogenase activity
GO:0052677	0.000036	10.225788	5.950643	D-arabinitol dehydrogenase, D-xylulose forming (NADP+) activity
GO:0052734	0.000036	10.225788	5.950643	shikimate 3-dehydrogenase (NAD+) activity
GO:0061596	0.000036	10.225788	5.950643	3-sulfolactaldehyde reductase activity
GO:0089714	0.000036	10.225788	5.950643	UDP-N-acetyl-D-mannosamine dehydrogenase activity
GO:0099618	0.000036	10.225788	5.950643	UDP-glucuronic acid dehydrogenase activity
GO:0102311	0.000036	10.225788	5.950643	8-hydroxygeraniol dehydrogenase activity
GO:0103002	0.000036	10.225788	5.950643	16-hydroxypalmitate dehydrogenase activity
GO:0043250	0.000036	10.225788	5.953243	sodium-dependent organic anion transmembrane transporter activity
GO:0036479	0.000036	10.225788	5.980151	peroxidase inhibitor activity
GO:0090369	0.000036	10.225788	5.980151	ornithine carbamoyltransferase inhibitor activity
GO:0051995	0.000036	10.225788	6.002652	Se-methyltransferase activity
GO:0098615	0.000036	10.225788	6.002652	dimethyl selenide methyltransferase activity
GO:0102913	0.000036	10.225788	6.002652	3-aminomethylindole N-methyltransferase activity
GO:0002952	0.000036	10.225788	6.005121	(4S)-4-hydroxy-5-phosphonooxypentane-2,3-dione isomerase activity
GO:0008719	0.000036	10.225788	6.005121	dihydroneopterin triphosphate 2'-epimerase activity
GO:0061593	0.000036	10.225788	6.005121	sulfoquinovose isomerase activity
GO:0062213	0.000036	10.225788	6.005121	peroxynitrite isomerase activity
GO:0008754	0.000036	10.225788	6.014937	O antigen ligase activity
GO:0033719	0.000036	10.225788	6.078788	2-oxo-acid reductase activity
GO:0047809	0.000036	10.225788	6.078788	D-2-hydroxy-acid dehydrogenase activity
GO:0047904	0.000036	10.225788	6.078788	fructose 5-dehydrogenase activity
GO:0047988	0.000036	10.225788	6.078788	hydroxyacid-oxoacid transhydrogenase activity
GO:0097256	0.000036	10.225788	6.078788	phenyllactate dehydrogenase activity
GO:0097257	0.000036	10.225788	6.078788	leukotriene B4 12-hydroxy dehydrogenase activity
GO:0099615	0.000036	10.225788	6.078788	(D)-2-hydroxyglutarate-pyruvate transhydrogenase activity
GO:0030290	0.000036	10.225788	6.081077	sphingolipid activator protein activity
GO:0036470	0.000036	10.225788	6.081077	tyrosine 3-monooxygenase activator activity
GO:0036478	0.000036	10.225788	6.081077	L-dopa decarboxylase activator activity
GO:0046863	0.000036	10.225788	6.081077	ribulose-1,5-bisphosphate carboxylase/oxygenase activator activity
GO:0061632	0.000036	10.225788	6.081077	RNA lariat debranching enzyme activator activity
GO:1990749	0.000036	10.225788	6.081077	polynucleotide adenylyltransferase activator activity
GO:0047260	0.000036	10.225788	6.149536	alpha,alpha-trehalose-phosphate synthase (GDP-forming) activity
GO:0047600	0.000036	10.225788	6.149536	abequosyltransferase activity
GO:0047849	0.000036	10.225788	6.149536	dextransucrase activity
GO:0051566	0.000036	10.225788	6.149536	anthocyanidin-3-glucoside rhamnosyltransferase activity
GO:1990929	0.000036	10.225788	6.149536	sulfoquinovosidase activity
GO:0036402	0.000036	10.225788	6.212606	proteasome-activating ATPase activity
GO:0140083	0.000036	10.225788	6.212606	protein-DNA unloading ATPase activity
GO:1990833	0.000036	10.225788	6.212606	clathrin-uncoating ATPase activity
GO:0008913	0.000036	10.225788	6.222576	lauroyltransferase activity
GO:0008951	0.000036	10.225788	6.222576	palmitoleoyl [acyl-carrier-protein]-dependent acyltransferase activity
GO:0033809	0.000036	10.225788	6.222576	anthocyanin 6''-O-malonyltransferase activity
GO:0033810	0.000036	10.225788	6.222576	anthocyanin 5-O-glucoside 6'''-O-malonyltransferase activity
GO:0033817	0.000036	10.225788	6.222576	beta-ketoacyl-acyl-carrier-protein synthase II activity
GO:0034326	0.000036	10.225788	6.222576	butanoyltransferase activity
GO:0035447	0.000036	10.225788	6.222576	mycothiol synthase activity
GO:0043772	0.000036	10.225788	6.222576	acyl-phosphate glycerol-3-phosphate acyltransferase activity
GO:0043875	0.000036	10.225788	6.222576	2-ketobutyrate formate-lyase activity
GO:0046919	0.000036	10.225788	6.222576	pyruvyltransferase activity
GO:0047178	0.000036	10.225788	6.222576	glycerophospholipid acyltransferase (CoA-dependent) activity
GO:0047203	0.000036	10.225788	6.222576	13-hydroxylupinine O-tigloyltransferase activity
GO:0050182	0.000036	10.225788	6.222576	phosphate butyryltransferase activity
GO:0050636	0.000036	10.225788	6.222576	vinorine synthase activity
GO:0050637	0.000036	10.225788	6.222576	lovastatin nonaketide synthase activity
GO:0103118	0.000036	10.225788	6.222576	UDP-3-O-(R-3-hydroxymyristoyl)-glucosamine N-acyltransferase activity
GO:0106158	0.000036	10.225788	6.222576	glycero-3-phosphocholine acyltransferase activity
GO:0016519	0.000036	10.225788	6.224558	gastric inhibitory peptide receptor activity
GO:0070553	0.000036	10.225788	6.224558	nicotinic acid receptor activity
GO:0106063	0.000036	10.225788	6.224558	G protein-coupled folate receptor activity
GO:1990595	0.000036	10.225788	6.224558	mast cell secretagogue receptor activity
GO:0008707	0.000036	10.225788	6.258625	4-phytase activity
GO:0019143	0.000036	10.225788	6.258625	3-deoxy-manno-octulosonate-8-phosphatase activity
GO:0043755	0.000036	10.225788	6.258625	alpha-ribazole phosphatase activity
GO:0043874	0.000036	10.225788	6.258625	acireductone synthase activity
GO:0047538	0.000036	10.225788	6.258625	2-carboxy-D-arabinitol-1-phosphatase activity
GO:0047846	0.000036	10.225788	6.258625	deoxynucleotide 3'-phosphatase activity
GO:0047873	0.000036	10.225788	6.258625	dolichyl-phosphatase activity
GO:0047954	0.000036	10.225788	6.258625	glycerol-2-phosphatase activity
GO:0050189	0.000036	10.225788	6.258625	phosphoenolpyruvate phosphatase activity
GO:0052731	0.000036	10.225788	6.258625	phosphocholine phosphatase activity
GO:0052732	0.000036	10.225788	6.258625	phosphoethanolamine phosphatase activity
GO:0090711	0.000036	10.225788	6.258625	FMN hydrolase activity
GO:0102531	0.000036	10.225788	6.258625	ecdysteroid-phosphate phosphatase activity
GO:0110130	0.000036	10.225788	6.258625	ribitol-5-phosphatase activity
GO:1990738	0.000036	10.225788	6.258625	pseudouridine 5'-phosphatase activity
GO:1901640	0.000036	10.225788	6.327044	XTP binding
GO:1901641	0.000036	10.225788	6.327044	ITP binding
GO:0032399	0.000036	10.225788	6.451260	HECT domain binding
GO:0035501	0.000036	10.225788	6.451260	MH1 domain binding
GO:0044198	0.000036	10.225788	6.451260	zf-TRAF domain binding
GO:0050683	0.000036	10.225788	6.451260	AF-1 domain binding
GO:0070975	0.000036	10.225788	6.451260	FHA domain binding
GO:0071906	0.000036	10.225788	6.451260	CRD domain binding
GO:0090488	0.000036	10.225788	6.451260	polo box domain specific binding
GO:0097161	0.000036	10.225788	6.451260	DH domain binding
GO:0097162	0.000036	10.225788	6.451260	MADS box domain binding
GO:0097726	0.000036	10.225788	6.451260	LEM domain binding
GO:0101016	0.000036	10.225788	6.451260	FMN-binding domain binding
GO:1990808	0.000036	10.225788	6.451260	F-bar domain binding
GO:0016795	0.000036	10.225788	6.535967	phosphoric triester hydrolase activity
GO:0018835	0.000036	10.225788	6.569481	carbon phosphorus lyase activity
GO:0008316	0.000036	10.225788	6.574378	structural constituent of vitelline membrane
GO:0070002	0.000036	10.225788	6.579251	glutamic-type peptidase activity
GO:0008715	0.000036	10.225788	6.809039	CDP-diacylglycerol diphosphatase activity
GO:0043135	0.000036	10.225788	6.809039	5-phosphoribosyl 1-pyrophosphate pyrophosphatase activity
GO:0047734	0.000036	10.225788	6.809039	CDP-glycerol diphosphatase activity
GO:0052840	0.000036	10.225788	6.809039	inositol diphosphate tetrakisphosphate diphosphatase activity
GO:0052841	0.000036	10.225788	6.809039	inositol bisdiphosphate tetrakisphosphate diphosphatase activity
GO:0044606	0.000036	10.225788	6.815092	phosphocholine hydrolase activity
GO:0043763	0.000036	10.225788	6.903245	UTP:glucose-1-phosphate uridylyltransferase regulator activity
GO:0048270	0.000036	10.225788	6.903245	methionine adenosyltransferase regulator activity
GO:0055103	0.000036	10.225788	6.903245	ligase regulator activity
GO:0060308	0.000036	10.225788	6.903245	GTP cyclohydrolase I regulator activity
GO:0070917	0.000036	10.225788	6.903245	inositol phosphoceramide synthase regulator activity
GO:0016524	0.000036	10.225788	6.927068	latrotoxin receptor activity
GO:0030379	0.000036	10.225788	6.927068	neurotensin receptor activity, non-G protein-coupled
GO:1904067	0.000036	10.225788	6.931472	ascr#2 binding
GO:1904599	0.000036	10.225788	6.931472	advanced glycation end-product binding
GO:1990458	0.000036	10.225788	6.931472	lipooligosaccharide binding
GO:0072510	0.000036	10.225788	6.946976	trivalent inorganic cation transmembrane transporter activity
GO:0008772	0.000036	10.225788	6.975881	[isocitrate dehydrogenase (NADP+)] kinase activity
GO:0062062	0.000036	10.225788	7.102088	oligosaccharyltransferase complex binding
GO:0062063	0.000036	10.225788	7.102088	BBSome binding
GO:0062066	0.000036	10.225788	7.102088	PSII associated light-harvesting complex II binding
GO:0062067	0.000036	10.225788	7.102088	chloroplast photosystem I binding
GO:0062068	0.000036	10.225788	7.102088	chloroplast photosystem II binding
GO:0062069	0.000036	10.225788	7.102088	GARP complex binding
GO:0062070	0.000036	10.225788	7.102088	SAGA complex binding
GO:0106138	0.000036	10.225788	7.102088	Sec61 translocon complex binding
GO:0140164	0.000036	10.225788	7.102088	Golgi transport complex binding
GO:0140259	0.000036	10.225788	7.102088	PRC1 complex binding
GO:0140260	0.000036	10.225788	7.102088	mitochondrial proton-transporting ATP synthase complex binding
GO:0140262	0.000036	10.225788	7.102088	mRNA cap binding complex binding
GO:1904854	0.000036	10.225788	7.102088	proteasome core complex binding
GO:0030377	0.000036	10.225788	7.175490	urokinase plasminogen activator receptor activity
GO:0038198	0.000036	10.225788	7.175490	auxin receptor activity
GO:0038199	0.000036	10.225788	7.175490	ethylene receptor activity
GO:0050785	0.000036	10.225788	7.175490	advanced glycation end-product receptor activity
GO:0062124	0.000036	10.225788	7.175490	4-hydroxybutyrate receptor activity
GO:0008974	0.000036	10.225788	7.190299	phosphoribulokinase activity
GO:0009024	0.000036	10.225788	7.190299	tagatose-6-phosphate kinase activity
GO:0019140	0.000036	10.225788	7.190299	inositol 3-kinase activity
GO:0019165	0.000036	10.225788	7.190299	thiamine kinase activity
GO:0034071	0.000036	10.225788	7.190299	aminoglycoside phosphotransferase activity
GO:0047330	0.000036	10.225788	7.190299	polyphosphate-glucose phosphotransferase activity
GO:0047878	0.000036	10.225788	7.190299	erythritol kinase activity
GO:0047912	0.000036	10.225788	7.190299	galacturonokinase activity
GO:0047931	0.000036	10.225788	7.190299	glucosamine kinase activity
GO:0047933	0.000036	10.225788	7.190299	glucose-1,6-bisphosphate synthase activity
GO:0050225	0.000036	10.225788	7.190299	pseudouridine kinase activity
GO:0050317	0.000036	10.225788	7.190299	tagatose kinase activity
GO:0050515	0.000036	10.225788	7.190299	4-(cytidine 5'-diphospho)-2-C-methyl-D-erythritol kinase activity
GO:0043743	0.000036	10.225788	7.213032	LPPG:FO 2-phospho-L-lactate transferase activity
GO:0043899	0.000036	10.225788	7.213032	phosphoserine:homoserine phosphotransferase activity
GO:0044605	0.000036	10.225788	7.213032	phosphocholine transferase activity
GO:0061594	0.000036	10.225788	7.213032	6-deoxy-6-sulfofructose kinase activity
GO:0030555	0.000036	10.225788	7.221105	RNA modification guide activity
GO:0034583	0.000036	10.225788	7.221105	21U-RNA binding
GO:0062104	0.000036	10.225788	7.221105	pumilio-response element binding
GO:1901691	0.000036	10.225788	7.256297	proton binding
GO:0008849	0.000036	10.225788	7.279664	enterochelin esterase activity
GO:0120108	0.000036	10.225788	7.279664	DNA-3'-diphospho-5'-guanosine diphosphatase
GO:0005115	0.000036	10.225788	7.292677	receptor tyrosine kinase-like orphan receptor binding
GO:0042615	0.000036	10.225788	7.292677	CD154 receptor binding
GO:1990631	0.000036	10.225788	7.292677	ErbB-4 class receptor binding
GO:0071518	0.000036	10.225788	7.316216	autoinducer-2 kinase activity
GO:0030184	0.000036	10.225788	7.358194	nitric oxide transmembrane transporter activity
GO:0071443	0.000036	10.225788	7.410045	tDNA binding
GO:0097690	0.000036	10.225788	7.449498	iron ion transmembrane transporter inhibitor activity
GO:0106260	0.000036	10.225788	7.509883	double-stranded DNA bridging
GO:0001070	0.000036	10.225788	7.523481	RNA-binding transcription regulator activity
GO:0032145	0.000036	10.225788	7.620215	succinate-semialdehyde dehydrogenase binding
GO:0044549	0.000036	10.225788	7.620215	GTP cyclohydrolase binding
GO:0001512	0.000036	10.225788	7.645159	dihydronicotinamide riboside quinone reductase activity
GO:0004836	0.000036	10.225788	7.645159	tyramine-beta hydroxylase activity
GO:0019168	0.000036	10.225788	7.645159	2-octaprenylphenol hydroxylase activity
GO:0042380	0.000036	10.225788	7.645159	hydroxymethylbutenyl pyrophosphate reductase activity
GO:0046422	0.000036	10.225788	7.645159	violaxanthin de-epoxidase activity
GO:0050781	0.000036	10.225788	7.645159	ortho-trichlorophenol reductive dehalogenase activity
GO:0051744	0.000036	10.225788	7.645159	3,8-divinyl protochlorophyllide a 8-vinyl reductase activity
GO:0052614	0.000036	10.225788	7.645159	uracil oxygenase activity
GO:0052693	0.000036	10.225788	7.645159	epoxyqueuosine reductase activity
GO:0010290	0.000036	10.225788	7.656337	chlorophyll catabolite transmembrane transporter activity
GO:0099077	0.000036	10.225788	8.004700	histone-dependent DNA binding
GO:0003832	0.000036	10.225788	8.292423	beta-alanyl-dopamine hydrolase activity
GO:0016826	0.000036	10.225788	8.292423	hydrolase activity, acting on acid sulfur-nitrogen bonds
GO:0031964	0.000036	10.225788	8.292423	beta-alanyl-histamine hydrolase activity
GO:0046508	0.000036	10.225788	8.292423	hydrolase activity, acting on carbon-sulfur bonds
GO:0035274	0.000036	10.225788	8.610319	diphenyl phthalate binding
GO:0035275	0.000036	10.225788	8.610319	dibutyl phthalate binding
GO:0097160	0.000036	10.225788	8.610319	polychlorinated biphenyl binding
GO:1905594	0.000036	10.225788	8.610319	resveratrol binding
GO:0001918	0.000036	10.225788	9.529049	farnesylated protein binding
GO:0031249	0.000036	10.225788	9.529049	denatured protein binding
GO:0042988	0.000036	10.225788	9.529049	X11-like protein binding
GO:0098769	0.000036	10.225788	9.529049	TIMP family protein binding
GO:0106151	0.000036	10.225788	9.529049	CNBH domain intrinsic ligand binding
GO:0035731	0.000036	10.225788	9.789507	dinitrosyl-iron complex binding
GO:0140355	0.000036	10.225788	9.789507	cargo receptor ligand activity
GO:1904483	0.000036	10.225788	9.789507	synthetic cannabinoid binding
GO:1904493	0.000036	10.225788	9.789507	tetrahydrofolyl-poly(glutamate) polymer binding
